[2015-09-25 20:14] chadrolfs commented on #2510
Actually, ^^ this may have nothing to do with duplicating.

New doc
create a shape
cmd/ctrl + a to select all

Result: `Uncaught TypeError: Cannot read property 'get' of undefined`

[2015-09-25 20:15] volfied commented on #2510
@chadrolfs It doesn't. It has to do either with export panel, or the lack of initializing. If you think the actual dupe issue is fixed. Can you close this issue and create a new one for the select all error you're finding?

[2015-09-25 20:16] chadrolfs commented on #2510
roger that!

[2015-09-25 20:16] #2510 closed

[2015-09-25 20:18] chadrolfs opened #2641 "Select All shortcut results in Uncaught TypeError and bad state"
New doc
create a shape
cmd/ctrl + a to select all

Result: Uncaught TypeError: Cannot read property 'get' of undefined

Additional note: if you reset DS and then Select All, it works without error but you are unable to move the Artboard (separate issue?)

[2015-09-25 20:31] chadrolfs opened #2642 "Attempting to edit/open an CC Library asset results in Open dialog"
create a new doc
drag an asset onto canvas (Test - OK to accidentally nuke: Climber)
hit Enter

Result: Open dialog

[2015-09-25 21:37] volfied commented on #2272
@chadrolfs can you confirm the fix?

[2015-09-25 21:38] ktaki commented on #2611
Verified the fix.

[2015-09-25 21:38] #2611 closed

[2015-09-25 21:40] placegraphichere opened #2643 "Ungroup: layers panel does not seemingly update correctly"
It takes some time before the layers panel will update when a large group is ungrouped. The layers do not seem to respond until another click is made, or other UI is interacted with.

Example is using the vermillion PSD and ungrouping one of the large top level groups inside one of the artboards.

[2015-09-25 21:44] iwehrman commented on #2643
I can confirm that the panel isn't updated until you click on something to change the selection state.

[2015-09-25 21:50] ktaki commented on #2600
Entering number less than 5% will result in 5%.
With Cmd+minus, the smallest value is 0.3%
If App window is moved from retina to normal display, 0.3% becomes 0.1%.

In all above situations, standard Ps keeps 0.15% as the minimum. Can we do the same? At least, we should have a consistent minimum zoom value.

[2015-09-25 22:18] ktaki commented on #2121
Is it difficult to add visibility icon next to trash can? People do not want to delete but just want to hide sometimes to see the changes in appearance. @placegraphichere How do you think?

[2015-09-25 22:46] mcilroyc commented on #2570
FBNC to @ktaki

[2015-09-25 23:12] chadrolfs opened #2646 "Reverting a file results in Uncaught TypeError"
Open AdventureCoHomePage_Final.psd (in my drop)
move a layer
File > Revert

Results:
`Action history.revertCurrentDocument failed: TypeError: undefined is not a function`

[2015-09-25 23:43] ktaki commented on #2570
Verified the fix.

[2015-09-25 23:43] #2570 closed

[2015-09-25 23:43] shaoshing opened #2648 "Unable to transform CLSO"
1. import the graphic from http://adobe.ly/1YGnw3g to your library
2. drag the graphic to a canvas
3. try to transform the graphic on the canvas

result: unable to transform the CLSO

This is probably a core bug. I will attach the watson bug link later.

![clso](https://cloud.githubusercontent.com/assets/118264/10114352/56a97c3a-63a4-11e5-9951-d8903a488383.gif)

[2015-09-25 23:45] volfied commented on #2490
Passing to @tiburbage while it's being fixed on Watson side.

[2015-09-25 23:46] volfied commented on #2263
I believe ETA is September 30.

[2015-09-25 23:50] iwehrman opened #2649 "Prioritize document results in no-doc search"
At least when in the no-doc view, results for recent documents should probably be the prioritized highest. Currently, editable libraries graphics trump recent documents:
![image](https://cloud.githubusercontent.com/assets/1075154/10114435/76ab2546-63a5-11e5-8a73-275618cf6a66.png)

[2015-09-25 23:56] chadrolfs opened #2650 "missing dialogs cause policy swap issues"
![screen shot 2015-09-25 at 4 41 56 pm](https://cloud.githubusercontent.com/assets/8442631/10114510/6a423708-63a6-11e5-9e2a-e9d899593326.png)
![screen shot 2015-09-25 at 4 50 18 pm](https://cloud.githubusercontent.com/assets/8442631/10114511/6a429702-63a6-11e5-80e9-a663cc738f68.png)

[2015-09-25 23:57] iwehrman opened #2651 "React warnings about duplicate key props"
`Warning: Each child in an array or iterator should have a unique "key" prop. Check the render method of DropShadowList. See https://fb.me/react-warning-keys for more information.`

To repro, ungroup the last artboard in Vermilion.

[2015-09-25 23:58] iwehrman opened #2652 "Ungroup does not create a history state"
1. Open Vermilion, select the last artboard.
2. Ungroup.
3. Undo.

Result: nothing, because the Undo menu item is disabled.

[2015-09-26 00:04] shaoshing commented on #2648
watson: https://watsonexp.corp.adobe.com/#bug=4064553

[2015-09-26 00:04] volfied commented on #2600
@ktaki After playing with this, even if I allow 0.15, PS actually keeps the zoom value at 0.27%... Despite us passing it a zoom value of 0.15

I think at those zoom levels, document size comes into play, and it's not worth our time to make this as close to PS as possible. If you disagree, please let me know, and I will allow 0.15 to be a valid input. Window screen density allowing those zoom sizes

[2015-09-26 00:19] volfied commented on #2103
You close your own bug! (if it's fixed)

[2015-09-26 00:22] iwehrman commented on #2568
Fixed by #2644.

[2015-09-26 00:22] #2568 closed

[2015-09-26 00:23] chadrolfs commented on #2004
self-assigning to re-check since more touch stuff has come in from main and cory asked me to.  :)

[2015-09-26 00:23] volfied commented on #2643
@placegraphichere this should be fixed. can you confirm?

[2015-09-26 00:25] iwehrman commented on #2551
Fixed by #2647.

[2015-09-26 00:25] #2551 closed

[2015-09-26 00:35] pineapplespatula opened #2654 "PointerEventPolicy should take a PS standard rect as the input for its area"
It currently expects
     * @param {{x: number, y: number, width: number, height: number}=} area
but it should be
     * @param {{top: number, bottom: number, left: number, right: number}=} area

[2015-09-26 00:50] davealonzo commented on #2547
OK... did some heavy soul searching on this one with the help of Chad, Shaoshing and Ian. With continuing to support editable library assets in mind (e.g. psd, psb), here's the proposal:

**Hover title modifications for Libraries panel**
* For editable asset types, add "Double click graphic to edit" to second line
* For non-editable asset types, add "Not editable in this app" to second line

**Dou

[2015-09-26 00:56] #2505 closed

[2015-09-26 02:38] #2103 closed

[2015-09-26 16:14] mcilroyc commented on #2574
@placegraphichere I did the thing you suggested.  It's in a branch here if you want to check it out.  `mcilroy/mixed-export-message`.
https://github.com/adobe-photoshop/spaces-design/compare/mcilroy/mixed-export-message?expand=1

I guess the next step would be to give the user an indication in the case where there are some common assets AND some non-common assets.  Right now the message will only

[2015-09-26 22:01] iwehrman opened #2656 "Datalist hairline alignment issues"
Here are three instances of expanded `Datalist` components:

1. Blend mode for groups:
![image](https://cloud.githubusercontent.com/assets/1075154/10120054/ff23d486-645e-11e5-8c2d-952a3d72a909.png)
Note that the hairline is not visible when the `Datalist` is expanded. Compared to the next two examples, this should be considered the "correct" implementation of the design.

2. Blend mode for type/ve

[2015-09-27 02:53] iwehrman commented on #2389
Re-assigning to @chadrolfs to create a new Watson bug, assigned to @jsbache, with the following request:

1. Change the behavior of the suppressed dialog on document open from "Update" to "No"
2. Make sure the dialog that is shown when you first select a layer with type that needs to be updated is suppressed with the default value of "OK, go ahead and update it".
3. If one of those doesn't make se

[2015-09-27 02:55] iwehrman commented on #2383
Re-assigning to @chadrolfs to file a Watson bug for this work that @jsbache has planned. The goal of the Watson bug is to make it possible for me to know when this work is done so I can make the necessary changes after @volfied skips town, and to help @jsbache to not forget about it for 16.1.

[2015-09-27 02:58] iwehrman commented on #1674
I'm seeing very nearly 30fps in compiled builds dragging multiple layers around Vermilion, so I hereby declare this "fixed enough."

[2015-09-27 02:58] #1674 closed

[2015-09-27 15:08] iwehrman commented on #1573
I no longer think this is a problem, at least compared to standard PS. (Which is all we're tracking, here.) What do you think, @placegraphichere and @davealonzo? FBNC to @placegraphichere.

[2015-09-27 15:10] iwehrman commented on #1845
1. That tech doc is crazy.
2. I'm not sure how it addresses this issue.

I still think we should disable this zoom shortcut. Why did you revert the change?

[2015-09-27 15:12] iwehrman commented on #1469
Resolved by something or other.

[2015-09-27 15:12] #1469 closed

[2015-09-27 16:39] iwehrman opened #2659 "Active document and export button hidden with too many tabs"
![image](https://cloud.githubusercontent.com/assets/1075154/10123931/99cac14c-64fb-11e5-9680-40d053cd6a7a.png)

At least the header buttons and the active document should, I think, always be visible.

[2015-09-27 16:42] iwehrman commented on #2651
I'm also seeing this:
`Warning: Each child in an array or iterator should have a unique "key" prop. Check the render method of UnsupportedEffectList. See https://fb.me/react-warning-keys for more information.`

[2015-09-27 16:54] iwehrman commented on #2656
The Type datalists have problems too:

1. Type face has a peeking hairline:
![image](https://cloud.githubusercontent.com/assets/1075154/10123990/9ee5314c-64fd-11e5-8650-9e289ec2734a.png)

2. Type weight has all that and a menu alignment problem:
![image](https://cloud.githubusercontent.com/assets/1075154/10123993/ac27f8da-64fd-11e5-9c6f-f2ca81d93ffe.png)

[2015-09-27 18:18] iwehrman commented on #1675
It still seems to take ~700ms to do this in a large document. Perhaps ~450ms of that is spent in `layers.reorder`, so naively it seems like that might still be worth optimizing. It's not _necessarily_ clear though that doing the reordering part of that action optimistically will make a major difference, since we still have to reset bounds, etc.

[2015-09-28 01:13] iwehrman commented on #2643
Kicking over to @chadrolfs to verify.

[2015-09-28 16:24] chadrolfs commented on #2659
Related to #2620

[2015-09-28 17:02] iwehrman commented on #2613
Over to @chadrolfs for verification.

[2015-09-28 17:12] volfied commented on #2641
This happens in DocumentExports.getUniformAssets method. Passing to @mcilroyc

[2015-09-28 17:14] iwehrman commented on #2607
@chadrolfs: I think this was user error due to the fact that I was running CEF with gpu compositing disabled. So, I think the Watson bug can be closed. I'll mark this FBNC so that you can deal with the Watson issue, and then you can close this bug. SORRY.

[2015-09-28 17:45] volfied commented on #2622
This is now fixed.

[2015-09-28 17:45] #2622 closed

[2015-09-28 18:10] volfied commented on #1561
@chadrolfs John's fixes should completely solve this problem. We're not going to make changes on our side as we want different options than what PS is providing.

[2015-09-28 18:20] volfied commented on #2597
Good and bad news, our code is correct and we send a LMD event to Photoshop... so drag code in core is not starting.

[2015-09-28 19:20] #2607 closed

[2015-09-28 19:28] #2646 closed

[2015-09-28 19:30] mcilroyc commented on #2557
ellipsis added by PR.  FBNC to @ktaki

[2015-09-28 20:09] tiburbage commented on #1655
This was a test case issue. Fixed long ago.

[2015-09-28 20:09] #1655 closed

[2015-09-28 20:15] tiburbage commented on #1906
Watson xref: https://watsonexp.corp.adobe.com/#bug=4051877

I think we have demonstrated that Spaces in a more generic context (our interactive test app) is neither sending repeat keydowns nor repeating ClipboardEvent "paste" events. We're seeing a normal KeyboardEvent for 'v' with modifier (Command or Control), and a single ClipboardEvent "paste" event, and only a single instance of the text copi

[2015-09-28 20:26] designedbyscience commented on #2569
This is no longer a problem since the swatch for effects should be the same size as the appearance swatches

[2015-09-28 20:46] chadrolfs opened #2667 "Uncaught error switching tools in Edit Mask mode"
Open GearSale.psd,
select Climber (pixel) layer,
hit m to enter Mask mode,
hit r to select Rect tool,
draw out a rect mask on climber,
click on (+) Effect to add a drop shadow,
hit v to switch to Select tool,
then click on (+) again.

Result: `Uncaught Error: Photoshop returned an error when executing command number: 1 Photoshop code: -128 Photoshop message:`

[2015-09-28 20:48] chadrolfs opened #2668 "UI: need updated layers panel indicator for Mask"
Red instills fear something is wrong.

[2015-09-28 20:52] chadrolfs opened #2669 "Entering and exiting mask mode leaves layer icon indicating it has a mask"
select a layer, hit m to enter mask mode, hit m again to exit it (without adding a mask)
Result: layer is still red

Layer indicator should be cleared when the mask is deleted.

[2015-09-28 20:55] chadrolfs opened #2670 "Use of Enter and Esc is confusing attempting to move/edit an existing layer mask"
(layer with existing mask) hit m to enter mask mode so you can move the mask independent of the image it's masking, with Select tool move the mask, hit Esc to exit mask mode
Result: mask jumps back to where it was previously
Expect: exit mask mode
Workaround: hit Enter instead, then m to exit mask mode (don't hit Enter twice) - this is confusing.

[2015-09-28 20:59] chadrolfs opened #2671 "Adding a mask to an adjustment layer result in missing icon error"
select an adjustment layer and hit m
result: `GET file:///Users/crolfs/playground-repos/spaces-design/src/img/ico-layer-2-mask.svg net::ERR_FILE_NOT_FOUND`

[2015-09-28 21:00] ktaki commented on #2569
Verified the fix.

[2015-09-28 21:00] #2569 closed

[2015-09-28 21:07] ktaki opened #2673 "Check boxes clipped in Export dialog"
Retina display:

<img width="502" alt="screen shot 2015-09-28 at 2 06 23 pm" src="https://cloud.githubusercontent.com/assets/2029597/10148747/33b145bc-65ea-11e5-970d-c6c5348f516d.png">

[2015-09-28 21:07] ktaki commented on #2557
Verified the fix.

[2015-09-28 21:07] #2557 closed

[2015-09-28 21:13] ktaki commented on #2600
So, Ps lies about the minimum zoom value? Fine, case closed.

[2015-09-28 21:13] #2600 closed

[2015-09-28 21:18] volfied commented on #2368
I can repro Ian's error. Looking into this now.

[2015-09-28 21:38] pineapplespatula commented on #2667
We intentionally end the modal tool state when adding a drop shadow. I need to talk to Jesper about why this is causing a cancel event in PS

[2015-09-28 21:40] ktaki opened #2676 "Lost keyboard focus after color picker"
Select rectangle tool, and draw a rectangle.
Click on fill icon and open color picker.
Choose a color and dismiss the color picker by clicking fill icon or hit Esc.
Press v, e, p, t, or i to switch tool. This fails.

Could be another manifestation of #2552 ?

[2015-09-28 21:44] volfied commented on #2368
Well, PS is loading all the expected properties correctly, however, during RecordCommand, we get an error. I've opened a Watson bug.

https://watsonexp.corp.adobe.com/#bug=4065431

[2015-09-28 21:49] ktaki opened #2677 "Uncaught error on exiting vector mask mode"
In vector mask editing mode, press 'm' or Esc to exit the vector mask mode.

Result: Uncaught Error: Photoshop returned an error when executing command number: 1 Photoshop code: -128 Photoshop message:

Jeffrey says:
"This is a known issue, Because PS considers canceling out of a modal state to be an error. Once Design Space can handle its own modal keyboard commands during modal tool states. we c

[2015-09-28 21:57] ktaki opened #2678 "If layer is locked, do not enter vector mask editing mode"
Select locked layer and press 'm' to enter vector mask editing mode.
Layer icon turns red.
Click on rectangle tool and draw a rectangle.

![screen shot 2015-09-28 at 2 56 00 pm](https://cloud.githubusercontent.com/assets/2029597/10149881/400d44c6-65f1-11e5-9b86-7a8621cac6a9.png)

[2015-09-28 22:02] ktaki opened #2679 "Pressing 'm' does not exit vector mask mode"
It must be in editing mode (direct selection tool mode (white arrow cursor), or E, R, P) to exit vector mask mode by pressing 'm'. In vector mask transform mode (black arrow cursor), 'm' does not exit the vector mask mode.

Jeffrey says:
"this is a known issue waiting on a fix to the modal tool keyboard policy work"

[2015-09-28 22:05] volfied commented on #2604
@ktaki can you confirm this, Ian made changes last week related to displayConfigurationChanged events which should have fixed this.

[2015-09-28 22:09] ktaki opened #2681 "Can't use 'a' to enter edit points mode"
This used to work, but it seems broken now. Double-clicking on the layer works.

[2015-09-28 22:12] ktaki opened #2682 "Esc key's function is not consistent"
Press 'm' to enter the vector mask transform mode.
Hit Esc - Enters editing mode
Hit Esc - Enters transform mode
Hit Esc - Enters editing mode
Hit Esc - Exits vector mask mode
The doc title stays blue. <--- Redraw issue?

[2015-09-28 22:19] volfied commented on #2601
I think recent changes in SCU of LayersPanel fixed this. back to @chadrolfs

[2015-09-28 22:21] volfied commented on #2511
Recent SCU changes to LayersPanel fixed this as well!

[2015-09-28 22:21] #2511 closed

[2015-09-28 22:33] ktaki opened #2683 "Opening a file while should ends vector mask mode"
Open a image file. Enter vector mask mode and draw a rectangle. Open another image file. (or close the opened file without saving it and reopen it.) It is still in vector mask mode. Doc title is in blue. Drawing a shape, however, only draw a path. Vector mask is not created.

[2015-09-28 22:34] placegraphichere commented on #2656
these are all set individually for some reason. So time just needs needs to be made to get them into shape.

@davealonzo also mentioned that we could try to hide the underscore when open too. Assigning to myself

[2015-09-28 22:47] placegraphichere commented on #2250
not an issue anymore

[2015-09-28 22:47] #2250 closed

[2015-09-28 22:48] volfied commented on #2515
Layer that's being dragged is not considered in hitTest, and for a brief instant there, we are not yet in modal tool state for dragging. So we get the layer underneath as the top layer ID, and with the mouse move, we update the mouse highlight to be the wrong layer. Which we immediately hide afterwards because we enter modal state.

Fix for this would be to emit an event that would disable highlig

[2015-09-28 23:04] ktaki commented on #2604
This issue is resolved for the scenario written by Tom as long as you do not resize the app window. I will open a separate issue for it.

[2015-09-28 23:04] #2604 closed

[2015-09-28 23:10] ktaki opened #2684 "Guides blue rects are not drawn properly when app window is resized"
The regions for the blue rectangles are not adjusted when app window is resized.
In standard Ps, make the app window small, then switch to DS.
Open a new artboard dox, check blue rect regions appear at each edge of the canvas.
Grab the lower right corner of the app window and drag it to make app windows larger.
Check the four blue rect regions.
RESULT: They are not adjusted to new canvas view. If

[2015-09-28 23:11] #2643 closed

[2015-09-28 23:12] ktaki commented on #2604
New issue #2684 has been added.

[2015-09-28 23:13] ktaki commented on #2684
Tested with the fix for the issue #2604.

[2015-09-28 23:36] chadrolfs commented on #2613
Hmmm, well I'm not totally sure it's fixed.  There are some confusing things.  Watch this:
1st: X/Y of AB is 850, 0.  While dragging, you can hold down Space to reposition and as you do, you get the coords according to what the AB is (850/0) but once you let go and stop drawing the rect, the coords change to -1/0 (which is what you're going for with this fix).  So I guess expected behavior is corr

[2015-09-28 23:40] ktaki commented on #2525
This is as designed. Changing the font will display paragraph box. The initial box shown was transformation bounding box for a missing font. With missing font, you cannot edit the text. Changing the font to a font you have will allow you to edit the paragraph. Therefore, the paragraph box is shown.

[2015-09-28 23:40] #2525 closed

[2015-09-28 23:52] ktaki opened #2686 "Transforming text layer with missing font will display warning dialog continuously"
Open a doc with a missing font. Transform the text layer. It will display the warning dialog for every click. Unable to set the desired transformation.

<img width="420" alt="screen shot 2015-09-28 at 4 49 54 pm" src="https://cloud.githubusercontent.com/assets/2029597/10151883/3146661a-6601-11e5-9f96-d703bcc5ebb7.png">

[2015-09-28 23:54] chadrolfs commented on #2601
Nope, unfortunately not.

[2015-09-28 23:56] ktaki commented on #2686
Setting to low priority. This forces user to get the font or change the font which surely yields better result.

[2015-09-29 00:00] chadrolfs commented on #2621
@designedbyscience should this be assigned to you?

[2015-09-29 00:03] shaoshing commented on #2586
Adding style is disabled for background layer. @placegraphichere please verify.

[2015-09-29 00:04] tiburbage commented on #2599
Just retesting around this today with our staging build on Mac (1607, 09/28).
In standard, if I create a new Artboard, then Place Embedded an image, the placeholder Layer 1 immediately disappears, replaced by the Embedded image layer. If I do the exact same steps in DS, "Layer 1" is still visible (the Artboard appears to have 2 layers). If I attempt to select that layer, the panel refreshes and it

[2015-09-29 00:18] tiburbage opened #2687 "Win: It takes two clicks to select a layer in the Layers panel"
I'm finding that I have to click on a Layer thumbnail twice to select. These clicks can be seconds apart or dblclicks. Only an issue on Windows.

Note there is another issue of a similar nature relating to expanding/collapsing Layer Groups. These are probably related if not the same issue.
https://github.com/adobe-photoshop/spaces-design/issues/1781

[2015-09-29 00:19] iwehrman commented on #2687
I'm fairly sure this is a dupe of #1781, but I guess we'll see!

[2015-09-29 00:29] volfied commented on #2621
@chadrolfs Can you confirm the fix?

[2015-09-29 00:29] volfied commented on #2615
FBNC to @chadrolfs

[2015-09-29 02:31] mcilroyc commented on #1609
@chadrolfs in PR #2657 @iwehrman  mentioned three bugs.  I assigned one (this one) to you.  This was a fairly major change to layer selection (esp. w/ modifiers) and needs a careful eye.

[2015-09-29 03:11] placegraphichere commented on #2656
See #2690

[2015-09-29 05:18] placegraphichere commented on #2608
take a look at #2691

[2015-09-29 06:51] placegraphichere commented on #2574
see #2692

[2015-09-29 06:58] placegraphichere commented on #2586
fixed

[2015-09-29 06:58] #2586 closed

[2015-09-29 07:10] placegraphichere commented on #2585
see #2693

[2015-09-29 07:12] placegraphichere commented on #2504
fixed

[2015-09-29 07:12] #2504 closed

[2015-09-29 07:13] placegraphichere commented on #2468
see #2693

[2015-09-29 07:16] placegraphichere commented on #1573
we seem to match standard now. will mark as fixed

[2015-09-29 07:16] #1573 closed

[2015-09-29 14:37] iwehrman opened #2694 "Actions that don't require PS locks should be modal safe by default"
Currently if you don't set `modal: true` in your action, it will commit a modal tool state before executing. This is because not all PS commands can be played in modal tool states, but we're not exactly sure of which ones are problematic. We could improve the default behavior somewhat by allowing actions that do not acquire any of the `PS_` locks to execute without regard to the modal state.

[2015-09-29 15:06] designedbyscience commented on #2564
Okay, I am attaching a little test file here, to demonstrate general findings:

1) At any color with alpha < 1, those little white corners appear, if the background is a light color
2) For opaque colors, we can prevent that by removing the z-index from the inner element.

Below file is actually HTML, but Github doesn't let me upload those.
[border-radius-rendering-issue.txt](https://github.com/ado

[2015-09-29 16:04] #2621 closed

[2015-09-29 16:08] chadrolfs commented on #2687
definitely a dupe but not specific to Win.  It is harder to repro on mac but happens on both OSes

[2015-09-29 16:08] #2687 closed

[2015-09-29 16:08] mcilroyc commented on #2597
FBNC to @chadrolfs

[2015-09-29 16:53] ktaki opened #2696 "Rapid creation of new docs will result in error"
Repeat Cmd+n quickly four or five times.

RESULT: Action documents.createNew failed: Error: Can not find document undefined to addDefaultAsset

This is a fatal error and DS needs to be reset to recover. This is new issue. Could this be related to PR #2663?

![screen shot 2015-09-29 at 9 46 46 am](https://cloud.githubusercontent.com/assets/2029597/10171562/9f66cb24-668f-11e5-970e-bdb9a87079d7.png)

[2015-09-29 16:57] mcilroyc commented on #2696
I'll take this one

[2015-09-29 17:27] mcilroyc commented on #2574
@ktaki as of the above-referenced PR, we now display a more nuanced message in the situation you described.

[2015-09-29 18:15] chadrolfs opened #2699 "Sampling stroke fails across artboard multi-layered doc"
https://photoshop.slack.com/files/zorana/F0BGMNP1R/sampling.mp4

you can use explore-mt-hood.psd to repro (in my transfer folder on sjshare/photoshop).

Open psd from my transfer
(Select tool) select Activities rect in INDEX AB (Rounded Rectangle 1)
apply a stroke (change size and color)
apply an inner shadow
select Activities rect in Mt. Hood AB (also named Rounded Rectangle 1)
hit i for Sampler

[2015-09-29 18:16] chadrolfs commented on #2699
![screen shot 2015-09-29 at 11 16 34 am](https://cloud.githubusercontent.com/assets/8442631/10173875/7ed7e134-669b-11e5-9f40-f9b412308e47.png)

[2015-09-29 18:16] iwehrman commented on #2684
FBNC to @ktaki.

[2015-09-29 18:22] volfied commented on #2699
Please re-assign after steps are added.

[2015-09-29 18:22] chadrolfs opened #2700 "Unable to edit type in initial modal state"
new doc
t for type
click on canvas and start typing

Result: no options in Appearance panel, can't change color, font, etc

[2015-09-29 18:32] volfied commented on #2699
I don't know what's happened, but none of these shape layers have their `AGMStrokeStyleInfo` fields available to us.

This is not an initialization issue, PS is not initializing these shapes completely.

[2015-09-29 18:39] volfied opened #2701 "Arrow keys don't work during search dialog"
They nudge the selected layer instead.

[2015-09-29 18:44] volfied commented on #2699
https://watsonexp.corp.adobe.com/#bug=4066169

[2015-09-29 19:03] zoranagee opened #2702 "Dragging SVG seems broken"
File New
From libraries, drag an SVG to document
Nothing happens

[2015-09-29 19:05] iwehrman commented on #2696
@mcilroyc: see the `lockUI` flag on some actions. In theory, we should use this to prevent menu actions while we're in the middle of sensitive actions.

[2015-09-29 19:10] zoranagee opened #2703 "File New: Artboard chrome looks too dark upon creation (File>New)"
Expected:
<img width="242" alt="screen shot 2015-09-29 at 12 04 18 pm" src="https://cloud.githubusercontent.com/assets/7904855/10175328/1636626a-66a3-11e5-8431-a121e4e402ab.png">

Result:
<img width="233" alt="screen shot 2015-09-29 at 12 04 10 pm" src="https://cloud.githubusercontent.com/assets/7904855/10175329/163be366-66a3-11e5-965c-1b23879cf1d6.png">

[2015-09-29 19:24] zoranagee commented on #2703
Font looks weird too (different)

[2015-09-29 19:31] iwehrman commented on #2703
Your "result" above is what it looks like in standard PS mainline. So, I believe that is as designed. I think your second comment is a dupe of #2479. Please re-open if you disagree!

[2015-09-29 19:33] zoranagee commented on #2703
Whatever we do, we should be consistent. We're not. With File New we get dark chrome, when you click and move the AB, it changes to the lighter chrome.

[2015-09-29 19:36] zoranagee commented on #2702
I'll also note that after doing this, my add AB buttons don't show and I can't get them to show without relaunching the app.

[2015-09-29 19:46] iwehrman commented on #2703
Your two pictures above look like what standard PS looks like in my build when a) there are no layers inside the artboard selected, and b) there are layers inside the artboard selected. Are you sure your selection is exactly the same in both cases?

[2015-09-29 19:48] iwehrman commented on #2703
![img](https://s3.amazonaws.com/f.cl.ly/items/0W1p3m0p2N2u2d0m2f1t/Screen%20Recording%202015-09-29%20at%2012.47%20PM.gif)

[2015-09-29 19:48] placegraphichere commented on #2703
You may be encountering a focus state. Whether or not you are "within" the artboard will determine the way Ps will draw the artboard. @iwehrman's example is probably it.

Also, there are now settings in Ps for artboard borders:
- Line
- Drop Shadow
- None

This may account for some of the discrepancy.

[2015-09-29 19:54] zoranagee commented on #2703
You're right - core does the same thing. I'll take it up with them. :)

[2015-09-29 19:54] #2703 closed

[2015-09-29 20:02] chadrolfs commented on #2702
I think this was fixed.  CNR with current resources.

[2015-09-29 20:11] volfied opened #2705 "Revert shortcut does not show correctly on Mac"
Should show F12 icon, but see ellipsis instead.

[2015-09-29 20:28] volfied commented on #2196
@iwehrman please close once you merge the rem PR.

[2015-09-29 20:32] volfied commented on #1906
Problem: On Windows, <input> element handles the ctrl+v paste event, and PS is also sending us a second paste command, which turns into edit.paste action, which we use to synthesize a window.paste event. Hence the double paste.

Former event does not happen in Mac, cmd+v does not get handled by the <input> and we get only one paste event from plugin which turns into edit.paste action.

[2015-09-29 20:49] volfied commented on #2316
I think the problem causing this was the fact that OS.externalMouseMove events were sending us wrong coordinates after using menu items (or focusing back through dev tools like Ian does).

This is the externalMouseMove locations we get after clicking the menu item:
[code]

[2015-09-29 21:11] shaoshing commented on #2564
@chadrolfs can you verify this?

[2015-09-29 21:14] #2641 closed

[2015-09-29 21:20] chadrolfs opened #2706 "Creating a bunch of new docs results in createNew failed"
cmd/ctrl + n (repeat n-times)
Result: `Action documents.createNew failed: Error: Can not find document undefined to addDefaultAsset`

![screen shot 2015-09-29 at 2 20 16 pm](https://cloud.githubusercontent.com/assets/8442631/10178520/2c8c1bf6-66b5-11e5-82f7-81a9d6f511b3.png)

[2015-09-29 21:22] #2706 closed

[2015-09-29 21:25] #2620 closed

[2015-09-29 21:28] ktaki commented on #2585
Verified the fix.

[2015-09-29 21:28] #2585 closed

[2015-09-29 21:29] ktaki commented on #2468
Verified the fix.

[2015-09-29 21:29] #2468 closed

[2015-09-29 21:29] chadrolfs opened #2707 "Unable to select/scroll doc titles to the left"
ctrl + n repeatedly so that doc titles expand beyond bounds.
mouse over left most doc title to scroll or select

Result: unable to get back to Untitled-1

[2015-09-29 21:29] chadrolfs commented on #2707
related to #2620

[2015-09-29 21:31] #2615 closed

[2015-09-29 21:34] placegraphichere opened #2708 "Appearance panel blendmodes shift position when selecting AB then layer"
Example:
http://cl.ly/3v2Y2w2p1p2d

[2015-09-29 21:35] volfied commented on #2700
Our `get` batchPlay calls don't return to us form Photoshop while in modal tool state. Emailed Jesper.

[2015-09-29 21:35] designedbyscience commented on #2708
Empty color swatch needs to be sized the same as normal one

[2015-09-29 21:35] ktaki commented on #2574
Now it displays "Selection has mixed exports"

[2015-09-29 21:35] #2574 closed

[2015-09-29 21:36] chadrolfs commented on #1613
Looks like we have a regression here.  Ran into this duplicating Artboards

[2015-09-29 21:37] chadrolfs commented on #1613
![screen shot 2015-09-29 at 2 37 11 pm](https://cloud.githubusercontent.com/assets/8442631/10178923/935bcca8-66b7-11e5-9e72-26b1a13f9098.png)

[2015-09-29 21:39] chadrolfs commented on #2597
verified fix but also verified regression of #1613

[2015-09-29 21:39] #2597 closed

[2015-09-29 21:45] chadrolfs commented on #2564
Aaaalmost.  Looks great on non-retina.  On retina, top left corner still...
http://cl.ly/image/1r1f3z3E0i1P

[2015-09-29 21:46] iwehrman commented on #2601
FBNC to @chadrolfs.

[2015-09-29 21:47] designedbyscience opened #2710 "Color swatch for Vector Fill clipped on Retina"
<img width="298" alt="untitled-28___100___rectangle_1__rgb_8____" src="https://cloud.githubusercontent.com/assets/22372/10179146/20137c9e-66d2-11e5-94bb-508976a3111f.png">

[2015-09-29 21:49] designedbyscience opened #2711 "Filename bleeding past left edge on Retina"
<img width="273" alt="untitled-28___100___layer_1__rgb_8__" src="https://cloud.githubusercontent.com/assets/22372/10179185/5eb54fe0-66d2-11e5-9073-cdb2aa50e319.png">

[2015-09-29 21:52] chadrolfs opened #2712 "Creating a new document after simple actions in previous doc result in Invalid Number error"
new doc
drag out rect shapes; one shape inside the AB and one outside
select the layer outside and delete
cmd/ctrl + n

Result: `Action documents.createNew failed: SyntaxError: Invalid number`

[2015-09-29 21:52] chadrolfs commented on #2712
![screen shot 2015-09-29 at 2 52 47 pm](https://cloud.githubusercontent.com/assets/8442631/10179272/bda4b680-66b9-11e5-8eab-36389f1f8d55.png)

[2015-09-29 22:00] ktaki commented on #2684
Verified the fix.

[2015-09-29 22:00] #2684 closed

[2015-09-29 22:01] volfied commented on #2700
Likely related to the new CEF build in dev.

[2015-09-29 22:11] chadrolfs opened #2713 "Artboard coordinates are incorrect after deleting a layer"
new doc
draw rect shapes; one shape inside the AB and one outside
with Select tool delete the second layer drawn outside the AB

Result: AB is now selected but coordinates are off

https://www.dropbox.com/s/160dh280hb9lh1n/AB-badCoord-afterDelete.mov?dl=0

[2015-09-29 22:11] chadrolfs commented on #2713
![screen shot 2015-09-29 at 3 12 19 pm](https://cloud.githubusercontent.com/assets/8442631/10179678/6ac6ee8a-66bc-11e5-85cb-15c9d51dfb50.png)

[2015-09-29 22:12] chadrolfs commented on #2713
found confirming fix of #2601

[2015-09-29 22:12] #2601 closed

[2015-09-29 22:14] chadrolfs commented on #2513
confirmed fix with jenkins pg-dev 684 and latest master

[2015-09-29 22:15] chadrolfs commented on #2545
Waiting on #2562 to be fixed in order to verify this.

[2015-09-29 22:17] #2488 closed

[2015-09-29 22:21] chadrolfs commented on #2389
https://watsonexp.corp.adobe.com/#bug=4066260

[2015-09-29 22:24] chadrolfs commented on #2383
https://watsonexp.corp.adobe.com/#bug=4066264

[2015-09-29 22:45] isonno commented on #2699
This is as designed.

Layers created without strokes (or more specifically, without the stroke machinery activated) do not have `AGMStrokeStyleInfo` attributes.  The fill color is buried in the Layer's `adjustment` attribute, and the `fillEnabled` attribute is set to `null` (vs. set to `false` if `AGMStrokeStyleInfo` is present and there is no fill specified).

We could explore some way to force t

[2015-09-29 22:51] zoranagee opened #2714 "Panning AB results in brief flash of the add AB icons"
Panning quickly to the left:

<img width="867" alt="screen shot 2015-09-29 at 3 50 24 pm" src="https://cloud.githubusercontent.com/assets/7904855/10180419/dc3a5d86-66c1-11e5-82e5-1700a0047b86.png">

<img width="789" alt="screen shot 2015-09-29 at 3 50 34 pm" src="https://cloud.githubusercontent.com/assets/7904855/10180420/dc3c864c-66c1-11e5-95e9-d8a2e06573a0.png">

<img width="706" alt="screen sho

[2015-09-29 22:53] mcilroyc opened #2715 "Close document throws error if the "next" document has not been initialized"
one way to repro:
- create two documents (cmd+n, 2x)
- reset design space
- close the active document
- see exception

Assigning to myself, fix in progress.

[2015-09-29 23:00] zoranagee opened #2716 "Strange highlighting not wrt to where cursor is"
I'm not sure this is the same issue that Chad saw with coordinates but he said to log it. Check out this video and where my cursor is relative to what is getting highlight. Not consistently wrong, just in the beginning I have cursor in the middle of the AB and the top group of text is selected. Then I move my cursor and select the image on the 3rd AB and the bottom icons are highlight (blue outlin

[2015-09-29 23:03] volfied commented on #2699
John is right, fix incoming.

[2015-09-29 23:14] zoranagee commented on #2702
Not fixed - I still see this problem.

[2015-09-29 23:23] ktaki commented on #2552
Currently closing Color Picker in any way commits text editing. This needs to be fixed. I want to continue typing after changing color.

[2015-09-29 23:24] tiburbage commented on #2699
OK, accepting AsDesigned for Watson bug and closing.

[2015-09-29 23:33] shaoshing commented on #2712
I will look at this one while working on #2559. They are probably related.

[2015-09-29 23:34] zoranagee opened #2719 "Drag image from libraries freezes the app"
File New
Drag an image from libraries
Application freezes

NOte: I am using jenkins playgroundev build 697 with the JS bits that Chad sent (so what's labeled as sprint 32?)

[2015-09-29 23:51] iwehrman opened #2720 "Artboard bounds and title flash when changing selection"
http://cloud.wehrman.org/160D1f2q0L3d

The movie shows the selection changing with the on-canvas targeting, but it happens even when the selection is changed via the layers panel.

[2015-09-29 23:52] iwehrman commented on #2720
Would you mind filing a Watson issue for this, @chadrolfs?

[2015-09-29 23:53] iwehrman commented on #2720
(And also verify?)

[2015-09-29 23:55] tiburbage commented on #2259
@volfied JP's fix enabled getting and setting the visibility state of slices. If the desire is for them to be suppressed/restored as e.g. rulers are when entering/exiting DS by the adapter, I think that should be logged as a separate request.

[2015-09-29 23:55] iwehrman commented on #2715
For posterity: caused by #2660.

[2015-09-30 00:00] iwehrman commented on #2336
Surely this is fixed now, @placegraphichere?

[2015-09-30 00:35] volfied commented on #2713
In case I can't fix this before I leave, here is the problem:

With removeLayer transferring to `initializeLayers` for the selected layers. I get the updated bounds of the artboard. And then I get a autoCanvasResizeShift event, and I translate all the bounds by that amount, where the artboard's bounds were already up to date, and didn't need translating.

[2015-09-30 00:46] volfied commented on #2515
I'm going to leave this one untouched as it's a cosmetic bug and the change I suggested above is too risky.

[2015-09-30 00:56] chadrolfs commented on #2004
Confirmed, layers panel does not update on undo/redo surface gestures (2- or 3- finger).

[2015-09-30 01:09] chadrolfs commented on #2720
https://watsonexp.corp.adobe.com/#bug=4066316

Although, I CNR

[2015-09-30 01:12] #2272 closed

[2015-09-30 01:56] chadrolfs commented on #1609
Yeah, much better, I'm seeing between 100-200ms on retina.

[2015-09-30 01:56] #1609 closed

[2015-09-30 02:11] chadrolfs commented on #2259
https://watsonexp.corp.adobe.com/#bug=4066326

[2015-09-30 02:13] chadrolfs commented on #2719
Depending on what you drag, it may freeze.  See #2562

[2015-09-30 15:07] iwehrman commented on #2656
Fixed by #2690.

[2015-09-30 15:07] #2656 closed

[2015-09-30 15:37] chadrolfs commented on #1561
YEEEEEES!

[2015-09-30 15:37] #1561 closed

[2015-09-30 15:52] chadrolfs commented on #2719
just repro'd this.

[2015-09-30 15:55] chadrolfs opened #2722 "Transform handles flash at the beginning of drag"
draw several rect shapes
click-drag one, then another

Result: transform handles flash at the beginning of the drag

Expect: transform handles to show on mouse up

[2015-09-30 15:56] chadrolfs commented on #2719
gets stuck on place

[2015-09-30 16:18] ktaki commented on #2560
A bit of confused moment.

<img width="273" alt="screen shot 2015-09-30 at 9 15 55 am" src="https://cloud.githubusercontent.com/assets/2029597/10199117/1f3a6c92-6754-11e5-87e9-e6c65ec087c7.png">

[2015-09-30 16:56] chadrolfs commented on #2719
only way I've found out of it is to right-click on app icon in OS dock > Quit and then you get a prompt to Place, then you can click Cancel on the prompt to save to continue working.

[2015-09-30 16:57] chadrolfs commented on #2702
#2719

[2015-09-30 16:57] #2702 closed

[2015-09-30 18:35] ktaki opened #2725 "Numeric fields in the panels do not accept keyboard input"
Windows only. Current pg-dev and master. All panels affected.

[2015-09-30 18:36] chadrolfs commented on #2547
Yes!  Sounds great.

[2015-09-30 19:10] tiburbage opened #2726 "The "dialog" frame around the Text Color color picker isn't sized correctly vertically"
The controls draw partly outside the frame. Mac and Win, using master at a2aca91.

1 - With the Text Tool active, mousedown on the document
2 - Click on the Text Color swatch

[2015-09-30 19:11] volfied commented on #2700
Fixed with pgdv.mac.703 or later

[2015-09-30 19:14] mcilroyc commented on #2712
@shaoshing - depending on what else you have going on - this issue might be related to things I've been working with recently... LMK if you want to reassign.

[2015-09-30 19:18] tiburbage commented on #2725
Note this isn't generically true in my testing, but it is very easy to get into a state where you don't seem to be able to set and have an input keep focus. I was just able to create a rectangle, then adjust its Radius using the arrow/shift-arrow keys. However, I then switched to the Select Tool and then was unable to set focus to that Radius input again.

[2015-09-30 19:26] chadrolfs commented on #2559
CNR with current sources

[2015-09-30 19:26] #2559 closed

[2015-09-30 19:27] pineapplespatula commented on #2677
should be fixed by my jecohen/2669 PR

[2015-09-30 20:16] placegraphichere commented on #2670
Escape should not cancel the edit. Similar to text editing, ESC should exit the mode applying the changes. The edits are maintained. The same should be followed here with masks. Gonna plop this on someone else...

[2015-09-30 20:16] volfied commented on #2725
Just got off the phone with Jesper and Fitz, this is a core issue. They're working on it.

As soon as we call OS.acquireKeyboardFocus, we get 4 `keyboardFocusChanged` events where isActive alternates `true`,`false`,`true`,`false`, they're trying to figure out why.

[2015-09-30 20:22] mcilroyc commented on #1613
When duplicating a pair of artboards, *sometimes* I can repro this error.  My hunch is that it occurs when we get a "moveToArtboard" event before the "move" event.  It can't reliably get it to happen.  Any parting thoughts on this @volfied since you have some recent familiarity here, I think.

[2015-09-30 20:24] chadrolfs commented on #2700
Options are now there but you can't edit them on Win ( #2725 )

[2015-09-30 20:34] chadrolfs commented on #2725
https://watsonexp.corp.adobe.com/#bug=4067068

[2015-09-30 20:45] chadrolfs commented on #2670
you heard the man.

[2015-09-30 20:48] ktaki opened #2729 "Limit maximum number of effect instances to be 10 per effect"
Otherwise, Ps may crash. The menu item in '+' flyout should be dimmed when the max number has been reached.

[2015-09-30 20:51] pineapplespatula commented on #2670
This is tied up in the keyboard policy changes that jesper just allowed us to make, so i should be able to finally make some progress on this

[2015-09-30 21:16] ktaki opened #2730 "Single column mode on/off causes error"
Toggle single column mode on/off from Window menu.
![screen shot 2015-09-30 at 2 14 32 pm](https://cloud.githubusercontent.com/assets/2029597/10206802/ac35947c-677d-11e5-8925-40eb9cb14968.png)

[2015-09-30 21:17] chadrolfs opened #2731 "Guide drop zones are incorrect with Single Column Mode"

[2015-09-30 21:17] chadrolfs commented on #2731
<img width="1440" alt="screen shot 2015-09-30 at 2 16 28 pm" src="https://cloud.githubusercontent.com/assets/8442631/10206859/022020d2-677e-11e5-9cc5-97919f909918.png">

[2015-09-30 21:18] chadrolfs commented on #2731
re-assign to @volfied if needed. You have less than half a day.  :stuck_out_tongue_winking_eye:

[2015-09-30 21:42] ktaki commented on #2730
Verified the fix. Works great now.

[2015-09-30 21:42] #2730 closed

[2015-09-30 21:45] designedbyscience commented on #2731
This is a cloaking issue, I believe

[2015-09-30 21:51] ktaki opened #2734 "Layers header is squashed in single column mode"
<img width="256" alt="screen shot 2015-09-30 at 2 48 00 pm" src="https://cloud.githubusercontent.com/assets/2029597/10207654/949b1c74-6782-11e5-8f15-c4f2160fffd8.png">

[2015-09-30 21:59] chadrolfs commented on #2734
Repro: load this library - http://adobe.ly/1KBVjAb
create a rect and apply asset: effects - a lot
collapse panels: Libraries, Export, Layers

[2015-09-30 22:02] ktaki commented on #2734
Thanks Chad. Or just make the height short enough.

<img width="263" alt="screen shot 2015-09-30 at 3 01 25 pm" src="https://cloud.githubusercontent.com/assets/2029597/10207907/3d48f25a-6784-11e5-8236-9e892e3b737f.png">

[2015-09-30 22:02] tiburbage opened #2735 "Can't marquee select multiple layers on the canvas"
If I have multiple shapes defined, and drag out a marquee over them on canvas with the Select Tool, nothing happens. Based on "pre-selection edge highlighting", they appear as if they will be selected, but then no selection occurs. I can marquee select them individually. Testing with pgdev.1615 w/ DS master 8142f96 (Mac or Win)

1 - Create a document with at least 2 shapes (say non-overlapping)
2

[2015-09-30 22:03] shaoshing commented on #2715
@chadrolfs can you verify?

[2015-09-30 22:25] mcilroyc commented on #2735
can you re-check with latest github master now @tiburbage ?

[2015-09-30 22:36] chadrolfs commented on #2715
Now if I create 3 docs, reset DS and then close them.  On the last one, console spews:
`Action documents.close failed: Error: Next selected document ID should be null iff there are no open documents`

![screen shot 2015-09-30 at 3 36 28 pm](https://cloud.githubusercontent.com/assets/8442631/10208563/077cd0f6-6789-11e5-8dc4-a42a18fde2ee.png)

[2015-09-30 22:42] ktaki opened #2737 "Cannot open Export dialog"
Cmd+e or clicking export button at doc bar will produce warning and no dialog is opened. No errors reported. After this, menus all dimmed just like modal dialog is open somewhere. Quick export works.

![screen shot 2015-09-30 at 3 39 23 pm](https://cloud.githubusercontent.com/assets/2029597/10208628/7ee6e4ec-6789-11e5-9f7c-9b9257649691.png)

[2015-09-30 22:51] tiburbage commented on #2735
@mcilroyc  Looks good on Mac and Win at 024d8ef. Should I just close and remove the "Fixed but not closed" label, or remove all the labels?

[2015-09-30 23:01] mcilroyc commented on #2735
closing it is sufficient, labels can stay put

[2015-09-30 23:04] #2735 closed

[2015-09-30 23:05] shaoshing commented on #2719
this will need Jenkin build (>= 703) to fully work, @chadrolfs

[2015-09-30 23:13] mcilroyc commented on #2737
first bad commit
ceee37ead61a5ef21a499e663a2f3be12ca29203
@designedbyscience :fork_and_knife:

[2015-09-30 23:15] volfied commented on #2725
Fixed with pgdv.694 on Win. Please confirm.

[2015-09-30 23:17] shaoshing commented on #2715
Cory just fixed this, @chadrolfs please verify again.

[2015-09-30 23:29] ktaki commented on #2725
It works now.

[2015-09-30 23:29] #2725 closed

[2015-09-30 23:33] shaoshing commented on #2712
Cory and I are both unable to reproduce this issue. @chadrolfs could you try to reproduce?

[2015-10-01 00:08] chadrolfs commented on #2562
This looks fixed as well

[2015-10-01 00:08] mcilroyc commented on #2737
Assigning to eric.  per slack our slack convo, we're exploring ways to provide static dialog IDs when necessary, but also not throw collision errors.

[2015-10-01 00:17] ktaki opened #2740 "Hitting enter key twice to commit values in the fields in panels"
- This might be a dupe or well known issue, but my poor search could not find it.
It requires two enter keys to commit the changes for the most of the fields in the Properties, Appearance, Effects, and Export panels including data lists. Editing a value and hitting a return key makes the new value selected and highlighted in blue, but the focus is still there. Continuing typing overwrites the valu

[2015-10-01 00:17] mcilroyc commented on #2737
This has been addressed by #2739

[2015-10-01 00:21] mcilroyc opened #2741 "Remove unique ID from Datalist - avoid the collisions some other way"
Sometimes we get errors/warnings when two dialogs are unmounted and then remounted with the same ID.  One fix was to add a unique ID to the ID (it exists in the Datalist component), but that seems like a hack to me.  How can we avoid the mount-dance, or otherwise be safe?

[2015-10-01 00:24] #2719 closed

[2015-10-01 00:27] ktaki commented on #2737
Verified the fix.

[2015-10-01 00:27] #2737 closed

[2015-10-01 00:27] #2715 closed

[2015-10-01 00:30] #2700 closed

[2015-10-01 00:41] #2712 closed

[2015-10-01 00:55] tiburbage commented on #1915
This was part of our recent CEF related optimization work.
I've verified in staging builds very close to our integrate-to-main point, and with spaces-design master at abea5cb, that we have accomplished significant improvements in this area. The improvement is most noticeable when no docs are open, and on 1x vs 2x. When documents are open, we get caught up by Photoshop's own event handling which sl

[2015-10-01 00:55] #1915 closed

[2015-10-01 16:15] ktaki opened #2742 "Intro: Contact: Links for Gtihub and Forum have been reversed"
Clicking Github opens forum, and clicking Forum opens GitHub.
Also, "Github" should be "GitHub".

[2015-10-01 16:39] chadrolfs commented on #2562
Closing this since it's fixed as written and writing up separate issue for assets that are empty or missing.

[2015-10-01 16:39] #2562 closed

[2015-10-01 16:42] chadrolfs opened #2743 "CC Lib: dragging in empty or missing asset doesn't place and leaves app in bad state"
create a new doc
load library that contains an empty or missing asset (e.g. Test - OK to accidentally nuke)
drag missing or empty graphic onto canvas (e.g. I am 3D)

Icon indicates it's empty or missing:  <img width="51" alt="screen shot 2015-09-30 at 5 13 35 pm" src="https://cloud.githubusercontent.com/assets/8442631/10227136/818071f4-6820-11e5-82be-7bc95fdc3078.png">

Result: it doesn't place an

[2015-10-01 17:44] #2659 closed

[2015-10-01 17:46] iwehrman commented on #2673
I see this on MBP 15" default res:
![image](https://cloud.githubusercontent.com/assets/1075154/10228818/ad707f80-6829-11e5-835b-12cb50774ba1.png)

[2015-10-01 17:50] chadrolfs commented on #2676
Currently as designed.  First Esc closes color picker but leaves swatch in focus, 2nd Esc will release focus.

[2015-10-01 17:57] #2705 closed

[2015-10-01 17:58] chadrolfs commented on #2708
better but still slightly there.  might be good enough?

[2015-10-01 17:59] iwehrman opened #2744 "Color swatches missing one border radius"
![image](https://cloud.githubusercontent.com/assets/1075154/10229140/6eae74f8-682b-11e5-8144-f6b0f1310faa.png)

[2015-10-01 17:59] iwehrman commented on #2744
Dupe of #2710.

[2015-10-01 17:59] #2744 closed

[2015-10-01 18:03] chadrolfs commented on #2716
will regress and reprioritize accordingly

[2015-10-01 18:11] chadrolfs commented on #2740
as designed

[2015-10-01 18:19] chadrolfs commented on #2729
Core needs to know.  Please file a watson bug saying don't let people do with an action descriptor and assign to Jesper or JP.

[2015-10-01 18:36] chadrolfs commented on #2555
only workaround is using arrow keys.

[2015-10-01 18:59] chadrolfs commented on #2630
this is in now.  re-assign as needed to seth or eric.

[2015-10-01 19:20] iwehrman commented on #2196
Leaving this open because it isn't aware of `displayConfigurationChanged` events. Self-assigning.

[2015-10-01 19:54] chadrolfs commented on #2696
https://watsonexp.corp.adobe.com/#bug=4067884

[2015-10-01 19:58] chadrolfs opened #2746 "Use of Standard vs Classic Photoshop should be consistent"
Tooltip for app icon to switch says "Return to Standard Photoshop"
Intro refers to "Classic Photoshop"

[2015-10-01 21:13] #2434 closed

[2015-10-01 21:22] tiburbage commented on #1749
I can't reproduce this anymore. It was an early problem.

[2015-10-01 21:22] #1749 closed

[2015-10-01 21:32] chadrolfs commented on #2075
@iwehrman please mark to M3 if it is so.

[2015-10-01 22:09] ktaki opened #2749 "Intro: Next page and prev page navigation"
Currently, clicking right side of the window goes to the next page and clicking left side goes back to the previous page. This creates a problem if user clicks slightly left side of Continue button located at the center of the window and clicking again without moving a mouse on the next page. It goes back to previous screen.

Proposal: Since most of the time user wants to go forward, it might be m

[2015-10-01 22:54] ktaki opened #2751 "CCLib auto vacuum feature"
When a doc is opened, "Add to Library" dialog opens. If user clicks "Create New Library", it will creates new library with all or selected assets extracted from the file. In standard Ps, the file is opened and new library is selected and shown in libraries panel. In DS, the file is opened and new library is created, but the library is not shown in libraries panel.

Also, the dialog has Don't Show

[2015-10-01 23:56] ktaki commented on #2417
Here is how currently works. With color picker opened:
Mac: Esc: Color picker closes, Esc: Focus back to canvas, Esc: Commits Text
Win: Esc: Color picker closes, Focus back to canvas, and commits Text

So, here is a way works for both Mac and Windows if you continue typing after closing color picker.
Close the dialog by clicking fill icon, then hit Esc. Now focus is back to text layer and you can

[2015-10-01 23:59] chadrolfs commented on #2716
I think this is the coordinates issue.  might be a result of #2713 which essentially makes this a dupe

[2015-10-02 00:00] DivyaPrabhakar opened #2752 "X and Y coordinates w.r.t artboard are incorrect when dragging to create new shape"
Step 1: Create artboard, place at X=100 and Y=0
![](https://www.dropbox.com/s/vtxczfjeo01cjb2/Screenshot%202015-10-01%2016.53.32.png?raw=1)

Step 2: Create layer, notice the draggable X, Y coordinates and the X, Y coordinates in the panel
![](https://www.dropbox.com/s/cz2vlbdolgtucm2/Screenshot%202015-10-01%2016.54.18.png?raw=1)

Step 3: Once the layer is created, the X and Y coordinates are corre

[2015-10-02 00:04] ktaki commented on #2676
I agree this is as designed. Need to close the dialog first, then Esc returns keyboard focus.

[2015-10-02 00:04] #2676 closed

[2015-10-02 00:10] chadrolfs commented on #1513
This was fixed.  Results with current FC submit build:
`Finished action transform.swapLayersCurrentDocument in 217ms with RTT 220ms; 1/1`

[2015-10-02 00:10] #1513 closed

[2015-10-02 00:14] ktaki opened #2753 "Hitting Esc to close Color Picker will commit or discard text editing at the same time"
Windows only. With type tool, click on canvas, and start typing. Click on Fill icon in appearance panel to open color picker. Select a color and hit Esc to close the dialog.

RESULT: Commits text if Esc key is set to commit text editing. Discards editing if Esc key is set to discard the editing. (This is a loss of data.)

EXPECTED: Closes the color picker, but edit session still continues.

WORKAR

[2015-10-02 00:14] DivyaPrabhakar opened #2754 "X and Y coordinates are incorrect after moving artboard on the canvas"
1. Create new artboard, X and Y coordinates are at 0, 0
2. enter "850" into the width input to position the artboard at 850,0
3. The X value changes to "100"

![alt text](https://www.dropbox.com/s/20qtka7cvqxw51d/artboardwrongcoor.gif?raw=1 "Wrong coordinates")

Same family of issues as: #2613 and #2752

[2015-10-02 00:16] chadrolfs opened #2755 "Copy Style (Appearance) should include Opacity, Blend and Radius (if applicable)"

[2015-10-02 00:17] chadrolfs commented on #2755
expectation based on user feedback

[2015-10-02 00:22] ktaki commented on #2313
The core bug has been Closed/Fixed. Verified mainline builds on Mac and Windows.

[2015-10-02 00:22] #2313 closed

[2015-10-02 00:29] DivyaPrabhakar opened #2756 "Moving a layer off artboard and back on messes up X Y coordinates for the layer"
1. Create an artboard that starts at X = 0, Y = 0. Move the artboard to 100,0 by changing the X input to 100.
2. Create a layer off of the artboard.
3. Set the X and Y of that layer to 0, 0 with the W and H inputs.
4. The final coordinates of the layer become -100, 0

Same family of issues as: #2613, #2752, #2754

![alt text](https://www.dropbox.com/s/hjchzmqx4sw3xw4/layerwrongcoor.gif?raw=1 "Laye

[2015-10-02 00:31] DivyaPrabhakar commented on #2613
I saw the same issues @chadrolfs was referring and a couple of new ones so I filed bugs for each of them and will close this one because it was an issue filed only about the X Y coordinates in the input fields, which is now fixed.

[2015-10-02 00:31] #2613 closed

[2015-10-02 00:42] ktaki commented on #1602
This is not likely fixed for 16.1. XD needs to spec out in details.

[2015-10-02 01:28] davealonzo opened #2757 "Artboard rotates incorrectly from the Layer menu"
* Select a new artboard
* From the Layer menu, Transform/Rotate Left (or right)

Result: Transform box rotates but not AB canvas. Expect canvas to rotate as well.

Note: Seems to correct itself when you start drawing on the canvas.

Also, we might want to consider up leveling this as an artboard related action in the file menu if fixable.

<img width="2052" alt="screen shot 2015-10-01 at 6 16 38 p

[2015-10-02 01:35] iwehrman commented on #2757
Nice catch!

[2015-10-02 02:08] chadrolfs commented on #2757
Yes!  Nice one!

[2015-10-02 02:10] chadrolfs commented on #2754
Possibly related to #2713 as well

[2015-10-02 02:11] #2716 closed

[2015-10-02 02:18] chadrolfs commented on #2316
https://watsonexp.corp.adobe.com/#bug=4068004

[2015-10-02 02:41] davealonzo commented on #2751
WRT #3, I already have designs done for this feature in the backlog – There's a new icon added to the bottom lineup that invokes the auto-vac workflow from the panel (Ps will be adding this icon too).
https://trello.com/c/xJrjQMEu

Although it might be too late to get this in as a integrated feature, we could consider invoking the "Add to Library" dialog again from this same icon for the time bein

[2015-10-02 03:40] iwehrman commented on #2755
@placegraphichere: do you agree?

[2015-10-02 03:44] chadrolfs commented on #2361
Totally rad, it works with Shao's new layer effects support.

[2015-10-02 03:44] #2361 closed

[2015-10-02 04:33] iwehrman commented on #2742
FBNC to @ktaki.

[2015-10-02 15:17] chadrolfs commented on #2720
cjb: I need to know exactly where Ian was clicking. If clicking inside the artboard and in the background of the artboard, we may be entering marquee mode briefly. Until mouse up. When the mouse down happens, the selection goes to none, but if the mouse does not move, hysterisis is not broken, and there is code that reselects the artboard as if you selected it. If you drag with mouse down, then yo

[2015-10-02 15:19] chadrolfs commented on #2720
doesn't the video show exactly where you're clicking?

[2015-10-02 15:26] chadrolfs commented on #2720
I still CNR.  @iwehrman can you still repro with current builds?

[2015-10-02 15:36] #2701 closed

[2015-10-02 15:40] chadrolfs opened #2759 "Search: returning to app after defocus result in unresponsive field"
with or without doc open
cmd/ctrl + f
arrow down/up to expose datalist
cmd/ctrl + tab to defocus app (repeat to refocus)
attempt to click/type in field

Result: unresponsive
workaround: click outside search to dismiss and re-enter.

[2015-10-02 15:44] chadrolfs commented on #1680
postverification failure no longer occurs.  This is all on cyan team now so lowering priority and taking about of M3 because there's little to nothing for us to do here except wait for their fix.

[2015-10-02 15:51] chadrolfs commented on #1345
related to #2235

[2015-10-02 16:44] ktaki commented on #2756
I think this is as designed. Since the rectangle is moved on to the Artboard 1, the rectangle coordinates becomes based on the artborad origin.

[2015-10-02 16:46] DivyaPrabhakar commented on #2756
@ktaki The layer is not taking into account the artboards new origin. The artboard moved to 100, 0 therefore shouldn't the layer, if set to 0,0, go to 100,0 now? Currently, I think it goes to the old coordinates when the artboard was at 0,0.

[2015-10-02 17:39] zoranagee commented on #2716
OK - but for the record, I still see this in sprint 32.

[2015-10-02 17:40] ktaki commented on #2756
The origin is set to the position of the upper left corner of the first artboard created.If a shape is created in the positive coordinates, meaning towards right and below the origin, the origin does not change. It says there. When you set the X to 0 for the shape layer, it falls inside of the artboard, therefore, the origin is calcuated based on the artboard. (-100,0) is correct.

Try this. Move

[2015-10-02 17:40] shaoshing commented on #2545
#2562 is replaced by #2743

[2015-10-02 17:41] mcilroyc commented on #2683
FBNC to @ktaki

[2015-10-02 17:55] mcilroyc commented on #2678
FBNC to @ktaki

[2015-10-02 17:58] shaoshing commented on #2729
created watson bug and assigned to Taki https://watsonexp.corp.adobe.com/#bug=4068367

[2015-10-02 18:05] iwehrman commented on #2496
I nudged the CC Desktop team again today.

[2015-10-02 18:05] shaoshing commented on #2612
Identified as a core bug. Created watson bug https://watsonexp.corp.adobe.com/#bug=4068370

[2015-10-02 18:06] ktaki opened #2763 "The origin of artboard coordinates should never change"
The origin of artbpard coordinates (X, Y) is set when the artboard document is created or the first artboard is created on a document. This should never change. When layers are created outside of artboards, canvas itself may be auto-expanded, and those layers coordinates may change, but the artboard coordinates should not change.

[2015-10-02 18:20] iwehrman commented on #2763
@placegraphichere @designedbyscience: I thought, in the past, we agreed that we should just not show x/y coordinates in "infinite canvas" mode?

@ktaki: I don't really know how we can both a) show coordinates; and b) not change them when the canvas auto expands.

[2015-10-02 18:26] ktaki commented on #2763
We need to maintain the origin for artboards and the origin of layers outside of the artboards separately. The former never changes, but the latter changes.

[2015-10-02 18:41] iwehrman commented on #2763
What do you think the origin should be if not the document origin?

[2015-10-02 18:51] ktaki commented on #2763
The upper left corner of the first artboard in artboard docs.
The upper left corner of non-artboard doc (the original document origin) if artboards are added later.

[2015-10-02 19:23] placegraphichere commented on #2122
Discussed this with @davealonzo and I think we'd like to just maintain the popups for now. They're a necessary evil at the moment. I've got the icon we need for this in #2765. Just a single icon for now. Not two for both cases. Since the difference in the color/no-color icon is probably not a understandable difference for most people, I certainly would not be able to tell you the "alert" differenc

[2015-10-02 19:24] ktaki commented on #2763
On the second thought, it might make more sense if coordinates of both arboards and layers outside artboards are based on the origin of artboards. That is not what standard Ps does, but it is reasonable thing to do if feasible.

[2015-10-02 19:28] mcilroyc commented on #2729
prevented on the DS side by @shaoshing 's PR

[2015-10-02 19:57] iwehrman opened #2766 "Add a "mask mode" icon to the UI"
The button will both toggle mask mode and signify the state of mask mode. It might go either in the toolbar or the document header.

CC @pineapplespatula and @placegraphichere

[2015-10-02 19:58] iwehrman opened #2767 "Add a "search" icon to the document header"
The search icon will toggle the app search UI. This is to improve discoverability of the search feature.

[2015-10-02 20:00] iwehrman commented on #2763
This is an incredibly delicate part of the code, so I'm skeptical that we can accomplish any changes to this without significant risk. I'd also like @placegraphichere's and @designedbyscience's opinion on what they think the correct behavior should be, and whether the current state of things is a major blocker.

[2015-10-02 20:22] ktaki commented on #2742
Links are fixed.
GitHub is still shown as "Github". Is this a design consideration?

[2015-10-02 21:25] shaoshing commented on #2729
Taki, this layer effect might save your from clicking your mouse :P http://adobe.ly/1jDyVku

[2015-10-02 21:32] iwehrman commented on #2722
FBNC to @chadrolfs.

[2015-10-02 21:46] ktaki commented on #2729
Thanks @shaoshing. Looks good.

[2015-10-02 21:46] #2729 closed

[2015-10-02 22:00] shaoshing opened #2770 "Place linked / embedded SO freezes the app"
1 menu: file > Place Linked / Embedded ...
2 select any file and hit return
3 app frozen

This is probably related to keyboard and mouse policy as well.

[2015-10-02 22:02] iwehrman commented on #2415
I can repro:
[code]

[2015-10-02 22:10] shaoshing commented on #2041
This should have fixed by Barkin. @chadrolfs can you verify?

[2015-10-02 22:11] iwehrman commented on #2415
This is a core bug. The "drag" event seems to have the wrong layer ID in the particular case of the new layer causing the previous, empty layer to be replaced. I'll file the Watson issue.

[2015-10-02 22:13] zoranagee opened #2771 "Hitting M results in mask mode but no transform handles"
Not sure how I got here because it did work the first few times I did this but now, when I hit M, I enter Mask mode but no handles to edit the mask...

[2015-10-02 22:16] iwehrman commented on #2415
[Watson 4068448](https://watsonexp.corp.adobe.com/#bug=4068448) to @jsbache.

[2015-10-02 22:16] shaoshing commented on #2743
Fixes are:

* disabled drag-n-drop for empty graphic asset
* hovering over empty asset will show "Graphic has no content"

[2015-10-02 22:35] ktaki commented on #2683
The scenario above (Open a image file. Enter vector mask mode and draw a rectangle. Open another image file) will cause the following error.

![screen shot 2015-10-02 at 3 33 05 pm](https://cloud.githubusercontent.com/assets/2029597/10259262/1b501a28-691b-11e5-85cf-c0ba8c036e09.png)

[2015-10-02 22:39] iwehrman opened #2773 "Consider adding additional export "settings" to adjust output quality"
Possible examples: high/low quality JPGs (using flite?), or high/low quality PNGs (8/24/32) (using pngquant?).

@placegraphichere: do you have any thoughts about this?
@mcilroyc: do you know what our status is w.r.t. flite and pngquant?
@chrisbank can you pretty please summarize the options exposed by Crema?

Thanks! Thanks! Thanks!

[2015-10-02 22:52] iwehrman commented on #2757
This must be a core bug. Everything seems to be working correctly except that the canvas isn't re-drawing correctly. It eventually does draw correctly though, e.g., if you move a shape within the artboard. I'll file a core bug!

[2015-10-02 22:59] iwehrman commented on #2757
[Watson 4068470](https://watsonexp.corp.adobe.com/#bug=4068470)

[2015-10-02 23:07] iwehrman commented on #2649
I pushed 4912f476f67f16f1463646b446bbdfe516337c68 directly to master to fix this.

[2015-10-02 23:07] #2649 closed

[2015-10-02 23:16] ktaki commented on #2678
Verified the fix.

[2015-10-02 23:16] #2678 closed

[2015-10-02 23:25] ktaki commented on #2048
Verified the fix.

[2015-10-02 23:25] #2048 closed

[2015-10-02 23:38] tiburbage commented on #1670
The fix that Barkin attempted has negative consequences. If you hit Cmd+N too early, the New dialog comes up before DS has fully initialized, and it never works correctly after. Usually the UI fails to draw, but even if it does, event handling is messed up. @jsbache believes this is a problem that has to be solved on the DS side. Please discuss.

[2015-10-02 23:47] iwehrman commented on #2696
@jsbache claims this is fixed in CL 1046056. Over to @chadrolfs to verify.

[2015-10-02 23:47] iwehrman commented on #2696
Er, sorry, @ktaki was the original filer.

[2015-10-02 23:54] ktaki commented on #2696
Verified the fix.

[2015-10-02 23:54] #2696 closed

[2015-10-03 00:00] chadrolfs opened #2775 "Transform controls no longer show when more than one artboard is selected"
new doc
create more than one artboard
select them either via cmd+click in layers panel or via shift+click on canvas with Select tool

[2015-10-03 00:06] iwehrman commented on #2775
Possibly related to #2723?

[2015-10-03 00:07] iwehrman commented on #2775
Over to @chadrolfs for a `git bisect` as time allows and priority dictates.

[2015-10-03 00:10] chadrolfs opened #2776 "Focus: arrow keys move layer on canvas when in Type non-edit mode"
Open or create a document with a couple of type layers
select them with the Select tool, click in size field and up/down arrow

Result: layer moved on canvas

Works as expect in Type edit mode.

[2015-10-03 00:24] chadrolfs opened #2777 "Sampling Text via HUD sometimes fails on first click, takes 2nd or double-clicks"
create two different text layers (different size, color, typeface)
select one, switch to Sampler
mouse over second, press Space to bring up HUD
click on Typeface icon

Result: nothing is applied
click again or in last step above double-click

[2015-10-03 00:33] iwehrman opened #2778 "Type color picker is sized incorrectly"
![image](https://cloud.githubusercontent.com/assets/1075154/10260507/b13bac40-692b-11e5-8f0c-ca027d65979c.png)

[2015-10-03 00:37] chadrolfs commented on #2775
tried to bisect but kept running into errors loading due to adapter issues.

[2015-10-03 00:43] chadrolfs commented on #2743
after you attempt to drag and drop an empty asset, it fails as expected but subsequent attempts to drag valid assets also fail.

[2015-10-03 00:49] #2722 closed

[2015-10-03 00:57] chadrolfs opened #2779 "Opening file results in Uncaught TypeError"
Open explore-mt-hood.psd  (in my transfer on sjshare if you don't have it already)

Result: `Action documents.open failed: TypeError: Cannot read property 'layers' of null`

[2015-10-03 00:57] iwehrman commented on #2775
I would say "you probably have to run `bower install`" between bisecting steps, but a) I don't think it will be that easy, and b) it's probably not worth it. I'll have a look.

@mcilroyc: this is a good one to keep in mind when we have our next quarterly release engineering showdown.

[2015-10-03 00:58] #2699 closed

[2015-10-03 01:00] chadrolfs commented on #2041
Yep, fixed, yay!

[2015-10-03 01:00] #2041 closed

[2015-10-03 01:30] iwehrman commented on #2779
Can you post the entire stack trace?

[2015-10-03 17:59] iwehrman opened #2780 "Direct select tool shortcut is active when not in mask mode"
When not in mask mode, the `a` shortcut currently activates the direct select tool. It shouldn't do that.

[2015-10-03 20:29] iwehrman commented on #1470
Fixed by #2657.

[2015-10-03 20:29] #1470 closed

[2015-10-03 20:30] iwehrman commented on #2389
In theory this is FBNC via @dtristram. Over to @chadrolfs to verify.

[2015-10-03 20:32] iwehrman opened #2781 "Opening the search bar is slow"
There are two reasons for this:

1. Documents that are inactive and uninitialized must be initialized before the search bar dialog can be opened.
2. Formatting layer names is a major bottleneck when there are many layers in the currently open documents. The culprit is the `O(n^2)` algorithm used by `getShortestUniquePaths` in `util/path`.

[2015-10-04 14:27] iwehrman commented on #2731
I re-did the overlay offsets stuff last, so I'll take this one.

[2015-10-04 15:15] iwehrman opened #2783 "Layers panel moves with every click in single-column mode"
Single-column mode is difficult to use because whenever you click in the panel to select a different layer, the panel position shifts vertically. This is because its position is dependent on the contents of the appearance and effects of that layer. I think, in order for it to be usable, we need to find a way to affix the layers panel to the bottom of the column in single-column mode so that only t

[2015-10-04 21:56] iwehrman opened #2785 "Border policies not updated reliably"
Two bugs, easily spotted with `Help > Show Policy Frames`:

1. When dragging a text layer on canvas, the border polices are not moved along with the layer.
2. When closing documents in rapid succession, border policies frequently remain once all the documents are closed, never to be changed again.

These sorts of issues are invisible to the user until she or he tries to target some on-canvas UI th

[2015-10-04 22:13] zoranagee commented on #2771
Hoping there is a workaround for this - tried deleting prefs - nada.

[2015-10-04 22:23] zoranagee opened #2786 "Copy Paste All doesn't work when I have a vector stroke"
Create a shape with a set color (from appearance)
Add a vector stroke (from appearance)
Copy and paste into another vector layer

Result: nothing copies over

[2015-10-04 22:27] zoranagee opened #2788 "Confusing color when overlay is used"
Create a vector shape
Add a color overlay
Create another shape
Select Sampler tool and invoke HUD on first shape

RESULT: color chip shows as default appearance color - not the overlay
I know it's grouping the effects together and the color is that of the appearance but this is confusing

[2015-10-04 22:27] iwehrman commented on #2785
Hypothesis: this is the root cause of #2224. If you get in this state, you won't be able to start creating a rectangle from within one of these ghostly border polices.

[2015-10-04 22:28] zoranagee commented on #2788
@placegraphichere what do you think?

[2015-10-04 23:07] iwehrman opened #2791 "Controller transfer is not currency-safe"
First observed in the wild in #2790, the problem is that `this.transfer` does not provide the same concurrency-safety guarantees that top-level actions provide. For example, if a transaction transfers to two actions concurrently, their execution may be interleaved _even if they read and write the same state_. The controller protects against this among top-level actions, but not among intra-action

[2015-10-05 00:23] zoranagee commented on #2771
This is user error - I had an old mask that was already there and thus the mask handles upon entering. That said, there are some usability tweeks that I think this workflow could benefit. I'll ping Seth separately on this - closing this one.

[2015-10-05 00:23] #2771 closed

[2015-10-05 14:31] mcilroyc commented on #2775
[release mgmt subtopic] Yes.  I also think there's another level of unfortunateness when bisecting across PS build versions; this should be considered to some degree.

[2015-10-05 15:40] iwehrman commented on #2469
FBNC to @ktaki.

[2015-10-05 15:42] iwehrman opened #2795 "Modal dialogs are not centered correctly"
![image](https://cloud.githubusercontent.com/assets/1075154/10285288/04991ad6-6b3d-11e5-85c0-00e46fdcfb84.png)

![image](https://cloud.githubusercontent.com/assets/1075154/10285291/08975490-6b3d-11e5-896a-7e4f03269c74.png)

[2015-10-05 15:43] iwehrman commented on #2633
Not a problem any more!

[2015-10-05 15:43] #2633 closed

[2015-10-05 16:05] chrisbank commented on #2778
This is probably more or a feature request, but you could also add a lightness slider in there. Here's an example from the Reflow color picker (that was done in JS). I know Dreamweaver and Animate have similar color pickers.
![colorpicker](https://cloud.githubusercontent.com/assets/458642/10285982/2f187e70-6b40-11e5-881a-16237012d81f.png)

[2015-10-05 16:15] chadrolfs commented on #2779
<img width="1037" alt="screen shot 2015-10-05 at 9 15 17 am" src="https://cloud.githubusercontent.com/assets/8442631/10286233/a6aa99e0-6b41-11e5-8de9-840ee62dc78f.png">

[2015-10-05 16:35] shaoshing opened #2796 "Layer effects: Color picker is at wrong position"
![color-picker](https://cloud.githubusercontent.com/assets/118264/10286788/4de2d39c-6b44-11e5-89cc-1f8ffb3f3148.gif)

[2015-10-05 16:37] shaoshing commented on #2796
only occurs for effects in the bottom section of the panel.

[2015-10-05 16:39] chadrolfs commented on #2796
dupe of #2560

[2015-10-05 16:53] iwehrman commented on #2778
Good idea! I'll add this to the [wishlist](https://github.com/adobe-photoshop/spaces-design/wiki/Wishlist).

[2015-10-05 16:57] shaoshing commented on #2743
Hmm, I am unable to reproduce this; drang-n-drop on empty and valid asset are both working. Do you mind record a video for me?

[2015-10-05 17:42] pineapplespatula commented on #2679
this was magically fixed by some core changes.

[2015-10-05 17:45] pineapplespatula commented on #2681
this seems to work now

[2015-10-05 17:50] #2746 closed

[2015-10-05 17:53] chadrolfs commented on #2779
Also happens when you open Vermillions

[2015-10-05 17:56] ktaki commented on #2224
Here are the steps to reproduce.

Create AB doc with Web (1920x1080) template. Save and close the file.
In Finder, select the file and enter Cmd+d six times to duplicate the file. 7 files in total.
Reset DS. Make sure the superselect tool is the current tool.
Select the seven files and drag them to the app window to open the files.
Select rectangle tool and try draw a rectangle on canvas
RESULT: N

[2015-10-05 18:20] iwehrman opened #2799 "Slow Generator failure blocks File > New"
When Generator fails to start, `exports.beforeStartup` holds the `JS_EXPORT` write lock for a very long time. The `documents.createNew` action also requires the `JS_EXPORT` lock because. This prevents File > New from working while Generator is slowly failing.

In some sense, this is how it should be working. On the other hand, it would be nice to break up at least one of these actions so that syst

[2015-10-05 18:20] ktaki commented on #2742
Verified the fix.

[2015-10-05 18:20] #2742 closed

[2015-10-05 18:41] iwehrman commented on #2336
I'm declaring this fixed since @placegraphichere ain't readin' his email.

[2015-10-05 18:41] #2336 closed

[2015-10-05 18:42] #2389 closed

[2015-10-05 18:43] iwehrman commented on #2121
@ktaki There is now a visibility icon next to unsupported layer effects. FBNC 2 U!

[2015-10-05 18:44] iwehrman commented on #2614
Fixed by @designedbyscience.
![image](https://cloud.githubusercontent.com/assets/1075154/10290004/6c144104-6b56-11e5-9a93-f2a03f542898.png)

[2015-10-05 18:44] #2614 closed

[2015-10-05 18:44] iwehrman commented on #2681
FBNC to @ktaki.

[2015-10-05 19:45] iwehrman opened #2800 "Error dragging multiple files onto the canvas at once"
When I drag multiple PSDs onto a canvas at once (to place many smart objects), I get these errors:

[code]

[code]

[code]

[2015-10-05 19:45] mcilroyc commented on #2630
assigning to @chadrolfs for independent confirmation

[2015-10-05 19:46] iwehrman commented on #2800
This really leaves the app in bad state.

[2015-10-05 19:50] iwehrman opened #2801 "First new document is not centered correctly in single-column mode"
![image](https://cloud.githubusercontent.com/assets/1075154/10291616/a132f1ba-6b5f-11e5-9371-5d56df5aece7.png)

[2015-10-05 20:23] mcilroyc opened #2802 "Stale bounds allow moving layers with drags in other parts of the documents"
Here is at least one repro case:

1. Open document, select layer
1. Open new document, then close it again
1. In orig doc, select a new layer
1. (with polcies borders on, note that stale policies area still exists around prev layer)
1. Dragging in the previous area will still move new layer

http://cl.ly/3I0Q3T2Y1F0N

[2015-10-05 20:33] iwehrman commented on #2751
Since we don't have time to support this fully for the next release, we're just going to suppress the dialog for now. [Watson 4069056](https://watsonexp.corp.adobe.com/#bug=4069056).

[2015-10-05 20:35] chadrolfs commented on #2743
have you tried on Windows?  I can't seem to repro any more on Mac, but it looks like there are some serious performance issues on Windows.

[2015-10-05 20:52] chadrolfs commented on #2122
I'm not seeing the missing font icon show up in the layers panel when opening a document with missing fonts.  Are the icons hooked up correctly?

[2015-10-05 20:56] chadrolfs opened #2804 "Typeface datalist field is empty for missing fonts"
Open a file with missing fonts and select one of those layers in the layers panel

Result: Typeface field is empty
Expected: `missing`

![screen shot 2015-10-05 at 1 55 14 pm](https://cloud.githubusercontent.com/assets/8442631/10293344/db2921a6-6b68-11e5-8775-b16ac035115f.png)

[2015-10-05 21:03] designedbyscience commented on #2122
They aren't hook up in that PR, just added to our asset set

[2015-10-05 21:08] mcilroyc commented on #2224
should be addressed by recently closed PR 2803, @ktaki

[2015-10-05 21:13] mcilroyc commented on #1519
FBNC to @ktaki

[2015-10-05 21:20] iwehrman commented on #2785
Fixed by #2790 and #2803.

[2015-10-05 21:20] #2785 closed

[2015-10-05 21:36] chadrolfs opened #2805 "Windows performance lag after dragging CC Lib asset"
ctrl + n
select and drag a graphic library asset onto canvas, hit Enter to place, then Delete
click on CC Library drop down menu to select a new library

Result: performance now goes to a crawl and it's hard to select a new library

Selecting tools takes two or more clicks

[2015-10-05 21:36] chadrolfs commented on #2805
rendered file:///C:/Users/crolfs/Documents/GitHub/spaces-design/src/style/main.less successfully.
less.js:775 css for file:///C:/Users/crolfs/Documents/GitHub/spaces-design/src/style/main.less generated in 286ms
less.js:775 less has finished. css generated in 288ms
react-with-addons.js:4486 Download the React DevTools for a better development experience: https://fb.me/react-devtools
main.js:74 Spa

[2015-10-05 21:38] chadrolfs commented on #2805
looks specific to dev build 702.  Core issue?

[2015-10-05 21:46] chadrolfs commented on #2496
bug is marked fixed now, needs build.  Thanks for the nudge!

[2015-10-05 21:48] chadrolfs commented on #2716
Yeah, if the coordinates are off,  you'll see this.  2713 is still open and needs resolution.

[2015-10-05 21:56] chadrolfs opened #2806 "Setting stroke alignment fails"
new doc
hit r to make Rect tool active and drag out a rect
click on Outside icon for Apperance Stroke

Result: `Action shapes.setStrokeAlignment failed: TypeError: Cannot read property 'every' of undefined`

[2015-10-05 21:56] chadrolfs commented on #2806
![screen shot 2015-10-05 at 2 55 03 pm](https://cloud.githubusercontent.com/assets/8442631/10294781/3d16d6f8-6b71-11e5-861d-dee5485a5988.png)

[2015-10-05 21:56] ktaki commented on #2469
Verified the fix.

[2015-10-05 21:56] #2469 closed

[2015-10-05 21:57] mcilroyc opened #2807 "ESCing out of export dialog throws error"
1. Add Asset
1. Click "PNG" drop down
1. Hit ESC key

![ss](http://cl.ly/image/2s382E3l0R1k/Image%202015-10-05%20at%204.56.29%20PM.png)

[2015-10-05 22:02] mcilroyc opened #2808 "Tabbing out a Export Datalist (no change) will create unnecessary history state"
This worked at one point, but presumably got regressed by recent datalist work.  This is not a critical error because the "extra" history states are at least consistent across PS/DS, but it is not the desired behavior.

[2015-10-05 22:23] ktaki commented on #1519
Font size (Size): 0.04 pt / 1296 pt  ----> The min value 0.04 is probably OK. (Standard Ps has 0.01)
Leading (Line) : 0.01 pt / 5000 pt  ---> These match with standard Ps
Tracking (Letter): -1000 / 1000  ---> Max value is too small. Standard Ps has 10,000 as max.

[2015-10-05 22:24] iwehrman opened #2809 "Vector Mask mode adds weird policy area that is never removed"
I always get the following strange green policy area when entering vector mask mode:
![image](https://cloud.githubusercontent.com/assets/1075154/10295358/13180274-6b75-11e5-8148-c9bf48ae4b6e.png)

[2015-10-05 22:31] iwehrman commented on #2713
FBNC to @chadrolfs.

[2015-10-05 22:33] iwehrman opened #2811 "Standard PS context menu available in mask mode"
![image](https://cloud.githubusercontent.com/assets/1075154/10295570/5c5363ba-6b76-11e5-8da2-fac38a9dfd8d.png)

[2015-10-05 22:34] iwehrman opened #2812 "Can't delete layers with masks"
1. Create a layer with a mask.
2. Select it.
3. Press the delete key.

Result: nothing happens.
Expected: layer is deleted.

[2015-10-05 22:36] iwehrman commented on #2806
I'll take a look.

[2015-10-05 22:40] ktaki commented on #2679
Yes, this seems to be fixed.

[2015-10-05 22:40] #2679 closed

[2015-10-05 22:42] iwehrman commented on #2812
Er, sorry, I think this was user error. It was the last layer in an artboard...

[2015-10-05 22:42] #2812 closed

[2015-10-05 22:51] ktaki opened #2813 "Error on pressing 'a' to enter vector mask editing mode"
Press 'm' then 'a', Escape or Enter to end editing mode. Reenter editing mode by 'a'.

Uncaught Error: Photoshop returned an error when executing command number: 1 Photoshop code: -128 Photoshop message:

![screen shot 2015-10-05 at 3 48 09 pm](https://cloud.githubusercontent.com/assets/2029597/10295894/c572a35e-6b78-11e5-9327-90990fcdce80.png)

[2015-10-05 22:54] ktaki commented on #2681
Now 'a' seems to work, but produces error in console. Reported as #2813.

[2015-10-05 22:54] #2681 closed

[2015-10-05 23:16] chadrolfs commented on #2743
Blocked by #2805

[2015-10-05 23:22] shaoshing commented on #2642
The exact steps to reproduce this:

1 switch to DS, double click to open any graphic for edit.
2 switch to classic and close the document
3 switch to DS, open the same graphic again and then close it
4 open the same graphic -- open dialog appears.

[2015-10-05 23:24] chadrolfs commented on #2805
I don't see this issue using the FC staging build (1600) with current master @ a16a13d1e39f01cd6f4e302ce729ccfb9ca6db1d

[2015-10-05 23:26] chadrolfs commented on #2743
Able to test current master a16a13d1e39f01cd6f4e302ce729ccfb9ca6db1d with FC staging build (1600) to verify this fix

[2015-10-05 23:26] #2743 closed

[2015-10-05 23:31] ktaki commented on #2121
Looks great!

[2015-10-05 23:31] #2121 closed

[2015-10-05 23:32] iwehrman commented on #2806
I pushed a tiny fix right to master for this in 1c8bfb2dc41d718a571c04d67d51cf1566635273. FBNC to @chadrolfs.

[2015-10-05 23:34] chadrolfs opened #2816 "Focus issue: Arrow keys change X/Y while W/H field has apparent focus"
new doc
drag out a rect, switch to Select tool
click in W or H transform field, Shift + arrow up/down
click on canvas to deselect shape
click on shape to reselect
click in W or H transform field, Shift + arrow up/down
switch to rect tool and drag out a rect, switch to Select tool
click in W or H transform field, Shift + arrow up/down

Result: at some point within the steps above arrowing up/down m

[2015-10-05 23:34] chadrolfs commented on #2816
https://www.dropbox.com/s/gwfmydw2q7feez8/XY-RefPointIssue.mov?dl=0

https://www.dropbox.com/s/2mhsbt95wgiegnr/XY-RefPointIssue2.mov?dl=0

[2015-10-05 23:35] iwehrman commented on #2805
Were you switching tools? It looks like that's the action that's taking a very long time. What tools were you switching to/from?

[2015-10-05 23:43] iwehrman commented on #2289
I think there is too much risk for this to be an M3 bug. The current functionality isn't broken, it's just different from standard PS.

Leaving as high priority, but removing the M3 milestone.

[2015-10-05 23:48] #2806 closed

[2015-10-05 23:49] #2731 closed

[2015-10-05 23:58] iwehrman commented on #2816
I think this is a dupe of #2776. X/Y are changing because the layer is moving up/down.

[2015-10-06 00:01] iwehrman opened #2819 "Incorrect layer index after placing file"
1. Create a new artboard document.
2. Drag an image from the desktop onto the document.
3. Place the image.

Result: the empty layer remains next to the new layer that corresponds to the placed layer. But, the empty layer has been removed by Photoshop.
Expected: The artboard has only one child layer, which is the placed layer.

[2015-10-06 00:02] iwehrman commented on #2819
CC @mcilroyc @shaoshing. Is this a dupe? I know we've gone back and forth on this with `addLayers`...

[2015-10-06 00:02] iwehrman commented on #2763
I'm kicking this out of M3 because I think the risk is too high.

[2015-10-06 00:04] iwehrman commented on #2754
I'm kicking this, and any other bug that has to do with X/Y coordinates in infinite canvas mode, out of M3. The correct behavior is entirely unclear, and even if it were clear I think the risk of changing this code is too high given our proximity to the release.

[2015-10-06 00:06] ktaki commented on #2763
Agreed.

[2015-10-06 00:10] iwehrman commented on #1519
Argh, I misread your bug description above. I pushed commit 63daa6c38399c4f1240912383d1e67472b48024c directly to master to fix the max tracking value. The min font size value is a standard PS rounding error. I think we should just let that one go...

FBNC to @ktaki again.

[2015-10-06 00:11] iwehrman commented on #1978
Welp, I guess I got out-voted on this one. I shall return!

[2015-10-06 00:11] #1978 closed

[2015-10-06 00:17] shaoshing opened #2820 "Change Width/Height will change X and Y instead"
Reproduce:

1 create a vector
2 deselect and then select the vector
3 use up/down arrow keys to change width or height
4 double click the vector
5 use up/down arrow keys to change width or height
6 go back to setp 2

https://www.dropbox.com/s/1fe0jpo59xu0idj/rp-2.mov?dl=0

[2015-10-06 00:31] ktaki opened #2821 "Need to make tracking field wider"
The maximum number allowed is 10,000.

![screen shot 2015-10-05 at 5 26 09 pm copy](https://cloud.githubusercontent.com/assets/2029597/10297381/f11f9954-6b86-11e5-9403-87c2cf477c40.png)
![screen shot 2015-10-05 at 5 26 19 pm copy](https://cloud.githubusercontent.com/assets/2029597/10297382/f3978be2-6b86-11e5-8a60-65148826150b.png)

[2015-10-06 00:33] ktaki commented on #1519
Verified the fix. Need to make the field a bit wider. Opened an issue #2821.

[2015-10-06 00:33] #1519 closed

[2015-10-06 00:45] iwehrman commented on #2651
It's back! I'm seeing this:
` Warning: Each child in an array or iterator should have a unique "key" prop. Check the render method of DropShadowList. See https://fb.me/react-warning-keys for more information.`

To repro, open Vermilion and select the following layer range:
![image](https://cloud.githubusercontent.com/assets/1075154/10297514/e9b9f4be-6b88-11e5-83d1-35ed3cb03e8c.png)

[2015-10-06 01:02] tiburbage commented on #2740
After working around this area some more, looking at how analogous functionality behaves in standard, I’m in agreement with Taki now that in one very specific use case, the current behavior is probably not what we want.

A use case example is:

- Select the Rectangle Tool and draw out
- Set focus to the Radius numeric input
- type in 20 (or whatever)
- ENTER

Focus should now be back on the canvas

[2015-10-06 01:19] iwehrman commented on #2197
FBNC to @chadrolfs.

[2015-10-06 01:21] iwehrman commented on #2642
FBNC to @chadrolfs.

[2015-10-06 02:58] mcilroyc commented on #2819
I'm not aware of a dupe.  It is semi-related to a bug on my plate, but not a dupe.  1613.  I can take this if neither of you has an affinity for it.

[2015-10-06 03:37] mcilroyc commented on #2669
FBNC to @chadrolfs  - please note that this fix introduces a history bug for which we are blocked by core.  So THIS bug should be fixed, but please note that history store gets nuked by this "double m" workflow now.

[2015-10-06 03:47] ktaki opened #2824 "Clicking 'x' in search box does not dismiss the search dialog"
Reported by John F. I wonder if this 'x' ever worked. If we follow the Export dialog's case, we might want to simply remove it. (Or, if this simple 'x' is useful for reminding users clicking it to dismiss the dialog, we might want to add it to Export dialog also.)

[2015-10-06 14:25] mcilroyc commented on #2650
I think this may have been addressed by #2662.  In any case, I can no repro in 9070a9a43c5d458f416d8cae19f6376c80d9f6d4.  @chadrolfs back to you, or please provide detailed repro steps if you can.

[2015-10-06 14:40] mcilroyc commented on #2424
i hope you're both happy!  FBNC to @DivyaPrabhakar

[2015-10-06 15:42] chadrolfs opened #2826 "Sampler: Shift + click to sample Typeface fails"
create two type layers with different properties (including Typeface)
with one type layer selected, hit i for the Sampler tool
mouse over the other type layer, hold down Shift and click

Result: `Action sampler.click failed: TypeError: undefined is not a function`

[2015-10-06 15:43] chadrolfs commented on #2826
![screen shot 2015-10-06 at 8 44 17 am](https://cloud.githubusercontent.com/assets/8442631/10313804/52b7e0e8-6c06-11e5-9677-782223a2ad22.png)

[2015-10-06 16:18] iwehrman commented on #2720
This is with Mac pgdev.717:
http://cloud.wehrman.org/000N3J1y1I0J
The video shows the location of the clicks.

[2015-10-06 16:19] iwehrman commented on #2720
The previous video was on a non-retina display, but it happens on retina too:
http://cloud.wehrman.org/360M3e2S241N

[2015-10-06 16:27] chadrolfs commented on #2820
I think this is a dupe of #2776.

[2015-10-06 16:28] #2816 closed

[2015-10-06 16:33] iwehrman commented on #2720
Here are the commands we're playing for these clicks:

[code]

[code]

We're also playing `hitTest` commands on mousemove, and also a few `get` commands after selecting the artboard layer.

[2015-10-06 16:42] iwehrman commented on #2778
@designedbyscience Can you take a look at this before UIF?

[2015-10-06 16:43] iwehrman commented on #2710
Must-fix for UIF on Monday.

[2015-10-06 16:46] iwehrman commented on #2734
FBNC to @ktaki.

[2015-10-06 16:52] iwehrman commented on #2652
Fixed by #2827.

[2015-10-06 16:52] #2652 closed

[2015-10-06 17:40] chadrolfs commented on #1775
reviewed - not M3
perhaps never fix

[2015-10-06 17:42] #2820 closed

[2015-10-06 17:42] chadrolfs commented on #1808
Reviewed - not M3
nice to have but we're out of time.

[2015-10-06 17:43] #2796 closed

[2015-10-06 17:44] chadrolfs commented on #1884
Looks like this is fixed now.

[2015-10-06 17:46] chadrolfs commented on #1890
@designedbyscience did #1904 address this or is this still an open issue that needs to be fixed for M3?

[2015-10-06 17:48] chadrolfs commented on #2019
This looks fixed to me.  @iwehrman close if you agree.

[2015-10-06 17:53] chadrolfs commented on #2020
Agree with @designedbyscience.  Only icons associated with new attributes blink.  Tab icons and tab titles don't blink.  And closing doesn't blink.  It's definitely better than it was.  @iwehrman do you think this issue is still medium priority based on current behavior?

[2015-10-06 17:53] chadrolfs commented on #2020
reviewed - not M3

[2015-10-06 18:00] chadrolfs commented on #2038
I think this was partially addressed via the new Single Column Mode and if/when #2235 gets resolved.  I think we may be able to close this.  Any objections?  @zoranagee @iwehrman @placegraphichere @designedbyscience

[2015-10-06 18:01] chadrolfs commented on #2061
reviewed - probably not M3

[2015-10-06 18:07] chadrolfs commented on #2264
@iwehrman since both Dave and Seth are out, it doesn't look like this will get into M3/UIF unless someone else picks this up and runs with it.

reviewed - probably not M3

[2015-10-06 18:08] chadrolfs commented on #2266
reviewed - not M3

[2015-10-06 18:09] chadrolfs commented on #2423
reviewed - not M3

[2015-10-06 18:13] chadrolfs commented on #2448
reviewed - probably not M3

[2015-10-06 18:15] chadrolfs commented on #2457
reviewed - probably not M3

We would need fix in the next few days for UIF.  Out of time.

[2015-10-06 18:17] chadrolfs commented on #2479
Not on us.  Watson bug is set to next rev so probably not M3

reviewed - not M3

[2015-10-06 18:19] chadrolfs commented on #2483
Is this fixed now?  I'm not seeing this.

[2015-10-06 18:22] chadrolfs commented on #2491
I think we can close this.

[2015-10-06 18:24] chadrolfs commented on #2491
nvm, blue selection indicator - yes.  also arrow keys don't work like they do in other datatlists.

[2015-10-06 18:28] chadrolfs commented on #2491
IMO, we either fix this for UIF this week or kick it out of M3 in favor of frying bigger fish.  @iwehrman what's your opinion?

[2015-10-06 18:32] chadrolfs commented on #2493
looks to be on retina only.

[2015-10-06 18:36] chadrolfs commented on #2608
PR is still open assigned to Seth

[2015-10-06 18:46] ktaki commented on #1884
Yes, with UI refinement, the issue has been resolved.

[2015-10-06 18:46] #1884 closed

[2015-10-06 18:57] ktaki commented on #2734
Verified the fix.

[2015-10-06 18:57] #2734 closed

[2015-10-06 18:59] DivyaPrabhakar commented on #2424
Verified on my end.

[2015-10-06 18:59] #2424 closed

[2015-10-06 19:00] ktaki commented on #2057
Verified the fix.

[2015-10-06 19:00] #2057 closed

[2015-10-06 20:06] chadrolfs commented on #2740
For the record Bradee agrees with the very specific use case.  I think Ian and I are in favor of current implementation but final call should made by PM and XD with informed consent from the designers on the slack channel.

[2015-10-06 20:09] chadrolfs commented on #2596
Marking this M3, but also happens in standard PS.  Logging watson issue

[2015-10-06 20:15] chadrolfs commented on #2596
https://watsonexp.corp.adobe.com/#bug=4069676

[2015-10-06 20:32] #2019 closed

[2015-10-06 20:41] iwehrman commented on #2805
It seems like this is FBNC by @jsbache. Back to @chadrolfs.

[2015-10-06 20:43] iwehrman commented on #2558
I don't see this problem any longer. FBNC to @ktaki.

[2015-10-06 20:53] tiburbage commented on #1906
Using pgdev.709 (playground-dev @1046519), the use cases: paste to Find text input field, paste into name field of a layer WORK (no double paste). However, I still see doubled text when pasting into Text Tool text. That's either on initial mousedown after invoking the tool OR subsequently editing an already created text layer text. John requested the Watson bug be set back to ToFix rather than tre

[2015-10-06 21:16] chadrolfs commented on #2713
With these steps, yes, this bug is not reproducible but #2754 still occurs

[2015-10-06 21:16] #2713 closed

[2015-10-06 21:18] chadrolfs opened #2831 "Artboard coordinates don't update after undo or moving artboard after moving it's children"
create a new doc
move the AB
cmd/ctrl + z

Result: coordinates are off

[2015-10-06 21:19] chadrolfs commented on #2831
another way to get them separated is to drag assets into the AB, move them and then move the AB.

[2015-10-06 21:19] #2805 closed

[2015-10-06 21:26] ktaki opened #2832 "Missing fonts substituted silently when changing color or size"
A warning dialog like below should be shown.

![screen shot 2015-10-06 at 2 25 22 pm](https://cloud.githubusercontent.com/assets/2029597/10323175/242bb102-6c36-11e5-8401-e78a0aac7808.png)

[2015-10-06 21:37] iwehrman commented on #2832
This is a core bug. Can you file a high-priority watson issue to ensure that _just this dialog_ is not suppressed?

[2015-10-06 21:53] ktaki commented on #2832
https://watsonexp.corp.adobe.com//#bug=4069701

[2015-10-06 22:24] ktaki commented on #2558
This may be a minor issue, bug I see some unnatural behavior of showing document titles on the document bar. Try Cmd+n several times. The font size becomes smaller suddenly when reached to the middle of the bar with a half of the space still left on the bar. Can that be wait till the doc titles reaches near the end of the bar?

[2015-10-06 22:39] tiburbage opened #2835 "Mouse interaction with datalists seems wrong compared to keyboard"
The keyboard interaction, which seems correct to me, is:
1 - Create a Shape layer
2 - Click on the Blend Mode
3 - Down arrow a few times to select a blend mode, then ENTER. Note the input no longer appears to have focus.
4 - Hit 'v' to verify that you can switch to the Select Tool (i.e. focus really did go back to the canvas)

The mouse interaction, starting after step #2 above:
3 - mouse over the

[2015-10-06 22:44] ktaki commented on #2831
Another way is to add an artboard to the left or up.

[2015-10-06 22:50] chadrolfs opened #2836 "Artboard add UI shows both standard and DS add UI; gets stuck in standard PS tools"
new doc,
drag a CC Library graphic asset onto canvas
click on AB title

Result:
![ab-doubleui](https://cloud.githubusercontent.com/assets/8442631/10324692/72f48980-6c40-11e5-9223-bdfd2d0161ee.png)

[2015-10-06 22:51] iwehrman commented on #2836
@chadrolfs Please file a high-priority core bug for this and assign to CJB.

[2015-10-06 22:52] #2781 closed

[2015-10-06 23:08] ktaki opened #2840 "Reference point: Y moves as H changes"
If a reference point is set to the center row or bottom row, changing H will change Y. This should not happen.

[2015-10-06 23:10] chadrolfs commented on #2836
https://watsonexp.corp.adobe.com/#bug=4069723

[2015-10-06 23:13] chadrolfs commented on #2840
Yes, some wacky stuff is going on here

[2015-10-06 23:20] chadrolfs opened #2842 "No user feedback when attempting to edit unsupported files with long names"
Open a 3D doc via double-clicking on a 3D asset in CC Library

Result: long name truncates and user has no idea the file is unsupported.

![screen shot 2015-10-06 at 4 18 34 pm](https://cloud.githubusercontent.com/assets/8442631/10325445/27126fe0-6c46-11e5-9fa6-4eb94da95fbe.png)

[2015-10-06 23:22] DivyaPrabhakar opened #2843 "Document header resets when mask mode is active"
Repro:

1. Create a lot of new documents so there is overflow in the document header
2. Press "m"
3. Header should clear and then open all the documents again. Exaggerated flicker.

[2015-10-06 23:23] #2547 closed

[2015-10-06 23:23] #2630 closed

[2015-10-06 23:25] chadrolfs commented on #2842
related to #2547

[2015-10-06 23:25] shaoshing commented on #2842
We show an exclamation after the filename for unsupported documents. Guess it got truncated due to the long file name. Also, shall we make the mark more noticeable for the user?

<img width="423" alt="screen shot 2015-10-06 at 4 23 23 pm" src="https://cloud.githubusercontent.com/assets/118264/10325500/b7198e02-6c46-11e5-930a-366104dd159c.png">

[2015-10-06 23:26] chadrolfs commented on #2842
That would be great!

[2015-10-06 23:27] iwehrman commented on #2843
The problem specifically here is the exaggerated flicker. It should be possible to repro this also with Help > Test Action Failure. The fix is to ensure that the DocumentHeader sCU does not allow rendering when the controller is resetting.

[2015-10-06 23:37] iwehrman commented on #2824
FBNC to @ktaki. The "X" is designed to clear the input. It is now only visible when the search field is non-empty.

[2015-10-06 23:40] pineapplespatula commented on #2122
We only seem to have an icon for missing(yellow triangle in classic) and not for reflow( white triangle in classic)

I will have both warnings use the missing icon for now.

[2015-10-06 23:45] iwehrman commented on #2842
The exclamation mark used to be red, and I think it still should be. Maybe we should just move it to the left of the title? Where the "dirty" marker is?

[2015-10-06 23:47] iwehrman commented on #2571
@DivyaPrabhakar: can you just try to expand the widths of the inputs _a little bit_ to accommodate the wider strings as shown in the pictures above? It might not be possible for JA. I don't want to make any major changes right now; just small tweaks.

[2015-10-06 23:48] iwehrman commented on #2842
@DivyaPrabhakar: Make the exclamation mark (i.e., the "unsupported file warning marker") red and move it to the left of the title.

[2015-10-06 23:51] iwehrman commented on #2493
Also the triangle is slightly disconnected.
![image](https://cloud.githubusercontent.com/assets/1075154/10325926/6d1ae716-6c4a-11e5-8d97-b1ffcae48023.png)

[2015-10-06 23:52] iwehrman commented on #2778
Fixed by #2829.

[2015-10-06 23:52] #2778 closed

[2015-10-07 00:07] iwehrman opened #2846 "Tabs should have close buttons"
... so that you can close the non-active document without activating it first.

Unfortunately, this is not currently possible in standard Photoshop: the close-document action descriptor only works on the active document.

[2015-10-07 00:08] tiburbage commented on #2193
https://watsonexp.corp.adobe.com/#bug=4018312 is fixed in the team sandbox @1046575. Note on Mac it introduced a redraw regression on Mac (https://watsonexp.corp.adobe.com/#bug=4069728) that will likely be addressed before integrating it to staging, so if not in a hurry, wait for our integration...

[2015-10-07 00:08] #2193 closed

[2015-10-07 00:10] iwehrman commented on #2826
FBNC to @chadrolfs.

[2015-10-07 00:10] iwehrman commented on #2777
FBNC to @chadrolfs.

[2015-10-07 00:11] iwehrman commented on #2710
Closing this on behalf of @designedbyscience since he filed it, he fixed it, and we both darn well believe it to be fixed.

[2015-10-07 00:11] #2710 closed

[2015-10-07 00:35] ktaki opened #2848 "Confusing icon 'x' in the search dialog"
Most of people think that 'x' in the search dialog is for dismissing the dialog. It is, however, meant to be clearing the input. The icon need to be modified to avoid confusion.

[2015-10-07 00:36] ktaki commented on #2824
A Ha! Opened #2848 as UI issue.

[2015-10-07 00:36] #2824 closed

[2015-10-07 00:37] iwehrman commented on #2848
This is the pattern in use:
![image](https://cloud.githubusercontent.com/assets/1075154/10326506/d9d446e4-6c50-11e5-89da-c498d4a1eeba.png)

[2015-10-07 02:38] chadrolfs opened #2849 "Placing CC Lib asset breaks scrim layer highlighting"
https://www.dropbox.com/s/kty0gmxwvhhwypo/CCLibAsset-breaksLayerHighlight.mov?dl=0

[2015-10-07 02:40] #2779 closed

[2015-10-07 02:49] #2759 closed

[2015-10-07 03:26] iwehrman commented on #2849
Weird. Looks like a policy problem. I wonder if @shaoshing's current branch in his open PR #2837 solves this?

[2015-10-07 04:36] iwehrman opened #2850 "Panning the canvas should dismiss the sampler HUD"
It blinks away when panning due to the UI cloaking, but then it comes back, most likely positioned over the wrong object on the canvas.

[2015-10-07 05:05] iwehrman commented on #2799
@pineapplespatula: do you mind verifying the fix?

[2015-10-07 05:37] iwehrman commented on #2483
Fixed by @placegraphichere and/or @designedbyscience.

[2015-10-07 05:37] #2483 closed

[2015-10-07 13:58] designedbyscience commented on #2564
Updates to this one:

For opaque colors, we shouldn't be seeing the white corners anywhere.
For colors with alpha < 1, there will be white corners still and I'm not sure what we should do as that is a Chrome rendering bug that appears in standard desktop Chrome still

[2015-10-07 15:49] chadrolfs commented on #2836
Worse than I thought:
new doc,
drag a CC Library graphic asset onto canvas, Enter to place
hit r key for Rect tool

Result: you get standard PS rotation tool.  if you hit Q, you go into quick mask mode.

[2015-10-07 15:53] mcilroyc commented on #2766
FBNC to @chadrolfs for validation

[2015-10-07 15:55] mcilroyc commented on #2767
LGTM, but FBNC to @chadrolfs

[2015-10-07 16:28] chadrolfs commented on #2710
huzzah!  Looks great!

[2015-10-07 16:32] chadrolfs commented on #2122
works for me, thanks!

[2015-10-07 16:49] mcilroyc commented on #2196
FBNC to @chadrolfs

[2015-10-07 17:29] chadrolfs commented on #2368
https://watsonexp.corp.adobe.com//#bug=4070186

[2015-10-07 17:33] iwehrman commented on #2368
[DECISION] Pasting AI objects will default to "smart object"

[2015-10-07 17:46] iwehrman commented on #2493
Fixed by #2853.

[2015-10-07 17:46] #2493 closed

[2015-10-07 18:11] mcilroyc commented on #2843
To @DivyaPrabhakar for validation of the fix

[2015-10-07 18:13] DivyaPrabhakar commented on #2843
Looks good @mcilroyc!

[2015-10-07 18:13] #2843 closed

[2015-10-07 18:29] pineapplespatula commented on #2799
Nicely done this looks good

[2015-10-07 18:29] #2799 closed

[2015-10-07 18:49] pineapplespatula commented on #2813
@ktaki is this issue still occurring?

[2015-10-07 18:55] chadrolfs opened #2855 "Doc titles no longer showing"
Open several documents

Result: nothing in title bar.  they are still listed under the Window menu

[2015-10-07 18:56] iwehrman commented on #2855
I probably broke this somehow with #2847.

[2015-10-07 19:00] DivyaPrabhakar commented on #2855
@chadrolfs happened to me too. I checked and yes, @iwehrman it was your PR

[2015-10-07 19:00] chadrolfs commented on #2855
looks fixed now with last git pull

[2015-10-07 19:00] iwehrman commented on #2855
I can't repro this. Are there different steps?

[2015-10-07 19:03] DivyaPrabhakar commented on #2855
@iwehrman close all documents in Ds and Ds completely. Restart it and then try to create new document.

[2015-10-07 19:19] shaoshing commented on #2836
I've updated how we restore policies for placing graphic asset in PR 2837. However this issue is not entirely fiexd becaue we are not receiving the "placeEvent" from Photoshop (729), so the new layer is not added to DS.

[2015-10-07 19:22] #2668 closed

[2015-10-07 19:22] shaoshing commented on #2849
@iwehrman this is not related to the PR. I will look into it.

[2015-10-07 19:23] #2496 closed

[2015-10-07 20:13] ktaki commented on #2813
I do not see the error in console anymore. However, 'a' does not work most of the time. It seems the mode got stuck in transformation mode.

[2015-10-07 20:30] pineapplespatula commented on #2667
#2798 should fix this

[2015-10-07 20:47] #2766 closed

[2015-10-07 20:54] mcilroyc commented on #2683
FBNC to @ktaki

[2015-10-07 21:03] mcilroyc commented on #2855
FBNC to @chadrolfs

[2015-10-07 21:08] chadrolfs opened #2859 "Re-entering Mask mode to edit results in free transform error"
Open an image (target a pixel layer)
hit m to enter Mask Mode
hit r for Rect tool and drag out a shape
hit a to edit vector anchor points and drag an anchor point
hit m to exit Mask mode
hit m to re-enter Mask mode
hit a to edit and click on an anchor point

Result: `Photoshop returned from free transform path modal state with an error`

https://www.dropbox.com/s/51w812lij670ury/Mask-edit-Err.mov?

[2015-10-07 21:12] chadrolfs opened #2860 "Hitting Delete upon entering Mask mode should remove existing mask"
Deleting a mask should be easy and straight forward.

Open an image (target a pixel layer)
hit m to enter Mask Mode
hit r for Rect tool and drag out a shape
hit m to exit Mask mode
hit m to re-enter Mask mode
hit Delete

Result: nothing
Expect: Mask is removed

Workaround: enter mask mode, hit a, then hit Delete.

[2015-10-07 21:13] chadrolfs commented on #2860
If there is no mask, hitting Delete should do nothing if you're in Mask edit mode.

[2015-10-07 21:18] iwehrman opened #2861 "CC Libraries asset names do not scale with UI"
Here's the UI with a root font-size of 43%:
![image](https://cloud.githubusercontent.com/assets/1075154/10351418/4be74210-6cfe-11e5-8b72-d120d7b85f6a.png)

Here's the UI with a root font-size of 100%:
![image](https://cloud.githubusercontent.com/assets/1075154/10351407/46f3c10c-6cfe-11e5-9bf2-0a6a644c07d7.png)

[2015-10-07 21:38] pineapplespatula commented on #2859
exiting the modal state without changing anything results in a PS error. I think it is too late in the cycle to change this in PS,
i could change the log.error to just a warning, if you would prefer

[2015-10-07 22:02] #2855 closed

[2015-10-07 22:07] iwehrman commented on #2482
CNR on Win pgdev.715. Back to @chadrolfs.

[2015-10-07 22:10] iwehrman commented on #2490
I don't think I understand the bug. I don't see anything out of the ordinary on Windows. If there is a subtle focus transfer problem, can you try to give very concrete repro steps? Also, are we sure this is still a high-priority bug?

[2015-10-07 22:18] tiburbage commented on #2368
Note original John Peterson checked in a change related to a specific aspect of the "paste AI vector shape from the clipboard" issues: https://watsonexp.corp.adobe.com/#bug=4065431 and this bug has been closed.

[2015-10-07 22:29] chadrolfs commented on #2707
http://cl.ly/image/2I062J1q1923

[2015-10-07 22:33] chadrolfs opened #2863 "CC Lib: content fails to download updated version; cache validation needed"
This asset is actually empty but cache on my machine still returns path successfully but fails when attempting to place or open to edit.

need a way to validate cache using the api.

![screen shot 2015-10-07 at 3 31 09 pm](https://cloud.githubusercontent.com/assets/8442631/10353124/be58bb80-6d08-11e5-9860-9be024247d92.png)

[2015-10-07 22:37] iwehrman commented on #1345
@jsbache claims this is now fixed. FBNC to @chadrolfs.

[2015-10-07 22:39] iwehrman commented on #1345
Actually, this is entirely a dev issue, and I'm looking at it right now and it's clearly fixed, so I'm closing it. @chadrolfs: re-open if you disagree.

[2015-10-07 22:39] #1345 closed

[2015-10-07 22:42] iwehrman commented on #1906
All these cases seem fixed to me. FBNC to @chadrolfs.

[2015-10-07 22:44] iwehrman commented on #2581
CNR for me on Windows pgdev.715. Back to @ktaki.

[2015-10-07 22:46] iwehrman commented on #2004
When I slide three fingers to the left, the canvas disappears and I never see the touch UI... Windows pgdev.715.

[2015-10-07 22:47] iwehrman commented on #1941
When I pan with the trackpad, the canvas just seems to go down and off the screen no matter what. Windows pgdev.715.

[2015-10-07 22:49] iwehrman commented on #1780
CNR for me on Windows pgdev.715. Back to @chadrolfs.

[2015-10-07 22:50] iwehrman commented on #2490
Also, is this different from #2753?

[2015-10-07 22:51] #2842 closed

[2015-10-07 22:54] iwehrman commented on #2770
FBNC. Over to @chadrolfs to verify.

[2015-10-07 22:54] iwehrman commented on #2099
Do we need a Watson bug for this? Or should we just close it?

[2015-10-07 22:55] chadrolfs commented on #1780
Yeah, this looks like it's no longer an issue with the updated UI

[2015-10-07 22:56] tiburbage commented on #2696
Watson also closed: https://watsonexp.corp.adobe.com/#bug=4067884

[2015-10-07 22:56] chadrolfs commented on #2099
Without a repro case, I'm closing.  Could be a multitude of possible causes that may have nothing to do with us.

[2015-10-07 22:56] #2099 closed

[2015-10-07 22:58] chadrolfs commented on #2196
Closing this, but #2861 is related.

[2015-10-07 22:58] #2196 closed

[2015-10-07 23:11] chadrolfs opened #2864 "CC Lib: force Create/Cancel when creating a new library"
new doc
drag out some rects on canvas
click on Libraries drop down > Create New Library
give it a name and hit Enter twice, then hit Delete or drag an asset onto the canvas

Result: you're now in a state where you can continue working on your document, switch tools, etc, but you still haven't clicked Cancel or Create yet and you can continue to use assets for a library that is still active in the

[2015-10-07 23:11] chadrolfs commented on #2197
partially fixed.  assets from current library should be hidden.  see related bug #2864

[2015-10-07 23:16] #2482 closed

[2015-10-07 23:21] shaoshing commented on #2791
Assign back to @iwehrman in case he has other plan for this issues.

[2015-10-07 23:23] shaoshing commented on #2770
@chadrolfs This is fixed but it has the side effect described in #2849 which I am working on

[2015-10-07 23:28] iwehrman commented on #2861
Marking this as FIX NOW because it will block any future work to correct the UI size on SP3. See: #2235.

[2015-10-07 23:32] chadrolfs commented on #2545
This is a case specific to 3D so let me know if you want me to open as a separate issue and close this one.

1. you can still edit/change a 3D image
https://www.dropbox.com/s/ib374gz8g6sko0y/3D-edit-pt1.mov?dl=0

2. bad things ensue after you do if you try to edit again
https://www.dropbox.com/s/2m7goi49fhx9pnm/3D-edit-pt2.mov?dl=0

[2015-10-07 23:47] #2642 closed

[2015-10-07 23:50] #2770 closed

[2015-10-07 23:51] #2767 closed

[2015-10-07 23:52] #2669 closed

[2015-10-08 00:04] ktaki opened #2866 "Open Recent does not list a doc saved and closed at the same time"
New doc, dirty it, and close it. In save? dialog, give a name  and save it. Open menu File -> Open Recent
RESULT: the file name is not listed.

[2015-10-08 00:05] chadrolfs opened #2867 "CC Lib: asset placed on canvas does not show up in layers panel"
workaround: move the artboard containing it will refresh but result in:
`Action layers.resetIndex failed: Error: Too many layers in layer index`

[2015-10-08 00:22] chadrolfs opened #2868 "Flux error: re-entering Mask Mode fails"
Open a simple doc (containing 2 pixel layers)
with the top layer selected, hit m to enter mask mode
hit r for Rect tool and drag out a shape
hit a for direct select tool
click out side mask (deselects)
hit m to exit mask mode
hit m to re-enter mask mode

Result: `Action tools.changeVectorMaskMode failed: TypeError: Cannot read property 'flux' of undefined`
re-entering mask mode fails

https://www.

[2015-10-08 00:23] ktaki opened #2869 "Error by re-entering vector mask mode"
Create a vector mask and end vector mask mode. Then go back to vector mask mode.

Action tools.changeVectorMaskMode failed: TypeError: Cannot read property 'flux' of undefined

![screen shot 2015-10-07 at 5 20 58 pm](https://cloud.githubusercontent.com/assets/2029597/10354752/128ca7b6-6d18-11e5-9707-1b7975614647.png)

[2015-10-08 00:24] #2671 closed

[2015-10-08 01:26] iwehrman commented on #2791
Nope! The only other action item here would to reconsider our use of many `transfer` calls in place of coarser actions that manage concurrency manually in order to improve performance. An example is `tools.beforeStartup` which was previously transferring to `addShortcut` once for each tool shortcut. After #2790, these are all serialized because they all write to the policy store. I added a new act

[2015-10-08 01:26] #2791 closed

[2015-10-08 01:40] iwehrman commented on #2836
@shaoshing is a new Watson bug needed for the missing `placeEvent`?

[2015-10-08 14:54] chadrolfs commented on #2869
#2868

[2015-10-08 15:11] mcilroyc commented on #1942
Hey @chadrolfs, since the more serious sub-bug #2 (layer visibility out of sync wrt canvas) has been addressed, do you think we can kick this out of M3?

It seems like the behavior now is to select the parent group of the un-deleted-and-previously-invisible layer/group, which doesn't seem unreasonable.

[2015-10-08 16:00] mcilroyc commented on #2004
Hey @chadrolfs I warned you I'd come-a-askin bout this.  I think you agreed to help.  Can you please run the first (all-events) snippet in dev tools listed on [this wiki page](https://github.com/adobe-photoshop/spaces-design/wiki/DevTools-Snippets), and then send the output when you swipe-to-undo on a touch device?  I'm looking to see what events PS throws at us.

[2015-10-08 16:06] chadrolfs commented on #1942
I think I got the 2nd issue confused.  As I originally reported it, it isn't actually addressed.  It being out of sync is indeed fixed but restoring the visibility state isn't.  Quick repro: drag out 3 rects, select one, turn visibility off, then delete, then undo.  Result: layer is returned but with visibility on.

If you repeat this in standard PS, the visibility state is retained via undo and s

[2015-10-08 16:07] #2869 closed

[2015-10-08 16:07] chadrolfs commented on #1942
I'm totally fine deferring or never fixing the issue restoring the selection, but visibility state needs to be fixed.

[2015-10-08 16:13] shaoshing commented on #2836
@iwehrman Jesper updated the watson bug saying the `placeEvent` needs to be disabled for graphic asset for now due to

[code]

I think I will hook up the addLayer to the `toolModalStateChange` event and that should fix the problem. working on a fix now.

[2015-10-08 16:17] chadrolfs commented on #2861
:+1:

[2015-10-08 16:17] shaoshing commented on #2867
FYI, this is the leftover from #2836

[2015-10-08 16:26] ktaki commented on #2581
This is no longer happening.

[2015-10-08 16:31] chadrolfs commented on #2861
Eric can you take this?  If not, please pass along to Shaoshing.  Thanks!

[2015-10-08 16:34] chadrolfs commented on #1941
Seeing same thing on playground.1620

[2015-10-08 16:42] ktaki commented on #2490
I can close this as fixed. #2753 remains as an issue.

[2015-10-08 16:42] #2490 closed

[2015-10-08 16:49] ktaki opened #2870 "Font color set in Appearance panel is not applied to text"
Add a text layer and start typing. Open color picker and choose a new color. Close color picker click on the text layer at the end of text to continue typing.
RESULT: New color shown in Appearance panel is not applied.

[2015-10-08 16:53] chadrolfs commented on #1780
I was actually able to repro this.  If you click in the field and slightly move your mouse at the same time, you'll get into this state.  low pri, not M3.
http://cl.ly/image/2F2w361Q0t0P

[2015-10-08 16:57] ktaki commented on #2683
Verified the fix.

[2015-10-08 16:57] #2683 closed

[2015-10-08 16:58] chadrolfs commented on #2004
yessir

[2015-10-08 17:37] iwehrman commented on #2571
[Watson 4058099](https://watsonexp.corp.adobe.com/#bug=4058099)

[2015-10-08 17:53] ktaki commented on #1055
I am sending this back to you @chadrolfs. I cannot reproduce this at my end.

[2015-10-08 17:57] chadrolfs commented on #2711
declaring this fixed

[2015-10-08 17:57] #2711 closed

[2015-10-08 17:58] ktaki commented on #2813
This error is no longer happening, but the action still causes an error. Reported as #2868. Closing this one.

[2015-10-08 17:58] #2813 closed

[2015-10-08 18:10] ktaki commented on #2224
There are still some other cases where shapes and text cannot be created on canvas. They are reported and tracked in the issue #2831. Closing this issue.

[2015-10-08 18:10] #2224 closed

[2015-10-08 18:12] chadrolfs commented on #1906
YAY!

[2015-10-08 18:12] #1906 closed

[2015-10-08 18:27] shaoshing commented on #2836
I am pausing my work on this until Jesper and Tai figure out whether or not Photoshop should emit the `placeEvent` for placing graphic from libraries.

[2015-10-08 18:35] designedbyscience opened #2873 "Smart Object properties change type"
Sometimes layer.smartObject is a vanilla object, sometimes it is BitmapIndexedNode.

It should be a vanilla object.

It seems to be set correct on reset of Design Space but when selecting a layer, it changes.

[2015-10-08 18:52] mcilroyc commented on #1942
Reporting a quick finding:  With the "three rect" repro scenario that chad mentioned above, there is indeed a difference between PS and DS.  But interestingly, it has to do (it seems) with where the layer creation/deletion takes place, not the undo.  In other words, if I set up the scenario in one system, then regardless of which one I use to "step back", the behavior is consistent between the two

[2015-10-08 19:39] shaoshing commented on #2836
Jesper's work in dev.739 fixes the issue perfectly. @chadrolfs can you verify?

[2015-10-08 19:39] shaoshing commented on #2867
This should be fixed as well with the fix of issue #2836.

[2015-10-08 19:46] mcilroyc commented on #2873
I can confirm that the `merge` in model/layer's `resetFromDescriptor`.  Ian's suggestion of creating a new record type for SmartObject seems like it will solve this.  Although, I will note *this* seems a little fishy to me: ![ss](http://cl.ly/image/0b1P1j430U0F/Image%202015-10-08%20at%202.44.21%20PM.png) - like maybe Immutable is being weird.  cc @iwehrman

[2015-10-08 19:46] tiburbage commented on #2383
We've closed the Watson issue:
Tested with our latest builds and DS with the cited .psd on both Mac and Windows, comparing standard UI and DS, and see no noticable difference in pan performance.

[2015-10-08 19:46] #2383 closed

[2015-10-08 20:48] #2752 closed

[2015-10-08 20:50] chadrolfs commented on #2763
reviewed - no M3

[2015-10-08 21:21] chadrolfs commented on #2846
reviewed - no M3

[2015-10-08 21:24] chadrolfs commented on #2740
reviewed - no M3

[2015-10-08 21:45] iwehrman commented on #2873
I suggest creating a new `SmartObject` model and then using the ol' static construction function + update method pair.

[2015-10-08 22:00] iwehrman commented on #2235
@ktaki: as of CL 1046822 (Windows pgdev.718) I believe this is fixed. The change may have adjusted the UI size on other Windows systems which have hi-dpi displays. However, I think the sizes on those displays should also now be "correct", in that they should be the same as on retina Macs. Back to you to verify the UI size on an SP3 and on any other hi-dpi Windows systems you can find. (I think @jf

[2015-10-08 22:45] iwehrman commented on #2861
Fixed by #2875.

[2015-10-08 22:45] #2861 closed

[2015-10-08 22:47] iwehrman opened #2878 "Intra-panel borders do not scale with UI"
100%:
![image](https://cloud.githubusercontent.com/assets/1075154/10381932/9f5c1fd0-6dd3-11e5-9b14-fdaf7a8d15c4.png)

50%:
![image](https://cloud.githubusercontent.com/assets/1075154/10381940/b0c06de4-6dd3-11e5-8c82-5a34fc5da17c.png)

25%:
![image](https://cloud.githubusercontent.com/assets/1075154/10381947/bf921ade-6dd3-11e5-9669-d4863f07733b.png)

[2015-10-08 22:49] iwehrman commented on #2873
FBNC to @designedbyscience.

[2015-10-08 22:57] mcilroyc commented on #1942
Update: something about the way we are deleting layers is causing the 'step back' to make-visible the undeleted layer.  As I mentioned above, it is possible to repro this 'step back' behavior if you do so on a layer that was deleted in DS.  I'm not sure this is a core *bug*, but I think I will need core *support* in troubleshooting this.  cc @chadrolfs

to be honest, I don't even think this is an

[2015-10-08 22:59] mcilroyc commented on #2802
seems to have been fixed, probably by the transfer queue PR.

[2015-10-08 22:59] #2802 closed

[2015-10-08 23:07] chadrolfs commented on #1942
it seems we are at a stalemate which requires someone above our pay grade to make the call. @zoranagee @placegraphichere

[2015-10-08 23:12] ktaki commented on #2235
It looks good on SP3.

[2015-10-08 23:47] chadrolfs commented on #2836
Getting access or stuck with standard PS tools looks fixed but I'm still seeing the standard PS AB UI on windows with dev.721 and master @ 3bc3356

[2015-10-08 23:52] chadrolfs commented on #2836
hmmmm, maybe it is fixed, having a hard time repro'ing now.

[2015-10-08 23:54] chadrolfs commented on #2836
definitely harder to repro now.  might be a timing thing but here it is:
![2ui](https://cloud.githubusercontent.com/assets/8442631/10382853/444c9778-6ddd-11e5-9fa2-962c821c4b7f.png)

[2015-10-08 23:55] #2867 closed

[2015-10-08 23:55] #2868 closed

[2015-10-08 23:56] #2859 closed

[2015-10-09 00:21] iwehrman opened #2880 "Add JSCS rule requireSpaceAfterComma"
When grunt-jscs supports at least jscs version 2.3, we should add the `requireSpaceAfterComma` rule to our config:

http://jscs.info/rule/requireSpaceAfterComma

[2015-10-09 00:25] iwehrman commented on #2122
This is essentially FBNC after #2845, but I'm re-assigning it to @placegraphichere so that we can get the extra warning icon. @ktaki please feel free to test with the caveat that both conditions show the same icon at the moment.

[2015-10-09 00:38] iwehrman commented on #2122
Also demoting this to medium priority.

[2015-10-09 01:13] #2826 closed

[2015-10-09 01:13] #2777 closed

[2015-10-09 01:16] #2667 closed

[2015-10-09 01:17] iwehrman commented on #1781
@chadrolfs @tiburbage: is there a new Watson bug associated with this?

[2015-10-09 01:28] chadrolfs commented on #2775
https://watsonexp.corp.adobe.com/#bug=4071094

[2015-10-09 01:35] iwehrman commented on #1903
This seems to be a core bug. [Watson 4071097](https://watsonexp.corp.adobe.com/#bug=4071097).

[2015-10-09 14:42] zoranagee commented on #1942
Not ideal - but fine to be kicked out of M3. At least all the data is restored.

[2015-10-09 14:55] iwehrman commented on #1613
When I select two artboards (each with two rectangles inside) and option-drag copy them, I get:
`Verification of postcondition 1 failed for action layers.addLayers`, which is `_verifyLayerSelection`. This might be spurious however (since we're processing the events out of sync with the action?) because the selection looks OK to me.

[2015-10-09 14:59] iwehrman commented on #1613
Other than that, I can't break it. So, besides some requests for additional in-line documentation and a question about a different debounced handler, I'm basically satisfied for the time being. Also, to reiterate our discussion off-line: what need for a longer-term solution is to articulate a core request for how all these notifications ought to work, or at least how they could be changed to be si

[2015-10-09 15:07] mcilroyc commented on #1613
@iwehrman I think your last two comments were supposed to be in the PR... but anyway:  At first glance I do think the verifyLayerSelection failure is spurious and not easily avoidable, but I'll look more closely.

[2015-10-09 15:07] iwehrman commented on #2775
According to CJB, this is as designed.

[2015-10-09 15:10] iwehrman commented on #1613
(Derp. Moved them over for later readability.)

[2015-10-09 15:33] mcilroyc commented on #2801
close it your dang self, wehrm

[2015-10-09 15:40] mcilroyc commented on #1942
Thanks Z.  I'm bumping this down a notch.  Also, I'd like to recommend that we actually split this up in to two separate enhancement requests:

1. Better post-undo layer selection when a deleted invisible layer is involved (needs design input)
1. Modify delete layers so that after deleting an invisible layer, stepping back to that history state won't make the layer visible (possible core support)

[2015-10-09 15:43] iwehrman commented on #2801
Fine. I will. FIXED BY #2876.

[2015-10-09 15:43] #2801 closed

[2015-10-09 15:50] chadrolfs commented on #1942
Sounds good, thanks!

[2015-10-09 15:53] designedbyscience commented on #2873
Yay! Thanks Cory

[2015-10-09 15:53] #2873 closed

[2015-10-09 15:55] chadrolfs commented on #2775
Yeah, makes me a little sad.

[2015-10-09 15:55] #2775 closed

[2015-10-09 16:06] chadrolfs commented on #1781
I thought there was but I can't find anything

[2015-10-09 16:08] iwehrman commented on #2608
FBNC to @designedbyscience.

[2015-10-09 16:11] iwehrman commented on #1781
I feel like @tiburbage knows something about this... Can you ask him about it in the standup today?

[2015-10-09 16:14] chadrolfs commented on #1781
https://watsonexp.corp.adobe.com/#bug=4071529

[2015-10-09 17:07] DivyaPrabhakar commented on #2629
@iwehrman @designedbyscience

I am not sure what happened to the screenshot I posted yesterday but how does this look?
![](https://www.dropbox.com/s/5ygsjxmciq3wknw/Screenshot%202015-10-08%2015.51.49.png?raw=1)

[2015-10-09 17:09] designedbyscience commented on #2629
Consistent!

[2015-10-09 17:21] iwehrman commented on #2629
It looks like the subheaders in the libraries panel are somewhat dimmed compared to the header, but not in the effects panel. I like the fact that they're somewhat dimmed in the libraries panel because it helps to distinguish between the header and subheaders. I would be in favor of making a similar change to the effects panel. Any thoughts, @DivyaPrabhakar or @designedbyscience or @placegraphiche

[2015-10-09 17:30] DivyaPrabhakar commented on #2629
I agree with Ian. It is a subtle color change but the all caps and the close size of the headers and subheaders make them look quite similar so distinctions are good. Also something that I wanted to bring attention to is that the Libraries panel has so much space between the naming input and the first subheader. In terms of consistency, where other panels do not have this space, should changes be

[2015-10-09 17:33] chadrolfs commented on #2682
#2670

[2015-10-09 17:33] #2682 closed

[2015-10-09 17:34] chadrolfs commented on #2670
sucking in comments from #2682 and closing that one as a dupe since this one has more comments:

Press 'm' to enter the vector mask transform mode.
Hit Esc - Enters editing mode
Hit Esc - Enters transform mode
Hit Esc - Enters editing mode
Hit Esc - Exits vector mask mode
The doc title stays blue. <--- Redraw issue?

[2015-10-09 17:35] #1055 closed

[2015-10-09 17:51] ktaki commented on #2804
We should show the font name with an indication of the font is missing. In standard Ps, the font name is surrounded by [ ].

[2015-10-09 17:52] ktaki commented on #2123
Now it shows blank. The issue is tracked by #2804. Closing this one.

[2015-10-09 17:52] #2123 closed

[2015-10-09 17:59] ktaki commented on #2122
Icons show up fine. Yes, we need to distinguish the two cases, missing font and reflow.

[2015-10-09 18:22] ktaki opened #2886 "A menu item is needed for opening resolve missing fonts dialog"
Otherwise, user needs to close and reopen a doc with missing font to open the dialog.

[2015-10-09 18:32] chadrolfs opened #2887 "Opening a file without fixing broken link to Linked Smart Object errors and app unresponsive."
Open file with a broken Linked Smart Object (possibly a file saved from a different machine)
note: should force dialog - Cannot locate linked assets:
click Cancel

Result: UI blinks and app becomes unresponsive.

`Transfer from documents.allocateDocument to documents.updateDocument failed: TypeError: Expected [K, V] tuple: M`

[2015-10-09 18:32] chadrolfs commented on #2887
<img width="917" alt="screen shot 2015-10-09 at 11 27 18 am" src="https://cloud.githubusercontent.com/assets/8442631/10402307/78d4af0c-6e79-11e5-9c3d-777fc9d45d68.png">
![screen shot 2015-10-09 at 11 30 26 am](https://cloud.githubusercontent.com/assets/8442631/10402306/78d3d7ee-6e79-11e5-988a-611df16def24.png)

[2015-10-09 18:33] #1990 closed

[2015-10-09 18:34] #2083 closed

[2015-10-09 18:35] chadrolfs commented on #2887
using latest dev build 743 and master @ 20f8742f7188333db70ddac6688838d118723917

[2015-10-09 18:36] iwehrman commented on #2629
That could be intentional (in the short term) in order to accommodate the create/rename pseudo-dialog. But I agree that it looks weird.

[2015-10-09 19:45] #1858 closed

[2015-10-09 19:51] mcilroyc commented on #2887
CNR.  back to @chadrolfs for extra guidance on repro.  Please also try branch mcilroy/issue-2887 to see if it fixes the issue.

[2015-10-09 20:08] chadrolfs commented on #2887
what i get on your branch now:

![screen shot 2015-10-09 at 1 02 02 pm](https://cloud.githubusercontent.com/assets/8442631/10404332/c487fe60-6e86-11e5-9947-cbf70d0e2e80.png)

[2015-10-09 20:15] chadrolfs commented on #2887
@ktaki or @shaoshing can you repro this?  sending you a test file...

[2015-10-09 20:21] shaoshing commented on #2887
@chadrolfs @mcilroyc  I can reproduce with the test file. Running on dev.743 and latest master.

[2015-10-09 20:24] shaoshing commented on #2887
Except for `initActiveDocument`, I am also getting two `Verification of postcondition 0 failed for action documents.open` errors.

<img width="680" alt="screen shot 2015-10-09 at 1 24 33 pm" src="https://cloud.githubusercontent.com/assets/118264/10404688/1cbb7fd8-6e89-11e5-931b-79858a0619cf.png">

<img width="682" alt="screen shot 2015-10-09 at 1 23 17 pm" src="https://cloud.githubusercontent.com/

[2015-10-09 20:25] chadrolfs commented on #2887
Thanks @shaoshing!

[2015-10-09 20:26] mcilroyc commented on #2887
Alright guys, I can repro now.  I got a fresh version of your file, chad.  Mine had been corrupted.  Fix in progress.

[2015-10-09 20:29] chadrolfs commented on #1781
Comments from Jesper's checkin (builds ≥ 747 mac, 728 win):

I have marked the bug as fixed (with CL: 1047198), but notice
Javascript is wrong. mouse down at location X followed by mouse move at location X is *not* a drag operation. Your interaction only becomes a drag when your mouse move differs from the start position. Depending on the interaction you may have a "quick drag box" (means drag imm

[2015-10-09 20:29] chadrolfs commented on #1781
I just realized that the layer panel is a target where we have either a click or a drag interaction (so we have ambiguity when we get a mouse down):
click/control-hit selects the layer
drag moves the layer

Owl uses drag boxes to distinguish between click and drag (example is panel tabs, to tabgroup wells).
- When you interact with the UI using a mouse, then our drag box is 5 by 5 units. So you ha

[2015-10-09 21:00] designedbyscience commented on #2821
Back for verification

[2015-10-09 21:11] ktaki commented on #2821
Verified the fix.

[2015-10-09 21:11] #2821 closed

[2015-10-09 21:24] ktaki opened #2889 "Mask mode icon needs to be dimmed when sampler tool or type tool is selected"

[2015-10-09 21:29] DivyaPrabhakar commented on #2629
@designedbyscience @iwehrman @placegraphichere

How does this look, with respect to the title and subtitle colors now?

![](https://www.dropbox.com/s/y3qbo4gq8ozjsde/Screenshot%202015-10-09%2014.30.47.png?raw=1)

[2015-10-09 21:30] ktaki opened #2890 "Mask mode icon stays blue upon exiting mask mode"
Escaping out of mask mode won't update the mask mode icon to be white.

[2015-10-09 22:05] ktaki commented on #2670
Here is the latest behavior.

Press 'm' to enter the vector mask transform mode.
'a' - Enters editing mode
Hit Esc - Enters transform mode
Hit Esc - Exits vector mask mode
mask mode icon stays blue. (issue #2890)

The Esc key works only superselect tool is selected. Shouldn't it also work when shape tools are selected?

[2015-10-09 22:16] pineapplespatula opened #2892 "superselect tool in vector mask mode is broken when you eneter vector mask mode through a different tool"
steps:

on a document with a pixel layer
1: press 'r' to go to rect tool
2: press 'm' to go to vector mask mode
3: make a vector mask
4: press 'v' to got super select.
5: click and drag outside of the mask to rotate

result: modal state ends
expected: same behavior as if we entered vector mask mode in super select tool

[2015-10-09 22:23] pineapplespatula commented on #2892
@ktaki  do you see this behavior

[2015-10-09 22:56] mcilroyc commented on #2197
FBNC to @chadrolfs, again.

[2015-10-09 22:59] mcilroyc commented on #2864
@chadrolfs , @shaoshing claims this is fixed by his PR 2882

[2015-10-09 23:03] ktaki opened #2893 "Transform controls extended over toolbar and document title bar in vector mask transform mode"
In vector mask transform mode, rotation control sometimes extended over to toolbar and/or doc title bar making not possible to change tool or doc by clicking on them. Once this happens, exiting vector mask mode does not fix the problem. The cursor won't change to arrow over the toolbar or doc bar. Could this be another policy frame issue?

[2015-10-09 23:21] chadrolfs commented on #2004
![screenshot_fri_oct_09_16 18 42](https://cloud.githubusercontent.com/assets/8442631/10407553/b0ac7dce-6ea1-11e5-8059-45190f0a891b.png)
![Uploading screenshot_Fri_Oct_09_16.19.31.png…]()

[2015-10-09 23:33] chadrolfs commented on #1781
My fix only addresses Windows.
There is some chance that John's "don't send infinite mouse events fix" solves things on OSX, but as mentioned, javascript needs to update their drag interaction detection logic.
Jesper

[2015-10-09 23:43] shaoshing commented on #2836
The current win build failed to initialize event policy and seems unrelated to graphic drag-n-drop. You cannot even switch tools using the shortcut, or hover / click on layer. Chad mentioned some core issues so I assigned this back to him to verify. Please assign back to me if it can still be reproduced.

[2015-10-10 00:28] pineapplespatula commented on #2811
watson bug 4070997

[2015-10-10 01:03] #2887 closed

[2015-10-10 01:04] chadrolfs commented on #2836
Removing FIX NOW.  Hard to repro.  Only seen currently on Win with devtools.  If CNR without devtools, I will close this.

[2015-10-10 01:06] chadrolfs commented on #2564
This looks fixed to me now.  @designedbyscience?

[2015-10-10 01:08] chadrolfs commented on #2564
ah, i see what you're seeing.  http://cl.ly/image/2M252d363B0m

[2015-10-10 01:09] designedbyscience commented on #2564
Yea... I only have a mitigation I'm working on, and I'm not sure it is any better than we have now

[2015-10-10 01:10] designedbyscience commented on #2564
It is only particularly noticeable in a small range of alpha

[2015-10-11 03:33] placegraphichere commented on #2795
I'm partially fixing this issue. Only export and intro dialogs.

Search is a little more difficult since it tries to sit in the middle of the canvas, which is less reliably possible. See #2899

[2015-10-12 15:01] designedbyscience commented on #1890
@shaoshing is fixing this one, open PR #2883 for it that I am reviewing

[2015-10-12 15:10] designedbyscience commented on #1890
Fixed by #2883

[2015-10-12 15:10] #1890 closed

[2015-10-12 16:35] chadrolfs commented on #2596
Verified fix in standard PS, but not fixed on JS side.

[2015-10-12 16:48] ktaki commented on #2892
Yes, I did on Friday, and I do today.

[2015-10-12 16:51] chadrolfs commented on #2720
Can you repro this with compiled js without devtools?  Neither I nor cjb can repro.

[2015-10-12 17:03] chadrolfs commented on #2564
possibly deferrable.

[2015-10-12 17:36] joelrbrandt commented on #8
I think we should just close this.

[2015-10-12 17:36] #8 closed

[2015-10-12 17:39] chadrolfs commented on #590
https://watsonexp.corp.adobe.com/#bug=3947305

[2015-10-12 17:54] chadrolfs opened #2900 "File > New... dialog takes up the whole screen"
Start with fresh prefs
dismiss Hello
cmd + ctrl + ` to switch to DS
click to dismiss Intro
cmd + alt + n

Result:  giant dialog
Expect: constrained and centered dialog

[2015-10-12 17:54] chadrolfs commented on #2900
![screen shot 2015-10-12 at 10 54 06 am](https://cloud.githubusercontent.com/assets/8442631/10434637/a9f8c16a-70cf-11e5-91b6-83dd5ebc89df.png)

[2015-10-12 17:55] chadrolfs commented on #2900
second attempt has window sized correctly.

[2015-10-12 18:02] chadrolfs opened #2901 "Uncaught Photoshop error double-clicking on background layer"
cmd/ctrl + alt/opt + n
select : Default Photoshop Size, OK
double-click on layer name for Background layer

Result: `Transfer from tools.changeVectorMaskMode to layers.resetLayers failed: Error: Photoshop returned an error when playing command number: 1 Photoshop code: -25920 Photoshop message: error: -25920 message: The command “Get” is not currently available.
    at eval (eval at undefined, <an

[2015-10-12 18:12] iwehrman opened #2902 "Inconsistent borders along window edge"
The toolbar does not have a panel border:
![image](https://cloud.githubusercontent.com/assets/1075154/10434988/03689ad4-70d2-11e5-8c38-6414548c3471.png)

The icon bar does have a panel border:
![image](https://cloud.githubusercontent.com/assets/1075154/10435001/1669bcd0-70d2-11e5-81fa-bdfc9c3ca7cd.png)

And so does single-column mode:
![image](https://cloud.githubusercontent.com/assets/1075154/104

[2015-10-12 18:13] iwehrman commented on #2902
CC  @placegraphichere or @designedbyscience

[2015-10-12 18:20] chadrolfs opened #2903 "KBSC dialog: Mask Mode 'm' should be capitalized"

[2015-10-12 18:26] ktaki commented on #2900
This happens with standard Ps mode in pgDev 750, but not with today's mainline build m.249. Core issue?

[2015-10-12 18:27] chadrolfs commented on #677
@iwehrman is this still an issue?

[2015-10-12 18:29] chadrolfs commented on #692
@iwehrman should this still be open?

[2015-10-12 18:31] chadrolfs commented on #780
@iwehrman close?

[2015-10-12 18:32] chadrolfs commented on #820
https://watsonexp.corp.adobe.com//#bug=3975159

[2015-10-12 18:36] chadrolfs commented on #1076
perhaps never fix?

[2015-10-12 18:37] chadrolfs commented on #1319
If so, this is the bug https://watsonexp.corp.adobe.com/#bug=3972778

[2015-10-12 19:28] mcilroyc commented on #2901
assigning this to @pineapplespatula - but if this turns out to be unrelated to your ongoing vector mask work, you can assign it back to me.

[2015-10-12 19:35] iwehrman commented on #1613
FBNC to @ktaki. Please give this one a little extra love when verifying because some question remains about the correctness of the fix.

[2015-10-12 19:37] mcilroyc commented on #1613
Also @ktaki if you could please read through the description of the associated PR #2881 to see the related unreported issues that this fixes.

[2015-10-12 19:44] iwehrman commented on #2849
FBNC to @chadrolfs.

[2015-10-12 19:49] iwehrman commented on #2809
@chadrolfs: can you please verify that there are no longer any odd policy rectangles when bouncing in to and out of mask mode?

[2015-10-12 19:52] iwehrman commented on #2596
FBNC to @chadrolfs.

[2015-10-12 19:59] ktaki commented on #2900
https://watsonexp.corp.adobe.com/#bug=4072406

[2015-10-12 20:02] designedbyscience commented on #2804
FBNC over to @chadrolfs

[2015-10-12 20:22] #2903 closed

[2015-10-12 20:22] #2596 closed

[2015-10-12 20:30] ktaki commented on #2558
See the picture below. 8 document open and the last doc is selected, but it does not show full document name, in this case, "Untitled 8".

![screen shot 2015-10-12 at 1 27 58 pm](https://cloud.githubusercontent.com/assets/2029597/10437928/5506911c-70e5-11e5-819f-f2a1d1fea430.png)

[2015-10-12 20:37] iwehrman commented on #2900
I also saw this in standard PS the first time I created a new document after resetting my prefs.

[2015-10-12 20:56] ktaki commented on #1326
I thought we had a watson bug since we talked about this in our scrum several times. I could not find it, so here it is.
https://watsonexp.corp.adobe.com/#bug=4072425

[2015-10-12 21:31] chadrolfs commented on #1681
Apparently the core fix broke things on the other side of the fence.  They are reverting so this bug will once again re-occur.  Thanks to @fosterbrereton for the heads up.  Here is the core issue:
http://moriarty.corp.adobe.com/bug?bug=4071562

[2015-10-12 21:53] placegraphichere commented on #2795
This is now getting fully fixed in #2899

[2015-10-12 22:02] designedbyscience commented on #2902
@placegraphichere says the right border is incorrect. I'm on it

[2015-10-12 22:11] #2864 closed

[2015-10-12 22:11] #2197 closed

[2015-10-12 22:18] designedbyscience commented on #2608
I have another PR which addresses this even further #2908

[2015-10-12 22:29] iwehrman commented on #2902
Fixed by #2909.

[2015-10-12 22:29] #2902 closed

[2015-10-12 22:30] iwehrman commented on #2878
Fixed by #2909!!!

[2015-10-12 22:30] #2878 closed

[2015-10-12 22:34] ktaki commented on #1613
I spent over an hour to reproduce this issue on Mac and Windows. I saw the error happened on Mac twice and none on Windows. I think this issue has not been fixed completely, but now it is much harder to reproduce than before. If we want to improve this fix after 16.1, we can keep open this and remove M3 for now. How do you think?

[2015-10-12 22:57] chadrolfs commented on #2900
Removing FIX NOW because this isn't on us.

[2015-10-12 23:06] chadrolfs commented on #2836
Bounced watson.  Could repro without dev tools. comments in the watson bug

[2015-10-12 23:14] pineapplespatula commented on #2901
I cannot reproduce this bug. sending back to @chadrolfs  to verify it still happens

[2015-10-12 23:16] ktaki opened #2912 "Actions are queued during modal About Photoshop dialog is open"
Mac only. During Photoshop CC -> About Photoshop dialog is open, app window behind is still clickable and actions are queued.

Photoshop CC -> About Photoshop
Click iPhone 6 in the templates panel
Close About Photoshop dialog.
RESULT: New doc opens.
EXPECTED: No document opens.

The following scenario will result in unrecoverable error.
Photoshop CC -> About Photoshop
Click iPhone 6 in the templat

[2015-10-12 23:18] chadrolfs commented on #2901
Weird, I CNR now as well.  Hmmph

[2015-10-12 23:18] #2901 closed

[2015-10-12 23:18] #2809 closed

[2015-10-12 23:32] DivyaPrabhakar commented on #2629
FBNC @iwehrman

[2015-10-12 23:33] iwehrman commented on #2629
Fixed by #2884.

[2015-10-12 23:33] #2629 closed

[2015-10-12 23:36] chadrolfs opened #2914 "Intro Screen: character not recognized on Windows machine"
![ice_screenshot_20151012-163849](https://cloud.githubusercontent.com/assets/8442631/10441575/6c50c472-70ff-11e5-8591-9cadd8d662a8.png)

[2015-10-12 23:38] tiburbage opened #2915 "The transform system is getting borked when new artboards are created left/above"
1 - File > New > Artboard doc
2 - Select the artboard if it isn't already, then click on the left side "new artboard" widget
3 - Cmd+0

Notice where DS thinks the artboard is now (way offset to the left). The same thing will happen for the top, but not the right or bottom. I think we are in a pretty unstable state at this point. Repro's on Mac and Windows using the latest staging builds (10/12, la

[2015-10-12 23:43] ktaki commented on #2915
This issue has been reported as #2831. We still have border open policies issues.

[2015-10-12 23:43] iwehrman commented on #2915
Possibly related to #2881. Can somebody try to regress this with the commit before #2881 landed to see if that broke it?

[2015-10-12 23:45] chadrolfs commented on #2915
AB coords has been an issue for a while, see: #2754 #2756 and the one Taki mentioned above.

[2015-10-12 23:45] tiburbage commented on #2915
I looked at Artboard bugs and didn't see anything that sounded like a dup...

[2015-10-12 23:45] iwehrman commented on #2915
Eh, never mind, probably not related to #2881.

[2015-10-12 23:47] #2804 closed

[2015-10-12 23:48] chadrolfs commented on #2650
re-assigning to you until #2865 is merged

[2015-10-13 00:01] #2608 closed

[2015-10-13 00:07] ktaki opened #2917 "Typeface datalist field is not updated if text layers with missing fonts are selected consecutively"
Text layer A has a font missing, the name is font_a.
Text layer B has a font missing, the name is font_b.

Select the text layer A in layers panel. The typeface datalist now shows [font_a]. This is correct.
Then, select the text layer B in layers panel. The typeface datalist still shows [font_a]. This should be updated to [font_b].

Tested the fix for #2804.

[2015-10-13 00:11] iwehrman commented on #2915
This is high priority, but not a UIF stopper, so I'm swapping FIX NOW with High Pri.

[2015-10-13 00:24] tiburbage commented on #2415
https://watsonexp.corp.adobe.com/#bug=4068448 Closed/Fixed, regressed in staging: pg.1662 @1047439. So far as I can tell, the ActionDescriptor returned with the notification has the correct "replaceLayer" ids.

[2015-10-13 00:24] #2415 closed

[2015-10-13 00:31] #2914 closed

[2015-10-13 00:35] chadrolfs commented on #2558
Removing FIX NOW since this is a positional issue and issue as it was originally written no longer occurs (Export icon is no longer being overwritten by doc name).  The issue here now is that the last doc name is under the header icons, but clicking on it can correct.

[2015-10-13 00:40] iwehrman commented on #2795
This is not quite fixed. The centering logic does not yet take the toolbar and the icon bar into account. A better fix will probably require that JS provide the dialog center coordinate when positioning the dialog. Reopening.

[2015-10-13 00:58] tiburbage commented on #2751
Taki, Ian said in the Watson to assign to you and add the "Fixed but not closed" label. I've closed the Watson side as the fix is now in staging. Please verify as well with content you know will trigger the dialog just to be sure it is fixed.

[2015-10-13 01:06] tiburbage commented on #2757
Closed/Fixed: https://watsonexp.corp.adobe.com/#bug=4068470
Regressed in playground/...@1047501

[2015-10-13 01:06] #2757 closed

[2015-10-13 02:20] ktaki commented on #2558
No, clicking on it won't correct it, but I agree this is to be fixed by M3, not for UI F.

[2015-10-13 03:12] ktaki commented on #2751
Verified the fix on Mac. Will close this after testing it on Windows tomorrow morning.

[2015-10-13 04:51] chadrolfs opened #2920 "Broken Smart Object layer icon contrast against new color stop is too low"
<img width="264" alt="screen shot 2015-10-12 at 9 45 30 pm" src="https://cloud.githubusercontent.com/assets/8442631/10445743/5d1c501c-712b-11e5-97a8-1af0daf8fcbf.png">

[2015-10-13 05:16] chadrolfs commented on #2920
<img width="258" alt="screen shot 2015-10-12 at 10 16 35 pm" src="https://cloud.githubusercontent.com/assets/8442631/10446012/f3190a12-712e-11e5-92d0-355a34063010.png">

[2015-10-13 16:03] chadrolfs commented on #2783
grabbing this to verify fix

[2015-10-13 16:04] chadrolfs commented on #2639
grabbing to verify

[2015-10-13 16:04] #2038 closed

[2015-10-13 16:08] chadrolfs commented on #2639
If #2264 is addressed, that could impact this.  As of now, this is fixed.

[2015-10-13 16:08] #2639 closed

[2015-10-13 16:14] chadrolfs commented on #1632
Watson s1p1, assigned to JP.

[2015-10-13 16:37] ktaki commented on #2749
IMHO, the left arrow is for going back to the previous screen. If we prefer to go back to the beginning, the icon should look like |< . Anyway, I think this is good enough to go with 16.1. The improvements are due for 17.0. Closing.

[2015-10-13 16:37] #2749 closed

[2015-10-13 16:43] chadrolfs commented on #2900
Fixed on mainline.

[2015-10-13 16:43] #2900 closed

[2015-10-13 16:48] chadrolfs commented on #2720
Repro'd on retina

[2015-10-13 16:50] ktaki commented on #2235
Will do further testing with hi-dpi Windows systems. At least it works with SP3 that is the original issue reported in this issue. Removing Fix Now label.

[2015-10-13 16:51] shaoshing commented on #2545
@chadrolfs , 3D or other unsupported layers are living inside a PSD file, so we don't know if the PSD is supported or not until we open it and check its layer attributes, so the only option we have is to not update the changes to the graphic when you try to save a unsupported document. I've created a PR for this. Regarding this video https://www.dropbox.com/s/ib374gz8g6sko0y/3D-edit-pt1.mov?dl=0,

[2015-10-13 16:54] chadrolfs commented on #2836
Just repro'd on MBP Retina with pgdev.765, while trying to repro #2720

<img width="1440" alt="screen shot 2015-10-13 at 9 45 35 am" src="https://cloud.githubusercontent.com/assets/8442631/10461883/5925df36-7190-11e5-841d-b9d363d47b8c.png">

[2015-10-13 17:00] #2849 closed

[2015-10-13 17:40] ktaki commented on #2751
Verified on Windows 10.

[2015-10-13 17:40] #2751 closed

[2015-10-13 17:45] ktaki commented on #2235
John F. tested it on his 4K monitor and reported "OK". Will add a task to my task list to check it with other systems, and closing this issue.

[2015-10-13 17:45] #2235 closed

[2015-10-13 18:01] ktaki commented on #2286
Retested with new UI. Closing this as fixed.

[2015-10-13 18:01] #2286 closed

[2015-10-13 18:10] ktaki opened #2924 "Doc header anomaly in normal resolution"
On an external monitor with normal resolution, doc names are truncated prematurely when app window is moved from hi-dpi to normal dpi.

![screen shot 2015-10-13 at 11 05 37 am](https://cloud.githubusercontent.com/assets/2029597/10463685/c9b6e98e-719a-11e5-8df5-8a5d40f5e27d.png)

Retina display

<img width="748" alt="screen shot 2015-10-13 at 11 05 24 am" src="https://cloud.githubusercontent.com/as

[2015-10-13 18:12] shaoshing commented on #2863
This is a problem caused by DS and the CC Libraries API. Let me explain and why it won't happen anymore:

Where are the empty asset came from:

1. at the initial development of the open-for-edit feature, we accidentally sent the wrong file path when updating graphic's content.
2. CC libraries accepted the wrong path anyway without validation and result in an empty graphic
3. the graphic was synced

[2015-10-13 18:20] ktaki opened #2925 "Undo-ing font change cannot go back to the original font if the original font is missing"
Select a text layer with a missing font. In appearance panel, select another font. Cmd-z to undo.
RESULT: Cannot go back to the original font. It sticks with a font exists in the system.
EXPECTED: Go back to the original font which is missing.

[2015-10-13 19:11] iwehrman opened #2928 "Can't select artboards on canvas when name is hidden"
From CJB:

    Clicking on interior of empty artboard is supposed to select the artboard. Not working in DS.
    (This is important because you can now hide artboard names)

    When AB names are hidden and you switch to DS, it’s very hard to select the AB by clicking on the
    canvas. In fact, I couldn’t; I could only select in the layer palette.

    I wonder if DS might want to always show AB

[2015-10-13 19:21] chadrolfs commented on #2545
You need to click outside the 3D shape on the grid.  Sometime single click on the top of the 3D object then quickly back on the grid outside it and drag

[2015-10-13 19:21] iwehrman opened #2929 "Incorrect tooltip on inner shadow X/Y inputs"
![image](https://cloud.githubusercontent.com/assets/1075154/10465678/f603e050-71a4-11e5-8605-100f23b858c2.png)

https://watsonexp.corp.adobe.com/#bug=4071268

[2015-10-13 19:24] chadrolfs commented on #2545
after a move/rotate or two, you can get to a point where you can't move again:
https://www.dropbox.com/s/4suxl3u0norm3jm/Move3D.mov?dl=0

[2015-10-13 19:31] chadrolfs commented on #2928
related to #2720

[2015-10-13 19:49] tiburbage opened #2932 "(Watson 4022411) Modal TextTool steals "arrow key" keyevents from firstResponder"
This is not a new issue, but a companion to: (corrected)
https://watsonexp.corp.adobe.com/#bug=4069097
Title here should be:
When SuperSelect Tool is active, the global keyboard propagation mode should be FOCUS_PROPAGATE(0)

In his Watson comment, John F writes:
2) DesignSpace appears to setup a keyboard routing mode of "always" when the DS "super select" tool is active. This will incorrectly deli

[2015-10-13 19:59] #2783 closed

[2015-10-13 20:06] chadrolfs commented on #1632
Partially fixed but still can occur in some instances.  Good enough for M3

[2015-10-13 20:15] #2152 closed

[2015-10-13 20:16] #2264 closed

[2015-10-13 20:18] chadrolfs commented on #2423
use arrow keys (fixed)

[2015-10-13 20:18] #2423 closed

[2015-10-13 20:20] #2479 closed

[2015-10-13 20:25] tiburbage commented on #2932
Guys, I'm screwing up -- this should really be linked to:
https://watsonexp.corp.adobe.com/#bug=4069097
Arrow key entry in DS input fields which appear to have focus sometimes go to canvas instead w/ Select Tool enabled

Sorry for the confusion. I don't know how to edit the title or I would...

[2015-10-13 20:30] #2708 closed

[2015-10-13 21:21] iwehrman commented on #2920
FBNC to @chadrolfs.

[2015-10-13 21:31] #2920 closed

[2015-10-13 21:51] #2863 closed

[2015-10-13 22:15] mcilroyc commented on #1903
FBNC.  asking @chadrolfs to take a look.  The PR was non-trivial, so we'd be interested to find cases where an actual "dirtying" user action was not reported as such (but showing the doc as dirty).

[2015-10-13 22:21] chadrolfs commented on #2773
@iwehrman is this just added sets of existing setting sets or is this actual additional UI?  M3 or push out?

[2015-10-13 22:44] chadrolfs commented on #2850
M3 if there's time and fix is low risk, otherwise boot to M4.

[2015-10-13 22:46] iwehrman commented on #2491
Only the keyboard navigation remains for this bug, so I've updated the title accordingly.

[2015-10-13 22:54] chadrolfs commented on #2616
If we have time, if not or is too risky, kick to M4

[2015-10-13 22:54] ktaki commented on #2928
Make sure marquee select can select layers on an artboard if any, not artboard itself, when fixing this.

[2015-10-13 22:56] pineapplespatula commented on #2890
are you still seeing this @ktaki

[2015-10-13 22:58] iwehrman commented on #2929
Fixed by #2930.

[2015-10-13 22:58] #2929 closed

[2015-10-13 23:00] chadrolfs commented on #2552
This is fixed, closing.  The other issue @ktaki is referring to above, regarding focus, is tracked in another bug.

[2015-10-13 23:00] #2552 closed

[2015-10-13 23:01] chadrolfs commented on #2538
M3 if time.

[2015-10-13 23:02] chadrolfs commented on #2530
marking M3 unless we run out of time or fix is too risky.

[2015-10-13 23:04] #2417 closed

[2015-10-13 23:06] ktaki commented on #2890
No, not anymore.

[2015-10-13 23:06] #2890 closed

[2015-10-14 00:58] ktaki commented on #2122
Yellow icons looks great!

[2015-10-14 00:58] #2122 closed

[2015-10-14 01:26] chadrolfs commented on #2159
single click now selects all

[2015-10-14 01:26] #2159 closed

[2015-10-14 01:27] chadrolfs commented on #2143
M3 if there is time and fix is low risk

[2015-10-14 01:30] chadrolfs commented on #2067
Watson bug is closed/fixed and I verified this on our end as well.

[2015-10-14 01:30] #2067 closed

[2015-10-14 01:36] chadrolfs commented on #1766
fix for M3 if time permits and fix is low risk

[2015-10-14 01:38] chadrolfs commented on #1605
@ktaki please re-test.  I think we can close this?

[2015-10-14 01:51] chadrolfs commented on #1510
Fix in M3 if there is time and solution is low risk

[2015-10-14 01:54] #1502 closed

[2015-10-14 01:56] chadrolfs commented on #1490
Fix in M3 if there is time and solution is low risk

[2015-10-14 02:02] chadrolfs commented on #1422
Fix in M3 if there is time and solution is low risk

[2015-10-14 02:05] chadrolfs commented on #1388
https://watsonexp.corp.adobe.com/#bug=3984461

[2015-10-14 02:07] #1388 closed

[2015-10-14 02:09] chadrolfs commented on #1675
If time permits and fix is low risk, address in M3, otherwise kick to M4

[2015-10-14 02:56] mcilroyc commented on #2780
FBNC to ... @chadrolfs ?  since he marked it high pri

[2015-10-14 06:58] placegraphichere opened #2939 "Export All error dev764"
[code]

[2015-10-14 14:15] mcilroyc commented on #2939
I think this is a dupe of #2340  - but seth if you have any information about what kind of layer this was, that could be helpful

[2015-10-14 16:22] chadrolfs opened #2941 "Layer re-ordering broken"
Open a test multi-layered test file
attempt to re-order or drag layers to bottom of the stack

Result: layers reorder on canvas but not in layers panel and console errors result

[2015-10-14 16:23] iwehrman commented on #2941
Can you post the stack trace?

[2015-10-14 16:23] chadrolfs commented on #2941
master @ 7b4ccbcd26673653da9d19882fc3ad1fad0e903d with jenkins playground build 1676.

https://www.dropbox.com/s/7ldwcw15e27gol6/LayerReOrder-broke.mov?dl=0

[2015-10-14 16:24] chadrolfs commented on #2941
`Action layers.reorder failed: Error: Photoshop returned an error when playing command number: 1 Photoshop code: -25920 Photoshop message: error: -25920 message: The command “Move” is not currently available.`

[2015-10-14 16:27] chadrolfs commented on #2941
`Transfer from documents.open to application.updateRecentFiles failed: SyntaxError: Invalid number`

[2015-10-14 16:28] chadrolfs commented on #2941
![screen shot 2015-10-14 at 9 17 31 am](https://cloud.githubusercontent.com/assets/8442631/10490447/e8f86ef6-7255-11e5-8ddb-fe1487e9a7c6.png)
![screen shot 2015-10-14 at 9 29 02 am](https://cloud.githubusercontent.com/assets/8442631/10490446/e8f834a4-7255-11e5-9b0c-ad6b471bb09b.png)

[2015-10-14 16:32] chadrolfs commented on #2941
moving something on canvas will force layers panel to update

[2015-10-14 16:35] chadrolfs commented on #1840
I couldn't repro this.  @iwehrman if you CNR either, please close.

[2015-10-14 16:45] chadrolfs commented on #1610
If time allows, otherwise M4

[2015-10-14 16:45] chadrolfs commented on #1740
If time allows, otherwise M4

[2015-10-14 16:47] ktaki commented on #2677
Verified the fix.

[2015-10-14 16:47] #2677 closed

[2015-10-14 16:49] chadrolfs commented on #1740
also related to #2560  (color picker position in smaller window or when swatch is low in app frame).  If you have a bunch of effects for example, this can get really confusing if you've unintentionally scrolled the list.

[2015-10-14 16:49] chadrolfs commented on #1740
http://cl.ly/image/1j3A3m0U3F2e

[2015-10-14 16:51] #1689 closed

[2015-10-14 16:52] chadrolfs commented on #1648
M3 if time, if not, boot to M4

[2015-10-14 16:54] chadrolfs commented on #1604
This is fixed now, isn't it?

[2015-10-14 16:55] chadrolfs commented on #1529
Nice to have if time in M3

[2015-10-14 16:56] shaoshing commented on #2819
For future reference:

The expected behaviors after placing file

1. place file via menu item (place linked or embedded): empty layer will be replaced.
2. drag-n-drop local file: empty layer will be replaced.
3. drag-n-drop CC libraries graphic: empty layer will not be replaced.

https://www.dropbox.com/s/j2zso98s9qzd927/replace-layer.mov?dl=0

[2015-10-14 16:58] chadrolfs commented on #1450
still occurs (16.1 UIF builds staging 1676)

[2015-10-14 17:16] fzhu1978 opened #2943 "The icons on the Welcome screenshots of Design Space (Preview) work space are missing."
Watson bug 4072721
https://watsonexp.corp.adobe.com//#bug=4072721

Problem: The icons on the Welcome screenshots of Design Space (Preview) work space are missing.

Method:
1. Launch PS 20151012.M.251 build and switch into Design Space (Preview) work space on JPN OS.
2. Help->Design Space Introduction,check the welcome screen.

Result: The icons on the Welcome screenshots of Design Space (Preview)

[2015-10-14 17:16] fzhu1978 commented on #2943
Verified on 10/13 build, it still occurs.  Please help to fix @iwehrman.

[2015-10-14 17:20] chadrolfs commented on #2886
This would have to be UIF exception for M3.  Assigning to M4.  @ktaki push back if you disagree and we can discuss.

[2015-10-14 17:27] zoranagee opened #2944 "Incorrect tooltip for AI file ("Illustration") in CC Libraries"
Hover over an AI ("Illustration") file in CC Libraries

RESULT: Tooltip "Not editable in this app"
EXPECTED: The file actually drags just fine - this tooltip should not appear for AI files.

[2015-10-14 17:30] ktaki commented on #2886
M4 is fine.

[2015-10-14 17:36] zoranagee opened #2945 "Dragging SVG in DS fails - empty drag (file not added)"
Select an SVG file in CC Libraries and drag to document

RESULT: nothing
EXPECTED: SVG file to be placed (works in standard)

[2015-10-14 17:37] iwehrman commented on #2944
If the bug is just "we're showing tooltip A when instead we should be showing tooltip B" then we can make this change for 16.1. If we need to add a new or change an existing tooltip string, this might have to wait in order to not violate UIF. @shaoshing: hit me up if you want to chat about the distinction and whether or not it's legal to fix this now.

[2015-10-14 17:38] chadrolfs commented on #2945
I CNR, this works for me with current staging build 1676

[2015-10-14 17:42] chadrolfs commented on #2344
Waston bug is against Staging currently (so not 16.1), moving this to M4

[2015-10-14 17:43] zoranagee commented on #2945
There are so many flavors of SVG - I'll add you to my library and you can try that file there.

From: Chad Rolfs <notifications@github.com<mailto:notifications@github.com>>
Reply-To: adobe-photoshop/spaces-design <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, October 14, 2015 at 10:38 AM
To: adobe-photoshop/spaces-design <spaces-design@noreply.github.com<mailto:spaces-des

[2015-10-14 17:47] ktaki commented on #1605
No, this is still an issue. You can click on it to select, but cannot drag it to move. @pineapplespatula Let us know your assessment of fixing this bug. Fixable by M3 or possibly deferring to M4?

[2015-10-14 17:49] chadrolfs commented on #2263
@davealonzo can you confirm this is fixed in the latest mainline or playground builds?

[2015-10-14 17:52] chadrolfs commented on #1980
Should be a quick easy low risk fix if we have time to throw it into M3, if not M4.

[2015-10-14 17:53] ktaki commented on #2344
@chadrolfs This is a pure core issue and considered to be a minor issue. We can close this issue in our side now.

[2015-10-14 18:08] davealonzo commented on #2263
@chadrolfs Looks good now, thanks!

[2015-10-14 18:08] #2263 closed

[2015-10-14 18:20] placegraphichere commented on #2939
These were only artboards being exported using the Export modal. I created the file fully within Ds. Shapes, placed images and text layers. Lemme know if you need access to the file.

[2015-10-14 18:29] placegraphichere opened #2946 "Switching apps from Ds and returning: column tab buttons work incorrectly"
- Open a doc, and open all columns
- swtich to another application (try CMD+tab)
- return to Ds (try CMD+tab, or just clicking back into Ds)
- click the button for either properties or layer column
- all columns close

- expected only the column clicked should change

This is how I've been able to repro, but it seems to come and go sometimes.

[2015-10-14 18:30] iwehrman commented on #2946
May have something to do with the modifiers being set incorrectly? I bet it only happens when you cmd-tab?

[2015-10-14 18:33] placegraphichere commented on #2946
that could be the case... I will edit with that note

[2015-10-14 18:34] DivyaPrabhakar commented on #2571
FBNC @iwehrman

[2015-10-14 18:40] placegraphichere opened #2947 "Artboard Prefix ordering with this file"
Artboards have been named in order L->R top to bottom. However, export modal show a strange order when using the prefix. Layer order does not seem to explain it either.

Shows AB 001 followed by AB 016 which doesn't really make sense even looking at the canvas.
<img width="1189" alt="screen shot 2015-10-14 at 1 39 28 pm" src="https://cloud.githubusercontent.com/assets/3229167/10493874/08256798-727

[2015-10-14 19:00] chadrolfs commented on #2945
Repro: (quick) - attempt to drag "Trash" from  library: Test - OK to accidentally nuke" onto canvas

[2015-10-14 19:01] chadrolfs commented on #2945
Repro: (real-world) - from CC (icon on OS menu bar) click on Assets, search for SVG, add asset to a library, drag it from library to canvas

[2015-10-14 19:01] shaoshing commented on #2945
@chadrolfs Thank you for the repro and file, I am looking at it now.

[2015-10-14 19:21] iwehrman opened #2949 "Can't undo/revert after moving layer"
1. Open a document with a single layer. The document is clean.
2. Move the layer. The document is dirty.

Result: Undo and Revert are disabled.

[2015-10-14 20:05] mcilroyc commented on #2808
fixed by #2922

[2015-10-14 20:08] mcilroyc commented on #2807
Asking @ktaki to validate this.  Note that I closed related bug #2808 myself, but wanted you to at least be aware of it.  I believe there is an annoyance remaining: after making a selection by hitting the enter key, the input loses focus, but I wanted to keep this bug fix narrow.

[2015-10-14 20:41] iwehrman commented on #1604
Not quite fixed. The FirstLaunch component no longer links directly to help, but the menu item (in menu-actions) does, and still has the wrong URL. We should still fix that.

[2015-10-14 20:43] iwehrman commented on #1604
I pushed 8b31127da31445a3be6d9da787d87b01ba796790 to master to address this.

[2015-10-14 20:43] #1604 closed

[2015-10-14 20:43] pineapplespatula opened #2951 "vector mask outlines not visable when coming from text tool"
open a file with a  text block that has a vector mask on it

steps:
hit 'T' to enter text mode,
hit 'R' to enter rectangle mode,
hit 'M' to enter mask mode

result:
![screen shot 2015-10-14 at 1 45 41 pm](https://cloud.githubusercontent.com/assets/1008531/10497164/5b8181b0-7279-11e5-8c1e-86b4279ebad0.png)

expected result:
![screen shot 2015-10-14 at 1 46 43 pm](https://cloud.githubusercontent.com

[2015-10-14 20:43] pineapplespatula commented on #2951
The work around is to enter mask mode via the super select tool

[2015-10-14 20:52] mcilroyc commented on #1326
FBNC to @ktaki
note from Ian in the PR:
"the easiest way to trigger these changes is with Font Book."

[2015-10-14 20:57] chadrolfs commented on #2947
M3 if time permits, otherwise boot to M4 at your discretion

[2015-10-14 21:01] iwehrman commented on #2944
I removed the M4 placeholder tag because, if it's legal to fix this, it should be easy to do it.

[2015-10-14 21:20] iwehrman commented on #2949
Fixed by #2953.

[2015-10-14 21:20] #2949 closed

[2015-10-14 21:21] mcilroyc commented on #2545
FBNC to @chadrolfs

[2015-10-14 21:22] shaoshing commented on #2545
I forgot to tell Cory that this is not complete fixed. I sill have to investigate why you can edit the 3D layer at the beginning.

[2015-10-14 21:30] ktaki commented on #1326
Possible side effect of this fix. Layer names are changed after fonts were synced.

Steps:
Open 10tkfonts.psd. @iwehrman You have this file, right?
If no missing fonts, delete fonts in the Typekit site, and reopen the file.
In Resolve Missing Fonts dialog, click Resolve Fonts.

RESULTS:

![screen shot 2015-10-14 at 2 25 10 pm](https://cloud.githubusercontent.com/assets/2029597/10498291/86eceae6-72

[2015-10-14 21:55] #2932 closed

[2015-10-14 21:59] ktaki opened #2956 "Lost underscore in Export icon"
Retina only

<img width="120" alt="screen shot 2015-10-14 at 2 58 27 pm" src="https://cloud.githubusercontent.com/assets/2029597/10499260/29506fc0-7284-11e5-98a3-cad66ce57535.png">

[2015-10-14 22:00] iwehrman commented on #2956
Can you report the results of `window.screen` from the console with this display here?

[2015-10-14 22:01] chadrolfs commented on #2282
Passing this to @shaoshing since he's been working with the place code.  What happens now is that the dialog is now suppressed and we paste as smart object but we can't commit the place.  User is essentially stuck.

Workaround: right-click on App is OS dock > Quit and then you get a Place dialog prompt.

[2015-10-14 22:03] ktaki commented on #2956
Screen {orientation: ScreenOrientation, availWidth: 1440, availHeight: 841, availTop: 23, availLeft: 0…}
availHeight: 841
availLeft: 0
availTop: 23
availWidth: 1440
colorDepth: 24
height: 900
orientation: ScreenOrientation
pixelDepth: 24
width: 1440
__proto__: Screen

[2015-10-14 22:07] mcilroyc commented on #2889
FBNC to @ktaki

[2015-10-14 22:21] mcilroyc commented on #1326
Ian believes this was fixed by 2957 @ktaki

[2015-10-14 22:26] ktaki commented on #2807
Verified the fix.

[2015-10-14 22:26] #2807 closed

[2015-10-14 22:30] shaoshing commented on #2866
watson: https://watsonexp.corp.adobe.com/#bug=4073894

[2015-10-14 22:30] shaoshing commented on #2866
After the core bug is fixed, we need to update the recent files list in the close  document action.

[2015-10-14 22:32] chadrolfs commented on #1903
related watson bug is closed/fixed

[2015-10-14 22:38] ktaki commented on #2889
Verified the fix.

[2015-10-14 22:38] #2889 closed

[2015-10-14 22:45] mcilroyc commented on #2651
@iwehrman mind validating this?

[2015-10-14 22:46] mcilroyc commented on #2819
FBNC to @chadrolfs

[2015-10-14 22:47] iwehrman commented on #2720
Still happening. I notice that it causes ALL the artboard titles to flash too apparently whenever any selection changes:
http://cloud.wehrman.org/0r0t2v1g1A2b

[2015-10-14 22:56] iwehrman commented on #2571
Fixed by #2871 and #2918.

[2015-10-14 22:58] chadrolfs commented on #2819
caveat: empty layer needs to be targeted (selected in layers panel) for it to be replaced.

[2015-10-14 23:05] shaoshing opened #2958 "export: cancel / ESC choose-folder dialog throws error"
Click cancel or hit ESC to close the choose-folder dialog during export and it will throw an error.

<img width="814" alt="screen shot 2015-10-14 at 4 05 14 pm" src="https://cloud.githubusercontent.com/assets/118264/10500490/68606be4-728d-11e5-9716-c06a52afb94d.png">

[2015-10-14 23:12] chadrolfs opened #2959 "Undo after first action to dirty doc, shows clean doc but you get prompt to save on close"
cmd/ctrl + n
r to select Rect tool, draw a shape on canvas
cmd/ctrl + z to undo
cmd/ctrl + w to close

Result: prompt to save

repeat steps in classic PS results in no prompt to save.
(the difference is we use Step Back which is different from Undo in classic).
If instead of Undo in classic, you use Step Back, the results are the same (prompt to save).
So maybe this isn't an issue.

[2015-10-14 23:12] chadrolfs commented on #1903
related to #2959 but this is fixed, closing.

[2015-10-14 23:12] #1903 closed

[2015-10-14 23:17] chadrolfs commented on #790
This is much better than it was previously.  I'm closing this.  If anyone disagrees, re-open and push to M4

[2015-10-14 23:17] #790 closed

[2015-10-14 23:20] ktaki commented on #1326
Verified the fix. When fonts are synced from Resolve Missing Fonts dialog, the yellow icons will be cleared automatically. When fonts are removed or added behind the seen, clicking on the layers panel will update the text layer icons.

[2015-10-14 23:20] #1326 closed

[2015-10-14 23:20] #2819 closed

[2015-10-14 23:21] iwehrman commented on #1613
Bouncing back to @mcilroyc, reducing to Medium Pri since it is apparently harder to fix now.

[2015-10-14 23:21] mcilroyc commented on #2819
yes, just confirming/agreeing, that is part of PS's heuristic, as far as we can tell

[2015-10-14 23:23] iwehrman commented on #1670
I've done everything I know of on the JS side to address this, but it isn't enough. We don't have an API to dismiss modal dialogs, only modal tool states, and we're using that very early in our startup routine. I think the plugin either needs to dismiss dialogs with the existing API or provide a new API for us to do so. Back to @tiburbage and/or @jsbache to decide how to proceed.

[2015-10-14 23:28] iwehrman commented on #2840
FBNC to @ktaki and/or @chadrolfs.

[2015-10-14 23:29] iwehrman commented on #1326
@ktaki Also, switching tools seems to cause photoshop to send us the event about the font list changing.

[2015-10-14 23:35] DivyaPrabhakar opened #2960 ""Continue" button on Welcome Screen is not positioned correctly for languages other than EN"
For example, in Japanese:
![](https://www.dropbox.com/s/ksptk4bs6yv3hmi/Screenshot%202015-10-14%2012.27.21.png?raw=1)

[2015-10-14 23:38] DivyaPrabhakar commented on #2943
FBNC @iwehrman @fzhu1978

[2015-10-14 23:43] iwehrman commented on #2943
Let's just have @ktaki regress this one.

[2015-10-14 23:46] mcilroyc commented on #2860
FBNC to @chadrolfs.   I'll note for the record that when you delete the existing mask, it seems a little unfortunate to me that you get kicked out of mask mode ... but I could be wrong, or maybe that's hard, dunno.

[2015-10-14 23:47] ktaki commented on #2840
Looks good!

[2015-10-14 23:47] #2840 closed

[2015-10-15 00:08] ktaki commented on #2943
This still happens. It looks like svg file names have been translated.

![screen shot 2015-10-14 at 4 57 05 pm](https://cloud.githubusercontent.com/assets/2029597/10501420/30956206-7296-11e5-8a7a-a11de4f46d37.png)

[2015-10-15 00:52] shaoshing commented on #2941
Steps to reproduce:

1 deselect all layers
2 reset DS
3 reorder any layer without selecting it
4 [BOOM]

[2015-10-15 01:15] iwehrman commented on #2651
No warnings in sight. Fixed by #2942.

[2015-10-15 01:15] #2651 closed

[2015-10-15 01:17] iwehrman commented on #1610
Not gonna happen for M3. Deferring.

[2015-10-15 01:18] iwehrman commented on #1766
The current behavior is not flagrantly broken, and I do not think this is a low-risk change, so I'm deferring to M4.

[2015-10-15 01:27] iwehrman commented on #2465
FBNC to @chadrolfs.

[2015-10-15 02:11] iwehrman opened #2964 "After drag, a click is lost"
1. Drag a layer.
2. Drop it. It doesn't matter where.
3. Click an unselected layer to change the selection.

Result: the click is not registered and the selection is not changed.

[2015-10-15 02:18] iwehrman commented on #2307
Is this Win only? I can't repro on Mac. CNR back to @chadrolfs for now.

[2015-10-15 02:32] mcilroyc commented on #2945
@shaoshing can you push this over to @chadrolfs if you think it is addressed now with his latest repro file?

[2015-10-15 02:49] mcilroyc commented on #1781
Assigning this to @chadrolfs as FBNC.  I have not personally tried this on windows, but it sounds like you did some pre-checking of it already.

[2015-10-15 03:03] chadrolfs commented on #2307
yup, sry, win only

[2015-10-15 03:30] ktaki commented on #2943
Retested it. The icons are displayed this time.

[2015-10-15 03:30] #2943 closed

[2015-10-15 03:59] ktaki commented on #2860
Hitting delete key deletes all paths. If multiple paths exit, I expect only selected path is deleted.

[2015-10-15 13:32] jsbache commented on #2866
I disagree with the "high priority" marker, and I have lowered the priority on the core side.
When investigating this, I found:
1) eventClose disables background-save and saves the document synchronously. This means that play-level > 1 when the save code is executed and this means that UMRUList::MRUAddEnabled returns false
2) If I disable the code that turns off background saving then the MRU is p

[2015-10-15 16:30] shaoshing commented on #2866
Thank you for the update Jesper.

[2015-10-15 16:53] jsbache commented on #2866
I think we'll add a hack to Photoshop - I am testing right now. This would require that you add the following boolean to your eventClose descriptor:   "forceMRU":true
(similar to flag that is passed on save events)

[2015-10-15 16:57] #2344 closed

[2015-10-15 17:27] fzhu1978 opened #2966 "LOC: Design Space: No space between the icons strings on the Welcome screenshots of Design Space (Preview) work space."
Watson bug: https://watsonexp.corp.adobe.com//#bug=4073374

Method:
1. Launch PS PS 20151013.m.254 and switch into Design Space (Preview) work space on FRA/DEU OS.
2. Help->Design Space Introduction,check the welcome screen.

Result: No space between the icons strings.

Expected: There should be extra space between the icons strings

Notes: This issue occur on both WIn and Mac OS on FRA/DEU, does

[2015-10-15 17:27] fzhu1978 commented on #2966
The strings are overlapped for fr/de, is it possible to extend the dialog width for fr/de?

[2015-10-15 17:30] chadrolfs commented on #2465
Well, I guess that's one way of fixing it.  :)

[2015-10-15 17:30] #2465 closed

[2015-10-15 17:31] chadrolfs commented on #1781
YES!!! This looks fixed to me on both Mac/Win.  Over to @ktaki to also verify and have the honor of closing!

[2015-10-15 17:32] #2945 closed

[2015-10-15 17:35] chadrolfs commented on #1681
Yep, it's back and I don't think we have time to come up with a solution.  For discussion.  I'm recommending kick to M4.

[2015-10-15 17:35] jsbache commented on #2866
Fixed in team sandbox with CL: 1048150
javascript must add the following key to the eventClose descriptor:  "forceMRU":true

[2015-10-15 17:36] shaoshing commented on #2866
Got it. I will give it a try.

[2015-10-15 18:00] iwehrman commented on #2966
CC @DivyaPrabhakar

[2015-10-15 18:15] ktaki commented on #1781
Wow, works great!!

[2015-10-15 18:15] #1781 closed

[2015-10-15 18:18] ktaki commented on #1602
Closing this as a pure core issue. I will keep an eye on the progress towards 17.0.

[2015-10-15 18:18] #1602 closed

[2015-10-15 18:30] #2780 closed

[2015-10-15 18:32] shaoshing commented on #2912
Created watson bug: https://watsonexp.corp.adobe.com/#bug=4074466

[2015-10-15 18:35] shaoshing commented on #2912
@ktaki the second scenario is not unrecoverable. You are seeing bundch of errors because PS is in mode state (with legal dialog opened) and DS is trying to recover from the error periodically; once you close the legal dialog, DS will recover and errros will stop. Since this is not a major issue, I lowered the priority, but feel free to change it if you have other concerns.

[2015-10-15 18:37] chadrolfs commented on #1680
cyan checking this fix into main today sometime.

[2015-10-15 18:47] chadrolfs commented on #1781
Miracles do happen!  Closing this made my day.  :tada: :fireworks:

[2015-10-15 18:58] chadrolfs commented on #1615
looks like cyan is integrating a fix for this in main today.

[2015-10-15 19:06] ktaki commented on #2939
@placegraphichere Can you post your file to somewhere I can reach? Thanks.

[2015-10-15 20:16] chadrolfs opened #2971 "Tab in Color picker skips RGB HSB field"
create a rect or text layer
click on swatch to open color picker
hit Tab several times

Result: toggles between full rgb(n,n,n) value and alpha fields

reverse order works (using Shift + Tab).

[2015-10-15 20:19] chadrolfs opened #2972 "Arrow down/up drops focus from Opacity and Blend mode in modal text edit state"
create and select some on canvas text (remain in edit mode)
enter Size and arrow up/down
Shift + Tab to Opacity or Blend
arrow up/down

Result: focus is dropped after first arrow key

[2015-10-15 20:26] shaoshing commented on #2958
Verified the fix.

[2015-10-15 20:26] #2958 closed

[2015-10-15 20:34] chadrolfs opened #2973 "Some modifier combinations bring up UI and undesired dialogs in modal text edit mode or with shape tools"
create and select on canvas type
ctrl + cmd + alt and click = contextual color picker
shift + cmd + alt and click = Paragraph Text Size dialog

https://www.dropbox.com/s/6h7340fc11n1h6k/TextSecrets.mov?dl=0

[2015-10-15 20:54] chadrolfs opened #2974 "Moving an overlapping layer with Select tool and modifiers results in marquee select error."
create two overlapping text layers:
<img width="182" alt="screen shot 2015-10-15 at 1 51 33 pm" src="https://cloud.githubusercontent.com/assets/8442631/10527210/172e82f8-7344-11e5-855c-d10b25555c0c.png">

Hold down Shift + click and drag

Result:
`Transfer from superselect.marqueeSelect to layers.select failed: Error: Select with modifier requires a single layer`

[2015-10-15 20:54] chadrolfs commented on #2974
<img width="1031" alt="screen shot 2015-10-15 at 1 48 37 pm" src="https://cloud.githubusercontent.com/assets/8442631/10527230/36aa09f4-7344-11e5-93ee-e3691d5757b4.png">

[2015-10-15 20:55] iwehrman commented on #2974
I think you can repro with just shift + marquee select.

[2015-10-15 20:56] chadrolfs commented on #2974
Yep, amended steps above

[2015-10-15 21:05] chadrolfs commented on #2973
happens with Rect, Ellipse and Pen tool as well (contextual color picker)

[2015-10-15 21:14] iwehrman commented on #2972
(From #2865)
DS is almost working "correctly" in this case because PS currently doesn't support changing layer opacity while in a modal text state. When you bump the opacity the first time, the action ends the modal tool state. This seems to return focus to Photoshop, which blurs the input. I'm not actually sure why focus is returned to Photoshop. In the short term, we could make this field read-o

[2015-10-15 21:15] tiburbage commented on #2836
Tested with pgdev.774 (Mac) and pgdev.754 (Win): all better now. Added in testing of similar "overlapping policy regions" scenario with a shape selected. No issues detected.

[2015-10-15 21:15] #2836 closed

[2015-10-15 21:22] ktaki commented on #1980
Verified the fix.

[2015-10-15 21:22] #1980 closed

[2015-10-15 21:23] chadrolfs commented on #2973
https://watsonexp.corp.adobe.com/#bug=4074561 - color picker (mac only)
https://watsonexp.corp.adobe.com/#bug=4074567 - type dialog

[2015-10-15 21:26] ktaki commented on #2912
The core bug is set to fix for 1.2. I will set this to M4.

[2015-10-15 21:36] ktaki commented on #948
The core bug has been fixed by John Peterson. Hand over to Ian for the adjustment needed in JS side.

[2015-10-15 22:05] ktaki opened #2976 "After missing font is synced, text layer needs to be double clicked to reset the font"
After missing font is synced, select superselect tool and click on the text layer in layers panel. Observe the bounding box is not fit to the text bound. Rotate the text layer on canvas.
RESULT: The font shown is Myriad Pro Regular while typeface field says otherwise.

To reset the font after font is synced, you need to double click on the layer in the layers panel, or click on the text layer on c

[2015-10-15 22:13] tiburbage commented on #1781
Closed Watson side as well, based on testing with pgdev.774 (Mac) and pgdev.755 (Win) (playground-dev/...@1048199) and spaces-design master.

[2015-10-15 22:16] chadrolfs commented on #1845
occurs on 10.10, works great on 10.11

[2015-10-15 22:20] chadrolfs opened #2977 "Hitting delete key deletes all paths in edit mode"
create a mask with multiple paths
hit a to enter anchor point edit mode
select an anchor point and hit delete

Result: entire mask is deleted
Expect: user should be able to delete specific paths or points

[2015-10-15 22:25] pineapplespatula commented on #2860
I'm trying for an improved workflow

[2015-10-15 22:26] chadrolfs commented on #2972
Personally I think setting those to read-only is a good options but not sure how the rest of the world feels about that.

[2015-10-15 22:27] chadrolfs commented on #2860
ah ok, does that cover #2977 case?

[2015-10-15 22:42] pineapplespatula commented on #2860
yes

[2015-10-15 22:51] iwehrman opened #2979 "Border policies should be dismissed during drag"
We don't currently remove border policies during drag operations, but they should be. Here's what happens as a result of this:

![img](https://s3.amazonaws.com/f.cl.ly/items/1N2K2Q3U243m072l472A/Screen%20Recording%202015-10-15%20at%2003.49%20PM.gif)

Here's [a branch](https://github.com/adobe-photoshop/spaces-design/compare/iwehrman/remove-border-policies-during-drag) that _almost_ works around th

[2015-10-15 23:45] iwehrman commented on #2673
Pretty sure that @designedbyscience's recent checkbox PR addressed this. FBNC to @ktaki.

[2015-10-16 00:16] ktaki commented on #2673
Verified the fix.

[2015-10-16 00:16] #2673 closed

[2015-10-16 00:54] mcilroyc commented on #2282
As of 2969, you can commit the placement with ENTER.  FBNC to @chadrolfs

[2015-10-16 02:19] mcilroyc commented on #2966
@fzhu1978 a fix was just merged in to master

[2015-10-16 04:35] fzhu1978 commented on #2966
Thanks!

From: Cory McIlroy <notifications@github.com<mailto:notifications@github.com>>
Reply-To: adobe-photoshop/spaces-design <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, October 15, 2015 at 7:19 PM
To: adobe-photoshop/spaces-design <spaces-design@noreply.github.com<mailto:spaces-design@noreply.github.com>>
Cc: fzhu <fzhu@adobe.com<mailto:fzhu@adobe.com>>
Subject: Re:

[2015-10-16 06:50] DivyaPrabhakar commented on #2966
Closing this issue

[2015-10-16 06:50] #2966 closed

[2015-10-16 07:34] DivyaPrabhakar commented on #2558
@ktaki @chadrolfs Isn't is supposed to go behind the icons because we agreed that we would have users scroll the document header if there are too many titles? What is the ideal case -- have all the document tabs resize so that they are all visible at once in the documents header and have no scroll?

[2015-10-16 07:38] DivyaPrabhakar commented on #2924
@ktaki This is not happening for me. What do you mean by prematurely in that screenshot?

[2015-10-16 14:49] chadrolfs commented on #2558
I think the main issue right now is that they don't scroll well or fluidly and can get stuck, at least via mouse move or clicking on the 1/2 exposed title, especially on windows.  The full name should be exposed for the document that has focus IMO.

[2015-10-16 16:06] #2946 closed

[2015-10-16 16:10] #2964 closed

[2015-10-16 16:14] #2282 closed

[2015-10-16 16:25] chadrolfs commented on #2316
(from watson bug) Jesper -
On OSX simply clicking in the menu cause this problem to happen.

On OSX: This is caused by a confusion between the target window for OS events when we get a hitTest. In a number of cases the window is nil, so GetViewRelativeLocation is iffy. We may have to switch to obtaining global coordinates and then converting to source views in os_event

[2015-10-16 16:25] chadrolfs commented on #2316
deferrable IMO

[2015-10-16 16:35] chadrolfs opened #2984 "Space no longer works to pan with Select tool."
new doc
Select tool
zoom out and hit Space + drag to pan

Result: marquee select.

Workaround: use a different tool.

[2015-10-16 16:37] ktaki commented on #2924
@DivyaPrabhakar   Retested with the latest build and master branch. You are right. This is no longer happening for me, either. By "truncated prematurely" I meant only showed U while it had more space for display. Thanks for looking at this issue. I am closing this now.

[2015-10-16 16:37] #2924 closed

[2015-10-16 16:40] chadrolfs commented on #2984
00b81dbf1af41b2c2061ed2adfe2c8481018b6aa is the first bad commit
commit 00b81dbf1af41b2c2061ed2adfe2c8481018b6aa
Author: Ian Wehrman <wehrman@adobe.com>
Date:   Thu Oct 15 09:48:20 2015 -0700

    Remove arrow keydown policies for superselect/vectorselect, and set the default keyboard mode to FOCUS_PROPAGATE.

[2015-10-16 16:44] shaoshing commented on #2368
Close (duplicate with #2282, and issue is fixed)

[2015-10-16 16:44] #2368 closed

[2015-10-16 16:45] ktaki commented on #2558
Chad is right. With exceptions of unusual long names, the doc bar should display full name when the doc is selected.

[2015-10-16 16:53] chadrolfs commented on #1615
Sweet, cyan fixed these cases.  Nudge and swap now work!

[2015-10-16 16:53] #1615 closed

[2015-10-16 16:54] chadrolfs commented on #2860
Closing this.  As the issue is written, this is fixed.  #2978 can cover #2977

[2015-10-16 16:54] #2860 closed

[2015-10-16 17:24] chadrolfs commented on #2726
assign to ian if not fixed

[2015-10-16 17:28] chadrolfs commented on #1941
Might defer to M4.  Jesper logging bug with MS today.

[2015-10-16 18:05] chadrolfs commented on #2939
@ktaki if you think this is a dupe of #2340, can you close?  If not, please remove the dupe label.

[2015-10-16 18:11] ktaki commented on #2726
Yes, this is fixed.

[2015-10-16 18:11] #2726 closed

[2015-10-16 18:17] ktaki commented on #2939
@placegraphichere I am closing this as a dupe of #2340, but still, if you can send or post the file caused this error, I will test it when the issue is fixed.

[2015-10-16 18:17] #2939 closed

[2015-10-16 18:18] chadrolfs commented on #1681
https://watsonexp.corp.adobe.com//#bug=4075258

[2015-10-16 18:51] chadrolfs opened #2986 "Policy issue: keys fall through to classic PS"
(using pgdev.780 mac or 761 win and master @ 965e872)
cmd/ctrl + n
t for Type tool
click on canvas and type
hit Enter to commit
hit f, or s

Result: you switch to a full screen mode or now have the clone stamp tool.

[2015-10-16 18:54] chadrolfs commented on #2986
https://watsonexp.corp.adobe.com/#bug=4075279

[2015-10-16 19:08] iwehrman commented on #2984
@jsbache may also have inadvertently broken this with his scrubby zoom changes last night.

[2015-10-16 19:12] shaoshing opened #2988 "vector mask: could be trapped by pen tool while in mask mode"
1. create REC
2. enter vector mask mode
3. use select tool to make some selections (and nothing is selected)
4. switch to pen tool and start drawing, and you will probably stuck in pen tool mode

https://www.dropbox.com/s/e7ap2lvz3c8b78k/vector-mask-2.mov?dl=0

[2015-10-16 19:12] iwehrman commented on #2984
May or may not be addressed with branch `iwehrman/issue-2984`. I can't repro on my current build and can't get the most recent one at the moment.

[2015-10-16 19:12] mcilroyc commented on #2977
This looks to me like it works as expected now.  back to @chadrolfs

[2015-10-16 19:18] ktaki commented on #2917
@DivyaPrabhakar When multiple text layer is selected (I remember we had a conversation on this topic on Slack yesterday), show the following.

1.) what should the datalist show if multiple missing font text layers are selected at the same time?

If the missing fonts selected are the same fonts, it should show the font name in [].
If the missing fonts are different, show "[Mixed Fonts]"

2.) what s

[2015-10-16 19:21] shaoshing commented on #2944
This may be confusing, but editable means the graphic can be opened and edit in DS. And by default, all graphics can be added to the canvas.

When you hover over an editable graphic, it will show "Double click to edit", otherwise it will show "Not editable in this app".

[2015-10-16 19:34] iwehrman opened #2989 "Tool is always reset to select on startup"
It should attempt to use the current Photoshop native tool. This is a regression.

[2015-10-16 20:12] iwehrman commented on #2928
I suggest deferring the change to make clicking artboard background select the artboard.

[2015-10-16 20:12] iwehrman commented on #2928
In the short term, the best workaround is probalby to ensure that artboard titles are always visible.

[2015-10-16 20:18] iwehrman commented on #2986
AFAICT, this does not have to do with editing type. Typing `f` with just the select tool takes us into full screen. This is definitely related to the switch from keyboard propagation mode of NEVER to FOCUS.

[2015-10-16 20:18] DivyaPrabhakar commented on #2928
Emailed @jsbache about this

[2015-10-16 20:29] iwehrman commented on #2986
Typing `y` takes you into the history brush. The key event flood gates are open. This is a major issue.

[2015-10-16 20:35] mcilroyc commented on #2538
FBNC to @chadrolfs

[2015-10-16 20:44] chadrolfs commented on #2928
we DO NOT want clicking the AB background to select the AB

[2015-10-16 20:44] chadrolfs commented on #2928
it screws up our Select/marquee model

[2015-10-16 20:47] pineapplespatula commented on #2951
I'm pretty stuck on this one.

[2015-10-16 20:51] ktaki commented on #2928
Clicking should select AB, but dragging should not. Actually, I believe being able to select AB by clicking on it improves workflow regardless of visibility of AB names.

[2015-10-16 20:52] ktaki commented on #2928
But, I agree. If this is a risky fix, we should punt it to M4.

[2015-10-16 20:59] jsbache commented on #2316
Fixed in staging in CL: 1048497.
I was not able to see a problem on Windows and the fix is OSX only. Let me know if you are seeing an issue on Windows.
Root of the problem is that [NSEvent locationInWindow] sometimes returns global coordinates.

[2015-10-16 21:00] #2776 closed

[2015-10-16 21:02] chadrolfs commented on #2928
No, if you are trying to marquee select within the artboard, your first click will select the artboard because you're clicking on the background.  We DON'T want that.  Only clicking on the Title or the AB layer in the layers panel should select it.

[2015-10-16 21:09] chadrolfs commented on #2928
see #2238
I know there was another issue where Seth was a part of the same type of discussion and agreed that the current behavior is correct.

[2015-10-16 21:15] chadrolfs commented on #2928
What we should do is always enable View > Show > Artboard Names when entering DS and then set it back to whatever it was set to previous to entering DS when re-entering classic PS

[2015-10-16 21:16] chadrolfs commented on #2928
Or, we don't do anything, boot this to M4.

[2015-10-16 21:26] chadrolfs commented on #2951
ask for some help?

[2015-10-16 21:29] pineapplespatula commented on #2951
I'm talked to @isonno and have some potential leads. (not sure if this requires core changes yet. lets hope not)

[2015-10-16 21:33] ktaki commented on #2928
Well, I disagree with the arguments for disabling click-and-select in #2238. (I am on Zorana's side.) Marquee select should not select AB, but clicking, i.e., mouse-down and mouse-up in the same position, should select AB. Currently AB is very hard to be selected by mouse.