[2015-07-23 14:08] iwehrman opened #1806 "Selected search options shift horizontally when selected"
![shift](https://s3.amazonaws.com/f.cl.ly/items/113I2U3t0U0h2P0C211c/Screen%20Recording%202015-07-23%20at%2007.07%20AM.gif)

[2015-07-23 14:10] iwehrman commented on #1804
Also, there shouldn't be a + separating the terms because then you get things like this:
![++](https://s3.amazonaws.com/f.cl.ly/items/0P0k09472Q1G1i0L3B1c/Image%202015-07-23%20at%207.09.24%20AM.png)

Instead, just follow the platform menu conventions:
![--](https://s3.amazonaws.com/f.cl.ly/items/2h1W232Q1R1L0Q221s3k/Image%202015-07-23%20at%207.10.35%20AM.png)

[2015-07-23 14:14] iwehrman opened #1807 "Baseline of proposed search completion is shifted"
![baseline](https://s3.amazonaws.com/f.cl.ly/items/2I1q0o0t2u2e41153c45/Image%202015-07-23%20at%207.12.56%20AM.png)

Notice that "Others" sits below "Hide".

[2015-07-23 14:22] iwehrman opened #1808 "Secondary info on search results should be under primary info"
![secondary](https://s3.amazonaws.com/f.cl.ly/items/0P0k09472Q1G1i0L3B1c/Image%202015-07-23%20at%207.09.24%20AM.png)

Instead this should be listed like:

# Menu Commands
## Zoom In
### View > Zoom In .......... ⌘+
## Zoom Out
### View > Zoom Out .......... ⌘-

where of course the primary and secondary info are still part of the same logical option.

[2015-07-23 14:23] iwehrman commented on #1808
CC @placegraphichere.

[2015-07-23 14:56] iwehrman opened #1809 "Can't drag shape from rotation pivot"
1. Create a shape and select it.
2. Attempt to drag the shape starting from the rotation pivot (i.e., the crosshair in the center)

Result: no drag.

I believe this is a core bug. Assigning to @volfied to either file a Watson issue or fix it himself.

[2015-07-23 15:25] chadrolfs commented on #1809
Sometimes you can move the rotation anchor but then is just goes back to center.  Are we going to do anything with it or provide the same functionality/use as in standard PS?  If not, can we just hide it - may be difficult since it's part of PS transform controls.

[2015-07-23 16:01] chadrolfs commented on #1797
Weeeeelllll, it still flashes for a split second.  https://www.dropbox.com/s/6a8ryol0uqszb98/Type-missing-flash.mov?dl=0

[2015-07-23 16:22] volfied commented on #1809
CL 1032341

[2015-07-23 16:26] #1738 closed

[2015-07-23 16:28] iwehrman commented on #1797
That's a different issue, I think.

[2015-07-23 16:28] iwehrman commented on #1797
It also happens exactly one time.

[2015-07-23 16:35] iwehrman commented on #1809
I guess we're just going to kill it for now.

[2015-07-23 16:36] ktaki commented on #1781
I see the issue 1677 has been fixed, but this issue 1781 is not. After click on anywhere on the panels including tool bar, subsequent click on the Ps menu bar expands the Ps window to max. Sent a message to John for further investigation.

[2015-07-23 16:57] iwehrman commented on #1809
Fixed by @volfied.

[2015-07-23 16:57] #1809 closed

[2015-07-23 17:48] chadrolfs commented on #1589
Swapping ABs is kinda jacked:
https://www.dropbox.com/s/mjwaf9jh00ee1pc/AB-Swap-bug.mov?dl=0

[2015-07-23 18:28] chadrolfs opened #1810 "Difficult to select underlying layer when zoomed out"
rotate and scale of top layer blocks selection of underlying layer
https://www.dropbox.com/s/x0tum2qthx615tv/Selectionally-Challenged.mov?dl=0

[2015-07-23 19:28] iwehrman commented on #1805
Fixed by #1811.

[2015-07-23 19:28] #1805 closed

[2015-07-23 21:07] chadrolfs commented on #1055
Took a long time to hit it but still did (pg-dev.402, sprint 26, master @ e42705d

Ran into a lot of these prior to hitting the main failure:
`Verification of postcondition 0 failed for sub-action layers.select of action superselect.drag`

![screen shot 2015-07-23 at 2 07 35 pm](https://cloud.githubusercontent.com/assets/8442631/8862278/28b54c38-3144-11e5-9ff4-8b22d8818366.png)

[2015-07-23 21:09] chadrolfs commented on #1055
it may have been a marquee select that caused that failure.

[2015-07-23 21:16] chadrolfs commented on #1561
https://watsonexp.corp.adobe.com/#bug=3993452

[2015-07-23 21:24] iwehrman opened #1812 "UI bounds don't account for both panels"
I can tell because when we `cloak` the non-UI bounds, the inner panel blinks away momentarily but not the outer panel.

[2015-07-23 21:31] iwehrman opened #1813 "Unhandled error when closing document"
Steps to repro:
1. Create a new document.
2. Close the document.

[code]

[2015-07-23 21:32] iwehrman opened #1814 "Unpinned toolbar is lonely in no-doc view"
![lonely](https://s3.amazonaws.com/f.cl.ly/items/2L3c3P3W0v2j3T1C310T/Image%202015-07-23%20at%202.31.58%20PM.png)

CC @placegraphichere

[2015-07-23 21:34] chadrolfs commented on #1813
related to #1684

[2015-07-23 21:37] iwehrman commented on #1812
Easier repro:
1. Create a new artboard document.
2. Select the artboard.
3. View > Center selection.

Note that artboard is not centered in the non-UI bounds.

[2015-07-23 21:40] iwehrman opened #1815 "Post-condition verification should be enabled by default in debug builds"

[2015-07-23 21:44] iwehrman opened #1816 "Always show up to ~10 results"
The total number of visible results should be ~10, and if all the valid results are from the same category then sobeit.
![5](https://s3.amazonaws.com/f.cl.ly/items/1i030J3d2e1n3G0V1801/Image%202015-07-23%20at%202.42.43%20PM.png)

[2015-07-23 21:56] hamburge commented on #1548
After fighting with my CC account on the VM for far too long, @volfied said he would take the search Windows bugs.

[2015-07-23 23:00] ktaki opened #1819 "Unrecoverable error by dragging artboard and an empty layer in layers panel"
Create a new artboard doc. Select the artboard and Layer 1 (empty) at the same time in the layers panel. Drag them downward and release the mouse.

A series of errors are reported in console and finally unrecoverable error will result.

Uncaught Error: Photoshop returned an error when playing command number: 1 Photoshop code: -25920 Photoshop message: error: -25920 message: The command “Move” is n

[2015-07-23 23:02] ktaki commented on #1819
Empty layer issue has been reported as https://github.com/adobe-photoshop/spaces-design/issues/1458.

[2015-07-23 23:36] iwehrman commented on #1819
There are two different bugs here: one that's causing the error in the first place, and one that's causing reset to fail. I introduced the latter one in #1803. CC @mcilroyc

[2015-07-24 00:53] wuyue1990 commented on #1585
same issue here. should be caused by the new font.

[2015-07-24 13:55] iwehrman opened #1823 "Type family doesn't track selected layer"
![type](https://s3.amazonaws.com/f.cl.ly/items/351g111v3y3W3B290l17/Image%202015-07-24%20at%206.53.52%20AM.png)

Above, layer 2 is actually Helvetica Regular and layer 1 is Times Italic.

[2015-07-24 14:08] mcilroyc commented on #1797
the new fix is in

[2015-07-24 14:16] mcilroyc commented on #1819
This has been addressed in both master AND release branches, please validate both @ktaki

[2015-07-24 15:19] volfied commented on #1548
Will be fixed by #1824, same bug

[2015-07-24 15:20] volfied commented on #1551
With #1824, I'm able to c/p into text field, will wait til we merge to confirm

[2015-07-24 16:12] volfied commented on #1810
This and #1767 should have a fight. Since they're exact opposites of each other :)

My plan is to only highlight when cmd key is held down, other times those areas are reserved for rotate.

[2015-07-24 16:25] iwehrman commented on #1682
FBNC to @chadrolfs.

[2015-07-24 16:26] volfied commented on #1711
Closing as this is now implemented, and a dev only feature.

[2015-07-24 16:26] #1711 closed

[2015-07-24 16:26] volfied commented on #1548
FBNC to Chad

[2015-07-24 16:45] volfied commented on #1804
@iwehrman please confirm the fix.

[2015-07-24 16:50] hamburge opened #1825 "Localize keyCode strings"
Currently using a lookup table in `util/key.js` to find strings for keys, but they should be localized.

[2015-07-24 16:55] ktaki commented on #1819
Verified the fix.

[2015-07-24 16:55] #1819 closed

[2015-07-24 16:57] ktaki commented on #1650
Watson bug: https://watsonexp.corp.adobe.com/#bug=4025367

[2015-07-24 20:08] #1813 closed

[2015-07-24 20:19] ktaki opened #1830 "The first doc opened after switching to DS not centered"
Switch to DS and open a new doc. The doc is not centered in the open canvas area and often partially behind the property panel. The second doc shifts a bit, but  still not centered. The third doc on, they are centered correctly.

[2015-07-24 20:22] chadrolfs opened #1831 "Unable to re-order AB layers in layers panel"

[2015-07-24 20:47] pineapplespatula commented on #1749
I'm having trouble reproing this. Chad are these steps still good in master?

[2015-07-24 21:03] #1677 closed

[2015-07-24 21:04] #1548 closed

[2015-07-24 21:05] #1682 closed

[2015-07-24 21:09] #1797 closed

[2015-07-24 21:20] chadrolfs commented on #1749
I CNR as well.  @tiburbage can you still repro this?  If not, please close.  Thanks!

[2015-07-24 21:47] ktaki opened #1835 "Templates "Android 1080p" and "Microsoft Surface Pro" are invalid"
"Microsoft Surface Pro" is not available in Default New Doc Size.txt. "Android 1080p" exists in the file, but failing for some reason.

Action documents.createNew failed: Error: Photoshop returned an error when playing command number: 1 Photoshop code: -25923 Photoshop message: error: -25923 message: The parameters for command “Make” are not currently valid.

[2015-07-24 21:54] ktaki opened #1836 "Invalid new doc template will append the template names to New From Template menu"
With no doc opened, click on either "Android 1080p" or "Microsoft Surface Pro" in the TEMPLATES panel. They are currently invalid templates as reported in https://github.com/adobe-photoshop/spaces-design/issues/1835. This should fail.

Check File -> New From Template.
RESULT: The menu contents were doubled.

[2015-07-24 22:18] iwehrman commented on #882
@isonno has answered all of our prayers. We're no longer blocked by core on this. LET'S ROLL :us: :us:

[2015-07-24 22:32] iwehrman opened #1837 "Selection overlay and single-click behavior are inconsistent"
1. Open VermillionArtboards.psd.
2. Select QUEEN OF FLORA in the top-left artboard. I suggest using the layer-search to target it because it's otherwise difficult to do so.
3. Hover your mouse over the TEJAL PATNI text layer directly below. This is a sibling layer. Observe that bounds are drawn directly around the TEJAL PATNI layer.
4. Click to select the layer

Result: Some other darn layer is se

[2015-07-24 22:48] iwehrman commented on #1837
Related to #1734.

[2015-07-24 23:16] iwehrman commented on #1837
Actually, I think this is user error and I'm crazy. Carry on.

[2015-07-24 23:16] #1837 closed

[2015-07-25 15:23] iwehrman commented on #1794
We'll need a card for it, but yes we should unlock the W/H controls. We'll also need to fix the action descriptors for use with the "implied" font sizes.

[2015-07-25 15:41] iwehrman commented on #1794
https://trello.com/c/o5nH9ksM/527-allow-type-layer-transformations

[2015-07-27 15:06] iwehrman commented on #1804
Partially addressed, but a) the shortcuts should be right-justified somehow, and b) they shouldn't be wrapped in parentheses because that makes them harder to parse. Back to @hamburge!

[2015-07-27 15:07] iwehrman commented on #1804
Actually, I guess I will relent on this and complain elsewhere about the styling. The shortcuts are indeed using the correct symbols. YOU WIN!

[2015-07-27 15:07] #1804 closed

[2015-07-27 15:09] iwehrman commented on #1830
Possibly related to #1812 and/or #1709.

[2015-07-27 15:40] volfied commented on #1776
FBNC to Chad

[2015-07-27 16:47] iwehrman opened #1840 "Dropping a layer after dragging sometimes puts the layer in rename mode"
It happens relatively infrequently, but common enough for me to file this issue.

It might help to disable the click handler until the re-order is complete.

[2015-07-27 18:38] iwehrman commented on #1812
Fixed by #1842.

[2015-07-27 18:38] #1812 closed

[2015-07-27 21:19] chadrolfs opened #1843 "Undo failure: drag and drop nested group"
`Action edit.undo failed: Error: Photoshop returned an error when playing command number: 1 Photoshop code: -25920 Photoshop message: error: -25920 message: The command “Select” is not currently available.`

https://www.dropbox.com/s/znpizclvk9z7wdk/Undo-Fail.mov?dl=0

[2015-07-27 21:20] chadrolfs commented on #1843
occurs in prerelease build m.177 as well as current pg-dev.412 and master @ 6a2880c

[2015-07-27 21:29] iwehrman commented on #1843
Actually, this might be for @mcilroyc instead.

[2015-07-27 21:57] chadrolfs opened #1844 "shortcut modifier to zoom doesn't work with Select tool"
open a file, hold down cmd/ctrl + space + click and drag

Result: cursor changes to magnifying glass but performs marquee select (works with other tools)

[2015-07-27 21:59] chadrolfs opened #1845 "shortcut modifier to zoom pauses while zooming in/out"
open a file, select any tool *except* the Select tool, hold down cmd/ctrl + space + click and drag right and left

Result: zoom in/out will stutter/pause before it becomes smooth.

[2015-07-27 22:18] jfitz-adobe commented on #1781
After applying CL 1032252, the "2 clicks until Group Expands" issue appears to reside in the JS code. I can see each click being delivered to JS layer from the Adapter:

     mouseClick(isMouseUp=false, mod=0x00000010)
     mouseClick(isMouseUp=true, mod=0x00000010)

But it takes yet another click to expand the group:

     mouseClick(isMouseUp=false, mod=0x00000010)
     mouseClick(isMouseUp=true

[2015-07-27 22:24] chadrolfs opened #1846 "Errors selecting layers in Vermilion"
Open it, zoom into Desktop Large, start selecting layers (targeting via cmd/ctrl modifier), delete a couple, select some more.

Result: errors

[2015-07-27 22:24] chadrolfs commented on #1846
![screen shot 2015-07-27 at 3 16 25 pm](https://cloud.githubusercontent.com/assets/8442631/8919360/9b1e0224-3473-11e5-9aeb-625f05488cda.png)
![screen shot 2015-07-27 at 3 22 46 pm](https://cloud.githubusercontent.com/assets/8442631/8919361/9b2ff060-3473-11e5-845f-72825d0a9aa5.png)

[2015-07-27 22:29] ktaki commented on #1781
Back to Ian.

[2015-07-27 22:32] volfied commented on #1846
This is `_removeArtboardIDs` function in superselect.js

Maybe due to layer deletion, we're not updating our models correctly and a layer that's been deleted is still showing up in an async call?

Safest bet is to just test for layer existence.

[2015-07-27 22:42] chadrolfs commented on #1843
this may or may not be a prerelease blocker.  doesn't seem like anything bad happens afterwards.  thoughts?

[2015-07-27 23:29] pineapplespatula opened #1848 "History state with modal text tool is broken"
Step backwards is not allowed during the modal tool. and currently we have update color modify our history state, but it does not match PS behavior during the modal type tool. it only matches when we are not in the modal state.

[2015-07-28 00:23] iwehrman opened #1849 "Select All layers fails due to missing locks"
[code]

[2015-07-28 02:32] iwehrman commented on #1846
In the PR, @volfied says:

[2015-07-28 02:33] iwehrman commented on #1848
We should disable undo/redo when in a modal tool state.

[2015-07-28 02:34] iwehrman commented on #1848
And probably a whole bunch of other commands.

[2015-07-28 14:28] iwehrman commented on #1849
Fixed by #1850.

[2015-07-28 14:28] #1849 closed

[2015-07-28 15:26] volfied commented on #1816
FBNC to Ian

[2015-07-28 15:27] volfied commented on #1807
FBNC to Ian

[2015-07-28 15:58] volfied commented on #200
Closing this, as the issue is now fixed in Core!

[2015-07-28 15:58] #200 closed

[2015-07-28 16:01] chadrolfs commented on #200
:tada: :tada: :fireworks: :

[2015-07-28 16:22] iwehrman commented on #1816
Sure enough.

[2015-07-28 16:22] #1816 closed

[2015-07-28 16:23] iwehrman commented on #1807
Sure enough.

[2015-07-28 16:23] #1807 closed

[2015-07-28 17:04] iwehrman commented on #1516
I do not think this is a low-priority issue. This should be fixed for October.

[2015-07-28 18:19] chadrolfs commented on #1357
This has regressed and occurs again.
cmd/ctrl + n
cmd/ctrl + v
Result: `Action menu.nativeModal failed: Error: Menu command not available: 105`

[2015-07-28 18:33] #1776 closed

[2015-07-28 18:40] #1831 closed

[2015-07-28 18:47] iwehrman commented on #1357
I assume this still only happens in the debug builds.

[2015-07-28 20:45] chadrolfs commented on #1689
you'll subsequently hit this as well `Verification of postcondition 1 failed for action documents.open`

[2015-07-28 21:38] chadrolfs commented on #1800
With new UI, this may not be an issue anymore.

[2015-07-28 21:45] chadrolfs opened #1853 "To reduce mouse travel, always show panel well or add option to pin"
![screen shot 2015-07-28 at 2 44 19 pm](https://cloud.githubusercontent.com/assets/8442631/8944684/d8966d12-3536-11e5-8d4c-e33e7c609bb0.png)

It's easier to toggle/expand/collapse panel visibility if the well is always there and also more discoverable than the triangles

[2015-07-28 21:45] designedbyscience commented on #1853
I think we're gonna have it here all the time

[2015-07-28 21:45] placegraphichere commented on #1853
I think we're gonna do this for other reasons, but yes, agreed

[2015-07-28 21:54] shaoshing commented on #1800
credit to @designedbyscience ! one small problem: the layers panel is not fully collapsed (you can still see the white line).
![screen shot 2015-07-28 at 2 49 36 pm](https://cloud.githubusercontent.com/assets/118264/8944954/62bbf542-3538-11e5-97e2-87a39643d0dd.png)

[2015-07-28 22:04] designedbyscience commented on #1800
Yep, solution incoming with layer panel style updates

[2015-07-28 23:09] chadrolfs commented on #1846
I just hit this (CC Lib enabled):
cmd+n
select a library
click the (+) to add the asset to the canvas, hit enter to place
click on canvas to select/move cc-linked layer
Result: `Action superselect.click failed: TypeError: Cannot read property 'isArtboard' of null`

Let me know if I should write this up separately.

[2015-07-28 23:37] chadrolfs commented on #1357
if by debug you mean uncompiled master with latest jenkins then yes

[2015-07-29 14:12] mcilroyc commented on #1843
@chadrolfs : good news and bad news.  The good news is that I think this is easily addressed by the above noted PR (still open as of right now).  The *bad* news is that this issue is much worse than indicated by the title of the issue.  I think ALL layer reordering is busted (vis a vis history) in that undo doesn't actually work on the first try (it just changes the selection state).

[2015-07-29 15:07] mcilroyc opened #1857 "Modal text navigation executes a set of flux actions"
There are a variety of user actions that, while in a modal text edit state, cause a set of flux actions (~6) to be (seemingly) needlessly executed.  Examples: Navigating with mouse, arrow keys, or backspace.

http://cl.ly/240D3v3e2T1s

[2015-07-29 15:20] pineapplespatula commented on #1857
We do need some actions in order to update our text model depending on the state of the modal tool, we can reduce the 6 actions to 1, but that is a design choice that i don think is too important.

[2015-07-29 16:40] mcilroyc opened #1858 "Using the color text input while in modal text edit state, can't get back to edit text"
- create a text layer (or enter an existing text layer, in edit mode)
- type some characters
- click in to the color text input box, type "red" to change the color to red
- try to continue editing the text layer... it doesn't seem possible

[2015-07-29 18:38] chadrolfs opened #1859 "CC Lib: importing asset does not update layers panel"
new doc, load a library and add an asset to canvas by clicking on (+), hit Enter to place

Result: layers panel is not updated
Expect: layer panel to update reflecting newly added asset (and it should be focused/selected)

If you attempt to move the artboard, you get
`Action layers.getLayerOrder failed: Error: Too many layers in layer index`

[2015-07-29 18:46] chadrolfs opened #1860 "CC Lib: adding a vector smart object imports into library incorrectly"
open a file that has an embedded vector smart object layer (basically an illustrator file) and select it
click the Add Graphic icon at the bottom of the Lib panel

Result: layer is added to library but it has no icon.  Switching to standard PS reveals that it was created as PS instead of AI.

Attempting to add it to a doc in DS results in:
`Action libraries.createLayerFromElement failed: Error: un

[2015-07-29 18:47] chadrolfs commented on #1860
![screen shot 2015-07-29 at 11 49 40 am](https://cloud.githubusercontent.com/assets/8442631/8966691/8d0d7e74-35e7-11e5-907f-e90d8c7e4b83.png)

[2015-07-29 20:56] #1843 closed

[2015-07-29 22:57] chadrolfs opened #1862 "CC Lib: unable to add Adobe Shapes (svg) files from library to canvas"
Using Adobe Shape mobile app, add assets to a library
Load library in DS and click on (+) to add to canvas

Result: nothing is added

[2015-07-29 23:08] chadrolfs opened #1863 "CC Lib: loading a library after creating a Type layer result in errors"
new doc
select Type tool and create a type layer (hit numpad Enter or Esc to commit)
Libraries drop down initially has no library loaded, click to expand list and load a library
(I loaded one that contains a single layer style effect: inner and drop shadow)

Result: `Uncaught TypeError: Cannot read property 'first' of undefined`
`Action libraries.selectLibrary failed: TypeError: Cannot read proper

[2015-07-30 17:06] pineapplespatula commented on #1848
there is a  watson bug related to this 4028040

[2015-07-30 22:29] ktaki opened #1867 "Ps crashes when switching to other locales and switching to DS"
Tested on Mac only:

Crashed Thread:        0  CrBrowserMain  Dispatch queue: com.apple.main-thread

Exception Type:        EXC_BREAKPOINT (SIGTRAP)
Exception Codes:       0x0000000000000002, 0x0000000000000000

Thread 0 Crashed:: CrBrowserMain  Dispatch queue: com.apple.main-thread
0   org.chromium.ContentShell.framework	0x0000000189a6aab7 base::debug::BreakDebugger() + 23
1   org.chromium.Conten

[2015-07-30 22:55] shaoshing commented on #1863
This is related to the change of text#characterStyles to text#characterStyle (introduced from merge e42705db5185780f4a051cb9833a098e8a69606a) Fix is on the way.

[2015-07-30 23:05] ktaki commented on #1867
It looks like mainline debug build issue.

[2015-07-30 23:05] #1867 closed

[2015-07-30 23:53] shaoshing commented on #1859
The + button is working but it is placing at the top left corner. I can make it to place at the center of the view port, but I am wondering with the drag-n-drop, do we really need the click-n-add function? It is not as natural as drag-n-drop, and is not more efficient either (you can not batch add given that you have to quit the transform mode first). @volfied @chadrolfs  what do you think?

[2015-07-31 00:00] chadrolfs opened #1868 "Search: menu commands: Application should be Photoshop CC"
open a doc, cmd/ctrl + f, select Menu Commands

Result: Show All   Application > Show All

[2015-07-31 00:23] shaoshing commented on #1862
Graphic asset created from the mobil app is SVG file instead of PS file. I checked the log from the script listener and it added additional params for SVG asset. @volfied , do you think I can fix this in the adapter by adding those params, or I need supports from the core?

#### Regular asset

[code]

#### SVG asset

[code]

[2015-07-31 00:27] chadrolfs opened #1869 "Search: clicking on icon or search window gives app focus"
open a file and select a layer,
cmd/ctrl + f
click to expand the list
click on the magnifier icon or click on window somewhere (now no blinking cursor in field)
hit delete key

Result: layer gets deleted

[2015-07-31 00:32] shaoshing commented on #1860
@volfied could you check this out?

[2015-07-31 03:18] volfied commented on #1859
Let's definitely get @davealonzo's input, but as far as the designs show, there is no click to apply for Graphic assets, it should be drag&drop.

[2015-07-31 04:15] chadrolfs commented on #1859
Agreed with @volfied that we can probably do away with the (+) and just do drag&drop but the final call is @davealonzo's

[2015-07-31 15:00] chadrolfs opened #1871 "Search: filters missing their icons"

[2015-07-31 15:05] chadrolfs opened #1872 "Sample tool needs to be added to shortcuts"
Help > Keyboard shortcuts

[2015-07-31 15:06] chadrolfs opened #1873 "Sample tool missing tool tip"

[2015-07-31 16:21] volfied opened #1874 "Libraries: Dropped graphics should immediately apply the place operation"
This is part PS Core, part our code. But keeping this open to keep track and I'll fix it on both sides.

[2015-07-31 16:48] ktaki opened #1875 "Type: Empty text layer is created"
Select type tool. Click on canvas. Hit Esc.
RESULT: Empty text layer is created.
EXPECTED: No text layer is created regardless of Esc key setting (commit or cancel).

[2015-07-31 16:52] ktaki commented on #1875
Subsequent click on the empty text layer will result in error:
 Action layers.select failed: Error: Photoshop returned an error when playing command number: 1 Photoshop code: -25920 Photoshop message: error: -25920 message: The command “Select” is not currently available.

[2015-07-31 16:53] chadrolfs commented on #1875
or if you attempt to delete it:
```Action layers.deleteSelected failed: Error: Photoshop returned an error when playing command number: 1 Photoshop code: -25920 Photoshop message: error: -25920 message: The command “Delete” is not currently available.```

[2015-07-31 17:11] chadrolfs opened #1877 "Focus is lost when tabbing out of a datalist"
select a text layer, enter X (transform field), tab (repeat)
or set focus in Letter and Shift + tab (repeat)

Result: focus drops after blend mode or Weight if you are reverse tabbing

(also happens in edit mode)

[2015-07-31 17:11] chadrolfs opened #1878 "Blend Modes: missing tool tip"

[2015-07-31 17:12] ktaki commented on #1691
Now addition of super sampler, this should be set to high priority. It is natural trying to set the text color in text editing mode. Even though changing a part of text color with sampler tool may not be possible in the current implementation, at least the text edited should remain.

[2015-07-31 17:21] chadrolfs opened #1879 "Text Edit: Shortcut to Hide results in standard dialog that doesn't honor choice to hide extras"
while in text edit mode, cmd/ctrl + h

Result:
![screen shot 2015-07-31 at 10 20 37 am](https://cloud.githubusercontent.com/assets/8442631/9012970/d40b792a-376d-11e5-91e8-61c57092170f.png)

Click [Hide Extras]
Result: Hide Photoshop is executed.

[2015-07-31 17:22] chadrolfs commented on #1879
we just need to suppress the dialog here?  core bug?

[2015-07-31 17:22] ktaki opened #1880 "Type: Initial type settings shown as "mixed" when creating new text layer"
Instead of saying "mixed" for all the type settings, show current font settings that are either default or inherited from the previous creation of a text layer.

[2015-07-31 17:25] chadrolfs opened #1881 "Text Edit: color picker does not update to reflect color of selected text"
select some characters of a text layer, open color picker and select a red, select some other characters that are black

Result: color picker remains unchanged (red)

[2015-07-31 17:40] ktaki opened #1882 "Text Edit: Alignment changes does not work in text edit mode"
Click Align icons in text editing mode. No changes shown on canvas.

[2015-07-31 17:47] chadrolfs commented on #1880
what's interesting is if you click, type and then delete one char, then typeface and settings populate correctly.

[2015-07-31 17:47] ktaki opened #1883 "Text Edit: Align icons should be highlighted to indicate current setting"

[2015-07-31 17:50] chadrolfs commented on #1875
if you reset design space, the empty layer is then gone.

Type tool, click on canvas, ESC to commit, Help > Reset Design Space
Result: no empty text layer

[2015-07-31 17:53] ktaki opened #1884 "Text Edit: Glyph size in Set Text Color square is too small"
Currently the character in the Set Text Color resizes depending on the font size setting. Is this necessary? It often is too small for the size of the square. Could it be fixed size about 40 pt?

[2015-07-31 17:56] ktaki commented on #1875
Yes. This is because no empty text layer can be created in standard Ps. In DS, it looks like an empty layer was created, but actually not.

[2015-07-31 18:17] ktaki opened #1885 "Opacity field in style panel is truncated if "mixed""
![screen shot 2015-07-31 at 11 14 14 am](https://cloud.githubusercontent.com/assets/2029597/9014204/b92e25a0-3775-11e5-8706-0eaa2fec0a52.png)

[2015-07-31 18:18] chadrolfs opened #1886 "Type: Color picker opacity is not retained or displayed in field"
Select a type layer, click on color picker, set a color and opacity < 100 (observe type on canvas reflect change), close color picker

Result: color picker field does not include alpha and if you re-open the color picker, alpha is set back to 100 even though text on canvas still shows opacity previously set.

[2015-07-31 18:22] chadrolfs commented on #1884
@designedbyscience not sure if this is you or @placegraphichere

[2015-07-31 18:27] designedbyscience commented on #1884
This will be changed by the new panel design I believe

[2015-07-31 19:18] iwehrman opened #1888 "Can't search unless a document is open"
I want to use the search bar to open recent files!

[2015-07-31 19:37] placegraphichere commented on #1888
When there are no open docs, I might suggest the default view once you click into the app search would be recent files, instead of filters. Auto fill for filters would still work of course

[2015-07-31 20:47] chadrolfs opened #1889 "System UI: Doc tabs don't need tooltips"

[2015-07-31 21:40] designedbyscience opened #1890 "Recalculate tab size on panel expand/collapse"
In case we need to go from small/large tabs

[2015-07-31 23:47] hamburge opened #1892 "Search bar should be centered in the viewport"
Currently it is only centered when both toolbar panels are open.

[2015-07-31 23:56] iwehrman commented on #1892
Help, @designedbyscience!

[2015-08-02 15:03] iwehrman opened #1895 "transform.flip, align and distribute should have an underscore prefix"
... because they're private. They should also be moved to the top of the file for consistency and readability.

[2015-08-02 15:26] iwehrman commented on #1895
Also, `transform.flip`. CC @mcilroyc.

[2015-08-02 15:36] iwehrman opened #1896 "Eliminate redundant InCurrentDocument actions"
We tried this pattern for a while early on, but in hindsight it seems better (i.e., much less boilerplate code) to just make the document parameter optional.

[2015-08-03 17:33] chadrolfs commented on #1808
Close if you think @iwehrman is wrong.

[2015-08-03 17:50] ktaki opened #1897 "Make sure tools are available (new customize toolbar in standard PS)"
With customized toolbar feature in, tools may or may not be available.

[2015-08-03 17:51] chadrolfs commented on #1872
shortcut = i

[2015-08-03 18:00] chadrolfs commented on #1879
What should our default choice be?

[2015-08-03 18:12] chadrolfs commented on #1897
There will need to be work on both js and core sides.

[2015-08-03 18:12] chadrolfs commented on #1897
@ktaki please file watson

[2015-08-03 18:19] chadrolfs commented on #1734
@iwehrman and @designedbyscience say it seems to be working correctly

[2015-08-03 18:19] #1734 closed

[2015-08-03 18:23] #1823 closed

[2015-08-03 18:25] chadrolfs commented on #1800
How should this work with new UI and additional panels (CC Lib & Export)?

[2015-08-03 22:43] ktaki commented on #1897
https://watsonexp.corp.adobe.com/#bug=4030512

[2015-08-04 16:39] chadrolfs opened #1902 "After touch gesture, standard PS context menus and behaviors are available"
(on a Surface) draw out some shapes (rect tool)
invoke a gesture (2 finger swipe or 3 finger drag for history)
single click or right click with Rect tool

Results: pops up the create a new rect dialog with dimensions and right click reveals full context menu with things like extrude to 3D

[2015-08-04 16:40] chadrolfs commented on #1902
https://www.dropbox.com/s/30eo5r98i88nw53/Rect-on-Surface-rightclick.png?dl=0
https://www.dropbox.com/s/8zzpvpk2tljrixo/Rect-on-Surface-singleclick.png?dl=0

[2015-08-04 16:43] shaoshing commented on #1709
@iwehrman  The centering position is correct and the art board does centered. However, if you move the art board fast with the track pad, it will be still in the "moving" state after centered, and this cause the shifting problem. I confirmed standard PS has the same problem, so this is a core bug. Shall I report in watson?

![offset-centering](https://cloud.githubusercontent.com/assets/118264/9066

[2015-08-04 16:49] shaoshing opened #1903 "Clicking on an artboard dirties the document"
1) open any psd file
2) click on the art board
3) file tab shows changed state

![unsaved-status](https://cloud.githubusercontent.com/assets/118264/9066720/0fd60d1c-3a8e-11e5-9d84-4ecfeddf9c12.gif)

[2015-08-04 17:26] designedbyscience commented on #1692
This is fixed by the tabbed document changes

[2015-08-04 19:44] placegraphichere opened #1905 "Artboards: Add new artboard using file menu"
Allow addition of a adding new artboard templates to canvas using the file menu.

**Layer > New Artboard > [options]**

We can grab the [options] from current Ps template options for artboards (I believe there are 10 or so).

![filemenu-layers](https://cloud.githubusercontent.com/assets/3229167/9048852/ffebe07a-3a01-11e5-914a-598138b609b8.png)

[2015-08-04 20:09] chadrolfs commented on #1905
Basically duplicating File > New From Template, right?

[2015-08-04 20:10] chadrolfs commented on #1905
Should this be a trello card?  This isn't really a bug/issue.

[2015-08-04 20:18] designedbyscience commented on #1892
Fixed by #1898

[2015-08-04 20:18] #1892 closed

[2015-08-04 20:31] #1863 closed

[2015-08-04 20:32] #1692 closed

[2015-08-04 20:34] #1551 closed

[2015-08-04 20:36] chadrolfs opened #1906 "Search: Paste into field repeats twice"
Copy some text ctrl + c, "designspace"
ctrl + f to bring up Search
click in field and hit ctrl + v to paste

Result: "designspacedesignspace"

[2015-08-04 20:38] chadrolfs opened #1907 "Search: Unable to Paste after Cut"
ctrl + f to bring up Search
click in field and enter some text, "design"
select the text and hit ctrl + x to cut
hit ctrl + v to paste

Result: nothing pasted

[2015-08-04 20:41] chadrolfs opened #1909 "CC Lib: Library should sticky. Open or new doc results in no library loaded."
Once the app is open and a library is loaded it should remain sticky if you open or create new docs.  This is how standard PS behaves

[2015-08-04 21:12] ktaki commented on #1650
John F handed this bug over to Barkin.

[2015-08-04 21:22] ktaki commented on #1375
The issue was that you saw both standard and DS transform controls on the shape.
This is no longer an issue as DS transform controls have been replaced by standard Ps transform controls.

[2015-08-04 21:22] #1375 closed

[2015-08-04 21:24] ktaki commented on #948
https://watsonexp.corp.adobe.com/#bug=3972778

[2015-08-04 23:55] iwehrman opened #1912 "Sort menu commands by menu order by default"
It seems that the menu entries are in reverse order compared to how they're drawn in the menu:
![menu](https://s3.amazonaws.com/f.cl.ly/items/0P1M1G3P3U421z330x04/Image%202015-08-04%20at%204.53.00%20PM.png)

[2015-08-05 00:05] iwehrman commented on #1869
FBNC to @chadrolfs.

[2015-08-05 00:38] iwehrman commented on #1888
Fixed by #1900.

[2015-08-05 13:10] volfied commented on #1844
While trying to reproduce the problem, I've noticed that cmd+space on Mac causes Spotlight to pop up, preventing us from receiving a key down event for space bar. If you hold space then cmd, scrubby zoom works fine.

Since we rely on key events coming from PS for this, we should see if this is a simple fix on the core side.

[2015-08-05 13:54] volfied commented on #1681
`barkin/1681`, Not a fan of the transfer skip FIXME comment in there so leaving this Fix in Progress for now.

[2015-08-05 14:17] iwehrman commented on #1846
FBNC to @chadrolfs.

[2015-08-05 14:19] iwehrman commented on #1835
FBNC to @chadrolfs

[2015-08-05 17:44] pineapplespatula opened #1914 "Color Picker has Opacity slider during modal type tool when it isn't applicable"
We cannot set the opacity of individual characters in text runs, ( because all we have is layer opacity to play with)
but when you open the color picker it lets you try and change the opacity

we should disable it.

[2015-08-05 17:48] chadrolfs opened #1915 "Resizing app window moves toolbar"
https://www.dropbox.com/s/dg959nfib7ydxjd/toolbar-wander-onresize.mov?dl=0

[2015-08-05 17:50] iwehrman commented on #1915
This is an old, known core bug. There may be a Watson issue for it. CC @jfitz-adobe

[2015-08-05 17:50] iwehrman commented on #1915
But, if there's not a Watson issue for it, we should file one.

[2015-08-05 17:53] ktaki opened #1916 "Crash starting Ps in DS mode with Spectrum build"
Tested with Jenkins main build (cl#1034440) on Mac.
Switching to DS works fine. However, starting with DS mode will crash Ps.

Start Ps with preferences cleared.
Switch to DS.
Quit Ps.
Start Ps.

Exception Type:        EXC_BAD_ACCESS (SIGSEGV)
Exception Codes:       KERN_INVALID_ADDRESS at 0x0000000000000000

VM Regions Near 0:
-->
    __TEXT                 0000000109e6c000-000000010f62f000 [ 87.

[2015-08-05 18:12] ktaki commented on #1916
Also crashes on Windows. No crash with the builds before the Spectrum integration.

[2015-08-05 18:13] ktaki commented on #1916
John F is looking into it.

[2015-08-05 18:28] iwehrman commented on #1868
FBNC to @chadrolfs.

[2015-08-05 18:30] pineapplespatula commented on #1836
since i fixed the two broken templates i cannot reproduce this anymore. I'm not sure if it is worth breaking in order to fix this other bug.

[2015-08-05 18:32] pineapplespatula commented on #1858
hit enter again to blur the input.

[2015-08-05 18:33] pineapplespatula commented on #1858
i dont think this is a bug, unless we want to revisit how we commit and blur inputs

[2015-08-05 19:29] ktaki commented on #1836
Since current template implementation in Ps is fragile, we should fix this bug. Modifying one of the template names in Default New Doc.txt will break the template. Let me know if you cannot repro.

[2015-08-05 19:52] chadrolfs commented on #1835
Verified the fix but assigning to @ktaki since he originally reported it.

[2015-08-05 19:54] #1869 closed

[2015-08-05 21:22] chadrolfs commented on #1897
Here is the result of not having tools available:
![screen shot 2015-08-05 at 2 23 01 pm](https://cloud.githubusercontent.com/assets/8442631/9098246/728deaf2-3b7d-11e5-81ff-af9421552cb3.png)

[2015-08-05 21:47] chadrolfs opened #1919 "Accessing Super Sample in no doc state results in error"
use shortcut (i) or click on it, result:
`Action tools.select failed: TypeError: Cannot read property 'layers' of null`

[2015-08-05 21:55] iwehrman commented on #1873
I GOT THIS.

[2015-08-05 21:55] chadrolfs opened #1920 "Super Sample: Text to Text: Shift + click fails to apply Typeface"

[2015-08-05 22:04] volfied commented on #1920
We've decided to change this to be layer effects, as to make it universal and consistent. Not a bug.

[2015-08-05 22:37] chadrolfs commented on #1916
@ktaki is there a watson issue logged for this or are we just tracking it here?

[2015-08-05 22:52] ktaki commented on #1916
Here it is.
https://watsonexp.corp.adobe.com/#bug=4032088
Just reproduced this issue with John F. He will fix this shortly.

[2015-08-05 23:09] pineapplespatula commented on #1882
The modification that allows us to handle modal commands doesn't seem to support paragraph styles.
@chadrolfs  would you be able to log a watson bug about it?

[2015-08-05 23:25] chadrolfs opened #1923 "Help > Reset DS defaults to Type tool and then errors selecting another tool"
[code]

[2015-08-05 23:28] chadrolfs commented on #1919
This is actually #1923 closing this as dupe

[2015-08-05 23:28] #1919 closed

[2015-08-05 23:28] volfied commented on #1923
Also, can you please explain here why type tool deselect handler is calling reset layers? Tool switch is a common thing and we shouldn't be blocking with expensive operations.

[2015-08-05 23:29] #1920 closed

[2015-08-05 23:38] iwehrman commented on #1872
FBNC to @chadrolfs.

[2015-08-05 23:41] chadrolfs commented on #1882
@ktaki originally logged this so I'll let him do the honors.

[2015-08-05 23:42] pineapplespatula commented on #1923
On exiting the type tool, if the current character style has been changed to match a selection made in the modal state, we need to reset it to the baseline character style from PS.

[2015-08-05 23:47] #1872 closed

[2015-08-05 23:47] #1868 closed

[2015-08-05 23:51] pineapplespatula opened #1927 "Type tool does not work in mixed selection states"
Steps:
Make two layers
* one type layer
* one shape layer
Attempt to change type properties

Making Changes in the property panel have no effect

[2015-08-06 00:17] iwehrman commented on #1912
Fixed by #1922.

[2015-08-06 00:17] #1912 closed

[2015-08-06 00:18] iwehrman commented on #1825
Fixed by #1922.

[2015-08-06 00:18] #1825 closed

[2015-08-06 00:21] iwehrman commented on #1886
FBNC to @chadrolfs.

[2015-08-06 13:20] joelrbrandt opened #1929 "Add Super Search to keyboard shortcut list"
the "Help > Keyboard Shortcuts" menu lists keyboard shortcuts. But, Super Search isn't in the list! :scream:

[2015-08-06 13:22] joelrbrandt commented on #1929
Actually, I guess it's under the "Layers" menu, so maybe it doesn't belong in the keyboard shortcuts? Maybe @placegraphichere or @iwehrman has an opinion? This feature has gotten so much bigger than just layers...

[2015-08-06 13:51] iwehrman commented on #1929
I agree that the `Layers` menu probably is no longer the right place for it. Actually we should still have a `Find Layers` entry under `Layers`, which will trigger @designedbyscience's in-panel layers-only search feature. We should have an `App Search` menu entry elsewhere; possibly under `Edit`?

So far we've only put non-menu keyboard shortcuts in that dialog. But I agree that it is important en

[2015-08-06 13:52] volfied commented on #1923
Aren't all the other listeners you have handling that case?

[2015-08-06 13:56] iwehrman opened #1930 "Filter results not selected by default"
Maybe this is intentional, but it just tripped me up. I wanted to just filter by menu commands, so I hit cmd-F, "me", enter. I expected this to filter by menu commands, but the first result wasn't highlighted. It seems like it only highlights the first non-filter result? Also, some unexpected command was executed when I hit enter with no (visible) results highlighted. Maybe an off-screen result wa

[2015-08-06 13:56] iwehrman commented on #1930
![me](https://s3.amazonaws.com/f.cl.ly/items/1L3u0e2K0i0H400F262N/Image%202015-08-06%20at%206.53.33%20AM.png)

[2015-08-06 13:57] iwehrman opened #1931 "Search should refer to "results" not "options""
![options](https://s3.amazonaws.com/f.cl.ly/items/3T1n1B1J3M1y2y2G1C2f/Image%202015-08-06%20at%206.57.26%20AM.png)

[2015-08-06 14:09] iwehrman opened #1932 "Menu shortcut to open search bar should also close it if open"
Just like Spotlight and Alfred.

[2015-08-06 14:12] iwehrman commented on #1806
This is still happening in your most recent branch, @hamburge.

[2015-08-06 15:41] volfied commented on #1895
#1921 will fix this.

[2015-08-06 16:01] chadrolfs opened #1933 "Suppress CC Lib dialog for first asset drag onto canvas"
![screen shot 2015-08-06 at 8 37 38 am](https://cloud.githubusercontent.com/assets/8442631/9116533/b0fc16e6-3c19-11e5-8d3b-717617e9b046.png)

[2015-08-06 16:17] volfied commented on #1933
Build #430 will have the fix.

[2015-08-06 16:51] ktaki commented on #1835
Verified the fix.

[2015-08-06 16:51] #1835 closed

[2015-08-06 16:57] ktaki commented on #1882
Here it is. https://watsonexp.corp.adobe.com//#bug=4032644

[2015-08-06 17:08] pineapplespatula commented on #1923
no

[2015-08-06 18:38] iwehrman commented on #1441
This is a retina-only bug. It's still happening as of Sprint 27. Maybe @DivyaPrabhakar can look into this?

[2015-08-06 18:39] iwehrman commented on #1462
Hey @placegraphichere, what should this look like? @DivyaPrabhakar will fix it!

[2015-08-06 18:40] iwehrman commented on #1462
@DivyaPrabhakar If @placegraphichere doesn't respond here, HUNT HIM DOWN.

[2015-08-06 18:45] iwehrman opened #1935 "There will only ever be one stroke/fill per layer"
Factored out of #1802.

Currently, layer models have references to a list of vector strokes and fills, but we've now decided that Photoshop is likely not going to support multiple vector strokes and fills per layer. Hence, we should simplify the models and associated code to just have a single nullable reference to a vector stroke and fill.

CC @shaoshing

[2015-08-06 18:47] iwehrman commented on #1802
I factored out this unrelated request into #1935:

[2015-08-06 18:50] iwehrman commented on #1871
FBNC to @chadrolfs.

[2015-08-06 19:17] shaoshing commented on #1801
issue is resolved with the new UI.

[2015-08-06 19:17] #1801 closed

[2015-08-06 19:43] hamburge commented on #1929
Putting it under `Window` makes more sense to me than `Edit`

[2015-08-06 20:07] volfied opened #1936 "Type tool deselect should not call resetLayers"
If there is extra core work that needs to be done to prevent calling reset on type tool deselect, than please track it with a Watson bug.

[2015-08-06 20:24] chadrolfs opened #1937 "Layers created outside Artboard nest incorrectly when dragged in/out of AB on canvas"
new doc
create a new Rect or Type layer outside AB bounds
switch to Select and drag layer into AB, then out
compare canvas to layers panel

Result: Layer is visible outside AB bounds but is still represented as inside AB in layers panel

[2015-08-06 20:39] pineapplespatula commented on #1936
has watson bug 4032729

[2015-08-06 20:40] #1873 closed

[2015-08-06 20:45] chadrolfs opened #1938 "Show/Hide Guides has wrong shortcut, conflicts with Group (cmd/ctrl + g)"

[2015-08-06 20:48] #1871 closed

[2015-08-06 20:49] mcilroyc commented on #1858
fwiw, (since I created this bug), I see that hitting enter twice does what I need it to do.  I think it is clunky, but at least it works... so I retract my assertion that it is "impossible".  I'll defer to the experts about how to proceed.

[2015-08-06 20:50] pineapplespatula commented on #1858
@placegraphichere care to comment?

[2015-08-06 20:51] #1923 closed

[2015-08-06 21:31] chadrolfs opened #1940 "cmd/ctrl + click selects AB instead of leaf layers"

[2015-08-06 21:33] iwehrman commented on #1781
Unfortunately I can't reproduce this. @ktaki: are you still able to repro the problem you described as:

1. Click once on the toolbar
2. Click once on the title bar, and observe window maximization?

[2015-08-06 21:35] iwehrman opened #1941 "Can't pan canvas by scrolling with trackpad"
Windows only. It actually does scroll very slowly sometimes, but only vertically.

[2015-08-06 21:36] iwehrman commented on #1941
Pinch to zoom in/out also does not work.

[2015-08-06 21:54] iwehrman commented on #1940
I think @volfied said he was going to look into this.

[2015-08-06 22:03] chadrolfs opened #1942 "Undo after deleting a non-visible group doesn't restore selection or visibility state"
This can get so confusing in large docs.

https://www.dropbox.com/s/upk3srcctz7pxhw/Undo-Blasphemy.mov?dl=0

[2015-08-06 22:07] chadrolfs commented on #1942
I think we had a discussion somewhere else about issues/difficulties around restoring selections after undo but in this case, you're not even in the same artboard which is part of the confusion.

[2015-08-06 22:07] #1846 closed

[2015-08-06 22:09] chadrolfs commented on #1844
We decided in stand-up this morning that this is now desired behavior, right?

[2015-08-06 22:20] chadrolfs opened #1944 "CC Lib: dragging asset with Opt/Alt key to place expanded layers results in error"
new doc, load a library that has an asset that contains multiple layers, drag + alt/opt onto canvas
Result: ```Action layers.addLayers failed: Error: Replacing a layer but the new layer's index seems out of bounds
    at Record.<anonymous> (file:///Users/crolfs/playground-repos/spaces-design/src/js/models/layerstructure.js:814:27)
    at Array.reduce (native)
    at Record.LayerStructure.addLayers

[2015-08-06 22:20] #1933 closed

[2015-08-06 22:23] iwehrman commented on #1941
It's possible this is a VM artifact. Would either @chadrolfs or @ktaki mind verifying on a real live PC?

[2015-08-06 22:24] #1886 closed

[2015-08-06 22:25] iwehrman commented on #1836
FBNC to @ktaki.

[2015-08-06 22:26] ktaki commented on #1781
That bug, single click become double click (i.e., window maximization), was fixed. The original issue of taking double click to expand/collapse is still not fixed. Again, this is on Windows only.

[2015-08-06 22:27] ktaki commented on #1781
@chadrolfs Can you try reproduce this on your Windows machine?

[2015-08-06 22:59] iwehrman commented on #1806
Fixed by brute force.

[2015-08-06 22:59] #1806 closed

[2015-08-07 00:27] ktaki commented on #1941
Right. Panning with trackpad failed on my newly set up Surface Pro.

[2015-08-07 00:34] volfied commented on #1844
Yes, however, reason it doesn't work in select tool is because we're
stealing mouse down events... So while it presents correct behavior, it's
not the solution.

Therefore I'm not sure if this is an issue... we're going to disable the
scrubby zoom.

On Thu, Aug 6, 2015 at 3:09 PM, Chad Rolfs <notifications@github.com> wrote:

[2015-08-07 13:46] iwehrman commented on #1895
@DivyaPrabhakar will finish painting the back of this fence.

[2015-08-07 14:04] designedbyscience opened #1946 "LESS Variable Refactoring"
Right now, we use `@warm-black` and such throughout the code rather than a variable named for the context (such as `@label-primary-color` in my new layers work). We should be replace non-context variables outside of colors.less.

[2015-08-07 15:49] ktaki opened #1947 "Multiple history states are recorded for pasting a style"
Undo reveals middle states that show inconsistency between actual canvas drawing and the state of the style panel. Either removing this inconsistency (i.e., update the style panel when Undo'ed) or record just one history state so that one undo takes care of going back to the original state.

New copy/paste style commands are great!

[2015-08-07 15:52] volfied commented on #1947
Thanks for tracking this, @iwehrman and I have some crazy ideas to implement to fix it, which is lower priority currently than the Sampler HUD feature. I will get to fixing this after the HUD is complete.

[2015-08-07 15:56] ktaki opened #1948 "Clicking Copy/Paste style icons twice in a row can close Style panel"
When user clicks on those icons, it does not usually mean s/he wants to close the panel. It might be accidental double click or just making sure the style has been copied. The icons should be excluded from the region for closing the panel.

[2015-08-07 16:06] chadrolfs commented on #1941
Pan/zoom touch gestures on surface work tho (2-finger pinch)

[2015-08-07 16:26] placegraphichere opened #1949 "Switching tools while creating text removes text"
- Create a text layer
- type a few characters
- change tools in the toolbar
- text layer is removed

expected: text should remain, be selected as as layer, and the new tool should be selected

[2015-08-07 16:31] iwehrman commented on #1938
What should the correct shortcuts be? CC @placegraphichere @designedbyscience

[2015-08-07 16:35] chadrolfs commented on #1949
Glad you noticed this and it bugged you enough to write up an issue.  This has been around for a while.  This is a dupe of #1691

[2015-08-07 16:35] #1949 closed

[2015-08-07 16:38] chadrolfs commented on #1938
it was cmd/ctrl + ;
why did it change?

[2015-08-07 16:52] iwehrman opened #1950 "UI color does not match unfocused title bar color"
![blur](https://s3.amazonaws.com/f.cl.ly/items/0K1i10180C141H2G3Z39/Image%202015-08-07%20at%209.52.12%20AM.png)

[2015-08-07 17:26] chadrolfs commented on #1862
On Windows, I get the following failure:
[code]

[2015-08-07 17:46] designedbyscience opened #1951 "Make the retina fix / no-rems CSS a LESS function or mixin"
Occasionally we have to not use rems because of rendering issues with Chrome on Retina. We get around this through media queries in a few places. I'd like to use a LESS function instead of repeating all those media queries

[2015-08-07 17:49] iwehrman commented on #1951
:star: :star: :star: :star: :star:

[2015-08-07 17:49] designedbyscience commented on #1951
@DivyaPrabhakar Here's a good LESS thing to do

[2015-08-07 18:31] chadrolfs opened #1952 "Unable to reset canvas after 2-finger rotate canvas"
https://www.dropbox.com/s/gxenftbunjkyzr8/Surface-Rotate.mkv?dl=0

workaround: switch to standard PS and hit Esc

[2015-08-07 19:58] chadrolfs opened #1953 "Initial string localization for Japanese doesn't show IN JAPANESE..."

[2015-08-07 20:49] volfied commented on #1860
We no longer see the error, but I will fix the Ai/PS source issue.

[2015-08-07 21:12] shaoshing commented on #1909
It is implemented in the new UI, so I will close this one for now.

[2015-08-07 21:16] shaoshing commented on #1859
With the implementation of drag and drop graphic asset, I believe we can safely close this one. Any further discussion on whether to support mouse click event will be in a separate issue.

[2015-08-07 21:59] chadrolfs commented on #1909
I'll verify

[2015-08-07 23:23] chadrolfs opened #1955 "Paste (cmd/ctrl + v) on new doc errors"
new doc (Layer 1 focused), cmd/ctrl + v
Result: `Action edit.nativePaste failed: Error: Menu command not available: 105`

[2015-08-09 18:25] iwehrman opened #1956 "UI not cloaking on document selection"
![cloak](https://s3.amazonaws.com/f.cl.ly/items/0l1z412B0d0F2m332u0F/Screen%20Recording%202015-08-09%20at%2011.25%20AM.gif)

[2015-08-09 18:54] iwehrman commented on #1895
Also `transform.nudgeLayers`.

[2015-08-09 20:24] iwehrman commented on #1830
FBNC to @ktaki.

[2015-08-10 00:43] iwehrman commented on #1955
Downgrading this to low-priority since it only happens in debug builds. But, on the upside, FIP.

[2015-08-10 01:46] iwehrman commented on #1414
@volfied: did we ever make this core request? If not, can you do so? It would be great to solve this for M3.

[2015-08-10 14:02] volfied opened #1960 "Clean up Toggle Overlay dispatches"
These calls were mainly to help with on canvas transform guides... However, with cloaking and on canvas transform being driven by Photoshop, a lot of these dispatches can be cleaned up.

[2015-08-10 14:08] iwehrman commented on #1960
For example, these calls in `selectNext` and `selectPrevious` should be pushed into `selectDocument`: https://github.com/adobe-photoshop/spaces-design/blob/915d5540fab46e6635400baf5e470a5a83b9705e/src/js/actions/documents.js#L580-L582

[2015-08-10 18:23] volfied commented on #1944
My merge closed it for some reason. To @chadrolfs for testing.

[2015-08-10 19:03] chadrolfs commented on #1944
Now seeing:
```Action libraries.createLayerFromElement failed: Error: Invalid transfer from libraries.createLayerFromElement to undefined. Add undefined to the list of transfers declared for libraries.createLayerFromElement.```

maybe due to new lib changes from main?  testing on pg-dev 438

[2015-08-10 19:35] shaoshing commented on #1944
Thanks for testing. It is related to the change of locking. Second fix is coming.

[2015-08-10 20:27] iwehrman commented on #1940
2 @chadrolfs 2 furious.

[2015-08-10 20:30] pineapplespatula commented on #1895
@iwehrman  you wrote it, so you get to close it.
congrats

[2015-08-10 20:30] iwehrman commented on #1895
Challenge accepted.

[2015-08-10 20:30] #1895 closed

[2015-08-10 20:59] DivyaPrabhakar commented on #1857
giving to Divya to refactor

[2015-08-10 21:01] DivyaPrabhakar commented on #1883
@pineapplespatula said that this might be a good bug to get lost in for a while

[2015-08-10 21:07] ktaki commented on #1883
Do we have a label "get lost"? It surely will become very popular. :-)

[2015-08-10 21:11] chadrolfs commented on #1937
This also happens when you drag CC Lib assets into/out of ABs

[2015-08-10 21:14] iwehrman opened #1966 "Search result kinds should not be encoded in the result ID"
Special search results like "filters" are currently denoted by string encoding; i.e., by including the string "FILTER" as part of the ID. This is inelegant at best and dangerous at worst: what happens if a provider returns a result that happens to have the string "FILTER" as part of the ID? :bomb: is what! Instead the result objects should have additional properties that can be used to distinguish

[2015-08-10 21:18] chadrolfs opened #1967 "CC Lib: dragging asset with Opt/Alt key auto-nests into AB attempting to place outside AB"
create a new default doc (AB),
zoom out
load a library that contains an asset with multiple layers
hold down opt/alt and drag asset from CC Lib to area of canvas outside AB bounds

Result: asset auto-nests into AB.

[2015-08-10 21:20] iwehrman commented on #1889
FBNC to @chadrolfs

[2015-08-10 21:43] iwehrman opened #1969 "Can't create new point text layers"
As of the 8/8 PG-Dev build, when you click the canvas to create a new text layer you get both a "make" event and a "createTextLayer" event, both of which call the `layers.addLayers` action to add the same layer ID, which causes problems.

At one point we were not getting "make" events at the _start_ of text editing, which is why @pineapplespatula added the new "createTextLayer" event. But it seems

[2015-08-10 21:47] #1955 closed

[2015-08-10 21:47] #1944 closed

[2015-08-10 22:05] chadrolfs opened #1971 "marquee select fails on a doc with adjustment layer"
open or create a file with an Artboard and an Adjustment layer (ex. Color Fill layer)

Result: adjustment layer prevents marquee select

[2015-08-10 22:29] shaoshing commented on #1944
:tada:

[2015-08-10 22:34] pineapplespatula commented on #1881
this might be a good one for @DivyaPrabhakar

[2015-08-10 22:35] pineapplespatula commented on #1880
@this needs some more communication with core, I'll chat with @isonno about some of our type issues.

[2015-08-10 22:39] pineapplespatula commented on #1877
this may be a good candidate for @DivyaPrabhakar,

[2015-08-10 22:39] pineapplespatula commented on #1875
I'll need to talk to @isonno  about this one

[2015-08-10 23:10] iwehrman commented on #1948
FBNC to @ktaki.

[2015-08-10 23:22] ktaki commented on #1948
Verified the fix.

[2015-08-10 23:22] #1948 closed

[2015-08-10 23:24] iwehrman commented on #1971
FBNC to @chadrolfs.

[2015-08-10 23:38] iwehrman commented on #1929
This is now in the keyboard shortcuts dialog, and the search menu command has been moved under `Edit`. The placement in the keyboard shortcuts dialog is a little weird, but that doesn't matter because we'll have to spruce that whole dialog up before M3 anyway. Closing this out since @joelrbrandt is busy with other things.

[2015-08-10 23:38] #1929 closed

[2015-08-10 23:38] iwehrman commented on #1930
Fixed by #1943.

[2015-08-10 23:38] #1930 closed

[2015-08-10 23:39] iwehrman commented on #1931
Fixed by #1943.

[2015-08-10 23:39] #1931 closed

[2015-08-10 23:40] iwehrman commented on #1932
Hmm, this still doesn't work for me. (I guess I should have tested it before merging #1943.) Back to @hamburge!

[2015-08-10 23:42] iwehrman commented on #1969
[code]

[2015-08-10 23:53] chadrolfs commented on #1781
Yes, I can repro.  Open a doc with expanded layer groups, then reload DS, click on a group to collapse
[code]

[2015-08-10 23:56] ktaki commented on #1830
Verified the fix.

[2015-08-10 23:56] #1830 closed

[2015-08-11 00:10] ktaki commented on #1836
Verified the fix.

[2015-08-11 00:11] #1836 closed

[2015-08-11 00:34] #1971 closed

[2015-08-11 00:34] #1940 closed

[2015-08-11 00:37] #1889 closed

[2015-08-11 00:41] iwehrman opened #1976 "Dark titlebar makes window drag zone hard to find"
With the recent change to a dark titlebar, the application UI is no longer distinguishable from the titlebar. I think this _looks_ great, personally, but it makes moving the window harder because it's no longer clear exactly where the draggable region is:
![dark](https://s3.amazonaws.com/f.cl.ly/items/1p1s3l0W1y0Q1N3A1b0w/Image%202015-08-10%20at%205.37.24%20PM.png)
For comparison, the standard UI

[2015-08-11 00:42] iwehrman opened #1977 "Paste style icon should be disabled/dimmed when there is no style to paste"
The one on the right should have a disabled state:
![paste](https://s3.amazonaws.com/f.cl.ly/items/0F3G133z3j022K1K3j2o/Image%202015-08-10%20at%205.42.08%20PM.png)

[2015-08-11 00:47] iwehrman opened #1978 "Consider adding slight translucency to UI"
I still kind of miss the slight translucency that we used to have in the non-dialog parts of the UI. I think this might improve visibility into a bigger part of the canvas:
![opaque](https://s3.amazonaws.com/f.cl.ly/items/2d0i1P1O143z1i1a0g2O/Image%202015-08-10%20at%205.46.00%20PM.png)

Incidentally, adding some slight translucency might also help with #1976.

[2015-08-11 00:55] placegraphichere commented on #1976
OMG when did we get the title bar done? I am so excited about this! We could add a small hairline to the top of the doc bar and toolbar. But really, I don't think it's much of a problem.

[2015-08-11 15:12] chadrolfs commented on #1976
if the app does not have focus, it is distinguished.
![screen shot 2015-08-11 at 8 12 05 am](https://cloud.githubusercontent.com/assets/8442631/9201214/b09f4412-4000-11e5-96fd-a31f5040c980.png)

[2015-08-11 15:43] iwehrman commented on #11
Fixed by #1910!!!

[2015-08-11 15:43] #11 closed

[2015-08-11 15:51] volfied commented on #589
Closing this as we no longer have parent bound

[2015-08-11 15:51] #589 closed

[2015-08-11 16:01] #1953 closed

[2015-08-11 16:05] shaoshing commented on #1967
This appears to be a bug in standard PS: you cannot expand a graphic outside of a art board unless there is already layers outside. Please see the image below for demonstration.

![libraries-nested](https://cloud.githubusercontent.com/assets/118264/9202727/1c1c799c-4008-11e5-947d-f1294824c755.gif)

@volfied / @chadrolfs I am wondering if this look familiar to you, and do you have any suggestions?

[2015-08-11 16:33] iwehrman commented on #1938
It's possible that I screwed it up in #1926.

[2015-08-11 17:20] #1787 closed

[2015-08-11 17:36] ktaki opened #1980 "Change the default pixel size for stroke to 1 px"
Current default is 2 px. 1 px stroke is now default in standard Ps. Don't we want to follow it?

[2015-08-11 17:37] chadrolfs commented on #1950
Is this actually a bug?  Please close if not.  Thanks!

[2015-08-11 17:57] DivyaPrabhakar commented on #1978
A couple opinions about this:

- I asked Charles Pearson about whether taking away the translucency was part of user feedback or branding necessity -- the answer is no for both questions, taking away the translucency was just something that happened over time by accident and no one commented either way.

- In focus groups held last summer, some said it gave the perception of depth and space, trait

[2015-08-11 18:01] iwehrman commented on #1937
May only happen with point text layers?

[2015-08-11 18:04] #1916 closed

[2015-08-11 18:13] iwehrman commented on #1858
Clicking in the canvas should blur to the HTML input. We probably need some core support for this. Over to @pineapplespatula to file the appropriate Watson bug.

[2015-08-11 18:17] pineapplespatula commented on #1858
created watson bug 4034882

[2015-08-11 18:40] chadrolfs opened #1981 "Uncaught Error loading DS: CActionControl::Get failed with error"
`Uncaught Error: CActionControl::Get failed with error: -25920 msg: error: -25920 message: The command “Get” is not currently available.`

[2015-08-11 19:56] volfied commented on #1981
You need Jenkins build 440 or later, this is related to latest libraries PR.

[2015-08-11 20:38] #1981 closed

[2015-08-11 20:43] chadrolfs commented on #1781
I repro'd this on mac too - where it takes 2 clicks due to blocking Tooltips actions

[2015-08-11 20:46] shaoshing commented on #1862
Hi @chadrolfs , with Barkin's update, dropping svg should work now. Please check it out.

[2015-08-11 20:53] chadrolfs opened #1983 "CC Lib: unable to apply Fill/Stroke color or Layer Styles"
new doc, drag out a rect
load a library that has fill and stroke colors and layer styles

mouse over cc lib assets (Click to apply): click
Result: nothing is applied

Drag and drop doesn't work, double-click doesn't work

[2015-08-11 20:53] ktaki opened #1984 "CC Lib: Cannot scroll library flyout menu with mouse"
Up/down arrow keys works (somewhat cranky), but not a mouse.
![screen shot 2015-08-11 at 1 50 05 pm](https://cloud.githubusercontent.com/assets/2029597/9210255/0d7e5342-4030-11e5-8939-4271051c79d5.png)

[2015-08-11 20:55] ktaki opened #1986 "CC Lib: Library panel contents are vertically centered"
Somewhat strange...
![screen shot 2015-08-11 at 1 54 38 pm](https://cloud.githubusercontent.com/assets/2029597/9210343/9a2189a4-4030-11e5-9ee9-76db6b1f0037.png)

[2015-08-11 20:57] chadrolfs commented on #1909
This is not fixed.  It defaults to the first library.  Whatever library I load, it should remain on that library until I change it.  If I load the 3rd library down in my list and create a new doc, it goes to the 1st library in the list.

[2015-08-11 21:17] chadrolfs opened #1987 "Trying to create new CC Library fails with errors"
```Warning: Failed propType: Required prop `library` was not specified in `Library`. Check the render method of `LibrariesPanel`.```

`Uncaught TypeError: Cannot read property 'elements' of undefined`

[code]

[2015-08-11 21:18] mcilroyc opened #1988 "Improve the performance of extensionData query during _getLayersForDocumentRef"
See: https://github.com/adobe-photoshop/spaces-design/pull/1750/files#r36787203

[2015-08-11 21:19] #1862 closed

[2015-08-11 21:19] iwehrman commented on #1969
CC @isonno. This is a very high priority bug.

[2015-08-11 21:22] ktaki opened #1989 "CC Lib: Library name field left with bogus name"
Enter gibberish in the library field. Hit enter key twice. The name remains with current lib contents.
EXPECTED: Since search failed, the name returns to the current library name.
![screen shot 2015-08-11 at 2 21 53 pm](https://cloud.githubusercontent.com/assets/2029597/9211037/5e48d10e-4034-11e5-9eb5-31e99621980f.png)

[2015-08-11 21:26] chadrolfs opened #1990 "CC Library: Cloud Linked layers have the same icon as Linked Smart Objects"

[2015-08-11 21:48] iwehrman commented on #1966
Fixed by #1985.

[2015-08-11 21:48] #1966 closed

[2015-08-11 21:50] volfied commented on #1937
https://watsonexp.corp.adobe.com/#bug=4034965

[2015-08-11 21:51] iwehrman opened #1991 "Kill the disabled cursor softly"
Let's get rid of the "disabled" cursor styling for disabled buttons in the UI. I'm not aware of other apps that do this, and it's annoying me more than it's delighting me lately. :knife:

[2015-08-11 22:01] iwehrman opened #1992 "Secondary search info is hard to read"
The contrast is low, there isn't a lot of space between the primary and secondary info, and it's relatively tiny.

![image](https://cloud.githubusercontent.com/assets/1075154/9211903/d73b9f4c-4039-11e5-8288-ad7609f8e66a.png)

[2015-08-11 22:16] iwehrman commented on #1414
Watson:
https://watsonexp.corp.adobe.com/#bug=4034977

[2015-08-11 22:30] iwehrman opened #1993 "Can't select empty artboards on canvas"
It doesn't seem to be possible currently to select empty artboards on canvas either by clicking their title or using marquee select.

[2015-08-11 22:39] volfied opened #1994 "Character Style asset rendering throws an error on Render"
[code]

[2015-08-11 22:43] volfied commented on #1994
Most of the properties we expect to find in a character style may not have been created by other sources and be undefined. We should make sure we don't crash and burn when this is the case.

[2015-08-11 22:46] iwehrman opened #1995 "All scrolling panels should use a mixin to dismiss tooltips on scroll"
See here: https://github.com/adobe-photoshop/spaces-design/pull/1750/files#r36803351

[2015-08-11 22:46] iwehrman commented on #1995
CC @designedbyscience.

[2015-08-11 22:47] ktaki opened #1996 "CC Lib: Edit asset: Document name for a smart object is not shown immediately after the creation"
Place a graphic from CC Lib.

![screen shot 2015-08-11 at 3 45 13 pm](https://cloud.githubusercontent.com/assets/2029597/9212692/1429b3fc-4040-11e5-8b48-3b618139bfa4.png)

Double click it to convert to smart object. A doc opens but no tab with the doc name is shown. Panels are not updated.

![screen shot 2015-08-11 at 3 37 49 pm](https://cloud.githubusercontent.com/assets/2029597/9212598/40623b66-

[2015-08-11 22:56] pineapplespatula commented on #1969
assigned to @isonno  watson bug 4034995

[2015-08-11 23:51] iwehrman opened #1999 "New artboard document repositions itself"
New documents should not require repositioning. They should be positioned correctly by default. This should happen automatically as a result of the `setOverlayOffsets` calls. If the new document is not being  positioned correctly on creation, then either a) the bounds we're giving to `setOverlayOffsets` is incorrect, b) we are somehow re-positioning the artboard differently after creation; or c) t

[2015-08-11 23:53] iwehrman commented on #1993
Fixed by #1997.

[2015-08-12 00:00] iwehrman opened #2000 "UI hairlines are all different colors:"
In the image below, I see 5 beige hairlines that are three different colors:

* #51504c (transform panel)
* #6a6965 (layers panel)
* #787772 (second of three in the libraries panel)

![image](https://cloud.githubusercontent.com/assets/1075154/9213685/266a6764-404a-11e5-8536-29819a4cc19c.png)

This aggression will not stand!

[2015-08-12 00:02] iwehrman commented on #1956
Fixed by #1998.

[2015-08-12 00:02] #1956 closed

[2015-08-12 01:07] placegraphichere commented on #2000
It should be #3f3f3f for underlines and hairlines.

[2015-08-12 01:09] placegraphichere commented on #1991
yes, I agree

[2015-08-12 01:14] placegraphichere commented on #1990
we have icons for these.
ico-layer-5-linked.svg
ico-layer-cloud-linked.svg

They have been added to the icon branch sewalker/icons_end_the_blur

[2015-08-12 01:17] placegraphichere commented on #1883
#2d86de is the color you're looking for a highlight state

[2015-08-12 02:28] placegraphichere commented on #1992
Primary
* color #e6e6e6
* font-size:1.4rem (14px)

Secondary
* color #7b7b7b
* font-size: 1.1rem (11px)

Highlight
* color #2d8ceb

[2015-08-12 14:08] #1993 closed

[2015-08-12 14:21] chadrolfs commented on #1860
@volfied @shaoshing Here's the error I get now:
[code]

[2015-08-12 14:35] iwehrman commented on #1960
Maybe what we want is a utility which takes an action, or an array of play objects, and executes them after disabling the overlay, and then reenables the overlay afterward?

[2015-08-12 14:36] chadrolfs commented on #1860
hmmm, CNR now - PS may have been in a bad state after a previous crash.

[2015-08-12 14:38] #1859 closed

[2015-08-12 14:54] chadrolfs commented on #1860
Looks like it may be the first time you attempt to add it that you get that error.  Just repro'd again.

[2015-08-12 15:07] chadrolfs opened #2001 "CC Lib: drag embedded smart object layer with long name into library leaves app unresponsive"
download this file: https://www.dropbox.com/s/ztiwqs2i3qkqnff/ac69f7a1d57a2887ebf4b734fda6394b011755ffac69f7a1d57a2887ebf4b734fda6394b011755ffac69f7a1d57a2887ebf4b734fda6394b011755ffac69f7a1d57a2887ebf4b734fda6394b011755ffac69f7a1d57a2887ebf4b734fda6394b011755ffac69f7a1d57a2887ebf4b734fda6394b011755ff.jpg?dl=0

new doc
file > place embedded... and choose that file
drag that layer into CC library

[2015-08-12 16:13] placegraphichere commented on #1462
Disabled state from spec for a quiet text input (no box around text) looks like:

Text color: #535353
Text input underline color: #3f3f3f (no change)

![screen shot 2015-08-12 at 11 13 19 am](https://cloud.githubusercontent.com/assets/3229167/9229521/2d4cbe62-40e3-11e5-95a1-10d2885d7440.png)

[2015-08-12 16:15] timuric opened #2002 "Incorrect spaces-adapter version dependency on master"
After successful ``npm install`` and ``bower install `` I get following by running ``gulp compile`` :
[code]

[2015-08-12 16:38] iwehrman opened #2003 "Search dialog is not centered in the no-doc UI"
![image](https://cloud.githubusercontent.com/assets/1075154/9230208/cd959b2c-40d5-11e5-9202-9099068f1b87.png)

[2015-08-12 17:43] chadrolfs opened #2004 "Touch gesture undo does not update layers panel"
new doc, drag out several shape layers
perform touch gesture: slide 3 fingers on surface to left to undo until one or no shapes show on canvas.

Result: layer panel doesn't update/show results of undo

[2015-08-12 17:56] chadrolfs opened #2005 "Editing a Cloud Linked Smart Object doesn't update our models (layers, tabs)"
new doc, drag a Lib asset onto canvas and then hit Enter or double-click it

Result: CLSO opens but layers panel and doc tabs doesn't update
close (cmd/ctrl + w)
`Action documents.close failed: Error: Next selected document ID should be null iff there are no open documents`

[2015-08-12 17:56] chadrolfs commented on #2005
re-assign to as needed

[2015-08-12 17:58] volfied commented on #2005
@shaoshing let me know if you get stuck on this one when you work on it.

[2015-08-12 18:14] iwehrman commented on #2002
Hi @timuric, thanks for filing this! The problem is that, on master, bower refers to an out-of-date version of the spaces-adapter dependency. A short-term workaround is to clone spaces-adapter separately and then use [`bower link`](http://bower.io/docs/api/#link) to wire it up into spaces-design. The correct fix, of course, is to ensure that the dependency version is correct on master. I'll leave

[2015-08-12 19:35] chadrolfs opened #2006 "Copy/paste Style does not include Stroke Size or Alignment"
create a rect with Stroke size 20 and Align set to Outside
Copy Style
select a different (default) shape
Paste Style

Result: Stroke is 2 and Align is Inside

[2015-08-12 19:44] chadrolfs opened #2007 "Copy/paste Style does not include Type Alignment"
create a Type layer with Align set to Center
Copy Style
select a different (default Align set to Left) Type layer
Paste Style

Result: No change to Alignment attribute

[2015-08-12 19:56] chadrolfs commented on #2005
dupe of #1996

[2015-08-12 19:56] #2005 closed

[2015-08-12 19:56] chadrolfs commented on #1996
Here were my steps:
new doc, drag a Lib asset onto canvas and then hit Enter or double-click it

Result: CLSO opens but layers panel and doc tabs doesn't update
close (cmd/ctrl + w)
`Action documents.close failed: Error: Next selected document ID should be null iff there are no open documents`

[2015-08-12 20:02] chadrolfs commented on #1938
6a20b769818918de6976525279c024088434a204 is the first bad commit
commit 6a20b769818918de6976525279c024088434a204
Author: Ian Wehrman <wehrman@adobe.com>
Date:   Wed Aug 5 14:40:08 2015 -0700

    Localize menu and global keyboard shortcuts. Also factor out menu strings into their own file.

[2015-08-12 20:15] chadrolfs commented on #882
@iwehrman can we close this now?

[2015-08-12 20:35] chadrolfs opened #2008 "CC Lib: initial library won't drag and drop assets on canvas"
Reset DS (top most library is loaded)
create new doc
drag asset onto canvas

Result: nothing happens
Workaround: load a different library, drag asset, switch back to 1st library

[2015-08-12 20:46] ktaki opened #2009 "Stuck in multiple text editing modal states"
With type tool selected, selecting a text layer in the layers panel immediately goes into modal text editing mode. With this mode, clicking on another text layer in the layers panel seems to go into another level of modal state. Eventually, the UI freezes. Repeating Esc keys can escape from the editing mode, but bad things may happen in the process.

Steps.
Create two text layers
Select type tool

[2015-08-12 21:12] chadrolfs commented on #1989
When I try to do this, I get:
`Uncaught TypeError: Cannot read property 'id' of undefined`

[2015-08-12 21:25] chadrolfs opened #2011 "CC Lib: dragging layer/group to Lib panel takes a long time to generate thumbnail"
drag a layer or group from the Layers panel into the Libraries panel

Result: It takes a long time for the asset thumbnail to show.

[2015-08-12 21:49] chadrolfs commented on #2009
related to or dupe of #1969?

[2015-08-12 22:29] chadrolfs commented on #1897
Not fixed with current master 3ba5be8 and pg-dev.446

![screen shot 2015-08-12 at 3 30 18 pm](https://cloud.githubusercontent.com/assets/8442631/9238415/f44c6cba-4106-11e5-89e7-23660b4aed1c.png)

[2015-08-12 22:59] iwehrman commented on #661
I've renamed this and increased the priority because it makes zoom practically unusable. CC @placegraphichere

[2015-08-12 23:07] shaoshing opened #2015 "truncated file path of exported layer with long name in libraryAdapter#exportLayer"
Maybe a core bug, but when you export a layer with long name, the result contains truncated file path.

#### Truncated
<img width="645" alt="screen shot 2015-08-12 at 12 58 36 pm" src="https://cloud.githubusercontent.com/assets/118264/9238979/1bf999c2-410c-11e5-9a0c-657c8a550f0b.png">

#### Normal
<img width="631" alt="screen shot 2015-08-12 at 1 03 49 pm" src="https://cloud.githubusercontent.com/

[2015-08-13 14:41] iwehrman commented on #661
Re-assigning to @shaoshing so that he can push this forward along with other canvas-positioning issues.

[2015-08-13 15:37] mcilroyc commented on #1969
reporting my results...
Clicking with the text tool seems to create the text layer, but then I do not end up text-edit mode, and can actually add text to the layer.

Also, when testing this, I found myself several times where the layers panel had weird indenting issues: http://cl.ly/image/0d3o333t423P

[2015-08-13 15:46] volfied commented on #2015
This seems like a core bug. Look at the file name closely in `saveData.in._path`, it repeats itself (`...11755ff`/`ac69f...`) I'll confirm, workaround is fine for now.

[2015-08-13 15:57] chadrolfs commented on #1969
master @ e4b1ce2, pgdev.452 (mac), here's what I hit on first attempt (results in empty text layer):

<img width="1038" alt="screen shot 2015-08-13 at 8 55 39 am" src="https://cloud.githubusercontent.com/assets/8442631/9254609/5268757c-4199-11e5-84bb-c021ad34d217.png">

[2015-08-13 16:44] chadrolfs commented on #1897
@iwehrman fitz is working on the core side of this bug but we need better error handling for cases like this so that when DS fails, users get kicked back into standard instead of hung in DS.

[2015-08-13 18:28] ktaki opened #2018 "Text Transform: Original text size is shown in text editing mode"
Transform a text layer. Select type tool. Click on the text layer for edit. Original text size is shown.

[2015-08-13 18:50] iwehrman opened #2019 "UI color should match title bar color"
![image](https://cloud.githubusercontent.com/assets/1075154/9258618/605fe634-41b1-11e5-8ed2-fc5fcb86b97c.png)

There should also be a hairline that separates the UI from the title bar to make it clear where the draggable region is.

[2015-08-13 18:54] iwehrman opened #2020 "Most icons blink when a document is opened/closed"
Notably, not the toolbar icons:
![blink](https://s3.amazonaws.com/f.cl.ly/items/1v1C3Z3t1F0e0z2A300h/Screen%20Recording%202015-08-13%20at%2011.54%20AM.gif)

[2015-08-13 18:56] iwehrman opened #2021 "Libraries panel horizontal rule should not be visible when collapsed"
The little grey/beige hairline at the bottom of the screen:
![image](https://cloud.githubusercontent.com/assets/1075154/9258773/38a4e3f0-41b2-11e5-868a-e3671c66b838.png)

[2015-08-13 18:56] iwehrman commented on #2021
Not sure if @designedbyscience or @shaoshing should get this one. Assigning to @designedbyscience for triage.

[2015-08-13 18:57] iwehrman opened #2022 "Panel toolbar icons need tooltips"
These guys:
![image](https://cloud.githubusercontent.com/assets/1075154/9258814/767d1d1e-41b2-11e5-992b-a644f09e240f.png)

[2015-08-13 18:59] iwehrman commented on #1814
Modest proposal: if the toolbar is unpinned/minimized, just hide it in the no-doc view.

[2015-08-13 19:01] iwehrman opened #2023 "Libraries datalist is styled differently from other datalists"
![image](https://cloud.githubusercontent.com/assets/1075154/9258895/e32fdf64-41b2-11e5-8f83-4f01dd2ec550.png)

![image](https://cloud.githubusercontent.com/assets/1075154/9258904/f08e7260-41b2-11e5-81bd-f5af52edebc6.png)

![image](https://cloud.githubusercontent.com/assets/1075154/9258918/fdec4f68-41b2-11e5-8a6b-e81b8dd72b71.png)

[2015-08-13 19:08] iwehrman commented on #1368
Fixed by #1904! Woohoo! I hated this one. @designedbyscience is like :santa: FBNC to @chadrolfs

[2015-08-13 19:08] iwehrman commented on #1853
FBNC to @chadrolfs.

[2015-08-13 19:27] iwehrman opened #2024 "Duplicate keys possible with Libraries Search"
I think this happens when you have two assets in a Library with the same name?
[code]
![image](https://cloud.githubusercontent.com/assets/1075154/9259533/aa3b0c84-41b6-11e5-86b8-43ab41c6afa7.png)

[2015-08-13 19:28] iwehrman commented on #2003
Fixed by #2013!

[2015-08-13 19:28] #2003 closed

[2015-08-13 19:41] iwehrman opened #2025 "Long result titles should be clipped"
:scream:
![image](https://cloud.githubusercontent.com/assets/1075154/9259779/800944f6-41b8-11e5-8955-714258db0afa.png)

[2015-08-13 19:41] iwehrman commented on #2025
![image](https://cloud.githubusercontent.com/assets/1075154/9259805/a8666172-41b8-11e5-972b-8a9740fad5e8.png)

[2015-08-13 20:07] placegraphichere opened #2026 "Zoom increments do not seem correct"
- open doc
- auto zoom/position occurs
- zoom in and out
- increments seem off, hard to know if 100% can be achieved (my doc would only allow me to be  127.01%)

expected zoom increments:
5, 6.25, 8.33, 12.5, 16.67, 25, 33.333, 50, 66.67, 100, 200, 300, 400, 500, 600, 700, 800, 1200, 1600, 3200

[2015-08-13 20:09] chadrolfs commented on #1781
bumping this to High Pri.  This is getting in the way of several things (unlocking layers, setting visibility, etc)

[2015-08-13 20:13] #1994 closed

[2015-08-13 20:16] chadrolfs commented on #1909
Sorry if I wasn't clear about this.  What should happen here is the same behavior as standard PS.  The libraries shouldn't be sticky per document but sticky as in whatever library you have loaded, it should remain on that library across the whole session and re-launch.  Make sense?  It should never change unless the user changes it.

[2015-08-13 20:18] chadrolfs commented on #1909
doh, sorry I was one `git pull` behind

[2015-08-13 20:18] #1909 closed

[2015-08-13 20:22] shaoshing commented on #1909
Thanks for verifying.

[2015-08-13 21:25] ktaki opened #2028 "Text Transform: When setting font size for a transformed text layer, the size shows a wrong value"
Create a type layer with 100 pt text.
Transform it to 200 pt.
Select the layer and set the point size to 100 pt in the type panel.
Click on the text layer on canvas to go into the editing mode.
The size now shows 50 pt while its actual size is 100 pt.

[2015-08-13 21:44] chadrolfs opened #2029 "Panels blink when scrolling or zooming a document"
https://www.dropbox.com/s/mqm4n09hm108ymj/PanelBlink.mov?dl=0

[2015-08-13 21:46] iwehrman commented on #2029
I smell an overlay offsets bug!

[2015-08-13 21:50] designedbyscience commented on #2029
@chadrolfs Anything particular to replicate this (not seeing it with a few different variations on opening/making new doc/refreshing DS)?

[2015-08-13 21:51] designedbyscience commented on #2020
So, that's the same toolbar but different everything else (they are blinking because we are creating new versions of all of them)

[2015-08-13 21:53] designedbyscience commented on #2023
Hey, @placegraphichere, are we moving all of them to the white on black?

[2015-08-13 22:12] zoranagee opened #2031 "Performance"
Open a large file in PS (~150MB) and jump to DS (with the 2-panels open) - takes ~ 4 seconds to draw the UI in the panels. Can we speed this up (jumping to/from PS to DS).

[2015-08-13 22:19] iwehrman commented on #2031
This is a duplicate of #790. Thus, closing this as a duplicate.

[2015-08-13 22:19] #2031 closed

[2015-08-13 22:38] chadrolfs commented on #2029
grab the latest jenkins build (pgdev 454), launch into DS (optional: connect to master), cmd/ctrl + n, use mousewheel to scroll doc.

[2015-08-13 22:39] chadrolfs commented on #2029
once you toggle a panel, it stops.

[2015-08-13 22:55] shaoshing commented on #1860
@chadrolfs , I am unable to reproduce this `Result: layer is added to library but it has no icon. Switching to standard PS reveals that it was created as PS instead of AI`.  Could you check again and post your steps if you still see it (it would be even better if you can share me your file that `has an embedded vector smart object layer`). Thank you

[2015-08-13 23:21] placegraphichere commented on #2023
we should be somewhere in this realm
![spectrum_components_dark_v1](https://cloud.githubusercontent.com/assets/3229167/9264027/f9e2244e-41e7-11e5-8e46-6ed343ef2cab.png)
:

[2015-08-13 23:22] chadrolfs opened #2036 "CC Lib: you can get into a state where library and assets are out of sync"
https://www.dropbox.com/s/h9zk3m1fxnnocuh/CCLib-mismatch.mov?dl=0

[2015-08-13 23:30] chadrolfs opened #2037 "CC Lib: library sorting doesn't match standard PS"
Compare library sorting on mac/win/standard/DS

[2015-08-13 23:32] zoranagee opened #2038 "UI: panels are too wide now (sprint 28)"
With 2 open seem to take up a lot of space (more than in previous builds)

[2015-08-13 23:32] zoranagee opened #2039 "System UI: would like to be able to change the height of the panels"

[2015-08-13 23:33] chadrolfs opened #2040 "CC Lib: libraries don't load/connect on Windows"
launch sprint 28 windows build (pgdev-456)
switch into DS if not already or switch back and forth between standard PS and DS

Result: libraries don't load

Workaround: if you connect to github master, they do.

[2015-08-13 23:33] #2008 closed

[2015-08-13 23:37] #2001 closed

[2015-08-13 23:37] #1853 closed

[2015-08-13 23:42] chadrolfs opened #2041 "CC Lib: first asset dragged onto canvas shows thumbnail until placed."
https://www.dropbox.com/s/mecv7t9s1vxv154/CCLib-1stAsset.mov?dl=0

[2015-08-13 23:43] chadrolfs commented on #2041
#1874 would resolve this

[2015-08-13 23:48] chadrolfs opened #2042 "CC Lib: hitting Esc from libraries drop down leaves app unresponsive"
click on libraries drop down (field selects all text of loaded library)
hit Esc

Result:  `Warning: Failed propType: Required prop `library` was not specified in `Library`. Check the render method of `LibrariesPanel`.`
`Action libraries.selectLibrary failed: TypeError: Cannot read property 'elements' of undefined`
app unresponsive now

[2015-08-14 00:55] ktaki opened #2043 "A doc opened from no-doc-open state is not centered"
With no document opened, click one of the template names.
It looks like the doc is centered without considering the space for the style panel.

![screen shot 2015-08-13 at 5 54 19 pm](https://cloud.githubusercontent.com/assets/2029597/9265174/6218a9e2-41e4-11e5-9fd0-1126092cf460.png)

[2015-08-14 01:04] tiburbage commented on #1585
FYI I have closed the Watson bug https://watsonexp.corp.adobe.com//#bug=4010180 based on the description of the problem reported in the Watson bug report, and the hardware/OS context. I was able to test our current builds on an iMac 5K with the 10.11 Beta 6 build and was using Design Space fully maximized and with our VermilionArtboards.psd test doc. The user experience was not significantly diffe

[2015-08-14 14:02] iwehrman commented on #2029
#2045 attempted to fix this, but did not do so completely.

[2015-08-14 14:03] iwehrman commented on #1814
Fixed by #2045.

[2015-08-14 14:03] #1814 closed

[2015-08-14 14:03] iwehrman commented on #2022
Fixed by #2045.

[2015-08-14 14:03] #2022 closed

[2015-08-14 14:03] iwehrman commented on #2021
Fixed by #2045.

[2015-08-14 14:03] #2021 closed

[2015-08-14 14:13] volfied commented on #1419
Throwing @DivyaPrabhakar under the module bus here, but this is a simple enough fix to introduce her to bower

[2015-08-14 14:52] volfied commented on #1408
Passing this to @shaoshing as part of his libraries effort. Shaoshing, this will be both through superselect.editLayer action, and layers panel double click to open a smart object layer for edit. We will need to prepare the representation ourselves and re-link after edit is complete.

[2015-08-14 14:53] volfied commented on #1407
Hey @chadrolfs, can you try and repro this? It may be fixed now that we don't have HTML transform controls anymore.

[2015-08-14 15:42] designedbyscience commented on #2029
Addressing again by #2046, ready for checking

[2015-08-14 16:47] volfied commented on #1329
This is closed on the other side, and Watson bug is closed as fixed as well.

[2015-08-14 16:53] iwehrman commented on #1988
Fixed by #1750.

[2015-08-14 16:53] #1988 closed

[2015-08-14 17:35] pineapplespatula opened #2048 "Items with vector masks are unable to be transformed."
On layers with vector masks. Layer descriptors list their bounds as that of the vector mask instead of the layer itself, which stops us from being able to transform properly.
![tranformvectormasklayer](https://cloud.githubusercontent.com/assets/1008531/9280002/3bf12794-4270-11e5-8a14-9dc85c5c2fc1.gif)

[2015-08-14 18:08] iwehrman commented on #1977
It's still the case that the paste icon is enabled even when there is no style to paste.

[2015-08-14 18:09] iwehrman commented on #1977
Derp, sorry, user error. WORKS GREAT. Fixed by #2044.

[2015-08-14 18:09] #1977 closed

[2015-08-14 18:10] iwehrman commented on #2006
FBNC to @chadrolfs.

[2015-08-14 18:11] iwehrman commented on #2007
FBNC to @chadrolfs.

[2015-08-14 18:14] iwehrman opened #2050 "Unable to collapse export panel"
[code]

[2015-08-14 18:14] iwehrman commented on #2050
CC @designedbyscience @mcilroyc. I suspect @designedbyscience knows how to fix this since he fixed a similar problem previously with the Libraries panel.

[2015-08-14 18:22] designedbyscience commented on #2050
It needs `ref={UI.EXPORT_PANEL}` in PanelSet.jsx

[2015-08-14 18:53] iwehrman commented on #2028
[Watson 4037298](https://watsonexp.corp.adobe.com/#bug=4037298) is the blocking issue. In summary, use the `impliedFontSize` instead of the raw font `size` in the UI, but to make this work in the modal type tool state, the `updateTextProperties` event must also include `impliedFontSize` instead of just the raw size.

Assigning this to @pineapplespatula for now, but feel free to hand it back to me

[2015-08-14 18:55] iwehrman commented on #2025
Fixed by #2032.

[2015-08-14 18:55] #2025 closed

[2015-08-14 18:57] iwehrman commented on #2026
FBNC to @pineapplespatula. Please verify the fix and close this bug if you're satisfied.

[2015-08-14 19:19] designedbyscience opened #2051 "Search Bar Icon is wrong color"
It is black. It should not be black.
![untitled-1___51_9___rectangle_1__rgb_8____](https://cloud.githubusercontent.com/assets/22372/9282078/de1fc2ec-4297-11e5-8ba6-6dec0a160041.png)

[2015-08-14 19:20] designedbyscience commented on #2051
I think this is fixed in incoming PR...

[2015-08-14 19:21] pineapplespatula commented on #2028
Perforce CL 1036188 has the fix for this issue

[2015-08-14 19:22] pineapplespatula commented on #2026
i assume you meant @placegraphichere

[2015-08-14 19:24] iwehrman commented on #2051
Fixed in #2049. FBNC to @designedbyscience.

[2015-08-14 19:25] designedbyscience commented on #2051
Hey, we're back to white

[2015-08-14 19:25] #2051 closed

[2015-08-14 19:48] iwehrman commented on #2028
FBNC to @ktaki.

[2015-08-14 20:15] placegraphichere opened #2053 "Search bar overflow ellipsis uses blue color"
![screen shot 2015-08-14 at 3 03 50 pm](https://cloud.githubusercontent.com/assets/3229167/9283176/4e421b48-4297-11e5-8654-ac8b43b8da94.png)

[2015-08-14 21:00] chadrolfs commented on #1329
doesn't look like the new bug got created...

[2015-08-14 21:00] chadrolfs opened #2054 "need a Previous Document shortcut"

[2015-08-14 21:02] #2029 closed

[2015-08-14 21:05] chadrolfs commented on #1368
Thanks :santa: !

[2015-08-14 21:05] #1368 closed

[2015-08-14 21:09] chadrolfs commented on #1952
https://watsonexp.corp.adobe.com//#bug=4037331

[2015-08-14 21:13] chadrolfs commented on #1941
https://watsonexp.corp.adobe.com//#bug=4037333

[2015-08-14 21:16] chadrolfs commented on #1915
https://watsonexp.corp.adobe.com//#bug=4037335

[2015-08-14 21:18] chadrolfs commented on #1902
https://watsonexp.corp.adobe.com//#bug=4037340

[2015-08-14 21:42] ktaki commented on #2028
Verified the fix.

[2015-08-14 21:42] #2028 closed

[2015-08-14 21:43] ktaki commented on #2018
This is also fixed.

[2015-08-14 21:43] #2018 closed

[2015-08-14 21:49] #1407 closed

[2015-08-14 21:51] chadrolfs opened #2055 "Tool icon missing in vector edit mode"
drag out a rect
double-click rect on canvas with the select tool
start editing the anchor points

Result: there is no tool icon where the select tool icon use to be.

[2015-08-14 22:30] mcilroyc commented on #2050
I implemented eric's suggestion in PR #2056 and it *helps*, but there is still some work to be done.  Lucky for me, he volunteered, so assigning this over...

[2015-08-14 22:35] ktaki commented on #1329
Opened new bug in Watson. See if we can fix it this time.
https://watsonexp.corp.adobe.com/#bug=4037371

[2015-08-14 22:46] hamburge opened #2057 "Search bar loses focus when you switch to another app"
It should either not lose focus or immediately regain it instead.

[2015-08-14 22:59] ktaki commented on #1329
Looks like Chad opened a new one. Closing this again.

[2015-08-14 22:59] #1329 closed

[2015-08-14 23:50] chadrolfs commented on #1860
I can still repro.  let me know if you need a file.  Here are my steps:
cmd + n
file > place embedded... (choose an illustrator file .ai)
press Enter to place - note it places it on top of but not nested in AB
make sure that layer has focus in the layers panel and press the Add Graphic icon at the bottom of the Libraries panel.

That should give you the error above and no asset will be added to th

[2015-08-14 23:58] #2007 closed

[2015-08-15 00:07] #2006 closed

[2015-08-15 00:13] chadrolfs opened #2061 "Copy/paste style: user feedback needed when clicking copy/paste icons"
Maybe it's me but when i click on the copy style icon, I'm unsure it copied until I paste it.  It would be good if we could provide the user some sort of indication that something happened.

Other UI icons act the same way but when you click on them, the effect is seen on canvas immediately (swap, flip, align, etc.).  This one feels weird because nothing happens.

[2015-08-15 00:28] placegraphichere opened #2062 "Opt-Drag layer to adjacent artboard causes strange results Update: Opt+SHIFT+drag is the cause"
![opt-drag-to-artboard-positioning](https://cloud.githubusercontent.com/assets/3229167/9286496/928a697c-42ba-11e5-8049-4f4db2dbf009.gif)

animated GIF, click on it

[2015-08-15 04:57] shaoshing commented on #1996
there seems to be a lag between the [placedLayerEditContents ](https://github.com/adobe-photoshop/spaces-design/blob/master/src/js/actions/superselect.js#L302) and  [documentLib.referenceBy.current](https://github.com/adobe-photoshop/spaces-design/blob/master/src/js/actions/documents.js#L301) when editing smart object imported from CC Libraries. After the `placedLayerEditContents`, the `documentLi

[2015-08-15 15:56] iwehrman commented on #2062
This seems like a core bug with smart guides and artboard canvas auto-resizing. Over to @chadrolfs to file in Watson. Maybe assign internally to @timothynoel for triage?

[2015-08-15 15:58] iwehrman commented on #2038
@zoranagee Can you be more specific? Do you think the individual columns are too wide? Or are you unhappy with the two-column UI?

[2015-08-15 15:59] iwehrman commented on #2039
Added to the [Wishlist](https://github.com/adobe-photoshop/spaces-design/wiki/Wishlist), where we track major feature requests like this.

[2015-08-15 15:59] #2039 closed

[2015-08-15 16:00] iwehrman commented on #2024
Fixed #2030.

[2015-08-15 16:00] #2024 closed

[2015-08-15 18:10] iwehrman opened #2064 "CC Libraries: brushes message tweaks"
@placegraphichere will correct me if I'm wrong, but I suggest the following tweaks:

1. Change the message to just "Brushes are not supported in Design Space." Still only show the message if there are some brushes in the library. The extra information doesn't seem useful, and this reduces the clutter somewhat.
2. Reduce the contrast of this message so that it is no greater than UI text with the cu

[2015-08-15 18:10] iwehrman commented on #2064
@shaoshing: Please contact @placegraphichere for exact guidance on UI text colors.

[2015-08-15 23:49] iwehrman commented on #1969
Well, I'm convinced.

[2015-08-15 23:49] #1969 closed

[2015-08-16 01:05] iwehrman opened #2067 "Disable command-drag mode in shape and pen tools"
With the rectangle, ellipse or pen tool active, holding down the command key changes the cursor to a black arrow and makes it possible to draw a marquee on the canvas which doesn't do anything. This isn't harmful AFAICT, but it definitely presents a confusing experience to the user.

[2015-08-16 02:19] placegraphichere opened #2069 "SHIFT-clicking to add to a selection within the selection bounding box fails"
- Create 4 rects in a 2x2 grid
- Attempt to select all 4 rects
- The final rect will not select since the bounding box of the current selection overlaps

GIF shows selecting rects individually, then tries to multi-select them

![multi-selection-bounding-interference](https://cloud.githubusercontent.com/assets/3229167/9291677/566a8d94-4393-11e5-8120-27653026ee30.gif)

[2015-08-16 23:32] iwehrman commented on #2009
I agree that this is a high priority bug. It's distinct from #1969. One of the problems is that we get a "createdTextLayer" event when we click with the text tool, but then if the modal tool state is ended without committing the text we never get a corresponding "delete" event. (And I'm not aware of any other way to detect this.) The other problem is that, when the type tool is selected, we seem t

[2015-08-17 00:00] iwehrman opened #2071 "UI isn't updated in modal tool state with super-select type subtool"
The necessary handlers are only installed using the primitive type tool, and not the super-select type subtool.

[2015-08-17 00:05] iwehrman opened #2072 "Missing type justify-all icon"
It's in the DOM, but the icon isn't showing up:
![image](https://cloud.githubusercontent.com/assets/1075154/9296093/d398e770-4438-11e5-8e8f-438587bb2607.png)

[2015-08-17 00:38] iwehrman commented on #1882
@pineapplespatula There's a typo in the `alignAssigned` event property name:
![image](https://cloud.githubusercontent.com/assets/1075154/9296258/423dae46-443d-11e5-8515-d009dd9dedab.png)

Also 1) what is the point of these `Assigned` property names? I can't figure out how to get in a state in which they are meaningful.

Also 2) why can't the event just _omit_ the relevant property names if they ar

[2015-08-17 16:38] pineapplespatula commented on #1882
they were a cross over from the way that PS represents its character style model, but you are right that it makes more sense in a javascript world to just omit them from the descriptor. I'll look into making the core changes needed for that.

[2015-08-17 17:43] iwehrman commented on #1414
Fixed by #2065.

[2015-08-17 17:43] #1414 closed

[2015-08-17 17:52] iwehrman opened #2073 "History actions are excessively chatty"
We should only be logging during truly interesting situations because otherwise this is just noise to most of the engineers.

[2015-08-17 17:55] iwehrman commented on #1875
A Watson issue is needed for this.

[2015-08-17 17:57] iwehrman commented on #1877
This has nothing to do with type. I suspect that one of @hamburge's PRs broke this. @chadrolfs: if you have time, can you `git bisect` this failure?

[2015-08-17 18:12] iwehrman commented on #1936
@pineapplespatula sez:

    when you exit the modal state, our model has be modified to reflect the current modal selection. When
    you escape without reseting we dont refelct the whole layer state. so we wont update to a mixed
    selection in the property panel

[2015-08-17 18:13] iwehrman commented on #1936
I think this can be deferred until after M3.

[2015-08-17 19:08] iwehrman commented on #1935
Fixed by #2060.

[2015-08-17 19:08] #1935 closed

[2015-08-17 19:29] iwehrman commented on #1882
Can you give instructions for how to reproduce an event with, say, `sizeAssigned === false`?

[2015-08-17 19:40] pineapplespatula commented on #1882
not anymore, because i took out assigned keys in the descriptors.
but you would have done it by making a text layer with two characters, changing on the of the characters sizes and then selecting both characters

[2015-08-17 19:50] iwehrman opened #2075 "Improve error handling in event handlers"
We currently don't have a good solution/pattern for exceptional conditions encountered in event handlers. In actions, we just return a failed promise and controller takes care of the rest. We should figure out a solution/pattern for resetting the Flux controller cleanly from event handlers when we detect some significant inconsistency.

[2015-08-17 20:00] iwehrman commented on #1882
So now it just omits `size`?

[2015-08-17 20:11] pineapplespatula commented on #1882
yes

[2015-08-17 20:39] chadrolfs commented on #1877
92856812c5c0b72c2294ac29e7f228164466b35e is the first bad commit
commit 92856812c5c0b72c2294ac29e7f228164466b35e
Author: Jeffrey Cohen <jecohen@adobe.com>
Date:   Tue May 12 11:04:27 2015 -0700

    Allow text tool to work in modal state

[2015-08-17 21:07] ktaki opened #2076 "Sets fill color to black when Toggle Fill is clicked"
Draw a rectangle. Set the color to red. Click Toggle Fill icon. Now fill is black.

[2015-08-17 21:09] iwehrman commented on #2076
Possibly related to #2060. Over to @volfied for investigation.

[2015-08-17 21:17] iwehrman commented on #1880
The problem seems to be that the text descriptor simply has the wrong information in it right after creating the text layer.

[2015-08-17 21:20] ktaki opened #2077 "If fill is not visible, alpha of stroke appears to be 100% on canvas"
Could be the same root cause as #2076, but reporting this anyway.
Draw a rectangle. Add a stroke and set the alpha to be 20%.
Click on Toggle Fill icon to make the fill invisible.
RESULT: Stroke will be drawn as the alpha value 100% on canvas.

[2015-08-17 21:20] pineapplespatula commented on #1877
it looks like its related to my addition or _releaseFocus which it seems too heavy handedly gives keyboard focus back to PS so that we can be back in the modal editing state. We may need to work with @jfitz-adobe  on this one to figure out what to do about keyboard focus, or is there a way we can only call this when we exit via enter and not via tab ?

[2015-08-17 21:21] pineapplespatula commented on #1877
or @iwehrman is there a way we can only call this when we exit via enter and not via tab ?

[2015-08-17 21:38] chadrolfs commented on #2062
I'm having a hard time repro'ing this.  @placegraphichere is this easy for you to repro every time?

[2015-08-17 21:56] volfied commented on #1063
Closing as this is a dev bug.

[2015-08-17 21:56] #1063 closed

[2015-08-17 22:00] ktaki opened #2079 "Icons for Delete and Toggle Drop/Inner Shadow are not visible or incorrect"
Only delete icons are visible

[2015-08-17 22:04] ktaki opened #2080 "Fill color shown as "mixed" when alpha is set to the value other than 100"
Create a rectangle. Set the alpha for the fill to be 90%.
RESULT: The color value is shown as "mixed".

[2015-08-17 22:09] volfied commented on #2080
Please try #2078, but I can't repro this on master either.

[2015-08-17 22:29] iwehrman commented on #1881
https://watsonexp.corp.adobe.com/#bug=4038142

[2015-08-17 22:29] volfied commented on #2077
Dupe of https://github.com/adobe-photoshop/spaces-design/issues/526

[2015-08-17 22:29] #2077 closed

[2015-08-17 22:30] iwehrman commented on #1880
https://watsonexp.corp.adobe.com/#bug=4038142

[2015-08-17 23:24] ktaki opened #2082 "Sampler tool makes fill visibility off and doesn't sample fill/stroke"
Create Rectangle 1 and Rectangle 2.
Change the fill color of Rectangle 2 to red.
Switch to Sampler tool. With Rectangle 2 still selected, click on Rectangle 1.
RESULT: The visibility of Rectangle 2 fill turns off

[2015-08-17 23:31] ktaki commented on #2080
Verified the fix.

[2015-08-17 23:31] #2080 closed

[2015-08-17 23:32] ktaki commented on #2076
Verified the fix.

[2015-08-17 23:32] #2076 closed

[2015-08-17 23:43] chadrolfs opened #2083 "Layers panel UI: Icons don't reflect Cloud assets that needs update or Broken Linked Smart Objects"

[2015-08-17 23:51] chadrolfs commented on #2011
Now I'm seeing that sometimes it doesn't generate a thumbnail at all.

[2015-08-18 00:31] iwehrman commented on #2069
@DivyaPrabhakar to narrow down the problem.

[2015-08-18 00:51] iwehrman commented on #1938
I changed my mind. @DivyaPrabhakar should fix this.

[2015-08-18 00:53] iwehrman commented on #1903
@DivyaPrabhakar this might be another good one to investigate. The fix may or may not be obvious.

[2015-08-18 00:57] iwehrman commented on #1780
@DivyaPrabhakar Once you get your Windows VM running, would you try to reproduce this?

[2015-08-18 01:49] iwehrman commented on #1897
This should be fixed in core as of Mac pgdev 470.

On the JS side, the failure is only thorough if the default (select) tool can't be activated. I think we're not wrong to consider that to be a catastrophic failure, and the controller correctly returns the user to standard PS with the "unrecoverable error" message as designed. I think you aren't getting kicked back to standard because that only ha

[2015-08-18 01:51] iwehrman commented on #882
Fixed by #1959.

[2015-08-18 01:51] #882 closed

[2015-08-18 16:29] placegraphichere commented on #2062
Try adding OPT+SHIFT+drag. that seems to do it. The SHIFT seems key to repro

[2015-08-18 16:29] iwehrman commented on #2072
It looks like the SVG file itself is broken. Over @placegraphichere.

[2015-08-18 16:37] chadrolfs commented on #1897
Thanks @iwehrman. Testing that out now.

[2015-08-18 16:47] volfied commented on #2072
FBNC to @iwehrman

[2015-08-18 16:52] chadrolfs commented on #2079
I actually think it's the delete icons that are not showing but the tooltips depending on where the mouse is can be confusing.   I think the toggle icons might be wrong for all the styles (fill, stroke and shadows) and the delete icons for shadows are missing.

[2015-08-18 16:56] chadrolfs commented on #2082
turns visibility off and also doesn't sample fill or stroke.  Shift + click to sample effects still works tho.

[2015-08-18 16:57] chadrolfs commented on #1897
Yep, looks fixed.

[2015-08-18 16:58] iwehrman commented on #2072
Fixed by #2086.

[2015-08-18 16:58] #2072 closed

[2015-08-18 17:03] chadrolfs commented on #2062
Ok, was able to repro with that - thanks!

[2015-08-18 17:05] DivyaPrabhakar commented on #1878
Talked to @placegraphichere -- We will not have a label for blend modes (in the foreseeable future) therefore there is no point in putting a tool tip over the input because it blocks the user's view of the datalist. This is a non-issue for now.

[2015-08-18 17:05] #1878 closed

[2015-08-18 17:21] placegraphichere opened #2087 "Effects: Outer (drop) shadow set to white does not show"
- create shape layer overlaid on a dark background layer
- add an outer shadow to the shape layer
- change the color of the outer shadow to white
- nothing shows

expected: outer shadow should be white.

Is there a blend mode on the outer shadow?

[2015-08-18 18:05] volfied commented on #2082
Fixed in master, since it was such a minor change.

[2015-08-18 18:16] chadrolfs commented on #2062
https://watsonexp.corp.adobe.com//#bug=4038192

[2015-08-18 18:20] volfied commented on #2087
Yeah, blend mode is multiply by default, which multiplies to nothing in this situation.

[2015-08-18 18:22] zoranagee commented on #2038
individually each column is too wide - takes up too much space. What are we planning on showing for default? 1 column?

[2015-08-18 18:22] chadrolfs commented on #2082
stroke still not sampled tho

[2015-08-18 18:24] volfied commented on #2087
What's the expected blend mode for drop shadows?

[2015-08-18 18:34] volfied commented on #2082
That is currently by design, which I understand feels limited. Primary color sampling applies to the fill of the layer.

[2015-08-18 18:44] chadrolfs commented on #2082
hmmm, ok, so will there be no way to sample stroke other than copy/paste style?  Are we not gonna fix that?  Seems like a bug and I think users will agree.

[2015-08-18 18:46] chadrolfs commented on #2087
standard PS default for drop shadow blend mode is multiply

[2015-08-18 18:47] chadrolfs commented on #2087
I'm a bit confused by this bug.  There is Outer Glow and Drop Shadow, but not Outer Shadow.

[2015-08-18 18:48] iwehrman commented on #2038
I believe the plan is to show both by default.

[2015-08-18 18:50] zoranagee commented on #2038
Then we really need to rethink the width. On my MBP the UI takes up almost half of my screen.

Z.

From: Ian Wehrman <notifications@github.com<mailto:notifications@github.com>>
Reply-To: adobe-photoshop/spaces-design <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, August 18, 2015 at 11:48 AM
To: adobe-photoshop/spaces-design <spaces-design@noreply.github.com<mailto:spaces-de

[2015-08-18 18:53] iwehrman commented on #2038
We tried to strike a balance between making full use of huge screens and making it possible to work on a small screen by hiding some columns. I suggest, for this use case, collapsing the layers panel and working that way. If you're not happy with that, we should probably discuss this at the weekly design review meeting.

[2015-08-18 18:55] zoranagee commented on #2038
I want to hear what customers think.

From: Ian Wehrman <notifications@github.com<mailto:notifications@github.com>>
Reply-To: adobe-photoshop/spaces-design <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, August 18, 2015 at 11:53 AM
To: adobe-photoshop/spaces-design <spaces-design@noreply.github.com<mailto:spaces-design@noreply.github.com>>
Cc: Zorana Gee <zgee@adobe.com<mail

[2015-08-18 18:58] iwehrman commented on #2038
The design review meetings are where we have discussed the results of those conversations. I'm sure we can tweak the width of the individual columns, but I gather your reaction is primarily about the the screen space used with two columns open. I'm sure @placegraphichere would be happy to discuss the feedback from the user group about that issue specifically.

[2015-08-18 19:03] placegraphichere commented on #2087
outer glow has no directional component, but has added "noise". Outer glow and shadow are very similar.

The point of this issue is simply that we are using multiply as the default blend mode that makes some colors impossible to use. If we do not offer the ability to change blend modes, I'd rather we use a Normal blend mode and rely on opacity to soften the amount of shadow. This way more colors a

[2015-08-18 19:12] designedbyscience commented on #2038
Minor points to consider:

We can adjust the overall size of the UI with CSS and make it smaller on higher pixel density screens (very easy).
We can also adjust the width of columns depending on screen size (less easy but a quick pass says not too bad).

[2015-08-18 19:44] volfied commented on #2087
Let's bring this up tomorrow at stand up and go from there. @placegraphichere do you see a good way to stick a blend mode popup in the drop shadow detail UI?

[2015-08-18 20:57] chadrolfs commented on #2011
haven't been able to repro the thumbnail not ever generating today but man is it slow.

[2015-08-18 21:10] chadrolfs opened #2090 "Create New Artboard fails"
Create a New... Default Photoshop Size document
Add several shapes to it
select all layers
Layer > Create New Artboard

Result: `Action layers.createArtboard failed: Error: Photoshop returned an error when playing command number: 1 Photoshop code: -25920 Photoshop message: error: -25920 message: The command “Make” is not currently available.`

[2015-08-18 21:12] chadrolfs commented on #2090
If I open up an existing doc that doesn't contain an artboard but has a bunch of layer types and group, select all and Layer > Create New Artboard, I get:
`Action layers.createArtboard failed: Error: Too many layers in layer index`

[2015-08-18 21:13] iwehrman opened #2091 "CC Libraries: Clicking on panel background should deselect all assets"
Just like in the layers panel.

[2015-08-18 21:15] chadrolfs commented on #2011
for bug scrub discussion: should this block the card from being done?

[2015-08-18 21:26] shaoshing commented on #2011
Hey Chad, I put this issue in the "Asynchronous" card, and we should move on with the drag-n-drop card.  My test indicates the asset is soon ready for use once imported, but the process of getting the preview image is slow. We can improve this by using the local preview image instead.

[2015-08-18 21:35] chadrolfs commented on #2011
Got it, thanks.  Moved the card to done.

[2015-08-18 22:35] mcilroyc opened #2092 "Text Layer name not restored after undo+redo"
1. Create a point-text layer by clicking on the canvas with the text tool
1. Type JELLO
1. Hit ESC
1. Note in the Layer Panel that the layer name becomes JELLO
1. Undo
1. Redo
1 Note the Layer Panel shows a default layer name, not JELLO
1. Help > Update Current Document ; see that it now reflects JELLO

[2015-08-18 22:36] mcilroyc commented on #2092
Heads up @pineapplespatula and @iwehrman in case there is overlap with your bugs ... but I will otherwise assign this to myself.  My hunch is that we are updating the document out of band (after the history state has been captured)

[2015-08-18 22:36] volfied commented on #2092
I think @DivyaPrabhakar should look at this bug and learn about the wonderful world of `shouldComponentUpdate`, my 2Çents

[2015-08-18 22:38] volfied commented on #2092
I retract my statement, this might be something far more sinister

[2015-08-18 22:39] ktaki opened #2093 "Text transformation by changing H does not update font size"
With a text layer selected, change H value in the property panel. Font size is not updated till the layer goes to editing mode next time. The font size should be updated immediately.

[2015-08-18 22:41] iwehrman opened #2094 "Incorrect CC Libraries panel height"
![image](https://cloud.githubusercontent.com/assets/1075154/9344720/87c0f88c-45bf-11e5-87fa-be45dd7fe177.png)

[2015-08-18 22:41] ktaki commented on #2009
Verified the fix.

[2015-08-18 22:41] #2009 closed

[2015-08-18 22:45] ktaki commented on #2082
Verified the fix.

[2015-08-18 22:45] #2082 closed

[2015-08-18 22:46] iwehrman commented on #2071
Fixed by #2081.

[2015-08-18 22:46] #2071 closed

[2015-08-18 22:46] ktaki commented on #1897
Yes, it's working now.

[2015-08-18 22:46] #1897 closed

[2015-08-18 22:48] ktaki commented on #1883
Verified the fix.

[2015-08-18 22:48] #1883 closed

[2015-08-18 23:18] chadrolfs commented on #1881
As soon as I try to initially set the text color, it blows up on me:
`Action type.setColor failed: Error: Photoshop returned an error when playing command number: 1 Photoshop code: -25920 Photoshop message: error: -25920 message: The command “Select” is not currently available.`

new doc
hit T for type tool
click on canvas and start typing creating mulitple lines (type, enter, type, enter)
hit Esc

[2015-08-18 23:29] #1691 closed

[2015-08-18 23:48] iwehrman commented on #1881
This is the recent change which is causing this bug:
https://github.com/adobe-photoshop/spaces-design/commit/4ae20a279e2416926bc9cd9cdafc39b767a05795#diff-66fb006bb46f8f716c009f317aded016R268

[2015-08-18 23:57] iwehrman commented on #1881
@volfied @shaoshing @mcilroyc: Let us discuss this in ye olde parking lot tomorrow morning.

[2015-08-19 00:08] iwehrman commented on #2093
Note to self: when fixing this, remove `transform.setBounds`, which is now dead code.

[2015-08-19 04:30] iwehrman commented on #2093
Indeed, I missed this case in my recent PR. But I made a branch with the additional change, and then discovered that Photoshop is _also_ not sending us the right "impliedFontSize" after we play the "transform" action descriptor. So this is now blocked on a Photoshop core bug, and requires a Watson issue. And I'm probably the best person to do that, so leaving this assigned to me.

[2015-08-19 13:44] iwehrman commented on #2092
@DivyaPrabhakar should not look directly into this bug :sunglasses:

[2015-08-19 13:45] iwehrman commented on #2092
Even though @mcilroyc filed this, I'd like to assign it back to @chadrolfs to close. Seems likely that he'll hit another few bugs in this area when verifying :grimacing:

[2015-08-19 14:24] iwehrman commented on #2090
I don't think that #2063 actually addresses this. At least, if it does, I have no idea why. It's probably just that #2063 isn't rebased against master.

[2015-08-19 14:31] iwehrman commented on #2090
At least one problem here is that the artboard "make" command fails when a background layer is selected.

[2015-08-19 14:32] iwehrman commented on #2090
@chadrolfs I can only reproduce this failure with a background layer, but not with an artboard layer selected. Can you confirm? Or narrow down that particular failure for me further?

[2015-08-19 15:05] iwehrman opened #2098 "Actions should use the options pattern"
Currently many of our actions have variadic signatures to accommodate some number of optional parameters. For example, [`type.setColor`](https://github.com/adobe-photoshop/spaces-design/blob/535b942799f406a20f13bf5a0d7edf1f75f95a4c/src/js/actions/type.js#L234-L246) takes two optional booleans to control whether or not opacity should be taken into account, and whether or not the history state shoul

[2015-08-19 15:27] iwehrman opened #2099 "Graphics corruption on Windows 10"
A [forum user reported](https://forums.adobe.com/message/7875933#7875933) graphics corruption in Design Space on Windows 10:
![image](https://cloud.githubusercontent.com/assets/1075154/9360612/fe0b4d62-464b-11e5-9fa8-45a141ecda7e.png)

[2015-08-19 16:55] mcilroyc commented on #2093
FBNC, back to @ktaki

[2015-08-19 17:46] iwehrman opened #2101 "Modal warning dialog when editing locked type layers"
1. Create a type layer.
2. Lock the type layer.
3. Try to edit the type layer with the type tool.

![image](https://cloud.githubusercontent.com/assets/1075154/9364123/97ecfca6-465f-11e5-8e47-9280585df3d5.png)

[2015-08-19 19:02] DivyaPrabhakar commented on #1905
https://github.com/adobe-photoshop/spaces-design/pull/2063

- Added the menu specified above
- If no preset is defined and an artboard is selected, when new artboard is created, it takes the size of the selected artboard. Else, if no preset is defined and an artboard is not selected, the new one takes the default size.

[2015-08-19 19:08] designedbyscience commented on #1990
The code to check the properties for this is coming in @volfied's style PR

[2015-08-19 19:12] mcilroyc opened #2103 "Fast Redo fails by trying to redo past the end of the world"
Slow redo works fine.  I think this is a regression.  Assigning to myself.

[2015-08-19 19:38] iwehrman commented on #2090
The output of PS has changed in the last few days when creating an artboard. Working with @jsbache on this currently...

[2015-08-19 19:43] chadrolfs commented on #2083
possibly needs some core work for notifications when things are broken or when that status changes?

[2015-08-19 19:47] iwehrman commented on #2090
Or, perhaps, the output from PS is just different depending on whether or not this is the first artboard created. It seems "wrong" (or is at least unexpectedly different) when creating the first artboard from either a transparent document or a document with a background.

[2015-08-19 20:12] chadrolfs opened #2105 "CC Lib: applying Text Style does not include color"
Create 2 default text layers
change the first text layer to a specific different font (e.g. Impact) and color (blue)
click on Add Character Style button at bottom of CC Libraries (note thumbnail shows font and color)
click on second text layer (still default) and then click on the Text Style created in the Libraries panel.

Result: Typeface is applied but color remains black

[2015-08-19 20:15] chadrolfs opened #2106 "CC Lib: Style naming is inconsistent, rename Text Styles > Character Styles"
Tooltip at bottom of panel: Add Character Style
Label within library: Text Styles

Standard PS: Character Styles

[2015-08-19 20:49] zoranagee opened #2107 "Pen Tool: program error when creating multiple shapes with Pen Tool"
1- file new
2 - create a closed path (triangle) with the Pen Tool
3 - Shift+click on the path to start a new shape
4 - click again to split the triangle (draw a line across the triangle)
5 - Select Shape 1 to not have Shape 2 selected
6 - Click on the document to start a new line

Program error dialog <OK> everything commences as usual

(I have a video if anyone wants)

[2015-08-19 20:56] chadrolfs commented on #2107
this could be a dupe of #1681

[2015-08-19 21:13] iwehrman opened #2108 "CC Libraries datalist arrow is confusing without an underline"
The Libraries datalist is confusing because there is no obvious association between the text and the drop-down arrow:
![image](https://cloud.githubusercontent.com/assets/1075154/9369144/3717b098-467c-11e5-8726-8a830c887b20.png)

The other datalists have an underline that connects the text to the arrow:
![image](https://cloud.githubusercontent.com/assets/1075154/9369162/4e4fc8ae-467c-11e5-8f95-df31

[2015-08-19 21:37] ktaki commented on #2093
Verified the fix.

[2015-08-19 21:37] #2093 closed

[2015-08-19 21:38] DivyaPrabhakar commented on #1938
https://github.com/adobe-photoshop/spaces-design/pull/2109

[2015-08-19 21:41] zoranagee opened #2111 "Zoom % not maintained going from PS to DS"
Have a file at 200% and jump to DS, zoom goes back to default of 50%

[2015-08-19 21:44] iwehrman commented on #2111
Closing as a dupe of #1999. CC @shaoshing since he's assigned, and @jsbache, @designedbyscience and @placegraphichere since we talked about it earlier in the week.

[2015-08-19 21:44] #2111 closed

[2015-08-19 21:54] zoranagee opened #2112 "SuperSelect: showing blue bounding of images not on targeted AB"
There might be some edge case around this that should work as is today but if you have two AB - and you have AB 1 selected and as you mouse through, it will in fact show the bounding edge of an image that is in AB2 (that happens to overlap - not visibly - with AB1). Too many distracting bounding boxes appearing and disappearing that aren't relevant to the task at hand.

(I have a video if this doe

[2015-08-19 21:55] placegraphichere commented on #2112
is this part of the "don't show hidden layer" issue @iwehrman ?

[2015-08-19 21:55] iwehrman commented on #2112
Hopefully not, because that is fixed.

[2015-08-19 21:56] zoranagee opened #2113 "SuperSelect: AB: Selecting in the empty canvas will select images (not visible) over the actual canvas (no AB)"
Have a couple of AB with images that extend beyond the AB size. Click out in the white space - the hierarchy selects the image (not visible) over nothing. This differs from the way PS handles targeting. Where selecting the white space always selects outside the AB (the canvas) and not the actual hidden image.

[2015-08-19 21:56] iwehrman commented on #2112
@zoranagee please post a link to the video and, ideally, also a link to the PSD if you/Adobe own the rights to it. Otherwise, just send links via email internally.

[2015-08-19 21:56] volfied commented on #2112
Can you post the video @zoranagee ?

[2015-08-19 21:56] tiburbage opened #2114 "manifest.json being pushed to Perforce in 'www' is out-of-sync with spaces-design source"
//photoshop/workarea/playground-dev/plugins/playground/www/manifest.json
{
    "start_url": "./src/index.html",
    "name": "Adobe Project Recess",
    "short_name": "Recess"
}

//photoshop/workarea/playground-dev/plugins/playground/www-dev/manifest.json
and current github spaces-design/
{
    "start_url": "./src/index.html",
    "name": "Adobe Photoshop Design Space",
    "short_name": "Design Sp

[2015-08-19 21:57] iwehrman commented on #2113
@volfied This sounds like a core Photoshop bug with hit testing and artboards?

[2015-08-19 21:57] zoranagee commented on #2113
PS works as I would expect.

[2015-08-19 21:58] iwehrman commented on #2113
Presumably PS does not use the same hit test routine that Design Space uses.

[2015-08-19 22:01] volfied commented on #2113
This is on us, PS hitLayerTest is returning empty. The obvious fix will break couple other interactions, so let me sit on this a bit.

[2015-08-19 22:10] zoranagee commented on #2112
The file is up on my transfer on smb://sjshare.corp.adobe.com/Photoshop/ under "DesignSpace"

[2015-08-19 22:21] volfied commented on #2113
Back in April, to allow selecting layers BEHIND the canvas (remember before artboards, we had a canvas?), I started not being restrictive with the PS hitTest.. it causes problems like this one. I'll fix it.

[2015-08-19 22:24] mcilroyc commented on #1881
FBNC @chadrolfs

[2015-08-19 22:26] iwehrman commented on #1905
![ab](https://s3.amazonaws.com/f.cl.ly/items/2S2F293S0U1P3n3a3M45/Screen%20Recording%202015-08-19%20at%2003.25%20PM.gif)

[2015-08-19 22:32] placegraphichere commented on #1905
this is radical and exciting

[2015-08-19 22:33] DivyaPrabhakar commented on #1905
Wooooooooo

[2015-08-19 22:34] iwehrman commented on #1905
@placegraphichere you have the power to close this bug once you are satisfied with the product.

[2015-08-19 22:37] #2092 closed

[2015-08-19 22:37] #1938 closed

[2015-08-19 22:42] #1881 closed

[2015-08-19 22:51] iwehrman opened #2118 "Export scales are sorted incorrectly"
![sort](https://s3.amazonaws.com/f.cl.ly/items/1t3O1v1O2m0v1t113r3o/Image%202015-08-19%20at%203.50.59%20PM.png)

[2015-08-19 22:59] chadrolfs opened #2119 "Artboards: plus galore (+)"
![screen shot 2015-08-19 at 3 59 05 pm](https://cloud.githubusercontent.com/assets/8442631/9371160/4115811a-468b-11e5-9b18-b0458fd6221c.png)

[2015-08-19 23:09] chadrolfs opened #2120 "Artboard coordinates get wacked when interacting with AB set to not auto-nest (per AB layer setting)"
![screen shot 2015-08-19 at 4 10 07 pm](https://cloud.githubusercontent.com/assets/8442631/9371304/9de9d52a-468c-11e5-88c7-a923f0815f9c.png)

[2015-08-19 23:55] ktaki opened #2121 "No way to remove layer effects applied from CC Lib within DS"
Examples: Color overlay, Gradient overlay.

[2015-08-20 00:23] ktaki opened #2122 "Need missing font and layout change warning indicators in layers panel"
In standard Ps, yellow and white triangles like:

<img width="241" alt="screen shot 2015-08-19 at 5 17 32 pm" src="https://cloud.githubusercontent.com/assets/2029597/9372696/71acaf28-4696-11e5-854e-688282a49cfb.png">

No indicators in DS, but it will result in the following modal dialogs when trying to edit the layer.

<img width="795" alt="screen shot 2015-08-19 at 5 15 37 pm" src="https://cloud.

[2015-08-20 00:31] ktaki opened #2123 "Typeface shown as "mixed" if the font is missing"
FYI: The convention in standard Ps is to surround font name and weight with square brackets [ ].

[2015-08-20 00:38] ktaki commented on #2123
The "mixed" is shown even after the missing font was downloaded.

[2015-08-20 00:41] chadrolfs commented on #2121
The workarounds are:
1. switch to classic PS and remove them there
2. apply a different CC Library effect that doesn't have those (effectively over writing and removing them)

[2015-08-20 00:43] chadrolfs commented on #2119
It appears you get into this state when interacting with artboards setting to have auto-nesting per layer.

[2015-08-20 00:48] ktaki commented on #2121
Good suggestion @chadrolfs !

[2015-08-20 00:48] iwehrman commented on #2120
That is wack.

[2015-08-20 01:28] placegraphichere commented on #2121
I think we should show a placeholder item, without options that is labeled with the effect name. Bonus points if we allow users to delete them. This is similar to unsupported brushes in libraries. We should not change anything, instead simply acknowledge the item for the user

[2015-08-20 01:51] ktaki opened #2124 "Style panel not properly updated when a style is applied from CC Lib"
Create a style with a drop shadow. Add it to Library
Create a style with a inner shadow. Add it to Library
Create a shape and apply the two layer styles just created.
Effects are properly redrawn on canvas, but both effects appears in the style panel.

[2015-08-20 03:41] iwehrman commented on #2122
Can you confirm my intuition about what the yellow and white warning signs mean?

[2015-08-20 03:56] ktaki commented on #2122
Yellow triangle indicates the layer has missing font(s).
White triangle indicates it may cause layout change (or reflow of text.) This is a warning that it might be different version of fonts were used when the layer was originally created.

[2015-08-20 14:23] mcilroyc opened #2126 "NodeConnection websocket polling during init needs a paddlin'"
Opening a new NodeConnection (via NodeDomain) works fine, but it is too chatty with the errors to the console.  It would be nice if it were more chill about failed websocket connections until after it is had reached some threshold (max retries).  If we try to connect while generator is still loading the plugin, we expect the first few handshake requests to fail.  Side note: we should also remove t

[2015-08-20 14:31] iwehrman commented on #2119
I can't figure out how to repro. I've tried disabling auto nesting on individual layers and on artboards. Any hints?

[2015-08-20 14:35] iwehrman commented on #2126
My opinion: the client should pass a maximum retry _time_ into NodeConnection. So we should remove the delay but provide a generous retry time. Like, 30 or 60 seconds. During this time, NodeConnection should retry with a very small delay between attempts.

[2015-08-20 14:37] iwehrman commented on #2126
And, if we have a way for Generator to restart, there should also be some other condition (like, poking the line in exports panel that says "Generator is disabled"?) which later causes the client to attempt to re-connect again with the same generous retry delay.

[2015-08-20 16:02] chadrolfs opened #2127 "Dragging out guides from left (next to toolbar) occasionally fails"
new doc
mouse over left side of work area next to toolbar until you see blue highlight, click and drag

result: no guide

[2015-08-20 16:13] chadrolfs opened #2128 "Guides: can't move them on Windows"

[2015-08-20 16:14] chadrolfs commented on #2128
you can create them by clicking in work area edge (blue highlight) but can't drag them

[2015-08-20 16:18] chadrolfs opened #2129 "Creating a new subsequent document after guides yields policy errors"
cmd/ctrl + n, drag out a guide, cmd/ctrl + n

Result: `Action documents.createNew failed: Error: Unknown policy ID: 21`

[2015-08-20 16:18] chadrolfs commented on #2129
![screen shot 2015-08-20 at 9 16 56 am](https://cloud.githubusercontent.com/assets/8442631/9388764/61129ae8-471c-11e5-9053-6b31c35a0310.png)

[2015-08-20 16:29] chadrolfs opened #2130 "Dragging mouse from outside edge blinks the create guide area"
http://cl.ly/1h1V0q2F0c3p

[2015-08-20 16:47] chadrolfs opened #2131 "Guides are not deleted when dragged out of work area"
drag guide to outside the work area
zoom out or hold down space and pan

Result: guide is still there, just moved.

[2015-08-20 17:16] zoranagee opened #2132 "SuperSelect: CMD+click always selects the layer that is the highest in the hierarchy"
Here's another one where we could be a little smarter. I'm trying to select "ACTIVITIES" with CMD+click. I only can select Mt. Hood (which is 'hidden' at this location) since it's higher in the layer stack.

Mt. Hood is not hidden as in layer visibility - just that it is behind Activities or masked by everything else above it.

Photoshop correctly targets the type layer as I would expect DS to be

[2015-08-20 17:27] chadrolfs commented on #1990
@DivyaPrabhakar wants to fix this. @designedbyscience let her know when it's in master.

[2015-08-20 17:29] chadrolfs commented on #1992
@DivyaPrabhakar coordinate with @iwehrman & @placegraphichere

[2015-08-20 17:32] chadrolfs commented on #2000
Fixed by #2115?

[2015-08-20 17:38] chadrolfs commented on #2019
Fixed in #2115?

[2015-08-20 17:38] designedbyscience commented on #1990
Okay

[2015-08-20 17:42] chadrolfs commented on #2023
please check with @davealonzo and @placegraphichere

[2015-08-20 17:46] chadrolfs commented on #2038
drive to resolution and close this sucker!

[2015-08-20 17:47] designedbyscience commented on #2038
I believe this is going to be discussed during the design review on Friday

[2015-08-20 17:53] iwehrman commented on #2023
This will be addressed by #2115.

[2015-08-20 17:54] iwehrman commented on #2019
Possibly, though it may be complicated somewhat by #2068.

[2015-08-20 17:55] iwehrman commented on #2000
Yes, fix in progress.

[2015-08-20 18:01] #2107 closed

[2015-08-20 18:09] chadrolfs commented on #2121
Feature work required ^^

[2015-08-20 18:12] placegraphichere commented on #2000
this is not addressed by #2115 so we can continue to track it

[2015-08-20 18:14] chadrolfs commented on #2127
probably caused by #2130

[2015-08-20 18:15] chadrolfs commented on #2129
@mcilroyc check this out!

[2015-08-20 18:15] DivyaPrabhakar commented on #2000
I'll fix it in that case

[2015-08-20 18:18] chadrolfs commented on #2132
Will be fixed by the fix for #2112

[2015-08-20 18:26] mcilroyc commented on #2129
thanks for the note @volfied - i just fixed the export onReset bug in a separate branch.

[2015-08-20 18:34] designedbyscience commented on #2055
ICONSSSSS (@placegraphichere has one already)

[2015-08-20 18:38] #2062 closed

[2015-08-20 18:59] iwehrman opened #2135 "Stroke button in sampler HUD should set strokes, not fills"
@placegraphichere will correct me if I'm wrong, but I think that the stroke button in the sampler HUD should set the target stroke color (if possible) and not the target vector fill.

[2015-08-20 19:03] mcilroyc commented on #2090
The way I understand it, this bug should be back to FBNC

[2015-08-20 19:07] iwehrman opened #2136 "Escape should dismiss the sampler HUD"
Right now the only way I can see to dismiss the HUD is by switching tools.

Conceivably we also want to define other conditions that cause the sampler to close, e.g., interacting with the properties panel UI, especially the color picker, because currently Escape will cause the color picker to close, and I foresee collisions if the sampler HUD is up too.

[2015-08-20 19:14] chadrolfs opened #2137 "Sampler HUD failed on multi-text-runs"
create a multi-run text layer (contains 2 different Typefaces)
select the sampler tool
mouse over type layer and hit Space

Result: `Action sampler.showHUD failed: Error: The font for layer is not available!`

[2015-08-20 19:14] chadrolfs commented on #2137
![screen shot 2015-08-20 at 12 10 05 pm](https://cloud.githubusercontent.com/assets/8442631/9393107/0c0b4d06-4735-11e5-8b9c-604080ac720b.png)

[2015-08-20 19:28] iwehrman commented on #2000
@DivyaPrabhakar I suggest waiting for #2115 to land, or just contributing a fix to @placegraphichere's branch if you want to look into it sooner.

[2015-08-20 19:28] mcilroyc opened #2138 "Clicks in the ExportAll dialog can grab an underlying guide"
This is also possible in the Design Space Intro screen.  This is only particularly troubling when the guide happens to be below a checkbox.

[2015-08-20 19:30] iwehrman commented on #2138
The dialog infrastructure should ensure that the pointer propagation policy is NEVER_PROPAGATE while a modal dialog is open.

[2015-08-20 19:31] iwehrman commented on #1991
One shot one kill.

[2015-08-20 19:31] #1991 closed

[2015-08-20 19:34] chadrolfs commented on #2090
Background issue may be resolved but I just hit this issue again:
`Action layers.createArtboard failed: Error: Too many layers in layer index`

[2015-08-20 19:52] mcilroyc commented on #2138
Note this happens as well in the style panel, if you can find an otherwise non-clickable area.

also dragging @volfied in to this - he had a concern with ian's never-propagate suggestion.

[2015-08-20 19:53] placegraphichere commented on #2055
see #2140

[2015-08-20 19:53] chadrolfs commented on #1589
Might be a dupe of #1532

[2015-08-20 19:54] placegraphichere commented on #2135
that is correct

[2015-08-20 19:55] volfied commented on #2138
Actually, I rescind my concern. It should be safe to add a NEVER_PROPAGATE policy on top when dialogs are open, as it will z-order override the other area policies.

Policy overlay won't visualize it though, I use it only for area policies.

[2015-08-20 19:57] placegraphichere commented on #2087
fixed with #2104. Closing

[2015-08-20 19:57] #2087 closed

[2015-08-20 19:57] designedbyscience commented on #2055
I checked, we have icon now

[2015-08-20 19:57] #2055 closed

[2015-08-20 20:00] volfied commented on #2137
This is not the multitext, but the fact that font is not being found in the postScript map.

Stupid question: Are you using a missing font?

[2015-08-20 20:29] iwehrman commented on #2129
FBNC to @chadrolfs.

[2015-08-20 20:36] iwehrman commented on #1875
With @pineapplespatula's recent `deletedTextLayer` event, this is now FBNC to @ktaki.

[2015-08-20 20:37] iwehrman commented on #1880
FBNC to @ktaki.

[2015-08-20 20:39] chadrolfs commented on #2090
here's the easy repro:
new default doc
drag out one rects in the AB
Layer > Create New Artboard

(this is with the staging jenkins build 1462 that has new AB changes from main + current master @ 348d96e)

[2015-08-20 20:41] iwehrman commented on #1857
@mcilroyc One throttled action is now executed every time the cursor/selection context changes. Without significantly changing the architecture of modal type, this is the best we can do.

[2015-08-20 20:47] #2094 closed

[2015-08-20 20:48] #2050 closed

[2015-08-20 21:00] ktaki commented on #1880
Now the font name is not "mixed" but it always stay with default font and attributes, "Myriad Pro", "Regular", black, rgb(0,0,0), Size 16, etc., regardless of previous setting used to create a text layer.

[2015-08-20 21:03] pineapplespatula opened #2143 "handle stroke resolution property properly"
in lib/tools.js:191 defaultShapeTool we set   "strokeStyleResolution": 72

this causes errors for documents with different resolutions

[2015-08-20 21:05] chadrolfs opened #2144 "Unable to move guides attached to Artboards"
in classic PS, have a doc with an Artboard
with the AB targeted (focused in layers panel)
(with Rulers shown) drag out a couple guides into the AB
Switch to DS and try to move the guides

Note: you can only see the guides if the AB has focus

[2015-08-20 21:22] ktaki commented on #1875
Verified the fix.

[2015-08-20 21:22] #1875 closed

[2015-08-20 21:24] pineapplespatula commented on #2143
currently we're only setting shape defaults on the first time that shapes are selected. however we'll need to call this code after every new document in case there is a different resolution on the newly created document. so we wont be able to do this as easily as i hoped

[2015-08-20 21:34] chadrolfs commented on #2137
I'm not but I am using the staging build instead of dev 1462

[2015-08-20 21:47] ktaki commented on #1999
Could we improve the behavior of the first doc opened  (#2043) ?

[2015-08-20 21:49] ktaki commented on #2043
The jumping behavior is awkward. Could we improve this with the fix to #1999?

[2015-08-20 21:49] #2043 closed

[2015-08-20 21:50] ktaki commented on #1986
Verified the fix.

[2015-08-20 21:50] #1986 closed

[2015-08-20 21:52] chadrolfs commented on #2137
here are my exact steps:
cmd+n
hit the T key
click in AB and type "abaasdfasdfasdfasdf" (default font)
(while still in edit mode) select a series of characters in the middle "abaa*sdfas*dfasdfasdf" and set it to Helvetica Neue Bold Italic
hit Enter (on Num Pad) to commit text
hit I for Sampler
mouse over Type layer on canvas and hit Space

[2015-08-20 21:57] #2129 closed

[2015-08-20 22:06] volfied commented on #1907
Passing to @iwehrman as he graciously accepted my plea for help.

During edit.cut, `window.document.activeElement` is `<body>`, and it seems like we're not using our own code at all... Cut "deletes" the highlighted text before my debugger hits edit.cut action.

Thanks Ian!

[2015-08-20 22:07] volfied commented on #1906
@iwehrman This is likely same reason as #1907, maybe we don't need all the fancy logic on Windows, and let the OS calls do their work?

[2015-08-20 23:17] chadrolfs commented on #2055
man, don't be closing my bugs!

[2015-08-20 23:46] iwehrman opened #2147 "PS icon is squished"
On a 5k Retina iMac:
![image](https://cloud.githubusercontent.com/assets/1075154/9398337/fd5cd330-475a-11e5-8035-cde49c8b3f43.png)

It also seems to be slightly duller than the Stock icon next door.

[2015-08-21 00:24] ktaki opened #2149 ""+" button should be excluded from the region to collapse/expand Export panel"

[2015-08-21 00:24] DivyaPrabhakar commented on #1462
https://github.com/adobe-photoshop/spaces-design/pull/2148

[2015-08-21 00:31] iwehrman commented on #1462
Fixed by #2148.

[2015-08-21 00:31] #1462 closed

[2015-08-21 00:40] iwehrman commented on #2149
Same for style copy/paste icons.

[2015-08-21 01:01] tiburbage opened #2150 "Very slow "nudge" transform needs to be investigated"
Not sure if we intend to support arrow keys nudge action for layers/artboards, but our response when you do this is very slow. Naturally, this is most noticeable for heavy artboards or layer groups.

1 - Open VermilionArtboards.psd in standard ui
2 - With the Move Tool (or Artboard Tool) enabled, select one of the Artboards
3 - Press any of the "arrow" keys to nudge the content around. It works ve

[2015-08-21 01:07] iwehrman commented on #2150
Each instance of `transform.nudgeLayers` takes ~100ms in a debug build in Vermilion for me. Are you seeing the problem when you hold an arrow key down?

[2015-08-21 01:09] iwehrman commented on #2150
CC @volfied because I'm pretty sure we discussed this at some point. I suspect the problem is with how we're throttling this command. I also suspect that the fix is not terribly obvious with our infrastructure. What we really need is something like a nudge tracker...

[2015-08-21 01:12] iwehrman opened #2152 "Export panel should not grow in height when adding assets"
This makes the + click target hard to hit multiple times in a row. The panel also seems to have no max height, which I think is wrong.

[2015-08-21 01:14] iwehrman opened #2153 "Export assets are given "@nullx" suffix"
Click the Export + button a few times and you start getting an `@nullx` suffix after running out of other suffixes like `@1x`, `@2x`, etc.

[2015-08-21 01:16] iwehrman commented on #2152
More concretely, the panel should not shrink when deleting assets. I might reasonably want to click the trashcan a few times to delete a bunch of assets, but I can't do that easily when the list moves around as I delete assets.

(This is the same reason that chrome tabs hold still as you close them for a few seconds before resizing themselves. If you've never noticed that before, you should try it

[2015-08-21 01:17] iwehrman commented on #2152
Also, I think this panel should have a relatively modest fixed height. When expanded, it ought to have height enough to see ~5 assets, and never grow taller than that. If you wanna make 100 different assets for one layer, the scrollbar will do ya just fine.

[2015-08-21 01:17] iwehrman commented on #2152
CC @placegraphichere to slap down my armchair design tendencies.

[2015-08-21 01:25] tiburbage commented on #2150
When you say "hold an arrow key down", do you mean as opposed to a single tap? I'm just giving it a single keydown/up, but I think it gets worse if I hold it down. The processing time I cited is on Windows. On my MacBook Pro, it is faster but still a long spin.

[2015-08-21 14:37] designedbyscience commented on #2152
I agree with your observations... Since it is not difficult to add max-heights, I wanted to have a version to point to where we just let them resize without restriction. The other experiments in this vein would be 1) All panels have a max (or possibly fixed) height 2) Let my people scroll (the entire column)

[2015-08-21 15:09] iwehrman opened #2156 "Unhandled exception clicking toolbar button during startup"
![image](https://cloud.githubusercontent.com/assets/1075154/9411607/d4d552f8-47db-11e5-8617-bb96805f05fd.png)

This is happening during `afterStartup`. It's not clear why we haven't selected a tool by this point.

[2015-08-21 15:13] iwehrman opened #2157 "Guide zone blinks once on every mouse enter from UI"
http://cloud.wehrman.org/0H1C1n3y3H2q

[2015-08-21 15:16] iwehrman commented on #2130
I strongly disagree that this is a low priority bug. This really makes the UI feel bad.

[2015-08-21 15:16] iwehrman commented on #2157
Closing as a dupe of #2130.

[2015-08-21 15:16] #2157 closed

[2015-08-21 15:45] iwehrman commented on #1880
I spent some time understanding this yesterday. It's a race condition that starts with the fact that even after we get a valid `updatedTextProperties` event with the correctly color, the `textKey` property of the layer descriptor has invalid style information. I have a workaround in mind though...

[2015-08-21 15:52] volfied commented on #2119
I'm getting close...

[2015-08-21 16:12] volfied commented on #2119
Easiest way to repro is to click on a guide intersecting with an artboard border. Basically, anywhere where we send clicks straight down to Photoshop.

[2015-08-21 16:17] shaoshing commented on #2041
This is the same issue for search dialog when placing a graphic asset.

[2015-08-21 16:19] shaoshing commented on #1983
Hi @chadrolfs , this is implemented and merged into master. note that you have to click on the preview to apply an asset.

[2015-08-21 16:27] volfied commented on #2119
Will be fixed by playground-dev-mac#495

[2015-08-21 18:26] volfied commented on #1589
I got it! We need to turn off auto expand during swap

[2015-08-21 20:49] volfied commented on #2144
Will be fixed by #2158

[2015-08-21 20:52] volfied commented on #1589
@chadrolfs the core of this issue (back to back swap not being a no-op) was fixed by #1796. The AB swap issue is #1532 so I vote we close this one or hte other.

[2015-08-21 20:54] iwehrman commented on #2090
I can't repro on either staging or dev, so I'm sending this back to @chadrolfs.

[2015-08-21 21:01] zoranagee opened #2159 "Cannot double-click to select all for color values (commas)"
Select in the color field for Fill, Stroke, or Shadows - click once to have single insertion and now double-click to select all - not able to; only selects up to commas

[2015-08-21 21:03] zoranagee opened #2160 "Zoom: Toggle stroke visibility results in zoom level reverting to default"
Zoom in
Create a shape
Add a stroke
toggle stroke visibility
zoom reverts to default

[2015-08-21 21:53] chadrolfs opened #2162 "Guide actions are not captured in undo/redo history"
new doc
drag out a guide
cmd/ctrl + z

Result: nada

[2015-08-21 21:56] chadrolfs opened #2163 "CC Lib: missing write locks."
`Action libraries.renameLibrary does not specify any write locks. All locks will be required for execution.`

[2015-08-21 21:57] #2128 closed

[2015-08-21 22:09] volfied commented on #2162
It's because we don't update the menus when guides are created/moved, so Undo menu item was disabled. Fixing.

[2015-08-21 22:15] volfied commented on #2160
I can not repro this.

[2015-08-21 22:16] DivyaPrabhakar commented on #1992
@iwehrman @placegraphichere I got Seth's branch https://github.com/adobe-photoshop/spaces-design/tree/sewalker/search-tweaks and looked at the changes. I agree it an improvement and definitely fixes the contrast issue between varying levels of information in the search tool. I think the color differences Seth made are subtle, noticeable, and clear. My three remaining ideas about search are:

1. Ma

[2015-08-21 22:24] ktaki opened #2165 "No Generator, No DS"
DS should still work without generator plug-in working. (DS in today's mainline, PG staging, and PG-dev builds are all dead with master branch on Windows because Generator is not working.)

GET file:///C:/Users/ktaki/Documents/GitHub/playground/spaces-design/bower_components/generator-connection/main.js net::ERR_FILE_NOT_FOUND
require.js:165 Uncaught Error: Script error for: generator-connection/m

[2015-08-21 22:53] mcilroyc commented on #2165
My hunch is that this may be unrelated to Generator not working.  @chadrolfs could it be that bower install was not run before pushing the HTML?  (maybe that's not even possible).  It looks like a missing dependency on generator-connection, which is a dep on the design-space side (not the generator plugin side)

[2015-08-21 22:59] ktaki commented on #2165
Sorry. You are right. User error. Closing.

[2015-08-21 22:59] #2165 closed

[2015-08-21 23:01] ktaki commented on #2149
Verified the fix.

[2015-08-21 23:01] #2149 closed

[2015-08-21 23:02] ktaki commented on #1989
Verified the fix.

[2015-08-21 23:02] #1989 closed

[2015-08-21 23:02] ktaki commented on #1984
Verified the fix.

[2015-08-21 23:02] #1984 closed

[2015-08-21 23:23] ktaki opened #2168 "Hard to grab transformation handles in skew or distort mode"
With a shape layer press Cmd (mac) or Ctrl (win) to be in skew/distort mode. Drag transformation handles. The first time works, but subsequent tries may or may not work. This is because as soon as mouse is released, the bounding box is redrawn to be a rectangle in DS while the transformation mode continues in Ps and the transformation bounding box returned from Ps may be different.

[2015-08-21 23:41] chadrolfs opened #2169 "Zoom out after creating a new doc shifts to the right under panels"
https://www.dropbox.com/s/6wmo0kui308kwch/ZoomOut.mov?dl=0

[2015-08-21 23:42] volfied commented on #2130
This is hairy... externalMouseMove isn't always sending us the correct coordinates. I'll work with Fitz to figure out why.

[2015-08-21 23:54] chadrolfs opened #2170 "Guides: unable to move guided that are created under edge highlight"
new doc
mouse over work area edge to reveal blue highlight and click
pan doc so that guide is not under edge and try to move

Result: won't move

[2015-08-22 00:46] DivyaPrabhakar commented on #2038
This was discussed at the review, the consensus was that we are going to wait for our CSS to be cleaned up and more stable so that changing the width is simply the change of a number. The CSS will continue to improve but meanwhile, we need to get user feedback about how they feel about the widths and then depending on that we will use media queries and adjust the width accordingly. @placegraphiche

[2015-08-22 00:49] ktaki opened #2171 "Series of errors resulted by creating and moving horizontal guides"
Create a few horizontal guide at the top or bottom. Try moving them to the center. Cannot recover from the errors.

Action guides.setGuide failed: TypeError: Cannot read property 'orientation' of undefined
Uncaught TypeError: Cannot read property 'orientation' of undefined
Action tools.beforeStartup failed: Error: Unknown policy ID: 4
Uncaught TypeError: Cannot read property 'left' of null
Action

[2015-08-22 00:51] ktaki opened #2172 "Double clicking guides will display preferences"
Shouldn't it be suppressed?

[2015-08-22 01:57] DivyaPrabhakar commented on #2069
EOD Friday, August 21 update

Our policy events are propagating correctly on click or SHIFT + CMD + click. In both of those cases, the selection tool works perfectly no matter where on the layer you click.'

It gets messed up within the red bounding box when only SHIFT + click are pressed. For some reason, the SHIFT only is not propagating events correctly (I don't want to say it nullifies it beca

[2015-08-22 03:52] iwehrman commented on #2069
![gifs](http://cdn.meme.am/instances2/500x/1502228.jpg)

[2015-08-22 14:47] iwehrman opened #2173 "CC Libraries connection failure"
On my machine this morning, the connection failures are repeatable and don't seem to be resolved by restarting the Creative Cloud app. It could be due to this:
![image](https://cloud.githubusercontent.com/assets/1075154/9424438/8a353850-48a1-11e5-9ecc-6696a0a74ae5.png)

It's expecting an object with a `port`, but instead it's just getting a string. I'm using the 20150821.play.1473 staging build.

[2015-08-22 17:39] iwehrman commented on #2135
Fixed by #2139.

[2015-08-22 17:39] #2135 closed

[2015-08-22 17:40] iwehrman commented on #2023
Fixed by #2115.

[2015-08-22 17:40] #2023 closed

[2015-08-22 17:41] iwehrman commented on #2019
Current state of affairs:
![](https://s3.amazonaws.com/f.cl.ly/items/1s292E1a2q183g0y2q47/Image%202015-08-22%20at%2010.41.13%20AM.png)

[2015-08-22 17:44] iwehrman commented on #2064
Fixed by something or other.

[2015-08-22 17:44] #2064 closed

[2015-08-22 17:46] iwehrman commented on #1672
Fixed by @designedbyscience.

[2015-08-22 17:46] #1672 closed

[2015-08-22 17:47] iwehrman commented on #1976
For whatever reason, the titlebar color has changed, so this is no longer an issue.

[2015-08-22 17:47] #1976 closed

[2015-08-22 17:49] iwehrman commented on #1950
I give up.

[2015-08-22 17:49] #1950 closed

[2015-08-22 17:49] iwehrman commented on #853
We no longer use the disabled cursor.

[2015-08-22 17:49] #853 closed

[2015-08-22 17:52] iwehrman commented on #431
Fixed by #2115!!

[2015-08-22 17:52] #431 closed

[2015-08-22 17:53] iwehrman commented on #2152
I think for M3 we should do something closer to 1 than 2. CC @placegraphichere for a second opinion.

[2015-08-22 17:55] iwehrman commented on #2079
![image](https://cloud.githubusercontent.com/assets/1075154/9425199/480c8b66-48bc-11e5-8a6b-07eae3b3b5fe.png)

[2015-08-22 17:55] iwehrman commented on #2053
Fixed by something or other.

[2015-08-22 17:55] #2053 closed

[2015-08-22 17:57] iwehrman commented on #1441
This may still be true, but it's no longer visible as of #2115.
![image](https://cloud.githubusercontent.com/assets/1075154/9425204/82516530-48bc-11e5-9d48-ad68f3b82779.png)

[2015-08-22 17:57] #1441 closed

[2015-08-22 17:58] iwehrman opened #2174 "Spell checker should be disabled?"
![image](https://cloud.githubusercontent.com/assets/1075154/9425207/94f3f45a-48bc-11e5-8639-d5c71ceaded3.png)

Apparently this may be possible in HTML without any core changes: http://stackoverflow.com/a/4524179

[2015-08-22 18:11] iwehrman opened #2175 "Better support for sampling mixed text layers"
Text layers with mixed style ranges can't currently be sampled. We should at least support sampling those properties that are consistent throughout the text layer. For example, if the colors are different but everything else is the same, we should be able to sample everything but the color.

For context see #2146 and #2137.

[2015-08-22 18:11] iwehrman commented on #2137
FBNC to @chadrolfs. See #2175 for future work.

[2015-08-22 23:40] iwehrman commented on #1532
FBNC again to @chadrolfs. This time for real.

[2015-08-22 23:42] iwehrman commented on #2162
FBNC to @chadrolfs.

[2015-08-23 00:38] iwehrman commented on #2112
Bumping this to high priority because it really makes demoing hard. Oh, and did I mention I need to demo to the big boss this week? :grimacing:

[2015-08-23 11:36] volfied commented on #2171
When you create them, are you just clicking in the area, or are you dragging them to the center after creation?

At what point does the error happen? Is it after creating bunch of them, and the first move, or after couple moves?

I need more details, and it would help a lot more if you posted the whole log instead of just the collected error lines.

[2015-08-23 11:42] volfied commented on #2173
This one's on me, during integration, I mistakenly removed this line from the C++ function getting the descriptor. I've re-added it in staging, so it should be good to go after CL 1037750

[2015-08-23 12:44] volfied commented on #2172
Will be fixed in Jenkins pg-dev-mac#507

[2015-08-23 12:46] volfied commented on #2069
@DivyaPrabhakar You've figured it out already... but I'll answer any and all questions you have!

[2015-08-23 14:43] iwehrman opened #2177 "Search not dismissed after placing CC Libraries graphic"
1. Search for a graphic in one of your CC Libraries
2. Press enter

Result: the object is placed on the canvas in the placement modal tool state but the search bar is not dismissed. It seems to be waiting for the underlying operation to complete before closing. Instead it should close immediately.

[2015-08-23 15:18] iwehrman commented on #2177
This is partially due to a really terrible core issue in which CEF goes completely dormant while we're in the placement modal tool state.

[2015-08-23 16:17] iwehrman commented on #2177
In more detail, here is what's happening: when the library search result is selected, a dialog-close action is executed and a libraries place-graphic action is executed. Currently, the latter does not attempt to wait for the former, but fixing that doesn't help because we have no good way of _fully_ waiting for the dialog-close action to finish. The dialog-close action can block until the dialog-s

[2015-08-23 17:49] iwehrman commented on #2160
I also cannot repro this. @zoranagee, if you see this again please re-open!

[2015-08-23 17:53] iwehrman opened #2179 "Selected layer should always be highlighted on canvas"
We'd like to make it possible to work without the layers panel open. But, we only highlight the selected layer(s) on-canvas when the selection tool is active. This makes it challenging to use just the style panel with any other tool, e.g., the sampler. It's also a confusing if you try to create a rectangle and then change it's properties because you can't visually confirm that the rectangle you cr

[2015-08-23 17:53] iwehrman commented on #2179
Any ideas, @placegraphichere?

[2015-08-23 20:45] zoranagee commented on #2160
Just sent a video to Barkin and Ian - I'll reopen if they can repro (or if I can repro again in Sprint 28)

[2015-08-23 21:27] iwehrman commented on #2160
Back over to @chadrolfs to try to repro. (I'll forward you the video.)

[2015-08-24 00:32] iwehrman commented on #2136
Fixed by #2166.

[2015-08-24 00:32] #2136 closed

[2015-08-24 00:47] iwehrman opened #2180 "Double-clicking cloud-linked smart object does not update UI"
Double clicking a cloud-linked smart object to open it does not seem to be updating the UI at all currently.  Regular linked smart objects seem to work correctly.

[2015-08-24 00:49] iwehrman commented on #2180
Er, I guess this is a dupe of #1996.

[2015-08-24 00:49] #2180 closed

[2015-08-24 00:50] iwehrman commented on #1996
@shaoshing @volfied: can you please narrow down the issue and file a high-severity Watson bug for this?

[2015-08-24 01:41] #1857 closed

[2015-08-24 03:29] placegraphichere commented on #2026
looks to be fixed in master

[2015-08-24 03:29] #2026 closed

[2015-08-24 15:15] iwehrman commented on #1914
Fixed by #2142.

[2015-08-24 15:15] #1914 closed

[2015-08-24 16:37] zoranagee opened #2183 "TAB from layer name field should jump to the next layer name"
Currently TAB will jump to the Libraries menu. Renaming layers with TAB was an extremely useful JDI we added in standard - would hate to lose this one in DS.

[2015-08-24 16:41] iwehrman commented on #2183
What do you mean by "renaming layers with Tab"? Tab with the select tool active has previously, and seems to currently, advance the selection to the next sibling. Can you be more specific?

[2015-08-24 16:42] zoranagee commented on #2183
Double-click a layer name to rename that layer, before you hit enter, hit TAB. In PS standard, this will activate the next layer name field (to rename).

[2015-08-24 16:47] iwehrman commented on #2183
OK. I don't believe we've ever done that in DS. I also didn't know about it in standard PS until now...

[2015-08-24 17:48] iwehrman commented on #2183
@DivyaPrabhakar: wanna take a crack at this?

[2015-08-24 18:00] ktaki commented on #2171
It seems that the errors happen when clicking in the blue highlighted area at the top or bottom, and then try to move a guide created in the area on to the artboard. I will send a error log via email.

[2015-08-24 18:05] ktaki commented on #2172
It has been suppressed for horizontal guides, but double clicking vertical guides still show prefs.

[2015-08-24 18:07] zoranagee opened #2184 "Performance (perception): Document center jumps when opening file"
1 - start in the null doc space
2 - open a file

Notice that initially it opens to a certain position and then depending on what panels you have open, the file jumps to a different position. This happens regardless if I have 1 column or 2 column as the default state. File always jumps a little. Adds to the clunkiness feel upon first launch.

(animated gif of this experience)
![documentshift](https

[2015-08-24 18:26] DivyaPrabhakar commented on #2183
@iwehrman Please and thank you.

[2015-08-24 18:40] iwehrman commented on #2184
I think this is a dupe of #1999. @shaoshing and @jsbache and I are going to discuss this and related issues tomorrow.

[2015-08-24 18:40] zoranagee commented on #2183
We have a bunch of really useful shortcuts that would be great polish additions. Some of them we added most recently and they were highly requested JDI's.

For example
CMD click on layer expand to collapse/expand only the top level
OPT click on a layer expand icon to collpase/expand all

I could dig up a couple of the other really high value ones.

Z.

From: Divya Prabhakar <notifications@github.c

[2015-08-24 18:43] #2162 closed

[2015-08-24 19:09] volfied commented on #2112
@chadrolfs To reproduce this bug, create two artboards (make sure artboard 2 is higher than artboard 1 in the layers panel), put a BIG rectangle in artboard 2, that also overlaps artboard 1.
Then put a small rectangle in artboard 1, and try to highlight it, big rectangle in artboard 2 will steal the highlight, after this fix, it will not highlight because we're not hovering over it in it's own art

[2015-08-24 19:10] volfied commented on #2113
@chadrolfs Similar to #2112, if a layer is extending over the edges of an artboard, and is invisible in that location, clicking it should no longer select it outside the artboard.

[2015-08-24 19:10] volfied commented on #2172
Oops, turns out horizontal and vertical guide move tools are separate. Sorry!

Should be fixed in the newer Jenkins build.

[2015-08-24 19:23] chadrolfs commented on #2183
We talked about this back with TR.  I think this is the desired intended behavior:
- While not in layer rename mode, Tab will just cycle focus through layers (based on hierarchy, i.e. stays at same nested level).
- While in editing the layer name, Tab will jump to the next layer (at the same hierarchy level) and enter rename mode.  (this should include all layer types whether locked/visible or not

[2015-08-24 20:22] chadrolfs commented on #2172
Looks like jenkins dev builds 508 and later.

[2015-08-24 20:24] chadrolfs commented on #2160
Fixed in current builds

[2015-08-24 20:24] #2160 closed

[2015-08-24 20:35] #2119 closed

[2015-08-24 20:36] chadrolfs opened #2185 "Single click on the edge of an Artboard causes add artboard overlay to blink"

[2015-08-24 20:41] chadrolfs opened #2187 "Takes 2 clicks to select/move an artboard if another layer is selected"
new AB doc, drag out some shapes, Select tool (V), click and move shapes (expected workflow).  With a shape selected, click on AB title and drag

Result: first click drops selections.  it takes a second click to select and move the AB

[2015-08-24 20:56] ktaki commented on #2172
Thanks Chad. Verified the fix.

[2015-08-24 20:56] #2172 closed

[2015-08-24 20:57] zoranagee opened #2188 "menu.psd open completely black in DS"
1. in PS standard open menu.psd (located in my Transfer on sjshare under "DesignSpace")
2 - jump to DS

RESULT: file opens black (even after jumping back to PS standard). If you open the file directly from DS, it opens fine

* This file could've been created with prerelease version but if I re-save in current sprint, I still see the problem.

animated gif of issue
![black](https://cloud.githubuser

[2015-08-24 21:02] zoranagee commented on #2188
Ugh - missed the screenshot of this in DS; now I can't repro. Can anyone else?

[2015-08-24 21:03] chadrolfs opened #2189 "Transforming a shape so that it ends up outside AB results in uncaught errors"
AB doc, drag out a rect shape, move the shape so that it extends mostly outside AB (but a part remains inside so it remains nested).  Click and drag an edge handle so that it snaps to the outside edge of the AB (putting the shape outside AB), click that same handle again and drag further away from AB edge.

Result:
`Uncaught TypeError: Cannot read property 'left' of null`

[2015-08-24 21:12] zoranagee opened #2190 "Shortcuts that are essential for Designers"
Useful Designer-focused layer shortcuts to have in DS:

Would be weird to not have:
- TAB for renaming layers
- CMD click layer expand to collapse/expand top level group (AB)
- OPT click layer expand to collapse/expand everything (all groups and AB)
- CMD + J to duplicate layers via copy
- OPT + drag layer or group to duplicate
- CMD + , for layer visbility

Next level:
- Shift + or - to change an

[2015-08-24 21:13] zoranagee commented on #2190
Would love to hear what @placegraphichere thinks of these - a lot of these we added specifically as TOP Designer requests

[2015-08-24 21:16] zoranagee commented on #2183
Here - captured all the shortcuts I think we should have in #2190

[2015-08-24 21:18] placegraphichere commented on #2190
These all sound correct, although I would place above these the ability to move a selected layer up and down the tree with CMD+[ and CMD+]. With the ability to send the item to the top of the parent group with CMD+SHIFT+[ and CMD+SHIFT+]. There is already a trello card for this.

[2015-08-24 21:19] ktaki opened #2191 "Fails to enable Generator"
Clear the preferences, start Ps, switch to DS.

WebSocket connection to 'ws://localhost:59596/' failed: Error in connection establishment: net::ERR_CONNECTION_REFUSED
export.js:451 Export Service failed to initialize correctly because: Error: ExportService.init explicitly returned: Error: Domain 'generator-spaces' does not exist, nor was a domain path provided
fluxcontroller.js:548 Finished action

[2015-08-24 21:20] iwehrman commented on #2079
FBNC to @ktaki.

[2015-08-24 21:22] chadrolfs opened #2192 "While an artboard child is selected, shapes drawn outside artboard stay in the artboard group and are masked out"
cmd/ctrl + n
r (rect tool) and drag out a shape inside AB
cmd/ctrl + g
click on Rectangle 1 layer
click and drag out a rect outside AB bounds

Result: shape is created outside AB but is nested incorrectly within it above the previously focused layer.

[2015-08-24 21:22] chadrolfs commented on #2192
related to #1937

[2015-08-24 21:26] iwehrman commented on #2191
I just merged #2154 which may address this. Can you verify?

[2015-08-24 21:28] mcilroyc commented on #2191
I think that PR might help ... but I also think that a in-the-works PR which supports dynamic ports might provide even more stability.  So, I'll leave this bug open.  I've *might* still have seen some intermittent  occurrences of the above-referenced error.

[2015-08-24 21:32] placegraphichere commented on #1905
I am coming across an issue where I add an artboard and it will often times freeze the UI completely. I am able to return to classic, but am not able to return to Ds. I'm on dev 507.

[2015-08-24 21:35] volfied commented on #2069
Over to @chadrolfs to confirm!

[2015-08-24 21:38] #2113 closed

[2015-08-24 21:38] #2112 closed

[2015-08-24 21:41] #2106 closed

[2015-08-24 21:41] ktaki commented on #2079
Verified the fix.

[2015-08-24 21:41] #2079 closed

[2015-08-24 21:50] DivyaPrabhakar commented on #2000
@iwehrman @placegraphichere In line with #2108, we are moving away from hairlines and I just pulled the most recent version of master and all the hairlines @iwehrman is referencing have been removed already. The last one, the libraries panel, is also getting removed once #2151 gets merged. Back to you Ian to close because I think this bug been taken care of now.

[2015-08-24 21:55] davealonzo commented on #2190
Also, toggle shortcuts for locking/unlocking and hiding/showing layers:
CMD+/ (lock/unlock layers)
CMD+, (hide/show layers)

Here's a Trello card I added a few weeks ago that captures these as well as the arrange related ones that Seth mentions above. https://trello.com/c/iRojbdFB

[2015-08-24 21:57] placegraphichere commented on #1992
these sound like wonderful additions. For:
A) we are on a 8px grid. So for rems, anything 1.8, 2.4, 3.2 would be great for size.
B) I think we're doing 4 spaces. Not sure what the right amount needs to be. It'd also be interesting to right-align the secondary info, but I don't think that's a matter for this issue. And may take more noodling than this issue requires.
C)  Finding a nice autocomplete

[2015-08-24 22:21] zoranagee opened #2193 "Redraw issue when moving from MBP to cinema display"
1. launch PS on MBP
2. drag PS window over to cinema display that is connected
3. expand to fill screen
4. click the jump to DS button
![screen shot 2015-08-24 at 3 16 47 pm 2](https://cloud.githubusercontent.com/assets/7904855/9454040/d9a25994-4a73-11e5-8a54-3b37e285e003.png)

[2015-08-24 22:22] iwehrman commented on #2193
@chadrolfs @ktaki @tiburbage Can somebody try to repro this and then file a Watson bug? This is definitely a core issue.

[2015-08-24 22:24] placegraphichere opened #2194 "Zoom out with nothing selected moves the canvas oddly"
- Center a document artboard
- select none
- zoom out
- artboard will shift up and to the right oddly

https://www.dropbox.com/s/hkemdvftzffapgn/zoom-out-centers-things-strangely.mov?dl=0

[2015-08-24 22:29] ktaki commented on #2193
Yes, I can repro this. Will open a watson bug.

[2015-08-24 22:35] chadrolfs commented on #2194
this may be a dupe of #2169

[2015-08-24 22:37] placegraphichere commented on #1905
I've bower updated, npm updated, updated both my repos and pulled down dev 511 and still hit this issue on creation of a second artboard with the file menu

[2015-08-24 22:38] DivyaPrabhakar commented on #1905
I can look into this in about an hour or so and see if I can find the problem/repro it

[2015-08-24 22:53] iwehrman opened #2196 "On-canvas UI should be defined in rems instead of pixels"
So that our on-canvas UI scales along with the rest of the UI based on screen size, we should define our on-canvas UI in rems instead of pixels. (We can observe the font-size at runtime and use that for a rems-to-pixels conversion for compatibility with DOM APIs if necessary.)

Compare the images below, which show the same UI simulated with different screen sizes:
![image](https://cloud.githubuser

[2015-08-24 22:54] ktaki commented on #2193
https://watsonexp.corp.adobe.com/#bug=4042399.

Between the step 1 and 2 in the description above, you need to switch to DS at least once and come back to Ps. DS seems to remember the application frame dimension and still stick to it when moved to bigger screen.

[2015-08-24 23:02] chadrolfs commented on #2114
should be update with latest push to P4 team sandbox, CL 1037970

[2015-08-24 23:11] #2090 closed

[2015-08-24 23:19] #2069 closed

[2015-08-24 23:29] ktaki commented on #2193
It turned out that the issue was reported as
https://watsonexp.corp.adobe.com/#bug=4018312
Updated the bug with my comment.

[2015-08-24 23:44] #1987 closed

[2015-08-24 23:48] chadrolfs opened #2197 "CC Lib: creating a new library should enter name field immediately upon creation and hide previous library assets"
click on Libraries drop down: Create New Library
start typing

Result: nothing.
Expect: 1.) user should immediately have focus in Library Name field with that text selected so user can name their library 2.) assets from current library should be hidden until user clicks Create (dumping them into an empty library) or Cancel (reverting to previous library and assets.

[2015-08-24 23:51] chadrolfs opened #2199 "CC Lib: deleted libraries still show on other systems causing errors and unexpected results"
create a library with assets on one computer
delete it from another computer

Result: even after sync, it still shows in library drop down, console complains about missing .png.  Switching to classic PS shows the library gone, DS still shows it.

[2015-08-24 23:59] #2042 closed

[2015-08-25 00:01] #2037 closed

[2015-08-25 00:14] iwehrman opened #2201 "Stale empty layer remains after placing cloud-linked smart object in new artboard"
1. Create a new artboard document
2. Drag a graphic out of your CC library into the empty artboard.

Result:
The layers panel shows two layers: one for the new CLSO, and one for the original empty child layer. This is wrong because the original empty child layer is deleted in the PS document when adding the CLSO layer, so the layers panel is inconsistent with the PS document model.

Expected:
The

[2015-08-25 00:14] iwehrman commented on #2201
Calling all `layers.addLayers` fans, CC @mcilroyc @volfied.

[2015-08-25 01:56] placegraphichere commented on #2194
Closing as dupe

[2015-08-25 01:56] #2194 closed

[2015-08-25 01:56] placegraphichere commented on #2169
Additional
- Center a document artboard
- select none
- zoom out
-  artboard will shift up and to the right oddly

https://www.dropbox.com/s/hkemdvftzffapgn/zoom-out-centers-things-strangely.mov?dl=0

[2015-08-25 03:11] DivyaPrabhakar commented on #2190
Assigned this to myself because I will be working on #2183 and can work on making sure all the shortcuts are done too. Any objections let me know.

[2015-08-25 17:00] jsbache commented on #2177
The problem is that while the insertion grid is up we are still inside the play command of the original place  command (THandleDroppedLibraryAssetsCommand).
While executing our own Play commands, we suppress cef-timers & ignore further Play requests.
What is the preferred behavior?

[2015-08-25 17:07] iwehrman commented on #2147
Fixed by #2205.

[2015-08-25 17:07] #2147 closed

[2015-08-25 17:32] chadrolfs opened #2206 "Zoom shortcuts don't function correctly"
cmd/ctrl + n
drag out some rect shapes inside AB
layer > create new artboard
cmd/ctr + 0 (fit in window)

Result: only artboard 1 is set to fit zoom
even if you add shapes to artboard 2 and then hit cmd/ctrl + 0 again, it zooms to fit only artboard 1

[2015-08-25 18:02] chadrolfs opened #2207 "Previously saved docs with shapes open with Stroke: mixed."
attempting to change stroke results in failure and `Unhandled rejection Error: Unable to set stroke properties of layer: inner shadow`

[2015-08-25 18:02] chadrolfs commented on #2207
let me know if you need a test file.

[2015-08-25 18:07] chadrolfs commented on #2207
This occurs on release so it is not a result of the new color picker design

[2015-08-25 18:07] DivyaPrabhakar commented on #1905
@placegraphichere I assigned this to myself because I have talked to Jesper about it and I think the problem is on our side, therefore I am going to try and isolate it. In the meantime, can you try to repro this problem but DO NOT deselect the new artboard after you have created it, just keep creating artboards. On my end, it is able to do this without problem.

[2015-08-25 18:17] chadrolfs opened #2208 "Artboards created via Layers menu don't correlate to any preset and are bigger than default"
cmd/ctrl + n (creates a new doc with iPhone 6 artboard as default)
Layer > Create New Artboard

Result: custom size artboard is created (1080px x 1960 px)

[2015-08-25 18:19] chadrolfs opened #2209 "Coordinates for new artboards are not correct"
cmd/ctrl + n
cmd/ctrl + - to zoom out
select Artboard 1
click the plus sign to the left

Result: Artboard 2 is created but coordinates and plus overlay is not correct

[2015-08-25 18:20] chadrolfs commented on #2209
this is on current staging build with sprint 29.3 release html:

![screen shot 2015-08-25 at 11 22 02 am](https://cloud.githubusercontent.com/assets/8442631/9475399/512c93c4-4b1b-11e5-8fe8-de761bff094b.png)

[2015-08-25 18:56] iwehrman opened #2210 "Pivot point should be removed in smart-object placement UI"
The cross-hair below:
![image](https://cloud.githubusercontent.com/assets/1075154/9476169/30ef95e8-4b20-11e5-95b5-f9479d67fed6.png)

We already did this for transform, but I guess we need to do it again for smart-object placement.

[2015-08-25 19:02] iwehrman opened #2211 "Search should only return libraries results if there is an open doc"
Trying to do anything with the results yields an unhandled exception.

[2015-08-25 19:11] placegraphichere commented on #2211
is this a technical limitation? There may be reasons to open library items with an empty doc state.

[2015-08-25 19:13] davealonzo opened #2212 "Swapping artboards should also swap position in the Layers panel"
Swap two artboards using the "swap position" tool in the properties panel.

Result: Artboards (and contents) swap successfully as expected on canvas, but not in the layers panel.

This can potentially be confusing when trying to export artboards in a certain order based on how they  are laid out on the canvas with the wrong correlating layer position.

[2015-08-25 19:24] iwehrman opened #2213 "Window maximizing always returns to primary display"
1. Launch DS on main display
2. Move it to secondary display
3. Press the green headlight to maximize the window

Result:
DS becomes maximized on the main display.

[2015-08-25 19:24] iwehrman commented on #2213
Needs watson issue.

[2015-08-25 19:43] volfied commented on #2170
Can you try to repro this with policy frames shown in a non-compiled build? It feels like a timing issue where policies are having a hard time catching up.

[2015-08-25 19:43] volfied commented on #2170
That's the only time I can repro this, but I want to make sure I got the steps right.

[2015-08-25 19:54] jsbache commented on #2213
@iwehrman: I can't repro this. Remember to include your monitor configuration. This will be an Owl issue, so you should also be able to repro when you are in standard mode?

[2015-08-25 20:09] iwehrman opened #2214 "After switching displays, guide zones are the wrong size"
1. Launch on monitor A
2. Move window to monitor B
3. Drag out a guide:

![image](https://cloud.githubusercontent.com/assets/1075154/9478034/6a37a692-4b2a-11e5-9ea4-39b50fc79d45.png)

[2015-08-25 20:15] iwehrman commented on #2214
We should be able to use the new `displayConfigurationChanged` OS event to address this.

[2015-08-25 20:15] volfied commented on #2212
Swap position swaps layers in X and Y dimensions. Layers panel lists them in Z-order. Mixing the dimensions together will not produce nice results, and is not a well defined behavior. Layers are never meant to be ordered in some way in the layers panel tied to their position on canvas.

This is not a bug.

[2015-08-25 20:16] iwehrman opened #2215 "Layer > Create New Artboard needs a shortcut"
If we're really worried about optimizing artboard creation, it seems like this would be useful.

[2015-08-25 20:17] DivyaPrabhakar commented on #2215
As someone that has been testing Create New Artboard over and over again, I second this motion.

[2015-08-25 23:12] ktaki opened #2219 "Names truncated in the Libraries panel"
Names with all capital letters or Kanji characters are truncated prematurely.

<img width="302" alt="screen shot 2015-08-25 at 3 40 31 pm" src="https://cloud.githubusercontent.com/assets/2029597/9481676/2f841bd6-4b41-11e5-8546-8a21410dbd76.png">

[2015-08-25 23:43] DivyaPrabhakar commented on #1992
@placegraphichere just put in a PR with all the changes needed for this issue to be solved When it gets reviewed and merged, he can close it or send it back to Ian to close.

[2015-08-25 23:45] DivyaPrabhakar commented on #2038
Assigning this to @placegraphichere for now because he is making most of the styling changes and knows best about user feedback regarding the width of the panels.

[2015-08-25 23:53] placegraphichere commented on #1879
I don't think we should use this. We are moving keyboard shortcuts to a more streamlined workflows. So supporting older legacy shortcuts should not be our concern.

CMD+h should follow the OS standard to hide the app. Preferably, if text being edited, that text should exit text editing mode and the application should hide.

If that's not possible, then when in text edit mode, the command should si

[2015-08-25 23:57] placegraphichere commented on #1380
we should attempt at all times to respect a users color model choice for each input. That applies to undo as well. RGB should stay RGB, HEX should stay HEX etc. When undone, the input should remember the previous value in the color model the user wrote it in.

[2015-08-26 00:00] placegraphichere commented on #1491
@DivyaPrabhakar you may want to reference this one as well with keyboard shortcuts

[2015-08-26 00:01] placegraphichere commented on #1492
irrelevant with new designs, closing

[2015-08-26 00:01] #1492 closed

[2015-08-26 00:06] placegraphichere commented on #1524
CMD+c needs to copy the layer and then delete the layer. If we can do that (without losing the layer info we need in order to later paste) then we should attempt to do it.

If it is not possible at the moment, we should remove Cut from the file menu as it implies we can do it until such time its possible.

[2015-08-26 00:09] placegraphichere commented on #1525
this will most likely be addressed by new designs. But please reopen if necessary @ktaki

[2015-08-26 00:09] #1525 closed

[2015-08-26 00:16] placegraphichere commented on #1766
agree with @chadrolfs. It should deselect. Ai and Sketch have slightly different experiences with this, but both deselect. Double click the empty area in Sketch will deselect and attempt to select what is behind the group (deselects if nothing is there). In Ai, their selection model is more accurate, and a single click will select whatever is behind (or deselect if nothing is there).

[2015-08-26 00:29] iwehrman commented on #2179
An alternative might be to include the name(s) of the selected layer(s) in the Style panel.

[2015-08-26 00:34] iwehrman commented on #2190
This is a great list, but a bug it ain't. Each of these feature requests (at least the ones that aren't already implemented) need to be prioritized relative to other work. This is purely a product management task, so I'm assigning this back to @zoranagee. Please head to the Trello board, make cards for the features that aren't already implemented, and prioritize them along with all the other work

[2015-08-26 00:36] iwehrman commented on #2130
FBNC to @chadrolfs. Nice work, @volfied.

[2015-08-26 00:39] iwehrman commented on #1992
Fixed by #2221. Nice work @placegraphichere and @DivyaPrabhakar!

[2015-08-26 00:39] #1992 closed

[2015-08-26 00:40] iwehrman commented on #1992
![top gun](http://c2.thejournal.ie/media/2014/05/high-five-5.gif)

[2015-08-26 01:46] davealonzo commented on #2212
But doesn't export-all currently determine the order of the list it generates in the modal based on how AB layers are ordered in the Layers panel? @mcilroyc Can you verify this?

The current design for the "add prefix" feature in export-all is dependent on generating the intended ordered list of ABs. So, It would be great if the export-all list was determined by how users typically order their ABs

[2015-08-26 13:22] iwehrman commented on #2212
I believe the layers in the export dialog are ordered alphanumerically by layer name.

[2015-08-26 13:23] mcilroyc commented on #2212
Yes, *export-all* orders the artboards by index (z-order).

[2015-08-26 15:40] iwehrman commented on #2173
Fixed by @volfied.

[2015-08-26 15:40] #2173 closed

[2015-08-26 15:40] zoranagee commented on #2190
Is it easier to tackle several of these that are related - at once; rather than looking at each individually? I can group them into priority 1, 2 and 3.

[2015-08-26 15:41] iwehrman commented on #2040
If this works on master, then is it really a bug?

[2015-08-26 15:42] iwehrman commented on #2219
Very weird. CC @placegraphichere or @designedbyscience in case they have any ideas about this one.

[2015-08-26 15:44] iwehrman commented on #1927
Fixed by #2081.

[2015-08-26 15:44] #1927 closed

[2015-08-26 15:45] iwehrman commented on #2114
I don't think @tiburbage monitors Github issues assigned to him, so I verified the fix with a recent Jenkins build and am closing this bug.

[2015-08-26 15:45] #2114 closed

[2015-08-26 15:52] zoranagee commented on #2038
I would also be content with a modifier that allows me to swap between Layers or Style in the single-column panel. For example, if you have Layers only showing and you OPT or CMD click on Effects button, it will swap out Layers with the Effects panel - keeping 1-column view without have to to stack and unstack. Also keeps my canvas area free and open.

[2015-08-26 16:05] zoranagee opened #2224 "Create Rect doesn't always work"
Open up the explore mt. hood - edit file (on my transfer in sjshare)
select the BG layer in the Top Nav folder
create a rectangle

RESULT: nothing happens; if I randomly continue to try to draw out it occasionally will draw out a rect

video for this on my transfer as well ("CreateRect.mp4")

[2015-08-26 16:09] ktaki commented on #2171
@volfied Can you look at this next? This is reproducible so often and consider to be a blocker since DS needs to be reset after the errors. Thanks.

[2015-08-26 16:10] volfied commented on #2171
@ktaki Issue is addressed in #2217 yesterday, as soon as it's merged, you can test it.

[2015-08-26 18:08] volfied commented on #2210
@iwehrman Do we want to disable center pivot for all trackers in Design Space? The code that tracks the mouse downs is global while the code that changes the cursor is just for transform tool. This is a risky code change that I'm not so sure about so please let me know if you still want to try it.

[2015-08-26 18:20] volfied commented on #2209
Something is going on with artboards, since Divya is working on other artboard bugs, I'm going to wait on this one a bit.

[2015-08-26 18:22] DivyaPrabhakar commented on #2209
@volfied I am working on this now, will update you within an hour or so either way.

[2015-08-26 19:19] volfied commented on #1947
FBNC to @ktaki

[2015-08-26 20:05] volfied opened #2226 "Distinguish between action options and batchPlay options"
With transactions, especially in shape options, we mix up options that are passed to batchPlay, and our own stores. It would be better to clean this up or prevent overwriting.

Refer to https://github.com/adobe-photoshop/spaces-design/pull/2218#discussion_r38019217

[2015-08-26 20:16] volfied commented on #2127
Hoping this is a dupe of #2130, can you confirm Chad?

[2015-08-26 20:27] volfied commented on #2185
We get a `toolModalStateChanged` notification as soon as you click on the edge (which is driven by Photoshop), and start dragging the artboard. And that is our only chance to turn off add buttons.

User is consciously entering a modal state of dragging artboards, I think it's acceptable to turn off the add artboard overlay at that point, and if they decide not to, bring it back up again.

[2015-08-26 20:37] volfied commented on #2132
This image has a clipping mask, which we are currently not supporting. Closing this bug.

[2015-08-26 20:37] #2132 closed

[2015-08-26 20:45] iwehrman commented on #2210
I'm not aware of any center pivots that we want.

[2015-08-26 20:56] zoranagee commented on #2190
Trello card updated.

[2015-08-26 21:08] iwehrman commented on #1905
In the future, it would have been better to close this when the feature landed. The PR #2227 is really addressing a different issue entirely.

[2015-08-26 21:15] ktaki opened #2228 "Cannot change alpha and size values of fill and stroke"
Create a shape. Change stroke size.
Action shapes.setStrokeWidth failed: TypeError: Cannot read property 'coalesce' of undefined

![screen shot 2015-08-26 at 2 11 27 pm](https://cloud.githubusercontent.com/assets/2029597/9506403/d287ea04-4bfc-11e5-838f-533b1f3118cf.png)

[2015-08-26 21:24] ktaki commented on #1650
The core bug has been fixed by John Peterson.  Now text transformation reasonably works.

[2015-08-26 21:24] #1650 closed

[2015-08-26 21:51] ktaki commented on #2144
This is still be the case with merged PR #2158.
Create a new artboard. Drag a guild on to the artboard.
Deselect artboard.
Select artboard.
The guide cannot be moved.

[2015-08-26 21:53] #2185 closed

[2015-08-26 22:02] chadrolfs commented on #2170
I can repro this with current resources (dev 522 and master @ ffa24f9c7c730c0a4dd74c14f378fbfcbf57c7c9)

[2015-08-26 22:04] ktaki commented on #2171
This is fixed. Thanks!

[2015-08-26 22:04] #2171 closed

[2015-08-26 22:05] ktaki commented on #2131
This seems to be fixed, but testing is blocked by #2144.

[2015-08-26 22:15] chadrolfs commented on #2130
Looks fixed on Mac but not on Win

[2015-08-26 22:17] chadrolfs commented on #2131
When you do manage to drag them, you can delete them.

[2015-08-26 22:17] #2131 closed

[2015-08-26 22:18] #2127 closed

[2015-08-26 22:20] #1589 closed

[2015-08-26 22:21] ktaki opened #2230 "Positions of icons are off from clickable regions in Libraries panel header"
Icons for show menu (down arrow), Share, Send Link, and View on web site are off to the right compared to actual clickable regions. Trying to open libraries dropdown often causes sharing web site to open in browser.
![share](https://cloud.githubusercontent.com/assets/2029597/9507893/2c8713f0-4c06-11e5-9e02-b63a9af01a54.png)

[2015-08-26 22:25] chadrolfs opened #2231 "Swap performance is slow"
On my windows machine, it's in the 2553ms range.  On my mac pro it's 1600ms.

[2015-08-26 22:25] chadrolfs commented on #2231
with the App Ideas.psd file swapping each artboard.  Let me know if you need the file.

[2015-08-26 22:39] #1532 closed

[2015-08-26 22:42] volfied commented on #2231
Seems like our extensive playLayerActions that calculates move for each child layer in the artboard takes 2.3 seconds in this file. We should first check and see if we can swap artboards without referring to their children.

[2015-08-26 22:44] #2036 closed

[2015-08-26 22:46] #1983 closed

[2015-08-26 22:47] iwehrman commented on #1905
I'm going to take the liberty of closing this even though it's assigned to @placegraphichere because it was implemented a while ago, and with #2227 it's now clearly bug free!

[2015-08-26 22:47] #1905 closed

[2015-08-26 22:54] chadrolfs opened #2233 "Color picker: errors attempting to set color of Type (modal or otherwise)"
`Action type.setColor failed: TypeError: Cannot assign to read only property 'interactionMode' of true`

[2015-08-26 22:58] chadrolfs opened #2234 "Sampler HUD fails to apply stroke to Type"
Create a Type and Shape layer
select the Type layer
(with Sampler) mouse over Shape, hit Space and click on Stroke

Result: `Action sampler.applyColor failed: TypeError: undefined is not a function`

[2015-08-26 23:04] shaoshing commented on #2219
This is related to the `size` attribute in textinpu. Shall be fixed after merging #2225

[2015-08-26 23:06] shaoshing commented on #2199
Thanks for reporting. The whole syncing process should work correctly after merging #2225.

[2015-08-26 23:27] ktaki opened #2235 "UI font and icon sizes seem a bit too large on the Surface Pro 3 screen"
Is this by design?

![screenshot 4](https://cloud.githubusercontent.com/assets/2029597/9508952/554a0fd2-4c0f-11e5-8e4d-03b7b70ee667.png)

[2015-08-26 23:33] chadrolfs commented on #2224
I CNR with current resources so maybe this is fixed. (using dev 523 w/master @ ffa24f9)

[2015-08-26 23:41] chadrolfs commented on #2235
This might be the same as #1345 (old bug)

[2015-08-26 23:41] chadrolfs commented on #2114
Thank you!

[2015-08-27 00:06] placegraphichere commented on #2235
Maybe we can squash this with some of work on the "columns are too wide" work after the properties panel redesign?

[2015-08-27 00:15] iwehrman commented on #2209
Here is my theory, as articulated to @DivyaPrabhakar:
![image](https://cloud.githubusercontent.com/assets/1075154/9509559/03dc487a-4c16-11e5-8913-e8b3695717d6.png)

[2015-08-27 00:36] iwehrman commented on #2231
dupe of #1513?

[2015-08-27 00:37] iwehrman commented on #2224
I've seen this bug. I think it might be related to multiple monitors. I also had trouble reproducing it reliably, but at one point I couldn't make rectangles in the bottom or right side of the canvas only.

[2015-08-27 14:25] volfied commented on #2231
Not a dupe, #1513 was due to us having to wait for models to update so we can call swap in the next model (instead of immediately calling swap twice on the same model). This is an actual performance hit that happens during busy artboard calculations.

[2015-08-27 16:27] chadrolfs commented on #2209
It would be great if we could fix this issue this sprint (30)

[2015-08-27 16:37] chadrolfs commented on #2170
still broken

[2015-08-27 16:42] chadrolfs commented on #2170
https://www.dropbox.com/s/quxeztd3tl4m5cz/guide-underHiLite_noDrag.mov?dl=0

[2015-08-27 16:46] zoranagee commented on #2113
I still see this in Sprint 29. - when doing marquee drag it highlights a bunch of hidden (not in the eyeball sense - in the clipped to other AB sense)

Here I'm marquee dragging the 5 squares and bounding boxes from all the other layers in AB to the left show up.
<img width="1440" alt="screen shot 2015-08-27 at 9 46 03 am" src="https://cloud.githubusercontent.com/assets/7904855/9526828/700dae96-4c

[2015-08-27 17:36] zoranagee opened #2238 "Selecting empty space in AB doesn't target it"
Create an AB - select in the middle of it (nothing there) - AB becomes deselected. I would expect us to know that I am targeting the AB even though there are no pixels in it.

PS standard works as expected.

[2015-08-27 17:40] volfied opened #2239 "Action modules should only export actions"
Related to 8/27 parking lot discussion. We want all constants to be declared somewhere else, and all helper functions to be in correct modules.

[2015-08-27 17:41] volfied commented on #2170
The newer issue is due to us calling descriptors to create the guide, and then not moving it, so we don't receive a notification for it. It's fixed on core side: CL 1038728

Will be available Jenkins Dev Mac - #530

[2015-08-27 17:55] chadrolfs commented on #2113
@zoranagee ^^ that isn't this bug.  That is specific to marquee select and it may be as designed.

[2015-08-27 18:08] volfied commented on #2113
It is as designed right now. However, we should track in a separate issue to change the design so marquee select doesn't affect layers in an artboard unless the marquee is intersecting with the artboard.

[2015-08-27 18:11] DivyaPrabhakar commented on #2209
I agree with Ian regarding his theory and apparently this race between CEF and PS is a commonly occurring bug that we need a more consistent way of solving. This was discussed at stand-up -- passing it back to @volfied.

[2015-08-27 18:13] chadrolfs commented on #2238
I believe this was intentionally designed this way so that you can easily select sub-layers directly without having to double-click to drill into the AB. @placegraphichere @volfied Correct?

[2015-08-27 18:17] volfied commented on #2238
Yes, we do not allow artboard to be selected by clicking on an empty pixel in it. This is due to fact that if the user is zoomed in doing pixel work, and click outside to deselect, they don't get surprised by their selection dropping to the artboard (instead of deselectAll which is what they expect).

[2015-08-27 18:17] #2238 closed

[2015-08-27 19:03] placegraphichere commented on #1800
This issue is out of date with the new UI work by @designedbyscience, closing

[2015-08-27 19:03] #1800 closed

[2015-08-27 19:07] iwehrman commented on #2174
Fixed by #2176

[2015-08-27 19:07] #2174 closed

[2015-08-27 19:16] iwehrman commented on #2000
@DivyaPrabhakar The usual flow of things is that issues should be assigned back to the original filer once they're fixed in master. But this isn't fixed in master yet, since #2151 hasn't been merged yet.

[2015-08-27 19:52] iwehrman commented on #2108
I am no longer confused.

[2015-08-27 19:52] #2108 closed

[2015-08-27 19:55] iwehrman commented on #2000
Now the problem is that the hairlines are inconsistent across datalists. In the Type panel, there are no hairlines until you hover. In CC Libraries, there is always a hairline, and it's a different color from the one in the type panel. Also there is a different amount of horizontal space between the hairline and the menu in the components. Also, the type seems smaller in CC Libraries, but that cou

[2015-08-27 19:57] iwehrman commented on #2239
I guess I'm not really sure I agree with this issue. It doesn't seem like a problem for these modules to export things other than actions. It mainly seems like a problem that we have a clean way to export actions as well as other things.

[2015-08-27 20:50] zoranagee commented on #2238
well - I understand that selecting outside of the AB not selecting anything but when you actually select in an AB - you mean to target that area. In standard, if we have auto select layer checked (or actually in any state) it always at least targets that AB. Why would we differ from standard here? With SuperSelect, shouldn't AB essentially be the backmost layer? Thanks

[2015-08-27 21:02] ktaki commented on #2219
Verified the fix.

[2015-08-27 21:02] #2219 closed

[2015-08-27 21:03] ktaki commented on #2228
Verified the fix.

[2015-08-27 21:03] #2228 closed

[2015-08-27 21:07] ktaki commented on #2124
Verified the fix.

[2015-08-27 21:07] #2124 closed

[2015-08-27 21:13] zoranagee opened #2243 "PS crash when creating guide"
1 - open the mt. hood_edit file in my transfer (under DesignSpaceBugs)
2 - zoom in a bit on the header
3 - position the header right under where you add guide
4 - click on blue area to create guide (really I accidentally created a guide - not sure if we should be able to create a guide by just clicking - rather than click and drag)
5 - scroll

RESULT - notice that PS is in a bad state - need to fo

[2015-08-27 21:29] ktaki opened #2244 "Fill and Stroke not shown after collapsing and expanding Style panel"
Create a shape and select it. Collapse and expand the style panel
Fill and stroke are not shown. Selecting another shape causes them to come back.

![screen shot 2015-08-27 at 2 26 51 pm](https://cloud.githubusercontent.com/assets/2029597/9533597/ec8b788c-4cc7-11e5-8dff-fdda238e7c69.png)

[2015-08-27 21:33] volfied commented on #1880
Over to @ktaki to verify.