[2015-12-21 16:12] #2239 closed

[2015-12-21 16:17] iwehrman commented on #692
@volfied I suggest we close this bug. Even if we were to replace the aforementioned calls to `descriptor.play`, we would stil have a very, very strong dependency on the particulars of Photoshop descriptors by way of parsing them into models. So, this seems like a major architectural aspiration but not really a bug. Re-open + argue if you disagree.

[2015-12-21 16:17] #692 closed

[2015-12-21 17:48] chadrolfs opened #3455 "New file with no name results in Missing label for menu item, Failed to install menu"
File > New..., delete file name so it's blank, hit Ok
(if starting in standard PS, enter DS or) reload DS

Result: `Failed to install menu:`
`OperationalError {cause: Error: Missing label for menu item at eval (eval at undefined, <anonymous>:1:1) at eval (nat…, isOperational: true, number: 1000, uxtech.cef.jsonx.className: "Error", name: "Error"…}`

[2015-12-21 17:49] chadrolfs commented on #3455
![screen shot 2015-12-21 at 9 14 51 am](https://cloud.githubusercontent.com/assets/8442631/11937273/12afbcde-a7c8-11e5-9547-441dce108c34.png)

[2015-12-21 18:04] placegraphichere commented on #3422
This issue appears to only affect the FILL color and not STROKE or other EFFECT FILLS. I took a look for a few minutes: `ColorPicker.jsx` uses
[code]

Still digging

[2015-12-21 18:56] #3391 closed

[2015-12-21 18:57] #3382 closed

[2015-12-21 19:10] #3329 closed

[2015-12-21 19:12] iwehrman commented on #3305
Goal: downgrade to workflow bug.

[2015-12-21 19:15] #3289 closed

[2015-12-21 19:16] iwehrman commented on #3281
Sliders eventually need to be made focusable.

[2015-12-21 19:19] iwehrman commented on #3253
FBNC to @chadrolfs?

[2015-12-21 19:25] #3218 closed

[2015-12-21 19:27] iwehrman commented on #3201
@chadrolfs: please file a JIRA issue and assign to @jsbache.

[2015-12-21 19:34] iwehrman commented on #3164
Disable the resize of multiple artboards to downgrade this to workflow.

[2015-12-21 19:38] iwehrman commented on #3137
Over to @chadrolfs to verify?

[2015-12-21 19:42] #3187 closed

[2015-12-21 19:45] #3106 closed

[2015-12-21 19:45] #3253 closed

[2015-12-21 19:46] #3094 closed

[2015-12-21 19:55] iwehrman commented on #3010
@shaoshing Can you update the description of this bug?

[2015-12-21 19:57] iwehrman commented on #2976
@ktaki I think this might be fixed. Can you verify?

[2015-12-21 19:58] iwehrman commented on #2972
Goal: downgrade to workflow.

[2015-12-21 21:25] #3286 closed

[2015-12-21 22:27] chadrolfs commented on #3137
not fixed.  Now when I do this, console returns a bunch of errors, including:
`Transfer from policy.suspendAllPolicies to policy.suspendPolicies failed: Error: Policies are already suspended`
`Uncaught Error: Job canceled before execution`

[2015-12-22 01:02] iwehrman opened #3458 "Document activation is slow"
There are at least two problems:

1. ~~We currently don't start updating the UI until after Photoshop finishes changing the document and updating the canvas. Usually, we should be able to perform these operations in parallel.~~ Fixed by #3459.
2. For documents that are already initialized, we shouldn't need to change more than one or two CSS classes because each document's panel structure is maint

[2015-12-22 18:47] iwehrman commented on #1845
@chadrolfs Does this happen for you in 10.10 in standard PS as well? I'm wondering if we need to keep the github issue open. Anyway, it works great for me here, but I'm on 10.11.

[2015-12-22 19:35] iwehrman commented on #3451
My initial guess wasn't quite right. My current guess is that the problem is two-fold:

1. We don't get mouse events from the adapter while playing Photoshop commands.
2. We re-render the entire UI at each update, which is terribly inefficient and in itself seems to take 60-80ms.

We can't do anything about the former. We can do something about the latter.

[2015-12-22 19:47] mcilroyc commented on #3450
FBNC to @chadrolfs

[2015-12-22 19:48] mcilroyc commented on #2714
FBNC to @chadrolfs

[2016-01-04 18:18] chadrolfs opened #3464 "Initial zoom level is a fractional on some monitor resolutions resulting in initial zoom oddity"
(on thunderbolt display at res 2560 x 1440: Default for display)
 cmd/ctrl + n (initial zoom level is 66.7%)
cmd + + or View > Zoom In

Result: zoom level changes from 66.7% to 67%

[2016-01-04 21:39] #3443 closed

[2016-01-04 23:19] #3450 closed

[2016-01-05 21:51] iwehrman commented on #3458
We currently spend ~180ms out of a total of ~360ms (in Flat_Style.psd) doing CSS style recalculation and layout. I think we should be able to restructure the CSS to avoid this.
![image](https://cloud.githubusercontent.com/assets/1075154/12128635/602ff446-b3b3-11e5-826c-cc778c92056c.png)

[2016-01-05 22:25] iwehrman commented on #3458
Unsurprisingly, it seems that almost all of the style recalculation and layout is caused by the layers panel. Here's what document switching looks like when the layers panel is collapsed:
![image](https://cloud.githubusercontent.com/assets/1075154/12129368/05188398-b3b8-11e5-9e96-4b28b151add0.png)

[2016-01-05 22:34] iwehrman commented on #3458
Also, as guessed by @designedbyscience, we pay the same exorbitant layout cost when expanding the layers panel:
![image](https://cloud.githubusercontent.com/assets/1075154/12129588/6491ac54-b3b9-11e5-9d36-ab31f99ee49e.png)

[2016-01-05 22:34] volfied opened #3465 "Mixed Appearances Panel should enable it's controls for valid layers in selection"
Right now, if you have two shapes and a text layer selected, Radius input will be disabled, because we disable all controls on mixed layer types. The entire Mixed Appearance panel should be enabled and allow changes but change only the right layers.

[2016-01-05 23:30] iwehrman commented on #2786
FBNC to @chadrolfs ?

[2016-01-05 23:51] #1840 closed

[2016-01-05 23:56] pineapplespatula commented on #1771
@chadrolfs  is this still happening?

[2016-01-06 00:21] iwehrman commented on #3452
Fixed by #3456.

[2016-01-06 00:21] #3452 closed

[2016-01-06 00:36] chadrolfs opened #3466 "Mixed selection including an Artboard does not indicate other layers"
new doc with 2 artboards
draw some shapes in 2nd artboard
select 1st artboard and a shape from with 2nd artboard
attempt to resize 1st artboard (selected)

Result: artboard and shape move, shape is not indicated in selection

[2016-01-06 00:36] chadrolfs commented on #3466
![mixed-ab-plus](https://cloud.githubusercontent.com/assets/8442631/12131779/782ac96a-b3ca-11e5-9de9-294166da4c80.gif)

[2016-01-06 16:35] volfied commented on #3197
FBNC to @chadrolfs

[2016-01-06 17:43] volfied opened #3467 "Search bar causes localization error on filter drill down for libraries"
STR:
 1 - cmd+f to bring up search
 2 - type name of one of the libraries
 3 - Press enter to search in that library
 4 - nls throws saying translation can not be found for library ID.

[2016-01-06 23:11] chadrolfs commented on #3201
https://jira.corp.adobe.com/browse/PS-755

[2016-01-06 23:26] chadrolfs opened #3468 "Align and distribute on mixed selection moves no-selected layers"
create group of shapes that are un-nested from Artboard
select a couple shapes and the artboard (cmd/ctrl + click)
start cycling through the align/distribute icons

Result: eventually one of the non-selected shapes will move

[2016-01-06 23:28] chadrolfs commented on #3468
![align-whaaaa](https://cloud.githubusercontent.com/assets/8442631/12157889/1f884b6e-b48a-11e5-9c5a-bfcecf553f74.gif)

[2016-01-06 23:29] chadrolfs commented on #3197
fix for this may have caused/exposed this bug #3468

[2016-01-06 23:29] #3197 closed

[2016-01-06 23:33] chadrolfs commented on #2786
yup

[2016-01-06 23:33] #2786 closed

[2016-01-06 23:42] chadrolfs commented on #2714
CNR on Mac but still looks pretty buggy on Win

![ab-adders-flash](https://cloud.githubusercontent.com/assets/8442631/12158135/f95e4b62-b48b-11e5-81d5-3136f3e22db7.gif)

[2016-01-06 23:53] volfied commented on #3468
I think it's not green that moves, but everything else. Especially the artboard, because it's so visible, gets matched to blue's top bounds.

I don't think this is a bug. I think this is just Photoshop's align algorithm using Z-order to figure out which layer align should consider the truth.

[2016-01-06 23:53] jsbache commented on #2714
I see problems on OSX as well.

[2016-01-06 23:54] pineapplespatula opened #3470 "Create Delete Vector Mask Menu Item"

[2016-01-06 23:54] volfied commented on #3468
Nevermind, gray isn't moving but green is. I'll take a look.

[2016-01-06 23:55] pineapplespatula opened #3471 "Createing a Vector Mask from a Shape layer should work on layers with vector masks"
Currently you cannot create a vector mask on a layer with an existing vector mask.
This is the only way to do this in photoshop is to use the copy and paste commands, since there is no action that moves a path to an existing vector mask. This task may require some core work

[2016-01-07 00:01] chadrolfs commented on #1771
Yep.
![layer-reorder-noop](https://cloud.githubusercontent.com/assets/8442631/12158273/67f21012-b48d-11e5-9ea8-8931383326ee.gif)

[2016-01-07 04:50] ktaki commented on #2976
The issues with the bounding boxes still exist. Fonts shown in the properties panel and on canvas indicated correct fonts, but the bounding boxes shown are still that of Myriad Pro Regular.

![screen shot 2016-01-06 at 8 35 30 pm](https://cloud.githubusercontent.com/assets/2029597/12162431/db2f302c-b4b6-11e5-9ded-7bd44bd93816.png)

![screen shot 2016-01-06 at 8 36 44 pm](https://cloud.githubuserco

[2016-01-07 16:36] iwehrman commented on #2976
This seems like a core Photoshop issue to me; Design Space doesn't have any control over those particular bounding boxes. I think this needs a JIRA issue.

[2016-01-07 16:37] iwehrman commented on #2976
Though conceivably there is a hack workaround that we could do in the browser, like deselecting and reselecting the layers...

[2016-01-07 23:03] chadrolfs commented on #1845
No, it doesn't happen in standard PS on 10.10 but does in DS only.

[2016-01-07 23:05] volfied opened #3475 "Marquee select does not consider actual pixels, highlights masked out layers"
This is a sub-issue of #3158. We currently do not have a way to test every pixel in the marquee rectangle for which layers are selected, and instead use intersection to figure it out.

This, with vector masked layers, causes them to be selected even on masked out areas:

![](https://s3.amazonaws.com/f.cl.ly/items/32220z1e2Z1k1f2x2Q46/Screen%20Recording%202016-01-07%20at%2003.04%20PM.gif?v=22890d54

[2016-01-07 23:05] volfied commented on #3158
After #3474 is merged, please consider that #3475 has been created to keep track of marquee select issues on vector masked layers with polygon masks.

[2016-01-07 23:10] mcilroyc commented on #3430
@pineapplespatula after merging your PR, I get a new error.  (note that your unmerged branch seemed to work fine).

two selected layers:
![ss](http://cl.ly/0x1E2k0j3e0m/Image%202016-01-07%20at%205.07.56%20PM.png)

console (press 'm' and click rectangle tool in HUD) http://cl.ly/3l2k3F0q1w1K

[2016-01-07 23:45] mcilroyc commented on #3430
Ok.  false alarm on that.  But.. phase two of my concern:   I think the multi-layer-selected case is still weird if the "first" layer is the shape layer.  It works fine if the layers look as my screenshot above, but if they order is reversed, then hitting "m" has no effect.  I'll toss this to @ktaki to get his take on the completion of this bug.  If @pineapplespatula feels that my concern is addre

[2016-01-08 01:37] tiburbage commented on #3223
Jesper has suggested in the Watson bug that perhaps JS could on click refrain from selecting the layer if it is locked. Please discuss with him whether that is a practical solution.

[2016-01-08 02:41] iwehrman commented on #3223
I doubt that is what we want, but: CC @placegraphichere

[2016-01-08 03:17] mcilroyc commented on #1766
Fixed by recent PR.  Seems like it works as was decided by the above discussion.   FBNC to @chadrolfs

[2016-01-08 16:14] mcilroyc opened #3478 "Remove place-specific logic from menu.native command"
Due to previous photoshop limitations, we included special logic in the `menu.native` action, controlled by a `isPlaceCommand` flag.  For the two types of "place" menu operations, we are explicitly disabling policies during the course of the action so that the user's input can be handled by the modal placement controls on canvas. (For instance, pressing `enter` to place the object).

In theory, th

[2016-01-08 17:17] mcilroyc commented on #3158
Addressed (partially?) by 3474.  passing to @chadrolfs for review.

[2016-01-08 17:38] designedbyscience opened #3480 "No way to hide Extras"
If you have Extras turned on when entering Design Space, you can't turn them off.

[2016-01-08 17:43] chadrolfs commented on #3480
related to #2259
We specifically have menu cmds and shortcuts for Smart Guides and Guides but none of the rest in the PS View > Extras, Show > submenu

[2016-01-08 18:34] jardicc opened #3481 "Add even spacing align (distribute space) like Illustrator"
http://feedback.photoshop.com/photoshop_family/topics/even_spacing_align_like_illustrator

Spacing out objects evenly no matter the object's width. IE: putting 20px between each differently shaped nav item.

[2016-01-08 19:37] iwehrman opened #3482 "Expand-all-descendants only expands children"
1. Open VermilionArtboards.psd
2. Option-click the first artboard once or twice to expand all descendants.
3. Switch to standard PS.

Result: only children of the first artboard are expanded, and not all descendants.

[2016-01-08 20:00] iwehrman commented on #3482
Also, `initializeBackgroundLayers` -> `resetLayers` can cause folder expansion state to change while you're using the app if you expand folder with subfolders that haven't yet been initialized.

[2016-01-08 20:10] iwehrman commented on #3482
I think this is my own merge error. I think that somehow I lost @shaoshing's #3381 when I split `actions.groups` out of `actions.layers`.

[2016-01-08 23:38] chadrolfs commented on #1766
Looks good on mac, checking win...

[2016-01-09 03:29] chadrolfs opened #3484 "Select: Esc to travel up layer hierarchy should only go up"
Open CannotSelectLayers.psb or create a similar layer hierarchy (see gif)
hold cmd/ctrl, click Ellipse1, hold cmd/ctrl + shift, click Select Me text, and IMG_0759
hit Esc (repeat)

Result: selection jumps up to Artboard 1 then back down to Group 2

[2016-01-09 03:32] #3158 closed

[2016-01-09 03:33] chadrolfs commented on #1766
:tada:

[2016-01-09 03:33] #1766 closed

[2016-01-09 21:22] iwehrman opened #3485 "Appearance panel misalignment"
The layer blend mode datalist and layer opacity components are aligned differently in the appearance panel (apparently accidentally) depending on whether a type or vector layer is selected:

![img](https://s3.amazonaws.com/f.cl.ly/items/020Y1J3E3Z251S3e2n3m/Screen%20Recording%202016-01-09%20at%2001.19%20PM.gif?v=9b4d9ddd)

[2016-01-09 21:23] iwehrman commented on #3485
CC @DivyaPrabhakar

[2016-01-09 22:48] iwehrman opened #3486 "React is in development mode in compiled builds"
Even in compiled builds, the `Download the React DevTools for a better development experience` message appears in the console, which implies that React is running in development mode, doing things like gathering runtime statistics, checking propTypes, etc., that it should only be doing in debug builds. Among other places, there is discussion of this in facebook/react#3877. This is a regression fro

[2016-01-09 23:26] iwehrman opened #3488 "Modal warning dialog about standard PS properties panel"
I just launched pgdev.Mac 965, made a new document, and created a rectangle, which apparently triggered this warning:

![image](https://cloud.githubusercontent.com/assets/1075154/12218962/38a92782-b6e5-11e5-917e-420478d1d56d.png)

It now happens every time I create a new shape with a shape tool.

[2016-01-09 23:26] iwehrman commented on #3488
Over to @chadrolfs to file a JIRA bug.

Any ideas about this @jsbache?

[2016-01-11 17:09] volfied commented on #3486
Thank you @iwehrman for catching and fixing this.

[2016-01-11 17:09] #3486 closed

[2016-01-11 18:13] volfied opened #3491 "ShouldComponentUpdate methods for D3 drawing components"
Our overlays use D3, and they expect React to update the parent component to update themselves. So we may be able to speed things up / reduce noise and unnecessary rendering by implementing a SCU method for these components.

[2016-01-11 19:49] iwehrman opened #3493 "Can't drag artboards"
On master at 6c4ff31c5fa0a57c2fc50a3270825a0c327b4ad0 with pgdev.Mac 965, it isn't possible to drag artboards on canvas by their title:
![img](https://s3.amazonaws.com/f.cl.ly/items/0O0T1Y1G3c3P10303R0R/Screen%20Recording%202016-01-11%20at%2011.49%20AM.gif?v=82ff0533)
As shown in the gif, dragging other objects seems to work.

[2016-01-11 20:57] iwehrman commented on #3488
Still happening for me in pgdev.Mac 967:
![image](https://cloud.githubusercontent.com/assets/1075154/12246343/cf8a9c7a-b862-11e5-886a-6bc8913d6dc1.png)

[2016-01-11 22:22] chadrolfs commented on #3488
CNR

[2016-01-11 22:36] ktaki commented on #3430
HUD is not shown, but you can draw a vector path with a shape tool. The result is a path drawn but does not create a mask as it was shown in the first description above. I think the vector mask icon and 'm' shortcut key should be disabled if multiple layers are selected.

[2016-01-11 23:03] iwehrman opened #3495 "Guide zones flash unnecessarily"
The guide zones are currently shown any time a mousemove event is triggered inside the zone. This causes the guide zones to flash unnecessarily and quite frequently, like when mousing to the document header or to the toolbar.

![img](https://s3.amazonaws.com/f.cl.ly/items/0T283c2c0A3r1n362V0a/Screen%20Recording%202016-01-11%20at%2003.02%20PM.gif?v=328c1cd1)

Instead, they should only show if the c

[2016-01-11 23:08] iwehrman commented on #3270
I do know that the cursor changes to an unadorned black arrow when it's in the policy area but NOT over the guide itself:

![img](https://s3.amazonaws.com/f.cl.ly/items/0O2g0i1w1f0w2t1l2X1r/Screen%20Recording%202016-01-11%20at%2003.04%20PM.gif?v=71844c61)

If I click and drag in that area, the drag fails silently.

[2016-01-12 00:31] chadrolfs opened #3498 "Select tool: click and drag with cmd/ctrl key on vector anchor points will edit the shape"
create some shapes
with the Select tool, hold down cmd/ctrl and mouse over a known anchor point, click and drag

Result: vector shape is modified.

[2016-01-12 00:31] chadrolfs commented on #3498
![edit-vector](https://cloud.githubusercontent.com/assets/8442631/12251077/c10f3a5c-b880-11e5-8614-12ac6fc2121b.gif)

[2016-01-12 15:10] mcilroyc commented on #3446
FBNC to @ktaki  (thanks for noticing this one)

[2016-01-12 16:06] chadrolfs commented on #3488
Still want me to file in JIRA?

[2016-01-12 16:20] mcilroyc commented on #3449
assigning to @DivyaPrabhakar since she has 3159 too

[2016-01-12 16:22] mcilroyc commented on #3137
stealing this from wehrman, and nominating it for 3.2

[2016-01-12 17:01] mcilroyc commented on #3059
created https://jira.corp.adobe.com/browse/PS-867

[2016-01-12 17:41] volfied commented on #3493
Will be fixed by #3490

[2016-01-12 17:46] iwehrman commented on #3488
I remain suspicious, but since I can't currently repo, I'm closing it. But, I'm itchin' to re-open...

[2016-01-12 19:03] chadrolfs opened #3500 "typo? in vector mask code results in failure to load master"
load master
result: `Action menu.beforeStartup failed: Error: Menu entry NEW_VECTOR_MASK_FROM_SHAPE has a shorcut with an unlocalized key.`

[2016-01-12 19:04] chadrolfs commented on #3500
"shorcut"?

[2016-01-12 19:31] chadrolfs commented on #3500
dupe of #3429

[2016-01-12 19:31] #3500 closed

[2016-01-12 20:14] iwehrman opened #3502 "Layer dragging enabled during rename"
Layer dragging is enabled while renaming the layer, but it shouldn't be because that conflicts with the text-selection dragging:

![img](https://s3.amazonaws.com/f.cl.ly/items/33263L1D392E2M0g0204/Screen%20Recording%202016-01-12%20at%2012.13%20PM.gif?v=c0ce36b3)

[2016-01-12 21:48] volfied commented on #3435
This is addressed by #3490

[2016-01-12 21:50] chadrolfs opened #3505 "Swap breaks sometimes with one layer in and one layer outside Artboard"
cmd+n, zoom out x3,
drag a LLSO onto canvas inside AB,
then select rect tool and draw a rect outside AB,
select both, then swap (repeat swap if needed)
or next,
move both layers outside AB and then swap

[2016-01-12 21:50] chadrolfs commented on #3505
![swap-broke2](https://cloud.githubusercontent.com/assets/8442631/12277995/64fb3b7c-b933-11e5-9f8d-0b652504ad35.gif)
![swap-broke3](https://cloud.githubusercontent.com/assets/8442631/12277994/64fae636-b933-11e5-9c79-6ef5b7115d11.gif)

[2016-01-12 21:51] chadrolfs commented on #3505
1st case is not always reliable to repro.  Edge case

[2016-01-12 21:53] volfied commented on #3434
@chadrolfs Can you repro this, I can't repro it, and I made changes to marquee code recently.

[2016-01-12 22:13] volfied commented on #2640
I am working on fixing this, but I don't think dropping a guide on the guide zone should delete it. We don't highlight guide zones during guide drag, so it would confuse the user to delete a guide if they drag it to the edge of visible canvas.

[2016-01-12 22:23] ktaki commented on #3446
Verified the fix.

[2016-01-12 22:23] #3446 closed

[2016-01-12 22:45] iwehrman commented on #2640
I think dropping on the guide zone should delete it, but that there should be some feedback about what you're about to do, like changing the cursor in some way.

[2016-01-12 22:51] ktaki commented on #3436
Verified the fix.

[2016-01-12 22:51] #3436 closed

[2016-01-12 22:53] volfied commented on #2640
@placegraphichere Ian and I disagree, can you be the tie breaker?

[2016-01-12 23:09] ktaki commented on #3309
This issue appeared to be fixed.

[2016-01-12 23:09] #3309 closed

[2016-01-12 23:13] iwehrman opened #3507 "Libraries asset icon misalignment"
1. The three asset icons are spaced too loosely.
2. The Character Styles subtitle pushes the icons off the panel edge.

![img](https://s3.amazonaws.com/f.cl.ly/items/0B3O0A052o3p2Q1Y272C/Screen%20Recording%202016-01-12%20at%2003.11%20PM.gif?v=9a38e9a2)

[2016-01-12 23:15] chadrolfs commented on #3434
Yeah, I think those recent changes to Mr. Quee fixed this.

[2016-01-12 23:15] #3434 closed

[2016-01-12 23:18] iwehrman commented on #3364
Fixed by #3423.

[2016-01-12 23:18] #3364 closed

[2016-01-12 23:25] ktaki commented on #2640
How about deleting it if no dragging happens in the guide zone? Currently, just clicking the area will create a guide and it is hard to re-grab without scrolling the canvas. If the minimum dragging is required, it will avoid mis-creation of a guide.

[2016-01-12 23:26] volfied commented on #2640
@ktaki, my PR #3506 implements that. We are currently disagreeing on what happens if you drag an existing guide to one of the zone areas.

[2016-01-12 23:31] ktaki commented on #2640
Oh, OK. Then, I agree with you, @volfied, that moving a guild to the guide zone should not delete the guide. You do not see the guide zone when you are dragging a guide anyway. It is a part of regular canvas.

[2016-01-12 23:32] mcilroyc commented on #2640
The PR (just merged) prevents guide from being created with a simple click on the guide-zone.  Is this ready to FBNC?

[2016-01-12 23:34] volfied commented on #2640
@mcilroyc I'd like @placegraphichere's opinion on the second part before test/close.

[2016-01-12 23:42] iwehrman commented on #1631
Fixed by #3461.

[2016-01-12 23:42] #1631 closed

[2016-01-12 23:46] ktaki commented on #3331
0.33 and 0.67 have been added to Ps 16.1.2. Are there any further tasks for this issue?

[2016-01-12 23:49] iwehrman commented on #3438
Fixed by #3445.

[2016-01-12 23:49] #3438 closed

[2016-01-12 23:50] iwehrman commented on #3331
The additional export sizes were only a very partial workaround for this bug. It is no longer fix in progress, so I've removed that label.

[2016-01-12 23:53] placegraphichere commented on #2640
So the fact that you do not see the guide zone when dragging an existing guide over a guide zone to me tells me it should _not_ delete. I would have no feedback that a delete would occur, and it would be confusing.

[2016-01-12 23:58] volfied commented on #2640
Given Taki and Seth's reply, I'm setting this to FBNC and passing it back to Ian to close (or assign to Taki/Chad to verify)

[2016-01-13 00:13] #3163 closed

[2016-01-13 00:28] chadrolfs opened #3510 "Opening multiple .PSDs results in errors"
double-click empty area of workspace to invoke open dialog
multi-select several pre-saved .PSD docs

Result: `Transfer from type.initFontList to layers.resetLayers failed: Error: Could not amend history, document not properly initialized: 2073`

several `Failed to deregister dialog`

`Uncaught TypeError: Cannot read property 'call' of undefined`

[2016-01-13 00:29] chadrolfs commented on #3510
![open-mult](https://cloud.githubusercontent.com/assets/8442631/12281273/8fbc6b2c-b949-11e5-8940-e431109ed15e.gif)

[2016-01-13 00:30] chadrolfs commented on #3510
Note: if I open up each file one by one, I get no errors.

[2016-01-13 00:32] chadrolfs commented on #1740
Yes, can still repro with current sources.

[2016-01-13 00:33] chadrolfs commented on #1699
now related to #3510

[2016-01-13 00:40] chadrolfs commented on #3510
On Windows, I get
![ice_screenshot_20160112-164444](https://cloud.githubusercontent.com/assets/8442631/12281463/37a6b1c0-b94b-11e5-8367-ded108e8bf0d.png)

[2016-01-13 00:43] chadrolfs commented on #1699
CNR with current sources.  Closing.

[2016-01-13 00:43] #1699 closed

[2016-01-13 00:50] iwehrman commented on #2640
Sorry, I assumed that we _would also_ show the guide zone in this case. I don't expect users to reliably be able to figure out that they need to drop a guide onto the paneling in order to delete it without any other feedback.

[2016-01-13 00:53] iwehrman commented on #2640
My wish:

1. Show the drag zone when you drag a guide to the edge of the canvas.
2. Change the cursor to somehow indicate that you are about to delete the guide when in the guide zone while still dragging.
3. Delete the guide when you drop it in the guide zone, ideally with some whizzy exploding-guide animation to explain further what just happened.

[2016-01-13 01:22] ktaki commented on #1780
@chadrolfs: I think this one can be closed. The functionality is working fine. A sight dragging causes the selection to be changed, but that is how user wants when s/he wants to select a part of string. It could be a sensitivity issue, but I do not think it's worth the effort to adjust this.

[2016-01-13 02:46] iwehrman commented on #3485
Fixed by #3509.

[2016-01-13 02:46] #3485 closed

[2016-01-13 02:49] iwehrman opened #3512 "Radius text input slightly out of alignment"
In #3509 @DivyaPrabhakar showed off her alignment fix for the `BlendMode` component's  `TextInput`. She showed too much though, and I can see a similar, minor grid alignment issue with the `Radius` component's `NumberInput`:

![img](https://camo.githubusercontent.com/7468a166410a574460de88741d8d75ce891102af/68747470733a2f2f7777772e64726f70626f782e636f6d2f732f306f673978787a7367307078316d752f6775696

[2016-01-13 04:21] DivyaPrabhakar commented on #3512
@iwehrman ![](https://31.media.tumblr.com/a4bbfa577497665658098c49d6197da8/tumblr_inline_n6aan62zxa1r0ql8k.gif)

[2016-01-13 16:04] mcilroyc opened #3514 "Option+drag duplication of group results in incorrect DS layer selection model"
Consider my example below.  After option+copying a *group* of layers, our model/view shows both the group and sub-layers selected, while in fact only the group is selected in Photoshop.

![ss1](http://f.cl.ly/items/0X3R0R2B2P2z2F2g1P0k/Screen%20Recording%202016-01-13%20at%2009.51%20AM.gif)

This is currently caught by a post verification error
![ss2](http://cl.ly/1I1u2g3j093V/Image%202016-01-13%20

[2016-01-13 16:10] mcilroyc commented on #3514
I think this is a separate issue, but since #1613 roughly deals with the same feature, and is now hard to reproduce, be on the lookout @ktaki

[2016-01-13 16:23] mcilroyc commented on #1722
I think this is no longer an issue.  I am going to open a separate bug for a duplicate group bug I think I found.

[2016-01-13 16:32] mcilroyc opened #3515 "Layer>Duplicate Selection of group results in slightly bad layer selection"
This is highly related to #3514 but with a twist  `layers.duplicate` calls `layers.addLayers` more than once, so the selection state is wrong several different times!  This seems to have more nuanced corruption than in 3514.  Duplicating a group with this method seems to select almost all the right layers, but the Postion/Size elements are disabled when they shouldn't be.

![ss error](http://cl.ly

[2016-01-13 16:33] mcilroyc commented on #1722
FBNC to @ktaki  - this has some testing overlap with another bug #3515 that I just created.

[2016-01-13 16:39] mcilroyc commented on #1613
@ktaki - if you happen to run in to this again, please let me know.  I can not repro.

[2016-01-13 16:48] ktaki commented on #1722
Thank @mcilroyc for looking into this and creating a separate issue. I am closing this one.

[2016-01-13 16:48] #1722 closed

[2016-01-13 16:59] chadrolfs commented on #2640
^ I like it

[2016-01-13 17:03] chadrolfs commented on #2640
Another idea to give user feedback about deleting a guide would be to change the drop zone color if you are dragging a guide into it.  Not sure which is easier, changing the drop zone color or changing the cursor plus a whizzy exploding-guide animation.

[2016-01-13 17:12] chadrolfs opened #3516 "Panning, zooming via trackpad doesn't work if cursor is in guide zone"
open existing or create a new doc
position cursor over guide zone
use trackpad to zoom (2 finger pinch/expand) or pan (2 finger swipe)

Result: pan/zoom doesn't work

[2016-01-13 17:17] chadrolfs commented on #2020
I'm still seeing this occur every so often now (not every time) if I repeatedly do cmd/ctrl + n.

[2016-01-13 17:17] chadrolfs commented on #2020
almost totally gone though

[2016-01-13 17:20] chadrolfs commented on #1780
agreed, thanks

[2016-01-13 17:20] #1780 closed

[2016-01-13 17:55] volfied commented on #2640
While I like @iwehrman's wish, but it is beyond bordering, and now far into workflow category.

PS is driving the guide drag interaction, we're in modal state. I don't see it as possible to highlight guide zones during this state. And I do not wish to die on this hill.

[2016-01-13 17:56] volfied commented on #2640
Also, as a rebuttal, it is a known PS interaction that dragging a guide outside app window deletes it, we are doing one better by allowing deletion by dragging outside canvas.

[2016-01-13 18:05] iwehrman commented on #3512
Fixed by #3513.

[2016-01-13 18:05] #3512 closed

[2016-01-13 18:18] iwehrman commented on #2848
@placegraphichere: do you think this is a bug? Can you either a) articulate exactly how you think this should work and then assign to @DivyaPrabhakar; or, if it already works exactly as intended, b) close the bug?

[2016-01-13 18:22] iwehrman opened #3519 "Search UI loses focus when re-focusing app"
1. Open the search UI. The search UI has focus.
2. Cmd-tab to another application.
3. Cmd-tb back to Design Space.

Result: sometimes, but not always, the search UI has lost focus.

The search UI should always have focus while the search UI is open.

[2016-01-13 18:25] iwehrman commented on #2020
Still happens every time for me!

[2016-01-13 18:27] iwehrman commented on #3470
I think this should probably be a user story on the backlog?

[2016-01-13 18:32] iwehrman commented on #3516
Related to #3270.

[2016-01-13 18:34] chadrolfs commented on #2640
There appears to be 2 bugs here. 1, which i consider this one, guide creation under guide zone (this is fixed and this bug should be closed IMO) and 2, a change to guide zone functionality to also be used to delete guides (as opposed to existing behavior which is similar to standard PS where you drag a guide outside app window, stated by @volfied above).

That said, I'd like to close this (as fixe

[2016-01-13 18:36] ktaki commented on #2640
I agree with @chadrolfs.

[2016-01-13 18:41] pineapplespatula commented on #3470
I agree, closing this issue on github.

[2016-01-13 18:41] #3470 closed

[2016-01-13 20:34] iwehrman commented on #3495
Fixed by #3508.

[2016-01-13 20:34] #3495 closed

[2016-01-13 20:35] iwehrman commented on #3451
The scripting time is has been reduced significantly. This is now blocked on the infrequency of mousemove events from Photoshop. CC @jsbache @dtristram

[2016-01-13 20:41] chadrolfs opened #3520 "Guide zone flash on creation of new guide"
move mouse to guide zone (blue hover)
mouse down (no blue hover) + drag (blue hover) then once you leave the zone (no blue hover)

Expect: either it should remain blue hover until exiting the zone or remain no blue hover while drag out of zone.

[2016-01-13 20:42] chadrolfs commented on #3520
![guidezone-blink](https://cloud.githubusercontent.com/assets/8442631/12307253/ff424364-b9f2-11e5-919c-c601783d2833.gif)

[2016-01-13 21:01] volfied commented on #2640
@chadrolfs I agree with you, as well. Please close this bug once you confirm it fixed.

[2016-01-13 21:04] #2640 closed

[2016-01-13 21:31] volfied commented on #3516
@iwehrman This is not related to 3270, it's about the edge zones for creating guides.

I'm not sure how we can fix this, same issue happens with superselect highlight edges / sampler HUD as well. If cursor is over a non transparent HTML area, all mouse events come to us.

[2016-01-13 21:43] ktaki commented on #3396
https://jira.corp.adobe.com/browse/PS-881

[2016-01-13 23:39] iwehrman commented on #3516
Certainly this is exacerbated by #3270? If the guide zones are misaligned w.r.t. the guide, then these gestures will fail even when your cursor is NOT over a guide.

[2016-01-13 23:52] volfied commented on #3406
@iwehrman please verify/close.

[2016-01-13 23:57] volfied opened #3522 "Upgrade to lodash 4.0.0"
Lodash 4.0.0 is out, we should upgrade our own dependency. We should also look into explicit requires of functions so dead code removal during bundling is easier, and produces a smaller file.

[2016-01-14 00:00] volfied commented on #3516
The bug is for when gestures are failing while the mouse is over the canvas edges for creating guides.

[2016-01-14 00:01] iwehrman commented on #3516
OK, comment retracted given that by "guide zone" we're talking about the canvas edges from whence new guides come.

[2016-01-14 00:04] iwehrman commented on #3406
Fixed by #3518.

[2016-01-14 00:04] #3406 closed

[2016-01-14 00:11] volfied commented on #3516
At this point, this is a core bug. Photoshop does not get scroll/zoom events when the cursor is over a non-transparent HTML area, and it's not under our control.

[2016-01-14 00:12] DivyaPrabhakar opened #3524 "Error thrown on some search terms in Search Bar"
String matching in the Search Bar is only successful if the user inputted string matches the first word of a filter category or datalist option. For example, typing in "Open" while result in the successful autocomplete suggestion and selection of "Open Documents" from the datalist:
![](https://www.dropbox.com/s/tyf9fsuy4025cje/open.gif?raw=1)

Whereas typing "Documents" will still bring up the cor

[2016-01-14 00:14] iwehrman opened #3525 "Search filter icon alignment is weird"
This looks weird/bad to me:

![image](https://cloud.githubusercontent.com/assets/1075154/12312001/82fff7a6-ba10-11e5-9e18-0f4db044dfdd.png)

The spacing between the search icon, the filter icon, and the text input feels clumsy.

[2016-01-14 00:14] ktaki opened #3526 "Setting W or H values to zero for text layers will make the fields to be blank and not editable"
Create a box text layer. In the property panel, set Width (or Height) to 0 (zero).
RESULT: "0.1" flashes and leaves the fields, W, H, X, and Y to be blank.Those fields become unaccessible. Only undo will recover the layer contents.
EXPECTED: The minimum value 0.1 should be intact.

Note that this happens with point text layers also, but changing W and H values should be disabled for point text lay

[2016-01-14 00:15] iwehrman commented on #3525
I think this needs some love from @placegraphichere. One possibility might be to simply replace the magnifying glass icon with the filter icon when the filter is active. There are many other possibilities!

[2016-01-14 00:41] chadrolfs commented on #3526
related to #3153 ?

[2016-01-14 00:43] ktaki commented on #3396
It turned out that this issue has been reported a couple of times in the past in Watson, and withdrawn as AsDesigned. See https://watsonexp.corp.adobe.com/#bug=3948755.

[2016-01-14 00:43] #3396 closed

[2016-01-14 01:05] ktaki commented on #3526
OK. Closing as a dupe of #3153.

[2016-01-14 01:05] #3526 closed

[2016-01-14 01:06] ktaki commented on #3153
This issue still exists, but console does not show any errors now. See the #3526.

[2016-01-14 01:37] ktaki commented on #3153
Opened a bug in JIRA. https://jira.corp.adobe.com/browse/PS-884

[2016-01-14 17:42] ktaki commented on #1613
@mcilroyc - It is relatively easy now. Open new artboard doc. Select Artboard 1. Drag the artboard 1 while pressing option key. Repeat the option-copy two or three times. The error occurs. Tested on Mac.

[2016-01-14 17:54] iwehrman commented on #3493
Fixed by #3490.

[2016-01-14 17:54] #3493 closed

[2016-01-14 17:56] iwehrman opened #3527 "Dragging layers is still slow"
Watch the second drag:
![img](https://s3.amazonaws.com/f.cl.ly/items/1V081s1f1u0H0t09241U/Screen%20Recording%202016-01-14%20at%2009.53%20AM.gif?v=f78f0cd6)

The console is painful to read:
![image](https://cloud.githubusercontent.com/assets/1075154/12332727/0462e206-baa5-11e5-837b-13e99782f19c.png)

[2016-01-14 17:58] iwehrman commented on #3111
FBNC to @placegraphichere and/or @chadrolfs.

[2016-01-14 17:59] iwehrman commented on #3339
Is this still fix-in-progress?

[2016-01-14 18:00] iwehrman commented on #3189
Is this still fix-in-progress?

[2016-01-14 18:44] DivyaPrabhakar commented on #3339
@iwehrman I am going to have to talk about it with Eric because my ideas are not working. So yes, it is

[2016-01-14 18:56] iwehrman opened #3529 "Weird auto-complete behavior in search UI after failed query"
![img](https://s3.amazonaws.com/f.cl.ly/items/0w02000p0s1s3f1d1F0Z/Screen%20Recording%202016-01-14%20at%2010.56%20AM.gif?v=c18bdc86)

1. Open search UI
2. Type failed query, like "123" and press enter. The search UI is active but collapsed.
3. Type the first letter from one of the filters, like "o".

Result: the value of the search `TextInput` has jumped all the way to `"Open Documents"`.
Expected

[2016-01-14 19:01] chadrolfs opened #3530 "Radius shows for non-rect shapes"
create a shape with either the pen or ellipse tool

Result: Radius field and slider appear in Appearance panel

this is a regression based on 16.1.2 functionality

[2016-01-14 19:25] iwehrman opened #3532 "Search and Export document header buttons are broken"
![img](https://s3.amazonaws.com/f.cl.ly/items/1g421J3t2z1x0P3w3j0C/Screen%20Recording%202016-01-14%20at%2011.24%20AM.gif?v=ff77c5d1)

[2016-01-14 19:26] #3435 closed

[2016-01-14 19:44] iwehrman opened #3533 "Guide policy areas not updated on displayChanged"
After dragging the window from a non-retina to a retina display:
![image](https://cloud.githubusercontent.com/assets/1075154/12335437/19f4a4ec-bab4-11e5-83bb-c86388498767.png)

[2016-01-14 19:46] chadrolfs opened #3534 "Clicking Search icon in title bar fails"
results in flash on screen of dialog open and immediate dismiss

[2016-01-14 19:49] iwehrman commented on #3534
Dupe of #3532.

[2016-01-14 19:49] #3534 closed

[2016-01-14 19:50] iwehrman commented on #3533
Note that they ALSO don't update when the window is resized, which as an even bigger problem.

[2016-01-14 19:59] chadrolfs commented on #3533
I swear I wrote this up a while back.  Maybe it was a comment in a PR?  Think it might have been @volfied PR?

[2016-01-14 20:02] chadrolfs commented on #3533
found it https://github.com/adobe-photoshop/spaces-design/issues/3351#issuecomment-163054277

[2016-01-14 20:26] mcilroyc commented on #1613
I just tried ~20 option-copy of artboards and did not see the error.  Would you mind taking a screenshot of the console with some of the messages leading up to the error @ktaki ?

[2016-01-14 21:05] iwehrman commented on #3491
Fixed by #3531.

[2016-01-14 21:05] #3491 closed

[2016-01-14 21:11] iwehrman commented on #3533
Fixed by #3535.

[2016-01-14 21:11] #3533 closed

[2016-01-14 21:11] iwehrman commented on #3351
Back to @chadrolfs to verify again!

[2016-01-14 21:17] ktaki commented on #1613
Here it is.

![screen shot 2016-01-14 at 1 15 46 pm](https://cloud.githubusercontent.com/assets/2029597/12337812/33a32f1e-bac1-11e5-9fdf-73a50f446a43.png)

[2016-01-14 21:43] chadrolfs opened #3536 "Scrubbing X/Y values results in layer jumping if layers exist outside AB (auto-canvas calculation)"
new doc, create shapes inside and outside the artboard
select a shape inside the artboard and scrub X or Y

Result: layer jumps to outside the artboard

[2016-01-14 21:43] chadrolfs commented on #3536
![coord-jump](https://cloud.githubusercontent.com/assets/8442631/12338518/d315b622-bac4-11e5-8676-a37ebacefc07.gif)

[2016-01-14 22:08] iwehrman commented on #3520
FBNC to @chadrolfs.

[2016-01-14 22:09] iwehrman commented on #3270
It's better, but it's still not centered:
![image](https://cloud.githubusercontent.com/assets/1075154/12339168/6357b8c2-bac8-11e5-8c88-eb3187143e3d.png)

It would be really nice to know why this is so far off...

[2016-01-14 22:10] iwehrman commented on #3270
Image above is retina; here's non-retina:
![image](https://cloud.githubusercontent.com/assets/1075154/12339206/9e0f0f88-bac8-11e5-8fa5-32ee508ba07a.png)

[2016-01-14 22:27] chadrolfs commented on #3536
this can subsequently end up in disconnecting the layer from it's position on canvas and where it displays on canvas
![layer-position](https://cloud.githubusercontent.com/assets/8442631/12339639/e8154096-baca-11e5-81b2-f34e49d3da39.gif)

[2016-01-14 22:42] chadrolfs commented on #3111
Looks good to me, closing this puppy.

[2016-01-14 22:42] #3111 closed

[2016-01-14 22:45] mcilroyc commented on #1613
Thanks @ktaki  - I turned on event level logging and then was able to repro once.  I think I figured out a quick fix.  If you would like to pre-test the branch from this PR, feel free.  https://github.com/adobe-photoshop/spaces-design/pull/3537

[2016-01-14 23:17] shaoshing commented on #3284
Shall we delete this as it seems duplicate with the JIRA tasks?

[2016-01-14 23:33] chadrolfs opened #3538 "Using Shift modifier to marquee select layers results in errors"
cmd/ctrl + n
select rect tool and drag out a shape
hit v for select tool, hold down Shift and marquee select the shape

Result: `Transfer from superselect.marqueeSelect to layers.select failed: Error: Layers.select is passed an invalid modifier`
and then a slew of subsequent errors

[2016-01-14 23:52] #3520 closed

[2016-01-14 23:55] chadrolfs commented on #3351
working fantastically!

[2016-01-14 23:55] #3351 closed

[2016-01-15 00:05] pineapplespatula commented on #3532
@DivyaPrabhakar  and I couldn't repro this. do you have any other steps?

[2016-01-15 00:09] iwehrman commented on #3532
CC @chadrolfs: I think you saw this too, can you help?

[2016-01-15 00:09] chadrolfs opened #3541 "Cancel quit results in errors and bad state when resuming work"
cmd/ctrl + n
drag out a guide to dirty the doc
(repeat steps so you have 2 dirty doc)
cmd/ctrl + q
at first prompt to save, click Cancel
then click on Artboard title and try to move it

Result: `Transfer from superselect.click to layers.select failed: Error: Photoshop returned an error when playing command number: 1 Photoshop code: -25922`
lots of other subsequent errors and bad state - can't cont

[2016-01-15 00:10] iwehrman commented on #3538
FBNC to @chadrolfs.

[2016-01-15 00:13] volfied commented on #1613
@ktaki I see you can still break this if you try hard enough. But you also said it's probably ok since it's a marginal case. I leave it to your discretion.

[2016-01-15 00:20] DivyaPrabhakar commented on #3532
@chadrolfs @pineapplespatula @iwehrman This was my fault -- I needed to update my bluebird version. Now I see the issue. Off to fix it!

[2016-01-15 00:27] iwehrman opened #3542 "Unrecoverable error: collapsing group changes selection to uninitialized layer"
1. Open Vermilion.
2. Expand all layers.
3. Select only a leaf layer in the top-most artboard, e.g. "pad copy 4"
4. Reload Design Space.
5. Quickly option-click the icon of the top-most artboard to recursively collapse the artboard.

Result: unrecoverable error.

Hypothesis: upon collapsing the group, the selection is correctly changed to the top-most artboard, but that artboard has not yet been i

[2016-01-15 01:59] placegraphichere opened #3543 "Automatically turn off "Add copy to to copied layers and groups""
We should not add "copy" to all duplicated layers. Its annoying. Either maintain the setting a user has or just turn it off by default in Ds.

Received through user feedback

![screen shot 2016-01-14 at 7 55 40 pm](https://cloud.githubusercontent.com/assets/3229167/12343428/21ee97d0-baf9-11e5-87b6-46675abb7ce9.png)

Lemme know if this should go in JIRA

[2016-01-15 18:46] iwehrman commented on #3284
I'd like to keep these performance bugs open even though there are overlapping JIRA stories. It's OK with me if everyone else wants to ignore performance bugs like this, but I find it useful though to track them in Github.

[2016-01-15 18:48] iwehrman commented on #3532
Hmm... do you think this is somehow related to the updated version of Bluebird?

[2016-01-15 18:56] chadrolfs commented on #3516
https://jira.corp.adobe.com/browse/PS-908

[2016-01-15 19:16] DivyaPrabhakar commented on #3532
@iwehrman What is happening is that upon initialization, in dialog.jsx we add an event listener to handle a window click if the parent component passes in a prop called dismissOnWindowClick. Therefore when we click on any of the document header icons, part of the `_handleWindowClick` function is to call the `toggle` dialog function.

[2016-01-15 20:36] iwehrman commented on #3532
You said earlier that you couldn't see the problem before you upgrade your version of bluebird, though. Is it true that this works correctly with an older version of bluebird and not with the latest version?

[2016-01-15 20:58] DivyaPrabhakar commented on #3532
@iwehrman -- Yes that is true.

[2016-01-15 23:05] #3538 closed

[2016-01-15 23:15] pineapplespatula commented on #3378
I'm no longer seeing this issue. I wonder if one of the recent performance fixes cleared this up

[2016-01-15 23:15] pineapplespatula commented on #3378
@iwehrman are you seeing a delay on your system?

[2016-01-16 00:58] iwehrman commented on #3378
On a large group I see it take ~400ms on a 4Ghz Core i7. It should always take <= 100ms, so yes, I still see a problem.

[2016-01-18 18:21] volfied commented on #3527
@iwehrman Given that we're debouncing reset indices correctly, does this still feel slow?

[2016-01-18 19:10] chadrolfs commented on #3527
with latest jenkins (985) and master @ 0a3a63ece5fe6d0be2f1f11e9b9711b4d0791d1e there are 2 things that are slow (see attached gif):
1. spinning after drag
2. jump from initial click-drag to drag location (click-drag results in a pause or no UI update and then the layer/AB jumps to catch up with the mouse move).

(also note this test was done as scratch disk gets eaten up by auto-canvas expand AB

[2016-01-18 19:12] ktaki opened #3547 "Marquee select causes unrecoverable error"
Open new doc. Add a shape. Select superselect tool. Marquee select the shape layer on canvas.

![screen shot 2016-01-18 at 11 08 21 am](https://cloud.githubusercontent.com/assets/2029597/12400344/47741d9e-bdd4-11e5-845c-3b3835588beb.png)

![screen shot 2016-01-18 at 11 10 59 am](https://cloud.githubusercontent.com/assets/2029597/12400347/4b49bfaa-bdd4-11e5-8132-e664ee95751b.png)

![screen shot 201

[2016-01-18 19:22] chadrolfs commented on #3547
this was just fixed and looks broken again. but this is without Shift key, see related #3538

[2016-01-18 19:29] mcilroyc commented on #3547
New PR merged

[2016-01-18 19:31] ktaki commented on #3547
Verified the fix.

[2016-01-18 19:31] #3547 closed

[2016-01-18 20:13] chadrolfs opened #3549 "Color picker swatch on 2nd applied Effect is clipped at bottom"
<img width="288" alt="screen shot 2016-01-18 at 12 12 21 pm" src="https://cloud.githubusercontent.com/assets/8442631/12401672/e48e0556-bddc-11e5-8093-4d14512a3a7f.png">

[2016-01-18 20:23] chadrolfs opened #3550 "Color Picker offset (if not enough bottom space) is now at top and scrolling explodes the Color Picker controls"
new doc, drag out a shape, apply some effects, resize app window so there is lack of space at bottom
click on color picker of one of the top effects (so that there is an effect below it)

Bug 1: color picker opens at the top of the Properties panel, it should be just above the color picker swatch you click on.

next step: scroll down the effects panel and mouse over an attribute field

Bug 2: the

[2016-01-18 20:23] chadrolfs commented on #3550
![color-picker-offsetscroll](https://cloud.githubusercontent.com/assets/8442631/12401898/55be9640-bdde-11e5-8cfb-d58a46178675.gif)

[2016-01-18 20:47] chadrolfs commented on #3527
cross-ref: https://jira.corp.adobe.com/browse/PS-658

[2016-01-18 20:56] iwehrman commented on #2714
I can't repro on Mac, at least. Can somebody help me repro? I really, really want to kill this bug, and I thought my last PR would have completely eliminated any possibility of this still happening.

[2016-01-18 20:57] iwehrman commented on #2714
Over to @chadrolfs to help me come up with repro steps.

[2016-01-18 20:57] iwehrman commented on #3527
For the record, dragging artboard layers in Vermilion around in standard PS is dog slow too.

[2016-01-18 21:14] chadrolfs commented on #2714
Like I said above, CNR on Mac but maybe @jsbache can help you repro there.  Otherwise try Windows.

[2016-01-18 21:17] volfied commented on #3270
@iwehrman I agree with you that policies are not symmetric around the guide, but these areas are defined in PS and I'm matching them 1-to-1. If I enlarge the policy on the horizontal bottom / vertical right, we start sending PS move drag operations instead of guide drag. If I shrink it on the other side, we lose area of guide that's draggable, where cursor changes to guide move cursor but clicks d

[2016-01-18 21:23] iwehrman commented on #3527
The fact that artboards seem to turn white after the drag operation is being tracked here:
https://jira.corp.adobe.com/browse/PS-755

[2016-01-18 21:26] volfied commented on #3527
At this point, I really feel like we've gotten drag to a good place where it's on par with classic dragging. I've tried few more methods of optimizing things, but without major re-work of event handlers not much more is going to change. And even with those major changes, we're going to gain 50-100 ms at most.

I'm going to stop working on this problem now to focus on other issues, and if we need t

[2016-01-18 21:26] iwehrman commented on #3270
OK, then I'm just going to close this issue and try not to look at those guide zones any longer :stuck_out_tongue_closed_eyes:

[2016-01-18 21:26] #3270 closed

[2016-01-18 21:45] iwehrman commented on #3542
Here's the initial action log:
[code]

Here's the first stack trace:
[code]

[2016-01-18 21:54] iwehrman commented on #3543
This doesn't have to happen in the current sprint @volfied but if you can find a simple flag to pass to our action descriptor, this would be nice.

[2016-01-18 21:57] iwehrman commented on #3458
Kicking this to @shaoshing since he's working on a PR for it now.

[2016-01-18 21:58] iwehrman commented on #3530
Is this a dupe of #3444?

[2016-01-18 22:03] ktaki opened #3551 "Cannot open Export dialog"
Clicking on the export icon on the doc title bar will open the Export dialog a fraction of a second and then it disappears.

[2016-01-18 22:33] iwehrman commented on #3551
Dupe of #3532.

[2016-01-18 22:33] #3551 closed

[2016-01-18 22:54] iwehrman commented on #3482
Fixed by #3483.

[2016-01-18 22:54] #3482 closed

[2016-01-18 22:55] iwehrman commented on #3429
Fixed by #3501.

[2016-01-18 22:55] #3429 closed

[2016-01-18 22:57] iwehrman commented on #3375
Can you take a look at this in the context of your improved `LayerFace` scroll-to-selection implementation?

[2016-01-18 22:58] iwehrman commented on #3375
We might just need an action (besides selection) like `layers.exposeLayer`.

[2016-01-18 22:58] iwehrman commented on #3527
Marking this as blocked on PS-755.

[2016-01-18 23:07] ktaki commented on #1613
With 100ms delay inserted, it became a lot harder to reproduce the error on my MacBook Pro. It will take a medium effort to reproduce the error on slower Windows desktop, and it is still relatively easy to do it with Surface Pro 3. Does the 100 ms delay work? It depends on the platform and CPU speed.

[2016-01-18 23:17] iwehrman opened #3554 "Size, Position and Radius shouldComponentUpdate are broken"
All return `this.state !== nextState`. This does not do what it seems like it should do. In particular, if the same object is used for state then this will always return true, even if the properties have changed. And, if a new object is used for state then this will always return false even if all the properties are the same. I don't know of any particular bug that this causes, but at some point i

[2016-01-18 23:19] iwehrman commented on #3554
Tentatively over to @volfied since I _think_ he wrote these lines in the first place. (My `git blame` reading could be wrong, though.)

[2016-01-18 23:28] ktaki commented on #1613
@mcilroyc Do you want to try increasing the delay or looking into some other solutions?

[2016-01-18 23:36] volfied commented on #3554
@iwehrman I've written it this way, because we calculate the state out of props at `componentWillReceiveProps`. Both components do not use any of the props to render, and rely on state to render everything. I'll think about it a bit more, but it was a conscious decision on my part which I ran by React people.

[2016-01-18 23:38] volfied commented on #3541
Correction to this bug: It doesn't happen if you click cancel at first prompt, but happens if you don't save first, and cancel second. Seems like PS gathers all the don't saves at first instead of closing documents one by one.

[2016-01-18 23:39] volfied commented on #3541
Ah, should be a simple fix, PS is in modal state, and sends us a close event later on, but we never handle the close event.

[2016-01-18 23:41] iwehrman commented on #3554
I don't get it. Depending on the implementation of `setState` this will always return true or it will always return false. Remember that state is a mutable object. This would be a great implementation if state were an `Immutable` object.

[2016-01-19 00:19] shaoshing opened #3556 "Create top-level menu for the debug snippets/tests"
* Create a top-level menu called `Debug`
* Put our existing debug-only menu items in it
* Migrate our dev snippets into the codebase and display under the new `Debug` menu. Make them toggle-able if applicable. https://github.com/adobe-photoshop/spaces-design/wiki/DevTools-Snippets

Related to #3545

[2016-01-19 01:02] ktaki commented on #2976
Retested this issue. It appears that the bounding box issue happens with certain test files. Yes, it also happens with standard Ps. Recreated those files from scratch will show no issues. I assume the text layers in the original files may have been corrupted. I will talk to a type expert in the Core team. In the meantime, I think we can close this issue in our side safely. I will keep an eye on th

[2016-01-19 01:02] #2976 closed

[2016-01-19 17:00] chadrolfs commented on #3530
root cause for both bugs maybe the same, but in testing 16.1.2, this bug does **not** occur but 3444 **does**.  In current jenkins/master both bugs occur.

Another distinction is that in this bug, the controls show but are inactive (you can't enter a Radius or move the slider).  In 3444 after you rotate the rect, the controls are still active but don't do anything.

[2016-01-19 17:50] chadrolfs commented on #3554
If this is a case where it would show up to users as a case where the object appearance on canvas is separate from it's location (coordinates/highlight) then I've hit this recently a few times but haven't been able to reliably repro.  Taki has hit it as well but can't reliably repro.  Not sure if this is would cause this or if that's a separate issue.

[2016-01-19 17:51] designedbyscience opened #3558 "Descenders are clipped a little in Layer names on Retina"
So close.

<img width="72" alt="vermilionartboards_psd___16_7___image__rgb_8____" src="https://cloud.githubusercontent.com/assets/22372/12427085/26024f28-beab-11e5-9611-784a217c8f3b.png">

[2016-01-19 17:54] iwehrman commented on #3554
This would only manifest as incorrect values in the Size, Position or Radius controls in the transform panel.

[2016-01-19 17:55] iwehrman commented on #3558
CC @shaoshing: maybe this was a real issue? See discussion in #3553.

[2016-01-19 17:56] iwehrman commented on #3558
@designedbyscience: can you confirm that if you restart `grunt debug` that this still happens?

[2016-01-19 18:00] designedbyscience commented on #3558
Yes, double-checked. Looks good on non-Retina.

[2016-01-19 18:30] iwehrman commented on #3507
Also, the title should clip, not wrap, when selected for consistency with the editing mode:
![img](https://s3.amazonaws.com/f.cl.ly/items/3a19440k0f441w1j0C2m/Screen%20Recording%202016-01-19%20at%2010.30%20AM.gif?v=cfdeb679)

[2016-01-19 18:41] pineapplespatula opened #3559 "Layer Panel Layer elements are incorrect size"
On a Retina Machine
<img width="352" alt="screen shot 2016-01-19 at 10 33 06 am" src="https://cloud.githubusercontent.com/assets/1008531/12428332/d98003aa-be98-11e5-85c8-de6c8f4f7bb2.png">

It seems like the css for layers-group is somehow calculating a smaller dimension

<img width="297" alt="screen shot 2016-01-19 at 10 40 44 am" src="https://cloud.githubusercontent.com/assets/1008531/12428367/1

[2016-01-19 18:41] shaoshing commented on #3558
Looking at it now.

[2016-01-19 19:01] shaoshing opened #3560 "Libraries Panel style issues due to change in the TextInput component"
Asset title got clipped
<img width="264" alt="screen shot 2016-01-19 at 11 01 04 am" src="https://cloud.githubusercontent.com/assets/118264/12428866/fef6596a-be9b-11e5-9d44-5dc0106c3687.png">

<img width="282" alt="screen shot 2016-01-19 at 11 01 22 am" src="https://cloud.githubusercontent.com/assets/118264/12428867/fefb2c2e-be9b-11e5-8a52-d33e0016c433.png">

<img width="290" alt="screen shot 2016

[2016-01-19 19:19] chadrolfs opened #3561 "debug Help menu command > Test Action Failure... leaves you in unrecoverable states"
DS should recover after running this.

[2016-01-19 19:19] iwehrman commented on #3536
FBNC to @chadrolfs.

[2016-01-19 19:26] chadrolfs commented on #3424
Should be in parity with standard PS functionality.  See scrubbing X and Y of an object in Free Transform mode.

[2016-01-19 19:42] chadrolfs opened #3562 "Vector Mask HUD rollovers have incorrect location when targeting artboards"
new doc, select the artboard, hit M, mouse over HUD icons

Result: blue highlight of default mask is not aligned with the artboard as it is when layers are targeted.

[2016-01-19 19:42] chadrolfs commented on #3562
![layermaskhud-rollovers](https://cloud.githubusercontent.com/assets/8442631/12429927/b7bc9950-bea1-11e5-8cf2-77829e73df2c.gif)
![layermaskhud-rollovers2](https://cloud.githubusercontent.com/assets/8442631/12429928/b7c274b0-bea1-11e5-9c95-33d5c3141892.gif)

[2016-01-19 19:54] iwehrman opened #3563 "Size scrubbing with no selected layers fails"
[code]

[2016-01-19 19:58] iwehrman opened #3564 "Scrubbable inputs should have a non-standard cursor"
Compare to standard PS which has a grabby E-W cursor.

[2016-01-19 20:03] iwehrman commented on #3558
I still can't repro, but I do see the problem in the Libraries panel:
![image](https://cloud.githubusercontent.com/assets/1075154/12430460/98cce506-bea4-11e5-8f74-77d9b14b62fd.png)

[2016-01-19 20:58] pineapplespatula commented on #3378
@ktaki  I think this issue is resolved, unless you think that the document open case is a blocker.

[2016-01-19 21:11] iwehrman commented on #3559
I'm seeing this on @ktaki's 10tkfonts.psd file:
![image](https://cloud.githubusercontent.com/assets/1075154/12432103/1a4f30c6-beae-11e5-834d-16e49b0622d4.png)

[2016-01-19 21:12] iwehrman commented on #3559
I think it only happens if the top layer is not a group.

[2016-01-19 21:43] volfied commented on #3559
@pineapplespatula Please confirm the fix.

[2016-01-19 21:48] pineapplespatula commented on #3559
Fixed!

[2016-01-19 21:48] #3559 closed

[2016-01-19 22:30] chadrolfs opened #3566 "Panel column toggle breaks opening 2nd doc"
Open a saved doc
collapse one of the panel columns (Properties or Layers & Libraries)
Open a 2nd document
try to expand the column you closed so that both panels are open

Result: you're stuck in toggle mode

[2016-01-19 22:49] volfied opened #3567 "Less stops re-building after first error on `grunt debug`"
Which leaves you wondering why your less changes are no longer appearing.

[2016-01-19 23:07] shaoshing commented on #3558
Confirmed the issue in small screen resolution (seeing this in 15-inch mbp)

[2016-01-19 23:44] iwehrman commented on #3567
Fixed by #3569.

[2016-01-19 23:44] #3567 closed

[2016-01-19 23:46] iwehrman commented on #3541
FBNC to @chadrolfs.

[2016-01-19 23:50] iwehrman commented on #3566
Hmm, I can't repro. I opened Vermilion via search, collapsed the properties panel (so only layers was showing) then opened Flat_Style via search, and re-opened the properties panel without issue. Any idea how your steps might be different?

[2016-01-20 00:02] chadrolfs opened #3570 "Scrubbing to zero boundary results in layer flicker"
select a layer on canvas
scrub W or H to zero (0)

Result: layer flashes

[2016-01-20 00:03] chadrolfs commented on #3570
related to #3153

[2016-01-20 00:03] chadrolfs commented on #3570
https://www.dropbox.com/s/8ytai89cmlip2e1/scrub-flicker.mov?dl=0

[2016-01-20 00:04] #3536 closed

[2016-01-20 00:09] #3541 closed

[2016-01-20 00:12] chadrolfs commented on #3566
hmmm, i didn't open via search.  Opened via no doc state and clicking on Vermillions in Recent Docs column, collapse props column, then cmd+o and dclick on Flat_style

[2016-01-20 00:25] ktaki commented on #3378
Here are some data points.
Doc: Vermilion_Site.psd "Desktop Large" selected.
After the document was completely loaded, entered vector mask mode 4 times.

MacBook Pro 2.3 GHz Intel Core i7 (Mac OS X 10.11.2)
1. Finished action tools.changeVectorMaskMode in 499ms with RTT 500ms;
2. Finished action tools.changeVectorMaskMode in 323ms with RTT 324ms;
3. Finished action tools.changeVectorMaskMode in 34

[2016-01-20 00:32] iwehrman commented on #3566
OK, I can repro with those exact steps (weirdly). I suspect the adapter is failing to send us a `adaperFlagsChanged` event, but I'll check it out.

[2016-01-20 00:38] iwehrman commented on #3566
Even simpler repro steps:

1. Open any file with cmd-O.
2. Click either icon in the icon bar.

Result: behaves like a cmd-click instead of a regular click.

[2016-01-20 00:49] iwehrman commented on #3566
Tracking: https://jira.corp.adobe.com/browse/PS-1003
CC @jsbache @jfitz-adobe

[2016-01-20 00:53] iwehrman commented on #3542
@chadrolfs: can you repro any errors at this point? @volfied wasn't able to, and I also check in a band-aid to the immediate (but not to the fundamental) problem. In any case, it was relatively hard for me to trigger, sometimes taking 3 or 4 tries. If nobody else can repro, then I'm willing to close this as hopefully harmless heisenbug.

[2016-01-20 16:39] chadrolfs commented on #3542
I CNR on mac and win with current master and jenkins 990m, 973w.

[2016-01-20 16:55] iwehrman commented on #3554
Fixed by #3573.

[2016-01-20 16:55] #3554 closed

[2016-01-20 17:13] #3542 closed

[2016-01-20 18:59] chadrolfs opened #3575 "Dragging LLSO onto canvas sometimes gets stuck, Enter doesn't place"
new doc, start dragging library assets onto canvas.

Result: most auto-commit on drop but occasionally, you get stuck where it doesn't place (Enter, Esc, Return don't commit).  You have to right-click > Place.

[2016-01-20 18:59] chadrolfs commented on #3575
![place-fail](https://cloud.githubusercontent.com/assets/8442631/12459686/dae20406-bf64-11e5-937e-83cf6055ceec.gif)

[2016-01-20 19:27] pineapplespatula commented on #3378
I think that the baseline for "Without HUD shown" is incorrect.
What it should be a comparison of is entering mask mode with the super select tool on a layer with an existing vector mask
when I do that test I get numbers on Mac in the range of

Finished action tools.changeVectorMaskMode in 276ms with RTT 277ms; 2/1

making the HUD take < 100 ms

[2016-01-20 19:43] ktaki commented on #3378
OK. I got it and confirmed the differences are <100 ms as you claimed. Tested on Mac and Windows. Closing.

[2016-01-20 19:43] #3378 closed

[2016-01-20 20:31] ktaki opened #3576 "Vector mask HUD not show up"
So far, this can be reproduced with Surface Pro 3 only. Very first attempt of entering the vector mask mode after Vermilion doc was opened does not show HUD.

Steps:
With Surface Pro 3,
Open Vermilion doc, and wait till the doc is completely loaded.
Select one of the artboards
With superselect tool selected, hit M.
RESULT: HUD does not appear.

Hit M again and exit the mode, and hit M again to ent

[2016-01-20 21:19] pineapplespatula commented on #3383
this requires us to get PS notifications for when the path is added to the mask. currently DS has no model for this interaction. I created PS-1015 to track that

[2016-01-20 21:48] volfied commented on #3561
@chadrolfs please confirm the fix.

[2016-01-20 22:05] chadrolfs opened #3579 "(debug) Test Reset Failure... appears twice under the help menu on Windows"
Test Reset Failure... appears twice under the help menu on Windows and Test Transfer Failure... is missing so I'm guessing one of those two is labeled wrong

[2016-01-20 22:07] #3561 closed

[2016-01-20 22:17] chadrolfs opened #3581 "Shortcut to undo fails when reordering layer groups"
create 3 shape layers
select one at a time (in the layers panel) and cmd + g so that each shape is in their own group
collapse all 3 groups
drag the middle group above the top group (reorder the stacking order of the groups)
cmd + z

Result: nothing
workaround: use the menu command

[2016-01-20 22:18] iwehrman commented on #3581
So it works completely correctly if you choose `Edit > Undo`?

[2016-01-20 22:22] chadrolfs commented on #3581
yup

[2016-01-20 22:30] chadrolfs commented on #3581
seems to work fine on windows

[2016-01-20 23:07] DivyaPrabhakar commented on #3532
Update on research for this issue:

When any dialog is launched, the `render` function within `dialog.jsx` is executed with some amount of the set of dialog ids. During a cycle, the `render` function checks each of the dialog ids for whether they are open or closed and then renders it as such.

When a button in the document header is clicked, the `render` function within `dialog.jsx` is being call

[2016-01-20 23:14] iwehrman commented on #3137
I think there are three problems:

1. The export buttons are enabled when in a modal state. They should probably just be disabled.
2. The export actions are not modal state, so in theory we should just be killing the modal state before proceeding. The problem is that we don't process the `modalToolStateChanged` event until _after_ the action (its emitted but enqueued), and that would be the time d

[2016-01-20 23:46] volfied commented on #3543
I can fix this in a simple way by exposing that option to the UAppElement property, since it's globally available in Photoshop. Then we can set it ourselves on startup to the value we like.

[2016-01-20 23:51] ktaki opened #3584 "Closing a doc in the vector mask mode will not exit the mode"
Open a AB doc. Select superselect tool. Select the AB. Hit M. Close the doc. (Note that you are still in the mode). Change the tool to a shape tool.

![screen shot 2016-01-20 at 3 45 26 pm](https://cloud.githubusercontent.com/assets/2029597/12467056/59e1ad42-bf8d-11e5-873e-77c3e8161596.png)

[2016-01-20 23:58] volfied commented on #3543
I will work with Jesper on making sure this property is bounced back to existing value in Classic.

[2016-01-21 00:12] ktaki opened #3586 "Changing attributes of text layer in vector mask mode will lead to an error"
Open a AB doc. Add a text layer. Select superselect tool. Select the layer.  Hit M. Click on an icon in Appearance panel to change the text color. Close the color picker. Click on ellipse icon in HUD.

![screen shot 2016-01-20 at 4 06 18 pm](https://cloud.githubusercontent.com/assets/2029597/12467437/3da71254-bf90-11e5-99d8-6e9721614aee.png)

The same error can be reproduced with changing other at

[2016-01-21 00:13] volfied commented on #3563
@iwehrman please confirm the fix.

[2016-01-21 00:48] ktaki commented on #3586
Similar errors will result when you try to manipulate the target layer with items in CC Lib such as applying layer styles or pasting smart objects. Such attempts should exit the vector mask mode gracefully.

[2016-01-21 00:51] ktaki commented on #2581
This is happening again in recent Windows builds.

[2016-01-21 01:04] ktaki commented on #2513
I see this is happening again with the recent Windows builds.

[2016-01-21 01:42] #3563 closed

[2016-01-21 07:22] DivyaPrabhakar commented on #3560
I have checked and this PR solves the issues brought up in #3507.
The issues brought up in that issue that are now solved are:

1. The asset icons are too loosely spaced.
2. Character style icons are pushed off.
3. Title should clip, not wrap

Before:
![](https://www.dropbox.com/s/wll517nskretoik/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f662e636c2e6c792f6974656d732f3042334f30413035326f3370

[2016-01-21 17:42] shaoshing commented on #3560
Thanks for the update @DivyaPrabhakar

[2016-01-21 17:48] #3579 closed

[2016-01-21 18:00] chadrolfs opened #3589 "Undo collapses expanded artboards and groups"
Open Vermillions (collapse opt + click all artboards to collapse if not already in that state)
expand Desktop Large > 1200px - Large Desktop > Footer > Subscribe
drag layer: form above layer: arrow
Edit > Undo or cmd + z

Result: groups and artboards collapse

[2016-01-21 18:00] chadrolfs commented on #3589
http://cl.ly/3v2t0d2k2n0Z

[2016-01-21 18:48] iwehrman commented on #3426
Hold shift for turbo scrub. Hold option for slow-mo scrub.

[2016-01-21 18:49] iwehrman commented on #3424
dupe of #3426

[2016-01-21 18:49] #3424 closed

[2016-01-21 18:55] iwehrman commented on #3480
Over to @chadrolfs to file a JIRA issue.

[2016-01-21 18:57] iwehrman commented on #3475
Over to @volfied to add a JIRA bug.

[2016-01-21 19:00] iwehrman commented on #3471
Over to @pineapplespatula to file a JIRA issue to get unblocked, eventually.

[2016-01-21 19:01] iwehrman commented on #3468
Over to @volfied to file a JIRA issue.

[2016-01-21 19:03] iwehrman commented on #3466
Over to @chadrolfs to file a JIRA issue. This bug can be closed if it repros in standard PS as well.

[2016-01-21 19:04] iwehrman commented on #3458
@chadrolfs to use judgment about whether or not the problem is solved.

[2016-01-21 19:04] pineapplespatula commented on #3471
created PS-1022

[2016-01-21 19:07] iwehrman commented on #3454
@mcilroyc to file a JIRA issue???

[2016-01-21 19:10] iwehrman commented on #3440
Related #3550.

[2016-01-21 19:16] iwehrman commented on #3303
This is CNR for me. Can you verify @chadrolfs?

[2016-01-21 19:17] iwehrman commented on #3291
If you can't repro this @chadrolfs, just close it.

[2016-01-21 19:17] iwehrman commented on #3284
Over to @chadrolfs to evaluate.

[2016-01-21 19:18] iwehrman commented on #3281
Or, on mouse up, refocus whatever was focused before.

[2016-01-21 19:21] iwehrman commented on #3266
preventDefault?

[2016-01-21 19:45] pineapplespatula commented on #3267
I cannot reproduce this anymore, @chadrolfs would you mind seeing if you can repro it?

[2016-01-21 19:53] iwehrman commented on #3502
Fixed by #3572

[2016-01-21 19:53] #3502 closed

[2016-01-21 19:55] iwehrman commented on #3532
FBNC to @ktaki.

[2016-01-21 19:56] iwehrman commented on #3558
(Note that we don't mark a bug as FBNC until the fix is merged into main.)

[2016-01-21 19:57] iwehrman commented on #3404
@placegraphichere: is this still FIP?

[2016-01-21 20:07] iwehrman commented on #3530
FBNC to @chadrolfs.

[2016-01-21 20:25] iwehrman opened #3591 "Setting the position of large artboards is extremely slow"
![img](https://s3.amazonaws.com/f.cl.ly/items/0j3e3g0O0U2t1a0G2P1m/Screen%20Recording%202016-01-21%20at%2012.23%20PM.gif?v=2780b625)

The actual dialog persists for a very, very long time. By the time Photoshop gathers itself **minutes later**, our bounds are incorrect:

![image](https://cloud.githubusercontent.com/assets/1075154/12493499/17cd61e6-c03a-11e5-8fc2-b16500155665.png)

[2016-01-21 20:27] iwehrman commented on #3591
When modifying the position with the X/Y text inputs in the transform panel it's also slow, but nowhere near as slow as when scrubbing.

[2016-01-21 20:34] iwehrman commented on #3591
Here's the log, including a log of played commands:
https://gist.github.com/iwehrman/8abd13f451423c2ec1bd

The only Design Space bug I see is that we're wrapping each transform command with unnecessary select commands, but even if that's causing the problem I still blame Photoshop.

[2016-01-21 20:35] iwehrman commented on #3591
Here's the log for the comparatively fast case in which we modify the position with the text input:
https://gist.github.com/iwehrman/cdfc84e31c1d09304608

It seems like we're using `transform` when scrubbing and `move` when using the text input.

[2016-01-21 21:26] volfied commented on #3440
I'm closing this as clipping no longer occurs (unless the swatch is at the bottom and it's the Export panel divider that clips it). Other issue is being tracked in #3550

[2016-01-21 21:26] #3440 closed

[2016-01-21 21:27] volfied commented on #3137
@iwehrman now that #3592 is merged, you be the judge to close this or leave it open for 2.

[2016-01-21 21:31] iwehrman commented on #3137
I'm calling this FBNC. Over to @chadrolfs to verify.

[2016-01-21 21:48] ktaki commented on #3532
Verified the fix.

[2016-01-21 21:48] #3532 closed

[2016-01-21 22:18] volfied commented on #3475
https://jira.corp.adobe.com/browse/PS-840

[2016-01-21 23:07] #3530 closed

[2016-01-21 23:12] designedbyscience commented on #3558
@shaoshing fixed it real good.

[2016-01-21 23:13] #3558 closed

[2016-01-21 23:14] designedbyscience commented on #3560
Fixed by #3583

[2016-01-21 23:14] #3560 closed

[2016-01-21 23:15] designedbyscience commented on #3507
Fixed by #3583

[2016-01-21 23:15] #3507 closed

[2016-01-21 23:20] iwehrman opened #3595 "Error activating document: could not amend history, document not properly initialized"
I've hit this twice today, but I can't repro reliably. I suspect it has something to do with selecting a document the first time (i.e., selecting an uninitialized document).
[code]

[2016-01-21 23:27] iwehrman commented on #3519
Strangely, it seems to lose focus _every other time_.

[2016-01-21 23:36] chadrolfs commented on #3480
what is our desire here?  I’m supposed to write up a JIRA issue but I’m not sure what we want fixed/implemented
Extras includes a lot of things, only 2 of which we have menu cmds for (Guides and Smart Guides)
what about others like Artboard Names, etc?

[2016-01-22 00:11] chadrolfs commented on #3466
https://jira.corp.adobe.com/browse/PS-1030

[2016-01-22 00:11] #3466 closed

[2016-01-22 00:18] iwehrman commented on #2848
@ktaki: @placegraphichere has updated the icon to be less confusing. Let us know what you think!

[2016-01-22 00:19] iwehrman commented on #3525
Fixed with extreme prejudice by #3594.

[2016-01-22 00:19] #3525 closed

[2016-01-22 00:30] chadrolfs commented on #2848
As in, there is no more `x`?

[2016-01-22 00:32] chadrolfs opened #3597 "Search bar clear icon missing"
`GET file:///Users/crolfs/playground-repos/spaces-design/build/img/ico-layer-search-clear.svg net::ERR_FILE_NOT_FOUND`

[2016-01-22 00:33] DivyaPrabhakar commented on #3597
^ Seconded

[2016-01-22 00:36] chadrolfs commented on #3597
restarting `grunt debug` resolved this.

[2016-01-22 00:36] #3597 closed

[2016-01-22 01:23] placegraphichere opened #3599 "Layers panel icons flash when they swap"
Layer icons like the artboard and group icons that have different states will often flash blank before the other state is loaded. It looks odd. We should see if we can avoid this.

![icon-flash-when-selecting](https://cloud.githubusercontent.com/assets/3229167/12499948/61bb4928-c074-11e5-9f07-76890f9e8468.gif)

[2016-01-22 01:26] placegraphichere opened #3600 "Cannot open .MOV filetype with Jenkins builds"
When using our Jenkins builds I cannot open `.mov` files. I receive this error:

![screen shot 2016-01-21 at 7 24 08 pm](https://cloud.githubusercontent.com/assets/3229167/12499985/b1052c74-c074-11e5-875a-464cba54f440.png)

This does not happen in release builds (thor). Probably a core issue, but figured I'd say it out loud somewhere.

[2016-01-22 15:36] iwehrman commented on #3599
Related to or a duplicate of #2020?

[2016-01-22 16:37] chadrolfs commented on #3600
Our jenkins builds have always been this way.  Like Crema, DynamicLink is most likely a separate STI and isn't included in our normal PS build.  I'm pretty sure you need to run an actual PS intaller to get this as well as Crema and other STIs bundled in the PS installer.

[2016-01-22 17:01] ktaki commented on #3514
@mcilroyc: Option dragging of artboard can create a separation of policy frame. I do not see any errors on console. Is this the same issue as this?

![screen shot 2016-01-22 at 8 56 52 am](https://cloud.githubusercontent.com/assets/2029597/12517250/a5ef1dbe-c0e6-11e5-8f76-d70271e27eed.png)

[2016-01-22 17:07] volfied commented on #3519
@chadrolfs can you verify the fix?

[2016-01-22 17:51] placegraphichere commented on #3480
Two menus that show extras can both be found under View->Show

![screen shot 2016-01-22 at 11 36 04 am](https://cloud.githubusercontent.com/assets/3229167/12518163/64b27358-c0fc-11e5-9ffe-597fb779f4aa.png)
![screen shot 2016-01-22 at 11 35 47 am](https://cloud.githubusercontent.com/assets/3229167/12518162/64b1ae82-c0fc-11e5-9cbc-9d49194fac36.png)

Seems like we may just want to catch' em all, sinc

[2016-01-22 18:00] placegraphichere commented on #3600
well, it isn't a bug for github then, thanks @chadrolfs

[2016-01-22 18:00] #3600 closed

[2016-01-22 18:02] shaoshing commented on #3404
This is fixed by #3583. Over to @designedbyscience to verify.

[2016-01-22 18:32] iwehrman commented on #2848
It's a different X that may look more like the Mac OS "clear input" icon compared to a "close window" icon.

[2016-01-22 18:41] ktaki commented on #2848
Yes, that is better.

[2016-01-22 18:41] #2848 closed

[2016-01-22 18:51] iwehrman commented on #3584
FBNC to @ktaki.

[2016-01-22 19:54] chadrolfs commented on #3514
Hey @ktaki I do not think that is this issue.  I think what you found may be #3303

[2016-01-22 21:46] tiburbage commented on #3223
I've closed the Watson bug relating to this:
https://watsonexp.corp.adobe.com//#bug=4086934
Please file a JIRA issue if you want to continue to pursue a solution on the PS/adapter side.

[2016-01-22 22:13] ktaki commented on #3514
@chadrolfs: You may be right. I did not read the description carefully. Will add comment on #3303.

[2016-01-22 22:17] ktaki commented on #3303
There is a good chance you can reproduce a separation of the policy frame.

Open a new artboard doc. Select the artboard. Option-drag it to make copies of the artboard several times continuously and quickly. (You might be able to do it with option-dragging groups.)

![screen shot 2016-01-22 at 8 56 52 am](https://cloud.githubusercontent.com/assets/2029597/12524577/b69b7410-c112-11e5-8e84-30566d99b

[2016-01-22 22:35] chadrolfs commented on #3519
works great on both Mac and Win!

[2016-01-22 22:35] #3519 closed

[2016-01-22 22:38] DivyaPrabhakar commented on #3524
Waiting on an opinion from @placegraphichere about what to do for autocomplete in the problem cases listed above.

[2016-01-22 22:54] chadrolfs commented on #3458
seems pretty zippy to me (at least on Mac).  Windows isn't bad but a tad slower than Mac.

[2016-01-22 22:54] #3458 closed

[2016-01-22 23:01] chadrolfs commented on #3303
@ktaki I CNR on both Mac and Win.  Can you try and let me know if you can still repro?

[2016-01-22 23:04] chadrolfs commented on #3291
CNR

[2016-01-22 23:17] chadrolfs commented on #3291
I jumped the gun.  I can easily repro on Windows.

[2016-01-22 23:20] chadrolfs commented on #3284
Testing Vermillion on both Mac and Win, it takes less <1 sec to expand all groups within any of the artboards.  @iwehrman reopen if you still want to keep this open.

[2016-01-22 23:20] #3284 closed

[2016-01-22 23:39] ktaki opened #3603 "Make default vector mask square when square was clicked in HUD"
Currently, clicking on a square icon in vector mask HUD will create a mask that covers the entire document. This will make it difficult to see what was added.

![screen shot 2016-01-22 at 3 27 49 pm](https://cloud.githubusercontent.com/assets/2029597/12525942/6aa7c38c-c11d-11e5-85b5-8d54f59eac66.png)

![screen shot 2016-01-22 at 3 28 22 pm](https://cloud.githubusercontent.com/assets/2029597/125259

[2016-01-22 23:45] DivyaPrabhakar commented on #3529
@iwehrman Within #3479, I have made changes to the search bar as such -- If you type in an input with no results and press "Enter" or click on "No results", nothing with change in with the state of the search bar. This is different than before because it used to collapse the datalist of the search bar and now it does not. With this change, this issue ceases to exist. This is what it looks like if

[2016-01-22 23:49] DivyaPrabhakar commented on #3510
@chadrolfs I just merged @volfied's PR addressing this issue.

[2016-01-22 23:54] chadrolfs commented on #3223
https://jira.corp.adobe.com/browse/PS-1042

[2016-01-22 23:57] chadrolfs commented on #3267
@iwehrman can you provide steps or a test file for this?  I'm confused about STR.  Currently you can't have a mask on a shape layer.

[2016-01-23 00:05] chadrolfs commented on #3480
This is great, thanks @placegraphichere. I will log a JIRA issue as a bug to turn off the 2 bottom lists (with the exception of Target Path) when entering DS and return to original state when re-entering standard PS.

I will also log a separate JIRA issue as a task/feature work to add the others

[2016-01-23 00:15] chadrolfs commented on #3480
https://jira.corp.adobe.com/browse/PS-1043
https://jira.corp.adobe.com/browse/PS-1044

[2016-01-23 00:23] chadrolfs opened #3604 "Enabling Guides or Smart Guides in DS after turning off Extras in standard PS fails/errors"
open Vermillion in standard PS
View > (uncheck) Extras (or hit cmd+ h)
Enter DS
View > Show Guides

Result: `Action documents.toggleGuidesVisibility failed: Error: Photoshop returned an error when playing command number: 1 Photoshop code: -25920 Photoshop message: error: -25920 message: The command “Set” is not currently available.`

[2016-01-23 00:24] chadrolfs commented on #3604
relates to #3480

[2016-01-23 00:24] iwehrman commented on #3291
Great! Sort of!

[2016-01-23 00:28] ktaki commented on #3303
CNR with mac build 997. I will keep this open and come back later.

[2016-01-23 00:32] chadrolfs commented on #3510
Yusssss!  Fixed.  Seeing these warnings but that's ok  `[History] Could not amend history, document history not found`

[2016-01-23 00:32] #3510 closed

[2016-01-23 00:46] ktaki commented on #3303
Oh, well. I just got it. This time, Moving "Artboard 1 copy" using superselect tool, and manipulated W H X Y by scrubbing.

![screen shot 2016-01-22 at 4 41 37 pm](https://cloud.githubusercontent.com/assets/2029597/12526887/7e56048e-c127-11e5-92b5-6ce14ff76ea9.png)

[2016-01-23 01:01] pineapplespatula commented on #3267
You can have a mask on the group though.

![screen shot 2016-01-22 at 5 06 56 pm](https://cloud.githubusercontent.com/assets/1008531/12527042/d34ef278-c129-11e5-8368-3ec54eef5bd9.png)

[2016-01-23 01:02] pineapplespatula commented on #3267
![screen shot 2016-01-22 at 5 07 51 pm](https://cloud.githubusercontent.com/assets/1008531/12527049/e3e1408c-c129-11e5-9ba2-85b6e91f6dfe.png)

[2016-01-24 17:08] iwehrman commented on #3543
FBNC to @chadrolfs.

[2016-01-24 17:10] iwehrman commented on #3246
As of #3598, we now skip the transform mode by default when placing. I am wary that this will cause some bugs, mainly because we've had to put in so many hacks and workarounds to deal with placing objects already. FBNC to @ktaki, but testing from @chadrolfs would be great too!

[2016-01-24 22:13] iwehrman commented on #2564
![image](https://cloud.githubusercontent.com/assets/1075154/12539308/969371b6-c2a4-11e5-8807-060ccb71ca62.png)
Can we just give up on this particular border radius as a workaround for this bug?

[2016-01-24 22:19] iwehrman commented on #3281
FBNC to @chadrolfs.

[2016-01-25 17:55] ktaki commented on #3584
Verified the fix.

[2016-01-25 17:55] #3584 closed

[2016-01-25 19:09] volfied commented on #3417
PS emits absolutely no events when this workflow occurs. Only clue we get is a rogue history state with name "Drag", which we can only handle by updating the document. This is hacky, so I don't want to do it.

I've created a core bug to track PS emitting us actual events that we can listen to and call 'addLayers' correctly on.

[2016-01-25 19:29] chadrolfs commented on #3267
I can repro.
![mask-shapepath](https://cloud.githubusercontent.com/assets/8442631/12561813/d2492d7e-c356-11e5-9dab-6c5c27b14a70.gif)

[2016-01-25 19:42] chadrolfs opened #3605 "Exiting Mask Mode on a group collapses the group"
create two shapes in a group (expanded)
(group targeted) hit M to enter mask mode
draw a mask with the pen tool
hit M to exit mask mode

Result: group collapses

if you hit M x2 again to enter/edit it will re-expand

[2016-01-25 19:42] chadrolfs commented on #3605
![mask-collapsegroup](https://cloud.githubusercontent.com/assets/8442631/12562188/bb52ca1a-c358-11e5-93be-d7a3e21fe636.gif)

[2016-01-25 20:44] volfied commented on #3524
FBNC to @ktaki

[2016-01-25 21:38] chadrolfs commented on #2564
hmmm, i dunno, now that it's showing up more obvious without alpha, we should probably fix if we can.

[2016-01-25 21:43] ktaki opened #3607 "Translation not found when CC Lib was selected on Search"
Open Search dialog. Type a CC Lib name you have. The CC Lib is highlighted in blue in the box below. Hit Return.

![screen shot 2016-01-25 at 1 02 36 pm](https://cloud.githubusercontent.com/assets/2029597/12565431/544c055a-c369-11e5-83fc-1de2892ed2e8.png)

This blocks testing issue #3524.

[2016-01-25 21:45] ktaki commented on #3524
Will test after #3607 is fixed.

[2016-01-25 22:01] chadrolfs commented on #3417
@volfied can you please reference the core bug here?  thanks

[2016-01-25 22:05] chadrolfs commented on #3543
Personally, I didn't see a problem with the way it was before this change - DS would honor whatever the standard PS pref was so if you didn't want 'copy' added, just turn the pref off, enter DS and work away. The old way, you had the option either way - this way, we're forcing the user to user to work with it off.

Other than forcing it off by default with no other option to turn it back on, the o

[2016-01-25 22:07] volfied commented on #3417
https://jira.corp.adobe.com/browse/PS-1055

[2016-01-25 22:10] volfied commented on #3543
@chadrolfs that is an important point. @mcilroyc is this going to break export, as in is export reliant on layers having different names?

[2016-01-25 22:16] chadrolfs commented on #3417
perfect, thank you!

[2016-01-25 22:17] iwehrman commented on #3543
Also, @placegraphichere, can you jump in here and argue for not exposing this pref (via standard PS) in Design Space?

[2016-01-25 22:27] volfied commented on #3543
By the way, I think that export code should gracefully handle multiple layers with the same name, maybe dropping down to parent names to show shortest unique path in the exported file name. After all, this option of appending "copy" is something the user can achieve themselves by renaming layers, as well.

[2016-01-25 22:28] mcilroyc commented on #3543
I agree that export should be better about multiple layers with the same name, so it is irrelevant to this conversation.

[2016-01-25 22:29] iwehrman opened #3608 "Descendants of selected group are selected after second reload"
1. Create a new artboard document.
2. Select _only_ the artboard and not its child. Note that the artboard blend mode is Pass Through.
3. Reload. Note that only the artboard is still selected and the appearance panel has not changed.
4. Reload again. Now both the artboard and its child are selected, and the appearance panel shows a "mixed" blend mode.

This might be related to #3291.

[2016-01-25 22:38] ktaki commented on #3246
Looks good to me. Turn it over to @chadrolfs.

[2016-01-25 22:39] chadrolfs commented on #3605
slight chance this is related to #3608 and #3291

[2016-01-25 23:01] iwehrman commented on #3488
Just hit this again:
![image](https://cloud.githubusercontent.com/assets/1075154/12567546/85fcbb8e-c374-11e5-9347-91829018815b.png)

[2016-01-25 23:22] iwehrman commented on #3488
Tracking issue: https://jira.corp.adobe.com/browse/PS-1073

CC @jsbache

[2016-01-25 23:24] chadrolfs commented on #3543
I think that issue can be tracked via #2274

[2016-01-25 23:24] #3543 closed

[2016-01-25 23:24] iwehrman commented on #3440
Over to @chadrolfs for testing + verification.

[2016-01-25 23:25] iwehrman commented on #3550
FBNC to @chadrolfs.

[2016-01-25 23:25] chadrolfs commented on #2274
With introduction of turning off "copy" addendum to duplicate assets, this increases in priority because users will hit it more easily now.

[2016-01-25 23:31] chadrolfs opened #3609 "Exporting with multiple layers the same name only saves one"
cmd/ctrl + n
hold Opt/Alt, click and drag on the artboard title (x4)
You now have 4 artboards named the same
Cmd/Ctrl + E or File > Export
Click Export

Result: only one file is exported.

[2016-01-25 23:32] chadrolfs commented on #3609
relates to #2274 and #3543

[2016-01-25 23:55] chadrolfs commented on #3246
Still sometimes gets stuck on LLSO, but that's tracked here #3575. Secondarily also relates to #3102.  Otherwise, this looks good to me as well.

[2016-01-25 23:55] #3246 closed

[2016-01-25 23:56] ktaki commented on #3591
Even a blank artboard document will result in the picture below.
Open a new default doc. Select the artboad. Scrub W value to the left and then right.

![screen shot 2016-01-25 at 3 50 43 pm](https://cloud.githubusercontent.com/assets/2029597/12568574/cced4624-c37b-11e5-9f59-bf9c1d52f555.png)

Click on the artboard to force redraw will fix the issue.

[2016-01-26 00:13] iwehrman opened #3610 "Tab should autocomplete current match in search"
Currently `<Enter>` applies the currently selected filter, but `<Tab>` does nothing. `<Tab>` should also apply the currently selected filter, if there is one.

[2016-01-26 00:32] ktaki commented on #3303
I reproduced once more today. I think this is definitely reproducible. Scrubby issue might be related to the  issue #3591. Try using scrubby to change W and H, and then, drag and move the artboard.

[2016-01-26 01:22] #3281 closed

[2016-01-26 17:29] iwehrman commented on #3488
Reported fixed by @jsbache as of CL 1060779. Repro steps:
[code]
Over to @chadrolfs to verify.

[2016-01-26 18:39] iwehrman opened #3613 "Transform inputs blink when creating a new document"
After #3611, none of icons blink when creating a new document (:tada:). The inputs in the transform panel are still blinking though, presumably for a very different reason:
![img](https://s3.amazonaws.com/f.cl.ly/items/3V391B2M1x1h0G3g0e2M/Screen%20Recording%202016-01-26%20at%2010.37%20AM.gif?v=6225b72c)

[2016-01-26 19:00] ktaki opened #3614 "Added artboards show a blend mode "Normal""
Create a new artboard doc. Select the artboard and confirm the blend mode is Pass Through.
Add another artboard. The artboard has the blend mode "Normal". Any artboards added will show the blend mode "Normal".

Save and close the doc. Reopen the doc. All artboards now have "Pass Through".

[2016-01-26 19:45] #3467 closed

[2016-01-26 20:03] #3550 closed

[2016-01-26 20:10] iwehrman opened #3615 "Opacity/Blend Mode misalignment"
These components are currently aligned differently depending on the current layer selection:
![img](https://s3.amazonaws.com/f.cl.ly/items/0d3D3Z2O123l3U3g3K2o/Screen%20Recording%202016-01-26%20at%2012.09%20PM.gif?v=da829b9f)

[2016-01-26 20:12] #3488 closed

[2016-01-26 20:49] chadrolfs commented on #3549
Still an issue but not just with 2nd applied effects.
![colorpicker-clip](https://cloud.githubusercontent.com/assets/8442631/12594492/3aa8ed9e-c42b-11e5-9138-7a5f16c4c991.gif)

[2016-01-26 20:50] chadrolfs commented on #3549
also check on Windows machine (particularly low res).

[2016-01-26 20:58] iwehrman commented on #3613
Fixed by #3616.

[2016-01-26 20:58] #3613 closed

[2016-01-26 21:06] ktaki commented on #3607
Actually, this was a dupe of #3467 and fixed by PR #3612.

[2016-01-26 21:06] #3607 closed

[2016-01-26 21:11] iwehrman commented on #3566
Kicking out of the milestone because we're blocked anyway.

[2016-01-26 21:52] ktaki commented on #3524
Retested with the fix to #3607. The following case will cause the same error.

Select one of the entries found in "Limited search to..." list which are composed of more than a word. Then type the first word and miss-type the second.

Examples:
Type "Smart objct" to the search dialog, and hit return.
Type "Recent dom" and hit return.

[2016-01-26 23:40] iwehrman opened #3618 "Artboard layer icons are misaligned"
![image](https://cloud.githubusercontent.com/assets/1075154/12598978/bee47094-c442-11e5-8341-75277c22927a.png)

![image](https://cloud.githubusercontent.com/assets/1075154/12598985/d188f8b4-c442-11e5-9886-fb7c23f281e8.png)

[2016-01-26 23:41] iwehrman commented on #3591
This also affects swap. It takes minutes to swap artboards on Vermilion.

[2016-01-27 00:06] chadrolfs commented on #3581
Here's another case where it fails:
create two shapes, select them both, click on one of the combine icons (e.g. Unite), cmd+z - doesn't work.

[2016-01-27 01:07] iwehrman commented on #2020
Fixed by #3611!

[2016-01-27 01:07] #2020 closed

[2016-01-27 01:08] iwehrman commented on #3599
Please verify and close, @placegraphichere.

[2016-01-27 19:36] iwehrman commented on #3404
This looks fixed to me!

[2016-01-27 19:36] #3404 closed

[2016-01-27 20:37] iwehrman opened #3619 "Unrecoverable error initializing background documents for search"
[code]

This also seems to send `Adobe Spaces Helper` into a divergence, which is extra bad.

[2016-01-27 21:40] iwehrman commented on #3619
Fixed by #3620.

[2016-01-27 21:40] #3619 closed

[2016-01-27 22:01] chadrolfs opened #3624 "Deleting layers in big documents is slow"
Open Vermillions and expand all layers
select a layer towards the bottom and repeatedly hit Delete

Result:  Performance issue, sample:
Finished action layers.deleteSelected in 381ms with RTT 24094ms
Executing action history.handleHistoryState after waiting 23990ms
Executing action tools.resetBorderPolicies after waiting 7083ms

[2016-01-27 22:27] iwehrman opened #3625 "Color picker layout overflow in German builds"
![image](https://cloud.githubusercontent.com/assets/1075154/12630594/1531c446-c502-11e5-8f3f-8e388b5b9b40.png)

[2016-01-27 22:30] iwehrman opened #3626 "Debug builds only support English"
The loc team is going to need an easy way to create non-English debug builds. Something like `grunt debug:de`. And, while we're in there, it would be nice to have similarly parametrized `compile` targets, like `grunt compile:en`, which _only_ produces a compiled build for the English locale.

[2016-01-27 22:54] chadrolfs commented on #3624
<img width="1355" alt="screen shot 2016-01-27 at 1 55 58 pm" src="https://cloud.githubusercontent.com/assets/8442631/12629865/84d76c78-c4fe-11e5-89e4-0e693bbc6cc3.png">

[2016-01-27 23:20] chadrolfs commented on #3137
Yup.

[2016-01-27 23:20] #3137 closed

[2016-01-27 23:52] chadrolfs opened #3628 "Datalists colors are inconsistent (selections hard to read on some themes)"
compare search, cc libraries and blend modes datalists (effect and appearance).

blend modes is lighter and highlight is harder to read.

[2016-01-27 23:52] chadrolfs commented on #3628
<img width="184" alt="screen shot 2016-01-27 at 3 48 51 pm" src="https://cloud.githubusercontent.com/assets/8442631/12632602/faf80ac0-c50d-11e5-9257-0b44ce5d9476.png">
<img width="190" alt="screen shot 2016-01-27 at 3 49 14 pm" src="https://cloud.githubusercontent.com/assets/8442631/12632601/faf77c54-c50d-11e5-8df7-863e02604139.png">

[2016-01-27 23:53] chadrolfs commented on #3628
related to #3345

[2016-01-27 23:57] ktaki commented on #3625
Japanese:

![screen shot 2016-01-27 at 3 29 33 pm](https://cloud.githubusercontent.com/assets/2029597/12632685/a8a7833a-c50e-11e5-91d1-c8f8fabc2d9c.png)

French:

![screen shot 2016-01-27 at 3 51 28 pm](https://cloud.githubusercontent.com/assets/2029597/12632688/ac489b46-c50e-11e5-8503-e1176b7ac8cb.png)

[2016-01-28 00:03] iwehrman opened #3630 "Error creating new document"
On master at 55237842f75d3bc8c409fb12cd9263c4009c956e with Mac pgdev.1016 I'm seeing an error every time I create a new document with cmd-N:

[code]

[2016-01-28 00:16] chadrolfs opened #3631 "CC Libraries auto-vaccuum is on by default (it should be off)"
open Vermillion
notice progress bar: waiting for libraries, converting colors
check your libraries after progress dialogs finish

Result: you now have a new library called VermillionArtboards

[2016-01-28 00:19] iwehrman commented on #3630
This is due to a recent core issue, tracked here:
https://jira.corp.adobe.com/browse/PS-1109

[2016-01-28 07:51] DivyaPrabhakar commented on #3524
@ktaki I have updated the PR #3479 with the fix to this issue since the PR #3606 was merged but did not fully solve the problem. You can test that branch for all search functionalities now, including the fix to this issue.

[2016-01-28 16:40] iwehrman commented on #3631
I'm pretty sure we need a JIRA bug for this.

[2016-01-28 16:57] placegraphichere commented on #3599
This feels so much better, thanks for getting this done @shaoshing!

[2016-01-28 16:57] #3599 closed

[2016-01-28 17:04] placegraphichere commented on #2442
this is an older issue, but I would perhaps propose a couple options here:

1. Stock icon from Libraries panel would launch into our App-Search with Stock pre-selected.
2. Remove stock icon from Libraries panel in favor of a better placement. This would launch into our App-Search with Stock pre-selected.
3. Close issue and leave this as is (we'll have Stock in search soon)

[2016-01-28 20:04] iwehrman opened #3633 "Error opening Photoshop about dialog"
[code]

[2016-01-28 20:05] iwehrman commented on #3630
Fixed in Mac pgdev.1020 by CL 1061111.

[2016-01-28 20:05] #3630 closed

[2016-01-28 20:05] iwehrman commented on #3628
Might need some input from @placegraphichere here first.

[2016-01-28 21:56] ktaki opened #3634 "Drag and drop graphics from CC lib onto canvas won't update Layers panel"
Placing the asset is successful. Just Layers panel is not updated.
This might be related to #3575.

[2016-01-28 22:08] ktaki opened #3635 "Drag and drop a photo from browser causes an error"
Action layers.addLayers failed: base element not found

Open Adobe Stock site in a browser. Drag and drop a photo onto a canvas.

![screen shot 2016-01-28 at 2 03 32 pm](https://cloud.githubusercontent.com/assets/2029597/12660336/167bdac8-c5c8-11e5-945c-6e57044bcf66.png)

[2016-01-29 00:00] ktaki opened #3636 "Inner Shadow should be listed above Color Overlay"
In Effects panel, the order should be

Stroke
Inner Shadow
Color Overlay
Drop Shadow

![screen shot 2016-01-28 at 3 57 22 pm](https://cloud.githubusercontent.com/assets/2029597/12662877/2fd8c96c-c5d8-11e5-9190-be565bed3b29.png)

[2016-01-29 01:03] ktaki opened #3638 "Tooltip for tools in the Toolbar flashes before displayed"
GIF video won't capture this flash. So, please try. Mouse over to a tool in the toolbar. The tooltip flash a fraction of a second before being displayed. Mousing over the second time won't make it to flash, but click the title bar and come back to the toolbar, it flashes again. It appears to be Mac only.

[2016-01-29 01:13] iwehrman commented on #3638
I think I have better repro steps. Try moving your mouse from above the "libraries" panel header on top of it. This causes the tooltip to flash once right where the mouse is, and then it disappears and comes back below the mouse.

http://cloud.wehrman.org/0s1V2y3v342W

[2016-01-29 01:17] iwehrman commented on #3638
Tracking: https://jira.corp.adobe.com/browse/PS-1125

[2016-01-29 17:38] iwehrman commented on #3636
FBNC to @ktaki.

[2016-01-29 17:55] volfied commented on #3136
@iwehrman you said this is partially addressed by #3627, can you comment on what's left / update the bug.

[2016-01-29 18:05] chadrolfs commented on #3631
https://jira.corp.adobe.com/browse/PS-1127

[2016-01-29 18:05] iwehrman commented on #3136
Still missing: respecting the system preferences for the decimal separator when it differs from the locale default, and possibly also correctly formatting percents.

[2016-01-29 19:28] iwehrman opened #3639 "synchronization.debounce ignores promise"
On master, [`synchronization.debounce`](https://github.com/adobe-photoshop/spaces-design/blob/5f40f5dbdedcf4a405f0037142278db9ff5933f1/src/js/util/synchronization.js#L97) doesn't actually do anything with the promise returned from the supplied function. At best it is equivalent to `_.debounce`. At worst, it's broken. I'm not sure yet. In the short term, I'm removing the `promise` variable to quiet

[2016-01-29 22:00] ktaki commented on #3636
Verified the fix.

[2016-01-29 22:00] #3636 closed

[2016-01-29 22:49] ktaki opened #3644 "Switch to DS with Pen tool selected will result in unrecoverable error"
Select Pen tool in standard Ps and switch to DS, then load current master. It does not matter a doc is opened or not.

![screen shot 2016-01-29 at 2 45 39 pm](https://cloud.githubusercontent.com/assets/2029597/12690303/53a3429a-c697-11e5-9a2c-b150519e9459.png)

[2016-01-29 23:15] ktaki commented on #3644
Pen, Type, and Sampler tools do the same.

[2016-01-29 23:15] #3644 closed

[2016-02-01 19:01] iwehrman commented on #3639
Fixed by #3641.

[2016-02-01 19:01] #3639 closed

[2016-02-01 19:37] chadrolfs commented on #3549
at reasonable resolutions, this is resolved.  However, at smaller resolutions (on mac thunderbolt at 1280x720 or on PC at 1366x768) there is still clipping.
PC:
![icon-clipping](https://cloud.githubusercontent.com/assets/8442631/12728666/c462d3d2-c8d7-11e5-948b-d2cae3cc2e1f.png)

[2016-02-01 19:38] chadrolfs commented on #3549
Mac:
![screen shot 2016-02-01 at 11 37 59 am](https://cloud.githubusercontent.com/assets/8442631/12728782/476d7016-c8d8-11e5-8c13-ab025d0695c9.png)

[2016-02-01 19:42] chadrolfs commented on #3549
downgrading to medium priority since most of our users are probably not using that low of a monitor resolution.

[2016-02-02 01:01] ktaki opened #3650 "Cannot add effects"
Open new doc, add a shape, click '+' in the Effects panel, and choose an effect (e.g., Stroke).

Uncaught TypeError: Cannot read property 'addEffect' of undefined

![screen shot 2016-02-01 at 4 58 19 pm](https://cloud.githubusercontent.com/assets/2029597/12736453/5f067876-c905-11e5-8d90-382e21119940.png)

[2016-02-02 17:11] iwehrman commented on #3650
FBNC to @ktaki.

[2016-02-02 17:32] ktaki commented on #3650
Verified the fix.

[2016-02-02 17:32] #3650 closed

[2016-02-02 18:34] iwehrman commented on #3635
Probably happens for all images from browsers?

[2016-02-02 18:36] #3631 closed

[2016-02-02 18:48] iwehrman commented on #3595
I haven't seen this lately. Can you try to repro @chadrolfs?

[2016-02-02 18:53] iwehrman commented on #3516
Killed by @jsbache

[2016-02-02 18:53] #3516 closed

[2016-02-02 18:56] iwehrman commented on #2612
Please file a new JIRA bug and assign to John Worthington. This bug can be closed at that point.

[2016-02-02 19:13] ktaki commented on #3635
Yes, that is the case. Dragging any image from browsers on to canvas does.

[2016-02-02 19:14] chadrolfs commented on #2612
https://jira.corp.adobe.com/browse/PS-1206

[2016-02-02 19:14] #2612 closed

[2016-02-02 19:57] ktaki commented on #3136
Also missing is a manual number input support. Currently fields do not accept numbers with comma as a decimal separator.

[2016-02-02 20:57] mcilroyc commented on #3454
Created JIRA https://jira.corp.adobe.com/browse/PS-1208

[2016-02-02 21:09] volfied commented on #3604
If extras are hidden, trying to show guides in PS fails by NotAvailable error. This will require core work, or us to turn on extras at all times (which will also require core work as there doesn't seem to be a setter for extrasVisible flag)

[2016-02-02 21:11] volfied commented on #3581
Seems like selecting the layers in the panel is the cause of this, we're probably stopping propagation.

[2016-02-02 21:23] chadrolfs commented on #3604
https://jira.corp.adobe.com/browse/PS-1212

[2016-02-02 21:23] chadrolfs commented on #3604
Also related to a crasher PS-1032

[2016-02-02 21:37] mcilroyc commented on #1613
I'll leave this open, and assigned to me with a medium priority.  Hopefully we can find a better solution than just increasing the delay.  For now I think 100ms is a good balance between optimizing happy-path performance for our target users and preventing errors on slow machines.

[2016-02-02 21:39] ktaki opened #3653 "Marquee select does not work"
Open new doc. Create a few shape layers. Try marquee select. No shapes are selected.

[2016-02-02 22:01] mcilroyc commented on #3342
@ktaki I think the essential character of this issue has changed.  Placing (linked or embedded) now auto-commits, right?

After placing, If you explicitly enter a modal transformation state (by resizing the placed layer, for instance) then Undo does behave "weirdly".  To wit: It uses the standard "undo" command, similar to text editing, only allowing toggling back/forth between current and previou

[2016-02-02 22:06] chadrolfs commented on #3653
this just broke.  I was working this morning

[2016-02-02 22:08] volfied commented on #3581
This is due to fact that we call acquireFocus on mousedown for LayerFace's TextInput, but never call releaseFocus. Not sure how to fix it, but I'm leaving this note here so the next dev doesn't have to triage it.

[2016-02-02 22:34] ktaki commented on #3653
Verified the fix.

[2016-02-02 22:34] #3653 closed

[2016-02-02 22:35] chadrolfs opened #3655 "Reloading DS with multiple docs open results in incorrect bounds until all layers are initialized"
Open/create multiple docs and select top artboard
reset DS
cmd + ` to cycle through open docs (notice bounds and adders)

Result: they are incorrect until you cycle through the docs a 2nd time (once all layers are initialized)

[2016-02-02 22:36] chadrolfs commented on #3655
![reset-boundsoff](https://cloud.githubusercontent.com/assets/8442631/12766798/4d2b6cb4-c9ba-11e5-8257-73bf43fd50af.gif)

[2016-02-02 22:53] ktaki commented on #3342
@mcilroyc You are right. No error like the above can be reproduced. Undo seems to work reasonably. If I find some oddity on undo, I will open a separate issue. Closing this one.

[2016-02-02 22:53] #3342 closed

[2016-02-02 23:30] mcilroyc commented on #3159
FWIW, the export panel behaves differently for the Nth (rightmost) document when multiple documents are open

[2016-02-02 23:38] chadrolfs commented on #3595
I CNR

[2016-02-02 23:38] #3595 closed

[2016-02-02 23:42] chadrolfs opened #3656 "Revert is slower in DS than in standard PS and generally very slow"
Open Vermillions in standard PS, move a group or some layer
hit F12 to revert
Results: range is between 9-11 seconds

repeat steps in DS
Result: range is between 13-30 seconds
Finished action history.revertCurrentDocument in 29318ms with RTT 29591ms; 1/1
Executing action tools.resetBorderPolicies after waiting 29128ms; 1/0
Finished action tools.resetBorderPolicies in 365ms with RTT 29493ms; 1/0

O

[2016-02-03 00:14] volfied commented on #2599
I believe this is fixed now. My guess is the problem was related to the fact that we were in a modal transform state when placing, which would cause the addLayer call to not complete correctly and replace the existing layer. But now that we don't go into a modal state and immediately place the image, everything works fine.

@chadrolfs please verify.

[2016-02-03 01:35] iwehrman commented on #3581
FBNC to @chadrolfs.

[2016-02-03 01:42] iwehrman opened #3658 "Color picker slider position doesn't update on undo"
1. Change the color of a shape by dragging the slider on the color picker map.
2. Undo.

Result: the color of the shape is updated on canvas, but neither the color slider position nor the color input are updated.

Bonus: If you change the color to be pure black with the slider in the bottom right corner, undo moves the slider to the bottom left corner.

![image](https://cloud.githubusercontent.com

[2016-02-03 07:18] DivyaPrabhakar commented on #3610
This is also solved in PR #3479 now

[2016-02-03 15:58] mcilroyc opened #3660 "Undo after deleting an invisible layer restores layer visibility"
Repro: drag out 3 rects, select one, turn visibility off, then delete, then undo. Result: layer is returned but with visibility on.

This is a spin-off of #1942.  The following are comments distilled from that issue...

With the "three rect" repro scenario mentioned above, there is indeed a difference between PS and DS. But interestingly, it has to do (it seems) with where the layer creation/delet

[2016-02-03 16:01] mcilroyc commented on #1942
Per my previous comment, I've spun-off a separate bug #3660 to deal specifically with the layer visibility after undo.  I think *this* bug should remain open to deal with the selection state in the scenarios described above with invisible groups.  But I think this issue should be *blocked* until 3660 is better understood.

[2016-02-03 16:17] mcilroyc commented on #3660
core: PS-1226

[2016-02-03 16:28] mcilroyc commented on #3658
More/different badness: After making several color changes, `undo` changes the color picker but incorrectly.  This may be `coalesce` related?
![ss](http://cl.ly/1b2C231A1W0A/Screen%20Recording%202016-02-03%20at%2010.23%20AM.gif)

[2016-02-03 18:33] iwehrman commented on #3417
Kicking this out of the milestone since we're blocked on core.

[2016-02-03 18:33] iwehrman commented on #3633
@chadrolfs: can you verify that this works and close if so?

[2016-02-03 19:05] chadrolfs commented on #3465
![screen shot 2016-02-03 at 11 04 47 am](https://cloud.githubusercontent.com/assets/8442631/12793552/1063095c-ca66-11e5-9b5b-bd4b46528a29.png)

[2016-02-03 22:11] chadrolfs opened #3663 "Increasing/decreasing stroke moves Radius slider but value doesn't change"
![stroke-radius](https://cloud.githubusercontent.com/assets/8442631/12798741/f120d33e-ca7f-11e5-822e-4d4cbeea2268.gif)

[2016-02-03 22:23] iwehrman commented on #3663
This is as designed. The max radius is based on the bounds of the shape and and changing the stroke width changes the bounds. Hence, the relative position of the slider changes when the stroke width changes.

[2016-02-03 22:42] chadrolfs opened #3664 "bounds highlight doesn't show until you mouse is inside the vector"
you also can't select or move the shape by clicking on the path (if it's outside the vector path)
single click in stroke area does not select the shape
single click + drag invokes marquee which will select the shape

![layerbounds-stroke](https://cloud.githubusercontent.com/assets/8442631/12799572/57719f0c-ca84-11e5-84ba-3771c3dc59ab.gif)

[2016-02-03 22:48] chadrolfs commented on #3664
https://jira.corp.adobe.com/browse/PS-1237

[2016-02-03 22:48] #3664 closed

[2016-02-03 22:54] chadrolfs commented on #3663
I'm not sure I agree from a user's perspective, especially if the radius has already been max'd out.  Also, forward thinking... how will we handle this if/when we implement per corner radii?

related to #3664

[2016-02-03 23:02] chadrolfs opened #3665 "Click + drag to select all in text input doesn't actually enter modal state even though it looks like it is"
Select a shape
click to left of stroke input to select all (value is highlighted)
arrow up/down

Result: shape moves position on canvas, text input value doesn't change

![selectall-textinput](https://cloud.githubusercontent.com/assets/8442631/12800004/152cee0a-ca87-11e5-949a-72319476e489.gif)

[2016-02-03 23:12] chadrolfs commented on #3663
Also, if you start toggling stroke visibility, should you really see other things move?

[2016-02-03 23:14] #3633 closed

[2016-02-03 23:23] chadrolfs commented on #1756
upping the priority.  imagine this scenario in a huge document:
![undo-expand](https://cloud.githubusercontent.com/assets/8442631/12800470/1143f4f2-ca8a-11e5-9909-ef8519b9bda9.gif)

[2016-02-03 23:24] chadrolfs commented on #1756
relate to #3581

[2016-02-03 23:25] #3581 closed

[2016-02-03 23:58] #2599 closed

[2016-02-03 23:58] ktaki opened #3667 "Font change should be undo-able by just one Cmd/Ctrl-z"
Font faces previewed, i.e., not committed, should not be added to the history.

[2016-02-04 00:42] iwehrman commented on #3663
I agree that there is something funny here, especially w.r.t. to #3664. I also agree that toggling stroke visibility, by the current design, should cause the slider to update since it causes the bounds to update as well.

[2016-02-04 01:24] ktaki commented on #2297
Verified that opening/closing the UI panels no longer kill the modal state.

[2016-02-04 01:24] #2297 closed

[2016-02-04 01:37] ktaki commented on #2832
The core bug was closed as Not This Product. The dialog is correctly displayed when text was clicked for editing. If attributes are changed in the appearance panel, the dialog is suppressed. Could this be JS side issue?

[2016-02-04 17:57] tiburbage commented on #2479
I've closed Watson https://watsonexp.corp.adobe.com//#bug=4056811 at Jesper's request. I do think the display of some UI text, including Artboard titles, is blurry on a standard res display, but I couldn't see any connection between this and Spaces/Design Space: it appears to be a core font rendering issue.

[2016-02-04 18:02] tiburbage commented on #2946
The Watson which referenced this issue has been closed, Jesper asserting he's not convinced action on the Spaces/C++ side is the right remedy.

https://watsonexp.corp.adobe.com//#bug=4074645

[2016-02-04 18:53] volfied opened #3669 "Remove modifier store dependency in superselectOverlay"
Instead of relying on modifier store to render leaf bounds vs regular bounds, we should instead render all bounds and in updateMouseOverHighlights use the EXTERNAL_MOUSE_MOVE event modifiers to know which ones to highlight.

[2016-02-04 19:06] iwehrman commented on #3669
After looking into this a little, I'm not sure we actually want to change `SuperSelectOverlay`. Yes, we get modifiers on `externalMouseMove` events, but we also want to track this state in `SuperSelectOverlay` independent of  move movement. For example, we want to re-render the overlay when the modifier state changes even without a mouse move event. So, to do this, we'd need to push most of the lo

[2016-02-04 19:13] placegraphichere opened #3670 "Search bar reacts strangely when resizing the application"
When resizing the application, it appears that some odd things happen to the search bar:
- Unwanted Autocomplete occurs, but just the text and not the icon (artboards in this case)
- After resize hovering over the search bar will make the text do a weird transform or size change
- Only after deleting or clearing the search will it return to normal.

![resize-app-while-search-is-open](https://cloud

[2016-02-04 19:59] chadrolfs opened #3672 "Applying Character Style to Artboard has no effect (inconsistent with standard PS behavior)"
1.Create an artboard containing a mix of different layer types (pixel, smart obj, text, shape)
2. Select the Artboard (selects all children as well)
3. Load a library that has Colors, Character Styles, and Layer Styles
4. Click on one from each of these sets ^^

Result: There is an inconsistency in each separate workspace and an inconsistency between the two workspaces (any standard PS workspace v

[2016-02-04 20:01] chadrolfs commented on #3672
https://jira.corp.adobe.com/browse/PS-1252

Logged in JIRA for core side. This may be a core only bug, but with the inconsistencies, maybe not.

[2016-02-04 20:19] iwehrman commented on #3670
I suggest that we just dismiss the search bar when resizing the app frame. In a perfect world it would be repositioned, but that is not the world in which we live.

[2016-02-04 20:53] volfied commented on #3669
Initial reason of modifier store was to not do what this issue is suggesting, and based on the edge case, I'm closing this issue.

[2016-02-04 20:53] #3669 closed

[2016-02-04 20:59] placegraphichere commented on #3670
@iwehrman I accept this idea whole heartedly

[2016-02-04 22:24] mcilroyc commented on #3658
bisect indicates first bad commit: 5d7ae63e6c4f9b410f52f9be2fbad1b8ccd9f09d

[2016-02-04 22:40] chadrolfs opened #3673 "Return key fails to enter vector edit mode on a shape that contains multiple shapes"
new doc,
drag out an ellipse, hold down alt/opt to subtract (or shift to add) and drag out another ellipse
switch to select tool and hit the Return key to enter vector edit mode

Result: denied

Notes:
Enter key on numpad works

[2016-02-04 22:41] chadrolfs commented on #3673
![shape-enter](https://cloud.githubusercontent.com/assets/8442631/12832186/4dc674fe-cb4d-11e5-957d-1f56d82f35d0.gif)

[2016-02-04 22:41] ktaki commented on #652
@chadrolfs: I think you can close this.

[2016-02-04 22:53] chadrolfs commented on #1370
still occurs in sprint 3.3 build.

[2016-02-04 22:56] chadrolfs opened #3674 "Dragging a library asset onto canvas should exit vector edit mode"
drag out a shape, hit enter or double-click it to enter edit mode (cursor turns to white pointer)
drag an asset or two from Lib panel onto canvas

Result: you're still in vector edit mode
Expect: dragging an asset, i.e. creating a new layer, should exit edit mode.

[2016-02-04 23:06] mcilroyc commented on #3658
You break it, you bought it.  @shaoshing can you please take a look at this since it *seems* that your "Delay running action to promote browser painting" performance hack has significantly regressed the color picker "timeTravel" handling.  You can assign it back to me if you think we need to re-jigger the way this works wrt to history ... but I figured you're the best candidate to make progress on

[2016-02-04 23:12] chadrolfs commented on #652
Ideally, double-clicking the layer should essentially unlock it and go into rename mode.  That saves clicks from the current workflow which is:
1 move mouse,
2 click lock icon to unlock the layer (convert to normal layer),
3 then move mouse and
4 double-click name to enter rename mode.

vs.
1 move mouse
2 double-click name to enter rename mode

Since creating traditional PS docs with Background la

[2016-02-04 23:28] ktaki opened #3675 "Win only: Preview typeface is serif for Myriad Pro"
The default font Myriad Pro is shown as serif font in the font preview in Appearance panel. It should be sans-serif. Windows only.

[2016-02-04 23:34] iwehrman commented on #3675
It may be that Myriad Pro is not installed as a system font? That is, it may not be installed in a way that CEF can load it. I don't know anything about how fonts are installed on Windows though. @ktaki do you know if there is a way to list the installed fonts on Windows?

[2016-02-05 00:04] chadrolfs opened #3676 "Attempting to set focus to alternate input closes Color Picker and sets focus to Color Picker instead of desired location"
create a shape
click on stroke to set color
click on size text input to increase size

Result: Color picker closes and has focus
Expect: Color picker to close and set focus where user clicked

The more I do this, the more it bugs me.

[2016-02-05 00:04] chadrolfs commented on #3676
![colorpicker-focus](https://cloud.githubusercontent.com/assets/8442631/12833984/07ef63e4-cb59-11e5-8b0f-6b67c7a1dba1.gif)

[2016-02-05 00:06] chadrolfs commented on #3676
having to click again is what has been driving me crazy.

[2016-02-05 00:15] ktaki commented on #3675
Windows fonts are under \\Windows\Fonts. Photoshop supplies MyriadPro under Adobe Photoshop CC 2014.app/Contents/Required/typesupport/.f, and I see the fonts are there.

[2016-02-05 00:24] ktaki commented on #3675
Photoshop supplies the fonts below under Adobe Photoshop CC 2014.app/Contents/Required/typesupport/.f in encripted form.
This might be the issue?

1. AdobeDevanagari-Bold
2. AdobeDevanagari-BoldItalic
3. AdobeDevanagari-Italic
4. AdobeDevanagari-Regular
5. AdobeFanHeitiStd-Bold    (Traditional Chinese)
6. AdobeGurmukhi-Bold
7. AdobeGurmukhi-Regular
8. AdobeHeitiStd-Regular  (Simplified Chinese)
9.

[2016-02-05 15:21] #780 closed

[2016-02-05 18:56] chadrolfs opened #3677 "Remove menu items: Help > Run Tests... (debug)"
It doesn't work.

[2016-02-05 21:17] ktaki opened #3678 "Closing files rapidly in succession will cause an error"
Action documents.close failed: TypeError: Cannot read property 'id' of null

The error can be seen closing large documents in succession by repeated Cmd/Ctrl-w, but easiest method for reproducing this error is the following.

1. Create two new documents by Cmd/Ctrl-n
2. Closing the two files by keep pressing Cmd/Ctrl-w

![screen shot 2016-02-05 at 11 05 40 am](https://cloud.githubusercontent.com/a

[2016-02-05 21:29] chadrolfs commented on #3678
I ran into this once yesterday but cnr on subsequent attempts.  Thanks for tracking this down.

[2016-02-05 21:39] ktaki opened #3679 "Opening large documents in one open command will cause an error"
Uncaught TypeError: Cannot read property 'id' of null

Method:
0. Reset DS
1. Locate Vermilion doc and create a copy of it. (i.e., two Vermilions)
2. Cmd/Ctrl-o.
3. Select the original Vermilion doc and its copy at the same time.
4. Click Open.

![screen shot 2016-02-05 at 1 34 17 pm](https://cloud.githubusercontent.com/assets/2029597/12859840/a3e963a8-cc0d-11e5-96b2-782762e4586f.png)

[2016-02-07 00:02] iwehrman opened #3681 "Keyboard input doesn't work in PS native modal dialogs (Save, New...)"
I used to be able to press cmd-D to dismiss the Photoshop native close-dirty file modal dialog without saving, or to press enter to save, but that doesn't seem possible at the moment. This is almost certainly a core bug, and probably due to @jfitz-adobe's recent changes. I'm logging it here for now because I'm too lazy to get on the VPN to file it in JIRA.

[2016-02-07 20:08] iwehrman commented on #3679
I can't reproduce, but looking at `allocateDocument` I'm not surprised that something could go awry here: we call `_getSelectedDocumentID` to allocate the "current" document, regardless of whether that relates to the document ID passed in (which is a little weird?), but conceivably a new document could become active after that as a result of multiple documents having been opened at once. CC @mcilr

[2016-02-07 20:09] iwehrman commented on #3679
With that said, I don't know exactly what is causing that particular error, and that would be good to track down in case either a) my guess above about what's wrong is incorrect, or b) it's correct, but we can recover more gracefully. CC @shaoshing also since he may be considering our document initialization routines as part of his performance optimization work.

[2016-02-07 20:16] iwehrman commented on #3678
I can repro. The problem is that the action assumes that a valid document model exists because the menu command is supposed to be disabled when that isn't the case. But the menu is not rebuilt for a few hundred milliseconds after the models are updated so that updates can be grouped, thus reducing unnecessary work. As a result, the `File > Close` command is enabled when it shouldn't be after the l

[2016-02-07 20:22] iwehrman commented on #3604
Kicking this out of the sprint milestone because it's blocked on core work.

[2016-02-07 20:38] iwehrman commented on #3635
Hmm, I can't repro on Mac pgdev.1054 at 86ccaf629190b7baccbdaf1d663a22f9c55500a9. Did you observe this on Mac or Win?

[2016-02-08 17:30] mcilroyc commented on #3679
My initial hunch is that a reasonable fix may just be to add some defensive code in the menu update routine.  I'm still trying to repro.  Perhaps I need to try on a slower machine...

[2016-02-08 17:33] ktaki commented on #3679
If two Vermillion documents do not produce the error, try with three or four duplicates.

[2016-02-08 17:45] chadrolfs commented on #3681
you shouldn't even need the Cmd, simply pressing D should work, but yes, it is broken.  Same on Windows (hitting N fails to Not Save).  Esc also fails to Cancel

https://jira.corp.adobe.com/browse/PS-1277

[2016-02-08 17:46] ktaki commented on #3635
I tried with the Mac pgdev 1060 at 86ccaf6. It is and has been easy to repro for me. @chadrolfs Can you try it? Just drag any image from a browser to a canvas.

[2016-02-08 19:32] mcilroyc commented on #3679
FYI, *can repro* on Windows VM

[2016-02-08 19:53] chadrolfs commented on #3635
yep, piece of :cake:, I can repro very easily

[2016-02-08 21:07] volfied commented on #3678
FBNC to @ktaki

[2016-02-08 21:48] ktaki commented on #3678
Verified the fix.

[2016-02-08 21:48] #3678 closed

[2016-02-08 22:25] chadrolfs commented on #3681
This isn't just keyboard shortcuts for native dialogs.  It's key strokes in general.  You can't name files you save, you can specify dimensions or name for new files you create.  This is a serious Blocking issue.

[2016-02-08 22:31] volfied commented on #3505
This is happening if you click swap fast enough that we enqueue two `swapLayersCurrentDocument` actions, and we don't get enough time to process handleCanvasShift in between.

It's not possible to repro this if you click swap slow enough.

[2016-02-08 22:59] mcilroyc commented on #3658
FBNC.  Please review @ktaki

[2016-02-08 23:35] ktaki commented on #3658
@iwehrman: You stated "Bonus: If you change the color to be pure black with the slider in the bottom right corner, undo moves the slider to the bottom left corner."

Currently, if RGB is set to (0,0,0), then HSB is forced to be set to (0,0,0) once color picker is closed. Is this the behavior you want? Or, do you want to HSB to be reset only with undo?

[2016-02-09 00:06] iwehrman commented on #3658
I don't really care where the slider is when you open the picker with HSB = (0,x,0). The problem is that if I move the slider to, say, (0,50,0) in one step, and then move it to say, red, in a second step, when I undo it goes back to HSB = (0,0,0) instead of (0,50,0). These all mean "black" but the slider goes to a different place in the map. It's relatively a minor issue.

[2016-02-09 00:25] ktaki commented on #3658
@iwehrman: I see. I misread your statement. I thought you wanted the feature. You were actually describing a bug instead. Yes, once B is set to 0 and close the color picker, next time you open it, you will see RGB and HSB all set to 0. The slider is at the bottom left corner. This has not been fixed. I also see if S and B values are set to small value (<=4), H value will be reset to 0. I agree thi

[2016-02-09 01:00] ktaki opened #3688 "Color picker: If B is set to 0, H and S are reset to 0"
In color picker, set the H and S to be non-zero, and set the B to zero.
Example: HSB = (200, 100, 0)
Close the color picker. Reopen it.

Result: H and S values are set to zero. (0, 0, 0)
Expected: No changes to H and S value. (200, 100, 0)

Also, If S and B values are set to be <= 4, H and S values are reset to zero, when color picker is closed and reopened. (Example: HSB = (200, 4, 4) becomes (0,

[2016-02-09 01:02] ktaki commented on #3658
Opened the issue above as #3688.

[2016-02-09 01:08] shaoshing opened #3689 "Undoing rotation always reverts to 0, instead of the previous value"
Reproduce:

1. create and select a new layer
2. Set rotation to 10
3. Set rotation to 20
4. undo
5. layer on the canvas is reverted to 10 degree, while the input is set to 0 incorrectly.

![undo-rotation](https://cloud.githubusercontent.com/assets/118264/12904762/6689727a-ce86-11e5-9b41-03d86eebe7de.gif)

[2016-02-09 01:12] ktaki opened #3690 "Color picker does not show color values from CCLibs"
It would be nice if color picker shows the color values of a color applied from CC Libraries.

Select a shape layer and open color picker.
Click on a color in a library in Library panel.

RESULT: The color of the shape changes on canvas, but color picker does not reflect new color values
EXPECTED: Color picker shows the color just applied.

Workaround: Closed the color picker and reopen it.

[2016-02-09 01:16] ktaki commented on #3658
Closing this one as fixed.

[2016-02-09 01:16] #3658 closed

[2016-02-09 02:36] chadrolfs commented on #3689
This has been the implementation from the beginning.  Note too, that if you enter a rotation value, then deselect the shape and then reselect it, it will be reset to 0.

[2016-02-09 04:04] iwehrman commented on #3658
Thanks @ktaki! And sorry for the initial confusion.

[2016-02-09 04:08] iwehrman commented on #3679
FBNC to @ktaki.

[2016-02-09 17:55] ktaki commented on #3679
Verified the fix.

[2016-02-09 17:55] #3679 closed

[2016-02-09 18:24] iwehrman commented on #3505
FBNC to @chadrolfs

[2016-02-09 19:07] chadrolfs commented on #3673
@volfied you may want to peek at this at some point.

[2016-02-09 23:08] ktaki opened #3693 "Hitting Cmd/Ctrl+Period in text editing mode causes an error"
Press Cmd/Ctrl+period to cancel text editing mode will produce:
Uncaught TypeError: this.flux.actions.tool.type.handleTypeModalStateCanceled is not a function

![screen shot 2016-02-09 at 3 04 48 pm](https://cloud.githubusercontent.com/assets/2029597/12933790/dbf8b170-cf3e-11e5-9739-9ab033361033.png)

[2016-02-09 23:22] ktaki commented on #3693
Note that the result is the same by hitting Esc key if Esc key is set to cancel the text editing.

[2016-02-09 23:25] chadrolfs commented on #3693
I wonder if this is related to the native dialogs bugs #3681

[2016-02-09 23:44] chadrolfs commented on #3505
same steps as above but after you swap a few times, move the selection a bit and then swap again.

![swap-fail2](https://cloud.githubusercontent.com/assets/8442631/12934522/fd41ab8e-cf43-11e5-9cdb-7d443fe5823b.gif)

[2016-02-09 23:45] ktaki opened #3694 "Opening large documents in one open command may cause history warnings"
... when opened doc was selected in doc bar.
[History] Could not amend history, document history not found: 2424

(Related to the issue #3679 just fixed.)

Method:
0. Reset DS
1. Locate Vermilion doc and create a copy of it. (i.e., two Vermilions)
2. Cmd/Ctrl-o.
3. Select the original Vermilion doc and its copy at the same time.
4. Click Open.
5. After the docs are opened, select the first doc on

[2016-02-10 18:21] iwehrman commented on #3689
@chadrolfs see if this is a dupe? Or consider closing.

[2016-02-10 18:29] mcilroyc opened #3698 "Undo after move in newly-opened large document may result in incorrect overlay positions"
repro:
1. Open vermillion
1. Zoom in, select a group
1. Drag to move (notice a screen flash!)
1. Undo
1. Notice the blue borders drawn in the wrong spot as you hover around adjacent layers

Changing focus from/to photoshop will correct the issue.

This may be a recent regression, so a git bisect could help.

http://cl.ly/0X3k0A463G40

[2016-02-10 18:32] iwehrman commented on #3665
We should consider making non-editing number inputs not selectable? Or change the style of the selection to make it different from an editing input?

[2016-02-10 18:41] iwehrman commented on #2531
Please file a JIRA issue.

[2016-02-10 18:46] iwehrman commented on #2443
@placegraphichere Do you think we should have different icons for the sampler hud?

[2016-02-10 18:48] iwehrman commented on #2442
I vote for 1).

[2016-02-10 18:51] iwehrman commented on #2360
@shaoshing Can you stuff this into JIRA somehow?

[2016-02-10 19:51] iwehrman commented on #3635
I still can't repro, I guess it's a timing issue. Maybe some other engineer can try to repro? @DivyaPrabhakar?

[2016-02-10 20:59] iwehrman commented on #3310
This is happening to me again. It's really frustrating that the Design Space panel can't seem to initialize Libraries after this happens but the CEP panel can... @shaoshing: do you think you could check in with the Magenta team to see how they manage to do this?

[2016-02-10 22:02] iwehrman commented on #3136
After #3692, the only thing missing that I know of is % formatting. (In some locales, a space precedes the %.) We should probably just file a different bug for that, though. Over to @ktaki to verify.

[2016-02-10 22:48] ktaki commented on #3136
New implementation is if the decimal separator is set to other than a period in the system prefs, it is set to use a comma. Windows offers an apostrophe as a choice, and standard Ps honors the selection.
According to wikipedia, however, it is only used in Spanish handwriting. The current implementation is straightforward, works well, and serves the purpose.

Note for inputting numbers:
If the deci

[2016-02-10 22:48] #3136 closed

[2016-02-10 23:07] ktaki opened #3699 "Font size field need to be a few pixels wider"
Mac Retina (or maybe with other hi dpi displays) only. It does not display two decimal points. Make sure to accommodate a comma as a decimal separator also.

<img width="252" alt="screen shot 2016-02-10 at 2 59 17 pm" src="https://cloud.githubusercontent.com/assets/2029597/12964904/6d091902-d007-11e5-81d2-c3daccaa3308.png">

[2016-02-10 23:17] ktaki commented on #3699
Actualy, this issue is for French and German only.

[2016-02-10 23:17] #3681 closed

[2016-02-10 23:21] chadrolfs commented on #3689
#1313, #2359
Design Limitation

[2016-02-10 23:21] #3689 closed

[2016-02-10 23:23] ktaki commented on #3136
Apparently, a space preceding % is shown in standard Ps in French and German. DS does not have the space. So, this is non-issue for DS.

[2016-02-10 23:54] ktaki opened #3700 "Blending mode field and Opacity field shift to right when artboard is selected"
In the appearance panel

http://cl.ly/121R3K45073s

[2016-02-11 00:02] DivyaPrabhakar commented on #3700
@ktaki can you confirm if this is a duplicate of #3615?

[2016-02-11 00:04] ktaki opened #3701 "Japanese: "Opacity" should be in one line in Appearance panel for text layers"
Japanese UI only.

<img width="312" alt="screen shot 2016-02-10 at 4 00 30 pm" src="https://cloud.githubusercontent.com/assets/2029597/12966061/e22d4de0-d00f-11e5-903a-4baa88536273.png">

[2016-02-11 00:13] ktaki commented on #3700
Yes. Thanks for pointing that out.

[2016-02-11 00:13] #3700 closed

[2016-02-11 00:36] ktaki commented on #2531
Opened https://jira.corp.adobe.com/browse/PS-1305.

Now it behaves a slightly different from the description above. DS does not put fonts used during the session to MRU list, but just erases it. When returned to standard Ps, it looks like the list is intact, but subsequent use of a font will replace the entire list with the single font. This means that the MRU list was bogus and actually empty. Si

[2016-02-11 01:11] ktaki commented on #3694
@mcilroyc: The warning still can be seen, but this time only one line instead of two lines.

![screen shot 2016-02-10 at 5 09 53 pm](https://cloud.githubusercontent.com/assets/2029597/12967184/4a8e2036-d019-11e5-807d-43b4f7ecfbb1.png)

[2016-02-11 01:18] mcilroyc commented on #3694
Yes @ktaki.  I am aware of the cause, but I'm not sure it is worth "fixing".  You might even notice *two* in a row.  I am reasonably certain that these limited warnings can now be safely ignored.  If you see a "[History] Initializing history..." log shortly thereafter, that indicates that this was just a brief race condition that has been neutralized :zap:.  There is a little more info in my rambl

[2016-02-11 17:02] ktaki commented on #3694
OK. I agree. Closing.

[2016-02-11 17:02] #3694 closed

[2016-02-11 19:32] chadrolfs opened #3702 "Apply CC Library color to empty layer dirties doc but title does reflect (no asterisk)"
cmd/ctrl + N for new default doc (AB with empty layer targeted)
load a CC Library that contains Colors if not already loaded
click on a color
cmd/ctrl + W to close

Result: dialog prompt to save doc (it's dirty), but no asterisk next to doc name in title bar indicating it's dirty.

[2016-02-11 23:52] iwehrman opened #3703 "Panel bounds do not include icon bar bounds (off-set guide highlight)"
![image](https://cloud.githubusercontent.com/assets/1075154/12994713/61727aae-d0d7-11e5-8520-740d3d8675b6.png)

[2016-02-12 00:02] iwehrman commented on #3703
I think this broke in #3696 and is caused by the fact that the `panelSet` ref now includes the `IconBar`.

[2016-02-12 17:57] iwehrman commented on #3635
@volfied can you repro this?

[2016-02-12 17:58] iwehrman commented on #3444
@DivyaPrabhakar is this still fix in progress? If not, I suggest kicking it over to @volfied, who may have some spare cycles in the short term.

[2016-02-12 18:11] DivyaPrabhakar commented on #3444
I will give it to @volfied because of the new developments with Stock search, I probably won't get to this faster than he will.

[2016-02-12 21:28] chadrolfs opened #3704 "Unable to rotate/transform masks in certain situations (hitTest fail)"
create a group of two shapes
create a shape outside the group
select the group and the shape outside the group
Layer > Create Vector Mask from Layer
Rotate the masked group repeatedly

Result: eventually it will fail

[2016-02-12 21:29] chadrolfs commented on #3704
![maskgrouptransformfail](https://cloud.githubusercontent.com/assets/8442631/13020867/97502f9e-d18c-11e5-8687-121166f0ba6c.gif)

[2016-02-12 21:30] chadrolfs commented on #3704
https://www.dropbox.com/s/36u3nlgf2lqnczu/MaskGroup.psd?dl=0

[2016-02-12 21:35] iwehrman opened #3706 "history.queryCurrentHistory is slow"
The call to `descriptor.getProperty("historyState")` seems to take 600-800ms in Vermilion with only 2 history states. This blocks `documents.beforeStartup` among others. It does not seem like PS should take this long.

1. We should try providing an document ID reference, if possible. Leaving the document implicit is known to be slow.
2. We should also file a JIRA issue for this because even with t

[2016-02-12 23:52] ktaki commented on #3524
@DivyaPrabhakar If you type "Re". "Recent Documents" is highlighted. Then hit return. It will show the following "warning". Has this been a known issue?

Warning: setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a no-op. Please check the code for the TextInput component.

![screen shot 2016-02-12 at 3 51 22

[2016-02-13 00:07] ktaki opened #3707 "Up/down arrow keys skip a line in the search dialog"
Traversing search dialog with up and down arrow keys skips a line.

![screen recording 2016-02-12 at 03 59 pm](https://cloud.githubusercontent.com/assets/2029597/13023896/750832e0-d1a2-11e5-9f32-0f2048325e81.gif)

[2016-02-13 00:20] ktaki commented on #3707
Apparently, this is Mac only.

[2016-02-16 18:07] iwehrman commented on #3706
https://jira.corp.adobe.com/browse/PS-1335

[2016-02-16 18:30] chadrolfs commented on #3147
@DivyaPrabhakar is working on this. #3662

[2016-02-16 18:34] chadrolfs commented on #3465
This is a dupe of #3147

[2016-02-16 18:34] #3465 closed

[2016-02-16 20:44] fzhu1978 opened #3709 "The top menu’s UI of DS panel change to local language if bring up a traditional PS dialog."
Watson bug: https://watsonexp.corp.adobe.com//#bug=3983254

Problem: The top menu’s UI of DS panel change to local language if bring up a traditional PS dialog., Like File->New…,

Method:
1. Launch PS 20150506.m.53 build on JPN Mac 10.10.2 OS.
2. Check "Enable Design Space" in preference dialog and DS UI display, it is in English, same as the top menu.
3. File->New..., New dialog pop up.
4. The to

[2016-02-16 21:24] iwehrman commented on #3709
Unfortunately it is a known limitation of the Spaces plugin/platform that the standard PS menu is shown when modal dialogs are visible, and there's nothing we can do to work around this in the near term. (@jsbache will correct me if I'm wrong.)

I'm confused though about why, when you launch a Japanese build, you see the English translation of Design Space. What language is enabled in the standard

[2016-02-16 21:25] iwehrman commented on #3707
I'm guessing this has to do with @jfitz-adobe's recent fix to ensure that keydown events were being correctly emitted on Mac. I believe @DivyaPrabhakar's current work should address this, so tentatively assigning to her.

[2016-02-16 21:27] DivyaPrabhakar commented on #3707
I am seeing this too and it occurred after @jfitz-adobe's change, so I agree, I think they are related. The other side effect is that when you type in the search bar and then backspace, it deletes two characters at a time.

[2016-02-16 21:29] iwehrman commented on #2075
Demoting to medium priority since the most egregious examples have been fixed. This is not a ship blocker.

[2016-02-16 22:07] ktaki commented on #2925
This is no longer an issue.

[2016-02-16 22:07] #2925 closed

[2016-02-16 22:55] placegraphichere opened #3710 "Export non-artboard doc does nothing"
Using the Export panel on a non-artboard document (JPG for example) will allow the Export button to be clicked, a file path chosen, but nothing happens.
- Open JPG
- File -> Export…
- Export
- Choose location
- Nothing is saved

- Expected: the file should be saved as-is (1x PNG default export). I think we should just allow this workflow. Similar to #2309 allowing the addition of an asset by click

[2016-02-16 23:05] shaoshing commented on #3556
Fixed by #3697

[2016-02-16 23:05] #3556 closed

[2016-02-16 23:55] DivyaPrabhakar opened #3711 "Setting W or H values to zero for text or graphics layers will make the fields to be blank and not editable"
As noted by @jsbache:

Problem: Setting W or H values to zero or less for text or graphics layers will make the fields to be blank and not editable.
Method: In Design Space, create a text layer, (or paste a graphic on to the canvas.) In the property panel, set Width (or Height) to 0 (zero).
Result: "0.1" flashes and leaves the fields, W, H, X, and Y to be blank.Those fields become inaccessible.
Ex

[2016-02-17 00:24] iwehrman commented on #3707
Actually all `keydown` events are being duplicated on Mac at least. You can see this by arrowing left/right in a `TextInput` and watching the cursor move two steps instead of one. This is the result of a recent change by @jfitz-adobe, which has been rolled back by @volfied in CL 1063621. Hence, FBNC to @ktaki.

[2016-02-17 01:13] iwehrman opened #3713 "Datalist doesn't filter on input"
I broke this in #3683 when I implemented `shouldComponentUpdate` in `Dialog`.

[2016-02-17 01:19] ktaki commented on #3430
Retested the latest master branch. A mask is created when a layer and a shape layer are selected and hit m or Cmd-m regardless of the order of layers selected. If more than two layers are selected, the menu and icon on the doc bar are dimmed. Closing this as fixed.

[2016-02-17 01:19] #3430 closed

[2016-02-17 01:27] ktaki commented on #3340
This is no longer reproducible.

[2016-02-17 01:27] #3340 closed

[2016-02-17 01:39] iwehrman commented on #3159
This is now happening in the no-doc UI as well:
![image](https://cloud.githubusercontent.com/assets/1075154/13097214/3fec9e4a-d4d4-11e5-9d31-29047203c090.png)

[2016-02-17 01:53] ktaki commented on #3707
Verified the fix.

[2016-02-17 01:53] #3707 closed

[2016-02-17 01:59] iwehrman commented on #3675
During a standup a few days ago, it seemed like @jsbache or @jfitz-adobe might have some guesses about this one. In any case, this is surely a core bug. Back over to @ktaki to file a JIRA issue for some lucky core engineer!

[2016-02-17 02:14] iwehrman commented on #3711
I can repro the behavior, but strangely it seems that we _are_ correctly clamping values to a lower bound of 0.1. Maybe there should be a different minimum dimension length for text and graphics layers in particular? It works correctly at the moment for vector layers, e.g. @ktaki do you have any suggestions or guidance about how standard PS works here?

[2016-02-17 04:41] iwehrman commented on #3710
Is this a known limitation, @mcilroyc? Or is this a bug? I think I vaguely remember discussing this with you, but it's hazy...

[2016-02-17 16:12] mcilroyc commented on #3710
well this is two-fer.  1) It is a known limitation but surely solvable.  2) In general, the Export modal window should _not_ allow clicking the export button when there are no configured+selected assets.

This is assigned to the right person.  I foresee a batch of export work in the near future.

[2016-02-17 17:54] ktaki commented on #3711
With standard Ps, entering out of bounds values will display a warning dialog and force the value to be minimum or maximum value allowed after dismissing the dialog. For a text layer, the minimum value allowed in standard Ps is 1 where DS enters 0.1. Could this be the problem? For a shape layer the minimum value in standard Ps is 0 where DS forces to be 0.1. This is fine.

Note: This is tracked do

[2016-02-17 18:29] fzhu1978 commented on #3709
@iwehrman It is English Photoshop/DesignSpace, but running on Japanese Mac System.  When File->New dialog is opened, which is a Photoshop local dialog, the DesignSpace UI is changed to Japanese, not Photoshop's locale setting - English.

@iwehrman Do you want me close this issue or keep it open for track?

[2016-02-17 19:07] iwehrman commented on #3711
OK, yes, the discrepancy for type layers' minimum size between 0.1 and 1 is the problem. Do you know if this is the case for graphics layers as well?

[2016-02-17 19:23] ktaki commented on #3711
Yes, 1 px is the minimum for the graphics layer in standard Ps.

[2016-02-17 21:57] chadrolfs commented on #3711
I think this is a dupe of #3153

[2016-02-17 22:04] iwehrman opened #3716 "Two undos needed to undo layer size change"
1. Create a rectangle
2. Change the width in the Transform panel.
3. Cmd-z to undo.

Result: nothing. Cmd-z again undoes the change.

[2016-02-17 22:04] iwehrman commented on #3716
This seems specific to the transform panel. On-canvas transforms don't have the same issue.

[2016-02-17 22:04] iwehrman commented on #3716
CC @mcilroyc.

[2016-02-17 22:08] iwehrman commented on #3711
Yes, closing this as a dupe of #3153. PR for that bug forthcoming.

[2016-02-17 22:08] #3711 closed

[2016-02-17 22:08] chadrolfs commented on #3716
somewhat related to #3023

[2016-02-17 22:17] iwehrman commented on #3709
@fzhu1978 Thanks for the report. I'll assign to @ktaki for now to do a little more investigation.

[2016-02-17 22:18] ktaki commented on #3709
@tzhu1978: If you are running Ps with English UI, you should not see Japanese UI even if you are running it on Japanese OS. Can you or have somebody confirm this with the latest Ps GM 2015.1.2? If you see otherwise, please attach the screen shots.

(My guess is that when original bug written back in May, UI translation was not done or missing. Set Ps to run in Japanese UI and switched it to DS whi

[2016-02-17 23:02] volfied commented on #3635
I can repro, given that `base element is not found` error is coming from PS, I'll take a look.

[2016-02-17 23:02] volfied commented on #3635
Trick is to open a new document.

[2016-02-17 23:19] DivyaPrabhakar opened #3720 "History state warnings: Vector and text layers are selected, change their color with the sampler tool"
When vector and text layers are selected together, using the sampler/HUD  creates warning:

`[History] Re-initializing history because photoshop thinks the current state is 37 of 38, while our model says 38 of 39`

[2016-02-17 23:20] ktaki commented on #1632
@chadrolfs: Is this still an issue? It seems CNR for me. Can you try it?

[2016-02-17 23:28] #3566 closed

[2016-02-18 00:16] ktaki commented on #3675
https://jira.corp.adobe.com/browse/PS-1368

[2016-02-18 00:30] volfied commented on #3635
I believe the problem is dragging an image to canvas acts as a paste operation, and we get the "drag" event before Photoshop had the time to update it's own document.

https://jira.corp.adobe.com/browse/PS-1370

[2016-02-18 02:18] iwehrman commented on #3084
For posterity, @jsbache has suggested that perhaps we can use `_spaces.ps.processQueuedCommands` instead of the delay hack we previously used to work around the issue.

[2016-02-18 17:13] shaoshing commented on #3693
This is fixed by #3719. Back to Taki to verify.

[2016-02-18 17:26] volfied commented on #3444
Problem is, we only reset bounds, but we need to reset the radii of the layer as well, so we can see that
`descriptor.keyOriginType[0].keyShapeInvalidated` is true and set radii to null.

[2016-02-18 17:45] ajzeigert commented on #3358
I'm definitely finding this to be a real time killer, especially when copying from much larger artboards where the item being copied might be several artboards worth of space away from where the target artboard is. I then have to zoom completely out, select the wayward item, and either drag it back to the artboard I'm currently working on or nudge it with the arrow keys. Especially with very small

[2016-02-18 17:53] ktaki commented on #3693
Verified the fix.

[2016-02-18 17:53] #3693 closed

[2016-02-18 18:00] placegraphichere commented on #3358
Thanks for the additional notes @ajzeigert, feel free to let us know additional info, or log new issues if they don't exist!

[2016-02-18 18:22] ajzeigert commented on #3358
@placegraphichere I'm loving Design Space so far. Trying to read through as many of the existing issues as I can before posting new issues.

[2016-02-18 18:32] shaoshing commented on #3703
I verified this is fixed by #3708, but over to @chadrolfs to double check.

[2016-02-18 18:51] chadrolfs commented on #1632
Yes, I can still repro but only when moving a layer with Cmd key down.  Very edge case.

![smartguides-overui](https://cloud.githubusercontent.com/assets/8442631/13154368/7aa301dc-d62d-11e5-9002-85dba2f9438c.gif)

[2016-02-18 19:01] #3703 closed

[2016-02-18 19:04] chadrolfs opened #3722 "Guide policy frame is not cleared when creating a new doc"
(Debug > Show Policy Frames)
cmd/ctrl + n
drag out some guides
cmd/ctrl + n

Result: guide policy frames still shown from previous doc guides

[2016-02-18 19:04] chadrolfs commented on #3722
![guidepolicyframenotcleared](https://cloud.githubusercontent.com/assets/8442631/13154750/5ab6189e-d62f-11e5-9f1c-24674a2e2bdf.gif)

[2016-02-18 19:05] #3702 closed

[2016-02-18 19:06] fzhu1978 commented on #3709
@ktaki @iwehrman
Let me ask QE to regress on the latest build.  Once they response in Watson I will update the screenshot and comments here.  Thanks!

[2016-02-18 19:13] chadrolfs commented on #3267
This is very confusing and problematic if a user is trying to delete the mask.  Entering mask mode in this case and hitting delete will do nothing.  Bumping to High.

[2016-02-18 19:19] chadrolfs commented on #3208
Still occurs on current master and jenkins builds.

[2016-02-18 19:30] chadrolfs commented on #3358
The problem here is that with Artboards, canvas bounds can be well beyond what you'd expect and so I can see how this is confusing.

[2016-02-18 19:49] pineapplespatula commented on #3267
i created Jira bug PS-1080

[2016-02-18 22:16] chadrolfs commented on #3713
Looks fixed to me.  :+1:

[2016-02-18 22:32] ktaki commented on #1680
@chadrolfs: CNR for me. Can you verify?

[2016-02-18 22:35] iwehrman commented on #3713
Well then.

[2016-02-18 22:35] #3713 closed

[2016-02-18 22:36] ktaki commented on #2754
@chadrolfs: I vote for closing this as "as designed". How do you think?

[2016-02-18 22:42] ktaki commented on #2756
@chadrolfs I think this can be closed as "as designed". My last comments "Now, I see a bug here..." is also as designed. Do you agree?

[2016-02-18 22:43] iwehrman commented on #3397
For posterity, I've seen this exactly once more since this bug was filed. Unfortunately, that is greater than zero, but it sure doesn't seem to be happening frequently.

[2016-02-18 22:45] ktaki commented on #2763
@chadrolfs We should close this one too. The current coordinate system is working and we do not want to touch unless it produces significant problems.

[2016-02-18 22:47] iwehrman commented on #2763
I'm not sure I agree that the current coordinate system is working with artboards and other layers not in an artboard in artboard docs...

[2016-02-18 22:50] ktaki commented on #3018
This issue has been fixed in Ps 16.1 GM.

[2016-02-18 22:50] #3018 closed

[2016-02-18 22:55] ktaki commented on #2763
Then, this could be converted to a story and put it in the backlog. It doesn't sound like a bug.

[2016-02-18 23:13] ktaki commented on #3164
I think the original jumping issue was fixed, but the canvas is not expanded until artboard is moved.

![screen shot 2016-02-18 at 3 12 00 pm](https://cloud.githubusercontent.com/assets/2029597/13161368/141fee5a-d652-11e5-8c5a-eca95cf38bc8.png)

[2016-02-18 23:14] iwehrman opened #3725 "Proportional layer size changes can result in layers of invalid size"
As reported by @ktaki in #3717:

When W and H values are linked, it is still possible to make [layer width or height] <1 [which results in broken document state]. Try with a text box layer W=200 and H=600. Link the value, then set H=1. This will result in the W to be less than 1 and reproduce the original issue. In fact, this can be an issue with vector layers also. It is possible to set to the va

[2016-02-18 23:15] iwehrman commented on #3725
A core bug that asks Photoshop to clamp the width/height to a valid range: https://jira.corp.adobe.com/browse/PS-1384

[2016-02-18 23:21] ktaki opened #3726 "Canvas is not expanded when artboard is resized with transform fields"
Open a new AB doc. Select the AB.

click in H field and Shift+up arrow a few times
click in W field and Shift+up arrow a few times

RESULT: The canvas is not expanded until artboard is moved by dragging it.

![screen shot 2016-02-18 at 3 12 00 pm](https://cloud.githubusercontent.com/assets/2029597/13161542/52281398-d653-11e5-88c8-e32401497758.png)

[2016-02-18 23:22] ktaki commented on #3164
I opened a new issue #3726 for the above.

[2016-02-18 23:30] ktaki commented on #3164
@chadrolfs: I think the original problem was fixed. Do you see any issues with resizing multiple ABs?

[2016-02-18 23:32] iwehrman commented on #3726
Definitely a core bug. Back to @ktaki to file a JIRA issue.

[2016-02-18 23:49] ktaki commented on #3726
https://jira.corp.adobe.com/browse/PS-1392

[2016-02-19 16:19] chadrolfs commented on #3267
Thanks for filing the JIRA bug, however I'm concerned that JP won't see this bug because he is on a different molecule team with their unique JIRA dashboard that only shows tasks/bugs assigned to that team.  Could you reach out to him to see if 1) he's aware of it, 2) if he's planning on fixing it, and 3) what his rough timeline is (when will he get to it)?  Thanks.

[2016-02-19 17:34] chadrolfs opened #3728 "Flip Horizontal or Vertical on layers that span inside and outside artboards don't auto-nest"
create a shape inside an artboard
create a 2nd shape outside an artboard
select them both
Arrange > Flip (Horizontal or Vertical depending on where you position the layers)

Result: layers are flipped but don't auto-nest

[2016-02-19 17:35] chadrolfs commented on #3728
I verified this bug was fixed a while ago on cyan jenkins build.  I have asked Chris Butler to let me know when the fix gets promoted to main.  Opening this to keep track since watson bug is closed.
https://watsonexp.corp.adobe.com//#bug=4083198

[2016-02-19 17:56] iwehrman commented on #3267
Alternatively, re-assign to @jsbache so that he can triage it when he returns.

[2016-02-19 18:54] iwehrman commented on #3444
Over to @ktaki to verify.

[2016-02-19 19:28] ktaki opened #3729 "Japanese IME's inline editing does not work"
This issue exists with all input fields in the UI including Layers panel, CC Lib panel, and Search dialog.

This is a core issue reported as https://jira.corp.adobe.com/browse/PS-1036

but want to keep track here with the Ship Blocker label. This is a serious usability issue in Japanese Windows platform.

Method:
1. In Design Space, choose Layer name field
2. Invoke IME and input Japanese characte

[2016-02-19 20:28] chadrolfs commented on #3164
Yep, verified this is fixed.  Thanks for logging the other issue.

[2016-02-19 20:28] #3164 closed

[2016-02-19 20:32] chadrolfs commented on #3726
Also, if you undo after this, the artboard coordinates get off (adders not in correct location).  Separate bug?

![undo-coordsoff](https://cloud.githubusercontent.com/assets/8442631/13188216/cf54e0c4-d704-11e5-9111-e345b966e467.gif)

[2016-02-19 20:47] chadrolfs commented on #3153
I'm still able to hit this:

![negxformvalues](https://cloud.githubusercontent.com/assets/8442631/13188538/e35614a6-d706-11e5-9e8d-ea20c3b4b3f2.gif)

[2016-02-19 20:48] chadrolfs commented on #3153
using pgdev.1081 w/master @ 58fc655e7f74cf28b2550a5c3f87d4060b585a5e

[2016-02-19 21:12] chadrolfs commented on #2756
I think there are still bugs here.

1. Create a new AB doc, select AB (X,Y are 0,0), set X to -100 hit enter.  Result: X is 268?!?!
![ab-coords1](https://cloud.githubusercontent.com/assets/8442631/13188991/b453f918-d709-11e5-92bf-af7742b5bf9e.gif)

2. Initial drag of layer from one AB to another has incorrect coordinates relative to it's new AB home, adjustments to X and Y are applied relative to

[2016-02-19 21:14] chadrolfs commented on #2756
In light of those issues, I'm questioning if this is still a workflow issue (especially the 2nd one above).

[2016-02-19 21:34] chadrolfs commented on #2763
I think #2756 addresses @iwehrman's concerns.  I think we can close this and maybe create a story out of it, although I'm not sure would could actually do anything with it because PS architecture doesn't allow for negative canvas coordinates.  For example, in standard PS, you can't go into Image > Canvas Size and enter a negative number.  You'll get an alert something like this (depending on what

[2016-02-19 21:37] iwehrman commented on #3153
Isn't this the different bug that has to do with proportional locking? See #3725.

[2016-02-19 21:43] chadrolfs commented on #3303
Coordinate separation seen if you undo (see #3726 )

[2016-02-19 21:57] chadrolfs commented on #3153
Oh right, my bad.  As written, this is fixed.

[2016-02-19 21:57] #3153 closed

[2016-02-19 22:01] chadrolfs commented on #2754
I agree.  Infinite canvas will shrink or grow depending on where you move things.  It's confusing but working correctly.

[2016-02-19 22:01] #2754 closed

[2016-02-19 22:05] iwehrman commented on #3524
I can confirm that the above problem is still happening and, more importantly, the dialog closes immediately when it happens instead of filtering by recent documents.

[2016-02-19 22:10] iwehrman commented on #3635
Kicking this out of the milestone because we're blocked, but adding the Ship Blocker label.

[2016-02-19 22:22] chadrolfs opened #3730 "Entering negative transform values for multi-selected shapes display as --"
new doc, drag out multiple rect shapes
select them all and enter -5 into W and/or H fields

Result: text input displays -- (mixed) but if you select each shape individually, they all have the same 0.1 value (rounding issue?)

[2016-02-19 22:22] chadrolfs commented on #3730
![dashdash](https://cloud.githubusercontent.com/assets/8442631/13190780/2f90ade2-d714-11e5-9f4a-37f0806cb3ee.gif)

[2016-02-19 22:25] ktaki opened #3731 "Mac only: Cmd-n and then Cmd-minus does not work"
Open new file and then Cmd-- to zoom out. This does nothing. Cmd-+ and then Cmd-- works. After any action, zooming out works fine, just not the first time after Cmd-n. Mac only.

[2016-02-19 22:32] ktaki commented on #3444
Verified the fix.

[2016-02-19 22:32] #3444 closed

[2016-02-19 22:32] iwehrman commented on #3731
Works for me. Can you post your console logs? Could this be related to #3464?

[2016-02-19 22:38] ktaki commented on #3731
Cmd-n and Cmd-minus four times. The "View" on the menu bar flashes, but nothing happens on canvas.

![screen shot 2016-02-19 at 2 36 24 pm](https://cloud.githubusercontent.com/assets/2029597/13191098/457a0688-d716-11e5-890c-ecedc71e0017.png)

[2016-02-19 22:51] chadrolfs commented on #3731
Works for me.  What buid are you using (1081)?

[2016-02-19 22:57] ktaki commented on #3731
After restarting Ps, it is working now. I think I did something else to get into the state. I will close this for now.

[2016-02-19 22:57] #3731 closed

[2016-02-19 23:01] chadrolfs commented on #3524
I'm not seeing it.  I type "re", it highlights "Recent Documents", I hit enter, it sets Filter to Recent Documents (icon) and dialog remains open.

[2016-02-19 23:12] ktaki commented on #2763
The way standard Ps works is the first artboard created at (0,0). This will never change.if an artboard is added to the left, then the artboard's X position becomes a negative value. With DS, it is relative to the canvas size. If the canvas is expanded to the left or up, the origin moves, therefore the existing artboard position X and Y values change.

[2016-02-19 23:20] ktaki commented on #3726
Yes, I see very strange behavior. I will report this separately.

[2016-02-19 23:32] ktaki commented on #3726
Oh, sorry. What I thought strange was expected behavior after all. @chadrolfs What do you see after undo?

[2016-02-19 23:34] chadrolfs commented on #3726
After I undo several times, the AB adders (+) are not aligned correctly with the AB, the coordinates are off.

[2016-02-19 23:34] shaoshing opened #3732 "hit test should be disabled when cursor is outside of window area"
Currently, when PS is focused, moving cursor outside of the window area will trigger hit tests.

![hittest](https://cloud.githubusercontent.com/assets/118264/13192135/c25182f6-d71d-11e5-97e2-ac13e192a4f1.gif)

[2016-02-19 23:36] ktaki commented on #3726
Oh, I see. The policy frame. Yes, I've seen it a few times. I will take a look if I can find reliable repro steps. Thanks.

[2016-02-19 23:38] chadrolfs commented on #2763
Ahhh, I see now.  Yeah, let's close this and do a JIRA story/task: Artboard coordinates should work like standard PS.

[2016-02-19 23:51] pineapplespatula commented on #3267
Talked to JP, he wont be able to get to it for a while I'm going to reassign this to @jsbache for now

[2016-02-19 23:52] chadrolfs commented on #1680
Yep, I still can repro.
![ab-penshape](https://cloud.githubusercontent.com/assets/8442631/13192431/af71f424-d720-11e5-9035-9783b2336fa0.gif)

[2016-02-19 23:55] chadrolfs commented on #1680
I mean, it no longer auto-nests into the AB but it doesn't fully draw so I guess technically that might be a different bug, maybe related to the bug logged recently #3726
Watson bug moved to JIRA PS-441

[2016-02-20 00:09] ktaki commented on #2763
Opened a story https://jira.corp.adobe.com/browse/PS-1414. Closing this issue.

[2016-02-20 00:09] #2763 closed

[2016-02-20 00:12] chadrolfs commented on #3267
:+1: thanks

[2016-02-20 00:22] ktaki commented on #3634
This is no longer happening.

[2016-02-20 00:22] #3634 closed

[2016-02-20 00:23] ktaki commented on #3575
@chadrolfs Do you still see this happening?

[2016-02-20 00:36] ktaki commented on #3179
@chadrolfs This scenario seems to work without error. Can you try?

[2016-02-20 00:39] chadrolfs commented on #3575
I don't. CNR.  I'll re-open if I run into this again but looks resolved.

[2016-02-20 00:39] #3575 closed

[2016-02-20 00:43] iwehrman opened #3734 "Mask mode behaves strangely when deselecting layers"
1. Select a graphic layer, enter mask mode.
2. Deselect. You're still in mask mode, which is kind of weird but I guess OK?
3. Reselect the same layer. Now you're out of mask mode. Why?

I think if you change your layer selection in a way that is incompatible with mask mode, mask mode should be disabled and you should have to explicitly re-enable it.

[2016-02-20 00:44] iwehrman commented on #3734
Bonus bug:

1. Select a graphic layer, enter mask mode.
2. Shift click a vector layer to add it to the selection.
3. Click the mask button to leave mask mode.

Result: still in mask mode.

[2016-02-20 00:48] chadrolfs commented on #3179
I don't see errors in the console (just warnings now) but the mask is not deleted and the current behavior if you try to delete the actual anchor points is really odd.  This is still a problem.

![Uploading DeleteLLSOmask.gif…]()
![deletellsomask2](https://cloud.githubusercontent.com/assets/8442631/13193137/8beffd40-d728-11e5-9fe9-e442bf7abab8.gif)

[2016-02-20 01:15] iwehrman commented on #2886
@DivyaPrabhakar Did you look into this? Is there already an action descriptor available that accomplishes this? If not, do we need to file a JIRA issue for the core team?

[2016-02-20 01:20] iwehrman commented on #3303
@ktaki @chadrolfs I think this bug was originally about panning the canvas. Can you still repro by panning? I can't, at the moment.

If you have to move a layer to repro, do you think that would be a dupe of #2714?

[2016-02-20 01:20] DivyaPrabhakar commented on #2886
I *think* there was an action descriptor created for this and while waiting for that, the stock and search bugs took priority. I will look into this and confirm the status + finish it.

[2016-02-20 01:31] ktaki commented on #1428
@chadrolfs I think we can close this bug also. https://jira.corp.adobe.com/browse/PS-1414 will address this. CC @iwehrman

[2016-02-20 02:26] iwehrman commented on #2886
If you have documentation of the descriptors, just post them here so anybody can pick it up in case you get busy.

[2016-02-21 16:41] iwehrman opened #3736 "Artboard guides visible but without policies when child layer is selected"
0. Create a new artboard document.
1. Select the artboard.
2. Drag in a guide to create an artboard guide.
3. Deselect all layers by clicking in the panel.
4. Select the child layer of the artboard.

Result: guide is visible, but has no pointer policy, and so can't be moved.

Secondary issue:

0. Create a new artboard.
1. Select the child layer.
2. Drag out an artboard guide.
3. Deselect all layer

[2016-02-22 02:30] iwehrman opened #3737 "Tool global shortcuts should include "tool" in the option name"
1. Each of the global shortcut entries for tools should say something like "Rectangle Tool" instead of just "Rectangle".
2. Officially it's just the "Select" tool, not the "Super Select" tool.
3. "Vector Mask" should be "Vector Mask Mode".
4. I don't know what the `A` entry should be exactly, but it isn't "Super Select Vector".
5. Also, it shouldn't show up when not in Mask Mode, because nothing h

[2016-02-22 05:19] DivyaPrabhakar commented on #3524
This is solved by #3479 so closing this.

[2016-02-22 05:20] DivyaPrabhakar commented on #3529
Solved by #3479

[2016-02-22 15:57] iwehrman commented on #3529
@chadrolfs: can you verify this?

@DivyaPrabhakar: usually the person who opened the bug should verify it, or hand it off to QE for an impartial evaluation.

[2016-02-22 15:58] iwehrman commented on #3524
@ktaki: can you verify this? I saw it recently, but it's entirely possible that that was user error on my part (using an old branch, e.g.).

[2016-02-22 17:31] DivyaPrabhakar commented on #3610
FBNC @iwehrman

[2016-02-22 17:58] shaoshing commented on #3732
Fixed by #3733

[2016-02-22 17:58] #3732 closed

[2016-02-22 18:07] iwehrman commented on #3610
It does seem like tab does the same thing as enter, which is technically what this bug was about. But, I also notice that tab/enter does not work correctly with filters. For example, if I type "op<tab>" then instead of filtering by open documents (the selected option), it just closes. Would you like me to open a different bug for this, @DivyaPrabhakar?

[2016-02-22 20:49] DivyaPrabhakar opened #3739 "Keyboard shortcut dialog difficult to read on lighter color stops"
![](https://www.dropbox.com/s/eou0hi5em6j6uma/Screenshot%202016-02-22%2012.48.44.png?raw=1)
![](https://www.dropbox.com/s/qfff90iv7b6e42l/Screenshot%202016-02-22%2012.49.30.png?raw=1)

[2016-02-22 21:26] ktaki opened #3740 "Arrow keys focus on canvas rather than search dialog in the vector mask mode"
Windows only.
Open an image file and hit M.
In the vector mask mode, add a mask.
While is the mask is selected, open the search bar.
Type "vector".
Use down arrow key to select "Super Select Vector".

RESULT: The mask on canvas moves downward.

EXPECTED: Traverses the items in the search dialog.

[2016-02-22 21:45] ktaki commented on #3524
Verified the fix. No errors.

[2016-02-22 21:45] #3524 closed

[2016-02-22 22:35] iwehrman commented on #3736
Fixed by #3738.

[2016-02-22 22:35] #3736 closed

[2016-02-22 23:14] pineapplespatula commented on #3267
Looking into the photoshop call stack, i'm not as convinced that this is a core issue, somehow the sheet that is being affected is the shape and not the group. i do not yet understand why that is the case

[2016-02-22 23:56] ajzeigert opened #3741 "Integrate layer comps from PS core"
I understand that Design Space is supposed to be a lean and mean screen design app, so keeping it simple is key. But one of the pieces of core photoshop I find myself switching back for the most is Layer Comps.

Many of the mockups I'm working on are derived from the same basic layout. Layer Comps allow me to keep duplicate artboards and elements to a minimum, creating only a few alternates for pi

[2016-02-23 00:46] ktaki commented on #3710
@mcilroyc: Have you changed anything in this area? I can open a jpg file, add an asset, and export it as png with current master. Am I missing something here?

[2016-02-23 00:47] chadrolfs opened #3742 "Search: hitting Enter twice with no search criteria results in console error"
cmd/ctrl + F, hit Enter x2

Result: `Warning: setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a no-op. Please check the code for the TextInput component.`

[2016-02-23 00:54] chadrolfs commented on #3303
CNR on both Mac and Win (dragging or panning).

[2016-02-23 00:57] ktaki commented on #2556
This is no longer happening. All artboards are checked by default.

[2016-02-23 00:57] #2556 closed

[2016-02-23 01:04] chadrolfs commented on #1428
I agree.  Please re-open if you disagree @placegraphichere @iwehrman

[2016-02-23 01:04] #1428 closed

[2016-02-23 01:07] ktaki commented on #3393
This is no longer happening.

[2016-02-23 01:07] #3393 closed

[2016-02-23 01:13] ktaki commented on #2555
Closing this as designed. This is a short menu. Scrolling is not necessary.

[2016-02-23 01:22] chadrolfs commented on #3710
Following the steps above (no asset in the export panel in the UI under Effects), opening the Export dialog from File menu or title bar icon, will have no assets in the dialog and you CAN click the Export button at the bottom right of the dialog and select a folder to export but nothing gets exported.  According to Cory's comment above, you shouldn't be able to click the Export button.

[2016-02-23 01:25] chadrolfs commented on #2555
I disagree that this is as designed.  It should function the same as other datalists.  Re-opening but lowering priority.

[2016-02-23 01:28] chadrolfs commented on #2555
Nevermind, after looking at the other datalists, I'm incorrect.  Datalists are all functioning alike.

[2016-02-23 01:28] #2555 closed

[2016-02-23 16:47] volfied commented on #3468
Happes due to Artboard moving around causing document bounds to shift and unrelated layers trying to stay at the same place. Will open an issue to Cyan.

[2016-02-23 16:51] volfied commented on #3468
https://jira.corp.adobe.com/browse/PS-1446

[2016-02-23 18:19] pineapplespatula commented on #3734
changing selections should exit mask mode.

[2016-02-23 18:36] pineapplespatula commented on #3722
@chadrolfs  can you regress this?

[2016-02-23 18:39] pineapplespatula commented on #2756
@chadrolfs  can you make a new bug out of Initial drag bug above, and close out this one. also see JIRA PS-1414

[2016-02-23 18:54] pineapplespatula commented on #652
closing per bug review discussion

[2016-02-23 18:54] #652 closed

[2016-02-23 19:13] chadrolfs opened #3743 "Export fails on Windows"
Create new doc (ctrl+n)
drag out an ellipse
apply a drop shadow to it
click export icon on title bar
click export, nav to desired folder, click ok
Export dialog remains open, note "1x" is now red

Result:
`Export Failed for asset 0 of layerID 3, documentID 468, with error:  Failed to export components: Error generating component: undefinedError: Failed to export components: Error generating compon

[2016-02-23 19:53] placegraphichere commented on #3710
There is an aspect of "it should just work" to these issues. I'd expect to be able to export at any time. so perhaps we should think about it that we should actually not disable the export modal button, but allow them to get something exported instead.

Artboards auto populate with 1x in the export panel, so perhaps the same logic should be applied to non-artboard docs.

[2016-02-23 20:54] volfied commented on #3704
Just so the problem is clear: ![](https://s3.amazonaws.com/f.cl.ly/items/0b2i3r1l0C0v3p1e3o2E/Image%202016-02-23%20at%2012.54.08%20PM.png?v=0fe2ed3d)

[2016-02-23 21:46] mcilroyc commented on #3609
Any hot ideas on how to resolve file naming conflicts?  Suffix with a number?  `LayerOne.png`, `LayerOne.1.png` ... etc.  @placegraphichere ?

[2016-02-23 21:56] DivyaPrabhakar opened #3745 "GIFs need to be redone for lighter color stops in the DS Introduction dialog"
Example: some of the lines in the GIFs are very light and not crisp

![](https://www.dropbox.com/s/6akyiif2jp8rsk0/Screenshot%202016-02-23%2013.47.15.png?raw=1)
![](https://www.dropbox.com/s/8pnzmczhpiy73pm/Screenshot%202016-02-23%2013.47.31.png?raw=1)
![](https://www.dropbox.com/s/6gf74bwnphu923g/Screenshot%202016-02-23%2013.47.35.png?raw=1)

[2016-02-23 22:07] tiburbage commented on #3102
https://watsonexp.corp.adobe.com/#bug=4078696 has been Closed/NeverFix. Please discuss with Jesper if this decision is strongly opposed.

[2016-02-23 22:09] ktaki commented on #2311
This is no longer an issue. Drilling down to a leaf layer is successful. I, however, see an issue that the selected layer is sometimes not shown in the layers panel. I will report it separately. Closing this issue.

[2016-02-23 22:09] #2311 closed

[2016-02-23 22:27] ktaki opened #3746 "Selected layer not shown in the layers panel when drilling down"
Tested with Vermillion document. When drilling down layers by clicking on canvas, sometimes the layers panel does not scroll to shown the selected layer.

Open Vermillion doc.
Click any part of the document on canvas to drilling down to a leaf layer.
Observe if the selected layer is shown in the layers panel.

RESULT: Sometimes the layers panel fails to show the layer selected.

[2016-02-23 22:28] ktaki commented on #2311
Opened an issue
https://github.com/adobe-photoshop/spaces-design/issues/3746

[2016-02-23 22:35] mcilroyc commented on #3609
example: ![ss](http://cl.ly/2M1s2i223k01/Image%202016-02-23%20at%204.33.23%20PM.png)

[2016-02-23 23:11] iwehrman commented on #3628
FBNC to @chadrolfs.

[2016-02-23 23:11] chadrolfs commented on #3704
Almost totally, there.  There is one case where it still fails; exiting Mask Edit Mode.
Open existing file
select group that has mask, hit M to enter Mask Mode, double-click to drill into the mask and move anchors
hit Esc x2 to exit Mask Mode
then try to rotate

Result: rotate fails, no policy on group on Mask Mode exit

![exitmask-nopolicy](https://cloud.githubusercontent.com/assets/8442631/13269

[2016-02-23 23:12] iwehrman commented on #3739
Over to @chadrolfs to verify.

[2016-02-23 23:28] volfied commented on #3704
@pineapplespatula Please take a look at the new problem. It has to do with the fact that pressing Enter calls `tools.enterPathModalState` and escape calls `mask.handleEscapeVectorMask`, but resetBorderPolicies is not called when that happens. You know that code better.

[2016-02-23 23:30] volfied commented on #3722
This was fixed by #3738

[2016-02-24 00:00] chadrolfs commented on #3741
Hey, @ajzeigert thanks for the report!  We've moved this feature request to our [Wish List](https://github.com/adobe-photoshop/spaces-design/wiki/Wishlist) page and are closing this because it's technically not a bug/defect.

[2016-02-24 00:00] #3741 closed

[2016-02-24 00:15] chadrolfs commented on #3739
Looks great

[2016-02-24 00:15] #3739 closed

[2016-02-24 00:18] #3722 closed

[2016-02-24 00:19] pineapplespatula commented on #3267
The root cause of this bug is that entering and exiting vector mask mode changes the layer selection
in the gif below i select the group layer. press M twice and switch to classic to observe the current layer selection .

![mask_layer_issue](https://cloud.githubusercontent.com/assets/1008531/13271332/3447a18c-da49-11e5-8e8b-4c21221caec1.gif)

[2016-02-24 00:29] chadrolfs commented on #3628
yeppers

[2016-02-24 00:29] #3628 closed

[2016-02-24 00:36] #3529 closed

[2016-02-24 00:44] chadrolfs opened #3748 "Initial coordinates of an object moved out of an artboard are incorrect"
create a shape within an AB (note the X,Y coords)
move shape either to a 2nd AB or outside the current AB

Result: coordinates are incorrect  (changing them via X,Y have unexpected results)

[2016-02-24 00:44] chadrolfs commented on #3748
![ab-coords2](https://cloud.githubusercontent.com/assets/8442631/13271846/a7c6e020-da4c-11e5-9f8e-df6aca937ba7.gif)

[2016-02-24 00:45] pineapplespatula commented on #3267
I just submitted a fix to perforce for jira 1080. @chadrolfs can you take a look?

[2016-02-24 00:45] chadrolfs commented on #2756
#3748 logged for object coords issue.  the rest of this will be solved via feature work PS-1414

[2016-02-24 00:45] #2756 closed

[2016-02-24 00:46] #3674 closed

[2016-02-24 15:55] chadrolfs commented on #526
From @tiburbage (posted on archive issue): Watson https://watsonexp.corp.adobe.com/#bug=3948991 has been Closed/NeverFix. Please discuss with Jesper if are strongly opposed to this decision.

[2016-02-24 16:05] chadrolfs commented on #3609
Ideas (not necessarily hot):
file #.ext
file(#).ext
file.#.ext
file-#.ext
file copy #.ext (this is what Mac OS does when you dupe a file)

[2016-02-24 22:04] DivyaPrabhakar opened #3750 "Layers panel does not update when two images are placed"
When two image layers are dragged into DS and placed on an artboard, the layers panel does not reflect this until the user clicks on the layers panel. Both images are present, but the layers panel does not accurately reflect the state of the document. Note: I am dragging 2 images from my cloud linked Dropbox folder, this may play a part in the issue?

![](https://www.dropbox.com/s/exsgyvdwp9ynegt/

[2016-02-24 22:27] chadrolfs commented on #3267
I get an error at the step attempting to apply a mask to a group that has it's first child as a shape
`Action tools.changeVectorMaskMode failed: TypeError: Cannot read property 'top' of null`

![screen shot 2016-02-24 at 2 25 43 pm](https://cloud.githubusercontent.com/assets/8442631/13303207/c39cf56c-db02-11e5-9f08-68505cb517ab.png)

[2016-02-24 23:08] DivyaPrabhakar commented on #3610
@iwehrman I read this issue to mean "Tab" should autocomplete the suggestion, and then you have the option of pressing "Enter" or not. For example, if I type "op", the autofill suggestion may be "Open Documents". If I press "Tab" then "Open Documents" changes from the suggestion to my enter search query. Then I can press enter on that option or continue using the arrow keys to navigate the datalis

[2016-02-24 23:16] chadrolfs opened #3753 "Error creating mask on group where first child layer is a shape"
new doc, drag out a couple shapes, group them (cmd+g), hit M

`Action tools.changeVectorMaskMode failed: TypeError: Cannot read property 'top' of null`

[2016-02-24 23:17] chadrolfs commented on #3753
Related to #3267

![mask-errongroup](https://cloud.githubusercontent.com/assets/8442631/13304473/a86f7eac-db09-11e5-9277-8dec28c74140.gif)

[2016-02-24 23:18] chadrolfs commented on #3753
![screen shot 2016-02-24 at 2 25 43 pm](https://cloud.githubusercontent.com/assets/8442631/13304519/e68b1fd4-db09-11e5-8e29-a43f1d157eb3.png)

[2016-02-24 23:39] ktaki commented on #3701
Verified the fix.

[2016-02-24 23:39] #3701 closed

[2016-02-24 23:51] volfied opened #3754 "Creating a circle mask in a newly created group fails"
1 - Create a rectangle
2 - Create another rectangle
3 - Select both rectangles
4 - Cmd+G to create group
5 - Press M for mask mode HUD
6 - Click the circle button

Result:

![](https://s3.amazonaws.com/f.cl.ly/items/3z0h180w0f2T0H3k3V0N/Image%202016-02-24%20at%203.50.08%20PM.png?v=3f101f93)

Note: This is not related to #3753, or my changes from #3744, this bug happens before that PR.

[2016-02-24 23:54] chadrolfs commented on #1680
waiting for cyan push to main in ~3 weeks.

[2016-02-24 23:54] ktaki commented on #3699
Verified the fix.

[2016-02-24 23:54] #3699 closed

[2016-02-24 23:57] chadrolfs commented on #3267
Blocked by #3753 and #3754

[2016-02-25 00:02] shaoshing opened #3756 "Opacity/Alpha/Rotation/Radius inputs are misaligned"
<img width="458" alt="screen shot 2016-02-24 at 3 59 15 pm" src="https://cloud.githubusercontent.com/assets/118264/13305420/f3dbf3e2-db0f-11e5-8a6b-95925d1b561e.png">
<img width="461" alt="screen shot 2016-02-24 at 3 59 21 pm" src="https://cloud.githubusercontent.com/assets/118264/13305421/f3ee3b60-db0f-11e5-935d-e07d9a661a8b.png">

[2016-02-25 00:07] volfied commented on #3753
@pineapplespatula I've started work on this in `barkin/3753` where I fix this issue (with a simple bounds check). But there is a much bigger underlying issue (#3754).

Also, even with my fix, because applyEllipse itself switches tools to superselect, we never redraw our policy borders, so clicks will not go correctly.

I tried making sense of the mask code but I'm not familiar with it. You may kno

[2016-02-25 00:08] shaoshing commented on #3756
@DivyaPrabhakar I found another alignment issue with the alpha input in the color picker. Feel like they are similar issues, so I am posting it here as well. Thanks for looking into it.

<img width="565" alt="screen shot 2016-02-24 at 4 05 40 pm" src="https://cloud.githubusercontent.com/assets/118264/13305538/a55731b8-db10-11e5-979c-a96b3ad7cb8b.png">

[2016-02-25 00:10] shaoshing commented on #3756
Rotation input:

<img width="626" alt="screen shot 2016-02-24 at 4 08 58 pm" src="https://cloud.githubusercontent.com/assets/118264/13305579/0c6fa9ac-db11-11e5-9a0f-e2f9ff03ec3f.png">

[2016-02-25 00:13] shaoshing commented on #3756
Radisu input:
<img width="622" alt="screen shot 2016-02-24 at 4 11 47 pm" src="https://cloud.githubusercontent.com/assets/118264/13305635/7e07588a-db11-11e5-863a-900a74a50db9.png">

[2016-02-25 16:18] mcilroyc commented on #3743
so far, CNR

[2016-02-25 17:42] chadrolfs commented on #3743
:cry: still repro’s with current master and build 1099 (also tried on a completely different machine and repro'd this bug)

[2016-02-25 17:53] pineapplespatula commented on #3753
#3754 is the same issue,  there isn't a valid bounds on the group upon creation. I tested out your branch but i'm still seeing the same problem there.

there is already a check for  `this.flux.store("tool").on("change", _borderPolicyChangeHandler);` so i'm not sure why the vector mask state changing doesn't cause the change since

_handleVectorMaskModeChange in tools.store emits a change event.

b

[2016-02-25 18:01] volfied commented on #3753
Please check out commit https://github.com/adobe-photoshop/spaces-design/commit/c8b2f31c778e2afb33e52d6cad8902f6330504de and try reproducing both bugs.

[2016-02-25 18:56] chadrolfs opened #3757 "Search hitting Enter with partially typed filter has unexpected results, doesn't auto-complete text"
(have MRU populated, no doc open)
cmd/ctrl + f
type "rec" (hints "rec"ent Documents, and Recent Documents filter is highlighted blue)
hit Enter

Results: top most doc in MRU is opened
Expect: auto-complete filter for Recent Documents to be applied and search dialog remains open

Note: if you do this with Adobe Stock, it just opens the generic stock URL

[2016-02-25 18:56] chadrolfs commented on #3757
![search-autocomplete](https://cloud.githubusercontent.com/assets/8442631/13330616/73470312-dbae-11e5-8702-628bda62abe0.gif)

[2016-02-25 19:13] ktaki commented on #3757
This is more likely caused by doble-keydown event fix by @jfitz-adobe. He is working on another fix now.

[2016-02-25 19:35] chadrolfs commented on #3757
Oh, right!

[2016-02-25 19:36] chadrolfs commented on #3757
self-assigned so I can use this as another test case to validate his fix.

[2016-02-25 20:22] tommcrae commented on #3743
I had success with build 1098 on Windows 10 SP4 (Surface Pro 4).

However, the STR say:
_export icon on title bar (opens Export dialog, note "1x" is red)
_I don't see "red". How/when does "red" appear?

[2016-02-25 21:56] iwehrman commented on #3609
FBNC to @chadrolfs.

[2016-02-25 22:36] ktaki opened #3759 "Default export asset is created for the first artboard only"
Artboards added later to a doc do not have the default 1x export assets.

[2016-02-26 00:36] ktaki commented on #3743
Tom M and I tried to reproduce the issue. So far, we know:

CNR with Tom M's SP4 and Cory's SP4. Repro'd with my SP3, my Dell desktop, and Chad's two systems. It looks like the Export As is broken for those machines since new AIDE and FLite were checked in (cl 1064031, 2/18).

[2016-02-26 01:01] chadrolfs commented on #3609
Blocked by windows bug 3743

[2016-02-26 01:24] chadrolfs commented on #3743
Thanks to super sluething by @tommcrae and @mcilroyc, they figured out that the AIDE/FLITE stuff was probably built with VS 2015 which requires “Visual C++ Redistributable for Visual Studio 2015” to be installed on the machine for those to work.
https://www.microsoft.com/en-us/download/details.aspx?id=48145

After installing, we have success.

[2016-02-26 19:22] mcilroyc commented on #3710
@placegraphichere I agree it should just work.  I'm a little worried that the current UI would still be confusing though.  Should a "blank" export dialog (with no configured exports) always just magically export a 1x document-level image?
![ss](http://cl.ly/0c3Q3B2j2T2o/Image%202016-02-26%20at%201.14.40%20PM.png)

We currently have no real treatment of document-level exports in the modal window.

[2016-02-26 23:38] ktaki opened #3761 "Cannot type text after dragging mouse in the search bar"
Cmd/Ctrl-f to open the search bar.
Mouse down and drag the mouse a few pixels inside the search bar.

RESULT: Text input cursor disappears and cannot type text in the search bar.
WORKAROUND: Close and reopen the search bar.

[2016-02-27 00:13] #3743 closed

[2016-02-27 00:13] #3609 closed

[2016-02-27 01:50] iwehrman opened #3762 "Descriptor event debug messages should be collapsed by default"
For readability and consistency with the descriptor get/batchPlay log messages, the descriptor event log messages should be collapsed by default as well:

![image](https://cloud.githubusercontent.com/assets/1075154/13369957/45d7363c-dcb1-11e5-8c33-ee5c60ea8de6.png)

[2016-02-29 18:53] iwehrman commented on #3375
Over to @chadrolfs to verify.

[2016-02-29 19:39] iwehrman commented on #3610
After discussing with @DivyaPrabhakar, I think this issue can be considered fixed, though she may decide to change the behavior of tab later to auto-select the current filter.

[2016-02-29 19:39] #3610 closed

[2016-02-29 19:39] iwehrman opened #3763 "Weird hover styling for search input"
![img](https://s3.amazonaws.com/f.cl.ly/items/0O0R0X2u3Z0c1x1x0W1l/Screen%20Recording%202016-02-29%20at%2011.08%20AM.gif?v=814ecfe1)

[2016-02-29 19:54] chadrolfs opened #3764 "Startup failure resetting DS with no layer selected"
Open a saved doc
deselect all
Reset DS

Result: `Transfer from documents.beforeStartup to documents.initActiveDocument failed: TypeError: Cannot read property 'key' of undefined`

[2016-02-29 20:34] volfied commented on #3753
@chadrolfs please test this with the newly merged PR #3760

[2016-02-29 22:17] pineapplespatula commented on #3754
is this still happening in master, I think it should have been fixed with the #3753 fix

[2016-02-29 22:19] pineapplespatula commented on #3267
@chadrolfs , I think this should be unblocked.

[2016-02-29 22:50] #3375 closed

[2016-02-29 22:58] chadrolfs commented on #3754
Nope,looks fixed to me.  Closing

[2016-02-29 22:58] #3754 closed

[2016-02-29 23:29] #3753 closed

[2016-03-01 00:05] iwehrman commented on #3750
Could be related to #3635?

[2016-03-01 00:11] iwehrman commented on #2720
Still happening. I would call this a ship blocker because it's so jarring.

[2016-03-01 00:13] iwehrman commented on #3570
FBNC to @chadrolfs.

[2016-03-01 00:13] #3267 closed

[2016-03-01 00:27] #3570 closed

[2016-03-01 00:27] iwehrman commented on #3706
I'm closing this because my measurements for `historyState` were clearly broken. @shaoshing has followed up elsewhere on whatever is actually slow.

[2016-03-01 00:27] #3706 closed

[2016-03-01 00:32] chadrolfs opened #3766 "Resizing a group fails to update actual values or resize"
drag out a few shapes and group them
either enter a value in W or better, scrub that value
scrub the W value again or deselect the group and then reselect it

Result: W doesn't update when you scrub and subsequent attempt results in the value being reset

[2016-03-01 00:35] chadrolfs commented on #3757
change backed out so this is no longer happening.

[2016-03-01 00:35] #3757 closed

[2016-03-01 00:40] iwehrman opened #3768 "Incorrect tab order in transform panel"
![img](https://s3.amazonaws.com/f.cl.ly/items/391S3U0m3z0Q1X0d0J3n/Screen%20Recording%202016-02-29%20at%2004.39%20PM.gif?v=a53f990d)

[2016-03-01 01:35] ktaki opened #3769 "New text layer always defaults to Myriad Pro Regular 16 px"
It does not inherit the settings of previously created text layer.

[2016-03-01 19:19] iwehrman opened #3770 "Commit modal text when clicking on canvas"
This is highly debatable, but in my opinion we should be end and commit a modal type state if the user clicks on the canvas off the layer, just like we do with vector edit mode. Besides consistency, the advantage of this is that people don't have to figure out the magic key combination to dismiss the edit mode, which is currently incredibly obscure and confusing.

FWIW, @chadrolfs disagrees, and h

[2016-03-01 19:25] iwehrman commented on #3770
Dupe of #3352

[2016-03-01 19:25] #3770 closed

[2016-03-01 19:26] chadrolfs opened #3772 "Scrubbing position of type in edit mode results in jump back to original position"
1. start with a type layer
2. enter type edit mode, click and drag on canvas to move type layer
3. scrub X position

Result: type jumps to original position and auto-commits
Expected: scrubbing should not be allowed in edit mode

[2016-03-01 19:26] chadrolfs commented on #3772
![scrubby-modal](https://cloud.githubusercontent.com/assets/8442631/13438996/61ce3d08-dfa0-11e5-8b54-a574d4857add.gif)

[2016-03-01 19:27] iwehrman commented on #3748
FBNC to @chadrolfs.

[2016-03-01 19:28] chadrolfs opened #3773 "Updating position of type in edit mode results in bad coordinates"
1. start with a type layer
2. enter type edit mode, click and drag on canvas to move type layer
3. click in X position, change value, hit Enter

Result: type jumps to new (incorrect: wrong coordinate) position and policy isn't update correctly

if you arrow down (shown in gif below), the coords update correctly

[2016-03-01 19:28] chadrolfs commented on #3773
![scrubby-modal3](https://cloud.githubusercontent.com/assets/8442631/13439088/c2253e9a-dfa0-11e5-8489-504ffa2dcc0c.gif)

[2016-03-01 19:54] iwehrman commented on #3764
FBNC to @chadrolfs.

[2016-03-01 21:13] chadrolfs opened #3775 "First click is lost after scrubbing"
select a layer (shape)
scrub a transform property (W,H,X,Y)
click on another UI element (proportional link, color picker, etc)

Result: takes 2 clicks to perform action, first click fails

[2016-03-01 21:19] DivyaPrabhakar opened #3776 ""Tab" in search dialog does not match with "keyup/down" within the datalist"
1. Open search dialog and type "Op".
"Open Documents" should be the auto-suggestion.

2. Press tab to complete the "Open Documents" and then use the arrow keys to scroll through the datalist

3. Press enter on any filter other than "Open Documents"

Current behavior: Chooses the filter "Open Documents"
Expected behavior: Should select the filter that the user has highlighted with the arrow keys, e

[2016-03-01 21:52] chadrolfs commented on #3764
yay

[2016-03-01 21:52] #3764 closed

[2016-03-01 21:58] chadrolfs commented on #3748
Coordinates for layers outside an AB are still really confusing but we have a JIRA card for that work.  Closing this as drags between ABs now result in correct coords

[2016-03-01 21:58] #3748 closed

[2016-03-01 22:35] mcilroyc commented on #3763
Fixed by PR.  still to @iwehrman ?

[2016-03-01 22:39] chadrolfs commented on #3763
I'll take it

[2016-03-01 23:03] chadrolfs commented on #3763
verified the fix

[2016-03-01 23:03] #3763 closed

[2016-03-01 23:42] iwehrman opened #3777 "Disabled TextInput and Datalist underlines are different colors"
![image](https://cloud.githubusercontent.com/assets/1075154/13445927/20c345d2-dfc4-11e5-8ad6-827fb8e7b2be.png)
I can't think of any good reason for this. CC @placegraphichere to help us decide which shade to keep.

[2016-03-02 00:18] ktaki commented on #3352
FYI. PM asked Banana stand team look at this issue for standard PS. ETA. By the end of March.

[2016-03-02 01:09] ktaki opened #3778 "Separation of policy frame by adding artboard"
Create an artboard doc with Apple Watch 38 mm.
Cmd+minus to zoom out to 33.3% (Not happening wiht 100% zoom.)
Select the artboard and click '+' on the right to add new artboard to the right.

![screen recording 2016-03-01 at 05 00 pm](https://cloud.githubusercontent.com/assets/2029597/13447378/03206422-dfd0-11e5-82e5-b49369f31b22.gif)

[2016-03-02 01:14] ktaki commented on #3778
Changing the zoom level seems to correct the issue.

[2016-03-02 15:58] chadrolfs commented on #3778
similar separation in #3773

[2016-03-02 19:15] iwehrman opened #3780 "grunt compile doesn't work with node 0.10.x"
It would be better if we failed fast in this case with a clear warning.

[2016-03-02 21:45] iwehrman commented on #3773
Related to #3772. It might help to disable the X/Y inputs in type edit mode.

[2016-03-02 21:47] iwehrman commented on #3759
CC @placegraphichere @mcilroyc

[2016-03-02 21:48] iwehrman commented on #3759
It seems easy enough to just let all artboards have a default 1x export?

[2016-03-02 21:50] iwehrman commented on #3750
Can you verify that this is distinct from #3635 @DivyaPrabhakar?

[2016-03-02 21:51] iwehrman commented on #3746
CC @shaoshing

[2016-03-02 21:54] iwehrman commented on #3726
Over to @chadrolfs to file a separate issue for the undo issue. (May already be filed.)

[2016-03-02 21:57] iwehrman commented on #3673
Might have been due to @jfitz-adobe's keydown adventures. Can you still repro @chadrolfs?

[2016-03-02 21:59] iwehrman commented on #3656
Can you repro @shaoshing? If you can isolate it to PS, file a JIRA issue?

[2016-03-02 22:07] iwehrman commented on #3069
CC @DivyaPrabhakar

[2016-03-02 22:23] chadrolfs commented on #3481
Moving this to [Wishlist](https://github.com/adobe-photoshop/spaces-design/wiki/Wishlist) and closing as not a bug/defect.

[2016-03-02 22:23] #3481 closed

[2016-03-02 22:27] iwehrman commented on #3762
Fixed by #3779.

[2016-03-02 22:27] #3762 closed

[2016-03-02 23:20] mcilroyc commented on #3759
I think this already works.  http://cl.ly/0s3z162B0s06

artboards DO have to be non-empty for them to show up in the export modal...

[2016-03-02 23:26] ktaki commented on #3759
Yes. Verified. Thanks.

[2016-03-02 23:26] #3759 closed

[2016-03-02 23:30] chadrolfs opened #3782 "Undo of text input transform of artboard results in bad coords (adders offset, policy frame error)"
New doc
select the artboard
set the reference point to bottom right
click in W transform text input and press Shift + arrow up multiple times (repos bug #3726)
Undo several times

Result: policy frame, adders and coordinates for artboard are now incorrect.

[2016-03-02 23:30] chadrolfs commented on #3782
![undo-coordsoff](https://cloud.githubusercontent.com/assets/8442631/13479440/b501ed80-e08b-11e5-8ba9-3dd5baa01f02.gif)

[2016-03-03 00:36] chadrolfs commented on #3673
Yes, can still repro with current master/pgdev builds

[2016-03-03 16:19] iwehrman commented on #3737
Over to @chadrolfs to verify.

[2016-03-03 18:26] shaoshing commented on #3655
Removing the performance tag as this is caused by action execution order, rather than performance.

[2016-03-03 19:17] #3737 closed

[2016-03-03 19:34] #3266 closed

[2016-03-03 19:59] DivyaPrabhakar commented on #3777
Being solved in #3662

[2016-03-03 22:11] ktaki commented on #3108
@chadrolfs The core bug has been closed as Closed/NeveFix/NotWorthEffort. If you still feel this is a ship blocker, please open a bug in JIRA.

[2016-03-03 22:29] ktaki commented on #2720
@iwehrman CNR for me. Is it the artboard title or artboard bounds that flashes? Can you post the video again with the current build? A lot of discussions added to the watson bug, and current status is severity 1 and priority 2. It does not sound like this will be addressed anytime soon unless we scream !  No JIRA bug has been opened.

@chadrolfs Can you repro this?

[2016-03-03 22:38] ktaki commented on #820
https://jira.corp.adobe.com/browse/PS-1256

[2016-03-03 22:38] DivyaPrabhakar commented on #3756
Fixed with #3662

[2016-03-03 22:39] DivyaPrabhakar commented on #2457
Fixed by #3662

[2016-03-03 23:15] iwehrman commented on #3655
FBNC to @chadrolfs.