[2015-08-27 21:42] ktaki commented on #1947
Undo is successful, but subsequent apply of a style causes error.

Create a shape layer
Apply a style, say, a drop shadow from  the libraries panel
Undo
Apply the same style again from the libraries panel

![screen shot 2015-08-27 at 2 41 07 pm](https://cloud.githubusercontent.com/assets/2029597/9533878/bcb1a1e8-4cc9-11e5-866e-5ff6e85efade.png)

[2015-08-27 21:57] ktaki commented on #1880
Verified the fix.

[2015-08-27 21:57] #1880 closed

[2015-08-27 22:00] volfied commented on #1947
libraries.applyLayerStyle does not create any history state in our world, so undo removes the layer from our model. Looking into it.

[2015-08-27 22:11] iwehrman commented on #1858
@jfitz-adobe is going to blur the CEF window automagically when clicking back in the PS canvas.

[2015-08-27 22:15] iwehrman commented on #1491
FBNC to @ktaki.

[2015-08-27 22:18] chadrolfs opened #2246 "Typing in Stroke color field fails"
create a rect shape
click in stroke color field and type "red" and hit enter

Result:  `Action shapes.setStrokeColor failed: Error: value conversion failed`

[2015-08-27 22:20] volfied commented on #1947
@ktaki Now i'm extremely confused by this bug. Is this a libraries style apply bug, or paste layer style?

Can you please open new bugs for new issues instead of recycling old issues? If the paste layer style issue, which this bug title and description states is fixed, then it should be closed.

[2015-08-27 22:21] ktaki commented on #1947
Oops. Sorry.

[2015-08-27 22:33] ktaki commented on #1947
Verified the fix.

[2015-08-27 22:33] #1947 closed

[2015-08-27 22:37] iwehrman opened #2247 "Datalist options shift vertically when highlighted"
![move](https://s3.amazonaws.com/f.cl.ly/items/22073w2N3f2k3e0U2x1O/Screen%20Recording%202015-08-27%20at%2003.36%20PM.gif)

[2015-08-27 22:40] ktaki opened #2248 "Error applying style from CC lib after undo"
Create a shape layer
Apply a style, say, a drop shadow from the libraries panel
Undo
Apply the same style again from the libraries panel

![screen shot 2015-08-27 at 2 41 07 pm](https://cloud.githubusercontent.com/assets/2029597/9534983/da3703e0-4cd1-11e5-8a5b-c4bcd30831d0.png)

[2015-08-27 22:41] chadrolfs commented on #2234
happens somewhat intermittently under specific circumstances.  Sent you video via slack

[2015-08-27 22:50] placegraphichere opened #2250 "Ui loading appears to be in wrong order"
It appears as though libraries are loaded before the appearance panels like stroke and fill. We should try to have those panels load first and libraries last if possible,

[2015-08-27 23:01] chadrolfs commented on #2234
apparently has to do with where you click on the stroke icon in the hud.
when you hit it, you see applyColor
when you don’t you see applyStroke

[2015-08-27 23:13] chadrolfs opened #2252 "Focus conflict: Arrow keys do not work on Type attributes in edit mode, Enter key erases selected type"
click on canvas with Type tool and start typing, select all the text while still in edit mode, click in Size field and arrow up.

Result: size is unaffected and selection becomes blinking cursor

[2015-08-27 23:14] #2233 closed

[2015-08-27 23:17] chadrolfs commented on #2169
It's really bad on Windows.  It zooms out to the right and then pops back to center.  I'll try to post a video

[2015-08-27 23:18] #2209 closed

[2015-08-27 23:20] iwehrman commented on #2246
FBNC to @chadrolfs.

[2015-08-27 23:22] #2199 closed

[2015-08-27 23:24] #2246 closed

[2015-08-27 23:29] iwehrman commented on #2234
FBNC to @chadrolfs.

[2015-08-27 23:32] chadrolfs opened #2253 "Guides: cursor and drag area are not in sync: Clicking to the left of a guide calls marquee"
drag out a guide, move the mouse from left to right towards the guide until the cursor changes, then click and drag to the left

Result: marquee select.

[2015-08-27 23:39] chadrolfs commented on #2170
This is still failing on Windows.

[2015-08-27 23:47] chadrolfs opened #2254 "Color picker UI: sampling circles go outside sampling area"
![screen shot 2015-08-27 at 4 48 15 pm](https://cloud.githubusercontent.com/assets/8442631/9535925/54c6a116-4cdb-11e5-93cd-e17fa122a2b6.png)

[2015-08-28 00:00] chadrolfs commented on #2252
in edit mode, select type, click in color field and type "red" and hit Enter.
Result: carriage return in edit mode on canvas and color set to "black"

[2015-08-28 00:01] #2234 closed

[2015-08-28 00:12] chadrolfs opened #2255 "Sampling multi-run text color has unexpected result"
Not sure what is expected.  Maybe this is as designed?  Colors swap.

https://www.dropbox.com/s/6di6bramif3whh8/sample-multirun-textcolor.mov?dl=0

[2015-08-28 00:12] #2137 closed

[2015-08-28 00:13] #2163 closed

[2015-08-28 00:17] chadrolfs commented on #2011
very nice!

[2015-08-28 00:17] #2011 closed

[2015-08-28 01:19] mcilroyc commented on #1848
I'm stealing this so I can try out a fix that @jsbache recommended, and which I've initially had success with.

[2015-08-28 02:14] iwehrman commented on #1936
After re-reading my comment on the above Watson bug, I now think I was confused previously about the nature of this bug. I thought it was about the fact that we call `resetLayers` after editing a type layer. (Which, if that's even a bug, it's a rather benign one.) But I now realize it's actually about the `resetLayers` call on deselect of the type tool. I have no idea why we're doing that, especia

[2015-08-28 02:25] iwehrman commented on #1936
Wait, maybe this was supposed to handle the case in which you _cancel_ a modal edit? But switching tools should commit the current modal state, not cancel it AFAIK. This might make sense in the case of the superselect type sub-tool, for which deselection and exiting the modal state should be co-occurring, but it ain't there. Also, canceling out of the type subtool seems to incorrectly leave you in

[2015-08-28 02:27] iwehrman opened #2256 "Canceling edits in type sub-tool does not return to select tool"
1. Make a text layer.
2. Switch to the select tool.
3. Double-click the text layer. Feel free to make some changes.
4. Cancel the edits with `cmd-.`.

Result: the type subtool is still active.
Expected: the select tool is active.

[2015-08-28 02:27] iwehrman commented on #2256
Observed in #1936.

[2015-08-28 02:31] iwehrman opened #2257 "Canceling type edit does not update style panel"
1. Create a text layer with multi-colored text.
2. Commit the text.
3. Click or double-click (depending on the tool) to begin editing the text.
4. Place your selection in exactly one text-color run. Observe that color in the style panel.
5. Cancel the modal state with `cmd-.`.

Result: the style panel lists the same color.
Expected: the style panel lists "mixed".

[2015-08-28 02:31] iwehrman commented on #2257
Observed in #1936.

[2015-08-28 04:18] iwehrman commented on #1882
As of CL 1038558, the alignment commands seem to work, although the changes don't take effect on the canvas until after the modal state is committed. @jsbache to address!

[2015-08-28 14:23] iwehrman opened #2259 "Slices should be disabled"
If [slices](https://helpx.adobe.com/photoshop/using/slicing-web-pages.html) are enabled in standard, they will be visible on-canvas in Design Space:
![image](https://cloud.githubusercontent.com/assets/1075154/9548483/9c886adc-4d55-11e5-9156-1e2bd2064523.png)

[2015-08-28 15:39] volfied commented on #1877
FBNC to @chadrolfs

[2015-08-28 15:55] mcilroyc opened #2260 "Export "folder chooser" does not allow creation of New Folder"
When exporting, the user is prompted to choose a folder (via an OS dialog).  The dialog gives the open to create a new folder "on the fly", but strange and terrible things happen if you try this.  It may have something to do with keyboard focus wrt the sub-sub-sub-dialog that allows you to name the new folder.

[2015-08-28 18:02] ktaki opened #2261 "Switching to DS fails with French locale"
Japanese and German work, but not French.

![screen shot 2015-08-28 at 11 00 07 am](https://cloud.githubusercontent.com/assets/2029597/9553482/3eb386d4-4d74-11e5-8870-40e1b5d19b7a.png)

[2015-08-28 18:40] davealonzo opened #2263 "Custom canvas color for artboards gets reset to default on swap"
First, change matte background to a different color. Then, select 2 artboards and swap positions with the swap tool. Matte background color unexpectedly changes back to light color as a result of swapping. Should remain the same color as set by the user.

[2015-08-28 18:44] chadrolfs commented on #2248
@shaoshing you might need to work with the history king @mcilroyc on this.

[2015-08-28 18:53] iwehrman commented on #2263
Hmm, I can't repro:
![swap](https://s3.amazonaws.com/f.cl.ly/items/133L26262C2Q1I25381J/Screen%20Recording%202015-08-28%20at%2011.52%20AM.gif)

[2015-08-28 18:55] iwehrman opened #2264 "Panel UI should have an inner border"
The right side of the toolbar and the left side of the properties panel should have the same dark grey border that is used to to separate the panel sections:

![image](https://cloud.githubusercontent.com/assets/1075154/9554579/b12291c2-4d7b-11e5-9b75-5d706008b1c6.png)

![image](https://cloud.githubusercontent.com/assets/1075154/9554582/b53d9716-4d7b-11e5-93d0-367d0451973a.png)

[2015-08-28 18:56] iwehrman commented on #2264
@placegraphichere: please assign back to @designedbyscience once your comps have been updated with this change, which we've discussed offline a few times.

[2015-08-28 18:59] iwehrman opened #2265 "Toolbar is not included in cloaked UI bounds"
![cloak](https://s3.amazonaws.com/f.cl.ly/items/1f3h0c1i0p42271Q152X/Screen%20Recording%202015-08-28%20at%2011.59%20AM.gif)

[2015-08-28 19:05] #1936 closed

[2015-08-28 19:08] davealonzo commented on #2264
@iwehrman I think this might be more of an issue of the matte bg color not matching the color of the dark grey borders separating the panel sections. They were designed to match.

[2015-08-28 19:13] placegraphichere opened #2266 "Clicking off the datalist will select whatever is hovered on"
When live datalists are used (export datalists, font weight datalist maybe others)

Rolling off the datalist entry and clicking outside the datalist will still apply the hovered item in the datalist. Expected would be to cancel the datalist and return to the selection before it was clicked.

[2015-08-28 19:34] iwehrman commented on #2263
Here's a video from @davealonzo:
http://cloud.wehrman.org/0p3j1S0K0V2I

[2015-08-28 19:44] volfied commented on #2263
I can't repro either. @davealonzo what build are you using? (switch to classic, Help>System Info..., entire first line)

[2015-08-28 19:52] volfied commented on #2259
This will be very similar to the way we hide target path, as it's part of the View>Extras menu in classic. And it will require an adapter change to support setting guides visible.

[2015-08-28 19:53] tomwmcrae opened #2267 "No HTML panels if Design Space entered from Standard Photoshop while in modal state"
1. In Standard Photoshop, enter a modal state. For example, edit a type layer or initiate a transform but do not commit.
2. Switch to Design Space via keyboard or menu.

Result: Design Space is entered, but only the canvas is seen. No HTML panels.

Workaround: Press <Esc> or return to Standard Photoshop.

Watson bug (Jesper wanted one): https://watsonexp.corp.adobe.com/#bug=4045558

Note: Bug is b

[2015-08-28 19:58] tomwmcrae commented on #2267
@ktaki points out that this happens too if you have a modal dialog up in Standard Photoshop and switch to Design Space. For example, do the following:
1. In Standard Photoshop choose "Help->System Info..."
2. Switch to Design Space via keyboard or menu.

[2015-08-28 20:15] volfied commented on #2255
Doesn't work with libraries/applyStyle as well.. seems like something changed with descriptors.

[2015-08-28 20:24] tiburbage commented on #2150
Logged in Watson: https://watsonexp.corp.adobe.com/#bug=4045560
Jesper thinks we need to provide access to a faster transform method.

[2015-08-28 20:29] jsbache commented on #2150
yes: DS seems to be using transform and we need to provide access to "nudgeLayers" from the move tool implementation

[2015-08-28 20:31] iwehrman commented on #2261
I pushed small fix to master for this: 9b2df0fc094b414375c9ab3046af082d9af1efdf.

[2015-08-28 20:33] volfied commented on #2255
Also will fix the leading issue where text bunches up at the top...

[2015-08-28 20:37] shaoshing commented on #2040
the latest build (pgdev-544) seems to be working without switching to github master.

[2015-08-28 21:04] davealonzo commented on #2263
@volfied Adobe Photoshop Version: 2015.1 20150828.pgdv.549 2015/08/28:11:18:47 x003  x64

[2015-08-28 21:28] chadrolfs commented on #2252
This is now on Mac as well with latest dev build 549

[2015-08-28 21:40] chadrolfs commented on #2243
CNR with current resources (dev build 549)

[2015-08-28 21:51] ktaki commented on #2261
Another bad key:
Action menu.beforeStartup failed: Error: Menu entry specifies unknown key code: ECHAP

[2015-08-28 22:02] ktaki commented on #2118
This is no longer the case.

[2015-08-28 22:02] #2118 closed

[2015-08-28 22:05] chadrolfs commented on #1877
Not fixed.  Gets stuck on Typeface.

[2015-08-28 22:50] chadrolfs commented on #2105
Either i jumped the gun or this was somehow re-broken on Windows.  At any rate this isn't currently working on Windows.

[2015-08-28 23:02] jsbache commented on #2150
CL: 1039134 add a nudgeSelectedLayers command to the document element. This can be used to move layers similar to what happens when the user press the arrow key in standard.
See http://sol.corp.adobe.com/Photoshop/PlaygroundActionDescriptor#Nudging_selected_layers
Sample:
var reference = {_ref: "document", _enum: "ordinal", _value: "targetEnum"}
var desc = {"null":reference, "offset":{"vertical":1

[2015-08-28 23:23] chadrolfs opened #2271 "CC Lib: sync icon appears to be syncing indefinitely"

[2015-08-28 23:53] pineapplespatula opened #2272 "Design Space is partially unresponsive during startup when Generator is missing"
Since i use a locally built version of PS without any plugins i dont have generator. When I launch i get a series of errors about the missing socket
![screen shot 2015-08-28 at 4 53 58 pm](https://cloud.githubusercontent.com/assets/1008531/9559236/18addfc6-4da5-11e5-94bc-d71c6df68a8c.png)

until DS gives up on finding Generator some functionality is missing. Specifically keyboard shortcuts.

Steps

[2015-08-29 00:03] ktaki opened #2273 "Exporting empty artboard or empty layer causes error"
Export Failed for asset 0 of layerID 3, documentID 401, with error Cannot call method 'info' of undefinedTypeError: Cannot call method 'info' of undefined

[2015-08-29 00:16] ktaki opened #2274 "Export: No warning message for overwriting existing files"

[2015-08-29 00:26] ktaki opened #2275 "Selecting artboard after dismissing Export dialog causes error"
Create an artboard. Add a shape. Add export setting to the artboard. Open Export dialog. Do export. Dismiss dialog. Click the artboard name to select the artboard. This often (not always) fails with the following error. (This is a fatal error. DS needs to be reset.)

![screen shot 2015-08-28 at 5 23 28 pm](https://cloud.githubusercontent.com/assets/2029597/9559546/f343c46c-4da9-11e5-9b99-448a66e6a

[2015-08-29 01:25] mcilroyc commented on #2274
I'll kick of this discussion by saying that I don't think it is supposed to warn before overwriting.  maybe @placegraphichere or @davealonzo can chime in?

[2015-08-29 01:54] placegraphichere commented on #2274
If we're using some of the existing stuff from export as... then it behaves differently for a single file (shows warning) and for multiple files it will not show a warning.

Preference would be a warning, as that's probably decent house keeping.

[2015-08-29 02:08] mcilroyc commented on #2272
I can repro this.  BUT, because most things seem to be working *except* shortcuts ... I'm inclined to think this is not specific to export, but is caused by shortcuts not being properly registered between the before and after startup services.  @iwehrman or @volfied any immediate ideas?

This can be repro'd by adding the following to *any* afterStartup method, but export or help are easy choices
[

[2015-08-29 02:15] mcilroyc commented on #2191
@ktaki I believe this should be resolved now (via #2216 and the associated plugin changes).  My hope is that it would take some serious tampering (eg, removing generator or the plugin by muddling with files) to result in the export service not loading.

[2015-08-29 17:32] davealonzo commented on #2263
It appears that this issue only occurs when you set the matte color to a custom color. The other default colors do not change after swapping.

[2015-08-29 18:19] iwehrman opened #2277 "Alignment icons missing a selected state"
The alignment icons are missing a selected state. Selected icons have class `split-button__item__selected`, but that doesn't seem to affect the style of the button.

[2015-08-30 05:57] iwehrman commented on #1877
You have to hit tab twice currently; the second time opens the select menu.

[2015-08-30 16:29] iwehrman commented on #2252
Dupe of #1858?

[2015-08-30 17:55] placegraphichere commented on #2277
Was gonna say, you can assign to me

[2015-08-30 18:34] iwehrman commented on #2255
FBNC to @chadrolfs.

[2015-08-30 23:06] iwehrman commented on #2277
@placegraphichere I would still love your review of #2276!

[2015-08-31 14:29] iwehrman commented on #1848
FBNC to @chadrolfs, but please read the caveats described in #2270. Short version: full-blown undo/redo in the modal type state is impossible in PS. We should now be doing what standard does, which is to support a single, combined, single-step undo/redo command.

[2015-08-31 15:04] mcilroyc commented on #1882
The latest PR 2276 should address this issue.  FBNC to @ktaki

[2015-08-31 15:05] mcilroyc commented on #2277
I merged this, but still worth @placegraphichere taking a look.

[2015-08-31 15:07] iwehrman commented on #2277
Fixed by #2276.

[2015-08-31 15:07] #2277 closed

[2015-08-31 15:23] iwehrman commented on #2257
This bug is now blocked on core Watson issue 4045762.

[2015-08-31 15:37] jsbache commented on #2150
Required support in Photoshop is available via eventMove and eventCopy.
Although multiple layers may be active you need an action reference with a layer. I recommend using the targetEnum value for the layer/

[2015-08-31 15:43] #2256 closed

[2015-08-31 16:36] volfied commented on #2189
@chadrolfs This was due to my intersection related superselect changes, and I added safety checks across my PRs to make sure these errors don't happen. I can't repro this anymore and it should be fixed. Please confirm.

[2015-08-31 16:38] volfied commented on #2144
I can not repro, @ktaki. Can you provide video with the latest build of full steps please?

[2015-08-31 17:10] zoranagee commented on #2243
Yeah, not happening in the latest 29 dot build that Chad gave me.

Z.

From: Chad Rolfs <notifications@github.com<mailto:notifications@github.com>>
Reply-To: adobe-photoshop/spaces-design <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, August 28, 2015 at 2:40 PM
To: adobe-photoshop/spaces-design <spaces-design@noreply.github.com<mailto:spaces-design@noreply.github.com>>
Cc: Z

[2015-08-31 17:11] #2243 closed

[2015-08-31 17:18] chadrolfs commented on #2252
Could be related but don't think it's a dupe as I read down through that issue.

[2015-08-31 18:06] volfied commented on #1810
@chadrolfs I don't think this is a bug. User shouldn't expect to select a layer underneath the resize/rotate area while zoomed out. They can always hold down cmd to highlight and then the select will actually work. #2281 addresses the highlight issue.

[2015-08-31 18:07] volfied commented on #1648
@DivyaPrabhakar Can you take care of this at some point? We have example uses of Headlights scattered across the app, so please find a fitting category/subcategory/event-name for each link.

[2015-08-31 18:08] volfied commented on #2067
Opened a trello card, will bring this up to Jesper.

[2015-08-31 18:08] chadrolfs commented on #1877
That wasn't what I was seeing in previous build but with current sources, this looks fixed so closing this.

[2015-08-31 18:08] #1877 closed

[2015-08-31 18:17] volfied commented on #2067
https://watsonexp.corp.adobe.com/#bug=4046461

[2015-08-31 18:23] ktaki commented on #2261
Verified the fix. Now switching to DS in French locale works.

[2015-08-31 18:23] #2261 closed

[2015-08-31 18:47] DivyaPrabhakar commented on #1648
@volfied Sure, will do

[2015-08-31 19:00] iwehrman opened #2282 "Choose your own adventure: pasting paths copied from Illustrator"
![image](https://cloud.githubusercontent.com/assets/1075154/9587522/d44b07e8-4fd7-11e5-8231-3628986bc673.png)
Four four four four bugs in one!

[2015-08-31 19:34] chadrolfs commented on #1858
Seems to work as expected on Mac.  Windows is terribly broken #2252

[2015-08-31 19:34] chadrolfs commented on #2252
This seems fixed now on Mac.  Still very broken on Win

[2015-08-31 19:42] #1810 closed

[2015-08-31 20:12] ktaki commented on #2191
Verified the fix.

[2015-08-31 20:12] #2191 closed

[2015-08-31 20:25] iwehrman commented on #2252
Can you articulate the difference between this and #1858?

[2015-08-31 20:50] placegraphichere commented on #2282
does this need UX input? besides that blue type looking weird?

[2015-08-31 20:54] chadrolfs commented on #2252
Sure, as I understand it #1858: you enter a Text attribute field and you can't go back to editing the text on canvas because you haven't hit enter in the attribute field to apply it. Thus you have to hit enter twice.

This bug does almost the opposite, you enter a attribute field but keys are applied to on canvas rather than the attribute field.  For example, hitting tab you would expect it to mov

[2015-08-31 20:58] iwehrman commented on #2282
Well... It's not completely clear what this needs. We almost never want to show a dialog from standard in Design Space, but it seems like we might not have a choice here in the short term. So _if_ we're going to use this dialog, then this is primarily an engineering issue of how to make it work correctly. In particular, pasting paths seems to automagically create a vector mask on the selected laye

[2015-08-31 20:59] iwehrman commented on #2177
My super-hack does not seem to have solved the problem. Instead I think I need to work with @jsbache to figure out a better way to do this.

[2015-08-31 21:05] ktaki commented on #1491
Verified the fix.

[2015-08-31 21:05] #1491 closed

[2015-08-31 21:11] chadrolfs commented on #2282
I think we should always paste as Shape Layer and suppress the dialog.

[2015-08-31 21:17] iwehrman commented on #2252
OK, I understand now, thanks! I agree that it seems to work fine on Mac. I suspect this is a core issue and will ask @jfitz-adobe if he can repro.

[2015-08-31 21:21] placegraphichere commented on #2282
I don't that there is a perfect default. It largely depends on what the user is doing. If I'm just copying a shape from Ai, then I probably want a shape layer. If it's more complicated, or includes imagery maybe I want a smart object. Or if I'm trying to keep my assets in from non-destructing, a SO would do.

If I had to simplify the options, I'd want to choose between shape layer and smart object

[2015-08-31 21:50] iwehrman commented on #2252
Blocked by [Watson 4046558](https://watsonexp.corp.adobe.com/#bug=4046558).

[2015-08-31 21:57] #1848 closed

[2015-08-31 21:57] ktaki commented on #1882
Verified the fix.

[2015-08-31 21:57] #1882 closed

[2015-08-31 21:59] zoranagee commented on #1999
This is really jarring when you are going back and forth - check it out.
![documentzoom](https://cloud.githubusercontent.com/assets/7904855/9591542/e6f45c28-4ff0-11e5-9fa0-e0e0fd10e701.gif)

[2015-08-31 22:13] chadrolfs commented on #2168
Using modifier while transform dragging.

[2015-08-31 22:19] #2179 closed

[2015-08-31 22:27] #2190 closed

[2015-08-31 22:39] chadrolfs commented on #2208
Should create same size as previously created/selected AB if there is one.

[2015-08-31 22:42] chadrolfs commented on #2211
If it's easy to do something useful with this, great, if not, disable it so it doesn't break.

[2015-08-31 22:46] chadrolfs commented on #2213
try me if you feel lucky punk

[2015-08-31 22:49] chadrolfs commented on #2224
@tiburbage can you try to repro this.

[2015-08-31 22:53] chadrolfs commented on #2235
Try setting standard PS Pref > Interface from Auto to 100%.

[2015-08-31 23:01] ktaki commented on #2188
CNR with the latest pgDev and master.

[2015-08-31 23:01] #2188 closed

[2015-08-31 23:02] chadrolfs commented on #2254
Re-assign to Eric if needed.

[2015-08-31 23:06] chadrolfs commented on #2259
confirm priority

[2015-08-31 23:10] chadrolfs commented on #2263
@volfied see if you can narrow this down and file a waston bug if needed.  thanks.

[2015-08-31 23:18] iwehrman opened #2285 "Pinched Adobe Stock icon"
Retina:
![image](https://cloud.githubusercontent.com/assets/1075154/9592806/9be622b0-4ffb-11e5-9116-2fe7cca4ef86.png)

[2015-08-31 23:21] chadrolfs commented on #2274
Make a trello card for this for Zorana and Seth to agree upon.

[2015-08-31 23:24] chadrolfs commented on #2282
once you bring it in as a shape, you could create it as a library smart object.

[2015-08-31 23:42] ktaki commented on #2224
eMailed Tom B if he could repro this.

[2015-09-01 00:06] ktaki opened #2286 "Cannot display deeply nested groups in layers panel"
Practically, we only can support 6 levels plus artboard (total 7 levels of nested groups) currently.

![screen shot 2015-08-31 at 5 00 56 pm](https://cloud.githubusercontent.com/assets/2029597/9593353/2f871794-5002-11e5-8791-38a5023180bd.png)

In standard Ps,

![screen shot 2015-08-31 at 5 01 23 pm](https://cloud.githubusercontent.com/assets/2029597/9593360/3c280b48-5002-11e5-9958-bb35ad8c9667.png

[2015-09-01 01:55] tiburbage commented on #2224
I tried without success to have the tool fail to create a Rectangle shape using the steps and content Zorana cited. I did notice that the first Rectangle I drew just above the BG layer had a BLACK fill, so it was "invisible" over the black BG layer but was clearly created in the Layers hierarchy. Changed the fill color and there it was...

[2015-09-01 02:21] zoranagee commented on #2224
Yes I've had that happen as well and I did check for this. I'll try to reproduce as well.

Apologize for errors and brevity. Tapping tiny keys.

On Aug 31, 2015, at 18:55, tiburbage <notifications@github.com<mailto:notifications@github.com>> wrote:

I tried without success to have the tool fail to create a Rectangle shape using the steps and content Zorana cited. I did notice that the first Rectan

[2015-09-01 03:24] placegraphichere commented on #2282
Problem with an only shape approach is that a shape layer will simply create a shape box where any images once were. So I don't think it's a good idea to default to something that yields quite different results. Here's a screen grab of before and after copying from Ai to Ps using just shape:
![shape-layer-paste](https://cloud.githubusercontent.com/assets/3229167/9595681/0e591cc0-502f-11e5-9f94-853

[2015-09-01 03:40] placegraphichere opened #2287 "Info message for empty export and libraries should match visually"
![screen shot 2015-08-31 at 10 40 09 pm](https://cloud.githubusercontent.com/assets/3229167/9595829/4369fb58-5031-11e5-9119-aa555fc7eaa8.png)
![screen shot 2015-08-31 at 10 40 06 pm](https://cloud.githubusercontent.com/assets/3229167/9595828/43699d5c-5031-11e5-948f-d67e8216f107.png)

[2015-09-01 16:06] volfied commented on #2170
Fitz and I looked into it, and we found a bug in Windows side that's causing this bug. He's looking into it.

[2015-09-01 16:10] volfied commented on #2130
@chadrolfs #2288 will fix this, however, during testing, please keep in mind that guide creation is still not working correctly on Windows, so please test this bug/fix only for edge blinking.

[2015-09-01 16:39] volfied commented on #2201
@iwehrman can you confirm this fixed?

[2015-09-01 16:47] ktaki opened #2289 "Changing width and height of text layer in properties panel should not cause the text to be transformed"
Box text layer: The dimension of the text box (paragraph) should change. As a result, reflowing of the text should occur. The font size in the text box should not change.

Point Text Layer: The width and height values should be read-only in the properties panel. Changes are not allowed in the properties panel.

Text transformation should be allowed only by manipulating handles on the bounding box

[2015-09-01 16:48] ktaki commented on #2289
@placegraphichere How do you think? Does this make sense to you?

[2015-09-01 16:48] shaoshing commented on #1860
Hi @chadrolfs , I fixed a bug that is potentially related to your issue. Could you test again and let me know if the issue still exists? Thank you.

[2015-09-01 17:14] iwehrman commented on #2252
FBNC to @chadrolfs as of whatever the Win equivalent of Mac pgdev.560 is from Tuesday morning.

[2015-09-01 18:41] mcilroyc commented on #2253
to @chadrolfs

[2015-09-01 18:52] chadrolfs opened #2295 "Type datalist sometimes doesn't populate or expand"
Datalist doesn't populate.

[2015-09-01 18:57] iwehrman commented on #2295
WFM at f39ac6691e40bef6321a052c3ef4f3b83f755c8f with Mac pgdev.560. Anything in the console?

[2015-09-01 18:58] iwehrman commented on #2295
Also: can you `git bisect` it?

[2015-09-01 19:03] #2285 closed

[2015-09-01 19:03] #2201 closed

[2015-09-01 20:07] tiburbage opened #2297 "Changing UI layout caused Text tool and text selection to be dropped"
If you have Text layer in your doc, if you double-click on the layer, the Text tool is enabled and the text is selected (like in standard). If I do this, then open or close the Properties panel, the text selection is dropped and the Text tool is dropped, with the active tool becoming the Select tool.

It doesn't seem like opening/closing the UI panels should change tool/edit state.

1 - Using the

[2015-09-01 20:49] iwehrman opened #2298 "Rotate number input resets after each change"
![rotate](https://s3.amazonaws.com/f.cl.ly/items/300M2h1c2X3f1d1d3p3C/Screen%20Recording%202015-09-01%20at%2001.48%20PM.gif)

[2015-09-01 21:05] iwehrman commented on #1767
LGTM!

[2015-09-01 21:07] iwehrman commented on #1767
Over to @chadrolfs to verify. Thanks!

[2015-09-01 21:10] volfied commented on #2295
I don't see this either. Over to @chadrolfs to re-confirm.

[2015-09-01 21:11] volfied commented on #2297
We set preferences to remember panel layout, and that is a `modal:true` action, which kills the modal state, which causes type tool to revert to select tool...

I wouldn't consider this a bug, we're being safe.

[2015-09-01 21:14] iwehrman commented on #2298
Fixed by @volfied in #2299.

[2015-09-01 21:14] #2298 closed

[2015-09-01 21:31] ktaki commented on #2235
You need to have super good eyes to work with UI scaling 100% on Surface Pro 3. This cannot be a solution obviously.

[2015-09-01 21:33] zoranagee opened #2300 "Request: modifer to swap between the two columns (only showing 1 column)"
Request: A modifier that allows me to swap between Layers or Style in the single-column panel. For example, if you have Layers only showing and you OPT or CMD click on Effects button, it will swap out Layers with the Effects panel - keeping 1-column view without have to to stack and unstack. Currently to do this you have to stack and collapse.

Also keeps my canvas area free and open - this is one

[2015-09-01 21:33] zoranagee commented on #2300
@placegraphichere what do you think of this interaction?

[2015-09-01 21:39] chadrolfs opened #2301 "marquee select flag not set correctly: highlights not shown (Sampler, HUD, etc)"

[2015-09-01 21:40] iwehrman opened #2302 "Export header icons need a disabled state"
These guys:
![image](https://cloud.githubusercontent.com/assets/1075154/9617660/4ac1e308-50b7-11e5-8ada-02482c772bf8.png)
For example, the "export these assets" button should be disabled if there are no configured assets.

[2015-09-01 21:42] chadrolfs commented on #2295
The cause is #2301.  When you get into this state, the datalist doesn't populate.  Otherwise, it functions correctly.

[2015-09-01 22:07] volfied commented on #2263
Found the core issue, contacted Artboards team about it.

[2015-09-01 22:26] chadrolfs opened #2304 "Undo shortcut does not work after HUD Sampling"
Menu command works
Undo shortcut work when sampling without HUD

[2015-09-01 22:26] #2255 closed

[2015-09-01 22:35] chadrolfs commented on #2144
Here are the breakage scenarios:

Open a doc that has doc guides and one AB with guides attached to it.
- if you move the guides in the AB first, you will not be able move the doc guides
- if you move the doc guides first, you won't be able to move the AB guides
- if you move the actual AB before you touch either type of guide, you end up not being able to move any.

[2015-09-01 22:48] volfied commented on #2144
Oops, I forgot to remove the reverse call, so index i in n guides was ending up editing n-i th guide

[2015-09-01 23:04] chadrolfs commented on #2105
now, not working on both platforms

[2015-09-01 23:09] chadrolfs commented on #2301
Gets you into a bad state where bad things happen (like the type datalist getting hosted).

[2015-09-01 23:12] volfied commented on #2301
I don't see the typeface datalist being broken, even when I repro this bug.

[2015-09-01 23:13] chadrolfs commented on #2300
moved to [wishlist](https://github.com/adobe-photoshop/spaces-design/wiki/Wishlist)

[2015-09-01 23:13] #2300 closed

[2015-09-01 23:14] volfied opened #2306 "Hovering over bunch of typefaces and then clicking outside causes an error"
Our setTypeface calls in the component is throttled, and superselect is able to deselect all, which causes the descriptor play to fail.

Steps to reproduce:

1 - Make a type layer
2 - Click the typeface datalist, and hover over bunch of typefaces
3 - Click somewhere on document where there are no layers
4 - Wait for error

[2015-09-01 23:15] #2253 closed

[2015-09-01 23:16] pineapplespatula commented on #2048
watson bug 4047426

[2015-09-01 23:18] chadrolfs opened #2307 "Tab order is incorrect in Type edit mode"
Tabbing through Type fields while in edit mode skips fields
(check also Shift + Tab)

[2015-09-01 23:18] #2252 closed

[2015-09-01 23:21] ktaki commented on #2230
Verified the fix.

[2015-09-01 23:21] #2230 closed

[2015-09-01 23:36] chadrolfs opened #2308 "Discoverability: asset links/icons for delete, send link, view on website"
This needs some XD input.  Currently, you have to click below or above the asset name field which isn't terribly intuitive or discoverable.

[2015-09-01 23:46] iwehrman commented on #2260
@ktaki when you file this Watson bug, please mark it as high priority because this is probably something we need to fix for the mid-September internal release.

[2015-09-01 23:47] iwehrman opened #2309 "Can't export background layers"
It is not currently possible to configure exports for background "layers" or, as of #2284, documents which consist only of a background. This is almost certainly an issue at a lower level than Design Space, but I'm filing this anyway because it's confusing to end users and so that the wish isn't lost.

If the problem is hard to solve at a low level, one potential workaround for the former problem

[2015-09-01 23:48] #2189 closed

[2015-09-01 23:51] ktaki commented on #2260
https://watsonexp.corp.adobe.com/#bug=4047449

[2015-09-01 23:58] #1767 closed

[2015-09-02 00:04] iwehrman commented on #2275
I'm hitting something similar with the following steps:

1. Create a new non-AB document. Unlock the background layer. Configuring an export for that layer.
2. Repeat.
3. Select first document.

Result:
[code]

[2015-09-02 00:05] chadrolfs commented on #1860
Yeah, looks fixed to me.  CNR on both mac/win.  Thanks!

[2015-09-02 00:05] #1860 closed

[2015-09-02 00:15] ktaki opened #2310 "Error reopening a file with export options"
Create an artboard and a few shape layers. Set export options for the layer and artboard. Save the file and close the file.

A warning was given when the file was closed.

![screen shot 2015-09-01 at 5 04 01 pm](https://cloud.githubusercontent.com/assets/2029597/9620130/f76eb0ae-50cb-11e5-8a7d-debb210ca1f4.png)

When reopening the file, error resulted.

![screen shot 2015-09-01 at 5 04 27 pm](http

[2015-09-02 00:23] ktaki commented on #2289
We will change our implementation to follow the standard Ps. This issue needs to be addressed with high priority.

[2015-09-02 00:26] volfied commented on #2170
@chadrolfs With latest Jenkins, @jfitz-adobe fixed this, please confirm.

[2015-09-02 00:29] ktaki commented on #2310
I realize this is a dupe of #2275. Closing it for now and re-test it later when the issue is resolved.

[2015-09-02 00:29] #2310 closed

[2015-09-02 00:43] tiburbage opened #2311 "Having trouble drilling down to select layers using Select in VermilionArtboards.psd"
Testing with VermilionArtboards.psd, I found that I could not "drill down" into visible layers of the document where in standard mode with Auto-Select/Layer ON I had no trouble doing so.

1 - Open VermilionArtboard.psd
2 - Zoom in on the top portion of the "Desktop Large" artboard
3 - With the Select tool, try double-clicking on "QUEEN OF FLORA" (text, of text layer) or other nearby items.
I can k

[2015-09-02 05:18] davealonzo commented on #2308
Clicking on the Library name area to select the item doesn't seem to respond. But if you click slightly above or below the name within the hover area, it easily selects as expected. This might be contributing to the issue.

The expected behavior is to click anywhere in the hover area (including the name or thumbnail) to select the item and subsequently invoke the icons.

[2015-09-02 13:09] mcilroyc commented on #2275
FYI this is fixed in a branch that is waiting on another PR to be merged.

[2015-09-02 14:59] chadrolfs commented on #1967
https://watsonexp.corp.adobe.com/#bug=4048115

[2015-09-02 15:17] iwehrman opened #2312 "CC Libraries panel scroll position changes with active document"
To reproduce:

1. Create a new document, reveal the Libraries panel, scroll it to the bottom.
2. Create a new document. Observe that the Libraries panel has jumped back to the top.

This is because we're keeping N copies of the Libraries panel in the DOM, just like all the other panels. This makes a lot more sense for the other panels, but not for the Libraries panel because it is not document-spe

[2015-09-02 15:19] iwehrman commented on #2311
I think @volfied looked into this once and decided that it's because the structure of the VermilionArtboard PSD was weird.

[2015-09-02 15:21] iwehrman commented on #2308
XD input received! Back over to @shaoshing.

[2015-09-02 15:42] #2170 closed

[2015-09-02 15:53] chadrolfs commented on #2311
The way that file was built is totally annoying.  There are a lot of non-visible grid layers and group copies that get in the way of the actual content.  I usually delete the “grid” and “Search”/“Search copy” layer groups.

[2015-09-02 15:58] chadrolfs commented on #2301
I can't either with updated jenkins build and master

[2015-09-02 16:12] chadrolfs opened #2313 "Type: setting attributes in initial edit mode leaves you in a state where you can't commit text (via Esc/Enter), Focus issue"
new doc
(t) for type tool, click on canvas and type multiple lines
select all the text
click in color picker field, type "red"
tab to size and Shift + up arrow to increase size
select half of the text
click in color picker field, type "purple"
click in Typeface and change type
hit enter, hit Esc

Result: you are stuck in edit mode until you change tools

[2015-09-02 16:12] chadrolfs commented on #2313
https://www.dropbox.com/s/eolsuvuaqmwl5ct/Type-cannot-commit.mov?dl=0

[2015-09-02 16:23] chadrolfs commented on #2301
although I just repro'd in a different scenario.  I'm not sure what the reliable repro case is.

[2015-09-02 16:25] volfied commented on #2311
Also, Vermillion has clipping mask layers, which we don't support. And those are the reasons for a lot of the bounds not matching the visible part of layers.

[2015-09-02 16:25] chadrolfs commented on #2295
I've been hitting this from time to time.  Not sure what the reliable repro case is.  Here's an instance I ran into it but repeating the steps didn't repro:
https://www.dropbox.com/s/equl4pg2c7dfhnc/Type-Commit-Datalist.mov?dl=0
could maybe related to #2313?  I dunno

[2015-09-02 16:30] chadrolfs opened #2314 "CC Libraries: Contextual "Add" bar inconsistent show/hide/enable/disable"
There are 2 different sets of states for the icon buttons.  The first 3 (Add Graphic, Add Character Style, Add Layer Style) have enable/disable state.  The others (Add Fill Color, Add Stroke Color, Add Text Color) are contextual show/hide.

Shouldn't we be consistent here?

[2015-09-02 17:08] iwehrman opened #2315 "Export file chooser action button should be "Select" not "Open""
![image](https://cloud.githubusercontent.com/assets/1075154/9638104/6dec8f70-5159-11e5-8b9f-ac3fd9f1b26a.png)

[2015-09-02 17:08] iwehrman commented on #2315
Or maybe "Export".

[2015-09-02 17:20] designedbyscience commented on #2244
This is addressed in my UI updates

[2015-09-02 18:17] volfied commented on #2214
Giving this one to @chadrolfs as it's guides related.

[2015-09-02 18:59] iwehrman commented on #2175
Tossing this over to @chadrolfs for verification.

[2015-09-02 19:00] iwehrman commented on #2144
FBNC to @chadrolfs.

[2015-09-02 19:14] iwehrman opened #2316 "On-canvas UI isn't visible until after first app click"
1. Create a new document.
2. Reload Design Space from remote Dev Tools
3. Cmd-tab back to Design space.
4. Hover cursor over a guide zone.

Result:
The guide zone doesn't show. Once you click either the canvas or the HTML UI, it starts working.

Sometimes I also see the guide zone appear when the cursor is in the middle of the canvas, but I can't immediately figure out repro steps for that.

====

[2015-09-02 19:25] iwehrman opened #2317 "Guides zones get stuck on when moving cursor from canvas to UI"
![stuck](https://s3.amazonaws.com/f.cl.ly/items/2g012l1c3i420F160K0e/Screen%20Recording%202015-09-02%20at%2012.24%20PM.gif)

[2015-09-02 19:30] iwehrman commented on #2316
Reported with Mac pgdev.563 at d90d3fe84047c87233c10af4292fed13a252e631.

[2015-09-02 19:53] iwehrman commented on #2316
I also note that updating the window transform (which happens, for example, when you pan the canvas) does not help. I'm also definitely seeing the thing where the UI shows up at unexpected times w.r.t. my cursor position regularly, but I still can't figure out concrete repro steps.

[2015-09-02 19:55] #2144 closed

[2015-09-02 19:56] #2130 closed

[2015-09-02 19:59] iwehrman commented on #2316
I now think the problem is strictly that we're getting bad mousemove events from PS until the first click. I can reliably trigger the guide zone by moving my mouse around the middle of canvas, though sometimes it takes some hunting to find the right place. Also, interestingly, I can never repro this when I try to use QuickTime to make a screen recording of the problem...

[2015-09-02 20:01] chadrolfs commented on #2295
seems easier to repro on Win

[2015-09-02 20:02] iwehrman commented on #2316
@jfitz-adobe @chadrolfs can you repro this? @volfied was unable to do so.

[2015-09-02 20:06] #2175 closed

[2015-09-02 20:34] ktaki opened #2320 "Export options not saved with newly created document"
Create a new document. Add a shape. Add export options. Try export to make sure it works. Save the doc as Ps doc with any name. Close it, and re-open it.
RESULT: Export options are gone.

Note that export options set in existing docs are retained as expected.

[2015-09-02 20:47] chadrolfs commented on #2308
Great!  Simply I think that means this: single click = show icons, double-click = rename

[2015-09-02 20:50] iwehrman commented on #2275
:tada:

[2015-09-02 20:51] chadrolfs commented on #2235
:eyes: :mag:

[2015-09-02 20:59] ktaki commented on #2275
Yes, this seems to be fixed. I still see the warning: Failed to deregister dialog...
Is this not a concern?

[2015-09-02 21:01] mcilroyc commented on #2320
This is a weird bug.  I can confirm that photoshop reports the correct extension data prior to saving.  But after saving and re-opening, it does appear to be missing from photoshop.  This *could* be core related, but I'll continue to try and pare it down.

[2015-09-02 21:06] iwehrman commented on #2150
Passing this to @volfied.

[2015-09-02 21:08] volfied commented on #2304
Looks like a core bug, because we're not even getting the menu event from adapter... and it starts working again if you click the canvas.

[2015-09-02 21:08] mcilroyc commented on #2275
The fix for this is still open (2319).  I *will* be concerned about "failed to deregister.." *after* that PR has merged.

[2015-09-02 21:14] volfied commented on #2304
https://watsonexp.corp.adobe.com/#bug=4048288

[2015-09-02 21:41] iwehrman commented on #2317
Fixed by #2318.

[2015-09-02 21:41] #2317 closed

[2015-09-02 22:05] chadrolfs commented on #2304
Thanks for logging that watson bug @volfied

[2015-09-02 22:26] #2214 closed

[2015-09-02 23:16] pineapplespatula commented on #2048
fixed in jecohen/vectorMaskAdd branch

[2015-09-03 00:11] iwehrman commented on #2275
FBNC to @ktaki now that #2319 is merged.

[2015-09-03 00:13] iwehrman commented on #2153
Fixed by #2319.

[2015-09-03 00:13] #2153 closed

[2015-09-03 01:11] isonno commented on #2257
Core watson bug 4045762 fixed in playground-dev branch

[2015-09-03 01:11] jfitz-adobe commented on #2316
Can't repro using Spaces v1.0.35 + HTML Sprint30.
Both Mac & Win seem to work OK.

[2015-09-03 06:39] placegraphichere commented on #2286
see #2325

![screen shot 2015-09-03 at 1 35 40 am](https://cloud.githubusercontent.com/assets/3229167/9651964/9648d784-51dc-11e5-955d-8aadfc796d7f.png)

[2015-09-03 06:43] placegraphichere commented on #2215
CMD+b sounds good to me, adjacent to "n". In standard it refers to editing color balance.

[2015-09-03 13:56] iwehrman commented on #2286
@shaoshing In most cases, the filer of the original bug should be the one to verify fix and (hopefully) close the issue. FBNC to @ktaki.

[2015-09-03 14:00] iwehrman commented on #2287
FBNC to @placegraphichere. I believe this message no longer appears in the panel at all.

[2015-09-03 14:22] iwehrman commented on #1879
@chadrolfs This requires a Watson issue. Please ask that this dialog be suppressed and that the "Hide Photoshop" option be chosen as the default. Back to @chadrolfs for Watsoning.

[2015-09-03 14:24] iwehrman commented on #2257
Thanks @isonno! FBNC to @chadrolfs.

[2015-09-03 14:26] iwehrman commented on #2313
I think this is a dupe of (or at least has the same root cause as) #1858.

[2015-09-03 14:44] designedbyscience commented on #2286
Also, wait a minute, this can't be correct:

![untitled-1___52_9___rectangle_2__rgb_8____](https://cloud.githubusercontent.com/assets/22372/9661452/c4eaacd8-5228-11e5-9fba-b4ae07aad6d2.png)

[2015-09-03 15:25] #2215 closed

[2015-09-03 15:40] volfied commented on #2231
Note to self: if swapping artboards, don't break it down to layers and see if just swapping the artboard locations is faster.

[2015-09-03 16:21] volfied commented on #2316
@iwehrman if you can repro it, see if you can get the transformation matrix when this is happening. All those drawings rely on transformation matrix being correct, so maybe our initial values are messing things up and we should not draw anything when transform matrix is not available.

[2015-09-03 16:34] volfied opened #2328 "Disable spacebar causing hand icon in sampler"
Spacebar is used for HUD, and we immediately start it on spacebar down (for performance and usability) However, the hand icon flashes briefly.

[2015-09-03 16:38] mcilroyc opened #2330 "Undo action is unavailable in modal text state IF there are no previous document history states"
Modal text operates with its own history stack, so undo should be available even if there is no document history states to go back to.  The menu logic currently disables `undo` if there are no previous history states, and it does *not account for* modal text state.  An initial implementation should show/allow undo *always* in modal text, because it is safe to request an 'undo' even if there is not

[2015-09-03 17:11] placegraphichere commented on #2287
should be handled with #2323

[2015-09-03 17:11] #2287 closed

[2015-09-03 17:38] zoranagee commented on #1999
We need to fix this one for the MAX keynote.

[2015-09-03 18:09] volfied commented on #2120
The amount of information on this issue is wack. Can you elaborate/add some steps?

[2015-09-03 18:54] ktaki opened #2333 "Sample tool flashes on Mac"
It looks like showing an arrow icon behind.

https://photoshop.slack.com/files/ktaki/F0A4KEM9V/flashing_sample_tool.mov

[2015-09-03 19:40] ktaki commented on #2333
Hot fix was added by @volfied

[2015-09-03 19:40] #2333 closed

[2015-09-03 20:04] ktaki commented on #2286
@designedbyscience What was wrong with the picture you posted?

[2015-09-03 20:06] shaoshing commented on #2286
@ktaki the entire list is shifted to the left. my bad of not spotting that.

[2015-09-03 20:19] designedbyscience commented on #2286
Yea, not enough padding between border of container and left most icon. This is actually FBNC

[2015-09-03 20:27] volfied commented on #2192
Not sure if this is a bug. PS is placing that layer in the group, despite it being drawn outside the artboard.

If you think this is an issue, we need a watson bug because PS drives the shape drawing.

[2015-09-03 20:27] ktaki opened #2335 "Create New Artboard creates odd sized artboard when no artboard is selected"
Open new artboard doc with iPhone 6 dimension.
Immediately, add a new artboard by Cmd+B. Note that Layer 1 is selected at this point.
RESULT: New artboard added has a dimension W1080 x H 1960. This dimension does not exist in the artboard presets. (This could be old default artboard dimension which no longer used.)
EXPECTED: Since no artboard was selected to duplicate the dimension, the dimension

[2015-09-03 20:28] volfied commented on #2192
@chadrolfs Let me know if you think this should be fixed, given my description above. If so, please assign back to me and I'll write up a Watson bug.

[2015-09-03 20:29] ktaki commented on #2286
Got it. Verified the fix.

[2015-09-03 20:50] iwehrman commented on #2187
FBNC to @chadrolfs.

[2015-09-03 20:55] volfied commented on #2061
Sending to @placegraphichere on demand, so he can give it back to me once it's designed (or fix it himself)

[2015-09-03 20:58] ktaki commented on #2286
@designedbyscience  Just to make sure. Since left padding was expanded, the deepest layer's name has been truncated. Is this acceptable?

![screen_shot_2015-04-23_at_11 16 50_am](https://cloud.githubusercontent.com/assets/2029597/9670862/95bd0fc6-5243-11e5-9bd3-db07f8027fe8.png)

[2015-09-03 21:10] #2265 closed

[2015-09-03 21:14] mcilroyc commented on #2231
@chadrolfs FBNC via the above PR.

[2015-09-03 21:50] placegraphichere opened #2336 "Placeholder text in libraries panel feels too real"
placeholder text is too bright and shiny, it feels like I can just click "create" and the lib will be named that. Need to change it so it feel more placeholder-like

[2015-09-03 21:56] ktaki opened #2337 "Focus is not coming back to canvas after changing font in the text editing mode"
With type tool, click on canvas to enter editing mode. Type something. Change the font to in type panel. Type something again.
RESULT: No typing is accepted on canvas. It looks like the focus is at somewhere else.

[2015-09-03 22:03] ktaki opened #2338 "Typeface flyout menu does not open"
This is intermittent. Open a new doc. Select type tool  and click on canvas. Type something and commit. Go to type panel, click on the down arrow for Typeface menu.
RESULT: the flyout menu does not open
Once get into this, DS needs to be reset to make the menu work again.

[2015-09-03 22:12] ktaki commented on #2337
I guess this is a dupe of #1858.

[2015-09-03 22:15] ktaki commented on #2337
Acting too fast. Reopening this.

[2015-09-03 22:41] volfied commented on #1573
Is this still a problem @iwehrman @joelrbrandt ?

[2015-09-03 22:41] volfied commented on #1081
Fixed by #2339

[2015-09-03 22:47] ktaki opened #2340 "Time out error when exporting a 2.5 M JPEG file to PNG"
Scale factors other than 1 failed. Failures were indicate by red ink in the Export dialog. It looks like the files were generated successfully.
[code]

![img_0759](https://cloud.githubusercontent.com/assets/2029597/9672851/0396230c-5253-11e5-9268-dd4aa11ce1d1.jpeg)

[2015-09-03 22:49] mcilroyc commented on #2340
quick note on this: We will soon be introducing a better feedback mechanism for "in progress" export, and will subsequently remove or significantly lengthen the timeout.

[2015-09-03 22:51] ktaki commented on #2340
Got it. Keep this open for now. Thanks.

[2015-09-03 22:53] mcilroyc commented on #2340
yes, for sure.  *It is a bug* I agree!

[2015-09-03 23:10] iwehrman commented on #2338
Can you report the full console log when this happens?

[2015-09-03 23:26] volfied commented on #1561
This is now fixed. @chadrolfs

[2015-09-03 23:34] ktaki commented on #2338
smb://sjshare/photoshop/Transfer/ktaki/For_IanW/DevToolConsoleLog.zip

It was fairly easy to reproduce it this time. No errors have been reported on console. Repeating "Enqueuing/Executing/Finished action policy.addKeyboardPolicies" when I was trying to click on the menu. It looks like stuck in the editing of the font name whenever click on the typeface menu.

[2015-09-03 23:37] volfied commented on #1709
This is also fixed by #2339

[2015-09-03 23:39] volfied commented on #2040
I'll take a look to see if compiled code is being bad requiring this library.

[2015-09-03 23:53] chadrolfs commented on #2316
Here's another easy way to repro:
View > Show Guides (uncheck)
View > Show Guides (check)

Now you're in the state where guide zone will either not show or flicker until you click on the canvas.

[2015-09-03 23:59] chadrolfs commented on #2338
dupe of #2295 but this additional info is helpful.  thanks @ktaki

[2015-09-04 00:12] iwehrman commented on #661
Fixed by #2339!!!!!!!

[2015-09-04 00:12] #661 closed

[2015-09-04 00:13] iwehrman commented on #2206
FBNC to @chadrolfs!!!!!

[2015-09-04 00:13] iwehrman commented on #2169
FBNC to @chadrolfs!!!!!!

[2015-09-04 01:28] iwehrman commented on #1999
The tricky thing here is that when you switch to standard PS, it moves the document into the center of the window. So we almost certainly want to do _some_ kind of repositioning when entering Design Space because the center of the window is probably not the best placement for Design Space. My current best guess is that we just want to _center_ all the already-open documents when they're first acti

[2015-09-04 05:22] placegraphichere opened #2342 "Size of layer will not scale using percentage input"
Math operators like `104*2=208` work, but simply writing in `200%` does not.

For different layer types:
- Shape, pixels and text layers are new at 100 percent every time % is used
- Text follow the new rules from Ps as to whether the input is active of course
- Any smart object should remember it's original scale and use the input % relative to that, no matter the current size/scale.

Most appare

[2015-09-04 14:43] #1960 closed

[2015-09-04 14:47] iwehrman commented on #1999
Offline, @placegraphichere has suggested that, in fact, we do not want to even just center documents that were already open when switching to Design Space. I guess the thought is that having them off-center is better than the alternative of panning the canvas to a possibly distant position. So, OK!

[2015-09-04 15:20] mcilroyc commented on #2273
The terribleness of the above error is being addressed in a generator plugin fix: https://github.com/adobe-photoshop/generator-spaces/commit/2ef03036af896fd55edc795b68719bf9349d7bf5

A in-progress DS PR will fix the way this is handled (or better yet, prevented).

[2015-09-04 16:10] mcilroyc commented on #2273
Note to self: empty artboards, and empty text layer (eg., a single whitespace text) is reported by our internal model as non-empty, yet generator complains in both cases that they are empty.

[2015-09-04 16:33] pineapplespatula opened #2344 "text reflows multiple times when in modal state"
Steps:
Create a text block.
Use text tool to enter modal text state
use the alignment buttons to realign the text

observe two separate reflows happening.

this only happens in a modal state

[2015-09-04 16:47] ktaki commented on #2338
Closing as a dupe of #2295.

[2015-09-04 16:47] #2338 closed

[2015-09-04 16:55] ktaki commented on #2313
The issue is when typeface is changed, the focus is not coming back to on canvas to continue editing. (as I reported in #2337). Color changing part is working as expected.

[2015-09-04 16:56] ktaki commented on #2337
Closing as a dupe of #2313.

[2015-09-04 16:56] #2337 closed

[2015-09-04 17:47] ktaki commented on #2344
This seems to be a core issue. Standard Ps behaves the same.

[2015-09-04 18:06] pineapplespatula commented on #2344
is there a core bug logged? should we delete this as a dupe?

[2015-09-04 18:14] ktaki commented on #2344
I don't recall this has ever been reported. I can check. I can repro it with shipping 16.0.1. It does not happen with 15.2.

[2015-09-04 18:54] iwehrman opened #2347 "Unhandled exception in search for current documents"
1. Open a new document
2. cmd-F to search
3. type "doc"
4. Hit enter to select "Filter by current documents"
5. Unhandled exception:

[code]

[2015-09-04 20:13] ktaki commented on #2344
Opened a watson bug. Communicated to Vinod and David M.
https://watsonexp.corp.adobe.com/#bug=4049956

[2015-09-04 20:14] ktaki commented on #2344
@pineapplespatula May be we can close this issue now?

[2015-09-04 21:44] volfied commented on #2316
Well I just yoinked this, but I'll be fixing the issue where re-showing guides etc. does not re-draw the overlays.

[2015-09-04 21:56] volfied commented on #2316
I de-yoink it, this has to do with HTML/PS focus battle more than anything.

[2015-09-04 21:59] volfied commented on #2306
Seems fixed now.

[2015-09-04 21:59] #2306 closed

[2015-09-04 22:53] ktaki commented on #2260
As per the watson bug report, this issue will be fixed in JS.

[2015-09-07 00:37] iwehrman commented on #2260
Back to @ktaki for verification.

[2015-09-08 13:54] chadrolfs commented on #2231
Still slow.  (on mac) using dev build 586, master @ 312f909b.
` Finished action transform.swapLayersCurrentDocument in 6528ms with RTT 6533ms; 1/1`

[2015-09-08 14:06] chadrolfs commented on #1879
https://watsonexp.corp.adobe.com/#bug=4051688

[2015-09-08 14:13] chadrolfs commented on #1561
Tested pgdev build 586 with compiled js (312f909) and going back to PS always unchecks autoselect.

From watson bug:
[code]

[2015-09-08 14:26] chadrolfs commented on #2120
CNR.  I'll reopen if I run into this again with better steps.

[2015-09-08 14:26] #2120 closed

[2015-09-08 14:33] chadrolfs opened #2353 "Interacting with CC Library asset can result in error dialog, file damaged"
I've seen this twice this morning.  I'll work on better repro steps but it has popped up using the same CC Lib asset that's a vector shape.

Conditions: multiple artboards (some with auto-nesting locked).  Error occurred after dragging out CC Lib onto canvas (not onto AB), then moving or transforming it.

<img width="425" alt="screen shot 2015-09-08 at 7 23 55 am" src="https://cloud.githubusercont

[2015-09-08 14:34] chadrolfs commented on #2353
here are the actions leading up to it:

<img width="1042" alt="screen shot 2015-09-08 at 7 24 34 am" src="https://cloud.githubusercontent.com/assets/8442631/9737546/ffd2da92-55fb-11e5-9e36-f45acee1804e.png">

[2015-09-08 14:46] chadrolfs commented on #2169
Fixed on Mac.  Still looks weird on Win.

https://www.dropbox.com/s/0svfs7hheqgwh1i/capture_Tue_Sep_08_07.41.24.mkv?dl=0

[2015-09-08 14:48] #2187 closed

[2015-09-08 14:49] mcilroyc commented on #2168
FBNC to @ktaki   -- this passed my cursory test, but admittedly I may not be attuned to some of the nuances.

[2015-09-08 14:55] chadrolfs commented on #2192
Yeah, this is what Zorana was running into and if the selected layer is nested in a collapsed group, it can be confusing.

[2015-09-08 14:57] #2206 closed

[2015-09-08 15:13] volfied commented on #1561
@chadrolfs I believe this is normal. Auto-select is supposed to be unchecked, and it's spring loaded to cmd key, so when you hold it down it becomes checked.

[2015-09-08 15:32] chadrolfs commented on #1561
Yes, it will dynamically check/uncheck with the cmd key, but it remains sticky and set.  By default it is unchecked, but if the user checks it, it will stay checked. The cmd key is used as a temporary toggle only to disable it or enable it depending on user pref.  Going to DS and back to PS resets the checkbox to default and it shouldn't.

[2015-09-08 15:33] #2257 closed

[2015-09-08 15:41] mcilroyc opened #2354 "Clicks in the layers panel when there's a shape underneath - requires two clicks to select layer"
The first click is handled by the underlying transform handle?
http://cl.ly/1M0p2s1s2z37

[2015-09-08 16:10] volfied commented on #2354
Is there a policy underneath?

[2015-09-08 16:12] #2301 closed

[2015-09-08 17:52] volfied commented on #2231
At this point we're sending 5 commands to PS in total, so something in PS is slowing down. Sent a profile report to Jesper to see how we can make it fast on native side.

[2015-09-08 18:01] iwehrman commented on #2354
Yes, I think that is what is happening...
![policy](https://s3.amazonaws.com/f.cl.ly/items/1n1L2o2i1Q2P3S1s3z1Y/Screen%20Recording%202015-09-08%20at%2010.58%20AM.gif)

[2015-09-08 18:04] iwehrman commented on #2295
Nothing in the console?

[2015-09-08 18:13] ktaki commented on #2313
https://watsonexp.corp.adobe.com/#bug=4051807

[2015-09-08 18:16] ktaki commented on #2295
No errors reported on console. With #2338, I placed the full log at:
smb://sjshare/photoshop/Transfer/ktaki/For_IanW/DevToolConsoleLog.zip

Repeating "Enqueuing/Executing/Finished action policy.addKeyboardPolicies" when I was trying to click on the menu. It looks like stuck in the editing of the font name whenever click on the typeface menu.

[2015-09-08 18:38] zoranagee opened #2356 "Smart guides show over our paneling"
Zoom in so that there are parts of your document behind our UI.

Select a shape and then hold down CMD (or do any shortcut with the CMD key) - all smart guides show up above our paneling

EXPECT: Smart Guides to only show on canvas

<img width="1335" alt="screen shot 2015-09-08 at 11 35 17 am" src="https://cloud.githubusercontent.com/assets/7904855/9743985/1a3815ec-561e-11e5-8d96-cac108e55b95.png"

[2015-09-08 18:40] iwehrman commented on #2356
Dupe of #1632.

[2015-09-08 18:40] #2356 closed

[2015-09-08 18:41] iwehrman commented on #1632
CC @zoranagee. Maybe we should bump the priority of this?

[2015-09-08 18:43] volfied commented on #2040
Running a compiled build, things work fine on Windows with latest Jenkins.

[2015-09-08 18:46] volfied commented on #1026
We now handle `placeEvent`s

[2015-09-08 18:46] #1026 closed

[2015-09-08 18:49] zoranagee commented on #1632
People use CMD+ all the time to zoom in and out. And to have your smart guides popping up all over the screen is messy. We should definitely fix this before we ship (we can work around it for MAX).

[2015-09-08 19:22] volfied commented on #1906
We are getting two keydown events for v when control is down.

[2015-09-08 19:33] shaoshing opened #2358 "radius slider is not updated after a multi-selection update."
The position of the slider is not update, although the value is correct.

![ui-radius](https://cloud.githubusercontent.com/assets/118264/9745299/b97234c4-5625-11e5-913f-c0c48ecf00da.gif)

[2015-09-08 19:34] shaoshing opened #2359 "Rotate is reset to 0 after each update"
![ui-rotation](https://cloud.githubusercontent.com/assets/118264/9745334/f87b0d08-5625-11e5-9e37-3015424cc4c4.gif)

[2015-09-08 19:44] shaoshing commented on #2359
closed: PS doesn't "remember" the rotation of shapes, so, we just fake the state for the lifetime of the layer selection

[2015-09-08 19:44] #2359 closed

[2015-09-08 19:57] #2040 closed

[2015-09-08 20:09] volfied commented on #1160
We now listen to PS events, so nudges shouldn't get dropped.

[2015-09-08 20:10] chadrolfs opened #2360 "CC Lib: library loaded in panel doesn't stay in sync moving between DS and classic PS"
load a library in DS, switch to classic and verify it is the same library, if it is either switch to a different library in classic and then switch to DS, or switch to DS change to a different library and switch back to classic.

Result: you end up having a different library loaded in DS vs. classic PS.

[2015-09-08 20:23] zoranagee opened #2361 "Create an unsupported layer effect in PS and then try to sample from it in DS"
1 - file new in PS
2 - create two rectangles; A - leave as is; B - with an overlay fx (change the color with the overlay fx)
3 - jump into DS
4 - select A and then pick up sample tool
5 - hover over B and click <spacebar>
6 - select fx

RESULT: nothing (we don't support overlays yet so we need to either support it ;), or handle it differently); maybe we shouldn't even show 'fx' if it's an unsuppor

[2015-09-08 20:44] iwehrman commented on #2347
Fixed by #2349.

[2015-09-08 20:44] #2347 closed

[2015-09-08 20:44] iwehrman commented on #2156
Fixed by #2294.

[2015-09-08 20:44] #2156 closed

[2015-09-08 20:48] ktaki commented on #2260
The fix works on Mac, but Win has some issues.
In Choose Folder dialog on Windows, a folder named "New folder" is created under the currently selected folder. A customized folder name entered in the "Folder: [    ]" field is ignored. (You can change the name once it is created in the upper box in the dialog.) This behavior will result in the assets are generated under the folder named "New folder"

[2015-09-08 20:57] #2177 closed

[2015-09-08 21:04] iwehrman commented on #2295
Here are some concrete repro steps:
1. Open this file from @zoranagee: http://cloud.wehrman.org/0T2e0d3m1k0u
2. Make sure the empty text layer is selected under Artboard 1 > Header > Text > ...
3. Edit the text layer. (I did so by double-clicking that layer's text icon).
4. Clicking the Typeface datalist does not open the the drop-down.

I also don't see anything on the console.

Also: I see the s

[2015-09-08 21:08] volfied commented on #1906
https://watsonexp.corp.adobe.com/#bug=4051877

[2015-09-08 21:09] ktaki commented on #2260
Well, sorry, user error. New folder is created with a name "New folder". User must rename it and select it. Make sure the name appear on the Folder: field at the bottom. Then click OK. It works, but not intuitive Windows UI.  :-(

[2015-09-08 21:09] #2260 closed

[2015-09-08 21:09] volfied commented on #1907
I can't repro this anymore, altho we get the double paste (#1906)

[2015-09-08 21:24] volfied commented on #2295
Question to all reproducers: Do you have font sync enabled?

[2015-09-08 21:25] ktaki opened #2363 "Choose Folder dialog gets stuck behind Export dialog"
Widows only. When Choose Folder dialog is moved on to the Export dialog, and the Exprot dialog is clicked accidentally, the Choose Folder dialog is placed behind the Export dialog.  Nothing you can do at this point other than killing Ps.

[2015-09-08 21:28] ktaki commented on #2363
This also happens when the Choose Folder dialog is got into behind the panels.

[2015-09-08 21:28] zoranagee opened #2364 "Align type layers doesn't seem to align properly"
Create 5 different type layers and then select them all and Align Left (hit the button in the Styles Panel) (I created "FOOD, HIKING, CAMPING, BIKING and WATER")

Notice that the type layers don't seem to be left aligned (I dragged out a ruler to verify).

Jump into PS and select the same 5 layers and align left via Layer>Align>Left - layers get aligned

RESULT: I would expect Align left to line u

[2015-09-08 21:50] ktaki commented on #2295
Font Sync? Yes.

In my case, it can be reproduced with the following steps.
1. New doc, select type tool, click on canvas, click on Tyepface menu. The menu appears. Commit edit.
2. New doc, select type tool, click on canvas, click on Tyepface menu. The menu does not appear.
I agree with Ian that this is not something do with with empty text layer.

[2015-09-08 21:56] volfied commented on #2295
I can repro with these steps, thank you.

On Tue, Sep 8, 2015 at 2:50 PM, ktaki <notifications@github.com> wrote:

[2015-09-08 22:05] ktaki opened #2365 "Select tool failed with error: Command is only a supported modifier on Mac"
Create a new doc. Create a rectangle. Select Select tool. Click on the rectangle.

![toolselectfailed](https://cloud.githubusercontent.com/assets/2029597/9748658/2a3211ec-563b-11e5-98a5-202488f8ffd0.png)

[2015-09-08 22:10] ktaki commented on #2365
I wonder if this is a side effect of the fix for #2168. So, assigning to @mcilroyc.

[2015-09-08 22:19] volfied commented on #2365
#2357 fixed this already

[2015-09-08 22:20] ktaki commented on #2365
It was fixed before I submitted the issue!!

[2015-09-08 22:20] #2365 closed

[2015-09-08 22:24] iwehrman commented on #2213
Well, I can't repro now either. I guess it's fixed!

[2015-09-08 22:24] #2213 closed

[2015-09-08 22:37] iwehrman commented on #2295
FBNC to @chadrolfs.

[2015-09-08 22:59] volfied commented on #2211
When #2345 is merged, I will make changes to open graphics for edit, and filter out other assets from search.

[2015-09-08 23:00] ktaki commented on #2168
It works better than before, transformation handles are now not easy to miss. However, true free transformation which standard Ps offers with modal state cannot be achieved here. Once you release the mouse button, the bounding box and handles will reset to be a rectangle. This prevent users from adjusting details of the transformation. I accept this as a limitation of current design, but will open

[2015-09-08 23:00] #2168 closed

[2015-09-08 23:12] ktaki opened #2367 "With free transformation using modifier key, each mouse up event resets the transformation box"
With a shape layer press Cmd (mac) or Ctrl (win) to be in skew/distort mode. Drag one of the handles and release the mouse. Notice each mouse up event causes transformation box to be reset to a rectangle. This prevent users from grabbing a handle previously moved and adjust the position to the details. As the current behavior is a design limitation to achieve transformation without modal state, I

[2015-09-08 23:13] volfied commented on #2207
I reproed it with one of my old documents, `AGMStrokeStyleInfo` property is not available for some layers!

[2015-09-08 23:21] placegraphichere opened #2368 "Paste shape from Ai gives error, unable to continue in Ds"
- copy shape from Ai
- paste into Ds
- Choose "shape layer" from the options
- Ds freezes, quitting app is required

![screen shot 2015-09-08 at 6 18 16 pm](https://cloud.githubusercontent.com/assets/3229167/9749787/0504645e-5656-11e5-8562-f5757049f273.png)

[2015-09-08 23:24] volfied commented on #2207
Looks like AGMStrokeStyleInfo is not available when the stroke is disabled. Will fix our data structures

[2015-09-08 23:49] ktaki opened #2369 "The Choose Folder dialog unresponsive when superselect tool is selected"
Create a doc with a shape layer and set export option, select superselect tool, and do Cmd-E or Ctrl-E.
Click Export. The Choose Folder dialog appears, but it is not responsive to any mouse click. Only an exception is the dismiss button "X" at the to right corner. If you move the dialog to outside of the application window, it will respond to mouse click. Windows only.

[2015-09-08 23:55] volfied commented on #2207
I messed up during singularizing strokes and fills... fixing.

[2015-09-09 00:00] ktaki commented on #2275
Verified the fix.

[2015-09-09 00:00] #2275 closed

[2015-09-09 01:22] jsbache commented on #1879
BTW: Here is what I see.
In Designshop + modal text tool active. You press command-H..
When you answer "show extras", then Photoshop takes the normal menu command route (if you answer no, it hides immediately).
In this case we send the menu command 3500 to javascript.
Javascript turns around and issues performMenucommand(7001). 7001 is "hide Photoshop". In this case js should have issued: performM

[2015-09-09 01:39] jsbache commented on #1879
Fixed in staging with CL: 1040986. The tricky part is that since we suppress the dialog, we need to ensure that we do not update the PS preferences for classic. The change therefore hides PS immediately (and then simulates a cancel for the dialog). This means that in standard, you will see the dialog when you press command-H for the first time

[2015-09-09 04:39] placegraphichere opened #2370 "Select hover shows incorrect hit-test"
- Create shape or text with holes
- hover over the layer
- blue hover shows up
- hover over hole area within the blue bounding box
- click to select
- layer behind will be selected
![select-hit-test-issue](https://cloud.githubusercontent.com/assets/3229167/9753461/c8ddd032-5682-11e5-8d0d-08c6b68ef87d.gif)

[2015-09-09 04:43] placegraphichere commented on #2370
![select-hit-test-issue-2](https://cloud.githubusercontent.com/assets/3229167/9753498/653df40c-5683-11e5-8f00-036cba3d3c9e.gif)

[2015-09-09 04:47] iwehrman commented on #2370
I bet @volfied wants to look into this!

[2015-09-09 05:07] placegraphichere opened #2371 "Export "+" and other icons are visible but non-functional when panel is collapsed"
needs design input, but it's an issue

[2015-09-09 13:48] iwehrman commented on #2368
This seems to be something other than just a JS programming error. When I execute this:
[code]

I get this:
[code]
But, from standard PS, it just looks like a regular shape layer.

[2015-09-09 14:27] volfied commented on #2370
This is a technical limitation of our own bounds checking and hitTest being asynchronous. It's a problem we've been aware of since first implementation. I'm not sure what we can do to fix it, we had a whole different slew of bugs and usability issues when we turned off hitTest and relied solely on our own bounds (whatever is highlighted will be selected)

Short of getting a pixel map from PS every

[2015-09-09 15:56] iwehrman commented on #2371
Thus buttons probably just need a disabled state.

[2015-09-09 16:43] shaoshing commented on #2360
I agree that this is confusing and would be nice if we can keep sync of the selected library between DS and PS. However, it seems difficult in the current, stage given the fact that CEP does not share its state with with DS (or even Photoshop), and it is unloaded when switch to DS.

[2015-09-09 16:53] chadrolfs commented on #2271
Re-assigning to myself to take a look.  Shaoshing CNR

[2015-09-09 18:38] zoranagee opened #2375 "Opening a very large file throws an exception"
open image found at https://www.dropbox.com/sh/h9zbex06an7s8nv/AACLTiX9CGJqXC4_FPRcSfWna?dl=0
RESULT:
Unrecoverable error: Error: Unexpected paragraph alignment value: justifyLeft

[2015-09-09 20:28] ktaki opened #2376 "Non-empty groups are not exportable"
Selecting a non-empty group in layers panel shows "No supported layers selected" message.

[2015-09-09 20:32] ktaki opened #2377 "Export panel can be collapsed/expanded by clicking on "+", "ios", and "hpdi""
Those icon regions should be excluded.

[2015-09-09 21:13] placegraphichere opened #2378 "search bar (cmd+f) error in console"
<img width="1243" alt="screen shot 2015-09-09 at 4 11 42 pm" src="https://cloud.githubusercontent.com/assets/3229167/9774357/93a81ea0-570d-11e5-991f-4f0c07c21b59.png">

[2015-09-09 21:18] volfied commented on #2378
What are the steps to reproduce @placegraphichere ?

[2015-09-09 21:34] mcilroyc commented on #2369
My hunch is that this is the same root cause as #2363   - did I hear you volunteer to create a watson issue for this/these?  Or shall I? @ktaki

[2015-09-09 21:35] ktaki commented on #2363
https://watsonexp.corp.adobe.com/#bug=4052784

[2015-09-09 21:35] ktaki commented on #2369
I opened https://watsonexp.corp.adobe.com/#bug=4052784 for #2363.

[2015-09-09 22:23] mcilroyc commented on #2371
fyi, disabled state is now working (on my branch), and I will set these to be disabled if collapsed.  good start?

[2015-09-09 22:46] ktaki opened #2379 "Export through dialog fails when no layer is selected in the layers panel"
document+suffix.ext fails to be generated by going trough the export dialog (File->Export). Clicking an shortcut icon (down arrow and under score) does work.

[2015-09-10 00:00] mcilroyc commented on #2379
@ktaki  When you say "fails" to do you mean that you see some error or reset occurring?  Or just that the document-level export is not created?  If the latter, that is not currently supported.  (to wit: the only way to get a document-level asset is by using the export panel).

[2015-09-10 00:02] ktaki commented on #2379
Yes, I meant the latter. Thanks for the clarification.

[2015-09-10 00:02] #2379 closed

[2015-09-10 00:23] mcilroyc commented on #2273
As of yesterday (jenkins dev mac 594), when an export fails, the underlying message from generator plugin is more meaningful.  This, combined with the above-merged PR which prevents empty artboards and layer from *attempting* to export, addresses this issue.

There may be situations where the export fails and we can not have predicted it.  We should at least be handling it somewhat correctly now,

[2015-09-10 00:25] ktaki opened #2381 "Fatal error when Settings was edited with keyboard"
In the Export panel, clicks on Settings field (ex. PNG) and enter "tif" from keyboard.
Fatal error will result and DS needs to be reset.

![screen shot 2015-09-09 at 5 15 48 pm](https://cloud.githubusercontent.com/assets/2029597/9777324/b989ad82-5717-11e5-81ab-2332dca4e9a4.png)

[2015-09-10 00:34] mcilroyc commented on #2169
take two, @chadrolfs

[2015-09-10 00:46] ktaki opened #2382 "Error when setting stroke color for an empty layer or artboard"
Create a new artboard. With layer 1 selected, click on a box for setting stroke color and select a color.

![screen shot 2015-09-09 at 5 35 18 pm](https://cloud.githubusercontent.com/assets/2029597/9777450/7b68d152-5719-11e5-816a-a611ba9001b1.png)

The same error happens when an artboard (with some shape layers) is selected and stroke color is set.

[2015-09-10 01:06] mcilroyc commented on #2381
I can't repro this on my current bleeding edge export branch (still in PR #2374) - so I'll check back after that.

[2015-09-10 02:32] mcilroyc commented on #1680
I'm removing myself from this bug because I don't know anything about it, and there doesn't immediately seem to be an DS/JS work.  eh @chadrolfs ?

[2015-09-10 02:40] mcilroyc commented on #1942
Hey @chadrolfs  - in trying to repro this issue, I noticed that after undo, the visibility of the group gets reset.  Is this expected?  Or a regression?

Should the visibility change itself be undo-able?  Right now it seems that the visibility change is NOT tracked as a history state.

[2015-09-10 02:46] placegraphichere commented on #2371
I think that's a great start. I think at the end of the day, it'd be best to open the panel and "do" the action clicked. Lets close when your branch lands @mcilroyc?

[2015-09-10 15:50] zoranagee opened #2383 "Panning lags in DS"
Open Mt.Hood_Z found in sjshare/Photoshop/Transfer/Zorana/DesignSpaceBugs
Use 2-fingers to pan the file
Release
RESULT: takes time for canvas to 'catch up'
EXPECT: similar canvas panning time to that of PS

(Jesper verified that the lag time is slower in DS)

[2015-09-10 15:52] mcilroyc commented on #2248
@shaoshing I recently did some history work w.r.t. exports, so this is somewhat fresh in my mind.  If you're stuck on this, or need history support, let me know.

[2015-09-10 16:20] mcilroyc commented on #2370
@placegraphichere check master to see if this is working the way you'd expect.

[2015-09-10 16:22] mcilroyc commented on #2370
also heads up @chadrolfs and @ktaki - this is a moderatly significant change to the way hover-highlighting works in super-select tool

[2015-09-10 16:27] mcilroyc commented on #2382
note: I think the desc should read "Create a new artboard *document* ..."
indeed it seems that for "empty" layers such as the placeholder dummy layer, the stroke buttons (inner, outer...) should be disabled.

[2015-09-10 16:34] volfied commented on #2382
Will fix this as part of my color picker work.

[2015-09-10 16:54] mcilroyc commented on #2315
Created a core trello card to track the investigation on the core side.  This does not *seem* possible using our current extend script mechanism.  https://trello.com/c/ytzJqKqY

[2015-09-10 16:55] mcilroyc commented on #2004
Created a core request to provide better event info when an out-of-bands undo occurs.  https://trello.com/c/PTpVWcx5

[2015-09-10 16:58] mcilroyc commented on #1469
@iwehrman can you confirm that this issue has been resolved?

[2015-09-10 16:59] mcilroyc commented on #1446
Assigned this to @iwehrman because he's working on this, I think.

[2015-09-10 17:49] volfied opened #2385 "Move all border/guide policies under one store/UI element"
Instead of having separate actions, it would be better to have another UI element whose sole purpose is to drive pointer policy updating listening to the correct stores/events.

This component should also create ALPHA_PROP policies at the top for all our HTML panels.

[2015-09-10 18:19] ktaki commented on #2369
The watson bug 4052784 has been fixed. According to Jesper, this should be fixed by javascript disabling policies around showing the export dialog. @mcilroyc

[2015-09-10 19:30] chadrolfs opened #2389 "Opening a large file with many text layer takes a really long time: Update All Text Layers"
Open Vermillion

Result:
https://www.dropbox.com/s/tkeq2u1acol8hxv/updatingTextLayers4evs.mov?dl=0

![screen shot 2015-09-10 at 12 20 26 pm](https://cloud.githubusercontent.com/assets/8442631/9798706/948ab378-57b7-11e5-87aa-5b702c87be27.png)

[2015-09-10 19:34] chadrolfs commented on #2389
In classic PS, file opens relatively quickly and then provides a dialog prompt:
![screen shot 2015-09-10 at 12 33 06 pm](https://cloud.githubusercontent.com/assets/8442631/9798782/215d0620-57b8-11e5-89b1-898a6bd9a1c4.png)

Clicking update in classic takes just as long.  Ugh!

[2015-09-10 20:29] chadrolfs commented on #1942
Regression.  After undo, the on canvas state and visibility of the group that gets restored after undo is out of sync.  This is not expected.  There's 2 bugs here: 1.) the selection isn't restored, the user ends up with some other layer selected that is way down the layers panel, and 2.) the state of visibility is out of sync with on-canvas (the more serious bug).

Visibility by itself should not

[2015-09-10 20:31] chadrolfs commented on #1680
Yes, @mcilroyc this is in the hands of the cyan team.

[2015-09-10 20:52] chadrolfs commented on #2266
@shaoshing fixed a bug exactly like this with CC Libraries drop down.

[2015-09-10 21:21] chadrolfs opened #2391 "Unable to use mouse or arrows to select Type Weight datalist items"

[2015-09-10 21:23] #2295 closed

[2015-09-10 21:26] chadrolfs commented on #2271
Yeah, still able to easily repro this.  pgdev 602 with master @ 2007fd2

[2015-09-10 21:27] #2169 closed

[2015-09-10 21:28] #1907 closed

[2015-09-10 21:43] iwehrman opened #2392 "Stale border policies remain after doc close"
1. Help > Show Policy Frames
2. Create a new artboard document.
3. Select the artboard. Observe the policy frame.
4. Close the document.

Result: policy frame remains.
Expected: no policy frames.

[2015-09-10 22:08] tiburbage opened #2393 "If the user elects to have ESC cancel input, pressing ESC after editing text causes text layer to disappear from Layers panel"
If via Preferences > Type the user elects to have ESC cancel text edits (also set when a user uses the Text tool for the first time), pressing ESC after initiating a text edit causes the Text layer to disappear from the Layers panel. The data's not lost, just the layer display.

1 - In standard, Preference > Type > Use ESC key to commit text = UNCHECKED
2 - In DS, use the Text tool to create some

[2015-09-10 22:12] chadrolfs opened #2394 "Clear Guides with no guides results in TypeError: undefined is not a function"
cmd/ctrl + n
View > Clear Guides

`Action guides.clearGuides failed: TypeError: undefined is not a function`

[2015-09-10 22:15] chadrolfs commented on #2394
If there are guides in the doc, there will be a bunch of subsequent errors like:
`Action tools.beforeStartup failed: Error: Unknown policy ID: 1`

[2015-09-10 22:19] tiburbage opened #2396 "DS is not updating its view transform after a Hip transform pan or zoom gesture"
See Watson https://watsonexp.corp.adobe.com/#bug=4053853
The view coordinate space for Design Space is not updated to account for direct touch pan, zoom, and rotate transforms

I logged this against Spaces/core, but Jesper has requested feedback from the JS side.
(Win only, Surface or other touch enabled device only)

[2015-09-10 22:20] iwehrman opened #2397 "Export tooltip lacks "double-click to collapse" advice"
![image](https://cloud.githubusercontent.com/assets/1075154/9802501/761e7862-57cf-11e5-8d16-b1f881c1b9cd.png)

[2015-09-10 23:05] shaoshing commented on #1408
Hey @chadrolfs , to test asset editing, you need Jenkin build (>= 594) and latest adapter code.

[2015-09-10 23:13] shaoshing commented on #2211
In no-doc mode, search graphic asset and hit return will open the asset for edit. Please confirm @iwehrman

[2015-09-10 23:16] shaoshing commented on #2271
Hey @chadrolfs , can you show me the screenshot of the console output after your reproduce the issue? I wanted to know the sync status in your machine and compare with mine.

[2015-09-10 23:25] tiburbage commented on #1952
Not sure if it wasn't working at the time, but a double tap will reset the transformation (reset rotation, do a zoom to fit). This is working. However, note we have some bad stuff going on in DS after using touch gesture transformations, logged a couple of Watson bugs in this area...

[2015-09-10 23:25] #1952 closed

[2015-09-11 00:51] ktaki commented on #2393
To retrieve the layer disappeared in the layers panel, click on the text layer on cnavas with the type tool, then hit Esc.

[2015-09-11 01:06] DivyaPrabhakar opened #2399 "When Export Dialog is open, hovering over the guides area still works"
![Guides active when export dialog open](https://www.dropbox.com/s/uc2lgsdjxg9cznr/guides_active_dialog.gif?raw=1)

[2015-09-11 01:12] DivyaPrabhakar opened #2400 "Export dialog remains open when new file dragged into PS"
![Exports dialog still open](https://www.dropbox.com/s/ebd1tfvvp4zd839/exports_still_open.gif?raw=1)

[2015-09-11 01:16] mcilroyc commented on #2207
FBNC to @chadrolfs

[2015-09-11 01:20] mcilroyc commented on #1531
FBNC to @chadrolfs

[2015-09-11 01:29] mcilroyc commented on #2399
Dup of #2138, or at least closely related.

[2015-09-11 15:01] mcilroyc commented on #2371
@placegraphichere  take a look at my branch `mcilroy/export-dbl-click-header` (the above-referenced PR).  This uses your "end of the day" suggestion of expanding the panel upon button click.

Alternately, for comparison, the first commit in that branch ( `git checkout HEAD~1` ) has it the simpler way: buttons are disabled when collapsed.

[2015-09-11 15:12] volfied commented on #2394
Can't repro with 606, latest master.

[2015-09-11 15:20] volfied commented on #1996
Seems to be fixed with latest changes Shaoshing made, please confirm @ktaki

[2015-09-11 15:38] iwehrman opened #2401 "Export header icons are misaligned vertically"
![image](https://cloud.githubusercontent.com/assets/1075154/9819028/6eb8f7a0-5860-11e5-8c35-cd1bdc36fff1.png)

[2015-09-11 15:38] iwehrman commented on #2377
FBNC to @ktaki.

[2015-09-11 15:39] iwehrman commented on #2371
Over to @ktaki for verification.

[2015-09-11 15:40] iwehrman commented on #2302
Fixed by #2380.

[2015-09-11 15:40] #2302 closed

[2015-09-11 15:40] iwehrman commented on #2397
Fixed by #2380.

[2015-09-11 15:40] #2397 closed

[2015-09-11 15:41] iwehrman commented on #2401
@DivyaPrabhakar: this might be fresh in your mind.

CC @mcilroyc @placegraphichere.

[2015-09-11 15:55] designedbyscience commented on #2401
I think .layer-exports__workflow-buttons needs a height

[2015-09-11 16:09] volfied commented on #2393
Happening due to Phosotop sending us deleteTextLayer events at all cancels, and not only when an initial edit is cancelled. Opening Watson bug.

[2015-09-11 16:20] volfied commented on #2393
https://watsonexp.corp.adobe.com/#bug=4054650

[2015-09-11 16:49] volfied commented on #2391
Steps to reproduce:

1 - Create a type layer
2 - Click the weight box (default: Regular)
3 - Mouse over other options

Weight keeps bouncing back to Regular.

[2015-09-11 16:54] chadrolfs commented on #2394
me either, closing.

[2015-09-11 16:54] #2394 closed

[2015-09-11 16:59] ktaki opened #2405 "Once a font at the top of the font menu is selected, subsequent changing of font becomes difficult"
Select a font at the top of the menu. Try select another font. Hovering a mouse over other fonts causes flickering the font name field between the font hovering and the font at the top of the menu. On Mac, it becomes nearly impossible to change the font selection. On Windows, it behaves the same way, but other fonts can be selected by careful positioning of the mouse.

[2015-09-11 17:01] volfied commented on #2405
Definitely related to https://github.com/adobe-photoshop/spaces-design/issues/2391, and probably related to my recent DataList changes.

I'm looking at it.

[2015-09-11 17:01] iwehrman opened #2406 "Document header should remain visible in no-doc state"
We should try to limit the amount of unnecessary panel visibility changes. It doesn't make sense to remove this in the no-doc state if we're keeping the toolbar.

[2015-09-11 18:09] iwehrman commented on #2247
Fixed by #2324.

[2015-09-11 18:09] #2247 closed

[2015-09-11 18:15] chadrolfs commented on #2353
@shaoshing I'm gonna see if I can still repro this in latest builds.

[2015-09-11 18:18] chadrolfs commented on #2313
Might be fixed now with latest fix from Fitz

[2015-09-11 18:27] ktaki commented on #2313
With John F's fix and current master, when trying to change font in editing mode, you get:

![screen shot 2015-09-11 at 11 25 38 am](https://cloud.githubusercontent.com/assets/2029597/9822914/0cee3996-5878-11e5-8913-63bac693c837.png)

[2015-09-11 18:41] iwehrman commented on #2405
FBNC to @ktaki.

[2015-09-11 18:43] iwehrman commented on #2392
Fixed by #2402.

[2015-09-11 18:43] #2392 closed

[2015-09-11 18:59] ktaki commented on #2391
Verified the fix.

[2015-09-11 18:59] #2391 closed

[2015-09-11 18:59] ktaki commented on #2405
Verified the fix.

[2015-09-11 18:59] #2405 closed

[2015-09-11 19:00] iwehrman commented on #2382
FBNC to @ktaki.

[2015-09-11 19:03] ktaki opened #2409 "Blend mode for type layer is not updated till other field is touched"
Create a type layer and change the blend mode. It does not change till you change one of other fields such as opacity, font name, or font size.

[2015-09-11 19:12] shaoshing commented on #2353
Thank you Chad. The issue looks scary, although I have never encounter it, and your console seems normal except the drag events. I will give it a look.

[2015-09-11 20:00] mcilroyc commented on #2381
This seems to have been fixed by #2374 - back to @ktaki to confirm

[2015-09-11 20:06] mcilroyc commented on #2376
Fixed by above-reference PR.  back to @ktaki

To determine if a layer should be exportable, we now look at its *child* bounds.  For regular layers, this is equivalent, but for groups it takes in to account its children.

[2015-09-11 20:29] chadrolfs commented on #2244
Looks fixed to me.

[2015-09-11 20:33] ktaki commented on #2371
Verified expanding the panel upon button click. Clicking export button adds an asset if none added and opens folder chooser. Good!

[2015-09-11 20:33] #2371 closed

[2015-09-11 20:36] ktaki opened #2413 "Mac only: Double clicking export button in the panel opens folder chooser dialog twice"
It should open just once.

[2015-09-11 20:39] ktaki commented on #2413
No longer happening with the latest PR.

[2015-09-11 20:39] #2413 closed

[2015-09-11 20:44] ktaki commented on #2381
This is no longer happening.

[2015-09-11 20:44] #2381 closed

[2015-09-11 20:47] chadrolfs opened #2414 "CC Lib: newly added assets show up in (MRU) File > Open Recent >"

[2015-09-11 20:55] ktaki commented on #2377
Verified the fix.

[2015-09-11 20:55] #2377 closed

[2015-09-11 20:56] ktaki commented on #2244
Verified the fix.

[2015-09-11 20:56] #2244 closed

[2015-09-11 20:59] ktaki commented on #2382
Verified the fix. No color setting is allowed.

[2015-09-11 20:59] #2382 closed

[2015-09-11 21:00] #1999 closed

[2015-09-11 21:05] volfied commented on #1081
New documents now start on the correct location, zoom level is different from cmd+0, because new doucments start at 66% zoom, and cmd+0 is fit to window, which will vary the zoom level. I'm closing this.

[2015-09-11 21:05] #1081 closed

[2015-09-11 21:05] chadrolfs commented on #1967
verified fix in cyan build, waiting for main integration to verify and close

[2015-09-11 21:06] iwehrman commented on #2369
FBNC to @ktaki.

[2015-09-11 21:08] iwehrman commented on #1709
Fixed either by #2339 or #1999.

[2015-09-11 21:08] #1709 closed

[2015-09-11 21:10] chadrolfs commented on #2378
CNR with latest resources.  @placegraphichere can you still repro this?  If not, please close.

[2015-09-11 21:14] ktaki commented on #1996
Verified the fix.

[2015-09-11 21:14] #1996 closed

[2015-09-11 21:16] chadrolfs opened #2415 "Dragging image from browser onto canvas result in error and bad state"
cmd/ctrl + n (in DS)
switch to browser (chrome) and do an google image search (e.g. "beach")
drag an image from browser onto canvas area

Result: `Action layers.addLayers failed: Error: Photoshop returned an error when playing command number: 1 Photoshop code: 24946 Photoshop message: error: 24946 message: base element not found`

`Uncaught Error: Job canceled before execution`
`Uncaught Error: Ph

[2015-09-11 21:26] volfied commented on #2415
FWIW, I don't see this.

[2015-09-11 21:26] chadrolfs commented on #2375
You don't need to download the big doc to repro.  Here are steps:
new doc in classic PS
select Type tool and click-drag to create a text/paragraph box
populate it with text, select all the text
open the paragraph panel (Window > Paragraph), click on the Justify last left icon
press numPad enter to commit the text
enter DS

[2015-09-11 21:27] ktaki commented on #2369
Verified the fix.

[2015-09-11 21:27] #2369 closed

[2015-09-11 21:27] volfied commented on #2415
BUT, we need to reset borderpolicies after layerActions.addLayers

[2015-09-11 21:27] chadrolfs commented on #2375
When fixing, make sure all paragraph settings are handled (justify, hyphenation, etc)

[2015-09-11 21:28] mcilroyc commented on #2363
I believe this is fixed as well, via watson  @ktaki

[2015-09-11 21:29] ktaki commented on #2376
This is not fixed. Selecting a group with a shape layer still shows "No supported layers selected" message.

[2015-09-11 21:32] ktaki commented on #2273
I still see the sam error. Create a new artboard doc. Select the Artboard 1 in layers panel. Click on export icon, then export it.

[2015-09-11 21:32] iwehrman commented on #2415
My guess is that, somehow or another, this is because the event handler is not an action.

[2015-09-11 21:43] iwehrman opened #2416 "Color picker solid-color swatch should be solid"
Instead of duplicating the outer context-specific swatch:
![swatch](https://s3.amazonaws.com/f.cl.ly/items/0d2K3k2J1y2s442U1V3a/Image%202015-09-11%20at%202.42.04%20PM.png)

[2015-09-11 21:43] chadrolfs opened #2417 "Esc in Color Picker, Type edit mode, commits Type before dismissing the Color Picker"
new doc
(t) for type tool, click on canvas and type multiple lines
select all the text
click in color picker field, type "red", hit enter to apply color change
hit Esc to exit color field edit mode,
hit Esc again to dismiss Color Picker with the goal of adjusting Size next

Result: 2nd Esc commits the Type and leaves Color Picker open (you have to hit Esc a 3rd time to dismiss it)

Expect: The 2nd

[2015-09-11 21:44] chadrolfs commented on #2417
This might be as designed.  Workaround is to simply click on the Color Picker swatch to close it.

[2015-09-11 21:44] iwehrman commented on #2416
The text input also is aligned and sized strangely. I also think we should ditch the swatch underline.

[2015-09-11 21:44] chadrolfs commented on #2417
@placegraphichere may have an opinion on this.

[2015-09-11 21:44] iwehrman commented on #2416
CC @placegraphichere @volfied.

[2015-09-11 21:45] volfied commented on #2416
Doh, I was passing the swatchOverlay directly.. maybe I shouldn't be :)

[2015-09-11 21:48] mcilroyc commented on #2273
The case you just described *seems to me* to be a very unlikely edge case that I will have to handle separately.  Namely the first artboard with the empty placeholder layer.  (Who's trying to export an empty artboard!?)

[2015-09-11 21:49] iwehrman opened #2418 "Setting type color in modal state fails"
[code]

[2015-09-11 21:56] volfied commented on #2361
What if there are shadows as well in that layer? I need UI input on this. @placegraphichere

[2015-09-11 22:08] isonno commented on #2393
Fixed checked into `playground-dev` branch, CL 1041943

[2015-09-11 22:17] volfied commented on #2393
@chadrolfs please confirm with latest Jenkins pdgev build.Thanks @isonno !

[2015-09-11 22:18] chadrolfs commented on #2335
I think this is a dupe of #2208

[2015-09-11 22:35] mcilroyc commented on #2376
My apologies @ktaki .  I believe I've refined the fix further in PR 2420.  When creating groups, our model is slightly different than if a document with existing groups is loaded.

[2015-09-11 22:36] iwehrman opened #2421 "Color format is not preserved when dialog is closed"
![format](https://s3.amazonaws.com/f.cl.ly/items/2S070h1I3g0u3e1Q3g0y/Screen%20Recording%202015-09-11%20at%2003.35%20PM.gif)

[2015-09-11 22:37] iwehrman opened #2422 "Color picker text is small and misaligned"
![image](https://cloud.githubusercontent.com/assets/1075154/9827783/e96e49de-589a-11e5-9162-2b41faaf0fb1.png)

Input from @placegraphichere is required here, so assigning him first.

[2015-09-11 22:41] chadrolfs commented on #2313
yeah, not fixed yet

[2015-09-11 22:44] #2308 closed

[2015-09-11 22:47] iwehrman commented on #2416
Fixed by #2419.

[2015-09-11 22:47] #2416 closed

[2015-09-11 22:48] chadrolfs commented on #2207
You can now change Stroke attributes without errors but previously saved doc with shapes open with Stroke: mixed

Leaving bug open and lowering priority

[2015-09-11 22:50] iwehrman opened #2423 "It should be possible to switch between color formats in the color picker"
This could make use of the `Menu` component that @designedbyscience is working on, or it could use a split-button widget as in Brackets:
![button](https://s3.amazonaws.com/f.cl.ly/items/0S0o3r3U00332V2F330x/Image%202015-09-11%20at%203.50.00%20PM.png)

 (This is a feature request, but I'm filing it here so it isn't forgotten.)

[2015-09-11 22:59] ktaki commented on #2363
Verified the fix.

[2015-09-11 22:59] #2363 closed

[2015-09-11 23:07] #1408 closed

[2015-09-11 23:09] #1531 closed

[2015-09-11 23:11] #2091 closed

[2015-09-11 23:12] #2105 closed

[2015-09-11 23:12] shaoshing commented on #2414
@volfied do you know if there is an option to ask PS to not put exported files in MRU? I read the CEP code and no luck on finding such option. The open-graphic-for-edit has the same issue that temp file is listed as MRU.

[2015-09-11 23:18] mcilroyc commented on #2273
note to future self: I think the method `layerstructure.isEmptyGroup` could be safely modified to check for groups that (recursively) contain empty (zero bounds area) layers.  But this touches several features, so I don't think it is worth the risk pre-MAX

[2015-09-11 23:20] ktaki commented on #2393
Verified the fix on Mac. Waiting for Windows build.

[2015-09-11 23:21] mcilroyc commented on #2212
@davealonzo after you have had a chance to review the new Export All dialog which sorts artboards by canvas layout, can you let us know if this issue is still outstanding?   That is: do we ALSO want to swap the order in the layers panel?  I'm hoping you say NO, of course : )

[2015-09-11 23:27] #2335 closed

[2015-09-11 23:30] iwehrman commented on #2211
Wellll, it's almost fixed, except that we still return results in the search dialog for which we apparently do not support direct editing?
[code]
How would it be hard to filter the results so that only the editable assets are listed?

[2015-09-11 23:31] iwehrman commented on #2211
The good news is that this is clearly no longer a high-priority issue, since there is no error and it works correctly much more often. Demoting to medium priority.

[2015-09-11 23:46] ktaki commented on #2418
The same error happens when changing the color for a drop shadow. Library panel flickers and the error above repeats many times while showing a spinner.

[2015-09-11 23:51] DivyaPrabhakar opened #2424 "Export dialog flickers while panning the canvas"
When the export dialog is open, the user can still move the canvas behind the dialog and this causes the dialog to flicker and only rest when the panning stops.

![Export dialog flicker](https://www.dropbox.com/s/ohymkie6uw5npjp/export-flickers.gif?raw=1)

[2015-09-11 23:55] ktaki opened #2425 "Unable to set color for drop shadow"
Create a rectangle
Click "+" to add drop shadow in effects panel
Click on red area of color picker
RESULT: Library panel flickers and the error below repeats many times while showing a spinner. Color box indicated selected color will show different colors.

![screen shot 2015-09-11 at 4 54 27 pm](https://cloud.githubusercontent.com/assets/2029597/9828668/d3a50d6c-58a5-11e5-9b8b-5a6861135d1b.png)

[2015-09-12 00:07] ktaki opened #2428 "Cannot set layer styles"
Create a rectangle and click "+" icon to add drop shadow.
Change the any of the value. It returns to default after hitting enter.

All actions resulted in the following error:
Action layerEffects.addShadow failed: Error: Photoshop returned an error when playing command number: 2 Photoshop code: -25920 Photoshop message: error: -25920 message: The command “Set” is not currently available.

Click co

[2015-09-12 00:08] ktaki commented on #2425
This may be the same root cause as #2428.

[2015-09-12 00:12] iwehrman commented on #2406
Fixed by #2426.

[2015-09-12 00:12] #2406 closed

[2015-09-12 00:14] ktaki commented on #2425
Consolidating the effect issue to #2428. Closing this one.

[2015-09-12 00:14] #2425 closed

[2015-09-12 00:21] ktaki commented on #2248
Verified the fix.

[2015-09-12 00:21] #2248 closed

[2015-09-12 00:24] ktaki commented on #2376
Verified the fix.

[2015-09-12 00:24] #2376 closed

[2015-09-12 00:34] ktaki commented on #2393
Verified the fix on Windows.

[2015-09-12 00:34] #2393 closed

[2015-09-12 00:34] iwehrman opened #2430 "Libraries datalist should be dismissed when clicking outside of it"
![click](https://s3.amazonaws.com/f.cl.ly/items/111H2T0n0E1a2y1s0L2P/Screen%20Recording%202015-09-11%20at%2005.33%20PM.gif)

[2015-09-12 00:40] iwehrman opened #2431 "Libraries asset renaming interaction conflicts with secondary interactions"
If you single click the title of an asset, the title disappears and is replaced by the secondary-interaction buttons (delete, share, etc.). But you have to double-click the asset title to rename it, which is very confusing.

My humble suggestion:

1. Move the icons to be right-aligned
2. Only show the icons when asset is selected.
3. When the icons are visible, truncate the asset name.
4. Double-c

[2015-09-12 01:08] ktaki commented on #2428
This does not happen in Staging. Most likely caused by John Fitz changes for the focus issue. (cl#1041790)

[2015-09-12 01:17] iwehrman commented on #2424
Nice catch!

[2015-09-12 02:22] davealonzo commented on #2431
This won't scale down the line when we add additional icons for duplicate, move to, and copy to, which is why I designed it this way.

[2015-09-12 04:27] davealonzo commented on #2431
We could just tooltip the title like this to indicate the double click action to rename.

![double_click_ttip](https://cloud.githubusercontent.com/assets/12259315/9829857/c014da40-58cb-11e5-9c76-8ec6bf942cfd.png)

[2015-09-12 04:45] davealonzo commented on #2212
@mcilroyc Just caught this one (sorry)...

This is no longer an issue with the new sorting mechanism. So NO, we don't need to swap layer order  (thank you! :-)

[2015-09-12 15:45] iwehrman commented on #2431
I do not think putting instructions in a tooltip is a good solution. I also don't think we need to hobble the design due to concerns about having significantly more icons in the future. If the constraints change then the design can change, though I'm skeptical that having a large number of icons visible in the UI will ever end up being in line with the overall design philosophy of Design Space. In

[2015-09-12 16:29] davealonzo commented on #2431
It's not a hobble. It's accommodating for  the lack of a right click menu system on the same secondary level of interaction. I would also argue that it is more discoverable as a single click interaction compared to any right click exposure. Double click to rename a title is not too far fetched as well.

 It's also always good design practice to consider how things might scale out to accommodate mo

[2015-09-12 18:04] iwehrman commented on #2431
I'm certainly not arguing for a right-click. And double-click to rename is not the problem. The problem is that single click eliminates the opportunity to double click, which makes it hard to both discover and execute that operation. Putting metadata in the tooltips is fine, but I don't think most users will look to a tooltip for instructions on how to rename an asset. Note that I'm not advocating

[2015-09-12 18:56] davealonzo commented on #2431
Ok Ian, I might have a reasonable solution for you. Get back shortly with a slight redesign.

[2015-09-12 19:36] iwehrman opened #2434 "Selecting layer ranges is slow"
1. Open VermilionArtboards.psd.
2. Collapse all layer groups.
3. Deselect all layers.
4. Click the first layer to select it.
5. Shift-click the last layer to select the range of four artboards.

This takes ~4s (debug) on a 5k iMac, which feels like an eternity. The time is all spent in the view layer handling the `SELECT_LAYERS_BY_INDEX` event. It seems related to the large number of ancestors of

[2015-09-12 21:19] iwehrman commented on #2431
Can't wait! :grin:

[2015-09-12 22:05] davealonzo commented on #2431
Here it is!
https://www.dropbox.com/sh/f4in5oeld9fw0y1/AADZArwaLsSqIATH6LlOZIsoa?dl=0

Hover state reveals the "Actions" icon – one icon to rule them all! Only single clicking on this icon reveals the rest, keeping this interaction from interfering with double clicking on the title to rename. Once the action icons are up in a selected state, a subsequent click outside any of the icons deselects th

[2015-09-12 22:25] iwehrman opened #2436 "Mixed text is clipped in the appearance panel"
![image](https://cloud.githubusercontent.com/assets/1075154/9834127/3cd19e42-5962-11e5-8888-ad56984f59eb.png)

Sometimes I wonder if we should just eliminate the "mixed" string in favor of an empty (but enabled) input...

[2015-09-12 22:29] iwehrman opened #2437 "Mixed type styles with consistent family should show a family"
Currently mixed type styles with a consistent family show "mixed" in both the typeface and the type style datalist. Instead, the typeface datalist should use the _first_ typeface in the list to show its family name. The type style datalist should still show "mixed".

![mixed](https://s3.amazonaws.com/f.cl.ly/items/232z2O0n0t1E3P1x3f3C/Screen%20Recording%202015-09-12%20at%2003.26%20PM.gif)

[2015-09-13 00:36] iwehrman opened #2438 "Infinite loop in Select binary search"
The relevant slice of state that results in the divergence is here: https://gist.github.com/iwehrman/d26909880ea138323ac1

The cause is #2408 commit a600cac719904490879cef085b37d8f3683d91d1.

[2015-09-13 00:43] iwehrman commented on #2438
This happened when typing in the typeface datalist, by the way.

[2015-09-13 14:58] iwehrman commented on #2396
We can't support rotation in the short term. Otherwise, we should be getting scroll events from the adapter with the updated window transform that we need. So, the request is: 1) suppress rotation, somehow; and 2) send scroll events for pan and zoom transforms.

[2015-09-13 15:08] iwehrman commented on #2389
Should we re-think suppressing this dialog? @placegraphichere: is there a reasonable default? Or should the user decide each time?

[2015-09-14 14:40] #2212 closed

[2015-09-14 14:44] iwehrman commented on #2431
I like it! I agree with all your pros. The main con I think is the standard criticism of the :hamburger: menu, which is lack of discoverability, but a) I think those criticisms have a little more bite in the context of, say, a website in which you're relying on the user's understanding of a :hamburger: menu to buy something (i.e., they're very easily dissuaded), and b) even still, we're arguably m

[2015-09-14 14:48] ktaki commented on #2313
Fixed on Mac, but still not working on Windows.

[2015-09-14 16:29] ktaki commented on #2428
Core team submitted the fix to pg-Dev. Verified the fix on Mac and Windows.

[2015-09-14 16:29] #2428 closed

[2015-09-14 16:37] ktaki commented on #2313
Updated the watson bug with a comment:
Fixed on Mac. Still has issues with Windows. When font is changed in text editing mode, you cannot continue typing even though you see I beam cursor on canvas. The situation has improved, however. Now you can click on the type layer on canvas to recover the focus and continue typing, but font change does not work. The font used is whatever the font used in th

[2015-09-14 16:43] chadrolfs commented on #2271
![screen shot 2015-09-14 at 9 43 12 am](https://cloud.githubusercontent.com/assets/8442631/9855731/1a5b6e10-5ac5-11e5-87d4-a643f404d471.png)

[2015-09-14 16:47] chadrolfs opened #2441 "Clear Guides enabled with no guides"
Clear Guides command should be greyed out if the active document doesn't contain any guides.

[2015-09-14 16:52] chadrolfs opened #2442 "Move Stock to Search"
Issue brought to you by Steve Guilhamet:
Library in DS includes Stock icon, it has been removed in classic (because it is part of Search widget now). Not sure what’s expected for DS, since you’re search is not the same as Library Search

[2015-09-14 16:53] chadrolfs opened #2443 "Icons for super Sampler HUD are using the Library icons but the interaction is totally different."
Issue brought to you by Steve Guilhamet:
Could be confusing to users.

[2015-09-14 17:19] placegraphichere commented on #2422
this is progress on this:
<img width="323" alt="screen shot 2015-09-14 at 3 51 08 am" src="https://cloud.githubusercontent.com/assets/3229167/9856507/cd88a43e-5ada-11e5-91b6-b77ee3ce26bf.png">

[2015-09-14 17:46] iwehrman commented on #2422
Fixed by #2446.

[2015-09-14 17:46] #2422 closed

[2015-09-14 17:47] iwehrman commented on #2254
Or @placegraphichere.

[2015-09-14 17:53] volfied commented on #2438
Back to @iwehrman

[2015-09-14 17:56] volfied commented on #2418
I don't see this anymore in latest master @ktaki

[2015-09-14 17:57] iwehrman commented on #2421
As of #2444, this works while the picker is open. It should _also_ persist even after the dialog is closed. I think it would be fine to just stick this format value in the user preferences and attempt to use that value whenever the picker is opened.

[2015-09-14 17:59] designedbyscience commented on #2401
Fixed by #2386

[2015-09-14 17:59] #2401 closed

[2015-09-14 18:00] ktaki commented on #2418
Correct. This has been fixed by the latest Core changes.

[2015-09-14 18:01] chadrolfs opened #2447 "No doc state shows doc title bar (and it's doesn't align with Recent Files divider)"
this happened sometime between master pushed to P4 on Friday 9/11 and now.  84cd55642d1501cafdbb627f91382481337ec523  didn't show title bar in no doc state.
![ice_screenshot_20150914-105715](https://cloud.githubusercontent.com/assets/8442631/9857541/f5415c6a-5acf-11e5-868c-319a733f926f.png)

[2015-09-14 18:01] iwehrman commented on #2211
Fixed by #2427.

[2015-09-14 18:01] #2211 closed

[2015-09-14 18:03] iwehrman commented on #2447
Showing document header in no-doc UI is intentional. We just need to tweak the Recent Files header so that, when it's empty, it has the right height.

[2015-09-14 18:03] iwehrman commented on #2447
CC @placegraphichere

[2015-09-14 18:03] davealonzo commented on #2431
@iwehrman I think we can make room for one more icon. Let me whip that up.

No worries on the critique, only makes things better :-)

[2015-09-14 18:05] ktaki opened #2448 "Collapsed EFFECTS panel should expand when + icon is clicked and an effect is selected"

[2015-09-14 18:08] iwehrman commented on #2448
Also, it might be nice if the collapsed height were the same as the empty + expanded height? Basically, when empty, there should be no distinction between expanded and collapsed.

[2015-09-14 18:11] chadrolfs opened #2449 "Unable to drag assets onto canvas."
New doc
drag a CC Lib asset onto canvas

Result:
`Action libraries.createLayerFromElement failed: Error: Can't find a usable representation for image element: Layer 27`

[2015-09-14 18:13] chadrolfs commented on #2449
![ice_screenshot_20150914-111454](https://cloud.githubusercontent.com/assets/8442631/9857798/a3701d48-5ad1-11e5-80a7-ae7d1cc1e419.png)

[2015-09-14 18:15] iwehrman opened #2450 "Type swatch overlay should have fixed font size"
![image](https://cloud.githubusercontent.com/assets/1075154/9857833/db007f50-5ad1-11e5-8e7f-efacb5a0986a.png)

[2015-09-14 18:17] chadrolfs commented on #2197
Looks fixed on Win - after Create New Library, I can start typing immediately to name, but not on Mac.

[2015-09-14 18:23] chadrolfs commented on #2307
with new UI, pgdev build 619, master @ 5eb07a3, on Win Set Letterspacing is skipped in tab order

[2015-09-14 18:28] designedbyscience commented on #2448
@iwehrman I'm concerned about confusion over "Is this open or is it empty?" if the states are exactly the same

[2015-09-14 18:29] chadrolfs opened #2453 "Sampler: sampling Text attributes does not include alignment"

[2015-09-14 18:42] chadrolfs commented on #2313
Just hit this on Windows trying to access Typeface dropdown via tab:
![ice_screenshot_20150914-114355](https://cloud.githubusercontent.com/assets/8442631/9858475/b3cb9aec-5ad5-11e5-9e74-205d36fe5088.png)

[2015-09-14 18:49] iwehrman commented on #2448
Mmm, yeah, you've got a point. Ok, I take it all back.

[2015-09-14 18:53] designedbyscience commented on #2448
(I originally did it how you proposed and got confused myself)

[2015-09-14 18:53] chadrolfs opened #2454 "Type: Esc to exit Typeface datalist results in policy error and bad state"
New doc
select Type tool, click on canvas and type
while still in edit mode, select all on canvas text you just typed
click in Typeface drop down to expand it
hit Esc twice

`Action policy.removeKeyboardPolicies failed: Error: Unknown policy ID: 11`

[2015-09-14 19:15] iwehrman commented on #2454
I've had a branch in the cooker for a while now that should address this. I was just waiting for @jfitz-adobe's focus changes to land. So, I'll have a look.

[2015-09-14 19:28] iwehrman commented on #2450
Fixed by #2452.

[2015-09-14 19:28] #2450 closed

[2015-09-14 19:29] iwehrman opened #2456 "Unhandled exception in SuperSelectOverlay"
This happened when I opened Vermilion from another document:
[code]

[2015-09-14 19:31] iwehrman commented on #2442
I don't think this is a bug. We don't necessarily intend to provide the same UX as standard Photoshop.

[2015-09-14 19:37] iwehrman opened #2457 "Appearance and Effects panels should remain even when no layers are selected"
![image](https://cloud.githubusercontent.com/assets/1075154/9859811/3069171c-5add-11e5-938e-45e7745879d3.png)

This is related to #2152. Not only should the export panel **not** change position based on layer selection, I think the other panels should remain in the UI, even when they're empty.

[2015-09-14 19:44] designedbyscience commented on #2457
I disagree with this, but I think a holistic pass needs to be made, design-wise

[2015-09-14 20:15] placegraphichere opened #2459 "Renaming library asset moves it to top of the library list"
- no longer follows default  A-Z sort order

[2015-09-14 20:16] volfied commented on #1681
I've fixed this in my branch... However, I think a better solution would be to start new pen layers instead of complaining about lack of use, which would make this a core bug. I'm still leaving my PR open to remedy the situation, but we should look into not needing that fix.

[2015-09-14 20:22] shaoshing commented on #2459
Hi @placegraphichere , libraries and asset are sort by their modified time, that's why updating name will move it to the top.

[2015-09-14 20:23] chadrolfs opened #2461 "Attempting to add guides when AB is beneath highlight area moves the AB instead of creating guide"
cmd/ctrl + n
select and drag AB so that it is under the work area bounds
hover over area where guide creation highlight and AB over lap, click and try to drag out a guide

Result: AB is moved and a guide may be created.

[2015-09-14 20:29] shaoshing commented on #2271
Thanks for the screenshot. I think I know where the problem is. Fixing this now.

[2015-09-14 20:34] tiburbage commented on #2396
Closing: this issue was actually just a symptom of a larger problem where the Design Space context was getting invalidated. Problems entirely on the Spaces/C++ side.

[2015-09-14 20:34] #2396 closed

[2015-09-14 20:36] chadrolfs commented on #2461
then subsequent attempts to add a guide either creates a guide below click area or fails to create one or moves the AB.

[2015-09-14 20:40] placegraphichere commented on #2431
Here's my interim solution for this, I can have it be part of my library-tweaks PR. Dave is on board, waiting on your thoughts @iwehrman

![libraries-select-hover-rename](https://cloud.githubusercontent.com/assets/3229167/9861292/ee2fea6e-5af6-11e5-83ed-1dcc58e44ad8.gif)

[2015-09-14 20:45] chadrolfs commented on #2461
https://www.dropbox.com/s/uexe1ifp92b1h2m/Guide-moveAB.mov?dl=0

[2015-09-14 20:54] chadrolfs commented on #2461
https://www.dropbox.com/s/uexe1ifp92b1h2m/Guide-moveAB.mov?dl=0

[2015-09-14 21:23] iwehrman commented on #2449
FBNC to @chadrolfs.

[2015-09-14 22:11] chadrolfs opened #2465 "Blend modes datalist doesn't filter the full list"
drag out a rect shape
click in appearance blend mode datalist and type "Dis"
result: filters to Dissolve
Now type "Lum"
result: nothing is filtered even though Luminosity is in the list.

[2015-09-14 22:26] ktaki opened #2466 "Export panel does not have a scroll bar"

[2015-09-14 22:30] ktaki opened #2468 "With Export panel expanded, collapsed Effects panel cannot be expanded"
When Export panel is full (meaning that the contents reaches to the bottom), double clicking Effects panel header won't expand the Effects panel. You need to collapse Export panel first.

[2015-09-14 22:31] ktaki commented on #2466
Can we fix this for MAX?

[2015-09-14 22:33] ktaki opened #2469 "Export spinner clipped"
In Export dialog, click Export. High res display only.

<img width="75" alt="screen shot 2015-09-14 at 3 16 16 pm" src="https://cloud.githubusercontent.com/assets/2029597/9863557/e2bf17dc-5af5-11e5-8009-17fb5be6b093.png">

[2015-09-14 22:37] DivyaPrabhakar commented on #2466
@ktaki @mcilroyc I can take this. I would have fixed it in this: https://github.com/adobe-photoshop/spaces-design/issues/2152 but because of the time crunch, I talked to @ktaki and he said a PR for just the scrollbar is fine for now, so doing that now.

[2015-09-14 22:44] placegraphichere opened #2471 "Sampler HUD: Use keyboard+click combo as an alternative to SPACEBAR"
Slack user feedback has come in a few times asking for a keyboard+click alternative to the spacebar to activate the HUD. I think we should listen at this point and give it a try. @volfied I'd like your input on this too.

Suggestions include:
- OPT+SHIFT+click
- CMD+SHIFT+click

Also frees up spacebar for panning while in eyedropper tool in the future

[2015-09-14 22:59] chadrolfs commented on #2313
Ian has a branch that addresses this ^^

[2015-09-14 23:01] ktaki opened #2473 "Prefix mismatch in Export"
The settings below will generate 003Artboard 1@1x.png and 005Artboard 2@1x.png. The prefix numbering will change depending on the number of assets (the right pane) generated.

![screen shot 2015-09-14 at 3 58 47 pm](https://cloud.githubusercontent.com/assets/2029597/9863988/e15bd35e-5af9-11e5-93e2-97d8c9d5cf26.png)

[2015-09-14 23:10] DivyaPrabhakar commented on #2471
@bradee was mentioning the same thing to me after Demo Days -- considering even bringing up the HUD when eyedropper selected + click, since that seems like the only reason you would have picked the eyedropper in the first place.

[2015-09-14 23:10] #2449 closed

[2015-09-14 23:14] chadrolfs commented on #2353
just repro'd on Windows
![ice_screenshot_20150914-161446](https://cloud.githubusercontent.com/assets/8442631/9864173/9b7f55d4-5afb-11e5-8005-efb0ce59de2b.png)

[2015-09-14 23:26] chadrolfs commented on #2353
Think I have a solid repro case.
Open the file I'm going to send you
Select the `Weather Auto-Nest Locked` AB
Load the Library I have shared with you `Test - Ok to accidentally nuke`
Drag TinaProject - Drawing 5 onto canvas, hit Enter to place
click and drag top right corner to scale
Result: error

https://www.dropbox.com/s/wx59laf4ctv9pmp/CCLib-FileDamageError.mov?dl=0

[2015-09-14 23:37] iwehrman commented on #2466
FBNC to @ktaki.

[2015-09-14 23:44] ktaki commented on #2466
Verified the fix.

[2015-09-14 23:44] #2466 closed

[2015-09-14 23:47] DivyaPrabhakar commented on #2152
Assigning to @designedbyscience for now because he said we need to have a larger discussion about these panels

[2015-09-15 00:14] shaoshing commented on #2353
I can reproduce this in classic PS too (dev 606, https://www.dropbox.com/s/ymj1yejopdp8vuj/file-damaged.mov?dl=0), so I was thinking the DS side libraries might created the graphic asset incorrectly. Then I tried to create the same asset in classical PS, as a comparison, but failed due to another error "Could not create a library graphic because of a program error." (https://www.dropbox.com/s/tdis

[2015-09-15 00:51] ktaki commented on #2454
Hasn't this been fixed with the #2472?

[2015-09-15 00:54] ktaki commented on #2353
I think this can be excluded from MAX. @chadrolfs if you agree, please remove MAX label.

[2015-09-15 04:07] placegraphichere commented on #2447
see #2476

[2015-09-15 04:25] placegraphichere commented on #2423
I can imagine a wonderful switcher similar to this example that allows for the switching. Placed either to the left or right of the color input. This was in the original designs for the picker, but was dropped due to scope.

![screen shot 2015-09-14 at 11 24 27 pm](https://cloud.githubusercontent.com/assets/3229167/9867875/d0a32d76-5b37-11e5-8db8-ae696d2d294e.png)

[2015-09-15 05:28] placegraphichere commented on #2254
see #2478

[2015-09-15 05:50] placegraphichere commented on #1326
came across this today. Is there a core bug filed?

[2015-09-15 14:51] mcilroyc commented on #2271
reverting auto-close.  assigning to @chadrolfs

[2015-09-15 15:07] mcilroyc commented on #2461
to @chadrolfs

[2015-09-15 15:34] volfied commented on #2471
I'd definitely say cmd+shift+click, option+shift is really awkward to press.

[2015-09-15 15:45] chadrolfs opened #2479 "Artboard title is not clean on non-retina low resolution displays"
![ab-non-retina-deselected](https://cloud.githubusercontent.com/assets/8442631/9881717/1c86673c-5b86-11e5-9777-5e3fbc931580.png)
![ab-non-retina-selected](https://cloud.githubusercontent.com/assets/8442631/9881716/1c7fe290-5b86-11e5-9102-22f6befe90e7.png)

[2015-09-15 16:46] #2461 closed

[2015-09-15 16:52] chadrolfs commented on #2254
Hey, @placegraphichere when the PR that you reference is merged, please just re-assign the issue to the reporter with the label Fixed but not closed.  Thanks.

[2015-09-15 16:55] mcilroyc commented on #2254
one could argue that was my fault, as the PR merger.

[2015-09-15 17:25] iwehrman commented on #2479
This is a core issue, not a @designedbyscience bug. If you can provide repro steps, I suggest filing a Watson issue.

[2015-09-15 17:45] chadrolfs commented on #2353
https://watsonexp.corp.adobe.com/#bug=4056731

[2015-09-15 17:49] chadrolfs commented on #2479
@iwehrman I'm not sure it's a core issue b/c switching over to classic PS, the title looks fine/better than in DS.

This is a dual monitor situation that I'm seeing this.  Monitor 1 is MPB/retina, monitor 2 is non-retina. Steps: move app to monitor 2, cmd + n

[2015-09-15 17:55] chadrolfs opened #2482 "In Type Edit mode: datalist and numeric fields increment/decrement by a factor of 2"
create a type layer.
while in edit mode, enter an attribute field (size or typeface) and use arrow keys to increment/decrement.

[2015-09-15 17:56] #2454 closed

[2015-09-15 18:00] chadrolfs commented on #2313
This is better but not totally fixed.  Removing MAX from label since there are no longer console errors or stuck in a bad state.

Once you are in a state where you're editing a Type attribute, Esc will not commit the text until you click on canvas.  There are definite focus issues going on an this may not be related to Type.

select the Rect tool
drag out a shape
click on color picker and assign a

[2015-09-15 18:03] iwehrman opened #2483 "Incorrect horizontal/vertical border widths"
This could be related to #2410:
![image](https://cloud.githubusercontent.com/assets/1075154/9885280/306cc954-5b99-11e5-8ee4-289468b00d1b.png)

[2015-09-15 18:12] iwehrman commented on #2479
Still a core bug, but maybe assign to @jsbache.

[2015-09-15 18:23] volfied commented on #2328
With https://github.com/adobe-photoshop/spaces-design/issues/2471, we're working around this and leaving spacebar for panning.

[2015-09-15 18:23] #2328 closed

[2015-09-15 18:47] tiburbage commented on #661
Verified fixed in playground/staging @1042548 (includes Sprint 31 DS). Retested on Mac and Win.

[2015-09-15 19:17] #2271 closed

[2015-09-15 19:26] chadrolfs opened #2484 "Dragging an asset off canvas bounds, nests incorrectly and doesn't expand canvas bounds leaving it unselectable"
cmd/ctrl + n
zoom out
drag an asset onto workarea well outside AB bound, hit enter to place
attempt to click and drag it

Result: you can't select it on canvas.  Classic PS updates correctly and you're able to select and move it.

https://www.dropbox.com/s/vi77lfc098l6hcw/asset-offcanvas.mov?dl=0

[2015-09-15 19:27] chadrolfs commented on #2484
@volfied can probably help here if not take this issue

[2015-09-15 19:33] chadrolfs commented on #2479
https://watsonexp.corp.adobe.com/#bug=4056811

[2015-09-15 19:35] #2254 closed

[2015-09-15 19:38] chadrolfs commented on #2193
CNR in a dual monitor situation with a Dell 1905FP as 2nd monitor.  Will check with larger cinema display.

[2015-09-15 19:39] #1967 closed

[2015-09-15 20:22] ktaki commented on #2193
I can reproduce this with today's mainline build r.224. Watson bug is still Open/ToFix.

[2015-09-15 20:32] chadrolfs commented on #2193
bummer. :cry:

[2015-09-15 20:36] placegraphichere opened #2485 "Double click export icons closes the export panel"
Double clicking the +, iOS, hdpi icons should not close the export panel.

[2015-09-15 20:38] mcilroyc commented on #2485
Is this on mac or windows?  CNR on my mac.

[2015-09-15 20:47] placegraphichere commented on #2485
you know, I bet I am clicking just to the left/right/top/bottom of the icons. This is not an issue, but maybe we should think about icon padding or something so it's not so easy to do.

[2015-09-15 20:47] #2485 closed

[2015-09-15 20:52] tiburbage commented on #1879
Closing. On Mac in Design Space, the behavior is to minimize the app regardless of the user preference for this shortcut.

[2015-09-15 20:52] #1879 closed

[2015-09-15 21:32] iwehrman commented on #1781
I can't repro this at all on Mac. On win I see something weird: clicks in the layers panel seem to trigger the `superselect.marqueeSelect` action. That makes me think something is weird with our policies. @volfied, can you repro that on your Windows machine?

[2015-09-15 21:39] volfied commented on #2101
PGDV.633 (Mac) or later will have this fixed.

[2015-09-15 22:09] volfied commented on #1561
@chadrolfs I just tried this again and switching between classic and DS seems to keep the settings correctly on PS side. Can you re-confirm?

[2015-09-15 22:12] iwehrman commented on #2000
Fixed by something or other.

[2015-09-15 22:12] #2000 closed

[2015-09-15 22:46] shaoshing commented on #2414
Assign to @volfied to look for option to skip or remove a file from the MRU list.

[2015-09-15 22:50] volfied commented on #2414
No possibility of this yet. Emailed Magenta team to ask if they had any plans to fix it on PS side so library graphic files don't show up in MRU list.

[2015-09-16 00:01] chadrolfs opened #2488 "superselect.click fails when 4x click on-canvas Type to edit"
new doc, create some text on canvas and commit it,
make the Select tool active and quickly click on on-canvas Type 4+ times to enter edit mode and select all

Result:  enter a bad state, CC Lib panel flashes.
`Action superselect.click failed: Error: Host is in a modal state and the request cannot be executed.    at eval (eval at undefined, <anonymous>:1:5)`

![screenshot_tue_sep_15_17 00 09](https

[2015-09-16 16:21] ktaki opened #2490 "Focus is not coming back to canvas after changing color in the text editing mode"
Windows only. After or during changing the color of font with the color picker tool, you cannot continue typing. Closing the color picker, reopening it, and closing it again will regain the focus on the type layer on canvas. On Mac, you can continue typing while the color picker UI is open.

A comment by John F in https://watsonexp.corp.adobe.com/#bug=4051807

NotThisProduct

This looks to be a Ja

[2015-09-16 16:46] volfied commented on #2414
https://watsonexp.corp.adobe.com/#bug=4057744

[2015-09-16 18:33] iwehrman opened #2491 "Drop shadow menu style nits"
![image](https://cloud.githubusercontent.com/assets/1075154/9914387/9018f5c6-5c66-11e5-867f-e3f3d2c5c957.png)

1. The triangle is not fully connected to the top of the menu.
2. Datalists additionally indicate selection with a blue bar on the left of the selected option, but this is missing from the drop shadow menu.

[2015-09-16 18:36] iwehrman opened #2493 "Phantom line in the color picker above the swatch"
:ghost:
![image](https://cloud.githubusercontent.com/assets/1075154/9914499/0c38f156-5c67-11e5-8a67-b1c43df61222.png)

[2015-09-16 18:39] iwehrman opened #2494 "Inconsistent delete icon hover state"
With layer effects, the delete icon only appears on hover. With export, it's always visible.
![image](https://cloud.githubusercontent.com/assets/1075154/9914603/7467ac22-5c67-11e5-8892-7baefe875d1e.png)
My preference is definitely to have the icons in the right-most column only visible on hover.

[2015-09-16 18:57] chadrolfs opened #2495 "Editing a Library Linked Smart Object doesn't update if you save via close prompt"
drag a LLSO on to canvas and double-click to open/edit it
change something in the file and hit cmd/ctrl + w to close
at prompt, click Save

Result: asset does not update.
If you save first then close, it does update.

[2015-09-16 19:23] iwehrman commented on #2272
This is still an issue:
![image](https://cloud.githubusercontent.com/assets/1075154/9915781/bfb454e0-5c6d-11e5-81db-84a8c27c5857.png)
Bumping to high priority and handing off to @mcilroyc.

[2015-09-16 19:24] iwehrman commented on #2456
Fixed by #2458.

[2015-09-16 19:24] #2456 closed

[2015-09-16 19:24] iwehrman commented on #2418
Fixed by @jfitz-adobe.

[2015-09-16 19:24] #2418 closed

[2015-09-16 19:25] iwehrman commented on #2101
Fixed by @volfied.

[2015-09-16 19:25] #2101 closed

[2015-09-16 19:25] iwehrman commented on #2438
Fixed by #2440, AFAICT.

[2015-09-16 19:25] #2438 closed

[2015-09-16 19:27] iwehrman opened #2496 "Creative Cloud Desktop installer kills Generator"
Here's what happens when I run the CC Desktop installer with Design Space running:
![image](https://cloud.githubusercontent.com/assets/1075154/9915843/3724e648-5c6e-11e5-8798-703f6ad50b9b.png)
![image](https://cloud.githubusercontent.com/assets/1075154/9915847/3b87dcea-5c6e-11e5-839a-4310e3747ddc.png)
Over to @chadrolfs to file a Watson issue (or whatever) with the CC Desktop team.

[2015-09-16 19:30] iwehrman commented on #2316
I'm still seeing this. I don't know what the issue is. What's the focus issue here, @volfied?

[2015-09-16 20:20] designedbyscience commented on #2312
Fixed by 2486

[2015-09-16 20:27] #2015 closed

[2015-09-16 20:54] volfied commented on #2375
Back over to @chadrolfs

[2015-09-16 20:57] iwehrman commented on #2441
FBNC to @chadrolfs.

[2015-09-16 21:06] placegraphichere commented on #2491
I'll pick this up in the spectrum PR #2489

[2015-09-16 21:13] iwehrman commented on #2421
Fixed by #2499.

[2015-09-16 21:13] #2421 closed

[2015-09-16 21:13] chadrolfs commented on #2453
create 2 type layers.
layer 1: black type, align left
layer 2: red type, align center
select layer 1, hit i for Sampler
mouse over layer 2, hit space and click on Type icon
result: alignment stays left.  should change to center align

[2015-09-16 21:25] chadrolfs commented on #2453
argh, was on release branch instead of master.

[2015-09-16 21:25] #2453 closed

[2015-09-16 21:33] iwehrman opened #2501 "Mixed swatch overlay needs updated styling"
Here's what it looks like now:
![image](https://cloud.githubusercontent.com/assets/1075154/9919051/4f16c5a8-5c7f-11e5-8a0d-9cbb37a83edc.png)

But I think @placegraphichere's comps use an oblique gresh strike to denote mixed state:
![image](https://cloud.githubusercontent.com/assets/1075154/9919144/d7f7b184-5c7f-11e5-8bcb-efb0f212e4a2.png)

[2015-09-16 21:34] designedbyscience commented on #2501
This is covered by my in-progress PR

[2015-09-16 21:36] #2441 closed

[2015-09-16 21:44] #2375 closed

[2015-09-16 21:48] chadrolfs commented on #2231
now 159ms to 249ms.  So much better, thank you!

[2015-09-16 21:48] #2231 closed

[2015-09-16 22:10] chadrolfs commented on #1561
No still not fixed.  Here are some steps that break it:
Start in classic, check Auto-Select
Switch to DS, select Rect tool, drag out a shape
Select the Select tool and drag rect on canvas
Switch to PS

Result: Auto-Select is now unchecked.

[2015-09-16 22:59] placegraphichere opened #2504 "ALT+drag to duplicate multiple objects does not update layers panel"
- Select multiple objects
- ALT+drag to duplicate them
- Layers panel will only show one layer selected
- Canvas continues to show multiple layers selected

expected: layers panel should show all layers selected

[2015-09-16 23:13] placegraphichere opened #2505 "CMD+f Errors sometimes when using this file"
Error is hard to reproduce, but seems to happen when I mulit-select a bunch of text objects that have missing fonts (Lust script), then try to open the App Search using CMD+f.

File: http://cl.ly/2O3x100N2P1E

[code]

[2015-09-16 23:59] iwehrman opened #2507 "Changing opacity on a background throws"
[code]

[2015-09-17 00:11] ktaki opened #2509 "Cannot move shapes at the outside of artboard"
Create a new artboard doc. Add three rectangles. Rect 1, Rect 2, Rect 3.
Move the Rect 3 to outside of the artboard.
Move the Rect 1 and Rect 2 to outside of the artboard.
Try moving Rect 1 and Rect 2 to bring them back on to the artboard.
You cannot move the Rect 1 and Rect 2.
Now, you move the Rect 3 to artboard. This is successful.
Now, you can move the Rect 1 and Rect 2 to the artboard.
It see

[2015-09-17 03:20] placegraphichere opened #2510 "Strange error duplicating on canvas"
While selecting and duplicating boxes on canvas I've been getting this error. It's hard to duplicate. So far it's happened on shapes and text box layers.

It seems to loop a few times and then stop, but Ds is unusable afterwards.

Using this file: http://cl.ly/2O3x100N2P1E
[code]

[2015-09-17 14:18] mcilroyc commented on #2207
@chadrolfs please see barkin's write-up in #2502

[2015-09-17 15:34] volfied commented on #2509
In step 3, we're not counting for rect 1 and 2 being reordered out of the artboard.

[2015-09-17 16:40] chadrolfs commented on #2496
https://watsonexp.corp.adobe.com/#bug=4058797
Bug Group Id: BG170941

[2015-09-17 17:28] chadrolfs commented on #2311
New changes abound.  Please retest and report results.  Thanks.

[2015-09-17 17:40] chadrolfs commented on #2364
Please verify if behavior is the same in PS.  If they are the same, then Watson bug is needed.

[2015-09-17 17:44] chadrolfs commented on #2378
same as #2505

[2015-09-17 17:44] #2378 closed

[2015-09-17 17:48] chadrolfs commented on #2389
Options: suppress dialog and select No, Don't suppress the dialog, or keep current (suppress and update)

[2015-09-17 17:51] zoranagee commented on #2364
It's not the same. PS does what I'd expect.

From: Chad Rolfs <notifications@github.com<mailto:notifications@github.com>>
Reply-To: adobe-photoshop/spaces-design <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, September 17, 2015 at 10:40 AM
To: adobe-photoshop/spaces-design <spaces-design@noreply.github.com<mailto:spaces-design@noreply.github.com>>
Cc: Zorana Gee <zgee@adob

[2015-09-17 18:07] chadrolfs commented on #2459
bug scrub: everyone agrees it should be sorted by alpha instead of mod time

[2015-09-17 18:10] iwehrman commented on #2469
Can whoever fixes this also make sure the same problem is fixed in the libraries panel?

[2015-09-17 18:12] chadrolfs commented on #2471
only one modifier is preferred.

[2015-09-17 18:20] #2507 closed

[2015-09-17 19:09] mcilroyc commented on #526
Updating this issue with the related watson bug: https://watsonexp.corp.adobe.com/#bug=3983752
cc @chadrolfs

[2015-09-17 19:12] mcilroyc commented on #2400
I refute this being high priority, but I guess I wasn't at the meeting, so...

[2015-09-17 19:17] volfied commented on #1937
Please re-test with the latest Jenkins build (mac #646)

[2015-09-17 19:59] volfied opened #2511 "Undo fails after moving layers in/out of artboards"
Create a new artboard document
Draw a rectangle in artboard
Drag rectangle out of artboard
Undo
Look at layers panel, the layer remains outside the artboard in layers panel

Help>Update to see what it should be.

[2015-09-17 20:01] volfied commented on #2509
@ktaki please re-test with 646 or later pgdv Mac Jenkins buids

[2015-09-17 20:05] volfied commented on #2414
Jesper and I chatted about this, eventually we'll be able to pass an option to open, to force External UI opened files to be added to MRU lists, and everything else will not be. So the fix will be not doing anything for library files, and passing "recordMRU" or some other flag for other open operations.

[2015-09-17 20:50] ktaki commented on #2509
Verified the fix.

[2015-09-17 20:50] #2509 closed

[2015-09-17 20:55] ktaki commented on #2367
Closing as as designed.

[2015-09-17 20:55] #2367 closed

[2015-09-17 20:57] chadrolfs opened #2512 "Unable to select Libraries datalist items; can't change libraries"
![screen shot 2015-09-17 at 1 54 49 pm](https://cloud.githubusercontent.com/assets/8442631/9945745/f632f8a6-5d43-11e5-8509-d51356c0847b.png)

[2015-09-17 20:57] tiburbage opened #2513 "On Windows, a doc opened via File > Open is not added to the Recent Files list"
1 - From Design Space, inspect the Recent Files list (UI, File > Open Recent)
2 - File > Open, select a file not already in that list, open
3 - File > Close
Inspect the Recent Files list again. That file was not added. These steps result in the file being added on Mac, and in standard on both platforms.

[2015-09-17 21:00] ktaki commented on #2320
This is still reproducible.

[2015-09-17 21:02] mcilroyc commented on #2320
I'll create a watson bug for this

[2015-09-17 21:15] chadrolfs commented on #2370
This works now as I would expect but introduced another issue.

[2015-09-17 21:15] #2370 closed

[2015-09-17 21:16] mcilroyc commented on #2320
https://watsonexp.corp.adobe.com/#bug=4058934

[2015-09-17 21:16] chadrolfs opened #2515 "Select hover blinks underlying hit-test area on move"
https://www.dropbox.com/s/tp1ned9efey9278/hitest-blinksUnderlyingLayer.mov?dl=0

[2015-09-17 21:26] #1160 closed

[2015-09-17 21:29] ktaki opened #2516 "Error on changing the color of font in editing mode"
With type tool, click on canvas and start typing. Click on the set color box to invoke color picker.
(pgDev Mac 648 and the latest master)

Action policy.addKeyboardPolicies failed: Error: Trying to add new policies but a cached state exists

![screen shot 2015-09-17 at 2 24 31 pm](https://cloud.githubusercontent.com/assets/2029597/9946465/471cb668-5d48-11e5-8e36-005508fa5a4b.png)

[2015-09-17 21:29] iwehrman commented on #2484
FBNC to @chadrolfs.

[2015-09-17 21:47] chadrolfs commented on #526
Ok, well if it's been lowered in priority and moved out past Oct, I'll lower the priority here as well.

[2015-09-17 21:56] volfied commented on #2414
Jesper made the change in pgdv, I will make the changes in JS. This is a note to myself.

[2015-09-17 22:18] pineapplespatula commented on #2516
i backed out my text policy change, this bug should be gone for now... but i'm not sure what the longer term plan is for modal tool states and keyboard policy

[2015-09-17 22:49] ktaki opened #2521 "First artboard missing a default asset"
Create a new artboard doc. Select Artboard 1.
    RESUTL: The export panel says "No exports configured"
    EXPECTED: The export panel says "No supported layers selected"
Add a rectangle to Artboard 1. Select Artboard 1
    RESULT: The export panel says "No exports configured"
    EXPECTED: A default asset is added

This works artboards added to the doc later.

[2015-09-17 22:52] chadrolfs opened #2522 "Enter key does not work to place LLSO assets with tools other than Select"
select the Rect tool, drag out a Library asset onto canvas and hit Enter

Result: asset does not place
Workaround: double-click it or use Select tool instead

[2015-09-17 22:58] ktaki commented on #2516
No longer happening.

[2015-09-17 22:58] #2516 closed

[2015-09-17 23:00] chadrolfs opened #2523 "LLSO Library assets are placed as embedded instead of linked"
Somewhat inconsistent depending on the tool or asset you are dragging onto canvas.  Sometimes it's linked, sometimes it's embedded.

https://www.dropbox.com/s/fh1edlcgcqohow4/LLSO-Embedded.mov?dl=0

[2015-09-17 23:18] chadrolfs opened #2524 "Attempting to Delete a LLSO immediately after placing results in many errors"
drag an asset onto canvas and immediately hit Delete

Result: ` Action layers.deleteSelected failed: Error: Host is in a modal state and the request cannot be executed.`

You end up in a bad state (but you can right-click and place)

https://www.dropbox.com/s/64kamnhhz3ckcy1/LLSO-DeleteAfterPlace.mov?dl=0

[2015-09-17 23:37] #2207 closed

[2015-09-17 23:52] iwehrman commented on #2312
Fixed by #2486, indeed.

[2015-09-17 23:52] #2312 closed

[2015-09-18 00:03] iwehrman commented on #2512
It looks like somehow the blur handler of the text input inside the libraries datalist is executing before the select onClick handler can run...

[2015-09-18 00:35] iwehrman commented on #2512
Here's the cause from #2486: https://github.com/adobe-photoshop/spaces-design/commit/a6f60d9e0f9d15229ad83bd98be994a856155824#diff-2679935a0e56611617e48e9185145f97R696

Looking for a "good" solution to the original problem he found...

[2015-09-18 02:05] placegraphichere opened #2525 "Textbox with missing font changes size when font is changed"
Text box is "Lust Script" and when changed to another font, the size will grow in height.

![missing-font-changes-size](https://cloud.githubusercontent.com/assets/3229167/9950379/9494c67e-5d7f-11e5-9806-949ba32b2631.gif)

[2015-09-18 03:23] #1937 closed

[2015-09-18 03:27] #2354 closed

[2015-09-18 03:29] chadrolfs commented on #1781
I can still repro on Windows; enable/disableTooltips is the cause

[2015-09-18 14:41] mcilroyc opened #2526 "Zoom To Selection goes too far for newly create text layers (short strings)"
1. start zoomed-out: cmd-0
1. text tool: click canvas, type "abcd", ESC to commit
1. cmd-2
1. note that canvas is blank or at least empty-ish
1. zoom out one click to see new text layer

[2015-09-18 15:01] iwehrman commented on #1781
If that is the case, then this is a core issue.

[2015-09-18 15:07] iwehrman commented on #1781
Two useful facts:

1. We only call disableTooltips after a mousedown + a mousemove (i.e., a "drag"). If clicking is causing a mousemove between the mousedown and mouseup then that's a plugin bug.
2. Tooltips should be transparent to click events. If the presence (or lackthereof?) is causing clicks to be dropped then that's a plugin bug.

I suggest filing a new Watson issue for @jfitz-adobe.

[2015-09-18 15:15] volfied commented on #2383
Jesper is working on the scroll/zoom events on core side, where he will send us a "scrollFInished" type of event where we will know to redraw the overlay. We will need to remove our own debouncing of scroll events when this happens.

[2015-09-18 15:46] chadrolfs commented on #1781
See my comment above from Aug 10.  When click fails to select layer, that's what the console show.  When click is successful, those actions don't happen.

[2015-09-18 16:20] chadrolfs commented on #2484
This is still broken but may be a result of other issues that are in the way( #2522 #2523 ).  Sometimes it works, sometimes it doesn't.  For example it doesn't work with svg or illustrator assets.

[2015-09-18 16:50] volfied commented on #2192
Emailed Cyan team asking if this is expected behavior of artboards. Reason is, creating a shape in a group calculates it's reference rectangle using it's parent group, and if that group is intersecting the artboard (which in case it's a member of the artboard), layer stays in that group therefore the artboard.

[2015-09-18 17:44] ktaki opened #2530 "Font menu sorted by captial letters first"
'a' should be with 'A' not after 'Z'.

[2015-09-18 17:59] ktaki opened #2531 "Resets MRU font list"
Now standard Ps maintains most recently used font list and puts it at the top of the font menu. Switching to DS erases this list, and then puts fonts used during DS session to the list. Returning to standard Ps, users will see different MRU font list.

[2015-09-18 18:11] iwehrman commented on #2531
I don't understand why this is considered a bug. If a user uses some fonts in DS then those are now the most recently used fonts, right?

[2015-09-18 18:15] ktaki commented on #2531
It should not reset the MRU, but it should update it.

[2015-09-18 18:29] chadrolfs opened #2534 "Hitting Esc after dragging asset onto canvas removes from canvas but not layers panel"
drag an asset onto canvas, hit Esc
note: asset is removed from canvas but still shows in layers panel

attempts to select it in the layers panel results in:
`Action layers.select failed: Error: Photoshop returned an error when playing command number: 1 Photoshop code: -25920 Photoshop message: error: -25920 message: The command “Select” is not currently available.`

[2015-09-18 18:58] iwehrman commented on #2484
FBNC to @chadrolfs.

[2015-09-18 19:05] #2526 closed

[2015-09-18 19:06] shaoshing commented on #2522
This seems to be working in dev 655

![issue-2522](https://cloud.githubusercontent.com/assets/118264/9968498/aeb83f3a-5dfd-11e5-9c04-a0f4f075d65d.gif)

[2015-09-18 19:11] shaoshing commented on #2504
The cause is at https://github.com/adobe-photoshop/spaces-design/commit/4729d94cd3309c9756ff1d7b9164192f838325a6#diff-cad1f13dd4227353281fce9ef1e32a58R690 Changing line 690 to `isNewSelected = selected` will fix the problem but I think there must be a reason for adding `i + 1 === layerIDs.length`. Summoning @mcilroyc since he is the author of the commit.

[2015-09-18 19:13] volfied commented on #2510
Well, in this particular file, we get duplicateNewSheets event before PS has time to update it's own image info. So we react too fast, and try to get information on a layer that doesn't yet exist. I've emailed Jesper and John Peterson to get their opinion and see how it can be fixed on core side.

[2015-09-18 19:56] chadrolfs commented on #2523
`GET file:///Users/crolfs/playground-repos/spaces-design/src/img/ico-layer-5-linked-mask.svg net::ERR_FILE_NOT_FOUND`

[2015-09-18 19:57] chadrolfs commented on #2523
@designedbyscience ^^  This your bug?

[2015-09-18 19:58] chadrolfs commented on #2523
oh nevermind, I got that file not found on a different branch.  This bug is against master.  sry, carry on, nothing to see here

[2015-09-18 20:07] volfied commented on #2515
I need more specific steps for this, as far as I can tell from the video, it's not blinking it but switching between the two layers (since the Talking Rain layer is transparent in most areas). This doesn't seem like a bug.

[2015-09-18 20:15] chadrolfs commented on #2522
indeed it does

[2015-09-18 20:15] #2522 closed

[2015-09-18 20:33] chadrolfs opened #2538 "Collapsing or expanding AB or group in layers panel should also select it (like PS) does"
This will help so you don’t end up with a layer selected that’s in a collapsed group/AB
related to #2192

[2015-09-18 22:07] iwehrman commented on #2494
Fixed by #2528.

[2015-09-18 22:07] #2494 closed

[2015-09-18 22:18] iwehrman opened #2540 "Create New Library text input does not immediately have focus"
When you select "Create New Library" from the Libraries `Datalist`, focus should be transferred to the text input so that you can just start typing the new library name. See #2536 for details, which may well have contributed to the bug?

[2015-09-18 22:38] ktaki commented on #2224
Nobody seems to be able to reproduce this. @zoranagee Can you try it again and let me know.

[2015-09-18 22:40] ktaki commented on #2364
Tested with a test file provided from Zorana. It seems working fine for me. Contacted Zorana.

[2015-09-18 22:53] volfied commented on #1092
Passing to @placegraphichere for comments.

[2015-09-18 22:54] chadrolfs commented on #2224
I think this may be the same bug as #2192

[2015-09-18 22:55] #2484 closed

[2015-09-18 23:02] volfied commented on #1092
Well, closing this, since it's same behavior in PS, and fix can come from classic as well.

[2015-09-18 23:02] #1092 closed

[2015-09-18 23:03] volfied commented on #1260
This is implemented.

[2015-09-18 23:03] #1260 closed

[2015-09-19 00:27] shaoshing commented on #2414
this fix require later dev build (659), @chadrolfs please verify.

[2015-09-19 16:16] mcilroyc commented on #2399
assigning this to @DivyaPrabhakar for a discount double check

[2015-09-19 16:17] mcilroyc commented on #2138
booya

[2015-09-19 16:17] #2138 closed

[2015-09-19 16:21] mcilroyc commented on #2512
FBNC to @chadrolfs

[2015-09-19 16:22] mcilroyc commented on #2409
'twas merely a flesh wound.  FBNC to @ktaki

[2015-09-21 14:45] mcilroyc commented on #2274
Changing the status of this to "enhancement" per our conversation about the related trello card https://trello.com/c/OIiM6hQb

[2015-09-21 15:54] DivyaPrabhakar commented on #2399
Looks good on my end

[2015-09-21 15:54] #2399 closed

[2015-09-21 16:17] chadrolfs commented on #2540
Dupe of #2197 ?

[2015-09-21 16:59] #2512 closed

[2015-09-21 17:17] zoranagee commented on #2364
Yup, seems to be working now in my sprint 30 build.

Z.

[2015-09-21 17:25] chadrolfs opened #2545 "Unsupported formats need handling when opening via CC Lib asset edit original"
Open a library containing unsupported formats (i.e. 3D)
drag asset onto canvas
double-click asset on canvas or layers panel

Result: Opens and can edit by attempting to drag out a guide

closing results in: `Action documents.close failed: TypeError: Cannot read property 'call' of undefined`

Additional bug: clicking on title bar blinks toolbar

[2015-09-21 17:25] chadrolfs commented on #2545
https://www.dropbox.com/s/u3so3c9us9gmraw/CCLib-Open3D.mov?dl=0

[2015-09-21 17:37] chadrolfs opened #2547 "Unable to open/edit some CC Lib assets"
Load shared library (Test - OK to accidentally nuke)
drag long file name asset (ac69f7a1d57a28...) onto canvas and double-click to edit

Result: it won't open

AI and SVG don't open either (assuming as designed because that requires a different application.  classic results in a dialog that is probably suppressed in DS).

[2015-09-21 17:47] chadrolfs opened #2548 "Errors closing CC Lib asset after editing"
drag an asset onto canvas
double-click to open/edit
change it and close (click save to prompt)

Result: `Action documents.close failed: TypeError: undefined is not a function`

[2015-09-21 17:47] #2495 closed

[2015-09-21 17:47] #2414 closed

[2015-09-21 17:49] shaoshing commented on #2547
@chadrolfs Currently we only support editing PS files in DS. In classic, you can edit images (png, jpeg, with limitation) and PS files; editing unsupported files will show a modal dialog saying "file cannot directly edited in PS".

Adding @davealonzo to this conversation for advise on handling unsupported files.

[2015-09-21 18:17] volfied commented on #2192
Final verdict on this issue: This is expected behavior, we should make sure, in our own model, that a selected layer can never be hidden in the layers panel. @chadrolfs @iwehrman please verify.

[2015-09-21 18:25] iwehrman commented on #2192
Does that mean we should deselect descendants when a group is collapsed?

[2015-09-21 18:45] chadrolfs commented on #2192
@iwehrman in short, yes, but we do this by selecting the group you just collapsed.  See issue #2538

[2015-09-21 18:45] #2192 closed

[2015-09-21 19:01] ktaki commented on #2364
OK. Thanks @zoranagee.

[2015-09-21 19:01] #2364 closed

[2015-09-21 19:32] iwehrman commented on #2192
Currently if you click on the icon, the selection state does not change.

[2015-09-21 19:34] iwehrman commented on #2538
Clicking the disclosure arrow does not change the selection state in standard PS, and that's how it works in Design Space too.

[2015-09-21 19:35] iwehrman commented on #2538
But, I agree that we should ensure that descendants of collapsed groups should not be selected.

[2015-09-21 20:34] volfied commented on #2510
https://watsonexp.corp.adobe.com/#bug=4059750

[2015-09-21 20:39] volfied commented on #2304
@chadrolfs This bug was bounced back to us as cannot reproduce on Windows. They think one of the other fixes took care of it, can you confirm?

[2015-09-21 20:42] volfied commented on #2263
Update: Tim Wright will take care of this in Cyan branch and I will integrate the change manually to our branch to test.

[2015-09-21 21:35] volfied commented on #1387
This is an old bug, but I can't reproduce it anymore. @ktaki, can you verify this has been fixed?

[2015-09-21 21:43] volfied commented on #1561
Re-opened the Watson bug, as I can repro this.

[2015-09-21 22:01] iwehrman opened #2551 "Can't set hue if saturation is 0"
In the color picker, changes to the hue don't stick when the saturation is set to 0. This is because colors with zero saturation and different hues are equivalent, but the value typed into the input should still remain.
![image](https://s3.amazonaws.com/f.cl.ly/items/2R3B0a3n070K0b041C2O/Screen%20Recording%202015-09-21%20at%2003.01%20PM.gif)

[2015-09-21 22:01] shaoshing commented on #2545
The panels and guides are not completely disabled for unsupported documents. Things I found and will be fixed:

* guide creation when guide is enabled in classic
* copy/paste appearance/style buttons
* add layer effect button
* vector operation buttons
* should greyout libraries panel

[2015-09-21 22:04] iwehrman opened #2552 "Color picker returns focus to PS before closing"
1. Enter a modal type state
2. Open the color picker
3. Edit one of the input (i.e., acquire focus)
4. Enter twice to commit the change and then blur the input (i.e., release focus to PS)
5. Press escape to dismiss the picker.

Result: The picker remains open and the modal type state is committed.

Expected (I think): The picker is dismissed and the modal type state remains active.

[2015-09-21 22:12] volfied commented on #1781
Unassigning myself since I will not be able to get to this bug before Oct, and I don't want it to rot in my pile. Up for grabs!

[2015-09-21 22:48] tiburbage commented on #2320
https://watsonexp.corp.adobe.com/#bug=4058934 closed
playground/...@1043475

[2015-09-21 22:48] #2320 closed

[2015-09-21 22:50] ktaki commented on #2473
Verified the fix.

[2015-09-21 22:50] #2473 closed

[2015-09-21 22:55] ktaki commented on #2409
Verified the fix.

[2015-09-21 22:55] #2409 closed

[2015-09-21 22:58] ktaki opened #2555 "Datalist: Blend mode menu does not scroll with mouse wheel or finger movement on mouse"

[2015-09-21 23:05] ktaki opened #2556 "Artboards are not selected when Export dialog is opened"
Check boxes for artboards except one for the first artboard are not checked as defaults when the Export dialog is opened.

[2015-09-21 23:06] ktaki opened #2557 "Truncation of assets will happen after around 8 assets in Export dialog"
![screen shot 2015-09-21 at 4 03 53 pm](https://cloud.githubusercontent.com/assets/2029597/10007506/b5ab1c66-607a-11e5-843c-76d289334145.png)

[2015-09-21 23:14] tiburbage commented on #2150
This does appear to be fixed looking at staging builds e.g. playground/...@1043692, with
HTML update for MAX (Sprint 31.1), Artboard Guides fix, release @ 8b64b0ad8779db8b1b958fc6d7d14a155e7daaab

[2015-09-21 23:14] #2150 closed

[2015-09-21 23:19] volfied commented on #1844
I've disabled scrubby zoom in pgdv, space+cmd / space+option do nothing now.

[2015-09-21 23:20] volfied commented on #2098
Unassigning myself as it is code clean up and someone else may want to take it.

[2015-09-21 23:20] ktaki commented on #1387
This is no longer happening.

[2015-09-21 23:20] #1387 closed

[2015-09-21 23:21] volfied commented on #1845
Dupe of https://github.com/adobe-photoshop/spaces-design/issues/1844 ?

[2015-09-21 23:27] tiburbage commented on #1902
https://watsonexp.corp.adobe.com/#bug=4037340 closed/fixed
playground/...@1042114 (09/12)

[2015-09-21 23:27] #1902 closed

[2015-09-21 23:28] ktaki opened #2558 "New Export button on the doc title bar can be overwritten by doc names"
Any other better place to be?

[2015-09-21 23:29] mcilroyc commented on #2558
assigned to @DivyaPrabhakar , cc: @designedbyscience

[2015-09-21 23:29] volfied commented on #1874
Closing this in favor of keeping the modal place operation.

[2015-09-21 23:29] #1874 closed

[2015-09-21 23:34] #2534 closed

[2015-09-21 23:46] chadrolfs opened #2559 "Uncaught SyntaxError: Invalid number after editing/saving/closing a CC Lib asset"
create a new doc
load library: Test - OK to accidentally nuke
drag Graphic: Climber onto canvas, hit enter to place
double-click to open/edit it
hit Delete to remove layer: Rectangle 1
cmd/ctrl + s to save
cmd/ctrl + w to close

Result:
`Uncaught SyntaxError: Invalid number`
`Action documents.close failed: Error: Invariant Violation: findComponentRoot(..., .0.4.0.0.1:$1137.1.0.0.1.0.2): Unable to

[2015-09-21 23:46] chadrolfs commented on #2559
![screen shot 2015-09-21 at 4 39 41 pm](https://cloud.githubusercontent.com/assets/8442631/10008138/4660dfa2-6080-11e5-956c-68b25dc50286.png)
![screen shot 2015-09-21 at 12 18 31 pm](https://cloud.githubusercontent.com/assets/8442631/10008139/4662e20c-6080-11e5-9daa-894f224a3fb0.png)

[2015-09-21 23:51] chadrolfs opened #2560 "Color Picker UI opens above swatch with smaller App window"
new doc, draw rect, add drop shadow, resize app window (or use an SP3) so that vertical is smaller.
click on color swatch

result: color picker opens above the swatch
![screen shot 2015-09-21 at 4 48 42 pm](https://cloud.githubusercontent.com/assets/8442631/10008193/f009b81c-6080-11e5-999f-a7198f686a43.png)

[2015-09-21 23:54] #2524 closed

[2015-09-22 00:01] #2523 closed

[2015-09-22 00:10] chadrolfs opened #2562 "CC Lib: dragging in 3D asset doesn't place and leaves app in bad state"
create a new doc
load library: Test - OK to accidentally nuke
drag Graphic: `I am 3D` onto canvas

Result: it doesn't place and you are stuck in whatever tool you started with

https://www.dropbox.com/s/hm7q71wn1rn87t1/CCLib-3DdontPlace.mov?dl=0

[2015-09-22 04:27] chadrolfs commented on #2538
Hmmm, I'm not sure what you're seeing but in standard PS, if you click on the disclosure arrow for a group or AB in the layers panel it collapses and changes the selection to the group/AB.

[2015-09-22 15:06] mcilroyc opened #2563 "Drag file onto PS icon doesn't always show the resultant document in the header"
*With a document open, and a layer selected*, drag a JPG file onto the photoshop icon in the mac OS toolbar.  This will open the JPG file as a new document, but *sometimes* the DS document header bar will not show the new document until after the first canvas click.

http://cl.ly/2B1X0P0s0A0M

[2015-09-22 15:12] mcilroyc commented on #2400
@ktaki if you run in to issues when verifying this fix, please make sure it is not caused by this separate issue: #2563

[2015-09-22 15:23] mcilroyc commented on #1681
I think @volfied is saying that this is fix fa realz now.  @chadrolfs

[2015-09-22 15:32] volfied commented on #2471
At this point, this issue is waiting on #2480 to be merged, or be closed where we keep spacebar.

[2015-09-22 15:32] volfied commented on #2471
Passing to @placegraphichere to make a call. Seth, please test #2480 and see if it's something you like to merge.

[2015-09-22 16:12] volfied commented on #2383
Jesper told me this is likely not going to happen before Oct 1st. So I'm leaving this note here for whoever wants to fix this:

Right now, in actions/ui.js we add a `"scroll"` event listener that calls `setTransformDebounced`, which means we grab all the scroll events, and as long as we receive them, we delay processing the transform.

However, when Jesper makes the change, so we only get two even

[2015-09-22 16:25] designedbyscience commented on #2436
This should have been addressed by my mixed PR

[2015-09-22 16:26] designedbyscience commented on #2437
Came in on the mixed state PR

[2015-09-22 16:38] designedbyscience commented on #2501
Updated in my now merged PR

[2015-09-22 16:48] iwehrman commented on #2505
I just hit the same thing. This time, there were no documents open. It also left the app in an unusable state, presumably because it thinks a modal dialog is somehow open?
[code]

[2015-09-22 16:49] designedbyscience commented on #1885
Also, fixed in my Mixed states PR

[2015-09-22 16:51] chadrolfs opened #2564 "Color picker swatch has radius edge UI issue"
![ice_screenshot_20150922-095211](https://cloud.githubusercontent.com/assets/8442631/10025132/8aefa088-610f-11e5-9ea9-3711353b25b0.png)

[2015-09-22 16:54] iwehrman opened #2565 "Unhandled exception in libraries store when closing document"
1. Open a new artboard document.
2. Close the document:

[code]

[2015-09-22 16:56] iwehrman commented on #2565
It looks like the `LIBRARIES_UNLOADED` event is happening before the `DOCUMENT_CLOSE` event. A simple fix would just be to move the initialization of `_editStatusByDocumentID` to `_handleReset`.

[2015-09-22 17:00] chadrolfs commented on #2565
related to or dupe of #2548 #2559

[2015-09-22 17:34] iwehrman commented on #2565
I don't _think_ it's a dupe, but I could be wrong.

[2015-09-22 17:45] ktaki commented on #2521
The first AB created has Layer 1 as default. Therefore, an asset is added automatically. However, this empty layer causes an error when exported if no other layers were added.

New AB doc, select AB, Export.

![screen shot 2015-09-22 at 9 58 08 am](https://cloud.githubusercontent.com/assets/2029597/10026492/f1bf787c-6116-11e5-8774-baa2d3b8cd04.png)

[2015-09-22 17:52] iwehrman opened #2568 "Invalid prop `color` supplied to ColorFields"
`Warning: Failed propType: Invalid prop 'color' supplied to 'ColorFields', expected instance of 'Record'. Check the render method of 'ColorPicker'.`

[2015-09-22 18:09] ktaki commented on #1885
Verified the fix.

[2015-09-22 18:09] #1885 closed

[2015-09-22 18:11] ktaki opened #2569 "Mixed icon needs to be scaled for Effects panel"
<img width="258" alt="screen shot 2015-09-22 at 11 05 50 am" src="https://cloud.githubusercontent.com/assets/2029597/10027167/765d8936-611a-11e5-951f-9490ad50c90f.png">

[2015-09-22 18:18] ktaki opened #2570 "Toggling fill and stroke visibilities changes their colors when multiple layers are selected"
Create two rectangles. Change the colors of fill and stroke for each rectangle. Use different colors. Select the both rectangle in layers panel. Click visibility icons of fill and strokes in the Appearance panel to turn off and then on the visibility.

RESULT:
The fill colors for the both rectangles become black.
The stroke colors for the both rectangles become one of the stroke colors.

[2015-09-22 18:22] chadrolfs commented on #2515
jenkins dev build 662 on mac with master @ 25a032dd0a2a057e52dade604c2d4e645d3728f2
here's a video (download and scrub to 4 second mark), you underlying shape highlight shows during drag.

https://www.dropbox.com/s/5bpw94eon4za0ri/highlight-blinkAt4sec.mov?dl=0

[2015-09-22 18:23] chadrolfs commented on #2515
changing priority to low.  I don't think this is High Pri issue

[2015-09-22 18:59] mcilroyc commented on #2521
@ktaki we've actually discussed this scenario before in a previous bug. I don't see a convenient way to guard against this, and it seems not worth trying.  The app handles this appropriately (console error, but otherwise recovers) ... and any user trying to export an artboard with the default placeholder layer deserves what they get!

[2015-09-22 19:01] mcilroyc commented on #2521
@ktaki see: https://github.com/adobe-photoshop/spaces-design/issues/2273#issuecomment-139668932

[2015-09-22 19:02] ktaki commented on #2521
OK. No objections. Closing.

[2015-09-22 19:02] #2521 closed

[2015-09-22 19:02] iwehrman opened #2571 "Overflowing text in non-English languages"
DE:
![image](https://cloud.githubusercontent.com/assets/1075154/10028514/bfa7d6da-6121-11e5-9e6b-05306302701d.png)

FR:
![image](https://cloud.githubusercontent.com/assets/1075154/10028518/c56b566e-6121-11e5-8186-98c637ba71c4.png)

JA:
![image](https://cloud.githubusercontent.com/assets/1075154/10028522/ccb61cc4-6121-11e5-852a-9c8583ca62c9.png)

[2015-09-22 19:47] placegraphichere opened #2572 "Sampler trace errors"
3 Error messages (may be the same issue multiple times) when attempting to sample text-to-text and shift click sample:

[code]

[2015-09-22 19:54] placegraphichere opened #2573 "Sampler: fills set in Ds won't sample when reopened"
-In Ds, Create some shapes on a new doc
- set the fill on them to make them distinct
- save and close
- reopen and attempt to sample from the changed fill shapes
- result: sample will fail

- work around: change the color fill, and then the sampler will work

Console log error:
[code]

[2015-09-22 19:55] iwehrman commented on #2572
I'll bet the way to repro this is to sample a layer that has never been selected. @volfied: the fix may be to call `initializeLayers` in all the sample actions before doing anything?

[2015-09-22 20:04] ktaki opened #2574 "Export panel says "No exports configured" when multiple layers are selected and no matching assets are found"
Add two shape layers. Add an asset .png to one layer, and add an asset .svg to another. Select both layers in layers panel. The panel says "No exports configured."

[2015-09-22 20:16] mcilroyc commented on #2574
@placegraphichere this is a bug version of the card we have here to improve mixed state export.  https://trello.com/c/HMUwwcfe

In a nutshell, we don't have a visual representation of multiple selections with totally non-intersecting asset configurations.  Maybe you'll have an idea for a "quick fix" for this?

[2015-09-22 20:46] chadrolfs opened #2575 "Zoom out stops at 5%"
Compared to standard PS which stops around 0.1%

Not sure we need it but we should probably be consistent?

[2015-09-22 20:51] placegraphichere commented on #2152
#2544  addresses a portion of this issue. But will not fix all cases.

[2015-09-22 21:00] ktaki commented on #2400
Verified the fix.

[2015-09-22 21:00] #2400 closed

[2015-09-22 22:11] placegraphichere opened #2580 "CMD+f not working on master"
Dev build 664+master does not allow me to type anything in app search, exits search. Console shows no errors

![search-not-clickable](https://cloud.githubusercontent.com/assets/3229167/10033085/d2c0ca12-614c-11e5-9415-e4c1844d7049.gif)

[code]

[2015-09-22 22:36] chadrolfs commented on #2572
Good call Ian, I think you're right!  An easy repro for this is to have a doc with 2 text layers, one selected, reset DS, hit i for Sampler, mouse over non-selected layer and hit Space.

`Action sampler.showHUD failed: TypeError: Cannot read property 'characterStyle' of null`

[2015-09-22 22:55] chadrolfs commented on #2580
de020a7f2f07b0907b5a021d87513f4b8783e7a2 is the first bad commit
commit de020a7f2f07b0907b5a021d87513f4b8783e7a2
Author: Cory McIlroy <mcilroy@adobe.com>
Date:   Mon Sep 21 18:25:43 2015 -0500

    Properly merge dismissal policy during dialog open of previously registered dialog

[2015-09-22 23:03] #2304 closed

[2015-09-22 23:06] ktaki opened #2581 "Spinner keeps spinning till mouse is moved on clicking doc titles"
Open two documents. Click on the doc titles to switch the docs. A spinner shows up when clicking a doc title. It does not disappear till the mouse is moved. It seems just redrawing issue. Windows only.

[2015-09-22 23:16] iwehrman commented on #2572
FBNC to @chadrolfs.

[2015-09-22 23:20] chadrolfs commented on #1844
I guess that's one way of fixing it.

[2015-09-22 23:29] chadrolfs commented on #1681
Following original steps in issue, I still get modal error dialog.

[2015-09-22 23:36] chadrolfs opened #2584 "Sampling on empty artboard area result in failure"
cmd + n
press t for Type tool
click on canvas and type, hit Enter to commit text
press i for Sampler
click on empty area of artboard

Result:
`Action sampler.click failed: TypeError: Cannot read property 'filterNot' of undefined`

[2015-09-22 23:40] chadrolfs commented on #2572
Looks fixed to me!

[2015-09-22 23:40] #2572 closed

[2015-09-22 23:43] volfied commented on #2584
Pushed a fix to master for this one (it was too simple)

[2015-09-23 00:06] #2584 closed

[2015-09-23 00:40] ktaki opened #2585 "Export panel should maintain minimum height"
As adding more effects,the header part of Export dialog shrinks.

![screen shot 2015-09-22 at 5 38 26 pm](https://cloud.githubusercontent.com/assets/2029597/10035602/f225fbc6-6150-11e5-90a6-a69eb995cb2e.png)

[2015-09-23 00:53] ktaki commented on #2468
It seems that the height of Export dialog depends on the contents of it. I think it should expand to a half of the Effects panel. The picture below shows when 2 assets exist in Export dialog and the dialog was clicked to expand.

![screen shot 2015-09-22 at 5 53 03 pm](https://cloud.githubusercontent.com/assets/2029597/10035784/d7ce4de4-6152-11e5-9de9-0a58dabb1771.png)

[2015-09-23 02:10] mcilroyc commented on #2580
I'm going to close this, taking @placegraphichere's PR merge as an indication that he, the reporter, agree's it is fixed.

[2015-09-23 02:10] #2580 closed

[2015-09-23 02:50] placegraphichere opened #2586 "Adding Effect to JPG (Background layer) will throw an error"
- drop a JPG into Ds, click (+) to add an effect
- error as follows

[code]

[2015-09-23 03:40] volfied commented on #2573
Dupe of #2572

[2015-09-23 03:42] volfied commented on #2573
@placegraphichere can you confirm this is fixed in latest master and if it's indeed a dupe of #2572?

[2015-09-23 04:34] placegraphichere commented on #2573
appears to be fixed

[2015-09-23 04:34] #2573 closed

[2015-09-23 15:31] volfied commented on #2575
This is by @placegraphichere's design. We cap it between 5% and 3200%

[2015-09-23 15:48] #2575 closed

[2015-09-23 16:46] chadrolfs commented on #2259
priority confirmed.  nothing bad happens with them visible other than them being distracting to the eye.  If we can easily turn visibility off for them, we should IMO.

[2015-09-23 16:59] ktaki opened #2589 "Export broken in master"
After clicking Export button, spinner keep spinning and no files generated.

[2015-09-23 17:08] mcilroyc commented on #2589
CNR.  which build?  can you provide a specific file that doesn't work?

[2015-09-23 17:13] mcilroyc commented on #2589
ignore previous, i can repro.

[2015-09-23 17:40] ktaki opened #2592 "Zoom can be set to < 5% or > 3200%"
Using down arrow and up arrow, the zoom level number can be set to out side of 5% and 3200%. Also, entering number outside of the range (including negative numbers) from keyboard is accepted if you type it more than once consecutively.

[2015-09-23 17:49] ktaki commented on #2589
Verified the fix. Now works again. Thanks!

[2015-09-23 17:49] #2589 closed

[2015-09-23 18:10] iwehrman opened #2593 "Overlay offsets not being correctly reset on error"
1. Help > Test Action Failures
2. Pan the canvas.

Result: the UI flashes because the overlay offsets are incorrect after the controller reset.

[2015-09-23 18:42] chadrolfs opened #2594 "Bounds highlight blinks when selecting shapes via marquee select"
new doc, draw some shapes (rect, ellipse, pen), with Select tool marquee select shapes

Result: while marquee dragging, bounds highlight for shapes blink.

[2015-09-23 20:35] mcilroyc commented on #2592
@ktaki note that in addition to fixing the bug, arrow keys are now disabled for this input.

[2015-09-23 20:40] chadrolfs opened #2596 "Add artboard canvas UI should not show when layer visibility is off"
cmd/ctrl + n
select the AB in the layers panel and either click the visibility icon or use the shortcut ( cmd/ctrl + alt + , ) to turn visibility off.

Result:
![screen shot 2015-09-23 at 1 36 24 pm](https://cloud.githubusercontent.com/assets/8442631/10058105/98f69634-61f8-11e5-9596-6e7adbd1ee9e.png)

[2015-09-23 20:42] volfied commented on #2596
I think @DivyaPrabhakar should look into this, and learn a little about our overlay code. Please come bug me if you get stuck. Artboard adders are drawn in superselectOverlay.jsx

[2015-09-23 20:47] chadrolfs opened #2597 "Unable to move more than one artboard at a time via Select tool click and drag on title"
create a new doc with multiple artboards
select on canvas by Shift + click on titles with Select tool
click + drag on title

Result: artboards don't move (arrow keys work)

[2015-09-23 20:52] chadrolfs commented on #2586
Quick easy repro:
File > New...
Select Document Type: Default Photoshop Size (OK)
add layer effect

`Action layerEffects.addShadow failed: Error: Photoshop returned an error when playing command number: 1 Photoshop code: -25920 Photoshop message: error: -25920 message: The command “Apply Locking” is not currently available.`

[2015-09-23 21:07] volfied commented on #2597
if I don't get to it in time, superselect click/drag first attempts a selection, and only starts a drag by using OS.postEvent if selection is valid. The logic seems to be broken for this case.

[2015-09-23 21:24] ktaki opened #2598 "Zoom level display not updated automatically when app window was moved between high res and low res Whenmonitors"
When app window is moved to high res screen to low res screen, or vice versa, the zoom level percentage is automatically adjusted. The zoom level display, however, is not updated automatically. After panning the canvas, the number is updated.

[2015-09-23 21:28] ktaki commented on #2592
Verified the fix. up and down arrow keys have been disabled. Number input has been adjusted.

[2015-09-23 21:28] #2592 closed

[2015-09-23 21:32] tiburbage opened #2599 "After placing an image onto a new Artboard, the placeholder 'Layer 1' still displays"
After Place Linked or Place Embedded onto a new Artboard, the placeholder Layer 1 still displays (even though it really isn't there anymore).

1 - With the LAYERS panel visible, File > New (Artboard)
2 - File > Place Embedded [select an image] Place
3 - Press ENTER to complete

Note "Layer 1" still appears in the LAYERS list. If you switch back to standard, it really isn't there.

[2015-09-23 21:34] tiburbage commented on #2599
Tested on Mac and Windows, playground / staging 2015/09/23

[2015-09-23 21:41] ktaki opened #2600 "Zoom level can be less than 5% when app window is moved from high res screen to low res"
Set zoom level to 5% in high res screen. Move the app window to low res screen. Pan the canvas (issue #2598) the zoom level display is updated to 2.5%. This should stay at the minimum value allowed (5%).

Note that if the zoom level is set to 3200% at low res screen and move the app window to high res, the zoom level stays at 3200%. This is fine.

[2015-09-23 21:43] chadrolfs opened #2601 "Artboard does not show as selected in layers panel when active on canvas after layer delete"
new doc with one shape inside the AB and one outside
select the layer outside and delete

Result: AB is now selected on canvas but layers panel does not confirm that.

https://www.dropbox.com/s/idz9i8m3yxnhtpr/AB-selectionConfusion.mov?dl=0

[2015-09-23 22:18] volfied commented on #1681
Will be fixed in pgdv.max.672 with CL 1044284.

As a side effect, any time layer selection changes, we erase the current sub path index now, so to be able to continue an open path in the selected layer, you'll need to click one of it's open anchors to activate that sub path.

[2015-09-23 23:33] tiburbage commented on #2600
I think the minimum zoom factor is 0.27%. The zoom factor should never go below that, but will be doubled when dragging from a Retina display to a non-HiDPI display, and halved when going in the other direction. This keeps the apparent sizes of things uniform when going between the displays.

[2015-09-23 23:52] tiburbage commented on #1585
I'm closing this based on our experience in testing the last Beta builds (see Aug 13 comment). We should log specific performance issues with the GM OS release if found (should be available very shortly)

[2015-09-23 23:52] #1585 closed

[2015-09-23 23:59] iwehrman commented on #2600
FBNC to @ktaki.

[2015-09-24 00:03] tiburbage opened #2604 "Guides blue rects are not drawn correctly when the app is dragged across Retina/standard displays"
The blue guide regions (rects) appear at 1/2 their apparent width when the app is dragged from a Retina display to a standard/non-HiDPI display. On the other hand, when the app is dragged from a standard display to a Retina display, the guides have the right apparent width but are drawn offset from their correct position.

Strangely, the bottom rect in both cases seems to be correct: it is only th

[2015-09-24 00:09] volfied commented on #2490
Bounced the bug back, we're not getting the identical set of events from the adapter. I don't see how this can be fixed on the JS side.

[2015-09-24 00:12] ktaki commented on #2600
The PR #2603 fixed #2598, not this issue. Please review.

[2015-09-24 00:13] volfied commented on #2488
I can't repro this @chadrolfs I can see the same action queue as your picture, but don't get the error.

[2015-09-24 00:13] ktaki commented on #2598
This has been fixed with PR #2603.

[2015-09-24 00:13] #2598 closed

[2015-09-24 00:14] tiburbage opened #2605 "SUGG: Style Paste HUD should stay open for multiple actions"
SUGGESTION:
It would be more user friendly if the style copy/paste HUD (the HUD that appears with the Eyedropper Tool active and SPACE is down, not sure what to call it) would remain open so long as the mouse doesn't move off of it. Currently, it dismisses as soon as you pick on of the options. if you want to copy/paste multiple attributes, you have to keep repeating bring the HUD up.

- For a doc

[2015-09-24 00:26] iwehrman commented on #2447
FBNC to @chadrolfs.

[2015-09-24 00:46] iwehrman commented on #2585
I don't think this has anything to do with the panel being collapsed? It should just always have a minimum height.
![image](https://cloud.githubusercontent.com/assets/1075154/10062749/f310b222-621a-11e5-8d61-b9fe30354dc8.png)

[2015-09-24 01:00] iwehrman opened #2607 "Cloaking problems with modal dialogs on 5k display"
1. Here's what happens on master when I search: http://cloud.wehrman.org/371l0k3D0V38
2. Here's what I saw on startup with fresh prefs:
![image](https://cloud.githubusercontent.com/assets/1075154/10062931/dee32620-621c-11e5-966d-cc44c502d7c1.png)

[2015-09-24 01:01] iwehrman commented on #2605
What do you think, @placegraphichere?

[2015-09-24 01:14] iwehrman commented on #2505
I figured out how to reproduce this reliably: it happens when you search _after_ a reset. Almost certainly this means the search registration is not correctly resetting itself.

[2015-09-24 01:27] iwehrman opened #2608 "Checkbox styling problems"
On a 5k iMac with `font-size: 62.5%`, checkboxes look like this:
![image](https://cloud.githubusercontent.com/assets/1075154/10063270/a84b01ec-6220-11e5-8620-4712b57fae5e.png)

[2015-09-24 01:33] iwehrman commented on #2607
Actually, it turns out we're never calling `cloak` or `setOverlayCloaking`, so I don't think this has to do with the cloaking at all. @chadrolfs: can you create a Watson issue for this and assign it to @jsbache? Thanks!

[2015-09-24 02:17] #2447 closed

[2015-09-24 02:19] iwehrman commented on #2501
Fixed by @designedbyscience.

[2015-09-24 02:19] #2501 closed

[2015-09-24 02:20] iwehrman commented on #2437
Nice! Fixed by @designedbyscience.

[2015-09-24 02:20] #2437 closed

[2015-09-24 02:22] iwehrman commented on #2436
Fixed by @designedbyscience.

[2015-09-24 02:22] #2436 closed

[2015-09-24 02:22] iwehrman commented on #2267
Fixed by #2517.

[2015-09-24 02:22] #2267 closed

[2015-09-24 02:23] iwehrman commented on #2431
Fixed by #2429!

[2015-09-24 02:23] #2431 closed

[2015-09-24 02:23] chadrolfs commented on #1888
can't search in zero doc state

[2015-09-24 02:26] chadrolfs commented on #2607
Hmmm, i can't repro this but sure.  Will do.

[2015-09-24 02:30] chadrolfs commented on #2607
https://watsonexp.corp.adobe.com//#bug=4062855

[2015-09-24 03:58] volfied commented on #1561
@chadrolfs Please retest with pgdv.mac.674 or later.

[2015-09-24 14:02] mcilroyc commented on #2510
Hey @chadrolfs - I just merged @volfied PR - and it was a fairly simple change on our side, but has fundamental core changes ... and generally this is a prickly patch of code, I think.  Can you please verify the fix?  It was originally reported by @placegraphichere

[2015-09-24 15:19] iwehrman commented on #2607
It may well be specific to a 5k iMac.

[2015-09-24 16:26] ktaki opened #2611 "Upper limit of stroke size not set"
It should be set to 288 pix to follow standard Ps.

[2015-09-24 16:29] volfied commented on #2259
There is no simple way of turning off slices. Only accessible command we can play in PS is the toggle command, and as far as I can tell there is no read for the current value. I will create a low priority Watson bug for core team to either provide us with a setter function, or force disable it during ExternalUI for 1.1

[2015-09-24 16:32] volfied commented on #2259
https://watsonexp.corp.adobe.com/#bug=4063409

[2015-09-24 16:33] chadrolfs commented on #2259
Thanks @volfied.  Yeah, I would say this is pretty low priority but good if we can get it in.  There are certainly many more higher priority issues above this one IMO.

[2015-09-24 16:34] volfied commented on #2263
Once Cyan team's changes are in main->pg->pgdv, this bug should be fixed.

[2015-09-24 17:31] shaoshing opened #2612 "Copy of an empty pixel layer is placed out of its art board."
#### copy-paste an empty pixel layer in classic - wrong
![classic-duplicate](https://cloud.githubusercontent.com/assets/118264/10253864/cda1b794-68f4-11e5-8ff0-3517858a8806.gif)

#### copy-paste a non-empty pixel layer in classic - correct
![classic-duplicate-2](https://cloud.githubusercontent.com/assets/118264/10253881/ea56fb06-68f4-11e5-9356-0970637c2cd9.gif)

[2015-09-24 18:20] DivyaPrabhakar opened #2613 "X and Y coordinates for a selected layer are w.r.t canvas, not the artboard"
If the selected shape is on an artboard, the X and Y coordinates should be in relation to the artboard.

Repro:

1. Create two artboards, AB1 and AB2
2. Create a shape layer and place it on AB2 in the top left corner
3. X Y coordinates read X: (some non-zero value), Y: 0.

Expected behavior is  X: 0     Y: 0

[2015-09-24 18:28] davealonzo opened #2614 "Stroke color swatch in Appearance panel is not right"
Color swatch for stroke doesn't convey well that it's a stroke color.

Current...
<img width="318" alt="screen shot 2015-09-24 at 11 15 28 am2" src="https://cloud.githubusercontent.com/assets/12259315/10082576/4261f9f0-62af-11e5-9cd3-1131329e0c61.png">

Should look like...
<img width="318" alt="stroke_color" src="https://cloud.githubusercontent.com/assets/12259315/10085462/27138128-62be-11e5-9f4d-

[2015-09-24 19:04] shaoshing commented on #2548
@chadrolfs once this is fixed, you will need latest Jenkin build (>= 676) in order the have the graphic's preview updated correctly to the changes via the close-and-save dialog.

[2015-09-24 19:16] iwehrman commented on #2548
FBNC to @chadrolfs.

[2015-09-24 19:17] iwehrman commented on #2565
Fixed by #2576.

[2015-09-24 19:17] #2565 closed

[2015-09-24 19:52] volfied commented on #1844
Re-opening this. @chadrolfs I've reverted my change and scrubby zoom is back.

Please refer to this techdoc from 10 years ago for the possible fixes.

If it's still performance wise bad, please let us know and Jesper will look into it.

http://www.adobe.com/support/techdocs/331723.html

[2015-09-24 19:53] #1844 closed

[2015-09-24 19:53] volfied commented on #1845
Re-opening this. @chadrolfs I've reverted my change and scrubby zoom is back.

Please refer to this techdoc from 10 years ago for the possible fixes.

If it's still performance wise bad, please let us know and Jesper will look into it.

http://www.adobe.com/support/techdocs/331723.html

[2015-09-24 19:57] chadrolfs commented on #2559
@shaoshing is this fixed?  Looks like the other 2 related bugs are so just wondering.  I'll test after bug scrub to see or if you know, just comment/mark as such.  Thanks.

[2015-09-24 20:02] shaoshing commented on #2559
Hi @chadrolfs , no I didn't do anything :), and I cannot reproduce it with latest master either. I do see the exception was coming from the number input component via the log. However I am unable to tell which panel the input is in, as the log is truncated.

[2015-09-24 20:06] chadrolfs commented on #2513
assign to Barkin if still occurring.

[2015-09-24 20:08] chadrolfs commented on #2525
`mixed` is suspect.

[2015-09-24 20:10] chadrolfs commented on #2530
Should not be case sensitive sorted (like classic PS)

[2015-09-24 20:15] #2540 closed

[2015-09-24 20:19] chadrolfs commented on #2552
find the dupe.

[2015-09-24 20:23] chadrolfs commented on #2557
should have an ellipsis (...)

[2015-09-24 20:27] chadrolfs commented on #2560
remove or change position of triangle if repositioned from default?

[2015-09-24 20:31] iwehrman commented on #2564
Still happening:
![image](https://cloud.githubusercontent.com/assets/1075154/10085946/9b964060-62c0-11e5-88be-44ce1940d868.png)

[2015-09-24 20:32] mcilroyc commented on #2563
After a quick check, this does seem to be fixed.

[2015-09-24 20:37] chadrolfs commented on #2574
@placegraphichere do you have an interface solution for this?

[2015-09-24 20:42] placegraphichere commented on #2574
We could add an additional message for this scenario in ExportPanel.jsx at line 192 where we can check for multiple assets with mismatched exports and give a new string warning under something like: EXPORT.EXPORT_MIXED = "Selection has mixed export settings".

[2015-09-24 21:02] volfied opened #2615 "Double clicking to edit missing library smart objects causes error"
1 - Create a graphic element
2 - Place graphic element in image
3 - Delete the graphic element from the library
4 - Double click the graphic element layer in the image to edit

Result:
[code]

[2015-09-24 21:04] chadrolfs opened #2616 "Undo Redo is slower when holding down keys to repeat vs. manually hitting keys over and over"
Slower: hold down cmd/ctrl + z (or shift + cmd/ctrl + z) to repeatedly undo/redo
Faster: manually hit cmd/ctrl + z (or shift + cmd/ctrl + z) to repeatedly undo/redo

[2015-09-24 21:11] chadrolfs opened #2617 "Uncaught TypeError: after duplicating a layer and selecting all"
New doc
create a shape or text layer
set active tool to Select
hold down alt/opt and drag layer to duplicate
cmd/ctrl + a to select all

Result: `Uncaught TypeError: Cannot read property 'get' of undefined`

bad things happen after that

[2015-09-24 21:12] chadrolfs commented on #2559
I'll take another look, thanks.

[2015-09-24 21:21] chadrolfs commented on #2510
Didn't realize it was the same bug, but was able to repro.  See #2617 for steps.

[2015-09-24 21:23] chadrolfs commented on #2617
Dupe of #2510

[2015-09-24 21:23] #2617 closed

[2015-09-24 21:26] volfied commented on #1990
Grabbing this since I'm fixing it for all linked smart objects with broken links as well

[2015-09-24 21:27] chadrolfs commented on #2599
Happens in classic PS the same for all smart objects (Placed, Linked, Cloud).  Probably as designed.  If you think this needs to be fixed, please write up a Watson bug, otherwise go ahead and close this.

[2015-09-24 21:29] iwehrman commented on #2599
I wonder if this is happening some times but not others... There has been confusion about this before. It's possible that the behavior changed in standard PS fairly recently?

[2015-09-24 21:32] #2594 closed

[2015-09-24 21:34] iwehrman commented on #2593
Over to @chadrolfs to verify.

[2015-09-24 21:38] chadrolfs opened #2620 "Doc titles no longer squish or take expanded focus when selected or moused over."
![screen shot 2015-09-24 at 2 36 44 pm](https://cloud.githubusercontent.com/assets/8442631/10087628/e3215088-62c9-11e5-8007-8a0aba2796fb.png)

[2015-09-24 21:40] chadrolfs commented on #2620
doc titles are hidden and extended under panel and beyond app frame.

[2015-09-24 21:46] davealonzo opened #2621 "Can't read text while renaming a library asset"
<img width="419" alt="screen shot 2015-09-24 at 2 37 27 pm" src="https://cloud.githubusercontent.com/assets/12259315/10087794/0dd38660-62cb-11e5-8c8a-d4ab6d142c69.png">

[2015-09-24 21:48] davealonzo commented on #2547
I would suggest to ignore double-click to edit for now until we can get better support for messaging in the UI and for editing such file types.

Also, I asked Bradee if Ps plans on supporting editing SVGs from libraries. She said they will be in November. I am inquiring more about what they're up to.

[2015-09-24 21:54] fzhu1978 opened #2622 "Design Space: DS panel has no response after switch from Standard Photoshop to Design Preview workspace."
Watson bug: 4062280.
Problem: DS panel has no response after switch from Standard Photoshop to Design Preview workspace.  It blocks Design Space on French German Japanese build on windows.

Method:
1. Launch PS 20150918.m.231 build on DEU Win 8.1 64-bit OS.
2. Check "Enable Design Space" in preference dialog.
3. Open DS UI from Windows-> Workspace-> Design Space(Preview).
4. DS worksapce display,

[2015-09-24 21:59] volfied commented on #2622
@ktaki can you reproduce this and get us a console output?

[2015-09-24 22:22] volfied commented on #2505
@placegraphichere can you confirm the fix with Ian's reproduce steps.

[2015-09-24 22:23] volfied commented on #1888
@chadrolfs please confirm the fix.

[2015-09-24 22:35] iwehrman commented on #2505
Kicking this over to @chadrolfs for verification.

[2015-09-24 22:45] ktaki commented on #2622
Here it is.

![error_ds_japanese_win](https://cloud.githubusercontent.com/assets/2029597/10088911/30467a92-62d3-11e5-8327-dce39dd91572.png)

[2015-09-24 22:53] ktaki commented on #2622
For Japanese, fixing MINIMIZE cleared the issue. Will check for French and German.

[2015-09-24 22:59] volfied commented on #2622
Our check is for keyChar length, is this because the shortcuts in the other languages are unicode and we consider their lengths to be more than 1. @iwehrman any input?

[2015-09-24 23:04] ktaki commented on #2622
German had an extra space before m as in " m" for MINIMIZE. Deleting the space cleared the issue. French did not have the issues.

[2015-09-24 23:05] volfied commented on #2622
What issue did Japanese have? Was it space before the character as well?

On Thu, Sep 24, 2015 at 4:04 PM, ktaki <notifications@github.com> wrote:

[2015-09-24 23:07] ktaki commented on #2622
Somehow the entry was made as "分" (minutes). Wrong translation. Since this is a keyboard shortcut (right?), no translation is necessary for the most of the cases.

[2015-09-24 23:12] ktaki commented on #2622
One more thing. Why was this affected Windows only? I see the same translation on Mac, but Mac worked fine.

[2015-09-24 23:20] volfied commented on #2622
Because we keep win and mac shortcuts in separate files. It looks like in DE and JA shortcuts those had a space before them.. @fzhu1978 can you please fix those translations? Shortcuts especially shouldn't be translated.

[2015-09-24 23:23] iwehrman commented on #2622
@volfied It's perfectly fine to remove the single-character check. It was intended to be a sanity check, but I can see how that it may not be appropriate for languages with multi-byte characters.

[2015-09-24 23:26] ktaki commented on #2622
Well, I think without the check, this error could not have been caught. Good to have the checking.

[2015-09-24 23:37] chadrolfs commented on #2559
I can still repro with latest master and latest Jenkins build.  I hit the `Invalid Number` error right after Save before I close it now.

[2015-09-24 23:38] chadrolfs commented on #2559
and if I try to undo (after that save), I hit this:
`Action edit.undo failed: Error: Invariant Violation: findComponentRoot(..., .0.4.0.0.1:$481.1.0.0.0.0): Unable to find element. This probably means the DOM was unexpectedly mutated (e.g., by the browser), usually due to forgetting a <tbody> when using tables, nesting tags like <form>, <p>, or <a>, or using non-SVG elements in an <svg> parent. Tr

[2015-09-24 23:41] #2593 closed

[2015-09-24 23:42] fzhu1978 commented on #2622
@volfied  I removed the translation resources for shortcuts, maybe it was changed before I move it. Let me check.

[2015-09-24 23:43] chadrolfs commented on #2563
Yeah, I CNR.

[2015-09-24 23:43] #2563 closed

[2015-09-24 23:44] fzhu1978 commented on #2622
@volfied I see no space before shortcut character for de and ja.  Can you show me an example?

[2015-09-24 23:45] chadrolfs commented on #2552
Dupe of #2417?

[2015-09-24 23:48] chadrolfs commented on #2510
Not fixed. See #2617 for repro steps.

[2015-09-24 23:51] volfied commented on #2622
https://github.com/adobe-photoshop/spaces-design/blob/master/src/nls/de/shortcuts-win.json#L51
https://github.com/adobe-photoshop/spaces-design/blob/master/src/nls/ja/shortcuts-win.json#L51

[2015-09-25 00:02] #2548 closed

[2015-09-25 00:03] #1888 closed

[2015-09-25 00:08] ktaki commented on #2622
Note that " 分" should be corrected to "m".
@volfied We do not have Minimize menu item under Window, do we?

[2015-09-25 00:14] fzhu1978 commented on #2622
@voldied New pull request created: #2628.
I copied English shortcut file to F/G/J.  But, since shortcuts are not going to be translated, we don't process shortcuts files.  How can we get update with English shortcut files?

[2015-09-25 00:35] volfied commented on #2622
@fzhu1978 We update the root files ourselves, best you can do is watch those files for changes in Github, and react to those changes.

[2015-09-25 00:50] iwehrman commented on #2121
FBNC to @ktaki.

[2015-09-25 00:52] iwehrman opened #2629 "Inconsistent subheader styling"
Effects:
![image](https://cloud.githubusercontent.com/assets/1075154/10090502/034b45c4-62e5-11e5-8d11-12425107a9a5.png)

Libraries:
![image](https://cloud.githubusercontent.com/assets/1075154/10090497/fe996ad8-62e4-11e5-8895-8e1af050c9f0.png)

[2015-09-25 14:47] iwehrman opened #2630 "Add iPad Pro artboard preset"
We're waiting on support for this to land in core. It exists in the Cyan sandbox as CL 1044532 and should make it to mainline around 9/30.

[2015-09-25 16:27] chadrolfs commented on #2547
@davealonzo are you saying we should ignore 2x-click on canvas or in layers panel or in CC Lib panel or all of the above (I assume this is for Library assets only, correct)?  What about the Enter key?  Are you saying we should not allow Library asset editing at all?

Disabling this functionality probably affects editing objects/layers in general (shape, text, pixel, embedded smart objects, linked

[2015-09-25 16:53] iwehrman opened #2633 "Export triangle is positioned incorrectly"
Retina only:
![image](https://cloud.githubusercontent.com/assets/1075154/10106734/37ad9ca0-636b-11e5-95c8-c8bf4e8b0f4f.png)

[2015-09-25 18:05] iwehrman commented on #2600
FBNC to @ktaki again!

[2015-09-25 18:52] iwehrman commented on #2555
Are you talking about changing the selected option with the scroll wheel instead of using arrow up/down?

[2015-09-25 18:54] iwehrman commented on #2430
Fixed by #2486.

[2015-09-25 18:54] #2430 closed

[2015-09-25 18:56] iwehrman commented on #2250
I'm not exactly sure what this bug is about. Can you verify that this is still an issue, @placegraphichere and/or @chadrolfs?

[2015-09-25 19:34] iwehrman commented on #2184
Fixed by #2343.

[2015-09-25 19:34] #2184 closed

[2015-09-25 19:39] iwehrman commented on #2316
I can still repro this 100% reliably. @volfied: can you clarify your focus comment above?

[2015-09-25 19:46] iwehrman opened #2639 "Toolbar UI bounds are off by 1px on retina"
![image](https://cloud.githubusercontent.com/assets/1075154/10110649/6cfd80ce-6383-11e5-9702-429392ccdc08.png)

[2015-09-25 19:46] ktaki commented on #2555
Yes. Why not?

[2015-09-25 19:50] iwehrman opened #2640 "Clicking in guide zone should not create a guide"
If you click in a guide zone, it creates a guide and drops it inside the guide zone. This should be disallowed because it's very easy to accidentally create guides here when trying to grab a new guide from the zone. The desired behavior here:

1. If you drop an existing guide in the guide zone, it should delete the guide.
2. If you drop a fresh guide in the guide zone, it should never be created.

[2015-09-25 20:10] chadrolfs commented on #2510
New doc
create a shape or text layer
set active tool to Select
hold down alt/opt and drag layer to duplicate
cmd/ctrl + a to select all

Result: `Uncaught TypeError: Cannot read property 'get' of undefined`