[2015-10-16 21:43] #1529 closed

[2015-10-16 22:13] jsbache commented on #2986
This is not a core problem (as far as I can see). Javascript sets keyboard propagation *mode* to 3 (focus) and this means that the "f" key is sent to PS when the canvas (or any other non HTML UI) has keyboard focus. I don't see this problem in perforce HTML, so I assume that this is related to a recent HTML change

[2015-10-16 22:16] chadrolfs commented on #2670
Bouncing:

*With Select tool: hit m to enter mask mode, hit Esc (doesn't exit), hit Esc again then it exits*
With Rect and Ellipse tool: m to enter, hit Esc exits (as expected)
*With Pen tool: m to enter, Esc does not work to exit no matter how many times you hit it (related to #2988?)*
With Type and Sampler tool: you can't enter mask mode (as expected)

[2015-10-16 22:28] #2316 closed

[2015-10-16 22:30] ktaki commented on #2977
Looks good to me also.

[2015-10-16 22:34] chadrolfs commented on #2977
almost.  Here are two cases where it fails
https://www.dropbox.com/s/m786bwdsmshqt95/Mask-marqueeAnchors.mov?dl=0
https://www.dropbox.com/s/pmvxb8egzzyinqq/Mask-inverted.mov?dl=0

[2015-10-16 22:49] chadrolfs commented on #2538
I was going to bounce this because with the test file from Zorana, i can still get into a state where this doesn't work but that's only because it was saved in that state from a previous build where this was broken.  You won't be able to get into this state with files created/saved from here forward (optimistically).

Brilliant!

[2015-10-16 22:49] #2538 closed

[2015-10-16 22:50] #2650 closed

[2015-10-16 23:00] chadrolfs commented on #1680
Core bug deferred.  Moving to M4

[2015-10-16 23:02] ktaki commented on #948
Verified the fix.

[2015-10-16 23:02] #948 closed

[2015-10-17 02:32] tiburbage commented on #2986
https://watsonexp.corp.adobe.com/#bug=4075279 Closed/Withdrawn/NotThisProduct

[2015-10-17 02:45] ktaki opened #2996 "UI elements become unresponsive after working with vector mask mode"
1. Open an image doc
2. Select superselect tool
3. Enter vector mask mode
4. Select rectangle tool
5. Select superselect tool
6. Select rectangle tool
7. Click on ellipse tool
RESULT: Cursor becomes a Cross when mouse down. Unable to select ellipse tool. At this point, you cannot select any UI elements including tool icons on toolbar, document names and icons on the doc bar, or those on the panels

[2015-10-17 12:50] pineapplespatula commented on #2996
@ktaki  i'm not seeing this happen in the branch jecohen/vectorMaskPolicies3. Can you verify that?

[2015-10-17 13:22] pineapplespatula commented on #2977
The inverted case we may not be able to do anything about, the path tools draw xor paths without modifier keys after the first path. and when you remove the first path drawn it can appear like a subtraction. we may be able to make them default to add, but i'm not sure. ( a workaround is holding down shift before drawing a path)

[2015-10-17 13:24] pineapplespatula commented on #2977
also i cannot reproduce the first video can you provide more steps?

[2015-10-17 16:37] iwehrman commented on #2956
FBNC to @ktaki.

[2015-10-17 17:24] ktaki commented on #2996
@pineapplespatula You are right. It does not happen with jecohen/vectorMaskPolicies3. Good!

[2015-10-17 19:45] iwehrman opened #2998 "Proportional resize doesn't work"
Attempting to drag a layer's corner anchor point while holding the shift key for a proportional resize instead results in a marquee select operation.

[2015-10-17 22:37] iwehrman commented on #2928
Artboard names are forced on as of CL 1048641 (Mac pgdev.794), so I'm marking this FBNC. If we want, we should open a different bug about the behavior of the behavior of select clicking on empty artboard backgrounds. Over to @ktaki and/or open a different issue.

[2015-10-17 22:49] iwehrman commented on #2944
@shaoshing So do you think that this is not a bug? If so, please feel free to either close or suggest an alternate design.

[2015-10-17 22:52] iwehrman commented on #2773
This would be just additional entries in the "Settings" datalist:
![image](https://cloud.githubusercontent.com/assets/1075154/10561639/cd5311ac-74f7-11e5-8989-6f6912894da5.png)

I think if this is straightforward to do technically (and it seems like it should be) that this is important to add for M3.

[2015-10-17 22:53] iwehrman commented on #2773
Next step is to pick a few additional file type-settings pairs. Hopefully @placegraphichere can help with this.

[2015-10-17 22:54] iwehrman commented on #1675
I don't think there's anything we can do for this in the short term, so punting to M4.

[2015-10-17 22:57] iwehrman commented on #590
FBNC to @chadrolfs. Note that the true bug is not "should center to selection" but actually "should not jump around crazily." There are some additional notes in the Watson bug.

[2015-10-17 22:57] iwehrman commented on #1670
The above comment still holds, but @jsbache and I agreed to defer this until after M3 because the likelihood of occurrence is fairly low.

[2015-10-17 22:58] iwehrman commented on #1670
@tiburbage Can you file a v1.2 Watson bug for this?

[2015-10-17 22:59] iwehrman commented on #1319
Fixed by #2985, I believe. FBNC to @ktaki to verify.

[2015-10-18 18:36] iwehrman commented on #2850
Over to @chadrolfs to verify.

[2015-10-18 18:44] iwehrman commented on #2971
I just pushed a small fix for this directly to master at 7564a4ce100a10219ba3cc42de93551d17cdcc5b. FBNC to @chadrolfs.

[2015-10-18 18:50] iwehrman opened #3003 "Shape opacity isn't set via color input"
1. Create a rectangle.
2. Open the fill or stroke color picker.
3. Paste in `rgba(128, 128, 200, 0.1)`

The shape color changes but the opacity doesn't. The alpha slider does change.

[2015-10-18 18:58] ktaki commented on #2956
Verified the fix on Mac Book Pro and Surface Pro 3.

[2015-10-18 18:58] #2956 closed

[2015-10-18 22:23] iwehrman commented on #2491
This is a fairly big change to this component, so I'm kicking this bug out of M3.

[2015-10-18 22:24] iwehrman commented on #1380
I believe this is essentially FBNC. Over to @chadrolfs to verify.

[2015-10-18 22:32] iwehrman commented on #2273
The console error is really more of a warning w.r.t. Design Space at this point, and since we can't fully predict Generator errors I don't think this is really a bug. However, I agree with @mcilroyc's wish to extend `isEmptyGroup` to recursively check for empty subgroups. I also agree this isn't worth trying to do for M3, so I'm kicking it to M4.

[2015-10-18 22:33] iwehrman commented on #2183
There's no way this is happening for M3 due to extreme complexity.

[2015-10-18 22:40] iwehrman commented on #1538
Great error message, too:

    Photoshop message: error: -1 message: Could not complete the command because none of the pixels
    in the target layer are more than 50% opaque.

[2015-10-18 22:51] iwehrman commented on #2273
Actually, can't you just do `bounds = document.layers.childBounds(layer); empty = !bounds || bounds.empty`? That's recursive as all get-out.

[2015-10-18 22:58] iwehrman commented on #2893
FBNC to @ktaki.

[2015-10-18 22:58] iwehrman commented on #2892
FBNC to @ktaki.

[2015-10-18 23:00] iwehrman commented on #2941
FBNC to @chadrolfs .

[2015-10-18 23:09] iwehrman commented on #2670
Back to @chadrolfs to verify.

[2015-10-18 23:11] iwehrman commented on #2811
I can't repro this any longer, but I'm not sure why because that Watson bug hasn't budged...

[2015-10-18 23:22] iwehrman opened #3008 "Color overlays subheader is the wrong color"
![image](https://cloud.githubusercontent.com/assets/1075154/10567287/1988a91a-75c5-11e5-9f7b-aa2de9b22286.png)

CC @DivyaPrabhakar

[2015-10-18 23:44] ktaki commented on #1319
This is fixed when Show English Font Names is on. This, however, still happens when the option is turned off and font names are shown in native languages. Try with Myriad Arabic and Myriad hebrew.

[2015-10-18 23:52] ktaki commented on #2892
Verified the fix.

[2015-10-18 23:52] #2892 closed

[2015-10-18 23:52] ktaki commented on #2893
Verified the fix.

[2015-10-18 23:52] #2893 closed

[2015-10-19 00:51] shaoshing opened #3010 "Create new layer by using the pen tool result in error"
1. select pen tool
2. click on cavas to place a new path
3. error raised: base element not found (if you don't see the error, try cmd+z and repeat step 2)

![pen](https://cloud.githubusercontent.com/assets/118264/10567723/bc1f24ba-75c0-11e5-922b-e48232ac21c4.gif)

[2015-10-19 15:57] mcilroyc commented on #2754
Just confirming what Ian said while I'm addressing related bugs: the behavior described here is at least acting consistently and our model/bounds/UI seem to be in sync with PS.  In other words, I agree this is deferrable.

[2015-10-19 16:40] chadrolfs commented on #1670
No need @tiburbage there's already a watson bug for this (see above) and Jesper has already moved it to 1.2.

[2015-10-19 16:44] chadrolfs commented on #2928
Just make sure that when returning to classic PS, that whatever the setting was previous to entering DS, that it is restored.

[2015-10-19 16:52] ktaki commented on #2448
This fails at every other try.
1. Collapse Effects panel
2. Click on '+' and select an effect
3. Effects panel expands, but collapses quickly.
4. Click on '+' and select an effect
5. This time, the effects panel expand and stay as expanded.

1 ~ 5 will repeat. So, if you do it again:
6. Collapse Effects panel again
7. Click on '+' and select an effect
8. Again, the effects panel expands, but colla

[2015-10-19 16:55] DivyaPrabhakar commented on #1648
@chadrolfs This can be M3

[2015-10-19 17:51] fzhu1978 opened #3013 "SDL: DE-DE: Arrange menu: several shortcuts are not easily accessible on a German keyboard"
Watson bug:
https://watsonexp.corp.adobe.com/#bug=4075062

Problem: Arrange menu: several shortcuts are not easily accessible on a German keyboard

Method:
1. Check the strings under Arrange menu on Design Space Preview.

Result:
The following shortcuts are not easily accessible on a German keyboard:
/ (requires pressing Shift+7 on a German keyboard)
[ (requires pressing Alt Gr + 8 on a German key

[2015-10-19 17:57] fzhu1978 commented on #3013
I almost forgot why I remove shortcuts file from ALF.  Seems I should introduce shortcut files in to keep on the latest version with en_US, and can localized the shortcuts.

[2015-10-19 18:01] shaoshing commented on #2714
@chadrolfs I've verified the fix, but can you help double check?

[2015-10-19 18:03] shaoshing commented on #1538
Assign to Chad as this has his signature :D

[2015-10-19 18:12] fzhu1978 commented on #3013
Last time translator translated a shortcut to localized character.  Can I imported these file to ALF for customization purpose?  That means we will not send out this file to translate, just aim at changing some keyboards shortcut for some languages.

[2015-10-19 18:31] shaoshing commented on #2944
I am going to close this as the tooltip is correct, and I will create another issue with UI label to find a better wording to avoid the confusion.

[2015-10-19 18:33] chadrolfs opened #3014 "On-canvas transform and anchor points UI flashes/flickers adjusting a Rect's radius"
cmd/ctrl + n
r for rect tool
drag a rect shape on canvas
adjust Radius slider

Result: on canvas UI flickers.

[2015-10-19 18:34] chadrolfs commented on #3014
happens on mac and win

[2015-10-19 18:34] chadrolfs commented on #3014
does not happen when superselect tool is active unless you are in vector edit mode.

[2015-10-19 18:42] shaoshing commented on #2944
In our current design, the graphic preview has two mouse interactions:

1. drag-n-drop: to add the graphic to canvas
2. double click: to open the graphic in DS and make changes

We added the tooltip `Double click to edit` and `Not editable in this app` for interaction 2, to resolve the problem reported in #2547. However, this seems introduce a new problem that user might confused the tooltip with

[2015-10-19 18:48] pineapplespatula opened #3015 "With focus on a text edit field holding spacebar still can pan the canvas"
![spacebaroddness](https://cloud.githubusercontent.com/assets/1008531/10587710/3fd8ee44-7657-11e5-9968-baf64d98ad29.gif)

I think the expected behavior would be that the edit field loses focus when the canvas is clicked.

[2015-10-19 18:49] pineapplespatula commented on #3015
@chadrolfs Im not sure this is worth fixing for m3. Would you help me prioritize or should we wait for a bug scrub?

[2015-10-19 19:03] placegraphichere commented on #2773
It'd probably be nice to offer some simple options, but since it's in a dropdown, we need to try and keep them tidy.

- PNG [this would be the default]
- PNG 8
- JPG 100%
- JPG 85%
- JPG 75%
- JPG 50%
- JPG 25%
- SVG
- PDF

I've included one setting at 85% since this is usually what I save high quality JPGs at, they tend to come out at a significantly smaller file size than 100% with very few arti

[2015-10-19 19:28] placegraphichere commented on #2944
What about a simple one line, and not to add two? Something like:

`Drag to Canvas. Cannot Edit in This App`

[2015-10-19 20:04] shaoshing commented on #2755
Just encountered this. I can take this if we decide to include these attributes.

[2015-10-19 20:08] chadrolfs opened #3016 "Sampling from a layer with one effect to a layer with multiple effects of the same type only replaces the 1st one"
Create layer A with a drop shadow and 2 strokes
Create layer B with one stroke
Target layer A
select the Sampler tool
mouse over layer B, hit Space, and click on FX icon

Result: drop shadow is removed, the top stroke is replaced with the sampled stroke, and the 2nd stroke remains.

Expect: FX from layer B replace FX on layer A

[2015-10-19 20:16] chadrolfs commented on #2755
Do it!

[2015-10-19 20:19] chadrolfs commented on #3015
I noticed this too.  It's a little weird but nothing bad happens.  I'll put it in M3 low and we can boot to M4 at bug scrub if it doesn't get addressed by then.

[2015-10-19 20:23] chadrolfs opened #3017 "Cursor shouldn't change on with ctrl modifer"
with any tool selected, mouse over canvas and hold down ctrl key

Result: cursor changes to indicate context menu on click (but there aren't any).

[2015-10-19 20:37] ktaki opened #3018 "Artboard name disappears when clicked, just once after switched from Standard Ps"
Hi DPI only. A minor issue with forcing artboard name appear. When mouse-down on the name for dragging artboard, the name disappears. Subsequent mouse-up will show the title. This seems happens only once when switched from standard Ps and artboard documents are already open at that time.

Open an artboard doc.
Uncheck View > Show > Artboard names
Switch to DS
Click on the artboard name for drag.
T

[2015-10-19 20:38] shaoshing opened #3019 "Unable to change position from the transform panel when a layer is locked"
Changing the X / Y does not update the layer's positon.

[2015-10-19 20:39] iwehrman commented on #3014
It looks like we're getting historyStateNotifications when we shouldn't be? Here's what I'm seeing:
[code]

[2015-10-19 20:49] chadrolfs opened #3020 "Copy/Paste text on canvas in Type edit mode fails"
create a type layer
(in edit mode) copy some of the on-canvas text (cmd + c), paste (cmd + v)

Result: paste fails
`Transfer from policy.suspendAllPolicies to policy.suspendPolicies failed: Error: Policies are already suspended`

[2015-10-19 20:49] chadrolfs commented on #3020
![screen shot 2015-10-19 at 1 46 15 pm](https://cloud.githubusercontent.com/assets/8442631/10590910/3d072db4-7668-11e5-95ba-93df789103f5.png)

[2015-10-19 21:02] ktaki commented on #2996
Verified the fix.

[2015-10-19 21:02] #2996 closed

[2015-10-19 21:19] chadrolfs opened #3021 "Last Shift + Tab should deselect W"
create a rect on canvas
click in H transform field
arrow up (verify value increments correctly)
Shift + tab to go to W
arrow up (verify value increments correctly)
Shift + tab again
arrow up

Result: shape moves on canvas but the value in W field is still highlighted indicating it's selected.

[2015-10-19 21:29] ktaki commented on #2928
Opened a new issue #3018 for a minor problem found during the testing. Closing this issue. The issue of artboard selection by mouse click will be revisited later if necessary.

[2015-10-19 21:29] #2928 closed

[2015-10-19 21:50] iwehrman commented on #3020
This will be addressed by #2965.

[2015-10-19 21:51] #1538 closed

[2015-10-19 21:54] chadrolfs opened #3022 "Transform > Rotate 180/Right/Left on an empty layer results in error"
cmd/ctrl + n (by default empty layer is selected)
Layer > Transform > Rotate 180/Right/Left

Result:  `Transfer from transform.rotateLayersInCurrentDocument to transform.rotate failed: Error: Photoshop returned an error when playing command number: 1 Photoshop code: -1 Photoshop message: error: -1 message: Could not complete the command because the initial bounding rectangle is empty.`

[2015-10-19 21:56] iwehrman commented on #2988
FBNC 2 @chadrolfs

[2015-10-19 21:56] chadrolfs commented on #3022
Same thing happens on an empty group

[2015-10-19 21:58] #2986 closed

[2015-10-19 22:00] iwehrman commented on #3008
LGTM. Fixed by #3012.

[2015-10-19 22:00] #3008 closed

[2015-10-19 22:00] #2984 closed

[2015-10-19 22:02] #2971 closed

[2015-10-19 22:05] #2850 closed

[2015-10-19 22:12] chadrolfs opened #3023 "Undo does not update layer icon after applying a mask"
Open a doc that has a layer you can apply a mask to
select it, hit m, hit r and drag out a rect mask, hit m again to exit mask mode
cmd/ctrl + z to undo

Result: mask is removed but layer icon still shows it has a mask.  If you undo again, it is then updated.
(too many history states?)

[2015-10-19 22:16] #2941 closed

[2015-10-19 22:37] chadrolfs commented on #590
related to #1941

[2015-10-19 22:40] #590 closed

[2015-10-19 22:46] iwehrman commented on #3013
@fzhu1978 Yes! As long as all the changes to the shortcuts files are chosen carefully and intentionally, this is perfectly fine. If you'd like to chat with our designer @placegraphichere about this, you can reach him at `sewalker at adobe.com`.

[2015-10-19 22:47] chadrolfs commented on #2648
As of pgdev.799 (mac), I still see transform issue in DS; I can’t rotate or transform.  In classic, I can though.

[2015-10-19 22:51] iwehrman commented on #2944
I think that would be great. Unfortunately we would have to make a blood sacrifice to get that change into M3. :goat: :hocho:

[2015-10-19 22:53] chadrolfs commented on #2648
new comments in watson bug.  is there something we need to do on our side since this is fixed in classic PS?

[2015-10-19 22:59] #2974 closed

[2015-10-19 23:05] tiburbage commented on #2640
I have also run into this and was going to log a bug. In some cases, this results in an "orphaned" guide you can't get at again to move or delete.

[2015-10-19 23:18] #2545 closed

[2015-10-19 23:58] chadrolfs commented on #2670
Looks good to me.  @ktaki wanna take a look and then close if you agree?

[2015-10-20 00:04] placegraphichere commented on #3013
German for:
Move target layer down up— WIN: Ctrl + # or ä, MAC: Command + # or ä
Move layer to bottom or upward— WIN: Ctrl + Shift + # or ä, MAC: Command + Shift + # or ä
Fixed transparency for target layer, or last applied lock on / off— WIN: ß, MAC: ß

German here:
https://helpx.adobe.com/de/photoshop/using/default-keyboard-shortcuts.html

English here:
https://helpx.adobe.com/photoshop/using/de

[2015-10-20 00:08] fzhu1978 commented on #3013
Thanks Seth!

Our linguist QE suggested changes like yours, I will fix it in ALF.

From: Seth Walker <notifications@github.com<mailto:notifications@github.com>>
Reply-To: adobe-photoshop/spaces-design <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, October 19, 2015 at 5:04 PM
To: adobe-photoshop/spaces-design <spaces-design@noreply.github.com<mailto:spaces-design@noreply.gith

[2015-10-20 00:19] ktaki commented on #2670
Thanks @chadrolfs. Yap! Works great. Closing.

[2015-10-20 00:19] #2670 closed

[2015-10-20 00:21] jsbache commented on #3014
CL: 1048932 implements a core change where we ensure that overlay views are updated before we perform an immediate draw

[2015-10-20 01:12] jsbache commented on #2973
How about using the color that is selected in the HUD color picker. When the color changes the following notification is sent:
_spaces.ps.descriptor.play("set", {"null":{"_property":"foregroundColor","_ref":"color"},"source":"colorPickerHUD","to":{"_obj":"RGBColor","blue":189,"grain":0,"red":173}}, {}, function () {})

[2015-10-20 16:04] designedbyscience commented on #2795
Over for verification

[2015-10-20 16:06] iwehrman commented on #3014
Over to @chadrolfs to verify.

[2015-10-20 16:21] chadrolfs opened #3028 "Error deleting Smart Object during transform"
cmd/ctrl + n
r for Rect tool, drag out a rect to replace empty layer
place any smart object (from Libraries or Embed/Link), hit Enter to place
after placed, click on a transform handle to scale/rotate (enter transform mode)
hit Delete

Result: `Action layers.resetBounds failed: Error: Photoshop returned an error when playing command number: 1 Photoshop code: -25920 Photoshop message: error: -25920

[2015-10-20 16:22] chadrolfs commented on #3028
![screen shot 2015-10-20 at 9 23 31 am](https://cloud.githubusercontent.com/assets/8442631/10613878/14020890-770c-11e5-8d08-c193c1b7e55e.png)

[2015-10-20 16:37] chadrolfs opened #3029 "Shouldn't be able to edit mask when not in mask mode"
Open a test file and target a pixel layer
m to enter mask mode
r for Rect tool and drag out a rect mask
m to exit mask mode
v for Select tool
m to enter mask mode, m to exit mask mode
p for pen tool

Result: now you are able to see the mask anchor points and can edit with the pen tool (add/delete points).

[2015-10-20 16:41] iwehrman commented on #3018
I can't repro with pgdev.806. Maybe @jsbache and/or the recent mainline integration fixed it? Back to @ktaki to verify one way or another.

[2015-10-20 17:00] iwehrman commented on #2795
Yep!

[2015-10-20 17:00] #2795 closed

[2015-10-20 17:07] iwehrman commented on #3013
Fixed by #3025. Over to @ktaki to verify.

[2015-10-20 17:10] iwehrman commented on #2773
Great, thanks @placegraphichere. Bouncing this to @mcilroyc.

[2015-10-20 17:21] #3014 closed

[2015-10-20 17:23] chadrolfs commented on #2988
CNR from step 1 to step 2 bc you can't enter mask mode when a shape layer is targeted.

[2015-10-20 17:26] pineapplespatula commented on #2988
@chadrolfs  @shaoshing  i believe meant draw a rectangular marquee selection with the vector superselect tool

[2015-10-20 17:27] chadrolfs commented on #2648
Here’s what I’m seeing this morning (r.263 on mac, pgdev.788 on win); Scale and Rotate work on initial place in both DS and classic PS.  Subsequent Scale/Rotate (after place) works in PS but not in DS.

[2015-10-20 17:32] fzhu1978 commented on #2571
![jpn_20151016 m 262](https://cloud.githubusercontent.com/assets/11431959/10615627/c29b07a4-7715-11e5-8a93-13bc6dae27dc.png)
Still have issue on Japanese.

[2015-10-20 17:32] DivyaPrabhakar commented on #2571
@iwehrman I'll take this again

[2015-10-20 17:53] ktaki commented on #3018
I still can repro with pgdev.806 and master this morning. It sometimes gets into a state you cannot drag and move artboard, but this is intermittent. Disappearing the name on mouse down is fairly consistent. This does not happen when I tested only with pgdev.806, not with current master.

[2015-10-20 18:03] #2988 closed

[2015-10-20 18:06] ktaki opened #3031 "Vector masks: Path operation icons are dimmed"
The path operation icons (unite, subtract, etc.) are dimmed in vector masks editing mode.

In vector masks editing mode,
Create several ellipse paths that overlaps each other.
Select two paths.
RESULT: Path operation icons are dimmed and not selectable.

[2015-10-20 18:14] chadrolfs commented on #3015
This also happens with other tools
https://www.dropbox.com/s/1ufgoji16joqrkq/FieldFocus.mov?dl=0

[2015-10-20 18:30] chadrolfs opened #3032 "Dragging in a 2nd CLSO before the 1st one is placed results in policy error"
cmd/ctrl + n
drag a library asset onto canvas
repeat

Result: `Transfer from policy.suspendAllPolicies to policy.suspendPolicies failed: Error: Policies are already suspended`

[2015-10-20 18:30] chadrolfs commented on #3032
related to #3020

[2015-10-20 18:31] chadrolfs commented on #3032
![screen shot 2015-10-20 at 11 32 36 am](https://cloud.githubusercontent.com/assets/8442631/10617222/17d802e6-771e-11e5-903e-60c7a0e263e6.png)

[2015-10-20 18:40] chadrolfs opened #3033 "Switching tools in mask mode with multi-layer selection errors"
Open a test file with multiple layers and select two layers
or
cmd/ctrl + n
drag a cc library asset onto canvs
hold shift and click on Layer 1 so that both layers are selected
(by default Select tool is active)
hit m to enter mask mode
hit r to switch to Rect tool

Result: `Action tools.select failed: Error: Photoshop returned an error when playing command number: 1 Photoshop code: -25920 Photosho

[2015-10-20 18:40] chadrolfs commented on #3033
![screen shot 2015-10-20 at 11 41 58 am](https://cloud.githubusercontent.com/assets/8442631/10617433/681fd098-771f-11e5-8082-f7a3ba3170db.png)

[2015-10-20 18:48] placegraphichere opened #3034 "Copying Effects then Undo does not always update canvas"
- create two rects
- add multiple effects to one rect
- select the other rect and use the sampler to copy the effects
- CMD+Z to undo
- Result: Often the effects are not deleted from canvas, but nothing is in panel
- *Interestingly, if you save and reopen the doc, the effects will still be there.*

Example:
https://www.dropbox.com/s/93wd0bq4iv5ph80/undo-not-removing-canvas-effects.mov?dl=0

dev806

[2015-10-20 18:49] chadrolfs commented on #2998
I'll take this.

[2015-10-20 18:50] chadrolfs commented on #3003
you need to fix bugs, not verify fixes.  :)

[2015-10-20 18:53] placegraphichere commented on #3034
Continuing to undo will finally get you results, but it seems incorrect that one action does not equal one undo step.

[2015-10-20 20:16] jsbache commented on #3014
Fix hass been promoted to staging in CL: 1049124

[2015-10-20 21:04] #3003 closed

[2015-10-20 21:06] #2998 closed

[2015-10-20 21:11] chadrolfs opened #3040 "Revert should exit mask mode"
open a saved doc,
target a pixel layer, hit m to enter mask mode
r for Rect tool and drag out a rect mask
hit F12 or File > Revert
drag out another rect

Result: F12/Revert does not exit Mask Mode and rects are now created as paths instead of shapes

[2015-10-20 21:14] chadrolfs commented on #2977
Yeah, CNR first case now.  Once you click outside the masks, it now selects all instead of deselecting.

[2015-10-20 21:20] chadrolfs opened #3042 "Deleting multiple masks in mask mode, exits mask mode"
open a saved image and target a pixel layer
hit m to enter mask mode
r for Rect tool and drag out several rect mask
hit a for direct select tool
click outside the masks (selects all the masks)
hit delete

Result: mask are deleted as expected but you also exit mask mode (unexpected).

[2015-10-20 21:26] chadrolfs opened #3044 "Deleting first mask in multiple mask situation results in inverted/subtracted mask"
open a saved image and target a pixel layer
hit m to enter mask mode
r for Rect tool and drag out several rect mask
hit a for direct select tool
marquee select the first mask you created
hit delete

Result: mask are now subtract or inverted.

[2015-10-20 21:27] chadrolfs commented on #3044
https://www.dropbox.com/s/pmvxb8egzzyinqq/Mask-inverted.mov?dl=0

[2015-10-20 21:27] chadrolfs commented on #2977
Closing this, created #3044 for that specific case.

[2015-10-20 21:27] #2977 closed

[2015-10-20 21:33] chadrolfs commented on #1380
Nope

[2015-10-20 21:53] iwehrman commented on #2915
FBNC to @ktaki.

[2015-10-20 21:54] iwehrman commented on #2831
FBNC to @ktaki.

[2015-10-20 22:08] chadrolfs commented on #3040
Review all menu commands to make sure their safe or not and disable accordingly.

[2015-10-20 22:21] chadrolfs commented on #3019
Shaoshing Lee: I found the cause but not sure how to fix
https://github.com/adobe-photoshop/spaces-design/blob/master/src/js/actions/transform.js#L403

[2015-10-20 22:21] ktaki commented on #3031
If you create a shape layer, then those icons are enabled. Coming back to vector mask editing mode does not disable those icons and they work as expected. So, I think just matter of enabling it in the vector mask mode.

[2015-10-20 22:46] placegraphichere commented on #2442
Adding enhancement as we'll probably need to do some tweaks to the search UI to handle the glut of images and content for this. We'll also need a way to visualize the stock (obviously) which we don't do for anything else in search.

[2015-10-20 23:00] iwehrman commented on #2960
FBNC to @ktaki.

[2015-10-20 23:13] #3021 closed

[2015-10-20 23:14] chadrolfs commented on #3032
#2965 fixes this

[2015-10-20 23:15] chadrolfs commented on #3028
Looks like #2965 fixes this as well!  :tada:

[2015-10-20 23:24] chadrolfs commented on #2648
It appears that #2965 fixes this too!

[2015-10-20 23:25] pineapplespatula commented on #2951
created waston bug https://watsonexp.corp.adobe.com//#bug=4076976

[2015-10-20 23:28] #3032 closed

[2015-10-20 23:28] #3028 closed

[2015-10-20 23:29] #2648 closed

[2015-10-20 23:29] iwehrman commented on #3029
FBNC to @chadrolfs

[2015-10-20 23:30] chadrolfs commented on #2800
don't mind if i do close this.

[2015-10-20 23:30] #2800 closed

[2015-10-20 23:30] iwehrman commented on #2917
FBNC to @ktaki again to text @DivyaPrabhakar's improvements.

[2015-10-20 23:32] iwehrman commented on #2811
FBNC to @chadrolfs. pgdev.800 required.

[2015-10-20 23:33] iwehrman commented on #1380
What's left here?

[2015-10-20 23:33] ktaki commented on #2831
Works much better than before.

Over undoing will result in an error.

Create an artboard doc.
Move the artborad.
Undo
Undo

RESULT: Transfer from edit.undo to history.decrementHistory failed: Error: Photoshop returned an error when playing command number: 1 Photoshop code: -25920 Photoshop message: error: -25920 message: The command “Select” is not currently available.

![screen shot 2015-10-20 a

[2015-10-20 23:39] chadrolfs commented on #3034
Looks like there are multiple history states here.  If you do Update Document after undo, you'll see all the styles re-populate

[2015-10-20 23:43] chadrolfs opened #3049 "copy/paste appearance between two text layers with different opacity will flash the number"
https://cloud.githubusercontent.com/assets/118264/10621526/34bf23ea-7736-11e5-8d10-37ed838fb837.gif

[2015-10-20 23:46] chadrolfs opened #3050 "copy/paste appearance from Rect w/radius to Ellipse flashes Radius on paste"

[2015-10-20 23:46] chadrolfs commented on #3050
![paste-radiusflash](https://cloud.githubusercontent.com/assets/8442631/10624093/2d2ec3e2-774a-11e5-8c19-9034bb2959bd.gif)

[2015-10-20 23:47] ktaki commented on #2831
Creation of artboards towards top or left won't create frame policy issue anymore, but undoing it sometimes shows the issue.

![screen shot 2015-10-20 at 4 38 36 pm](https://cloud.githubusercontent.com/assets/2029597/10624101/39cd55aa-774a-11e5-88e0-84f16a9de423.png)

[2015-10-20 23:47] chadrolfs commented on #3049
Only if there's time and fix is low risk.

[2015-10-20 23:47] chadrolfs commented on #3050
Only if there's time and fix is low risk.

[2015-10-20 23:55] ktaki commented on #3018
https://watsonexp.corp.adobe.com/#bug=4077018

[2015-10-21 00:06] ktaki commented on #2753
https://watsonexp.corp.adobe.com/#bug=4077022

[2015-10-21 00:08] placegraphichere commented on #2314
We're following behavior in Standard Ps Library panels on this. I'm not sure this is an issue unless the Lib team wanted to change the interaction pattern on this, or we really felt strongly this needed to be changed (or improved in some way) for Ds.

The only difference from Standard to Ds is that in Standard they show the foreground color swatch at all times. However, in Ds we do not have a fore

[2015-10-21 00:09] ktaki commented on #2915
Creation of artboards to the top or left of current artboard works. There are still some undo issues that is tracked by #2831.

[2015-10-21 00:09] #2915 closed

[2015-10-21 00:38] ktaki commented on #2917
@DivyaPrabhakar Can you double check the PR #3026 has all the fixes? Here are the test results.

Case | Placeholder Text | Result
------------ | ------------- | -------------
1 missing font | [name of the font] | Pass
2+ missing fonts  | [Mixed Fonts] | [Missing Font]
1 present font 	| name of font | Pass
2+ present fonts  | Mixed Fonts | Pass
1+ missing and present fonts  | [Mixed Fonts] | Mixed

[2015-10-21 00:53] mcilroyc commented on #2831
@ktaki regarding your last two comments:

For the first one, I have found a bug with moving artboards IF it causes a canvas shift; FIP

I can not repro the second one where creating artboard + undo results in bounds issue.  If you can figure out the "sometimes" part of it... any clues appreciated.

[2015-10-21 01:29] tiburbage commented on #2973
https://watsonexp.corp.adobe.com/#bug=4074561 has been verified fixed in staging and closed.

[2015-10-21 01:35] pineapplespatula commented on #3033
I cannot repro this in master. I'm not sure what changed.

[2015-10-21 01:36] pineapplespatula commented on #3033
nevermind.. got it

[2015-10-21 04:11] ktaki commented on #2831
One way to reproduce this is to create many artboards to the left or up, and undo one by one. For example, create 15 artboards to the left of the first artboard.

<img width="1173" alt="screen shot 2015-10-20 at 9 02 03 pm" src="https://cloud.githubusercontent.com/assets/2029597/10627451/712c1c42-776e-11e5-886f-153ef8f15580.png">

Then undo one by one. At some point, you will see something like:

[2015-10-21 06:22] placegraphichere commented on #2773
@mcilroyc I might suggest something like this for suffix on different file types/quality on the same export. It'd be great not to add them *unless* there are multiple files for say jpg or png with everything else matching. But I get the need to perhaps always do it.

PNG - Suffix `none` example `filename@XX.png`
PNG 8 - Suffix `-8` example: `filename@XX-8.png`
JPG 100% - Suffix `none` example: `fi

[2015-10-21 14:41] mcilroyc commented on #2773
@placegraphichere yes, it would increase the complexity quite a bit to determine suffix based on the existence of other assets.  But we can definitely omit the quality portion of the suffix for PNG32 and JPG100.  See #3055

[2015-10-21 15:44] iwehrman commented on #2773
Fixed by #3055.

[2015-10-21 15:44] #2773 closed

[2015-10-21 16:21] chadrolfs opened #3056 "Search > Recent Documents icon is clipped at the bottom"
<img width="407" alt="screen shot 2015-10-21 at 9 19 23 am" src="https://cloud.githubusercontent.com/assets/8442631/10642920/04404218-77d5-11e5-83e9-dfc08c46120f.png">

[2015-10-21 16:21] iwehrman opened #3057 "mergeDeep call in resetBounds is slow, possibly unnecessary"
Here: https://github.com/adobe-photoshop/spaces-design/blob/e9b0ef739a3b864ebd8b9873701c27271c3a15de/src/js/models/layerstructure.js#L1092

In Vermillion, changing a font results in a call to `layers.resetBounds`, and it _seems_ like it's spending ~300ms inside this `mergeDeep` call.

[2015-10-21 16:22] iwehrman commented on #3056
@placegraphichere and/or @designedbyscience: can you take a look at this?

[2015-10-21 16:27] chadrolfs commented on #3056
haven't checked any other icons but they may be clipped too

[2015-10-21 16:37] iwehrman opened #3058 "Support arbitrarily ordered datalists with a comparator prop"
See #3002 for one motivating example.

[2015-10-21 16:41] iwehrman commented on #2530
FBNC to @ktaki

[2015-10-21 16:42] iwehrman commented on #1648
Fixed by #3038.

[2015-10-21 16:42] #1648 closed

[2015-10-21 16:44] iwehrman commented on #2340
FBNC to @ktaki

[2015-10-21 16:50] iwehrman commented on #3033
Back to @chadrolfs to verify.

[2015-10-21 16:54] iwehrman commented on #2951
This may now be fixed with CL 4076976. Over to @chadrolfs to test. (Or @pineapplespatula, if you have the cycles, feel free to close it after testing.)

[2015-10-21 17:00] chadrolfs commented on #1941
Watson deferred, moving to M4

[2015-10-21 17:04] iwehrman opened #3059 "Overlapping controls in Export file chooser"
![image](https://cloud.githubusercontent.com/assets/1075154/10644037/d2946bce-77eb-11e5-8e44-7ecef554f40a.png)

This needs a Watson issue.

[2015-10-21 17:04] DivyaPrabhakar commented on #2571
@fzhu1978 This has be fixed but it is not closed. Passing it back to you so you can verify the fix.

[2015-10-21 17:24] chadrolfs opened #3060 "Sampling graphic from one CLSO to another CLSO takes multiple clicks to apply"
Using "Test - OK to accidentally nuke" library
drag Climber onto canvas, Enter to place
drag needle-fireworks onto canvas, Enter to place
hit i for Sampler
mouse over Climber, hit Space, click on graphic icon (repeat)

Result: it take multiple clicks to apply

[2015-10-21 17:26] chadrolfs opened #3061 "Sampling pixel layers doesn't show graphic icon"
Using "Test - OK to accidentally nuke" library
drag Climber onto canvas with Alt/Opt key
drag needle-fireworks onto canvas with Alt/Opt key
hit i for Sampler
mouse over Climber, hit Space

Result: no graphic icon in HUD

[2015-10-21 17:31] chadrolfs commented on #3060
this also breaks undo which may be a separate bug/issue.

[2015-10-21 17:39] chadrolfs commented on #3059
I CNR, what is the repro case/steps?

[2015-10-21 17:49] #2973 closed

[2015-10-21 17:57] #2314 closed

[2015-10-21 18:01] shaoshing commented on #3010
https://watsonexp.corp.adobe.com/#bug=4077564

[2015-10-21 18:03] shaoshing commented on #3010
When #3011 is merged, we can move this out of M3 and keep track of the status of the watson bug, so that we can remove the work around in DS.

[2015-10-21 18:03] chadrolfs commented on #1380
I think the intention is that whatever color convention you use for a particular object, it should stay with that convention.
Type layer: #ff00cc
Rect: red
Ellipse: rgb(128,200,50)

Currently it is generally sticky in that whatever convention you pick for any given object, that's what is sticky at a global level. So if I create those layers above in order, when I go back and check Rect and Type, t

[2015-10-21 18:11] DivyaPrabhakar commented on #2917
@ktaki Can you verify these?

__2+ missing fonts__ -- I am seeing the correct result where it reads as [Mixed Fonts] (I am using the most recent master and latest build)
![](https://www.dropbox.com/s/vfbh69u9bk7g80t/2%2Bmissing%20fonts.gif?raw=1)

__1+ missing and present fonts__ -- I can verify this one is incorrect. I will change it now.

__1+ missing & all the same font__  -- Again I see the co

[2015-10-21 18:15] pineapplespatula commented on #2951
fixed. thanks @jsbache

[2015-10-21 18:16] #2951 closed

[2015-10-21 18:27] ktaki commented on #2917
Hum. Yes, all look good. Sorry, I must have connected to wrong branch.

[2015-10-21 18:27] #2917 closed

[2015-10-21 18:40] #3033 closed

[2015-10-21 18:43] #3029 closed

[2015-10-21 18:45] chadrolfs opened #3063 "Switching to Pen tool after exiting mask mode flashes mask anchor points"
Open a test file and target a pixel layer
m to enter mask mode
r for Rect tool and drag out a rect mask
m to exit mask mode
v for Select tool
m to enter mask mode, m to exit mask mode
p for pen tool

Result: anchor points for mask flash/blink

[2015-10-21 18:45] chadrolfs commented on #3063
related to #3029

[2015-10-21 18:47] #2811 closed

[2015-10-21 18:49] #2353 closed

[2015-10-21 18:50] ktaki commented on #2530
Verified the fix.

[2015-10-21 18:50] #2530 closed

[2015-10-21 19:05] placegraphichere commented on #3056
I'm not seeing this with dev812. But I am seeing other search issues i'll file. @chadrolfs can you double check or ping me with details?

[2015-10-21 19:07] iwehrman opened #3065 "Can't navigate search results with keyboard"
1. Open Vermilion
2. Cmd-F to search
3. Type "re"
4. Arrow down a few times.

Result:
![img](https://slack-imgs.com/?url=http%3A%2F%2Ff.cl.ly%2Fitems%2F0c2F023m11002G3M3J2t%2FScreen%2520Recording%25202015-10-21%2520at%252002.05%2520PM.gif&width=300&height=250)

[2015-10-21 19:08] placegraphichere commented on #3065
her's my repro too
https://www.dropbox.com/s/x6i8q9qjzlkugib/app-search-typing-arrow-funkiness.mov?dl=0

[2015-10-21 19:12] placegraphichere commented on #3056
Here's what I see on dev 812 for standard and retina:

![screen shot 2015-10-21 at 2 11 09 pm](https://cloud.githubusercontent.com/assets/3229167/10647388/ab7afd70-77fd-11e5-8ecb-ad7ba0e5154b.png)
<img width="563" alt="screen shot 2015-10-21 at 2 11 34 pm" src="https://cloud.githubusercontent.com/assets/3229167/10647387/ab7ad106-77fd-11e5-8f63-5b2c1e3160f1.png">

[2015-10-21 19:13] iwehrman opened #3066 "Re-consider all mergeDeep calls"
The Immutable `mergeDeep` function seems to be a fertile source of both correctness and performance issues. We should do a code-cleanup pass of all our uses of this function to see if they can be replaced with faster, simpler data structure update calls. (See, e.g. #3057.)

[2015-10-21 19:16] placegraphichere commented on #3056
also tried when there are no recent files in the list, as your screen shot showed.
![screen shot 2015-10-21 at 2 15 41 pm](https://cloud.githubusercontent.com/assets/3229167/10647491/50fcc6ca-77fe-11e5-8b9d-bdf050390ae3.png)

[2015-10-21 19:19] mcilroyc commented on #2831
FYI @ktaki I found a minimal set of repro steps for the above issue, and have submitted PR 3067 to address it.

As you said, begin with a new document and start creating artboards to the left.  When you create AB No. 4 it shifts the canvas enough such that creating No 5 will NOT *need* to shift the canvas.  When undoing that fifth AB, there is not an accompanying canvas shift event which is why th

[2015-10-21 19:39] shaoshing commented on #3061
@chadrolfs I can reproduce on a fresh copy (without linking to master) of 812, and after linking (latest master), this seems to be working again. Have you seen this pattern before? Or it is fixed in master?

[2015-10-21 20:06] mcilroyc commented on #3034
FBNC to @chadrolfs for validation

[2015-10-21 20:15] mcilroyc commented on #2831
Back to @ktaki  - both of your recent comments/scenarios should now be resolved.

[2015-10-21 20:19] ktaki opened #3069 "Effects and Export panels should scroll to show newly added effects or assets"

[2015-10-21 20:33] chadrolfs commented on #3061
This repro's for me whether I'm linked to master or not.  I haven't seen this before.  It's broken but the fact that you're seeing different results is interesting.

[2015-10-21 20:34] chadrolfs commented on #3061
pgdev.814 with master @ 668c3b8

[2015-10-21 20:34] chadrolfs commented on #3061
I also tested compiled js

[2015-10-21 20:53] chadrolfs commented on #3056
Some sort of caching issue?  Clipping was corrected once I resized/moved the app window.  Tried to restart with fresh prefs.  CNR now.

[2015-10-21 20:53] #3056 closed

[2015-10-21 20:56] ktaki commented on #2831
@mcilroyc Yes, the issues have been resolved. One question. When the second artboard is created to the left of Artboard 1, why does the X of the Artboard 1 jumps to 1500? I would expect 1024 to be added to the X. Actually, if you move the Artboard 1, then set the X to be 0, and then add Artboard 2 to the left, then X of artboard 1 to be 1024.

[2015-10-21 21:02] chadrolfs commented on #3061
https://www.dropbox.com/s/a7htu9boa3zknjn/HUD-noGraphic.mov?dl=0

[2015-10-21 21:03] ktaki commented on #2448
Verified the fix.

[2015-10-21 21:03] #2448 closed

[2015-10-21 21:04] mcilroyc commented on #2831
I can not explain this behavior @ktaki.  I have to believe it is a core issue/feature though.  It could also have to do with the gutter we put between artboards... or the way in which we're calculating that.

[2015-10-21 21:10] ktaki commented on #2831
OK. Thanks. Closing as fixed.

[2015-10-21 21:10] #2831 closed

[2015-10-21 21:36] chadrolfs commented on #3061
I thought we originally did this but we never did so at this point it's as designed.  Marking for M4 as a feature enhancement.  Current functionality only works on smart objects.

[2015-10-21 21:50] shaoshing commented on #3031
@ktaki can you verify?

[2015-10-21 21:51] designedbyscience commented on #2558
Back to @ktaki for verification

[2015-10-21 22:10] #3034 closed

[2015-10-21 22:19] chadrolfs opened #3072 "Add modifier key + click on trash can icon (or menu item) to delete all effects and export configs"
![screen shot 2015-10-21 at 3 20 16 pm](https://cloud.githubusercontent.com/assets/8442631/10651902/1789f45e-7807-11e5-995e-b28d941e2f97.png)

[2015-10-21 22:35] ktaki commented on #3031
Verified the fix. Thanks!!

[2015-10-21 22:35] #3031 closed

[2015-10-21 22:42] ktaki commented on #2558
Looks good!!

[2015-10-21 22:42] #2558 closed

[2015-10-21 22:42] placegraphichere commented on #3072
Maybe CMD+Click does something like this?

![1789f45e-7807-11e5-995e-b28d941e2f97 png 1x](https://cloud.githubusercontent.com/assets/3229167/10652294/034bec2c-781b-11e5-8108-f0b372656c2f.png)

[2015-10-21 22:46] placegraphichere opened #3075 "Keyboard Arrow Keys Don't Seem to Nudge Shape Points"
- Create Shape
- Double click into it
- select one point
- use arrow keys to nudge
- result: nothing

- Expected: nudging should work

[2015-10-21 22:55] ktaki commented on #2866
Verified the fix.

[2015-10-21 22:55] #2866 closed

[2015-10-21 22:56] iwehrman commented on #3075
Is this a modal state @pineapplespatula / @mcilroyc? We may have suspended policies, which removed our arrow key policies. This could be an easy fix...

[2015-10-21 23:00] iwehrman commented on #1422
FBNC to @chadrolfs.

[2015-10-21 23:01] iwehrman commented on #3010
Over to @chadrolfs to verify.

[2015-10-21 23:08] iwehrman commented on #3040
FBNC to @chadrolfs.

[2015-10-21 23:16] DivyaPrabhakar commented on #3065
@iwehrman the PR addressing this was merged, back to you even though it was already with you.

[2015-10-21 23:19] ktaki opened #3076 "French Intro needs some repositioning of image and sentences"
In French intro screens, images and sentences have been placed too high. Need to center them vertically.

Example:

![screen shot 2015-10-21 at 4 17 15 pm](https://cloud.githubusercontent.com/assets/2029597/10652943/734400e8-780f-11e5-933f-df91e18515a2.png)

[2015-10-21 23:29] #3040 closed

[2015-10-21 23:32] chadrolfs commented on #3010
Work around in place and functioning correctly.  Moving to M4 and removing appropriate labels.

[2015-10-21 23:35] ktaki commented on #2960
Japanese and German lntros look good. Though I cannot tell German translation quality, Japanese translations have been much improved. Thanks to @DivyaPrabhakar and Feng Zhu.

[2015-10-21 23:35] #2960 closed

[2015-10-21 23:37] iwehrman commented on #3016
FBNC to @chadrolfs.

[2015-10-21 23:41] chadrolfs opened #3078 "Error deleting next to last layer with Pen tool"
cmd/ctrl + n
r for Rect tool, drag out a shape
p for Pen tool, draw a closed shape
hit delete

Result: `Transfer from tools.select to layers.deleteSelected failed: Error: Photoshop returned an error when playing command number: 1 Photoshop code: -25920 Photoshop message: error: -25920 message: The command “Delete” is not currently available.`

[2015-10-21 23:42] chadrolfs commented on #3078
related to #3011

[2015-10-21 23:43] chadrolfs commented on #3078
![pendelete-error](https://cloud.githubusercontent.com/assets/8442631/10653278/c96358c2-7812-11e5-9d4b-615491233056.gif)

[2015-10-21 23:46] chadrolfs commented on #1422
Fixed but fix introduced #3078

[2015-10-21 23:46] #1422 closed

[2015-10-21 23:46] shaoshing opened #3079 "Should not respond to menu commands when system dialog is displaying"
When the system dialog is displaying (e.g. open file dialog), DS is still responding and queueing menu commands (similar to #2912, but I think should be a separate issue). Repro:

1. File > Open to show the choose-file dialog
2. File > New (nothing is created)
3. Hit cancel button in the choose-file dialog
4. new document created

step 2 can be any menu commands.

*Reported by Steve Guilhamet*

[2015-10-22 00:10] ktaki commented on #3013
Confirmed that the changes have been made. Some of the changes are working with English keybboard, but others are not. They need to be verified by i18n team.

[2015-10-22 00:12] iwehrman commented on #3078
FBNC to @chadrolfs.

[2015-10-22 00:58] mcilroyc commented on #3022
fbnc2 @chadrolfs

[2015-10-22 15:36] iwehrman commented on #2073
I would still like to clean these messages up, but now that they're `debug` level, they're no longer bothering Russell and only me, so pushing this to M4.

[2015-10-22 16:28] #2808 closed

[2015-10-22 16:41] shaoshing opened #3084 "Sampling LLSO (Library Linked Smart Object) has one extra history state "Relink to Library Graphic""
Watson bug: https://watsonexp.corp.adobe.com/#bug=4077984
Video: https://www.dropbox.com/s/w7456wh35dlbf4p/sampling-graphic.mov?dl=0

This cause:

1. take two undo to restore to the original SO
2. target layer does not reset to the correct bound (beucase the relink happens after the "resetLayer")

[2015-10-22 16:48] shaoshing commented on #3057
@iwehrman confirmed the test result in the PR, so issue closed.

[2015-10-22 16:48] #3057 closed

[2015-10-22 16:59] pineapplespatula commented on #1605
This is a core issue with the hit test we are using. It returns groups to us despite there not being any visible pixels under the pointer location that is sent to the hit test. Filing a core bug

[2015-10-22 17:07] pineapplespatula commented on #1605
https://watsonexp.corp.adobe.com/#bug=4077991

[2015-10-22 17:39] iwehrman opened #3086 "Full-screen menu item seems to have no effect"
`View > Enter Full Screen`

[2015-10-22 17:42] iwehrman commented on #3059
I see it in the Export file chooser on El Capitan.

[2015-10-22 17:46] pineapplespatula opened #3087 "Pen tool cannot edit vector shapes"
the pen tool should be able to add anchors to paths, remove them etc. on active vector masks

is DS currently  the pen tool can only create shapes, butin classic it can do more.

![pen_tool](https://cloud.githubusercontent.com/assets/1008531/10673320/180e92f6-78aa-11e5-9355-4bc99f6619bd.gif)

[2015-10-22 17:55] iwehrman commented on #3086
Actually, it looks like PS is inserting this into our View menu entirely on it's own. That is, Design Space is not adding this menu item to our menu definition. Hence, this is a core bug.

[2015-10-22 17:59] iwehrman commented on #2560
FBNC to @chadrolfs.

[2015-10-22 18:00] iwehrman commented on #3076
FBNC to @ktaki.

[2015-10-22 18:35] iwehrman commented on #2307
I can repro, but it _only_ happens in modal tool state. It just seems like CEF isn't getting the tab event at all. Which is to say, this is another core focus bug for @jfitz-adobe.

[2015-10-22 18:43] iwehrman commented on #2307
[Watson 4078019](https://watsonexp.corp.adobe.com/#bug=4078019)

[2015-10-22 18:45] iwehrman opened #3088 "Swap-panels modifier click doesn't work on Windows"
I tried Ctrl, Win and Alt, but none of them do the right thing.

[2015-10-22 18:47] iwehrman opened #3089 "Can't navigate to all search results on Windows"
1. Ctrl-F to open the search UI
2. Type `re`
3. Arrow key down a few times.

For me, it stops going down on the 7th entry, "Test Reset Failure".

[2015-10-22 18:48] iwehrman commented on #3089
Selecting deeper results works with the mouse though.

[2015-10-22 18:50] iwehrman opened #3090 "Arrow up/down don't work in Zoom number input on Windows"
Typing in a new number and hitting enter works, and other number inputs seem to work fine.

[2015-10-22 19:06] iwehrman commented on #3086
This seems to be a Mac OS 10.11 bug that affects standard Photoshop as well as others like:
atom/electron#3038
https://code.google.com/p/chromium/issues/detail?id=538872

Hence, bumping this to M4 since there's probably nothing that can be done about it for now.

[2015-10-22 19:13] iwehrman commented on #2004
FBNC to @chadrolfs. I tested 3-finger-drag and 2-finger-swipe with success. Note that it ONLY works if the gestures happen on the PS canvas and not on the HTML UI.

[2015-10-22 19:39] iwehrman commented on #3088
Note that, even with a JS patch, this is still unreliable on Win due to [Watson 4078041](https://watsonexp.corp.adobe.com/#bug=4078041).

[2015-10-22 20:28] chadrolfs commented on #2004
ahhhh snap, it's merged now!  It's on!  Cool!

[2015-10-22 20:53] iwehrman commented on #2358
This is as designed. The max value for the slider range is based on the side length of the shape, so a bigger shape will have a bigger range, which means the slider will be further to the left. Life is good!

[2015-10-22 20:53] #2358 closed

[2015-10-22 20:55] mcilroyc commented on #3084
@shaoshing the bounds issue (part 2 in your description) seems to me to be unrelated to the history states.  That is, after I sample the graphic, immediately when I switch to SS tool I see that the bounds are incorrect.
http://cl.ly/212E0320253I

can you confirm this?

[2015-10-22 21:50] chadrolfs commented on #3078
bouncing.  follow the steps above and after the last step, hit delete again.
Result: `Menu command not available: 106`

[2015-10-22 21:54] pineapplespatula opened #3094 "Scrubby sliders should be added to the labels of edit text fields"
there should be a way to modify edit text fields with only mouse input similar to Classic PS widgets

[2015-10-22 21:59] ktaki commented on #2753
The core bug set to 1.2. Making this M4.

[2015-10-22 22:03] iwehrman commented on #3050
FBNC to @chadrolfs.

[2015-10-22 22:07] chadrolfs commented on #1605
core bug deferred, moving to M4

[2015-10-22 22:18] ktaki commented on #3076
Looks good now!

[2015-10-22 22:18] #3076 closed

[2015-10-22 22:19] iwehrman commented on #3078
That is a debug-only warning message. Is the behavior incorrect?

[2015-10-22 22:19] iwehrman commented on #3078
Alternatively: try verifying on a compiled build.

[2015-10-22 22:24] #3065 closed

[2015-10-22 22:28] tomwmcrae commented on #1605
Doing the following:
1. Select the ellipse layer (or the text layer) in the layers panel.
2. On the canvas, try to move the selected item.
results in the image being moved. It's as if the parts of the image that are masked out are still selectable from clicking on the canvas.

[2015-10-22 22:32] chadrolfs commented on #3050
Looks fixed on Win but not on Mac (10.10.5, haven't tried 10.11.1 yet).  pgdev.826 with master @ 35bf347

[2015-10-22 22:32] chadrolfs commented on #3050
![paste-radiusflash2](https://cloud.githubusercontent.com/assets/8442631/10680165/11ff6e58-78d2-11e5-95a0-6b76a07f81ae.gif)

[2015-10-22 22:35] chadrolfs commented on #3078
yep, we're good on compiled and nothing bad happens in debug, just the console error.

[2015-10-22 22:35] #3078 closed

[2015-10-22 22:38] #3022 closed

[2015-10-22 22:40] chadrolfs commented on #2560
yay!  nice work!

[2015-10-22 22:40] #2560 closed

[2015-10-22 22:45] shaoshing commented on #3050
Hmm, that's weird, beucase the fix is produced on MAC. Let me double check.

[2015-10-22 22:54] chadrolfs commented on #3016
:moneybag:

[2015-10-22 22:54] #3016 closed

[2015-10-22 22:57] pineapplespatula commented on #1605
i may have a fix without relying on core

[2015-10-22 23:00] mcilroyc commented on #3088
The engineer has reported this as being partially solved by 3091

[2015-10-22 23:04] iwehrman commented on #3049
FBNC to @chadrolfs.

[2015-10-22 23:10] iwehrman commented on #3088
The @jfitz-adobe has reported that this is fixed by CL 1049772. Over to @ktaki to verify.

[2015-10-22 23:20] iwehrman commented on #2307
@jfitz-adobe reports this as ToTest as of CL 1049774. FBNC to @chadrolfs!

[2015-10-22 23:21] iwehrman commented on #1516
This ain't gonna happen for M3. I regret this, but such is life. C U in M4!

[2015-10-22 23:29] chadrolfs opened #3096 "Tabbing through panel fields eventually blurs focus"
create a shape with a drop shadow effect
enter W field and tab (repeat until the end of the effects fields)

Result: where is focus now?
Expect: round robin, back to the top (W)

[2015-10-23 00:32] iwehrman commented on #2020
Yeah, this is a real bummer, but I think we're out of ideas anyway. Off to M4land!

[2015-10-23 00:44] tiburbage commented on #2753
Watson https://watsonexp.corp.adobe.com/#bug=4077022 has been closed as jfitz asserts that JS code is causing this:
2) DesignSpace will incorrectly call _spaces.os.keyboardFocus.release() if the user clicks within the ColorPicker itself, after the ColorPicker has opened. The user may do this to click-select a particular color in the color gradient area. After keyboardFocus.release(), modal texttoo

[2015-10-23 04:25] pineapplespatula commented on #2143
@iwehrman did you say you wanted to grab this?

[2015-10-23 15:54] chadrolfs opened #3098 "Super Select: Adjustment layers are skipped when tabbing through layers"
Open or create a file where there is an assortment of layer types (including Adjustment layers) at the same layer level (in a group for example)
Click on one of the layers in the layers panel to target it
(with Select tool) start hitting Tab to cycle through the layers

Result: Adjustment layers are skipped

[2015-10-23 15:54] chadrolfs commented on #3098
as designed?

[2015-10-23 16:21] chadrolfs commented on #3050
restested this morning with latest jenkins build cotaining the updated compiled js and it looks fixed.

[2015-10-23 16:21] #3050 closed

[2015-10-23 16:23] chadrolfs commented on #3050
yesterday was nuts, i might have been on a branch other than master.  I trust myself more this morning.  :stuck_out_tongue_winking_eye:

[2015-10-23 16:36] chadrolfs opened #3100 "Copy/Paste text Appearance doesn't paste the correct Opacity"
![copy-paste-typeappearnce](https://cloud.githubusercontent.com/assets/8442631/10699114/6fd14da2-7969-11e5-980c-b9fef771b76e.gif)

[2015-10-23 16:37] chadrolfs commented on #3100
related to #3092 which fixed #3049 (related)

[2015-10-23 16:37] chadrolfs commented on #3049
no longer flashes, but doesn't copy the correct value.  see #3100

[2015-10-23 16:37] #3049 closed

[2015-10-23 16:38] chadrolfs commented on #3100
Notice, the leading did not paste correctly either.

[2015-10-23 16:40] chadrolfs commented on #3100
After I moved the layers and repeated the copy/paste, the opacity pasted correctly, but not the leading (Letterspacing)

[2015-10-23 16:52] chadrolfs commented on #3100
also related to #2755

[2015-10-23 16:57] #2307 closed

[2015-10-23 17:11] shaoshing commented on #2755
When #3100 is fixed, this should become FNBC

[2015-10-23 18:29] #3060 closed

[2015-10-23 18:31] chadrolfs commented on #3087
...like you can in mask mode

[2015-10-23 18:32] iwehrman commented on #3084
Should we call this FBNC? Or leave it open because we only checked in a superhack? Either way, handing it off to @chadrolfs for testing.

[2015-10-23 18:41] iwehrman opened #3101 "Cloaking rectangle is incorrect after display configuration changes"
I've seen this a few times in the last two weeks, but can't figure out how to repro it. One concrete observation is that it is _always_ off on the right-hand side by a width that seems equivalent to the toolbar or icon bar width:

![img](https://s3.amazonaws.com/f.cl.ly/items/1v3j382D2m1a1c2p1N17/Screen%20Recording%202015-10-23%20at%2011.40%20AM.gif)

[2015-10-23 18:42] chadrolfs opened #3102 "Smart Object scale/rotation should automatically commit like other layers"

[2015-10-23 18:44] iwehrman commented on #3101
In particular, it seems like the iconBarWidth is not being set correctly:
![img](https://s3.amazonaws.com/f.cl.ly/items/2j1a10200Q3r370T1E0z/Image%202015-10-23%20at%2011.43.45%20AM.png)

[2015-10-23 18:48] tomwmcrae commented on #1605
Note, Jesper has a core-side fix (if JS-side fix doesn't pan out). CL: 1049917

[2015-10-23 18:59] #2004 closed

[2015-10-23 19:01] iwehrman commented on #3102
I believe this is a core issue.

[2015-10-23 19:04] chadrolfs commented on #3102
https://watsonexp.corp.adobe.com//#bug=4078696

[2015-10-23 19:17] iwehrman commented on #3100
Marked Fix-in-progress. If that's now the case @shaoshing, lemme know.

[2015-10-23 20:05] #3101 closed

[2015-10-23 20:33] placegraphichere opened #3105 "Exit Mask Mode with Double Click off of layer"
We use double-click to dive into and escape out of point editing mode. So it feels natural to then double click off the layer to fully exit mask mode.

[2015-10-23 20:35] jsbache commented on #3102
This is a difference in UEffect.cpp RunTransformTool
For the SO, we execute DoTransformPlacedCommand
For rectangles we do: sTransformTool().RunTransformTool
Since we are dealing with different tools, this is not a simple fix or omission.
No time to fix for 16.1

[2015-10-23 20:38] placegraphichere opened #3106 "Smart Guides should use visible px of masked layer"
Right now masked layers use the smart guide of the full size of the layer. We should use smart guides on the edge of the mask instead. (might be a core issue)

![screen shot 2015-10-23 at 3 37 07 pm](https://cloud.githubusercontent.com/assets/3229167/10704378/07a9c550-799c-11e5-8fea-83a5268276ae.png)

[2015-10-23 20:39] iwehrman commented on #3105
In vector edit mode, a single click off the object clears the mode.

[2015-10-23 20:39] iwehrman commented on #3106
Definitely a core issue.

[2015-10-23 20:39] iwehrman commented on #3106
Over to @chadrolfs to file at his leisure, since this is clearly M4.

[2015-10-23 20:39] shaoshing opened #3107 "List of issues / suggested chagnes for headlights tracking"
(Feel free to expand the list or re-order)

#### Must Fix

- [x] command-click on the panel icon send
`user-interface > panels-visible > layersLibrary-visible`
should be
`user-interface > panels-visible > none-visible`

- [x] Mouse over blend mode (layer, shadow, color-overlay, etc.) list result in many event logs. Should only emit the final blend mode.

- [x] Clicking the + icon in the export pan

[2015-10-23 20:41] chadrolfs opened #3108 "Re-Sampling after undo of LLSO results in failure"
drag out 2 assets from library onto canvas
select Sampler, mouse over the one not selected and hit Space, click on graphic icon
cmd/ctrl + z to undo
repeat Sample

Result: it doesn't replace and target LLSO changes to an embedded SO
`Action sampler.replaceGraphic failed: Error: Photoshop returned an error when playing command number: 2 Photoshop code: -25920 Photoshop message: error: -25920 messag

[2015-10-23 20:41] chadrolfs commented on #3108
![sampler-so-undo](https://cloud.githubusercontent.com/assets/8442631/10704447/b3a46bdc-798b-11e5-9368-a0c428439ea5.gif)

[2015-10-23 20:41] chadrolfs commented on #3084
this is fixed but it uncovered or resulted in a secondary issue #3108

[2015-10-23 20:41] #3084 closed

[2015-10-23 20:42] placegraphichere commented on #3105
not for me. Here's dev836

https://www.dropbox.com/s/308lml69eutywik/double-click-exit-mask-mode.mov?dl=0

[2015-10-23 20:50] shaoshing commented on #3108
@chadrolfs this is a known issue caused by #3084 (core issue and deferred). The problem here is, when you sample a LLSO, it has two history state:

1. convert LLSO to embeded layer
2. link the layer to the library graphic (which turn it into LLSO)

When you undo, you are undoing step 2, and the layer is in a wrong state. A second undo restore the layer completely.

[2015-10-23 21:08] pineapplespatula opened #3109 "The bounds of the layer that are sampled with the sampler never include the FX of that layer"
If you want to copy a drop shadow, it would seem like you should be able to click on the drop shadow.

instead we get this
![policybounds](https://cloud.githubusercontent.com/assets/1008531/10704971/5f5e43b4-798f-11e5-82a3-cd8fcdbd4ee1.gif)

[2015-10-23 21:14] chadrolfs opened #3110 "Layer highlighting is not working correctly"
Select tool selected
open any saved document (try our fav: Vermillion)
click anywhere outside the artboards to deselect anything that is selected
mouse over canvas objects
Result: nothing is highlighted (note if you choose Edit > Deselect, you'll get top level highlighting)

Hold down cmd/ctrl and mouse over layers
Result: if nothing is selected on canvas, you'll get no scrim highlighting
if you d

[2015-10-23 21:24] ktaki commented on #2340
@mcilroyc Does this timeout occur per export session (i.e, all assets shown in Export dialog) or per an exporting asset? More assets you have, more likely you get timeout?

[2015-10-23 21:30] mcilroyc commented on #2340
@ktaki : This timeout applies individually to each individual asset export call.  If you export two assets A and B, it is possible for B to complete successfully but A to timeout after its 2 minutes are up.

But, since we make all the individual export calls for a "session" as quickly as possible (without waiting for the previous to complete), then it is possible that a session with a lot of asset

[2015-10-23 21:31] placegraphichere opened #3111 "Sampling layer behind a masked group shows incorrect overlay"
This one is kind of hard to describe, but the video shows it pretty clearly.

Trying to sample a layer behind a layer with a large px area but is masked will show the overlay for the large pixel layer, but it will sample correctly. This is just showing the wrong overlay hinting. It works correctly in the end.

![mask-sampler-hittest](https://cloud.githubusercontent.com/assets/3229167/10705445/892c

[2015-10-23 21:33] iwehrman commented on #3110
I'm concerned that this is a core regression. If I create a single shape inside a single group inside an artboard and then hitTest the artboard _not_ in the group/shape bounds, the group is one of the returned hit layers. That doesn't seem right. Can you repro, @jsbache?

[2015-10-23 21:36] ktaki commented on #2340
@mcilroyc I see. I saw cases if you export single asset, it is successful, but with multiple assets, exporting large assets (2x 3x) are failing. Since this operation is asynchronous, what is disadvantages of setting longer timeout vs short one?

[2015-10-23 21:39] shaoshing commented on #3108
When undo to state 1, the layer has the wrong smart object type (was LLSO, but should be ESO) so when you try to sample the graphic again, smapler tries to convert the layer to ESO again and failed.

@mcilroyc do you any suggestion regarding the history state?

[2015-10-23 21:41] chadrolfs commented on #2714
This issue appears to be back.  Repro's intermittently on big moves.  Easier to repro on small drags of AB

[2015-10-23 21:44] mcilroyc commented on #2340
You've seen them take longer than 2 minutes!?

It is not unreasonable to increase the timeout.  As you said, the process is asynchronous.  Because we don't yet provide a "cancel" option, then I was trying to guard against the user being "locked out" of exports for an extended period because of some rogue long-running export.

What is your suggestion for a reasonable timeout value?

[2015-10-23 21:51] iwehrman commented on #2714
Yes, it seems to repro on move but not pan.

[2015-10-23 21:55] ktaki commented on #2340
Good question. It depends of CPU speed and how large the doc and assets are. The same test files and assets are exported successfully on my Mac Book Pro, but some of them failed on Surface Pro 3. We can leave it as 2 minutes for now, but may need to be revisit this after more testing and getting feedback from customers. How do you think?

[2015-10-23 21:59] mcilroyc commented on #2340
Ok, let's leave it at 2 minutes.  Depending on feedback, we can increase it in the future, and/or prioritize related improvements such as providing a cancel option, etc.

[2015-10-23 22:00] iwehrman commented on #3100
FBNC to @chadrolfs.

[2015-10-23 22:00] ktaki opened #3112 "Text for suffix in Export panel appears too low on Surface Pro 3"
<img width="255" alt="screen shot 2015-10-23 at 2 48 29 pm" src="https://cloud.githubusercontent.com/assets/2029597/10705884/5ec064f8-7996-11e5-80d9-bde01674e94f.png">

Is this easy to fix? If yes, then M3. If not M4.

[2015-10-23 22:01] ktaki commented on #2340
Sounds good. Closing.

[2015-10-23 22:01] #2340 closed

[2015-10-23 22:07] shaoshing commented on #3107
- [ ] test more tasks

[2015-10-23 22:09] mcilroyc commented on #3108
@shaoshing at what point does DS's model get updated with the correct smart object type?  If there is a timing issue where we are handling events/plays/history in the wrong order, then I could help sort it out.  If we're not currently getting this info, then we may be hosed.  Either way, I would *personally* call this edge case not a high priority, and a fix will probably be risky.

[2015-10-23 22:21] jsbache commented on #3110
@iwehrman: easy to repro.
This looks like an old bug. Layer sections are being included in the search result without looking at their "bounds". I can repro with the oldest 16.1 build that I could find (09/17)

[2015-10-23 22:29] iwehrman commented on #3112
I can repro his. @placegraphichere: does anything look weird to you in the CSS here? If you have a small, suggested fix, I will test.

[2015-10-23 22:30] iwehrman commented on #3112
This `input` needs `font-size: 1.4rem`, but I'm not sure where to put it.

[2015-10-23 22:40] jsbache commented on #3110
Here is the watson:
https://watsonexp.corp.adobe.com/#bug=4078748
Not for 16.1 (sorry). I am removing the M3 milestone.

[2015-10-23 22:52] ktaki commented on #3088
Ctrl key works now on Windows. Cmd key for Mac.

[2015-10-23 22:52] #3088 closed

[2015-10-23 23:23] iwehrman commented on #2143
I don't think we can take it for M3.

[2015-10-23 23:26] jsbache commented on #2143
I recommend re-assigning to M4. This issue only shows up in debug builds so no end user impact.

[2015-10-23 23:42] ktaki commented on #3112
Verified the fix.

[2015-10-23 23:42] #3112 closed

[2015-10-24 00:09] pineapplespatula commented on #2143
per @jsbache and @iwehrman comments I am moving this to m4

[2015-10-24 00:25] shaoshing opened #3115 "Recent history changes break the opacity slider in the color picker"
Open any color picker, drag the opacity handle and start sliding: receiving errors related to history state id unmatch.

<img width="1028" alt="screen shot 2015-10-23 at 5 24 06 pm" src="https://cloud.githubusercontent.com/assets/118264/10707673/e6d3f4d6-79aa-11e5-89c2-d0612d67a648.png">

As far as I know, the first related commit is from PR #3052, so I assign to @mcilroyc to take a look.

[2015-10-24 03:48] iwehrman commented on #3115
@mcilroyc @shaoshing: I'm not sure if this is actually FBNC based on @mcilroyc's comments in #3116. Assigning back to @shaoshing to work it out with @mcilroyc.

[2015-10-24 03:49] iwehrman opened #3117 "Undo does not reset color picker sliders"
1. Open a color picker.
2. Drag either slider.
3. Cmd-z to undo.

The color change is reversed on canvas and in the swatch in the main panel UI, but the color picker sliders do not update.

Noted in #3116

[2015-10-24 04:23] iwehrman commented on #3117
It works correctly if you just click on a slider to change the color.

[2015-10-24 15:32] iwehrman commented on #3117
CC @designedbyscience in case he has any ideas. I don't think this is related to incorrect history states, just incorrect state dynamics inside `ColorInput`.

[2015-10-24 19:22] ktaki commented on #1605
Verified the fix. Looks good.

[2015-10-24 19:22] #1605 closed

[2015-10-25 15:04] iwehrman commented on #2714
Welp, at this point we've got `scroll` events battling with `autoCanvasShift` events. Each of the former results in an attempt to re-enable the overlays, whereas the latter starts with an attempt to disable the overlays. Currently stumped on this one.

[2015-10-25 15:18] iwehrman commented on #2714
Giving up on this for now :person_frowning: If anyone else wants to take a crack, here's an almost comical branch which includes about 5 separate, failed attempts at hacking around the problem: https://github.com/adobe-photoshop/spaces-design/compare/iwehrman/issue-2714-again

Note that there are at least some obvious bugs fixed in that branch. For example, the debounced `autoCanvasShift` event ha

[2015-10-25 16:11] iwehrman opened #3118 ".jscsrc incompatible with grunt-jscs 2.2 and/or jscs 2.4"
A few hours ago, `grunt-jscs` 2.2.0 was released which incorporates jscs 2.4.0. Our package.json specifies grunt-jscs version `^2.1`, and 2.2.0 is compatible with this, so we were automatically upgraded. Unfortunately, it is clearly not backwards compatible because it triggers many additional errors. In particular it does not seem to like our `disallowTrailingWhitespaceInSource` extension:

[code]

[2015-10-25 16:16] iwehrman commented on #3118
I pushed 170b49ece54798941a823ca0f2b07dd23bb5afef to master to work around this, but I'm leaving this issue open in order to get our .jscsrc file fixed up w.r.t. the new jscs release.

[2015-10-25 16:18] iwehrman commented on #3118
(Also, the adapter jscs version is woefully out of date.)

[2015-10-25 23:44] chadrolfs opened #3121 "Swap fails on doc resolutions > 72"
create a new default photoshop file (res: 300) with a transparent background
drag several images onto canvas
select two
click Swap icon

Result: instead of swap, they move farther apart.

[2015-10-25 23:45] chadrolfs commented on #3121
![swap-fail](https://cloud.githubusercontent.com/assets/8442631/10718785/ba56dade-7b37-11e5-9672-a3e172d97b1b.gif)

[2015-10-26 00:02] iwehrman commented on #3121
Can you try `git bisect`ing this?

[2015-10-26 00:18] iwehrman commented on #3121
This may have had something to do with @volfied's changes to make bounds relative to their containing artboard, or with @DivyaPrabhakar's reference point changes.

[2015-10-26 00:19] iwehrman commented on #3121
I'm suspicious of 7691b2f50edc816fcb94f50f10f45ce26ac2d4ba

[2015-10-26 14:20] iwehrman commented on #3121
It's bad at least as far back as a1114370798a77b0daaacc0ee6357c9ce334de95.

[2015-10-26 14:34] iwehrman commented on #3121
I think this bug has to do with document resolution and not artboards vs non-artboards. It works correctly on 72dpi resolution documents (the default for artboard documents) but not 300dpi resolution documents (the default for non-artboard documents).

[2015-10-26 15:29] chadrolfs commented on #3121
Yes, it's a resolution bug, not specific to artboards.  Amending title.

[2015-10-26 16:01] #2755 closed

[2015-10-26 16:02] mcilroyc commented on #3115
Note: I believe @iwehrman's #3119 further addresses this issue.  The concerns I mentioned in #3116 (invalidating the history cache) seem to be fixed with 3119

[2015-10-26 16:06] #3115 closed

[2015-10-26 16:08] chadrolfs opened #3122 "Copy/Paste text Appearance doesn't paste the correct Size or Linespacing on Res > 72"
cmd/ctrl + alt/opt + n, set Resolution to n > 72 (ex. 150)
create 2 text layers and change all defaults for appearance for one of them
Click on Copy Style icon in Appearance panel
select the other text layer and click on the Paste Style icon

Result: Size and Linespacing don't paste correctly due to resolution dependency

[2015-10-26 16:09] chadrolfs commented on #3122
![copypaste-hires](https://cloud.githubusercontent.com/assets/8442631/10734579/33bf1f60-7bc1-11e5-9c6a-f8c22801ea60.gif)

[2015-10-26 16:09] chadrolfs commented on #3122
related to #3121

[2015-10-26 16:10] #3100 closed

[2015-10-26 16:12] mcilroyc commented on #3117
FBNC - assigning to @chadrolfs for independent review.

[2015-10-26 16:14] chadrolfs commented on #3106
https://watsonexp.corp.adobe.com/#bug=4079322

[2015-10-26 16:27] ktaki commented on #3013
The fix has been verified by i18n team. The bug https://watsonexp.corp.adobe.com/#bug=4075062 has been closed as fixed.

[2015-10-26 16:27] #3013 closed

[2015-10-26 16:28] chadrolfs opened #3123 "Copy/Paste Appearance or using Sampler with multi-run text fails with console errors"
Create a Type layer that is multi-run (contains chars with different Typeface and/or color or size)
Copy Style (appearance panel icon)
create a new type layer
Paste Style

Result: `Action sampler.pasteLayerStyle failed: TypeError: undefined is not a function`

or
Create scenario above and use Sampler tool to sample Typeface
Result: `Action type.applyTextStyle failed: TypeError: undefined is not a

[2015-10-26 17:34] joelrbrandt commented on #3108
Workaround: undo twice!

[2015-10-26 17:50] #3107 closed

[2015-10-26 17:52] chadrolfs commented on #3075
Verified this is fixed.

[2015-10-26 17:52] #3075 closed

[2015-10-26 18:11] chadrolfs commented on #2571
Been sitting in FBNC for a while, @ktaki can you verify and close?  Thanks.

[2015-10-26 18:20] #3117 closed

[2015-10-26 18:22] #3020 closed

[2015-10-26 18:27] chadrolfs opened #3126 "Unable to commit text with Esc or Enter or continue to type after Paste"
create a type layer
(in edit mode) copy some of the on-canvas text (cmd + c), paste (cmd + v)
hit Enter or Esc

Result: Nothing

Workaround: select a different tool or switch focus away from app

[2015-10-26 18:29] chadrolfs commented on #3126
related to fix for #3020

[2015-10-26 18:31] #2989 closed

[2015-10-26 18:53] chadrolfs commented on #3089
CNR.  Fixed or still an issue?

[2015-10-26 18:53] #3089 closed

[2015-10-26 18:57] chadrolfs commented on #3126
it’s actually worse than just Esc/Enter not committing the text
you can’t continue typing as well unless you hit a tool shortcut key

[2015-10-26 19:00] iwehrman commented on #3089
I'm not aware that this was ever fixed.

[2015-10-26 19:21] iwehrman commented on #3126
The fact that something changes when you hit a tool shortcut key means that, somehow, keyboard focus has gone back to CEF even while we're in a tool modal state. This is not how `FOCUS_PROPAGATE` mode is supposed to work. I suspect that this is at least partially a core issue.

[2015-10-26 19:43] tiburbage commented on #3126
I'll got a core bug to sync with this. John will need to investigate. I'm assuming this is a regression, so meanwhile, it will be useful to try to determine when this regression occurred. If you explicitly re-acquire focus after doing a paste, does that improve the outcome?

[2015-10-26 19:52] tiburbage commented on #3126
https://watsonexp.corp.adobe.com/#bug=4079392

[2015-10-26 20:08] chadrolfs opened #3130 "Place fails for 2nd asset when modifier is used"
cmd/ctrl + n
drag a cc library asset onto canvas (don't commit)
drag a 2nd asset onto canvas hold down opt/alt

Result: only 1st asset is placed.  nudge AB will force update the layers panel but will result in
`Action layers.resetIndex failed: Error: Too many layers in layer index`

[2015-10-26 20:08] chadrolfs commented on #3130
![place-error](https://cloud.githubusercontent.com/assets/8442631/10741013/b5b8cf5e-7be2-11e5-970d-4ab8254e60de.gif)

[2015-10-26 20:15] chadrolfs commented on #3130
there is a secondary intermittent issue where you end up with two children with the same key
to try to repro that follow these steps:
cmd/ctrl + n
drag a cc library asset onto canvas (don't commit)
click once in the Lib panel (places 1st asset) then drag a 2nd asset onto canvas hold down opt/alt
select them both
Result: swap is greyed out

![screen shot 2015-10-26 at 1 13 32 pm](https://cloud.gith

[2015-10-26 20:35] chadrolfs opened #3131 "Mixed states don't show correctly"
create two rects with different fill colors
select them both

Result:
![screen shot 2015-10-26 at 1 36 10 pm](https://cloud.githubusercontent.com/assets/8442631/10741714/67b93d44-7be6-11e5-9b15-75c9123e7fd0.png)

Expected:
![screen shot 2015-10-26 at 1 36 32 pm](https://cloud.githubusercontent.com/assets/8442631/10741723/6ebd37a8-7be6-11e5-804e-ca9e4c37c4c2.png)

[2015-10-26 20:40] chadrolfs commented on #3131
81520b749623955e59eca0551574d4b207bdd7fb is the first bad commit
commit 81520b749623955e59eca0551574d4b207bdd7fb
Author: Ian Wehrman <wehrman@adobe.com>
Date:   Sun Oct 25 09:22:28 2015 -0700

    Upon receiving a timetravel event from the history store, re-parse the color props in order to reset the color picker sliders.

[2015-10-26 20:48] #3121 closed

[2015-10-26 20:49] #3123 closed

[2015-10-26 20:50] #3122 closed

[2015-10-26 20:53] iwehrman opened #3132 "Select overlay doesn't highlight siblings on hover"
![img](https://s3.amazonaws.com/f.cl.ly/items/1n1y1M0z2h0N2O470V0z/Screen%20Recording%202015-10-26%20at%2001.52%20PM.gif)

[2015-10-26 20:58] iwehrman opened #3134 "Style copy-paste from vector to type doesn't replace the color"
It works from type color to vector fill color, but not the other way around.

[2015-10-26 20:59] iwehrman commented on #3131
FBNC to @chadrolfs.

[2015-10-26 20:59] chadrolfs commented on #3132
related to #3110

[2015-10-26 21:03] #3131 closed

[2015-10-26 21:12] fzhu1978 opened #3136 "Numbers are not correctly localized"
Waston Bug:
https://watsonexp.corp.adobe.com/#bug=4078212

Problem: The numbers are not correctly localized on Design Space (Preview).

Method:
1. Install PS 20151022.m.268 build on DEU OS.
2 Switch to Design Space (Preview) work space.
3. New a doc and add the shape value.
4. Change the value of the shape properties, check the display of the numbers.

Result: The comma in the numbers display as d

[2015-10-26 21:29] chadrolfs commented on #3089
#3068 didn't resolve this?  re-open if you can still repro.

[2015-10-26 21:58] iwehrman opened #3137 "Exporting assets from a modal tool state fails"
0. Make a text layer, configure at least one asset.
1. Edit the text layer.
2. Click the "export now" button in the export panel:

[code]

[2015-10-26 22:01] iwehrman commented on #3137
Also, for some reason the Export Now button remains disabled after the controller resets. However, this doesn't happen after `Help > Test Action Failure`, which I guess is good news?

[2015-10-26 22:04] jsbache commented on #2571
Not a core bug. I am removing the ps core tag

[2015-10-26 22:04] iwehrman commented on #3126
FBNC to @chadrolfs. @tiburbage: the Watson bug can be closed. There are no new focus issues here; that was a bad early guess from me.

[2015-10-26 22:23] jsbache commented on #3126
Watson bug closed. I will remove the ps core tags

[2015-10-26 22:23] #3126 closed

[2015-10-26 22:29] ktaki commented on #2571
Only issue I found is in Japanese Effect panel. With Stroke, Size label has wrapped.

![screen shot 2015-10-26 at 3 08 07 pm](https://cloud.githubusercontent.com/assets/2029597/10744310/39f8bc08-7bf6-11e5-9632-30c9d8fb1ba0.png)

This can be deferred to M4.

[2015-10-26 22:53] iwehrman commented on #3130
As of #3140, this is "fixed" by simply preventing the drag from libraries while in a tool modal state. If you think we'd like to file a bug about providing a somewhat better UX for this, go for it!

FBNC to @chadrolfs.

[2015-10-26 22:53] pineapplespatula opened #3141 "Copying layer appearance from a shape to a text layer discards fill opacity"
Setting the fill color and the layer opacity of a stroke and copying that to a text layer should match in appearance

currently we throw away the fill opacity . we should be multiplying the two opacities in the paste step

in the below example, the text layer should end up with at layer opacity of 25%

![copy_fx](https://cloud.githubusercontent.com/assets/1008531/10744770/8b646cec-7bf9-11e5-827d-3

[2015-10-26 22:56] ktaki opened #3142 "Headlights data do not show "Spaces-" categories"
With the latest mac build pgDev.847, categories prefixed by "Spaces-" are shown as below.

![screen shot 2015-10-26 at 3 53 16 pm](https://cloud.githubusercontent.com/assets/2029597/10744840/fcb7e39c-7bf9-11e5-8614-f295b7ed2053.png)

However, this is not shown when current master branch is used.

![screen shot 2015-10-26 at 3 54 53 pm](https://cloud.githubusercontent.com/assets/2029597/10744842/03

[2015-10-26 23:06] #3130 closed

[2015-10-26 23:09] chadrolfs commented on #3134
verified fix on Mac/Win, closing

[2015-10-26 23:09] #3134 closed

[2015-10-26 23:10] chadrolfs commented on #3134
@pineapplespatula logged related issue #3141

[2015-10-26 23:13] ktaki commented on #2571
Looks good!

[2015-10-26 23:13] #2571 closed

[2015-10-26 23:19] iwehrman commented on #3142
I believe this is as designed. We disable headlights logging in debug mode:

https://github.com/adobe-photoshop/spaces-design/blob/08ed56ecd8a3aa2d2f118df93528d81199a8af14/src/js/util/headlights.js#L46-L50

[2015-10-26 23:19] #3142 closed

[2015-10-27 02:04] iwehrman opened #3144 "X/Y transform inputs are broken when multiple layers are selected"
![img](https://s3.amazonaws.com/f.cl.ly/items/2r1C320f343O1O2i2L3f/Screen%20Recording%202015-10-26%20at%2007.05%20PM.gif)

[2015-10-27 02:06] iwehrman commented on #3144
Probably a BRC candidate.

[2015-10-27 02:26] iwehrman commented on #3144
This is actually the same as #3019, (for which there is open PR #3047), but it's worse than that bug states. #3047 is correct that it's the lock-dance routine that is the problem. But, the bigger problem is that this is also the selection-dance routine, which means that this breaks even on _unlocked_ multiply-selected layers.

[2015-10-27 15:51] chadrolfs opened #3145 "Dragging assets onto canvas sometimes results in two children with the same key; unable to swap"
cmd/ctrl + n (or cmd/ctrl + alt/opt + n and set Resolution to >72)
drag one asset from CC Lib onto canvas (repeat 2x)
select both images

Result: swap is dimmed and console outputs
Warning: flattenChildren(...): Encountered two children with the same key, `.$3283=15`. Child keys must be unique; when two children share a key, only the first child will be used.

[2015-10-27 15:51] chadrolfs commented on #3145
this is an intermittent bug, not always reproducible but seems easier for me to repro on docs with resolution >72

[2015-10-27 15:52] chadrolfs commented on #3145
<img width="1044" alt="screen shot 2015-10-27 at 8 45 38 am" src="https://cloud.githubusercontent.com/assets/8442631/10763654/0c423c66-7c88-11e5-8ef7-fa3bbb4e2c2d.png">

[2015-10-27 16:21] chadrolfs commented on #3144
added Watson for BRC.  We will need to submit a formal request as specified in Steve's RCS email.  This bug is currently set to Staging.  Once we submit the request, we should assign it to Mainline.

https://watsonexp.corp.adobe.com//#bug=4079938

[2015-10-27 16:48] chadrolfs opened #3146 "Swap enabled for single selected CC Library asset"
drag a CC Lib asset onto canvas (hit Enter to place)
Result: Swap menu cmd and transform panel icon is enabled

Expect: Swap should only be enabled when only 2 valid objects are selected

[2015-10-27 16:49] chadrolfs commented on #3146
drag out and select a shape, result: swap is greyed out.

[2015-10-27 18:02] markelog commented on #3118
Fix for it, will be released tomorrow with 2.5 version

[2015-10-27 18:03] iwehrman commented on #3118
Thanks @markelog!

[2015-10-27 18:03] markelog commented on #3118
btw, check it out - http://jscs.info/overview#versioning-semver :)

[2015-10-27 19:05] iwehrman opened #3147 "Appearance panel should not be disabled in mixed states"
This is a regression. If you select a shape and a text layer, all the controls should still be active. Controls that only apply to vector layers should still only apply to the subset of selected vector layers, etc.

[2015-10-27 19:06] iwehrman opened #3148 "Appearance panel is too small in single-column mode"
You can't see the full panel if a text layer is selected, e.g., and collapsing other panels doesn't help:
![image](https://cloud.githubusercontent.com/assets/1075154/10769421/317d09b4-7ca3-11e5-9b6b-23c4d23621c3.png)

[2015-10-27 20:05] shaoshing commented on #3145
I found that if you expand a graphic that is a embedded SO, you will end up adding the layer twice and trigger the error (also #3146)

Reproduce: drag out "Embedded" from "Test - OK" with ALT key pressed

[2015-10-27 20:51] chadrolfs opened #3149 "Alt/Opt + drag artboard to duplicate after zoom out shifts overlay highlight/bounds"
cmd/ctrl + n
draw a couple rects
zoom out a few times (cmd/ctrl + -)
with Select tool click + drag on AB title with Alt/Opt key down to duplicate
marquee select

Result: overlay highlight/bounds is shifted.

[2015-10-27 20:52] chadrolfs commented on #3149
![highlight-afterzoom](https://cloud.githubusercontent.com/assets/8442631/10772171/ed52339a-7cb1-11e5-8b26-8834fd7f5184.gif)

[2015-10-27 23:11] chadrolfs opened #3151 "Multiple selection: setting W also sets Y to a standard"
cmd/ctrl + n
draw out several rects of different sizes (both W & H)
select them all with Select tool (W/H/X/Y are all mixed values so fields show --)
enter a value into W

Result: Y value also gets set, making the shapes all the same size

[2015-10-27 23:22] chadrolfs commented on #3151
![setx-fixesy](https://cloud.githubusercontent.com/assets/8442631/10775573/df46d282-7cc6-11e5-9b81-220f5feb76fc.gif)

[2015-10-27 23:23] chadrolfs commented on #3151
wondering if this will be addressed by #3047 since it deals with Transformation fields.

[2015-10-27 23:42] chadrolfs commented on #3151
This broke sometime after the Sprint 33 build ( 20f8742f7188333db70ddac6688838d118723917 )

[2015-10-28 00:51] mcilroyc commented on #3151
chad, it seems broken to me on the commit you referenced (20f8742)

[2015-10-28 00:59] mcilroyc commented on #3151
by bisecting starting with 32.1 sprint release, I found:
0da3c2f81799372c8696d801be21e64bad508c3f is the first bad commit

[2015-10-28 14:21] mcilroyc commented on #3151
stealing this for now - but @shaoshing (original assignee) let me know if you want it back, or whatnot

[2015-10-28 15:41] chadrolfs commented on #3151
Thanks Cory.

[2015-10-28 16:55] chadrolfs opened #3153 "Entering negative transform value for LLSO (and other layers, i.e. Type) results in badness"
cmd/ctrl + n
drag a library asset onto canvas
click in Transform field (W) and enter a negative number (-50), Enter

Result: all fields are now blank.  If you click on Layer 1 you'll error
`Action transform.setSize failed: Error: Photoshop returned an error when playing command number: 2 Photoshop code: -1 Photoshop message: error: -1 message: Could not complete the command because the initial bou

[2015-10-28 16:55] chadrolfs commented on #3153
![screen shot 2015-10-28 at 9 53 42 am](https://cloud.githubusercontent.com/assets/8442631/10796137/0d195872-7d5a-11e5-8395-331aa7921baa.png)

[2015-10-28 16:56] chadrolfs commented on #3153
![screen shot 2015-10-28 at 9 57 37 am](https://cloud.githubusercontent.com/assets/8442631/10796156/1f1dcb5c-7d5a-11e5-83a2-2a818897d8a8.png)

[2015-10-28 17:43] chadrolfs commented on #3146
Currently, I can only repro on resolution >72.

Workaround: drag LLSO onto canvas, hit Swap icon, all is set right with the world (apparently).

[2015-10-28 17:44] shaoshing commented on #3146
@chadrolfs I think this is fixed by #3150, can you verify on that branch?

[2015-10-28 17:57] #3019 closed

[2015-10-28 18:01] #3144 closed

[2015-10-28 18:08] iwehrman commented on #3151
FBNC to @chadrolfs.

[2015-10-28 18:11] shaoshing commented on #3153
This is probably a core issue. The valid range for size is 0.1 ~ 32000 in DS. However, if we set the width / height to 0.1 for some graphics (for example, `Test - OK` > `Climber`), they will turn into invisble with null w/h/x/y.

[2015-10-28 18:23] chadrolfs opened #3154 "Undo after changing transform fields with negative values doesn't update correctly"
new doc
create 2 different sized Rects and select them both
enter W transform field, enter a negative number (-50), hit enter
Result: min value for each rect is set (0.1) but W field shows mixed state ( -- )
Repeat last step for H field
Result: now that field shows what you'd expect 0.1
cmd/ctrl + z undo (repeat)
Result: canvas updates but field remains 0.1
undo eventually results in
`Transfer fro

[2015-10-28 18:24] chadrolfs commented on #3154
![undo-xform](https://cloud.githubusercontent.com/assets/8442631/10798775/73666956-7d66-11e5-82b5-7fbeba2253de.gif)

[2015-10-28 18:25] chadrolfs commented on #3154
related to #3151

[2015-10-28 18:27] chadrolfs commented on #3154
![screen shot 2015-10-28 at 11 28 26 am](https://cloud.githubusercontent.com/assets/8442631/10798842/d1fe4556-7d66-11e5-95a4-4969963884af.png)

[2015-10-28 18:53] #3151 closed

[2015-10-28 20:23] mcilroyc commented on #3154
Ok.  good news and bad news.
bad: this is actually two separate bugs
good: I can narrow down the worse of the two bugs, and they can be treated separately, I think.  That is, the undo related bug has no relation to whether or not the number input shows a mixed state after entering a negative value:

repro:
start in the same way @chadrolfs described.  new doc, two rects, select both.  then...
- cli

[2015-10-28 21:15] iwehrman commented on #3154
Also note that the controller reset seems to handle this failure as gracefully as possible.

[2015-10-28 22:44] chadrolfs opened #3158 "Marquee select doesn't work dragging from masked out area"
Open CannoSelectLayers.psb
click and drag in empty space to marquee select

Result: no marquee

Workaround: click+drag from outside masked layer bounds or shift+click on layers or shift+drag

[2015-10-28 22:50] iwehrman opened #3159 "Export panel should be bottom aligned"
It doesn't make any sense for the Export panel to both be nearly clipped on the bottom and top-aligned:
![image](https://cloud.githubusercontent.com/assets/1075154/10805517/7e9e219a-7d8b-11e5-9a0b-693a24d5aea8.png)

More context: http://cloud.wehrman.org/image/3X0t00343o0s

[2015-10-28 22:59] chadrolfs opened #3161 "Entering mask mode, hitting Delete, then switching tools results in error"
cmd/ctrl + n
create a layer you can mask so either drag in a LLSO or
create a rect shape, then cmd/ctrl + g to create a group
hit v for Select tool
hit m to enter Mask Mode
hit Delete key
hit r for Rect tool

Result: Switching tool kicks you out of Mask Mode and console spits -
 `Action tools.select failed: Error: Photoshop returned an error when playing command number: 1 Photoshop code: -25920 Ph

[2015-10-28 23:02] chadrolfs commented on #3161
![screen shot 2015-10-28 at 4 03 38 pm](https://cloud.githubusercontent.com/assets/8442631/10805725/4403baac-7d8d-11e5-9cb9-acfa786526d1.png)

[2015-10-28 23:13] chadrolfs opened #3163 "Vector Combine icons and commands execute on layers with masks"
cmd/ctrl + n
drag a LLSO onto canvas (hit Enter to place) or create a Type layer
apply a mask to LLSO (m, r, drag a rect mask, m to exit)
drag a rect shape on canvas
select both layers
hit one of the vector Combine icons

Result: layers are merged/flattened/rasterized into a pixel layer.

[2015-10-28 23:23] chadrolfs commented on #3163
it's certainly a workaround if you want to rasterize your type, heh.

[2015-10-28 23:52] chadrolfs opened #3164 "Resizing multiple artboards via Transform fields can have unexpected results"
open explore-mt-hood.psd
select ~~all 3~~ an artboards
click in H field and Shift+up arrow a few times
click in W field and Shift+up arrow a few times

Result: artboards jump extremely left

Note: reference point is bottom left

[2015-10-28 23:52] chadrolfs commented on #3164
![ab-jump-jump](https://cloud.githubusercontent.com/assets/8442631/10806637/4521d782-7d94-11e5-963c-a849fc9facff.gif)

[2015-10-28 23:56] chadrolfs commented on #3164
can repro with just one AB selected (don't need to select all 3)

[2015-10-29 00:25] iwehrman commented on #3164
I think standard PS explicitly removed support for on-canvas resizing of multiple artboards at once. We should probably just enforce that same constraint in our transform panel as well.

[2015-10-29 18:45] pineapplespatula opened #3166 "actions/sampler.js:564 has two new lines in master"
lintspaces:src seems to have not caught it

[2015-10-30 17:12] chadrolfs opened #3167 "Show Guides cmd indicates the document is dirty when it's not"
Open a saved document
View > Show Guides

Result: doc title indicates dirty but Revert cmd is greyed out and if you close doc, you won't get a save prompt

[2015-10-30 17:40] shaoshing commented on #3153
Watson: https://watsonexp.corp.adobe.com/#bug=4080692

[2015-10-30 19:11] iwehrman commented on #3145
FBNC to @chadrolfs.

[2015-10-30 19:11] iwehrman commented on #3146
FBNC to @chadrolfs.

[2015-10-30 21:29] ktaki opened #3168 "A library sticks every time coming back to DS"
DS started with Library A selected. Select Library B. Switch to standard Ps, and switch back to DS. Library A is selected. I expect Library B is selected. This behavior seems started happening recently.

[2015-10-30 21:34] ktaki opened #3169 "Color of shape resets to default"
In Standard Ps, create a new doc, and draw a rectangle. Change the color. With the shape layer selected, switch to DS. RESULT: The color of the rectangle is reset to default (gray).

[2015-10-30 21:35] pineapplespatula commented on #3169
We are setting the default of shapes intentionally. assigning to @placegraphichere for discussion

[2015-10-30 21:36] iwehrman commented on #3169
I don't think @ktaki means that the default is changing. I think he means that the color of the existing layer is changing.

[2015-10-30 21:37] ktaki commented on #3169
Sorry for the confuse on the title. Yes, color will reset.

[2015-10-30 21:41] iwehrman commented on #1946
I believe that @placegraphichere has done this with his theming work, and it's amazing. If I'm missing something, please re-open!

[2015-10-30 22:12] chadrolfs commented on #3168
related to if not a dupe of #2360

[2015-10-30 22:12] placegraphichere commented on #1946
@designedbyscience is right, we should leave this open. It should be more of a non-context name. So it will not be theme specific. I think I missed this one in the work I did.

[2015-10-30 22:13] iwehrman commented on #1946
master is open for pull requests!

[2015-10-30 22:15] placegraphichere commented on #1946
I should add, we need this applied to `@warm-grey`. That's the one I missed.

[2015-10-30 22:20] ktaki commented on #3168
Yes, it might be related, but here, the issue is more towards within DS. The stickiness to a particular lib happens when quitting Ps in DS mode and starting Ps in DS mode.

[2015-10-30 22:27] iwehrman commented on #1946
Fixed by #3171.

[2015-10-30 22:27] #1946 closed

[2015-10-30 22:53] chadrolfs opened #3172 "Transform operations should target masks bounds instead of masked layer"
If you have 3 layers that have masks and you align or distribute or flip, the operation is performed on the layer bounds instead of mask.  Operations should be performed on the mask bounds but also keep the masked layer locked to the mask during the transformations.

This is an enhancement on standard PS, core work will probably be needed.

related to #3106

[2015-10-30 22:55] pineapplespatula commented on #3172
This would require DS to have multiple bounds on masked layers.

[2015-10-30 22:56] chadrolfs commented on #3172
Yeah, I don't think this will be an easy engineering feat, but what do I know.  From a user perspective, I'd want this functionality though.

[2015-10-30 23:04] chadrolfs opened #3173 "Superselect overlay highlighting doesn't work"
new doc
create several shapes
Select tool, mouse over layers

Result: no blue highlight

[2015-10-30 23:04] chadrolfs commented on #3173
broke on master recently.  Does not occur in release branch (shipping M3 build).

[2015-10-30 23:13] iwehrman commented on #3173
Note that #3132 is unrelated, but you may find it yourself with another round of testing.

[2015-10-31 22:08] iwehrman commented on #3161
FBNC to @chadrolfs.

[2015-11-02 17:25] volfied commented on #3149
Can't repro currently.

[2015-11-02 18:06] volfied commented on #3132
The hitTest order of layers have changed. Fix for this will be in SuperSelectOverlay.jsx updateMouseOverHighlights function. We need to filter out non-superselectable layers similar to what we do in superselect.click

[2015-11-02 20:38] volfied commented on #2385
This is being addressed by @pineapplespatula's changes where he's tying policy resets to store events instead of manual calling.

[2015-11-02 20:38] #2385 closed

[2015-11-02 21:25] chadrolfs opened #3179 "Deleting a mask contained within a LLSO fails"
create a pixel layer with a mask
with layer selected, click on Add Graphic icon in Lib panel
create new doc and drag that asset onto the canvas
double-click it to open/edit it
hit m to enter mask mode, hit delete

Result: `Action mask.handleDeleteVectorMask failed: TypeError: Cannot read property 'transfer' of undefined`

[2015-11-02 21:25] chadrolfs commented on #3179
![ice_screenshot_20151102-132528](https://cloud.githubusercontent.com/assets/8442631/10894735/3a74b0f0-8165-11e5-9c81-6ebcf8081ac1.png)

[2015-11-02 21:28] volfied commented on #3169
Adding to STR: You need to leave rect tool selected.

[2015-11-02 21:31] volfied commented on #3164
I can't repro this today.

[2015-11-02 21:32] volfied commented on #3098
Since adjustment layers are not considered super selectable... yeah we skip them. We can easily add them back in to tabbing though. Please advise on whether to change it or leave it as is.

[2015-11-02 21:34] #3146 closed

[2015-11-02 21:36] #3145 closed

[2015-11-02 21:39] #3161 closed

[2015-11-02 21:58] volfied commented on #3109
Looking into this, it depends on whether hittest returns anything to us.

[2015-11-02 22:00] volfied commented on #3109
Yeah, PS hitTest APIs don't return the ID of a layer when hovering over it's shadow. There isn't anything we can do on our side.

[2015-11-02 22:13] volfied commented on #3015
The text field actually loses focus with select tool, but not with type tool. This is likely related to the fact that while in type tool we allow field values to be changed without exiting modal state. That logic bleeds over to spacebar panning / handleToolModalStateChanged.

[2015-11-02 22:30] chadrolfs commented on #3109
so do we want to log a watson bug and try to fix this or close this as designed?

[2015-11-02 22:36] volfied commented on #3169
Gets reset because tools.resetShapeDefaults gets called before document is initialized, which skips the selection dance and forces the selected layer's colors.

[2015-11-02 22:39] iwehrman opened #3181 "Dragging layers starts slowly"
The time between the initial mousedown and when the object on the canvas starts to move is far too long, which leads to a feeling of sluggishness. Note that this isn't about the performance once dragging begins, but the time to start the drag.

[2015-11-02 22:52] pineapplespatula commented on #3109
I would say we add a trello card or a watson bug to the core list, and see what is possible on the core side before closing this one out

[2015-11-02 23:51] iwehrman commented on #3132
FBNC to @chadrolfs. Is there any way that we can sneak this into M3?

[2015-11-02 23:53] iwehrman commented on #3167
FBNC to @chadrolfs.

[2015-11-03 00:04] #3173 closed

[2015-11-03 00:09] #3167 closed

[2015-11-03 00:11] chadrolfs commented on #3132
Probably not in the least.

[2015-11-03 00:11] #3132 closed

[2015-11-03 16:04] chadrolfs commented on #3164
make sure the ref point is bottom right.

[2015-11-03 16:24] chadrolfs commented on #1450
CNR on r.281 with shipping html or current master.

[2015-11-03 16:24] #1450 closed

[2015-11-03 17:35] shaoshing commented on #3166
Close as those lines are removed in master

[2015-11-03 17:35] #3166 closed

[2015-11-03 17:38] volfied commented on #3168
FNBC to Taki

[2015-11-03 18:25] ktaki commented on #3168
Verified the fix.

[2015-11-03 18:25] #3168 closed

[2015-11-03 18:52] chadrolfs opened #3187 "Search: clear field icon (x) is not shown when you select a category"
cmd/ctrl + f
arrow down to display datalist, click on Open Documents

Result: Open Docs category icon is shown in search field but (x) icon to clear field is not

alternately, if you type "Open" then click on Open Documents category, the icon shows in field as in steps above but now the (x) icon shows

[2015-11-03 18:54] chadrolfs commented on #3187
![search-x](https://cloud.githubusercontent.com/assets/8442631/10918194/4a5dc484-8219-11e5-8fa3-2ab5af1c3e6c.gif)

[2015-11-03 21:42] chadrolfs commented on #3154
Simple steps to hit error:
cmd/ctrl + n
r for Rect tool, draw out a rect
click in H transformation field, and put a minus in front of the number (ex. -128), hit enter
cmd/ctrl + n (x3)

[2015-11-03 21:43] chadrolfs commented on #3154
related to #3153

[2015-11-04 00:06] chadrolfs opened #3189 "Arrange menu items need to be contextualized"
select anything on canvas

Result: some menu cmds are always enabled (Group/Ungroup, Show/Hide, Lock/Unlock)

Expect:  If layer is at top most level in layer hierarchy, Ungroup should be greyed out.
If a group or layer is nested at max limit (10) Group should be greyed out.
If layer(s) is/are shown, Show should be greyed out.
If layer(s) is/are hidden, Hide should be greyed out.
If layer(s) is/are

[2015-11-04 02:16] placegraphichere opened #3191 "Opening/Closing Folders shows changed file status without ability to save"
- Create new file with some folder/artboards
- Save the file
- Open/close the AB or folder a few times using the layers panel
- Get into a state where the file has the asterisk, but the file menu does not allow a save.
- Exiting Ps will prompt a file-has-changed save tho

- expected: saving file menu and CMD+S should be in sync with the folder changes

![screen shot 2015-11-03 at 8 12 46 pm](https

[2015-11-04 03:44] placegraphichere opened #3192 "Cannot get transform controls on partial selection of vector (mask or shape)"
Should be allowed to CMD+T or similar to select and transform a partial selection of a vector shape or mask. For example: A vector shape that includes a rect and an ellipsis, attempting to transform the ellipsis as a whole shape is not currently possible. This is possible in standard.

[2015-11-04 06:01] placegraphichere opened #3193 "Copy + Pasted Layers Automatically open folders"
Copy and pasted layers that include closed folders will be pasted with the folders opened. This is kind of annoying since copy+paste is often followed by another action like moving to another artboard by dragging in the layers panel. A longer layers list (increased by the newly opened folders) makes this more difficult.

This is also just annoying since duplicated layers may have many children. Wi

[2015-11-04 06:13] placegraphichere opened #3194 "Copy+Paste Artboard will paste behind another artboard if adjacent AB exisits"
Copy and Paste an artboard that is adjacent to another artboard will paste behind the adjacent artboard. We should attempt to avoid this by moving to a position where an artboard is not present.

Additionally, it is quite difficult to move this newly pasted artboard if it is behind the adjacent artboard (since it usually will be considering normal positioning/duplication). I've found that usually

[2015-11-04 06:32] placegraphichere opened #3195 "Can't add layers that are within the bounds of current selection to the selection (shift+click)"
- create two rects, one larger than the other
- put the smaller rect fully within the larger one
- the smaller layer should be on top
- select the larger rect, then attempt to select the smaller rect
- result: unable to select the smaller layer, even though it is visible and z-ordered above

- Expected: should be able to multi-select objects that are visibly z-ordered above others
![screen shot 20

[2015-11-04 06:39] placegraphichere commented on #3195
![screen shot 2015-11-04 at 12 36 35 am](https://cloud.githubusercontent.com/assets/3229167/10931332/20b45f08-828c-11e5-8c61-cd75d1f57b79.png)

Here's a really practical repercussion of this issue. In this example I've selected the red boxes first, and then want to attempt to select the text layer. This is not possible. It forces the selection order to be in  perfect order where each selection is

[2015-11-04 06:42] placegraphichere opened #3196 "De-Select layers on canvas does not seem to work"
Shift+click, CMD+click and Shift+CMD+click on a selected layer does not de-select it on canvas.

[2015-11-04 16:31] chadrolfs opened #3197 "Unable to align children within artboard"
cmd/ctrl + n
draw some shapes and group them (within AB)
(in layers panel) select the group and the artboard layer (cmd/ctrl + click)

Result: align icons/cmds are disabled  (in classic PS, the are not)

[2015-11-04 17:00] volfied commented on #3195
Note: this works for single click, doesn't work for shift+click.

[2015-11-04 17:17] volfied commented on #3196
Should be fixed by #3198

[2015-11-04 17:17] volfied commented on #3196
Dupe of #3195

[2015-11-04 17:17] #3196 closed

[2015-11-04 19:21] chadrolfs opened #3201 "Dragging shape out/into artboard redraws (flashes) all content"
cmd/ctrl + n
drag in some content for background (LLSO asset)
draw a rect
with Select move rect out of AB to one side, then back into AB, then move it out of AB to the other side, then back in

Result: contents flash

[2015-11-04 19:22] chadrolfs commented on #3201
![ab-content-flash](https://cloud.githubusercontent.com/assets/8442631/10949140/318ac038-82e6-11e5-9dc8-c4a4f5e568c5.gif)

[2015-11-04 19:22] chadrolfs commented on #3201
CNR in standard PS

[2015-11-04 22:17] chadrolfs opened #3202 "Turning off Stroke visibility results in Unhandled rejection Error"
On compiled .js only -

new doc, drag out a rect, turn off stroke visibility
result:
`Unhandled rejection Error: Attempt to extract key: event as: string actual type is: boolean`
  `at eval (eval at undefined, <anonymous>:1:5)`
   `at eval (native)`

CNR on release branch and master
Shipped in 16.1

[2015-11-04 22:21] iwehrman commented on #3202
This is a headlights bug. If you enable debug-time headlights logging, you get this:
[code]

[2015-11-04 22:22] iwehrman commented on #3202
The problem is that `isChecked` is a boolean, not a string:
https://github.com/adobe-photoshop/spaces-design/blob/51b412926ecad6aa18baedc134e2030f0756b9b2/src/js/jsx/sections/style/Stroke.jsx#L115

[2015-11-04 23:06] iwehrman commented on #3191
FBNC to @chadrolfs.

[2015-11-04 23:06] iwehrman commented on #3195
FBNC to @chadrolfs.

[2015-11-04 23:44] iwehrman opened #3203 "playLayerActions should take before/after bumper play objects"
See #3188 for the motivation. This is a minor performance optimization.

[2015-11-05 16:38] iwehrman commented on #3202
FBNC 2 @chadrolfs.

[2015-11-05 16:41] iwehrman commented on #3169
FBNC to @ktaki.

[2015-11-05 19:37] chadrolfs opened #3207 "Exiting Mask Mode on group with Rect or Ellipse tool reveals child paths"
select a group containing children that are shape layers
hit m to enter mask mode
hit r for rect tool and draw a rect shape for mask
hit me to exit mask mode

Result: paths for child shapes are shown

[2015-11-05 19:41] chadrolfs opened #3208 "Error attempting to delete mask applied to group"
select a group containing children layers
hit m to enter mask mode
hit r for rect tool and draw a rect shape for mask
hit m to exit mask mode
hit m to re-enter mask mode
hit delete

Result: original mask is not shown when re-entering mask mode and hitting delete results in error, Could not complete the Delete Layer command because of a program error.

[2015-11-05 19:42] chadrolfs commented on #3208
![mask-delete-error](https://cloud.githubusercontent.com/assets/8442631/10979616/48f4722e-83b2-11e5-89f7-215627916fa3.gif)

[2015-11-05 19:42] chadrolfs commented on #3207
![mask-vector-outlines](https://cloud.githubusercontent.com/assets/8442631/10979632/5b8aa188-83b2-11e5-955b-0342e1f7b177.gif)

[2015-11-05 19:44] chadrolfs commented on #3208
if you change focus by selecting a different layer, then re-selecting the group before re-entering mask mode, you won't hit this.

[2015-11-05 21:10] ktaki commented on #3169
Verified the fix.

[2015-11-05 21:10] #3169 closed

[2015-11-05 21:16] placegraphichere opened #3209 "Zoom should probably not center when selected layer is off canvas"
Often when working, I will pan from whatever is selected and pan to work on another item in a far off place in my document. Then when zooming, the canvas reels back to the previous location. I think we should be a bit smarter here and ignore zoom-centering when the selected layer is off the visible canvas. My current selection/de-selection should not dictate zoom-centering this much, and I think t

[2015-11-05 22:10] chadrolfs opened #3210 "Entering DS with a shape selected over-writes Fill and Stroke settings"
Start in standard PS
hit U for Rect shape tool, set a specific color for fill and stroke (also change stroke size)
draw out a shape
switch to DS

Result: Shape is set to DS defaults and over-writes previous settings from standard PS

[2015-11-05 22:11] chadrolfs commented on #3210
I thought this was already written up.  Apologies if this is a dupe.

[2015-11-05 22:14] ktaki commented on #3210
@chadrolfs  I just closed #3169. Can you double check with the latest master?

[2015-11-05 22:26] chadrolfs commented on #3210
ah, that explains it. ran into this finishing up RC sweep.  Verified this is fixed on current master - Closing as dupe

[2015-11-05 22:26] #3210 closed

[2015-11-05 23:05] placegraphichere opened #3211 "Export SVG `path` data on artboards often adds unnecessary `transform`"
- Create a non-standard shape by editing a rect or adding points so it will no longer be a `rect`, rather a `path`
- Create a new artboard
- Copy and drag the shape to the new artboard
- Export the artboard using Crema or Ds using SVG
- Result: The shape `path` in the SVG  will have additional `transform=translate()` data on it for no real reason.

- Expected: no additional transform data

Notes:

[2015-11-05 23:22] iwehrman commented on #3211
I believe this is a generator-core (actually an SVG OMG) bug, so we may want to move it there. CC @mcilroyc @tomwmcrae.

[2015-11-05 23:30] chadrolfs opened #3212 "2nd resize of expanded CC Lib asset fails"
cmd/ctrl + n
load CC Lib: Test - OK to accidentally nuke
alt/opt + drag asset onto canvas (GearSale)
Resize it with Shift key to constrain, move and resize again

Result: 2nd attempt fails

[2015-11-05 23:30] chadrolfs commented on #3212
![cc-lib-2nd-resizefail](https://cloud.githubusercontent.com/assets/8442631/10984951/285c9454-83d2-11e5-8ad0-9b2629bb936c.gif)

[2015-11-05 23:35] chadrolfs commented on #3212
![screen shot 2015-11-05 at 3 34 28 pm](https://cloud.githubusercontent.com/assets/8442631/10985051/cca20986-83d2-11e5-9469-3f79d647d6bf.png)

[2015-11-05 23:36] chadrolfs commented on #3212
![screen shot 2015-11-05 at 3 36 12 pm](https://cloud.githubusercontent.com/assets/8442631/10985082/098e32c0-83d3-11e5-8adb-7dad63fd560a.png)

[2015-11-06 01:23] placegraphichere commented on #3211
logged this issue with svg omg folks on corp #413

[2015-11-06 16:01] dirkschulze commented on #3211
https://git.corp.adobe.com/WebPA/svgObjectModelGenerator/issues/413

This is indeed coming from svgOMG. Just to give a bit of context: The art is somewhere on the document and we trim the output to the art bounds. For that we need to shift the position of shapes. This is fairly simple for rectangles. It gets more complicated for arbitrary shapes with arbitrary transforms. It is definitely a planne

[2015-11-06 22:49] iwehrman opened #3217 "Chromium 47 SVG animation deprecation warning"
In Chromium 47, we get the following warning triggered by react-with-addons.js:20843:
```SVG's SMIL animations (<animate>, <set>, etc.) are deprecated and will be removed. Please use CSS animations or Web animations instead.```
~~Are we actually using SVG animations anywhere? It's possible that this warning will go away if we upgrade to React 0.14.~~

[2015-11-06 22:51] designedbyscience commented on #3217
I think we are for the loader

[2015-11-06 22:52] iwehrman commented on #3217
Sure enough: https://github.com/adobe-photoshop/spaces-design/blob/2a5dd74d5d414563efae4b9b075e5beeddd24bd1/src/img/ico-loader.svg?short_path=d608a50#L5-L12

[2015-11-06 22:53] placegraphichere commented on #3217
assigning to me

[2015-11-09 23:56] chadrolfs opened #3218 "missing file error loading master: ico-layer-search.svg and ico-libraries-cc.svg"
load current master
result: `GET file:///Users/crolfs/playground-repos/spaces-design/img/ico-layer-search.svg net::ERR_FILE_NOT_FOUND`
`GET file:///Users/crolfs/playground-repos/spaces-design/img/ico-libraries-cc.svg net::ERR_FILE_NOT_FOUND`

[2015-11-10 00:00] #3202 closed

[2015-11-10 00:04] #3195 closed

[2015-11-10 00:23] #3191 closed

[2015-11-10 22:40] chadrolfs opened #3221 "On-canvas UI is too big"
Here is what it looks like in 16.1 shipping html
![screen shot 2015-11-10 at 2 38 42 pm](https://cloud.githubusercontent.com/assets/8442631/11078164/00f2e6a8-87b9-11e5-9d02-49f59f567252.png)

Here is what it looks like on current master:
![screen shot 2015-11-10 at 2 38 22 pm](https://cloud.githubusercontent.com/assets/8442631/11078168/09a4217c-87b9-11e5-85bd-1e74c668abe1.png)

[2015-11-10 23:12] chadrolfs opened #3223 "Locked groups should not show transform controls"
new doc
create a rect shape
cmd/ctrl + g to create a group
lock the group and select it in layers panel

Result: transform controls show on canvas.  If you try to scale/rotate, you get a modal error dialog.

[2015-11-10 23:15] chadrolfs opened #3224 "Select: Leaf layer highlighting doesn't work with modifier key"
new doc, create a bunch of shapes and nest them in groups
deselect (nothing selected)
mouse over the shapes with Select tool (result top level group highlights)
hold down cmd/ctrl and mouse over shapes

Result: no highlighting at all

[2015-11-11 00:27] iwehrman commented on #3223
@volfied: can we just filter locked layers in `selectedAreaBounds` or `selectedChildBounds`? That seems like it would solve the problem, but it's unclear whether it would introduce other issues. Also, in theory, we should make a core change that would prevent the anchors from appearing to begin with.

[2015-11-11 00:29] iwehrman commented on #1698
@shaoshing: this API is available in the version of CEF that is embedded in the latest Spaces plugin that @dtristram is working on. You might want to try it out! I'm assigning this issue to you so that you can decide whether to a) use this new API, or b) not, because it's not useful, in which case you should just close this issue.

[2015-11-11 16:08] volfied commented on #3223
I think the correct solution here would be to play descriptors to hide transform controls when a locked layer is present in selection. PS will show the transform controls over the entire selection regardless of locked layers being selected, so removing them from the bounds will just cause us to create false border policies.

I agree it would be better to change this behavior in core, but it is suc

[2015-11-11 16:48] iwehrman commented on #3223
I think it needs to be changed in both places, to be clear. But, we'll need a Watson bug for the PS side.

[2015-11-11 20:27] iwehrman commented on #3221
It's not specific to the artboard adders. All on-canvas UI is too big:
![image](https://cloud.githubusercontent.com/assets/1075154/11102122/8e63a57a-886f-11e5-8e7c-cc80ff9f907a.png)

[2015-11-11 21:21] chadrolfs commented on #3221
woah, it sure is!

[2015-11-11 22:36] #2880 closed

[2015-11-12 15:35] iwehrman opened #3231 "Guide positions should be loaded lazily"
We currently load guide position information for each document even when guides are disabled. Instead, we should load this information lazily when guides are first shown.

[2015-11-12 19:00] volfied commented on #3223
@chadrolfs Can you file a Watson bug for this? I will start on a fix on our side meanwhile.

[2015-11-12 19:07] volfied opened #3233 "Border policies don't reset after pan"
http://cl.ly/image/06453N0P3a26

Steps:

 - Help > Show Policy Frames
 - Select a layer
 - Hold spacebar/ drag to pan canvas
 - Look at the border policy

[2015-11-12 19:28] chadrolfs commented on #3223
https://watsonexp.corp.adobe.com//#bug=4086934

[2015-11-12 20:05] iwehrman commented on #3218
I think this is somehow related to #3214. It seems like our LESS files have `url`s that are relative to the current file, but that they're interpreted different in debug and compiled mode :(

[2015-11-12 20:55] volfied commented on #3223
I fixed this in a branch `barkin/3223`, but I'm not happy with the fact that controls blink on selection change as PS draws the handles.

Given this new information, and the fact that PS already hides the controls on locked layers but not locked groups, I think we should wait for a core fix on this.

[2015-11-12 21:04] chadrolfs commented on #3223
Sounds good. Thanks.

[2015-11-12 22:41] iwehrman commented on #3224
Looks good, works good.

[2015-11-12 22:42] iwehrman commented on #3224
FBNC to @chadrolfs.

[2015-11-12 23:13] chadrolfs commented on #3224
YAY!  A bug fix to verify.

[2015-11-12 23:16] volfied commented on #3233
:+1: Thank you

[2015-11-12 23:16] #3233 closed

[2015-11-12 23:31] iwehrman commented on #3221
For some reason `window.getComputedStyle(window.document.documentElement).fontSize` is returning "16px" when we first set the root size. It returns the correct value ("10px") just a little later, but we aren't catching that. I'm not sure why this changed, but I suspect it has something to do with #3214. It seems like this shouldn't happen as long as we wait for styles to load before loading starti

[2015-11-13 00:33] chadrolfs opened #3238 "Sampling locked layer has unexpected results"
Create two shape layers (1 and 2) with different Fill colors
Lock layer 1 and have it selected/targeted
click on the Sampler tool
mouse over layer 2 and click

Result: Locked layer 1 assumes fill color of layer 2.  If you do the opposite, select/target layer 2 (unlocked) and attempt to sample the locked layer 1, it won't.

Expected: If you have a locked layer targeted/selected, Sampling should not

[2015-11-13 01:32] mcilroyc commented on #3221
FBNC to @chadrolfs  ... note that I could not repro this issue, so I'm taking ian's word that this addresses it.

[2015-11-13 06:23] DivyaPrabhakar opened #3241 "Search header "Commands" needs the correct icon"
In the search bar currently, we have a section for "Global Shortcuts" and a section for "Menu Commands". The plan is to combine the two headers and have a single "Command" section that houses all menu commands and shortcuts. We need an updated icon for this section.

[2015-11-13 06:27] DivyaPrabhakar opened #3242 "Search results are cut off and do not always show all headers"
The search results datalist cuts off after x number of results, thus cutting off some of the main headers from being seen. For example, when the user has many libraries, the "Global Shortcut" section does not appear.

![](https://www.dropbox.com/s/p8nokoownzoojo7/Pasted%20image%20at%202015_11_12%2004_39%20PM.png?raw=1 "")

[2015-11-13 15:29] volfied opened #3243 "Superselect Overlay sometimes hits null document.layers"
Ian ran into this after my recent leaf highlighting changes... however, can't repro for now. Creating this issue to keep track of it:

`Uncaught TypeError: Cannot read property 'layers' of null (anonymous function) @ SuperselectOverlay.jsx:498`

https://github.com/adobe-photoshop/spaces-design/commit/9f3c1c9e6005573eb6d1a6d220d2bff0dbffd545

[2015-11-13 17:35] DivyaPrabhakar opened #3244 "Private actions needs to be made into protected actions -- actions/menu.js and /shortcuts.js"
In actions/menu.js and actions/shortcuts.js, the functions _playMenuCommand() and _executeShortcut() respectively are marked as private when in fact they are used by other modules. Note, search actions are currently not being enqueued because search is not asynchronous yet.

[2015-11-13 18:31] mcilroyc commented on #3023
@pineapplespatula I'm kicking this back/over to you.  AFAICT, this is working correctly.  The "intermediate" history state that @chadrolfs is referring to is caused by the "Add Vector Mask" action.  In this state, the layer *has* a vector mask that is not visible to the eye, but that is reflected in the layer panel.  I'll let you two argue about whether or not this is undesirable/fixable.

[2015-11-13 18:46] pineapplespatula commented on #3023
i think that we should try and fix this, @mcilroyc do you know if there is a way to not create a history state on an played action. I would prefer that the action to create a reveal all vector mask not create a history state if possible.

[2015-11-13 19:35] mcilroyc commented on #3023
I don't know the answer to that.  There certainly is not a generic mechanism that I'm aware of. Would it be possible to postpone vectorMask creation until the user has started to draw out a vector?

[2015-11-13 19:49] chadrolfs commented on #3224
Here is a case where it doesn't work, where a selection bounding box includes unselected layers that you want to add to the selection (holding Cmd/Ctrl + Shift).

![select-overlap](https://cloud.githubusercontent.com/assets/8442631/11155783/a45bfcf4-89fc-11e5-955d-a25eaa77a387.gif)

[2015-11-13 20:18] iwehrman opened #3246 "Placing smart object should skip the transform modal state"
There's already a standard PS preference for this:
![image](https://cloud.githubusercontent.com/assets/1075154/11156416/a6b446ce-8a00-11e5-9b36-aa4751a3484b.png)

[2015-11-13 21:10] pineapplespatula commented on #3023
even if we did that i think we would end up with multiple history states. We could caputre the mouse events and create the vector mask before we let photoshop draw a path, but that wouldn't solve the issue i dont think

[2015-11-13 22:13] #3221 closed

[2015-11-13 22:53] iwehrman commented on #3224
FBNC 2 @chadrolfs again :notes:

[2015-11-13 23:13] chadrolfs commented on #3224
2nd case was originally #3195 but now 'tis fixed, yay!

[2015-11-13 23:13] #3224 closed

[2015-11-16 18:06] pineapplespatula commented on #3023
I was thinking about that this weekend. Is there a way that we can send an action to PS to collapse/ consolidate history states. i don't think we can easily do this without some interesting way to manage the history states

[2015-11-16 19:12] iwehrman commented on #3181
Fixed by #3216.

[2015-11-16 19:12] #3181 closed

[2015-11-16 19:54] chadrolfs opened #3251 "On-canvas highlighting broken"
create a new doc, select the artboard
Result: adders do not show on-canvas

create some rects and mouse over
result: no blue highlighting

[2015-11-16 20:16] placegraphichere opened #3252 "Changing type box size creates a secondary visual change to the type"
Resizing a text-box will allow live editing, but then when the mouse is released, the type will resize one additional time.

Expected: Type should remain in place after resizing.

Note: this also occurs when editing text, but this is a more pronounced way to see it. Standard Ps does not have this secondary resize.

Screen cap: https://www.dropbox.com/s/zjgt0ol7mereniy/text-editing-jump.mov?dl=0

[2015-11-16 21:01] chadrolfs commented on #3251
Show Policy Frames doesn't work either

[2015-11-16 22:15] chadrolfs opened #3253 "Opening Illustrator file (Import PDF) results in error and no doc ID"
Open an Illustrator file
Import PDF dialog: accept defaults and click OK

result: new doc is open/created but UI still shows no doc state (no layers or doc title).  console error:
`Uncaught Error: Document opened with no ID`

![screen shot 2015-11-16 at 2 11 42 pm](https://cloud.githubusercontent.com/assets/8442631/11196534/6c71bfa0-8c6c-11e5-8454-fbc8ba03170b.png)

Shipped in 16.1

[2015-11-16 22:19] chadrolfs commented on #3253
Also, attempting to open these via MRU fails and results in
`Action documents.open failed: TypeError: Cannot set property 'selection' of undefined`

[2015-11-16 22:54] chadrolfs opened #3254 "Color Picker Opacity field accepts out of range values sending indicator outside"
draw a shape, click on color picker, click in Opacity field, Shift + up/down arrow

Result: field accepts values greater than 100 and less than 0 sending indicator outside color picker border

![colorpicker-opacity](https://cloud.githubusercontent.com/assets/8442631/11197391/f67035e2-8c71-11e5-812c-60f85740e5bf.gif)

[2015-11-16 23:56] mcilroyc commented on #3023
We have the ability now (using historyStateInfo) to wrap one batchPlay command into a single history state.  There is also the "coalesce" flag on historyStateOption that does what you're asking (I think) by merging the current operation in to the previous history state.  We use this, for instance, to coalesce all the "setColor" actions when dragging the mouse around the color palette while showing

[2015-11-17 00:14] pineapplespatula commented on #3023
I chatted with Trastram. The problem here is that the actions are user driven via on canvas interaction after the first history state, which means that coalese will not help us. Tristram suggested that we may be able to step back to a specefic history state isntead of just n-1. is there any infrastructure for that on the DS side?

[2015-11-17 00:20] placegraphichere commented on #3254
![spinal_tap_-_up_to_eleven](https://cloud.githubusercontent.com/assets/3229167/11198940/a55cd97c-8c8e-11e5-8eb1-fc1fe050632e.jpg)

[2015-11-17 00:20] mcilroyc commented on #3023
I don't know what you mean, so let's talk about this in the parking lot tomorrow

[2015-11-17 00:55] chadrolfs commented on #3254
hah yaaaasssss!

[2015-11-17 17:45] chadrolfs commented on #3169
https://watsonexp.corp.adobe.com/#bug=4087965

[2015-11-17 17:57] ktaki commented on #3252
This issue has been reported in watson as https://watsonexp.corp.adobe.com/#bug=4049956.

[2015-11-17 18:48] ktaki opened #3256 "Error opening Search dialog"
With the Pg-Dev Mac build #886, clicking on search icon produces errors.

Transfer from search.toggleSearchBar to dialog.openDialog failed: Error: Translation not found for: menu.WINDOW.OPEN_DOCUMENT

![screen shot 2015-11-17 at 10 40 30 am](https://cloud.githubusercontent.com/assets/2029597/11221182/8d793cf8-8d18-11e5-9b26-db23bf70507f.png)

[2015-11-17 18:54] chadrolfs commented on #3252
Not our bug.  Closing

[2015-11-17 18:54] #3252 closed

[2015-11-17 19:10] ktaki opened #3258 "Errors on closing a doc while in text editing mode"
Tested with pg-dev Mac build 886.

Create a text layer. While in text editing mode, Cmd-W to close the doc. Click on Do not save.

Action layers.resetLayers failed: Error: unknown exception type

![screen shot 2015-11-17 at 11 04 25 am](https://cloud.githubusercontent.com/assets/2029597/11221784/c23bd27c-8d1b-11e5-8a87-f5958e55c58e.png)
![screen shot 2015-11-17 at 11 04 41 am](https://cloud.github

[2015-11-17 19:24] chadrolfs opened #3259 "Opening a LLSO has incorrect coordinates and highlight location"
new doc
drag a LLSO onto canvas (note it auto-commits)
hit Enter (opens LLSO)

Result: artboard adders and highlighting coordinates are off

[2015-11-17 19:24] chadrolfs commented on #3259
![openllso-badcoords](https://cloud.githubusercontent.com/assets/8442631/11222175/cd7d7814-8d1d-11e5-8c6c-1f1d6b3a6cbc.gif)

[2015-11-17 19:31] ktaki opened #3260 "Errors on entering vector mask mode with superselect tool selected"
Tested with pg-dev Mac 688 build.

Open a new dox. Select super select tool. Click on the vector mask mode icon.

Transfer from tools.changeVectorMaskMode to tools.select failed: Error: Translation not found for: strings.TOOLS.superselectVector

![screen shot 2015-11-17 at 11 25 30 am](https://cloud.githubusercontent.com/assets/2029597/11222271/6a40ba80-8d1e-11e5-87de-239d4f0171f5.png)
![screen sh

[2015-11-17 19:41] pineapplespatula commented on #3260
this is fixed with #3257

[2015-11-17 19:44] ktaki commented on #3260
Verified the fix.

[2015-11-17 19:44] #3260 closed

[2015-11-17 23:11] ktaki opened #3264 "Error on adding layer styles from libraries"
Create a shape layer. Click on a layer style from a CC library.

Action libraries.applyLayerStyle failed: Error: value conversion failed

![screen shot 2015-11-17 at 3 10 07 pm](https://cloud.githubusercontent.com/assets/2029597/11227836/660ff038-8d3d-11e5-8a9b-6378b37523a5.png)

[2015-11-17 23:36] ktaki opened #3265 "Layer names can be left blank"
In Layers panel, double click a name to select entire name for edit, hit delete key, and then hit return key. The name is left blank. It should show the original name.

[2015-11-18 00:57] iwehrman opened #3266 "Text selection flashes during scrubbing"
![img](https://s3.amazonaws.com/f.cl.ly/items/0I0b1F2q1A3132150d3E/Screen%20Recording%202015-11-17%20at%2004.57%20PM.gif)

[2015-11-18 00:58] iwehrman opened #3267 "Entering Vector Mask mode on a masked group countaining a shape object selects the path associated with the shape instead of the mask on the group"
(to reduce later confusion, note that @pineapplespatula originally filed this from my account, and he's the best person to talk about about STR, etc.)

[2015-11-18 19:27] ktaki opened #3268 "Errors on Next Document and Previous Document"
Open two docs. Execute Window->Next Document and Window->Previous Document

Action documents.selectNextDocument failed: TypeError: Cannot read property 'get' of undefined
Action documents.selectPreviousDocument failed: TypeError: Cannot read property 'get' of undefined

![screen shot 2015-11-18 at 11 20 17 am](https://cloud.githubusercontent.com/assets/2029597/11251635/07f91ac4-8de7-11e5-8b0f-e595

[2015-11-18 19:51] iwehrman opened #3269 "Closing last document does not clean up border policies"
![img](https://s3.amazonaws.com/f.cl.ly/items/0z2A2J010I2z281m062t/Screen%20Recording%202015-11-18%20at%2011.51%20AM.gif)

[2015-11-18 20:16] iwehrman opened #3270 "Guide policies misaligned"
On a 5k retina iMac with `font-size: 62.5%`, the guide policy areas are consistently misaligned:
![image](https://cloud.githubusercontent.com/assets/1075154/11253032/20afbe4a-8dee-11e5-9d66-abca4899c571.png)

[2015-11-18 20:28] shaoshing opened #3271 "Selecting a layer group may result in collapsing the group."
This occurs on some layers.

![select-layer](https://cloud.githubusercontent.com/assets/118264/11253313/92883898-8def-11e5-8378-9c0862b0f7c4.gif)

Reproduce
1. open `VermilionArtboards.psd`
2. expand art board `Desktop Large` while holding OPT key
3. scroll to `Fashion` group (it should be expanded)
4. select the group, and it is selected but also collapsed

[2015-11-18 20:34] shaoshing opened #3272 "Open search dialog throws "Translation not found" error"
We don't seems to have the translation key `menu.FILE.OPEN_RECENT.19`, the maximum number is 16.

![screen shot 2015-11-18 at 12 32 38 pm](https://cloud.githubusercontent.com/assets/118264/11253459/84a5f5fc-8df0-11e5-8315-dcbf2f323a38.png)

[2015-11-18 20:36] DivyaPrabhakar commented on #3272
I was just about to create the same issue.

[2015-11-18 20:50] shaoshing commented on #3110
This seems not working again with the latest master and dev 886. The first bad commit is 16fa189c3dadae1737649de366fb4137f4a41f07, but I may be wrong because I don't see anything suspicious in the commit.

[2015-11-18 23:04] ktaki opened #3276 "Error on Clear Guides"
Create a new doc, add a guide, and run View->Clear Guides.

Action guides.clearGuides failed: Error: Photoshop returned an error when playing command number: 1 Photoshop code: -1 Photoshop message: error: -1 message: Could not complete the Clear All Guides command because of a program error.

![screen shot 2015-11-18 at 3 01 35 pm](https://cloud.githubusercontent.com/assets/2029597/11257297/85ddc4

[2015-11-18 23:12] shaoshing commented on #1698
@iwehrman in the latest dnd code, we are getting the element from the mouse move event `event.target`, which works the same as `Document.elementFromPoint` but is faster as the result is already there in the event.

[2015-11-18 23:12] #1698 closed

[2015-11-18 23:15] ktaki opened #3277 "Blue regions for guide creation still available after Show Guides is turned off"
The blue regions for creating guides still be shown after Show Guides is turned off in the View menu until layer selection is changed on canvas or in the Layers panel. It should be turned off immediately after the command is executed. This also happens when Show Guides is turned on. The blue regions are not available till a layer is selected, or layer selection is changed.

[2015-11-18 23:28] ktaki opened #3278 "Cannot marquee select with superselect tool"
Create a new doc. Add two shape layers. With superselect tool, try marquee select the two shape layers on canvas. It fails.

[2015-11-18 23:44] ktaki opened #3279 "Lost blue circle-plus icons for adding artboards"
Create an artboard and select it. No blue circle-plus icons shown.

[2015-11-19 00:08] chadrolfs opened #3281 "focus lost after setting color via color picker"
new doc
drag out 2 rect shapes
click on Fill color and click to set color
press Shift + Tab

Result: focus switches to other rect shape

[2015-11-19 00:08] chadrolfs commented on #3281
![colorpicker-lostfocus](https://cloud.githubusercontent.com/assets/8442631/11258518/9772834e-8e0e-11e5-9435-657f5288dbde.gif)

[2015-11-19 00:09] chadrolfs commented on #3281
happens on 16.1 GM (r.301)

[2015-11-19 00:19] chadrolfs commented on #3279
dupe of #3251

[2015-11-19 00:30] #3279 closed

[2015-11-19 15:16] iwehrman commented on #3256
After the fix for this in #3261, there are now a bunch of string keys that just map N -> N and I can't figure out why. This seems like useless cruft. Back to @pineapplespatula to clean it up.

[2015-11-19 19:28] iwehrman opened #3284 "Expanding/collapsing layers is slow"
Especially expanding, and especially when option-clicking to expand all descendants. It's very easy to make this take > 1s.

[2015-11-19 22:25] iwehrman opened #3286 "Scrubby mixin is handling all window mousemove events"
The Scrubby mixin is intercepting ALL window mousemove events because it is registering itself on the window at component mount time. Instead, it should only register this handler when you mousedown on the input's label and unregister the handler on mouseup.

[2015-11-20 18:02] iwehrman opened #3289 "history.revertCurrentDocument is slow"
This is a "request for investigation". When I load Design Space with a dirty copy of Vermilion, `documents.beforeStartup` takes 1.3s. However, if I then ~~undo/~~revert, there is a history cache miss and `history.revertCurrentDocument` is called, and this takes 6.3s. Why is this so much slower than `documents.beforeStartup`? It feels like I should know this off the top of my head but I don't. Obvi

[2015-11-20 20:52] iwehrman opened #3290 "Export metadata should be loaded lazily"
Currently helper functions like `_getLayersForDocument` load "extension" metadata for _all_ layers. Instead, it should only load this metadata for selected layers, and `initializeLayers` (or something similar) should be used to initialize this data when the layer is first selected.

CC @mcilroyc

[2015-11-20 21:58] iwehrman opened #3291 "Loading Design Space mysteriously opens selected layer group on second reload"
1. Open Vermilion.
2. Collapse all groups then select one top level closed group.
3. Reload Design Space. The group is probably still selected and collapsed.
4. Reload Design Space again. The group is open and all of its descendants are selected. Going back to Photoshop confirms that, indeed, the group is open and descendants are selected.

:banana: :banana:

[2015-11-22 23:50] placegraphichere commented on #3272
Same

[2015-11-23 05:37] placegraphichere commented on #3217
This issue is a lot of fun. Seems that I can easily embed CSS into the SVG that will do the same animation. Problem is we do the `<use>` thing in order to place svg. The embedded CSS animation gets cut when you do that for some reason. Example of that will work in preview/browser, but not in `<svg><use>` that we have in Design Space:

---

`<svg version="1.1" id="loader" xmlns="http://www.w3.org/2

[2015-11-23 05:40] placegraphichere commented on #3217
Here's a quick look at the `use` element with the CSS stripped out:
<img width="908" alt="screen shot 2015-11-22 at 11 38 45 pm" src="https://cloud.githubusercontent.com/assets/3229167/11330523/43717b94-9172-11e5-9642-150083eed844.png">

[2015-11-23 16:51] shaoshing commented on #1802
Fixed by #3273

[2015-11-23 16:51] #1802 closed

[2015-11-23 18:15] volfied commented on #3264
Shoud be fixed with #3294

[2015-11-23 19:16] ktaki commented on #3264
Verified the fix.

[2015-11-23 19:16] #3264 closed

[2015-11-23 20:00] iwehrman commented on #3269
Over to @chadrolfs to verify.

[2015-11-23 21:16] ktaki opened #3296 "Linespacing and Letterspacing in tooltips"
These words are used in the tooltips for leading and tracking in the appearance panel for text layers. These should be corrected to "Line Spacing" and "Letter Spacing"

[2015-11-23 22:30] iwehrman commented on #3289
I now see that this only happens for `history.revertCurrentDocument` and not for `edit.undo`. And, after examining the transfer log, I see that we aren't spending any more time in the former in JavaScript than the latter. I guess Photoshop's revert command is just really slow! So, probably we should just close this, unless anyone thinks it would be worthwhile to log a JIRA but for this, or just se

[2015-11-24 15:26] mcilroyc commented on #3276
related(?): I get an error when *creating* the first guide on a new document.  Almost certainly related to #3274   - I'll investigate further.

[2015-11-24 15:33] #3290 closed

[2015-11-24 21:00] volfied commented on #3251
Something changed and we no longer get OS.externalMouseMove events, I'm looking at it.

[2015-11-24 21:00] volfied commented on #3251
https://github.com/adobe-photoshop/spaces-design/issues/3278 is a dupe of this.

[2015-11-24 21:00] volfied commented on #3278
Dupe of #3251

[2015-11-24 21:00] #3278 closed

[2015-11-24 21:16] volfied commented on #3251
https://jira.corp.adobe.com/browse/PS-306

[2015-11-24 21:45] ktaki commented on #3296
Verified the fix.

[2015-11-24 21:45] iwehrman commented on #3276
FBNC to @ktaki.

[2015-11-24 22:34] #3269 closed

[2015-11-24 22:52] ktaki commented on #3276
Verified the fix.

[2015-11-24 22:52] #3276 closed

[2015-11-24 23:02] tomwmcrae opened #3301 "When sampler tool is active, pressing <spacebar> shows "hand" cursor"
When sampler tool active, pressing <spacebar> shows "hand" cursor.

Seems that either:
A. The "hand" cursor should not be shown as panning is disabled
             or
B. The "hand" cursor is shown and the user is allowed to pan around to find other "source" objects for sampling.

[2015-11-24 23:41] #3254 closed

[2015-11-24 23:46] mcilroyc commented on #3289
An observation: revert does not simply step back to the last-saved history state, but in fact creates a *new* history state based on the last saved document.  That doesn't really explain *why* it is slow, but is an indication that it is "different"

[2015-11-24 23:58] pineapplespatula opened #3303 "Panning on canvas disconnects superselect overlay from layers"
If you select the superselect tool and while hovering over layers you pan the canvas you can easily create a state where you see things like
![screen shot 2015-11-24 at 3 48 41 pm](https://cloud.githubusercontent.com/assets/1008531/11384380/12e92460-92c4-11e5-8481-728b7485bc57.png)

[2015-11-25 00:05] pineapplespatula commented on #3303
@volfied I'm having trouble reproducing this consistently since it seems like there are other issues with overlays in master.

[2015-11-25 15:55] mcilroyc opened #3305 "Undo of export asset configuration changes are not reflected in PS"
CRUD operations on export assets create history states in both DS and PS.  However they don't actually work as expected in PS.

1. Add an export asset to a layer
1. Undo
1. Switch to PS Classic then back to DS (Or save the document and close / re-open)
1. Note the asset still exists

[2015-11-25 16:17] volfied commented on #3303
Highlighting does not work currently due to us not receiving `OS.externalMouseMove` events. However, you can confirm that UI updates w.r.t panning by turning on Policy Frames in Help menu.

Can you confirm that in master, with Help>Show Policy Frames the policies don't update as you pan?

[2015-11-25 16:55] pineapplespatula commented on #3303
border policies update correctly on drag in master

[2015-11-25 17:41] shaoshing opened #3307 "Undo re-order of uninitialized layers failed"
When you re-order an uninitialized layer and hit undo, the LayerPanel is not updated until you click on the item to trigger an update. Please see video for repro steps:

https://www.dropbox.com/s/p7qbxxv4td99fzy/layer-reorder-undo.mov?dl=0

[2015-11-25 18:35] iwehrman commented on #3268
FBNC to @ktaki.

[2015-11-25 18:47] ktaki commented on #3268
Verified the fix.

[2015-11-25 18:47] #3268 closed

[2015-11-25 19:00] chadrolfs commented on #3296
not seeing this fixed on current master.  did it just re-break?

[2015-11-25 19:02] placegraphichere commented on #3296
Should be seeing something like this:

![screen shot 2015-11-25 at 1 01 55 pm](https://cloud.githubusercontent.com/assets/3229167/11406782/c2954de8-9374-11e5-92f3-33e929c422ed.png)
![screen shot 2015-11-25 at 1 01 49 pm](https://cloud.githubusercontent.com/assets/3229167/11406781/c2948250-9374-11e5-9698-5b987129d556.png)

[2015-11-25 19:13] chadrolfs commented on #3296
doh, i was loading the webpack repo instead of design-space

[2015-11-25 19:13] #3296 closed

[2015-11-25 22:00] ktaki opened #3309 "Deleting vector mask fails"
Open an image doc. Enter vector mask mode.
Select Ellipse tool and draw an ellipse mask path.
With Select tool, double-click inside the ellipse
Click on a path handle and move it to expand or reduce the masked area.
With the direction lines still visible, press 'm' to exit vector mask mode. (Note that the direction lines do not disappear after exiting the vector mask mode. This might be the root c

[2015-11-25 22:09] ktaki commented on #3309
This is said to be fixed in PR #3304. To be verified when merged.

[2015-11-29 21:14] iwehrman opened #3310 "Libraries panel fails to load after Creative Cloud app update"
The Creative Cloud app was updated automatically, and now I see this in the console when loading Design Space:

[code]
Consequently, the Libraries panel does not work because it thinks I need to log into Creative Cloud, even though I am indeed logged in via the desktop app. The problem seems to go away if I restart Photoshop, but not just if I reload Design Space. This may well be a CC Libraries A

[2015-11-29 21:36] iwehrman opened #3311 "Error activating pen tool second time"
1. Reload Design Space with the pen tool acitve.
2. Activate to any other tool.
3. Activate the pen tool.

Result:
[code]

[2015-11-29 22:24] iwehrman opened #3312 "Marquee selection is broken"
1. Create a new document.
2. Click and drag within the document canvas.

Expected: a marquee selection rectangle.
Result: nothing.

The `select.drag` action is at least being called.

[2015-11-29 22:31] iwehrman opened #3313 "Tool activation is slow"
The time to update the toolbar when switching tools is terrible. The `tools.selectAction` action seems to take at least ~400ms, and we don't dispatch to the stores to update the React components until the very end of that. Consequently, the total time to switch tools is probably something like 700ms, which is abysmal.

[2015-11-30 15:26] iwehrman commented on #3310
Offline, @jsbache guesses plausibly that this is related to Photoshop being required to but failing to request a new access token.

[2015-11-30 16:54] chadrolfs commented on #3312
related to #3158

[2015-11-30 16:54] shaoshing commented on #3272
Duplicate with #3256

[2015-11-30 16:54] #3272 closed

[2015-11-30 18:24] chadrolfs commented on #3251
related to #3312

[2015-11-30 18:27] volfied commented on #3212
As the last screenshot shows, this is related to the bounds not updating correctly. Make sure to keep Help > Show Policy Frames enabled to see whether bounds are correctly updating as you resize the expanded layers.

[2015-11-30 18:30] chadrolfs commented on #3149
blocked due to highlighting being broken

[2015-11-30 18:37] volfied commented on #3309
@pineapplespatula, since #3304 is a bigger PR and will be in the cycle for a while, can you make a separate PR for fixing this issue? It's your single `.bind(this)` line in actions/mask.js as the stack trace shows.

We'd like to get this in before end of week so it's fixed in the next push to Perforce.

[2015-11-30 18:39] chadrolfs commented on #3303
related or dupe of #2754?

[2015-11-30 18:54] #3211 closed

[2015-11-30 18:57] iwehrman commented on #3118
Fixed by #3170.

[2015-11-30 18:57] #3118 closed

[2015-11-30 19:15] ktaki opened #3318 "Cannot create new layers"
With the latest pg-Dev Mac build #906 and master branch (#3315, feec60e), new layers cannot be created with shape tools, pen tool, or type tool. The pg-Dev Mac build #906 itself does not have the issue.

[2015-11-30 19:23] iwehrman commented on #3311
Over to @chadrolfs to verify.

[2015-11-30 19:26] ktaki commented on #3318
This does not happen with the Mac build #903. Could this be a Core issue caused by tristam's submissions?

[2015-11-30 19:35] iwehrman commented on #3318
Is there a warning/error/stack trace in the console?

[2015-11-30 19:38] ktaki commented on #3318
No errors are shown in the console.

[2015-11-30 20:13] iwehrman commented on #3318
Seems to work again in pgdev 908.

[2015-11-30 20:20] ktaki commented on #3318
Well, not with my machine. So, you cannot reproduce this? I will try with other machine.

[2015-11-30 20:39] shaoshing opened #3319 "Unable to transform layer group if it has layer with missing font"
Everytime when you try to grab the transform handles, the modal dialog shows up and interrupts your action.

![missing-font](https://cloud.githubusercontent.com/assets/118264/11483772/29bcd052-975f-11e5-8ba9-2f41395ba0eb.gif)

[2015-11-30 21:10] chadrolfs commented on #3319
dupe of #2686

[2015-11-30 21:11] #3319 closed

[2015-11-30 21:31] chadrolfs commented on #3318
yeah, i can repro this bug with pgdev.910 with master @ feec60e

[2015-11-30 21:34] ktaki commented on #3318
@chadrolfs: Good to hear you can repro. Windows seems working fine. Have you tried on Win?

[2015-11-30 21:35] chadrolfs commented on #3318
start with Select tool, reset DS, hit r to switch to Rect tool, try to draw a shape.

if you reset DS and you already have a shape tool active, you can create shapes.

[2015-11-30 21:43] ktaki commented on #3318
Thanks for clarifying the steps. Windows has the same issue.

[2015-11-30 23:12] shaoshing commented on #3259
Might related to #3251 because I also see this in regular document. Will check again once #3251 is resolved.

[2015-11-30 23:13] shaoshing commented on #3259
![screen shot 2015-11-30 at 3 13 09 pm](https://cloud.githubusercontent.com/assets/118264/11487559/e8bc45ae-9774-11e5-8f58-5080df7be8f0.png)

[2015-11-30 23:15] volfied commented on #3318
Can repro on Mac with Chad's steps.

[2015-11-30 23:24] volfied commented on #3318
We have a foreign PROP_TO_BROWSER leftMouseDown policy whenever we start with superselect tool, it doesn't go away, and breaks things. This is the cause, I'm working on it now.

[2015-11-30 23:32] shaoshing commented on #3271
JIRA: https://jira.corp.adobe.com/browse/PS-439

[2015-11-30 23:34] shaoshing commented on #3271
These groups appears to be expanded, but switching to classic shows that they are actually collapsed.

[2015-11-30 23:43] shaoshing commented on #3312
Fixed by #3320.

[2015-11-30 23:44] shaoshing commented on #3251
Fixed by #3320

[2015-11-30 23:44] shaoshing commented on #3259
Fixed by #3320

[2015-12-01 00:03] volfied commented on #3212
FBNC to @chadrolfs

[2015-12-01 00:45] shaoshing opened #3324 "Datalist: typing the first character does not filter the dropdown list"
![datalist](https://cloud.githubusercontent.com/assets/118264/11489172/b661ec6e-9781-11e5-8ed5-2fcbb8b0c4d7.gif)

[2015-12-01 01:53] iwehrman commented on #3318
FBNC to @ktaki.

[2015-12-01 17:09] volfied commented on #3291
I'll take a look at this.

[2015-12-01 17:18] volfied commented on #3291
Can't repro on my machine, with Vermillion, and adventureguide psds.

[2015-12-01 17:43] ktaki commented on #3318
Verified the fix.

[2015-12-01 17:43] #3318 closed

[2015-12-01 17:52] volfied commented on #3253
There is one bug in our adapter side, where lib/document.js `openDocument` was not constructing the descriptor correctly, showing the above error. But there is still a problem opening these files, so I will have to look at PS sources to figure out what's going on. But it's mainly a core problem.

[2015-12-01 19:08] shaoshing opened #3325 "Datalist: wrong position when the dropdown list is above the input"
Dropdown list should update its position to bottom align with the input below, when its height changed.

![datalist-dropdown](https://cloud.githubusercontent.com/assets/118264/11511022/784d73d6-981b-11e5-87bf-f9984d0a9672.gif)

[2015-12-01 20:15] ktaki opened #3327 "Layer 1 remains when new layer is created after undo"
Create a new artboard doc.

![screen shot 2015-12-01 at 11 30 31 am](https://cloud.githubusercontent.com/assets/2029597/11512652/f60703fc-9823-11e5-910d-f3954024d49c.png)

Add a rectangle layer.
Layer 1 is replaced. This is correct behavior.

![screen shot 2015-12-01 at 11 30 47 am](https://cloud.githubusercontent.com/assets/2029597/11512659/fde954ee-9823-11e5-8b73-8f25e8bb155f.png)

Cmd-z to undo

[2015-12-01 20:19] iwehrman commented on #3311
Does that mean you get the same error, @chadrolfs?

[2015-12-01 20:43] chadrolfs commented on #3311
not fixed.  errors on step 1 above.

[2015-12-01 20:44] chadrolfs commented on #3311
as soon as you reload with pen tool

[2015-12-01 20:44] chadrolfs commented on #3311
`Transfer from tools.select to toolPen.select failed: Error: Photoshop returned an error when playing command number: 1 Photoshop code: -25920 Photoshop message: error: -25920 message: The command “Deselect” is not currently available.`

[2015-12-01 21:00] chadrolfs opened #3328 "Opening file where artboard is selected by default blinks adders (resetBorderPolicies x2)"
new doc
drag a LLSO (that is an artboard assets selected by default) onto canvas (note it auto-commits)
hit Enter (opens LLSO)

Result: blink of adders (reset border policy twice)

![llso-openedit-blink](https://cloud.githubusercontent.com/assets/8442631/11514007/37ddad1a-982b-11e5-9314-1e37640918ef.gif)

[2015-12-01 21:02] chadrolfs commented on #3328
![screen shot 2015-12-01 at 1 02 54 pm](https://cloud.githubusercontent.com/assets/8442631/11514142/d20f8ca0-982b-11e5-9041-43c9d79115a4.png)

[2015-12-01 21:03] #3259 closed

[2015-12-01 21:06] #3251 closed

[2015-12-01 21:08] #3086 closed

[2015-12-01 21:11] #3212 closed

[2015-12-01 21:28] iwehrman commented on #3311
I do not see that. Also, you're seeing a different error message, so I assume this is a different bug. Do you need to be in any particular state to repro?

[2015-12-01 21:30] iwehrman commented on #3311
This seems to be related to masks. It only triggers when loading with the pen tool and without an active document.

[2015-12-01 21:31] iwehrman commented on #3311
Also, this repros in PS 16.1. I think we should prepare a 16.1.1 patch for this.

[2015-12-01 21:35] iwehrman commented on #3311
This is the offending line: https://github.com/adobe-photoshop/spaces-design/blob/6a130737d9afc13f926c658e244ea9612e0d488d/src/js/actions/tool/pen.js#L93

[2015-12-01 21:43] iwehrman opened #3329 "Startup failure with pen tool and no doc"
1. From standard PS, select the pen tool
2. Switch to Design Space.

Result: complete failure.
[code]

More details are at the bottom of #3311.

[2015-12-01 21:44] iwehrman commented on #3311
Opened #3329 for the new bug. This one is FBNC to @chadrolfs again.

[2015-12-01 21:48] iwehrman commented on #3329
The offending line: https://github.com/adobe-photoshop/spaces-design/blob/6a130737d9afc13f926c658e244ea9612e0d488d/src/js/actions/tool/pen.js#L93

[2015-12-02 00:19] volfied commented on #3253
So, this has two fixes.

One is in playground-dev, CL 1054573, and adds the document ID to all open PDF/AI descriptors.
Other is in spaces-adapter, https://github.com/adobe-photoshop/spaces-adapter/pull/170, which will fix the open recent showing Open dialog problem.

[2015-12-02 00:26] #3311 closed

[2015-12-02 14:34] placegraphichere opened #3331 "Export Presets on 2x artboards need to adjust export sizes accordingly"
- create artboard, say for an iPhone6
- create artwork
- add iOS preset exports on the artwork
- artwork will think it's at 1x, but should be at 2x since the templates are sized at 2x

- expected: artwork should respect the artboard "x" size and scale up/down accordingly for each asset

-User feedback:
https://twitter.com/manfredalbrecht/status/672005189285584896

I think I know what we can do her

[2015-12-02 17:16] iwehrman commented on #3307
Over to @chadrolfs to verify.

[2015-12-02 17:27] volfied opened #3332 "Drag/drop place auto commits based on active tool"
Drag a graphic from libraries to the canvas, and let go of the mouse.

If we're in rectangle tool, it goes into modal state
If we're in superselect tool, it auto commits.

@placegraphichere please advise on the right behavior.

[2015-12-02 18:31] pineapplespatula opened #3333 "Change the name of SuperSelectOverlay."
Currently the super select overlay only draws the hover rectangles while the super select tool is up. We should rename it to superSelectHover or something similar to distinguish its purpose from its client

[2015-12-02 20:45] mcilroyc commented on #3329
Assigning to @chadrolfs to validate

[2015-12-02 21:19] placegraphichere commented on #3332
Should be the same behavior in both. Should place and not need the commit when in rect tool.

[2015-12-02 21:45] iwehrman opened #3338 "StoreWatchMixin broken after controller reset"
After the controller resets due to an error, React components that registered for changes via the `StoreWatchMixin` no longer receive change events. To test:

1.` Help > Test Action Failure`
2. Zoom in or out and observe that the `Zoom` component in the toolbar does not change.

[2015-12-02 22:27] volfied commented on #3328
Well, I am completely baffled by this. Problem is, for a brief second, uiStore disables overlays, and this causes Scrim to re-render and render `null` for the superselectOverlay. Then the overlaysEnabled turns on again, and Scrim re-renders the superselectOverlay correctly, causing the blink.

I thought this was a draw debouncing issue, or fix could be provided there, but because React is unmounti

[2015-12-02 22:41] #3154 closed

[2015-12-02 23:12] ktaki opened #3339 "Pixels appear to be on the borderlines of panels in single column mode"
On MacBook Pro retina display.

<img width="286" alt="screen shot 2015-12-02 at 3 01 19 pm" src="https://cloud.githubusercontent.com/assets/2029597/11547160/c27060d6-9906-11e5-8cd0-56b9a0f1ba61.png">

[2015-12-02 23:20] pineapplespatula opened #3340 "entering and exiting vector mask mode rapidly causes a transfer error"
Method
create file with pixel layer
Press M a number of times very rapidly

transfer fails because of modal state
<img width="491" alt="screen shot 2015-12-02 at 3 18 53 pm" src="https://cloud.githubusercontent.com/assets/1008531/11547359/11e33db8-9908-11e5-8c95-bce7e6b8dd86.png">

[2015-12-02 23:23] iwehrman commented on #3329
We might want to leave this open until it's been fixed on the release branch.

[2015-12-02 23:24] iwehrman commented on #3329
Back to @pineapplespatula for the release fix as well.

[2015-12-02 23:53] ktaki opened #3342 "Cannot undo transforming object placed with Place Linked and Place Embedded"
Create a new doc. Place a file using Place Linked or Place Embedded command under File menu. Without committing it (by hitting enter key,) do resize, move, and rotate the placed object. Do Cmd-z a few times. These actions cannot undo. Undo actions are queued however. Hitting enter key will execute the undo actions. As a result, placed object is gone and subsequent undo will produce errors.

![scre

[2015-12-02 23:56] volfied commented on #3238
FBNC to @chadrolfs

[2015-12-03 00:01] volfied commented on #3338
This only happens with UI store, as far as I can tell.. hmmm

[2015-12-03 00:26] #3307 closed

[2015-12-03 00:34] chadrolfs commented on #3238
hmm, this doesn't look fixed.  pgdev.915 master @ 62e89f2

[2015-12-03 00:36] chadrolfs commented on #3238
still works oppositely (as stated in steps above)

[2015-12-03 02:00] ktaki opened #3344 "Faded letters shown on the New Folder button"
A dialog for selecting a location for saving exported assets on Mac has "New Folder" button that shows faded letters behind "New Folder".

Select a layer with export asset defined. Click on export icon in the Export panel.

<img width="127" alt="screen shot 2015-12-02 at 3 17 10 pm" src="https://cloud.githubusercontent.com/assets/2029597/11549792/086009f4-991e-11e5-8aab-f98f1db5ef58.png">

[2015-12-03 02:02] iwehrman commented on #3344
Dupe of #3059.

[2015-12-03 02:02] #3344 closed

[2015-12-03 02:17] iwehrman opened #3345 "Artboard add buttons are hard to see with light theme"
![image](https://cloud.githubusercontent.com/assets/1075154/11550063/ca8985f8-9920-11e5-9356-67e72c822a6c.png)

In practice, they're harder to see than the image implies because they're half that size.

[2015-12-03 04:11] iwehrman opened #3346 "Wire scrubby sliders up to opacity and rotation inputs"
Currently scrubby sliders are wired up to the X/Y inputs. They should be wired up to the other number inputs as well:

- [ ] Width
- [ ] Height
- [ ] Rotation
- [ ] Opacity
- [ ] Radius
- [ ] Vector stroke size
- [ ] Text size
- [ ] Text leading
- [ ] Text tracking
- [ ] Shadow X
- [ ] Shadow Y
- [ ] Shadow blur
- [ ] Shadow spread
- [ ] Fx stroke size

[2015-12-03 15:46] iwehrman commented on #3338
Fixed by #3343.

[2015-12-03 15:46] #3338 closed

[2015-12-03 15:49] iwehrman commented on #3328
FBNC to @chadrolfs.

@volfied: Yes, I think we could try that. I did try that before, but then ran into _other_ issues. By the time I gave up I'd unraveled half of the sweater.

[2015-12-03 15:49] designedbyscience commented on #3324
Confirmed fixed

[2015-12-03 15:49] #3324 closed

[2015-12-03 17:48] volfied commented on #3270
hey @iwehrman can you test this to see whether the scroll changes outside those lines?

[2015-12-03 17:57] volfied commented on #3149
@chadrolfs Tried couple times and I can't repro this. If you can, can you add more precise steps?

[2015-12-03 20:11] ktaki opened #3350 "X and Y values not shown if they are set to zero and ref point is center"
Draw a shape. In the property panel, set the reference point to center. Enter 0 to X field and hit return. Repeat for Y. The both show empty fields.

![screen shot 2015-12-03 at 12 03 30 pm](https://cloud.githubusercontent.com/assets/2029597/11572440/2d0c4ea0-99b6-11e5-9ac2-d557a94df169.png)

[2015-12-03 20:15] iwehrman opened #3351 "D3 + guides error when resizing window"
With guides enabled, if I resize the window to be fairly small I get these warnings:
![image](https://cloud.githubusercontent.com/assets/1075154/11572680/5caf68ee-99b7-11e5-8ead-ab33b3797066.png)

[2015-12-03 20:22] placegraphichere opened #3352 "While Editing text, clicking off text area should commit changes"
Create and edit text, clicking off the text (but still on canvas) should commit and select what is clicked, or select none if there's nothing there. This would speed ability to select other layers and continue work.

Needs input on whether we should use double click or single click.

Slack User feedback

[2015-12-03 20:24] iwehrman commented on #3352
It should be single click to match the behavior of dismissing superselect edit mode. I think this requires core support.

[2015-12-03 20:34] chadrolfs commented on #3329
logged for 16.1.1 approval: https://watsonexp.corp.adobe.com/#bug=4095576

[2015-12-03 20:55] chadrolfs commented on #3149
Odd, I can repro on 2 different machines

[2015-12-03 20:57] chadrolfs commented on #3149
close all open doc, reset DS, then start from the top.  There aren't really any additional steps to what's above.

[2015-12-03 21:01] volfied commented on #3256
Back to @iwehrman to close

[2015-12-03 23:13] ktaki opened #3354 "Background color setting popup menu"
Should this be disabled? (Open new doc and right click outside of doc area.)

![screen shot 2015-12-03 at 2 50 52 pm](https://cloud.githubusercontent.com/assets/2029597/11576761/f0e57a4c-99cd-11e5-8dd5-33f9045c63c9.png)

Or, remove "Select Custom Color" menu item which brings up Standard Ps color picker?
Or, bring up DS color picker?

![screen shot 2015-12-03 at 2 50 32 pm](https://cloud.githubuse

[2015-12-03 23:21] iwehrman commented on #3354
I actually saw that called out as a feature on the Helpx page and thought "that should be suppressed". Hmm...

[2015-12-03 23:22] volfied commented on #3158
@chadrolfs Is this fixed alongside all other highlighting/marquee fixes?

[2015-12-03 23:25] ktaki commented on #3354
At least some of the options in the color picker are not relevant for DS. You can also add a color to CC lib from this UI in which the CC lib is currently selected in standard Ps, not in DS.

[2015-12-03 23:41] volfied opened #3355 "Shrinking window past a certain point breaks calculated canvas rectangle"
Watch the magenta rectangle:

![](https://s3.amazonaws.com/f.cl.ly/items/1q0D2a472Z163k353747/Screen%20Recording%202015-12-03%20at%2003.39%20PM.gif)

[2015-12-04 00:06] ktaki opened #3357 "Artboards get clipped outside original area after transform"
I do not know how to describe this, but please follow the steps to reproduce. Feel free to change the title.

New AB doc
Add a rectangle
Set W to 300
tab
Set H to 300
tab
Set X to 0
Hit return
Cmd-z
V to select superselect tool
Cmd-A
Grab the artboard title to move artboard

![screen shot 2015-12-03 at 4 02 40 pm](https://cloud.githubusercontent.com/assets/2029597/11578115/5c1c5688-99d7-11e5-9990-

[2015-12-04 00:28] volfied commented on #3357
Happens on Core as well (as in, you can switch to core, and it stays that way. We should let the artboards team know of this issue.

[2015-12-04 00:40] ktaki commented on #3357
Yes, it stays that way when switched to standard Ps, but I cannot make it happen in standard Ps. Note that this does not happen with 16.1 GM DS. I can contact cjb.

[2015-12-04 04:41] placegraphichere opened #3358 "Copy Paste from other docs often places layers out of view"
- copy layer from a doc
- paste into another doc
- layers often position out of sight, off the visible canvas

- expected: should be either at the relative 0,0 of the canvas rect, or (maybe more probably) centered in the current canvas rect

Slack user feedback

[2015-12-04 17:51] chadrolfs commented on #3158
no, this is still an issue with current resources, pgdev.921 master @ dd265a7

[2015-12-04 17:52] #3328 closed

[2015-12-04 19:02] iwehrman commented on #3351
Over to @chadrolfs to verify.

[2015-12-04 19:03] chadrolfs commented on #3331
https://watsonexp.corp.adobe.com/#bug=4096099 for 16.1.1 BRC

[2015-12-04 20:15] cameronmcefee opened #3360 "Off-topic question"
I just stumbled across this project today when digging through the core Photoshop files. Looking at this repo, I'm curious how the tech of the project all works together. Disclosure: I'm the developer of [GuideGuide‌](http://guideguide.me).

For years I've been vexed by ActionDescriptors and whatnot. There have been a few recent Photoshop releases that include awesome upgrades to the guide system

[2015-12-04 20:28] volfied commented on #3360
Hi @cameronmcefee. Spaces works by Photoshop exposing us a `_spaces` object in the global space that allows us to play ActionDescriptors. With `spaces-adapter`, we try to simplify/centralize all our ActionDescriptor code so it acts as both a library and a documentation.

We do not render any of the guides ourselves, and use Photoshop canvas to render them. We also pass the mouse events to Photosho

[2015-12-04 20:55] iwehrman commented on #3360
Hi @cameronmcefee! First of all, GuideGuide is very cool. Thanks for building it for Photoshop!

    Put in another way, if I were to spend the effort to reverse engineer how you're doing things
    like getting and setting artboard specific guides or rendering previews of guides, could I use
    them in regular Photoshop, or are they unique to the Spaces ecosystem?

There isn't currently a way to

[2015-12-04 21:01] cameronmcefee commented on #3360
@iwehrman Thanks for the explanation! What you describe is what I was figuring/hoping would be the case. While I'm not super sharp with `ActionDescriptor`-style, knowing that there is parity is a handy start.

Thanks for your offer to help. I'll do my best not to abuse your offer. You can expect an email from me soon!

[2015-12-04 21:01] #3360 closed

[2015-12-04 21:03] jsbache commented on #3360
Hi @iwehrman and @cameronmcefee some details.
Designspace use a json serialization for action descriptors, action references, and action lists. We have support for going between that serialization and the ExtendScript support. The following shows how to do so:
function desc2json(descToConvert)
{
    var desc = new ActionDescriptor();
    desc.putObject(S("object"), S("object"), descToConvert );

[2015-12-04 21:12] volfied commented on #3277
I can't repro this, the overlays get cleared out correctly. Please confirm.

[2015-12-04 21:32] ktaki commented on #3277
CNR with current master. Closing.

[2015-12-04 21:32] #3277 closed

[2015-12-05 01:00] iwehrman opened #3363 "Add grunt task fast-debug"
Where `fast-debug` just starts the two watchers, doesn't bother to recompile the external dependencies, and doesn't recreate/recopy the build directory. In other words, `grunt fast-debug` would save time in some cases by assuming everything is already set up correctly, except that possibly your JavaScript and LESS files need to be recompiled.

This might be impossible, but who knows.

[2015-12-05 02:36] iwehrman opened #3364 "Search header text is hard to read in lighter themes"
![img](https://s3.amazonaws.com/f.cl.ly/items/1A133P2Y3w3O3g2w331O/Screen%20Recording%202015-12-04%20at%2006.35%20PM.gif)

![image](https://cloud.githubusercontent.com/assets/1075154/11605497/f2f2de72-9ab5-11e5-8637-deff1f57903c.png)

[2015-12-06 02:29] placegraphichere opened #3365 "Duplicate artboard with all content using opt+click on canvas ui"
Specifically the on canvas + buttons. This would follow standard Ps.

[2015-12-06 20:42] iwehrman opened #3366 "Webpack watcher aborts when compilation fails"
The webpack watcher currently aborts whenever compilation fails. This happens all the time during development, and it's quite frustrating to have to constantly re-start the watcher. It would be a lot cooler if it did not do this.

[2015-12-07 17:54] shaoshing commented on #3238
Hi @chadrolfs I am on dev 919 and it is working correctly. Can you give it a second try?
![screen shot 2015-12-07 at 9 47 18 am](https://cloud.githubusercontent.com/assets/118264/11634952/6eb1087c-9cc8-11e5-87ee-aa2f213d8e1e.png)
![screen shot 2015-12-07 at 9 47 26 am](https://cloud.githubusercontent.com/assets/118264/11634953/6eb44c80-9cc8-11e5-9e55-37bf93798571.png)

[2015-12-07 18:59] iwehrman opened #3372 "Shrinkwrap third-party dependencies"
We should start using the shrinkwrap feature of NPM to allow our tagged releases and archival branches to specify specific versions of our third-party dependencies. Recently we had trouble with an updated patch-version of the `jsdoc` grunt task returning new warnings on our archived release branch, which caused our CI tests to fail for PRs against that branch. A shrinkwrap file (updated at least f

[2015-12-07 19:00] iwehrman commented on #1356
@designedbyscience is this Fix In Progress?

[2015-12-07 19:00] iwehrman commented on #1383
@designedbyscience is this Fix In Progress?

[2015-12-07 19:00] iwehrman commented on #1383
CC @shaoshing

[2015-12-07 19:01] iwehrman commented on #1637
This is fixed due to a) improved process around updating our dependency versions; and b) getting rid of bower!

[2015-12-07 19:01] #1637 closed

[2015-12-07 19:02] iwehrman commented on #1445
These might be good candidates for your work on private actions. If, for some reason, they aren't then just close this.

[2015-12-07 19:03] iwehrman commented on #3066
Fixed by #3177.

[2015-12-07 19:03] #3066 closed

[2015-12-07 19:04] iwehrman commented on #780
This is now unblocked @volfied, @mcilroyc.

[2015-12-07 19:04] iwehrman commented on #3313
Fixed by #3315.

[2015-12-07 19:04] #3313 closed

[2015-12-07 19:04] #3312 closed

[2015-12-07 19:04] #3256 closed

[2015-12-07 19:04] iwehrman commented on #3231
Fixed by #3274.

[2015-12-07 19:04] #3231 closed

[2015-12-07 19:22] #3366 closed

[2015-12-07 19:23] volfied commented on #3363
So, there is no way for webpack to skip compiling files when it's first run. Tracked here: https://github.com/webpack/webpack/issues/250

Given that #3366 was just fixed, and how little time the dictionary merging takes (especially in debug when it's only English), I'm suggesting this is never fix at this point. @iwehrman

[2015-12-07 19:25] #3363 closed

[2015-12-07 19:53] placegraphichere opened #3375 "Layers Panel: CMD+SHIFT+] should scroll panel"
When moving layers with CMD+] or any of those variations, the layers panel should scroll to follow if necessary. If the layer/s are within the view in any way, then we should not scroll. It should only scroll when the selected layer is moved out of viewable range.

Ps standard does this.

[2015-12-07 20:03] placegraphichere opened #3376 "Multiple vector shapes in *same* layer should allow align tools"
Multiple shapes within a single shape layer should allow align tools. This is possible in Standard

---

Ds
![screen shot 2015-12-07 at 2 01 27 pm](https://cloud.githubusercontent.com/assets/3229167/11638189/1f1ff764-9ceb-11e5-8c96-8aad97d2aaa5.png)

---

Ps
![screen shot 2015-12-07 at 2 02 03 pm](https://cloud.githubusercontent.com/assets/3229167/11638190/1f24afa2-9ceb-11e5-9eca-a95f8348d864.png)

[2015-12-07 20:14] iwehrman commented on #3375
I'm surprised this doesn't already work. We should be scrolling to the new selection whenever it's out of view...

[2015-12-07 20:20] placegraphichere opened #3377 "Text Layer Editing: CMD+A should select all of the text"
- create text layer
- begin editing the text
- CMD+A does nothing

- Expected: CMD+A should select all of the text

[2015-12-07 20:24] placegraphichere commented on #3377
Looks like it actually defaults to marquee select, which we don't have in Ds. Upgrading the priority a bit because of that.

[2015-12-07 20:29] iwehrman commented on #3377
I can't reproduce this.

[2015-12-07 20:30] placegraphichere commented on #3377
I think I had my steps wrong, closing

[2015-12-07 20:30] #3377 closed

[2015-12-07 21:17] pineapplespatula opened #3378 "Vector mask HUD is very slow to come up"
It takes almost 850 ms for the vector mask hud to come up after entering vector mask mode.
<img width="189" alt="screen shot 2015-12-07 at 1 15 18 pm" src="https://cloud.githubusercontent.com/assets/1008531/11639954/cfb742be-9ce4-11e5-962e-7ebc1919c5f8.png">
<img width="342" alt="screen shot 2015-12-07 at 1 15 41 pm" src="https://cloud.githubusercontent.com/assets/1008531/11639953/cfb61d26-9ce4-11

[2015-12-07 22:07] ktaki opened #3380 "The lightest color theme is labeled as "Original""
In the menu Windows -> Color Theme. This is somewhat misleading.

[2015-12-07 22:10] volfied commented on #2754
I'd go even further and say that this is not a bug. We work with infinite canvas, and if you push the only leftmost artboard far enough right, PS will save on canvas space and remove some area from the canvas.

If our models are in sync with what PS is providing, and no bad behavior is being formed out of this, I suggest we close this.

[2015-12-07 22:12] volfied commented on #3110
@chadrolfs I know we sent this to Jesper, but can you re-confirm this bug exists. I see highlighting work correctly with and without cmd modifier.

[2015-12-07 22:29] iwehrman opened #3382 "Menu commands are broken in search"
![image](https://cloud.githubusercontent.com/assets/1075154/11641760/d9f4bcfc-9cee-11e5-8030-6b31534d881f.png)

CC @DivyaPrabhakar

[2015-12-07 22:29] ktaki opened #3383 "Editing vector mask path does not make the doc dirty"
Open an image file and add a vector mask. Save and close the doc and reopen it.
Enter mask mode and add another path (shape).
Exit mask mode.
Notice that the doc title in the doc bar does not have an asterisk, and the File -> Save command is dimmed.

[2015-12-07 22:40] iwehrman commented on #3380
I'm happy to change it! Internally this is how PS refers to the four color stops, and they aren't currently labeled in the UI anywhere. Any suggestions, @placegraphichere?

[2015-12-07 22:42] ktaki opened #3384 "Lost spinner on Export"
A spinner is no longer shown while exporting assets. This is the case for both quick export from Export panel and exporting from Export dialog.

[2015-12-07 22:48] volfied opened #3385 "React warns of Scrim's children without keys"
![](https://s3.amazonaws.com/f.cl.ly/items/2r1v1F1X2r3R2E323x3u/Image%202015-12-07%20at%202.45.49%20PM.png)

Each overlay we render for the tool requires a key, this might explain the slowness of vector mask overlay.

Also, since `_renderToolOverlay` now is able to render multiple overlays, the function and variable names should also be pluralized.

[2015-12-07 23:35] #3385 closed

[2015-12-07 23:57] mcilroyc commented on #3258
fixed by ref'd PR.  back to @ktaki

[2015-12-08 00:28] volfied commented on #3376
PS does not record these actions and only allows us to play them through `performMenuCommand`.

I'll work on hooking them up, but we may want to work with a core engineer to record these actions.

[2015-12-08 00:36] chadrolfs commented on #3110
with master @ 59efbdf using pgdev build 933, I'm seeing highlighting working correctly.

[2015-12-08 01:42] ktaki commented on #3258
Verified the fix.

[2015-12-08 01:42] #3258 closed

[2015-12-08 02:29] tomwmcrae commented on #3331
How will a user understand how the "0.33" and "0.67" additions will help them?

[2015-12-08 16:22] mcilroyc opened #3391 "Improve _layerTransformHandler to be an action, and properly debounced"
Do we still need to debounce this handler?  This may have been a workaround for quirky photoshop move / moveToArtboard behavior that has since been fixed.

see /src/js/actions/transform.js#L1271

[2015-12-08 16:26] mcilroyc commented on #3149
please validate, @chadrolfs

[2015-12-08 17:29] ktaki commented on #3357
Verified the fix.

[2015-12-08 17:29] #3357 closed

[2015-12-08 18:09] mcilroyc commented on #3384
@designedbyscience update here if think your work fixes this issue.

[2015-12-08 20:00] ktaki opened #3393 "Exported image is clipped"
Create a new artboard doc. Add an ellipse. Add a drop shadow. Select the artboard. add an export asset. Do export.

The image is clipped to the shape boundary. Note that exporting the ellipse layer does not have this issue.

<img width="462" alt="screen shot 2015-12-08 at 11 55 35 am" src="https://cloud.githubusercontent.com/assets/2029597/11666785/0dfb7964-9da3-11e5-9619-d3f4a553fbcd.png">

[2015-12-08 20:26] ktaki commented on #3350
Verified the fix.

[2015-12-08 20:26] #3350 closed

[2015-12-08 22:03] volfied commented on #3286
Grabbing from Jeffrey as I'm wiring up all the scrubbies.

[2015-12-08 22:18] ktaki opened #3394 "Errors entering vector mask mode"
One of today's merges might be the cause, or, could it be my build? Opening an image file and clicking Vector Mask icon will produce the following error.

<img width="1005" alt="screen shot 2015-12-08 at 2 13 48 pm" src="https://cloud.githubusercontent.com/assets/2029597/11670378/53cdf04e-9db6-11e5-85bd-2c3b22a5d66b.png">

[2015-12-08 22:28] ktaki commented on #3394
Thanks for the quick fix!

[2015-12-08 22:28] #3394 closed

[2015-12-08 22:58] chadrolfs opened #3396 "Application Frame setting not reset returning to standard PS"
launch in standard PS, uncheck Window > Application Frame
enter DS, return to standard PS
Result: Application Frame is now checked.
Expect: previous user specified setting to be honored

https://twitter.com/robedhapa/status/674352563630817280

[2015-12-08 23:22] chadrolfs commented on #3351
I'm still running into these but maybe only when Show Policy Frames is enabled (?).  I'm also seeing incomplete updates on resize.

![resize-policyunupdate](https://cloud.githubusercontent.com/assets/8442631/11671784/81e50504-9dbf-11e5-93f7-a782393583df.gif)

[2015-12-08 23:23] chadrolfs commented on #3351
![screen shot 2015-12-08 at 3 24 07 pm](https://cloud.githubusercontent.com/assets/8442631/11671809/a9d7a53a-9dbf-11e5-8d2e-a9533844cac1.png)

[2015-12-08 23:28] volfied opened #3397 "Hang on startup caused by a deadlock in beforeStartup actions"
This causes a hang, where cmd+r doesn't work as well, so you have to cmd+ctrl+` to switch and back.

Happens intermittently, which tells me there is a race condition, likely culprits are `ui.beforeStartup` and `ui.updatePanelSizes`

[code]

[2015-12-08 23:28] chadrolfs commented on #3238
I have the locked layer selected and I sample an unlocked layer and it samples when it shouldn't.

![locked-sample](https://cloud.githubusercontent.com/assets/8442631/11671890/347742ae-9dc0-11e5-976c-2be1de410d5f.gif)

[2015-12-08 23:55] chadrolfs commented on #3149
validated

[2015-12-08 23:55] #3149 closed

[2015-12-09 00:32] mcilroyc opened #3398 "Promise warnings during startup (again)"
During startup, it seems like we're getting the Promise related warnings again.  still?
![screenshot](http://cl.ly/image/3c2e3D2M0z3c/Image%202015-12-08%20at%206.30.51%20PM.png)

[2015-12-09 00:36] mcilroyc commented on #3398
only happens when npm linked to spaces-adapter.  @volfied

[2015-12-09 00:39] mcilroyc commented on #3382
looks fixed to me, but leaving with @iwehrman as one final check... and to make sure he didn't have some other concern with the underlying PR.

[2015-12-09 01:36] DivyaPrabhakar commented on #3187
@chadrolfs I am not able to repro this. I am using Mac build 936 and on master, here is what I see:

![](https://www.dropbox.com/s/p5kkonpj2w86i4g/xsearchbar.gif?raw=1)

[2015-12-09 17:51] mcilroyc commented on #3271
to @chadrolfs - note the required build of mac dev >= 932

[2015-12-09 18:58] chadrolfs commented on #3187
Instead of first hitting any alpha-numeric keys (letter "o") follow the step in the bug.  cmd/ctrl + f, then down arrow, click on Open Docs

[2015-12-09 19:00] chadrolfs commented on #3187
I can still repro on pgdev.936 and master @ d44c3f9

[2015-12-09 19:12] iwehrman commented on #3398
Pretty sure we need to `Promise.config` in spaces-adapter in the same way that we do in spaces-design.

[2015-12-09 19:52] shaoshing commented on #3339
Here is what I got for small window. Maybe we should consider setting minimum height for each panel and allow overflow if there is not enought space to fit all panels properly.

![screen shot 2015-12-09 at 11 49 54 am](https://cloud.githubusercontent.com/assets/118264/11696824/23496ace-9e6b-11e5-9c56-8466b2af7b7e.png)

[2015-12-09 20:02] #3271 closed

[2015-12-09 20:03] designedbyscience opened #3404 "Library Asset subtitles can push buttons out of view"
![untitled-1___66_7___rectangle_1__rgb_8____](https://cloud.githubusercontent.com/assets/22372/11697096/fed5f408-9e85-11e5-80dd-de36871f5eae.png)

[2015-12-09 21:35] volfied commented on #3238
FBNC to @chadrolfs

[2015-12-09 21:45] iwehrman opened #3406 "Datalist highlights are hard to read in lighter color stops"
![image](https://cloud.githubusercontent.com/assets/1075154/11699803/0c37c2da-9e7b-11e5-8c4e-b7e408a4319c.png)

[2015-12-09 22:09] iwehrman opened #3408 "Search menu command description localized strings are broken"
![image](https://cloud.githubusercontent.com/assets/1075154/11700395/63a59de6-9e7e-11e5-8fab-a4a2f616d23d.png)

[2015-12-09 22:09] iwehrman commented on #3408
CC @pineapplespatula @DivyaPrabhakar

[2015-12-09 22:18] iwehrman commented on #3384
FBNC to @ktaki.

[2015-12-09 22:19] iwehrman commented on #3217
Fixed by #3405.

[2015-12-09 22:19] #3217 closed

[2015-12-09 23:32] mcilroyc commented on #3325
@ktaki could you please eyeball this?  Fixed with recent PR.

[2015-12-09 23:33] mcilroyc commented on #3325
Note that the position issue is only visible (prior to this PR) after entering some filtering text on datalists that appear *above* the input.

[2015-12-10 00:12] ktaki commented on #3384
The spinner does not show up in the Export panel on Mac. It's there for Export dialog on Mac and both Export panel and Export dialog on Windows.

<img width="289" alt="screen shot 2015-12-09 at 4 07 39 pm" src="https://cloud.githubusercontent.com/assets/2029597/11702925/99002310-9e8f-11e5-86f5-d3936c77f147.png">

[2015-12-10 00:29] ktaki commented on #3384
Sorry, wrong statement in the previous comment. The spinner does NOT shown in the Export panel on Mac and Windows. It is shown in Export dialog on Mac and Windows. Mac and Windows versions are consistent.

[2015-12-10 00:32] ktaki commented on #3325
It looks good now.
<img width="99" alt="screen shot 2015-12-09 at 4 31 26 pm" src="https://cloud.githubusercontent.com/assets/2029597/11703263/5cb32d78-9e92-11e5-9f50-696ac39c1798.png">

[2015-12-10 00:32] #3325 closed

[2015-12-10 01:21] iwehrman commented on #3398
FBNC to @mcilroyc.

[2015-12-10 01:56] DivyaPrabhakar opened #3414 "Make linter throw error if it encounters parseInt()"
parseInt() can become error prone, i.e. returns NaN in some cases without throwing an error, forgetting to pass in a base and it is less risky to use our own functions like parseNumber() in math.js.

[2015-12-10 02:02] iwehrman commented on #3414
:+1: also `parseFloat`, in case anybody feels crazy enough to try to use that.

[2015-12-10 02:45] mcilroyc commented on #3398
booya

[2015-12-10 02:45] #3398 closed

[2015-12-10 18:02] chadrolfs opened #3417 "Drag and drop from Illustrator doesn't refresh / show new layer"
Open PS and Illustrator
create a new doc in both apps, create some vectors in Illustrator
select then and drag/drop them on the PS doc

Result: Vector Smart Object is created but document isn't updated
Layer doesn't appear in layers panel, unable to select layer on canvas

moving Layer 1 in layers panel results in:
`Action layers.reorder failed: Error: Too many layers in layer index`

[2015-12-10 19:07] volfied commented on #3265
FBNC to @ktaki

[2015-12-10 19:29] mcilroyc commented on #3384
Export panel fixed by second PR.  back to @ktaki again.  @designedbyscience is sorry : )

[2015-12-10 19:48] ktaki commented on #3265
Verified the fix for both layer's name and library asset name.

[2015-12-10 19:48] #3265 closed

[2015-12-10 20:27] ktaki commented on #3384
Verified the fix.

[2015-12-10 20:27] #3384 closed

[2015-12-10 20:36] ktaki opened #3422 "Alpha value cannot be set to zero with the slider in color picker"
Setting the alpha slider to the left edge sets the alpha value to zero. It, however, often sets to other values than zero. Sometimes it is close to zero like 0.05, but other times set it to a mid value like 0.66 as shown in below.

<img width="282" alt="screen shot 2015-12-10 at 12 18 29 pm copy" src="https://cloud.githubusercontent.com/assets/2029597/11727653/f75dc3ea-9f39-11e5-8313-400cf86d4d56.

[2015-12-10 20:59] DivyaPrabhakar commented on #3187
@chadrolfs got it now, thanks.

[2015-12-10 22:31] iwehrman commented on #3408
Fixed by #3415.

[2015-12-10 22:31] #3408 closed

[2015-12-10 22:58] chadrolfs opened #3424 "Scrubbing position needs performance improvement (finesse)"
Performance should mirror standard PS:
small drag mouse movements should increment/decrement by 1 value
Shift + drag should increment/decrement by 10

[2015-12-10 23:14] chadrolfs commented on #3238
almost!
locked layer selected > sample anything fails correctly YAY!
unlocked layer selected > sample anything (including locked layer) doesn't sample locked layers. :(

[2015-12-10 23:20] chadrolfs opened #3425 "Sampler HUD pops up unexpectedly after changing layer selection"
select a locked layer in the layers panel
select the Sampler tool
mouse over a different layer and hit Space (result: nothing)
click on a different (non-locked) layer in the layers panel

Result: hello Sampler HUD

[2015-12-11 00:02] pineapplespatula opened #3426 "Turbo and slow-mo scrub"
If you scrub on a an inch on screen it should scrub about an inch on canvas. regardless of the resolution of the document.

[2015-12-11 18:58] pineapplespatula opened #3429 "grunt debug - webpack does not incorporate new JSON changes while running"
When you switch between branches with different localization files you get errors on launch

![image](https://cloud.githubusercontent.com/assets/1008531/11752757/174e1968-9ff6-11e5-8412-a23b4d17a395.png)

the current workaround is killing a rerunning grunt debug.

[2015-12-11 20:30] placegraphichere opened #3430 "Mask Mode with multiple layers selected does not work"
- select an image layer and shape layer
- enter Mask Mode
- HUD will show and you can preview the results for the image layer
- Results in path showing that is not actually a mask, unclear what it is
![screen shot 2015-12-11 at 2 28 48 pm](https://cloud.githubusercontent.com/assets/3229167/11754824/8ad5673e-a013-11e5-8ada-9b77e4701b03.png)
![screen shot 2015-12-11 at 2 29 22 pm](https://cloud.gith

[2015-12-11 21:32] volfied commented on #3426
I disagree with this. Right now, based on zoom level, I move my mouse by 1 pixel, and my layer changes width by 3 pixels. There is no fine tuning possible and as a user I would find it aggravating if I had to switch methods to get last few pixels right.

[2015-12-11 21:36] volfied commented on #3426
Dropping this on @placegraphichere's plate for his input.

[2015-12-11 22:18] chadrolfs opened #3431 "Lock proportions dirties document but doesn't save lock state"
Open a saved document that has a layer or group selected by default
click the lock proportions icon in the alignment panel

Result: doc is now dirty and attempting to close results in prompt.  if you save and re-open, the lock state is not retained.

Expect: either state should be retained on save or lock proportions shouldn't dirty the doc

[2015-12-12 00:12] volfied opened #3433 "Rotating a broken link SO causes error"
![](https://s3.amazonaws.com/f.cl.ly/items/2m0p0e0G3m290R3X1o3r/Image%202015-12-11%20at%206.09.40%20PM.png?v=0493d212)

[2015-12-12 22:04] placegraphichere commented on #3426
Are we talking about scrubbing the dimension inputs? Sliders? Or what?

![screen shot 2015-12-12 at 3 57 10 pm](https://cloud.githubusercontent.com/assets/3229167/11764113/08679868-a0e9-11e5-991e-bde940f8e75e.png)
If we're talking about dimension inputs, we should try and maintain consistent speed. I'd find it quite jarring if I scrubbed an input and found that at one zoom level it went a certain

[2015-12-13 14:56] pineapplespatula commented on #3426
When i was playing with scrubbing i found it very nice to have the distance my mouse moved match the distance that the pixels moved. So When you were zoomed in it would move fare fewer pixels, but the same amount of "inches",
Which allows you to scrub to the degree that you can actually see the change, I think that modifiers may be key here. with the current set up allowing for gross modifications

[2015-12-15 00:09] chadrolfs opened #3434 "Marquee does not work on Default Photoshop Size doc (Background)"
alt+cmd/ctrl + n and select Default Photoshop Size
select the rect tool and drag out several shapes
switch to select tool and try to marquee select

Result: no marquee

works with default artboard

Workaround: switch back to Rect tool and then back to Select, click and move a shape, then marquee is back

[2015-12-15 18:40] designedbyscience commented on #3339
This is a shadow-as-border issue

[2015-12-15 21:36] volfied opened #3435 "Remove unnecessary round trips in superselect actions"
Right now, on drag start we run a hitTest to start dragging, which produces a visible delay between mousedown and drag start. Since we keep track of hitTest results for layer highlighting, we can use the same process to start dragging/selection faster.

[2015-12-15 23:37] ktaki opened #3436 "Error after adding a mask to an empty layer"
New artboard doc. An empty Layer 1 is selected. Add a vector mask to it. Exit vector mask mode. Add a rectangle.

![screen shot 2015-12-15 at 3 28 04 pm](https://cloud.githubusercontent.com/assets/2029597/11827362/7ac0237c-a340-11e5-8bc2-136bcedcb9b8.png)

It looks like Layer 1 was replaced by Rectangle 1, and Rectangle 1 created outside of Artboard 1.  This is wrong.

Subsequent manipulation of t

[2015-12-16 22:06] volfied opened #3437 "Clean up different options objects in actions"
Right now, we pass an options object to some actions, that gets merged into both descriptor options, and payload options, sometimes redundantly. Also, the same object keeps getting mutated through the action call to achieve the effect. We should have a better defined division between each options objects.

[2015-12-17 00:27] iwehrman opened #3438 "Remove use of React isMounted"
`isMounted` in React components is going to be deprecated soon:

https://facebook.github.io/react/blog/2015/12/16/ismounted-antipattern.html

I haven't found any uses of `isMounted` in our code base that seem egregious (i.e., that result in memory leaks due to failing to unregister listeners from unmounted components), but I guess we won't have a choice in the future.

[2015-12-17 00:35] volfied commented on #3438
For most D3 components, this can be done by keeping a flag, which is the suggested way.

For Select.jsx we can probably cancel the listener callback if we unmount.

And for `AssetPreviewImage` flag seems like the easier solution. Or we'll have to Promisify entire `_updateRenditionPath`and cancel that promise on `componentWillUnmount`

[2015-12-17 21:28] fzhu1978 commented on #3136
@iwehrman
Can you evaluate if we can fix for 16.1.2?

[2015-12-17 22:29] chadrolfs commented on #3331
via @placegraphichere:
Designing at 3x for say the iPad Pro, assets that need to be scaled to a 1x and 2x  size would need to use .33x or .67x.
for the iPhone 6, you are designing at 2x with the template we provide. So going to iPadPro needs to be 1.5x. For 1x its 0.5x.
there is a concept of “designed at” that is hard to articulate to users, since there is no real standard design size when using a

[2015-12-17 23:33] chadrolfs commented on #3110
Fixed in latest mainline build with HTML update, m.337

[2015-12-17 23:34] chadrolfs commented on #3110
Won't go into 16.1.1 or 16.1.2 but will for M4

[2015-12-17 23:34] #3110 closed

[2015-12-18 18:33] iwehrman opened #3439 "Clipped focus ring on color swatch"
On retina:
![image](https://cloud.githubusercontent.com/assets/1075154/11904085/9a49e960-a572-11e5-99d4-d730dfbd269a.png)

![image](https://cloud.githubusercontent.com/assets/1075154/11904108/b68e2852-a572-11e5-9850-a8bbf142d104.png)

[2015-12-18 18:35] iwehrman opened #3440 "Clipped layer effect swatch + incorrect color picker position"
![image](https://cloud.githubusercontent.com/assets/1075154/11904125/dfc59354-a572-11e5-97cc-b41c69d44525.png)

To repro, reduce window height so that the second effect needs slightly more space than is available in the effects panel.

[2015-12-18 20:23] #3372 closed

[2015-12-18 21:36] iwehrman opened #3443 "Unhandled error verifying history.revertCurrentDocument postcondition"
[code]

The stack trace above refers to this line:
https://github.com/adobe-photoshop/spaces-design/blob/228fad007a04c9524691675087d0fa0301284912/src/js/fluxcontroller.js#L766

The specified post is a function reference which turns out to be undefined at this point. I think the problem is a circular module reference among the history and layer actions. Probably the right thing to do is to convert

[2015-12-18 22:16] volfied opened #3444 "Radius shows for rotated shapes in some cases"
Create a rectangle
Rotate it
See that radius control is still showing, even though it shouldn't. It's a no-op if you change it.

It shouldn't show for shapes we can't set radius on.

[2015-12-18 22:27] mcilroyc commented on #3286
satisfied @iwehrman ?

[2015-12-19 01:17] mcilroyc opened #3446 "Rotate input not reset when switching layers"
This is probably a regression introduced by the recent scrubby PR.  I am working on a fix, so assigning to myself.  cc @volfied

1. rotate a layer by inputing a number into the input
1. select a different layer
1. note that the rotate input retains the previous value

[2015-12-19 02:21] iwehrman opened #3449 "Export panel should not grow in height"
When it grow in height, the everything (including the buttons) move, which is annoying and makes it harder to click repeatedly:

![grow](https://s3.amazonaws.com/f.cl.ly/items/392h2M1Q3x3O2116131q/Screen%20Recording%202015-12-18%20at%2006.19%20PM.gif?v=b2afe3e9)

[2015-12-19 02:22] iwehrman commented on #3449
Somewhat related to #3159.

[2015-12-20 00:44] iwehrman opened #3450 "Overlays disabled after zooming"
1. Create a new artboard document.
2. Select the artboard. The overlay adders are visible.
3. Cmd-+ to zoom in.

Result: the overlays are disabled even after the operation is complete and remain so even after panning the canvas or modifying the document.

[2015-12-21 00:53] iwehrman opened #3451 "Radius slider is slow"
It's slow even when only the lone shape in a document is being transformed. I haven't looked into it yet, but I think the reason is that either the `Radius` or `Range` component is stateless. This means that it won't update it's position until it receives a change event from a flux store, which results in a great deal of latency while dragging.

[2015-12-21 00:55] iwehrman opened #3452 "Radius control is enabled for artboards"
The Radius control is enabled but does nothing when an artboard is selected. It should be disabled if none of the selected layers are shape layers.

[2015-12-21 15:33] mcilroyc opened #3453 "Fast layer rotation with arrow keys in number input may reset history store"
When using the arrow keys in the layer rotation Number Input, rapid key presses may result in re-initialization of the history store.  This likely is due to the special nature of the Rotate component which must track state more rigorously.  *That* is because it must tell photoshop to rotate by the "delta" value within the same rotation session.

Look for a console message like:
`[History] Re-initi

[2015-12-21 16:00] mcilroyc opened #3454 "Undo while in modal text state eventually results in resetting history upon commit"
While in modal text state, `undo` uses photoshop's native undo command.  This works, albeit lamely.  But, upon committing the text changes, we receive events from photoshop which ultimately trigger a full reset of our history model.  This *might* be related to changes introduced to handle "touch" history navigation.

[2015-12-21 16:09] iwehrman commented on #2002
@mcilroyc will correct me if I'm wrong, but I believe this is now fixed due to process changes around updating dependency versions.

[2015-12-21 16:09] #2002 closed

[2015-12-21 16:12] iwehrman commented on #2239
Distinguishing between exported actions and other objects is no longer a problem. I don't think this is a bug. Feel free to reopen + argue if you disagree, @volfied.